[2018-01-08 10:27] JoeKonst opened #3707 "TypeError: Object doesn't support property or method 'forEach'"
![foreach-error](https://user-images.githubusercontent.com/12752154/34667859-ba74f9a0-f462-11e7-95b6-c9b9bb2849dd.PNG)
Hi guys,

this isn't a bug report as the app has already been ejected.

For the last few weeks I've tried everything but cannot fix an error I'm getting on Edge:

'TypeError: Object doesn't support property or method 'forEach'

Also get the same for es6 Map.

Funnily it works fine

[2018-01-08 11:06] franszo commented on #3701
still having the same issue today

[2018-01-08 11:20] MichaelDeBoey opened #3708 "Using the script directly breaks assets"
Hi there!

So I'm having the following situation:

I created an app using `create-react-app` (this repo), which has some assets.

The app is used to work as a plugin on many different sites/apps.
So the purpose is to provide it in 2 possible ways:

1. Use inside an iframe and pass parameters via the URL
[code]
2. Use a `div` with the correct `id` and a separate `<script>` tag that points to the sc

[2018-01-08 11:24] willian commented on #2271
@rayzor65 I'm running an app bootstrapped with CRA on docker using docker-compose.
What is the problem you're having?

Here is my `Dockerfile`:

[code]

And my `docker-compose.yml`:
[code]

Those files are in the root of my app file structure.

[2018-01-08 11:59] gaearon commented on #3707
I don’t know, sorry, this looks specific to your code and doesn’t seem related to CRA.

[2018-01-08 11:59] #3707 closed

[2018-01-08 12:15] gaearon commented on #3638
We could check but it seems like the root of the issue is that we incorrectly resolve dependencies somewhere. Just installing something at the project root shouldn’t break the build.

[2018-01-08 12:23] gaearon commented on #3708
I don’t see why this question would be related to CRA. Open the Network tab and check which request is getting a 404. Then you need to figure out why the server isn’t serving what you expect at the path you expect. Hope this helps!

[2018-01-08 12:23] #3708 closed

[2018-01-08 12:45] MichaelDeBoey commented on #3708
@gaearon The error I get is because it's searching for `/static/media/logo.2e151009.png` on the parent server (that implements the `div` + `script`) like `https://parent.com/static/media/logo.2e151009.png` instead of at the server where the CRA is located (`https://plugin.domain.com/plugin-name/version-number/static/media/logo.2e151009.png`)

[2018-01-08 13:19] gaearon commented on #3708
It uses an absolute path but absolute paths are calculated from the host that served the page.

If you want to hardcode a specific URL to calculate them against, you need to set `PUBLIC_URL` environment variable. You can see an example in https://github.com/facebookincubator/create-react-app/pull/937.

[2018-01-08 13:54] gaearon commented on #169
I'll close as we don't intend to implement this specifically ourselves.

[2018-01-08 13:54] #169 closed

[2018-01-08 14:02] gaearon commented on #641
Fixed by https://github.com/facebookincubator/create-react-app/pull/3709.

[2018-01-08 14:02] #641 closed

[2018-01-08 14:03] gaearon commented on #324
We're probably not going to pursue this. It doesn't seem like the Flow team is actively interested in such integrations, and trying to do something like this is like swimming against the current while APIs change.

[2018-01-08 14:03] #324 closed

[2018-01-08 14:06] gaearon commented on #578
I'll close as I don't see an actionable item for us here. If you disagree please file a new issue.

I feel like a part of this discussion is a bit too philosophical. We shouldn't need to blindly apply the guidelines somebody else wrote, but to think critically. Building client-side apps is not the same problem as building server-side apps, and some invariants are just not true (e.g. there are no "

[2018-01-08 14:06] #578 closed

[2018-01-08 14:07] gaearon commented on #639
I'll close as I don't see an action item here for us.

[2018-01-08 14:07] #639 closed

[2018-01-08 14:08] gaearon commented on #670
There are no plans to do this right now. If you're interested in more flexibility, check out [Neutrino](https://neutrino.js.org).

[2018-01-08 14:08] #670 closed

[2018-01-08 14:16] #682 closed

[2018-01-08 14:20] gaearon opened #3711 "Add "debug-test" script by default"
It should do something like https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#debugging-tests-in-chrome, but without all those CLI arguments.

[2018-01-08 14:20] gaearon commented on #691
I'll close this we've documented the Chrome debugger (https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#debugging-tests-in-chrome).

Hope the above helps for those who want a CLI debugger.

[2018-01-08 14:20] #691 closed

[2018-01-08 14:23] MichaelDeBoey commented on #3708
@gaearon
Yeah I already looked at `PUBLIC_URL`, but then I need to build the app 2 times?

1. Build with `PUBLIC_URL=https://plugin.staging-domain.com/plugin-name/version-number/` in **staging**
2. Build with `PUBLIC_URL=https://plugin.domain.com/plugin-name/version-number/` in **production**

And that's what I'm trying to avoid.

[2018-01-08 14:24] gaearon commented on #740
Going to close as stale.

[2018-01-08 14:24] #740 closed

[2018-01-08 14:33] gaearon commented on #746
We have docs both on [supported browsers](https://github.com/facebookincubator/create-react-app/commit/1c9301ad2fc7ddf8e0502559ef3bf057ad53dba7) and [polyfills](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#supported-language-features-and-polyfills) so I feel this is good to go.

[2018-01-08 14:33] #746 closed

[2018-01-08 14:34] gaearon commented on #751
I'll close as stale.

[2018-01-08 14:34] #751 closed

[2018-01-08 14:34] Timer commented on #3708
Do you require routing? You can try to set the homepage to `.`.

[2018-01-08 14:34] gaearon commented on #796
I'll close as this is currently out of scope of the project.

I recommend [nwb](https://github.com/insin/nwb) for publishing components.

[2018-01-08 14:34] #796 closed

[2018-01-08 14:42] MichaelDeBoey commented on #3708
@Timer Yeah we use `react-router` in the project unfortunately 😕

I'm open to any given solution that could help us. 🙂

The way we deploy right now is:

- Build the app
- Publish it to `npm`
- `npm i` on our **staging** server and test it on the staging server environment (equal to production server)
- fix bugs if any are present due to environment (which is almost never the problem, but you never

[2018-01-08 14:44] gaearon commented on #814
I'm going to close since this is not something we're looking at.
If somebody has specific ideas around improving, we're always happy to consider PRs.

[2018-01-08 14:44] #814 closed

[2018-01-08 14:47] gaearon commented on #913
I'm going to close this as there's not much we can do on our side. Webpack has been doing some improvements to the build time so we will pick them up as we update. If you have specific traces you want to share, please file them with webpack instead.

[2018-01-08 14:47] #913 closed

[2018-01-08 14:50] gaearon commented on #1065
Closing in favor of https://github.com/facebookincubator/create-react-app/issues/1333.
`src/node_modules` is too weird to most people and not very ergonomic.

There's been a few underlying issues with Jest which have been fixed so we can take another shot at this.

[2018-01-08 14:50] #1065 closed

[2018-01-08 14:51] GAumala commented on #3638
Sure, it should be unacceptable to break your build just because you wanted to install something like `eslint` at project root, but what can CRA do about it? Shouldn't that be an issue with the package manager? `react-scripts` already specifies its dependencies as precise as it can.

[2018-01-08 14:52] gaearon commented on #1042
Closing in favor of https://github.com/facebookincubator/create-react-app/issues/1333.

We'll likely support Yarn Workspaces and/or Lerna with a top-level `packages` directory instead of `src/node_modules`.

[2018-01-08 14:52] #1042 closed

[2018-01-08 14:54] Timer commented on #3708
Your best solution is as described above, use `PUBLIC_URL` and build twice -- there't not really another way unless that `plugin-name/version-number/` is always static [but if you sub it out with `abc/1.0.0/` the point is moot.

[2018-01-08 14:54] gaearon commented on #1084
@GioLogist

My opinion is this is incredibly convoluted. You are trying to use a simple tool (CRA) for a more complex use case (multiple entry points). It's just **not supported**.

Doing something like https://github.com/facebookincubator/create-react-app/issues/1084#issuecomment-349846916 means you lose the simplicity. You might at that point eject and/or maintain your own fork.

[2018-01-08 14:56] gaearon commented on #1100
Going to close this.

If you want SSR, consider [Next.js](https://github.com/zeit/next.js/).

If you want static pre-rendering, consider [Gatsby](https://www.gatsbyjs.org/).

[2018-01-08 14:56] #1100 closed

[2018-01-08 14:57] MichaelDeBoey commented on #3708
@Timer
Yeah `plugin-name` & `version-number` will be replaced with the actual name of the plugin/app & with the `npm` version number

[2018-01-08 14:58] gaearon commented on #607
Closing in favor of https://github.com/facebookincubator/create-react-app/issues/1333.

[2018-01-08 14:58] #607 closed

[2018-01-08 15:00] gaearon commented on #1125
Why not read the thread above? :-)

[2018-01-08 15:02] gaearon commented on #1125
I'm tagging this for one of the future milestones.

We **will not** be compiling all `node_modules` by default. This is both slow and combined with looking for `.babelrc` causes tons of issues (ask RN users).

However, we'll want to determine packages to precompile with `babel-preset-env` based on their `engines` field. This is related to https://github.com/facebookincubator/create-react-app/issue

[2018-01-08 15:05] brunolemos commented on #814
Related to my comment above, what I did was to use a custom react-scripts that allowed me to add some webpack config, so there was no need to reject.

I used my own https://github.com/brunolemos/extensible-react-scripts
but it's not up to date so you may be better using something like https://github.com/timarney/react-app-rewired

[2018-01-08 15:05] jlongster commented on #3638
Here's a use case and I'm not sure how it would fit in here:

* I have a monorepo with a package created by create-react-app. It is a "design" package that contains a bunch of core components that implement a design for the app. I can go in there and run the project and get a running live style guide in the browser that shows off these components, with hot reloading to develop them.

* My main app

[2018-01-08 15:06] revelt commented on #1125
@gaearon what if we switched to a minifier which supports ES6? The current minification library is the cause of errors. This doesn't solve the compatibility issues but at least builds would pass (provided nothing throws down the line after minification).

[2018-01-08 15:56] gaearon commented on #1164
OK, I filed this in webpack: https://github.com/webpack/webpack/issues/6262

We can close this because it's not actionable for us. If it gets fixed upstream we'll get the fix.

[2018-01-08 15:56] #1164 closed

[2018-01-08 15:57] gaearon commented on #1125
We'll probably do that although as you rightly noted it just makes the actual problem harder to discover for most users. Since now they will learn their website is broken in older browsers in production.

[2018-01-08 15:59] gaearon commented on #1169
Meh. It doesn't seem *that* important, and above all test runs must be fast. Happy to look at PRs implementing this but we won't be doing it ourselves.

[2018-01-08 15:59] #1169 closed

[2018-01-08 16:01] gaearon commented on #1183
I'll close this as stale. (But efforts to further dedupe are welcome!)

[2018-01-08 16:01] #1183 closed

[2018-01-08 16:02] gaearon commented on #1189
Seems like this is as good as it gets for now.

[2018-01-08 16:02] #1189 closed

[2018-01-08 16:04] gaearon commented on #1227
@evenchange4 How well does it work in practice? Should we start pointing people towards it?

[2018-01-08 16:06] gaearon commented on #1278
Closing as stale.

[2018-01-08 16:06] #1278 closed

[2018-01-08 16:08] gaearon commented on #1283
I'm still confused about how https://github.com/postcss/postcss-custom-properties works.

It says it only can handle a subset of the spec. So what happens if you use something more dynamic than it supports? Does it emit invalid output? Silently keep the syntax without transforming it? Warn? Error?

[2018-01-08 16:10] gaearon commented on #1381
Closing as stale.

[2018-01-08 16:10] #1381 closed

[2018-01-08 16:12] gaearon commented on #1388
Yes.

Because the default one gives you the URL, just like with any other kind of image. A named export is both explicit (so you can search for what it means), and is backwards compatible.

[2018-01-08 16:13] gaearon commented on #1388
Does anyone want to send a PR for https://github.com/facebookincubator/create-react-app/issues/1388#issuecomment-346275504?

[2018-01-08 16:15] gaearon commented on #1403
I don't quite understand what this issue is about.

If you prepare a minimal complete example we can take a look but otherwise I'm closing.

[2018-01-08 16:15] #1403 closed

[2018-01-08 16:16] gaearon commented on #1419
I think it makes sense for people to use https://github.com/reasonml-community/reason-scripts for now.

[2018-01-08 16:16] #1419 closed

[2018-01-08 16:16] gaearon commented on #1465
Closing as stale.

[2018-01-08 16:16] #1465 closed

[2018-01-08 16:18] gaearon commented on #1492
I'll close since so far nobody took ownership of this.

No, if there were any updates, they would be on this issue.

[2018-01-08 16:18] #1492 closed

[2018-01-08 16:18] gaearon commented on #1492
(that said, I think https://github.com/facebookincubator/create-react-app/issues/1333 is still on the roadmap and is sort of related)

[2018-01-08 16:19] gaearon commented on #1516
Closing as stale.

[2018-01-08 16:19] #1516 closed

[2018-01-08 16:20] gaearon commented on #1525
I'll close this as stale. If the issues are still relevant please file a more focused issue about specific problems and your proposed solutions.

[2018-01-08 16:20] #1525 closed

[2018-01-08 16:22] iansu commented on #1388
@gaearon I've been watching this issue for a while and am interested in doing this. I'm not entirely sure how the named export would be implemented though. If you can point me in the right direction I can start working on it.

[2018-01-08 16:23] gaearon commented on #1557
Closing this as stale. If this is still a problem I encourage you to figure out which project is responsible for this issue (either Babel or Webpack) and follow up with them.

[2018-01-08 16:23] #1557 closed

[2018-01-08 16:26] gaearon commented on #1388
I'm not really sure. Maybe @neoziro has ideas? Ideally I'd like this to be an option for `svgr` webpack loader.

[2018-01-08 16:30] iansu commented on #1388
So in your example `Button.svg` is just a plain SVG file and importing it with a named import causes webpack to use the `svgr` loader instead of the regular SVG loader?

[2018-01-08 16:32] gaearon commented on #3638
Again, that is exactly my point. Since `react-scripts` specifies its own dependencies, installing something at top level **shouldn't possibly break it**. Since it does (based on report) there's a bug in how we resolve dependencies somewhere.

[2018-01-08 16:50] gaearon commented on #1388
Yeah. Or, maybe we always use `svgr` loader but it has a special mode in which it re-exports the result of a previous loader through default export.

[2018-01-08 17:07] gaearon commented on #1571
Nice, sorry it took so long. I added a link via https://github.com/facebookincubator/create-react-app/commit/43e794ddbbd43bb5a966d1621e8203282f76a127.

[2018-01-08 17:07] #1571 closed

[2018-01-08 17:07] iansu commented on #1388
I was thinking something along the same lines: have `svgr` export both the raw SVG as the default export and the component as a named export. However, as you point out, the default isn't just the raw SVG it's actually the URL of the file as generated by another loader.

It looks like the `svgr` `template` option might be useful here: https://github.com/smooth-code/svgr#template

@neoziro any thoug

[2018-01-08 17:09] gaearon commented on #1633
Closing as stale. If somebody wants to fix this please send a PR.

[2018-01-08 17:09] #1633 closed

[2018-01-08 17:11] gaearon commented on #1640
I feel like our proxy setup is already pretty complicated and don't want to complicate it further.
IMO the workaround in https://github.com/facebookincubator/create-react-app/issues/1640#issuecomment-328475314 is reasonable, and I suggest using that approach.

[2018-01-08 17:11] #1640 closed

[2018-01-08 17:12] gaearon commented on #1668
Closing as stale. (Blockers have since been fixed.)

[2018-01-08 17:12] #1668 closed

[2018-01-08 17:13] dennisja commented on #2549
@heyimalex  thanks the solution has worked for me too
react-scripts 1.0.17
node v8.2.0
npm 5.3.0
ubuntu 16.04

[2018-01-08 17:20] neoziro commented on #1388
@gaearon I understand what do you want to achieve.

@iansu yes `template` could help, we could inspire from lqip-loader (https://github.com/zouhir/lqip-loader/blob/master/index.js), it supports `url-loader` and `file-loader` out of the box.

[2018-01-08 17:32] MichaelDeBoey commented on #3708
@Timer so for both staging and production, you'll have the same `plugin-name` & `version-number`, so that's not the case, the only difference is `staging-domain` vs. `domain`.

But the problem is that the script is loaded @ `parent-domain`, so if I just set `PUBLIC_URL` to `/plugin-name/version-number`, the script will still look @ `parent-domain/plugin-name/version-number` 😕

[2018-01-08 18:04] Timer commented on #3708
This is going to be your best solution: https://github.com/facebookincubator/create-react-app/issues/3708#issuecomment-355979772

[2018-01-08 18:13] iansu commented on #1388
That's helpful. So the URL from `file-loader` would get passed as the input to the `svgr` loader and we could access the original SVG file using `this.resourcePath` inside the loader. The next step would be passing both of those into the `template` function.

@neoziro that seems like kind of a big change to `svgr`. Is that something you want? Alternatively we could create a new webpack loader that

[2018-01-08 18:28] gaearon commented on #1678
I'd say we just don't intend to support this use case.
Please use any of the [alternatives](https://github.com/facebookincubator/create-react-app/blob/master/README.md#popular-alternatives) that better handle something like this or eject.

[2018-01-08 18:28] #1678 closed

[2018-01-08 18:31] gaearon commented on #1734
Closing as stale.

@allthesignals Pretty sure current instructions tell you to `yarn add` the necessary packages. Maybe you were using a buggy npm version that accidentally didn't install those.

[2018-01-08 18:31] #1734 closed

[2018-01-08 18:31] #1680 closed

[2018-01-08 18:33] gaearon commented on #1702
Closing as stale.

[2018-01-08 18:33] #1702 closed

[2018-01-08 18:34] #1709 closed

[2018-01-08 18:34] #1739 closed

[2018-01-08 18:35] gaearon commented on #1774
Closing as stale.

[2018-01-08 18:35] #1774 closed

[2018-01-08 18:38] MichaelDeBoey commented on #3708
Too bad 😕

There's also not an option to set the `PUBLIC_URL` at runtime?

[2018-01-08 18:38] gaearon commented on #1786
Revisiting this, I don't think we'll go out of our way to support running test as a precommit hook.

It's not obvious to me why it runs all tests rather than tests related to changed files. But I don't have the time to investigate this. If you find it out and think it's a bug in CRA, we're happy to take a fix.

[2018-01-08 18:38] #1786 closed

[2018-01-08 18:40] gaearon commented on #3708
No, it needs to be embedded in the bundle.

[2018-01-08 18:44] MichaelDeBoey commented on #3708
Too bad 😕

It's just stupid to build it 2 times, when the code is exactly the same, except for the `PUBLIC_URL`, because it's on another environment 😕

[2018-01-08 18:52] gaearon commented on #1792
Note this issue won't progress by itself. If you're interested in this please create a proof of concept, send a PR, help us understand whether it's Apollo-specific or not, etc. Thanks!

[2018-01-08 18:54] gaearon commented on #3706
Happy to take a PR that disables the message specifically for the `none` setting.

[2018-01-08 18:55] gaearon commented on #3693
I'll close this as it's not a feature request / bug report, and it's not clear what `react-universal` is and how it's related to CRA.

[2018-01-08 18:55] #3693 closed

[2018-01-08 18:56] #3673 closed

[2018-01-08 18:57] gaearon commented on #3669
I don't think we'll allow this in particular. If we run Babel on `node_modules`, we should only run the subset of plugins related to JS language features (and not JSX/Flow, for example).

We have an existing issue to track that work: https://github.com/facebookincubator/create-react-app/issues/1125.

[2018-01-08 18:57] #3669 closed

[2018-01-08 18:58] gaearon commented on #3638
Just realized we already have an issue tracking this.
https://github.com/facebookincubator/create-react-app/issues/1795

[2018-01-08 18:58] #3638 closed

[2018-01-08 18:59] gaearon commented on #1816
Closing as stale.

[2018-01-08 18:59] #1816 closed

[2018-01-08 19:03] neoziro commented on #1388
@iansu yes I think it is a good option to be able to use it with `file-loader` or `url-loader`. It will not be a breaking change and it will be a great addition!

Do you want to work on it?

[2018-01-08 19:05] gaearon commented on #1831
I can't reproduce this with the example you provided.

[2018-01-08 19:05] #1831 closed

[2018-01-08 19:06] gaearon commented on #1833
I'll close this as stale. If you can create a reproducible demo we can take a look.

[2018-01-08 19:06] #1833 closed

[2018-01-08 19:07] gaearon commented on #1858
What's the latest thinking on this? Which tools work best?

[2018-01-08 19:08] #1873 closed

[2018-01-08 19:09] gaearon commented on #1878
I can't reproduce this.

[2018-01-08 19:09] #1878 closed

[2018-01-08 19:14] snardone opened #3713 "More flexible support for multiple proxy targets"
We are using the `proxy` feature which has been very helpful. However, configuration of the `target` is done in `package.json` and this is problematic for us. Some of our developers run the API back-end locally, others use a cloud development server, and others use a VM. Currently, they each modify `package.json` substituting `127.0.0.1` of each `target` with the IP address of the back-end they ar

[2018-01-08 19:23] gaearon commented on #3708
What’s your proposal to fix this?

[2018-01-08 19:26] gaearon commented on #1936
I'll close this as stale. We can take PRs that make internals more reusable as long as they don't complicate the ejected code. Other than that it's a bit hard for me to discuss without a very specific proposal in form of a PR.

[2018-01-08 19:26] #1936 closed

[2018-01-08 19:29] iansu commented on #1388
@neoziro Sure, I can work on it. I think with these changes to `svgr` the changes to CRA's webpack config would be pretty straightforward. Just add a loader entry for `.svg` and use `file-loader` then `svgr`. The only issue I see is that this increases the size of SVG imports. @gaearon what do you think about this approach?

[2018-01-08 19:31] gaearon commented on #1947
@isbdnt This doesn't solve anything for CRA users and is not relevant to this repository.

@TSMMark This issue is about build-time warnings and has nothing to do with React (runtime) warnings.

[2018-01-08 19:31] gaearon commented on #1947
Going to close this as stale. Please raise a new issue with more details if you're interested in this.

[2018-01-08 19:31] #1947 closed

[2018-01-08 19:32] gaearon commented on #1974
`BROWSER` can be set to a Node script. Inside it, you can do anything (including launching Chrome with any arguments). Hope this helps.

[2018-01-08 19:32] #1974 closed

[2018-01-08 19:34] gaearon commented on #2001
That's incredibly fragile. I think it's irresponsible to advertise this to beginners when it can break in any patch version. 😞

[2018-01-08 19:40] jyoteeprakash123 commented on #3701
yeah still having the same issue today.
npm ERR! notarget No compatible version found: require-from-string@^1.1.0
npm ERR! notarget Valid install targets:
npm ERR! notarget 2.0.2
npm ERR! notarget
npm ERR! notarget This is most likely not a problem with npm itself.
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

[2018-01-08 19:43] MichaelDeBoey commented on #3708
@gaearon Can't think of a good way on how to fix this one right now 😕
I understand why it is like it is, but it's also a bit grim that I have to build the app 2 times, just because of the changed domain...

If it would be a normal app (just visit it in the browser or via an `iframe`), there wouldn't be any problem and I could just do `PUBLIC_URL=/plugin-name/version-number`. But because I make the

[2018-01-08 19:44] gaearon commented on #2037
Going to close as stale. At this point it's likely webpack will start caching more things by default to catch up after Parcel.

[2018-01-08 19:44] #2037 closed

[2018-01-08 19:46] gaearon commented on #2080
I'll close as stale. If you're still interested please raise a PR and we'll probably take it.

[2018-01-08 19:46] #2080 closed

[2018-01-08 19:46] gaearon commented on #2097
Meh.

[2018-01-08 19:46] #2097 closed

[2018-01-08 19:48] gaearon commented on #2103
Please report this to the upstream projects (in this case, maybe `babel-eslint` or `eslint` itself). Or perhaps `eslint-plugin-flowtype` can help with this.

[2018-01-08 19:48] #2103 closed

[2018-01-08 19:49] gaearon commented on #2103
You can track this in https://github.com/babel/babel-eslint/issues/485. When they fix it, we'll get the fix too. You can also try to help fixing this in `babel-eslint` repo :-)

[2018-01-08 19:54] gaearon commented on #1388
My thinking was that if we use ES6 exports then tree shaking should just ignore unused exports (either component, file, or both).

[2018-01-08 19:55] gaearon commented on #2108
For future reference, there are three unrelated issues here:

* We want to switch to `uglify-es` so we don't crash on ES6 in deps.
* Still, this means uncompiled deps will break older browsers. To avoid this, we might support configuring target browsers (https://github.com/facebookincubator/create-react-app/issues/892) and then use that information together with `engines` from third-party packages

[2018-01-08 19:57] gaearon commented on #2212
Closing as stale.

[2018-01-08 19:57] #2212 closed

[2018-01-08 19:57] gaearon commented on #2218
Closing as stale. If somebody wants to send a PR to the doc please do.

[2018-01-08 19:57] #2218 closed

[2018-01-08 19:58] gaearon commented on #2162
Not feeling strongly about this. If more people ask for it we can do it.

[2018-01-08 19:58] #2162 closed

[2018-01-08 20:05] gaearon commented on #2223
This looks neat. I wouldn't mind taking a PR for this, but I'll close this issue since we likely won't add this ourselves.

[2018-01-08 20:05] #2223 closed

[2018-01-08 20:05] gaearon commented on #2248
Closing in favor of https://github.com/facebookincubator/create-react-app/issues/892.

[2018-01-08 20:05] #2248 closed

[2018-01-08 20:06] gaearon commented on #2254
Meh.

[2018-01-08 20:06] #2254 closed

[2018-01-08 20:08] gaearon commented on #2257
I feel like we should preserve the original text for more complex scenarios. Obfuscating it could actually make debugging more confusing.

I suggest you to file this with webpack and ask them to use a shorter obscure sequence. For example `__webpack_import_0__lodash_default`.

[2018-01-08 20:08] #2257 closed

[2018-01-08 20:11] gaearon commented on #2257
OK, I filed https://github.com/webpack/webpack/issues/6266

[2018-01-08 20:13] gaearon commented on #2263
Yeah.

[2018-01-08 20:16] gaearon commented on #2340
@jeffposnick What's the current status on this?

[2018-01-08 20:18] gaearon commented on #2353
Is there anything we need to do on our side for this? I don't understand from reading this issue.

[2018-01-08 20:28] gaearon commented on #2398
Heya—

We intentionally decided to ship this to see how this technology holds up in real world. I believe this gave browser vendors and people pushing for its adoption a chance to smooth out the rough edges from real world usage.

It’s been almost a year now and think it’s fair to say enough time has passed that we need to make a decision. Before cutting the next major we’re going to revisit all t

[2018-01-08 20:36] joetweber opened #3715 "…"
…

[2018-01-08 20:38] gaearon commented on #3708
To be honest the whole thing with copying the script sounds like you're stretching the tool to do something it doesn't support. Maybe it's better to use something more flexible (e.g. nwb or Neutrino)?

[2018-01-08 20:40] gaearon commented on #2415
I don't know. Is there a pull request from somebody affected that fixes it?

[2018-01-08 20:41] gaearon commented on #2439
Closing as fixed.

[2018-01-08 20:41] #2439 closed

[2018-01-08 20:42] gaearon commented on #2440
Closing in favor of https://github.com/facebookincubator/create-react-app/issues/2398.

[2018-01-08 20:42] #2440 closed

[2018-01-08 20:44] gaearon commented on #2525
@vinhlh This is not what this issue was about.

[2018-01-08 20:44] gaearon commented on #2525
I'll close as stale.

[2018-01-08 20:44] #2525 closed

[2018-01-08 20:49] #3715 closed

[2018-01-08 20:50] gaearon commented on #2546
I think these are convincing arguments, but I'd like to see the number less emphasized in the output (e.g. it's not more important than warnings themselves).

[2018-01-08 20:51] gaearon commented on #2398
Actually I'm going to close this issue in favor of a more focused https://github.com/facebookincubator/create-react-app/issues/2554.

[2018-01-08 20:51] #2398 closed

[2018-01-08 20:53] gaearon commented on #2554
@jeffposnick Could you please take another look at this list, note which issues are still relevant and which aren't, which have solutions (merged or unmerged) and which don't, and whether you know of any other issues based on feedback in https://github.com/facebookincubator/create-react-app/issues/2398 and other threads?

[2018-01-08 20:56] MichaelDeBoey commented on #3708
The copying of the script is to support both ways

1. Via an `iframe` (or just like a normal app, that's the same)
2. Use it like the `index.html` of the app uses the script

I don't think it's that weird if you think about it like that isn't it?

[2018-01-08 20:57] gaearon commented on #2559
Going to close this out, but we offer some guidance in the README now.

https://github.com/facebookincubator/create-react-app#popular-alternatives

[2018-01-08 20:57] #2559 closed

[2018-01-08 21:00] bradfordlemley commented on #1125
There's a lot of overlap with this issue and monorepos/source sharing -- both have the same problem: how does a dependency package specify its source/code spec so that CRA/builder can handle it correctly?

If I understand correctly, the proposal here is to use the dependency package's [engines](https://docs.npmjs.com/files/package.json#engines) field to indicate the package's source/code spec, but

[2018-01-08 21:04] gaearon commented on #1125
We definitely *won't* be supporting importing modules from npm that use non-standard features like JSX. The goal is to only support modern *standard JS* features (for which `node` should be an adequate marker).

[2018-01-08 21:06] gaearon commented on #2595
Going to close this as overlapping too much with https://github.com/facebookincubator/create-react-app/issues/1333.

[2018-01-08 21:06] #2595 closed

[2018-01-08 21:10] gaearon commented on #2651
Stality stale

[2018-01-08 21:10] #2651 closed

[2018-01-08 21:11] gaearon commented on #2667
Meh

[2018-01-08 21:11] #2667 closed

[2018-01-08 21:12] gaearon commented on #2687
I'd be okay taking a PR that enables this configuration.

[2018-01-08 21:13] #2706 closed

[2018-01-08 21:14] gaearon commented on #2720
Not feeling strongly about this. Closing as stale.

[2018-01-08 21:14] #2720 closed

[2018-01-08 21:16] gaearon commented on #2737
Seems like the tools mentioned above are sufficient. Thanks for the issue though!

[2018-01-08 21:16] #2737 closed

[2018-01-08 21:17] gaearon commented on #2748
I'll close this. Webpack will get better support for tree shaking in future releases with opt-in purity declarations for packages.

[2018-01-08 21:17] #2748 closed

[2018-01-08 21:18] gaearon commented on #2751
We can't help more since the error is so transient. It might be caused by a buggy npm or Yarn version, a bad npm registry proxy, a bad internet connection, etc.

[2018-01-08 21:18] #2751 closed

[2018-01-08 21:18] GAumala commented on #1795
Is there any repo that easily reproduces this issue? I'd like to give it a look...

[2018-01-08 21:25] gaearon commented on #2759
Does anyone want to submit a PR to support this in some way without monkeypatching?
I haven't seen a specific proposal for how it should work so it's hard to say anything.

[2018-01-08 21:27] gaearon commented on #2763
@viankakrisna Good find

[2018-01-08 21:32] gaearon commented on #2765
Documented in https://github.com/facebookincubator/create-react-app/commit/419e4d8f57611443103516b9c5e23487c5f33a80.

[2018-01-08 21:32] #2765 closed

[2018-01-08 21:32] #2770 closed

[2018-01-08 21:34] #2793 closed

[2018-01-08 21:35] gaearon commented on #2801
Closing in favor of https://github.com/facebookincubator/create-react-app/issues/2498 since that's a subset of "supporting Sass". Thanks for sharing your solutions!

[2018-01-08 21:35] #2801 closed

[2018-01-08 21:37] gaearon commented on #2809
I'd be happy to take a PR that lets you pass something like `create-react-app --pm=npm` or `create-react-app --pm=pnpm` and it will use that manager.

[2018-01-08 21:38] gaearon commented on #2825
Sure, it would be nice if Jest showed something more meaningful or ignored coverage altogether in watch mode. I'll close this issue but feel free to reach out to Jest.

[2018-01-08 21:38] #2825 closed

[2018-01-08 21:39] gaearon commented on #2876
We don't intend to allow this.

[2018-01-08 21:39] #2876 closed

[2018-01-08 21:43] jeffposnick commented on #2554
Here's an update on the various issues that I'm aware of, mentioned in this thread or elsewhere. Please ping this thread with anything I'm missing and I'll provide a similar update.

1. **Service workers are causing CRA to show up when someone hosts a non CRA app on the same address:host.** This was fixed by https://github.com/facebookincubator/create-react-app/pull/2551.
2. **User sees old app wh

[2018-01-08 21:45] Timer commented on #3701
Please file an issue with npm if you are experiencing this -- there is nothing we can do to help -- sorry!

[2018-01-08 21:46] gaearon commented on #2889
I'll close as that doesn't appear to be an issue on our side.

[2018-01-08 21:46] gaearon commented on #2907
Closing as a duplicate of https://github.com/facebookincubator/create-react-app/issues/2001.

[2018-01-08 21:46] #2907 closed

[2018-01-08 21:47] gaearon commented on #2929
Meh. I don't think this is important and wouldn't spend effort there.

[2018-01-08 21:47] #2929 closed

[2018-01-08 21:50] gaearon commented on #2949
I don't have any suggested approach, sorry. Personally I’m concerned about `react-i18next` since its implementation looks very inefficient. I’d probably suggest trying https://github.com/facebookincubator/create-react-app/issues/1227#issuecomment-351636936 instead.

[2018-01-08 21:50] #2949 closed

[2018-01-08 21:50] gaearon commented on #2606
Closing in favor of https://github.com/facebookincubator/create-react-app/issues/2956 which is more focused.

[2018-01-08 21:50] #2606 closed

[2018-01-08 21:51] gaearon commented on #2956
Please investigate if you can. [This code](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-dev-utils/WatchMissingNodeModulesPlugin.js) was supposed to protect against it.

[2018-01-08 21:52] gaearon commented on #2960
Can you explain how this is different from just `git clone` + `npm install`? The project you create is just a repository so you can make your own and use it as a template.

[2018-01-08 21:54] bradfordlemley commented on #1125
I really hate to question this definite decision, but I would argue that supporting a JSX marker is related and would help fix several issues that have been opened against CRA related to sharing and reusing components, including, but not limited to, [monorepo support](https://github.com/facebookincubator/create-react-app/issues/1333).  I don't see how sharing components is going to be friendly wit

[2018-01-08 21:55] jeffposnick commented on #2340
Workbox v3 is currently in alpha, with a target for final release towards the end of the month: https://github.com/GoogleChrome/workbox/releases

Moving to Workbox v3 would give a nicer local development experience, as it includes logging information about what the service worker's doing enabled by default on `localhost`.

I've been locally testing out Workbox integration with projects like `c-r-a

[2018-01-08 21:55] gaearon commented on #2961
If we had some default behavior for MD, which would it be? Would it return HTML? Raw Markdown?

[2018-01-08 21:55] gaearon commented on #2961
For SVG we sort of settled on https://github.com/facebookincubator/create-react-app/issues/1388#issuecomment-356012262.

[2018-01-08 21:56] #2975 closed

[2018-01-08 21:57] gaearon commented on #2980
Nice :-)
Closing this as I'm cleaning up the issues, but thanks for sharing.

[2018-01-08 21:57] #2980 closed

[2018-01-08 22:00] gaearon commented on #2983
My understanding is first-class support for Sass would solve this so I'm merging this into https://github.com/facebookincubator/create-react-app/issues/2498.

[2018-01-08 22:00] #2983 closed

[2018-01-08 22:00] gaearon commented on #1795
No idea, but if you can create one that would be great. My impression is you need to create a project and then install `eslint@4`, `babel@5`, `jest@16`, etc, and try to trigger it this way.

[2018-01-08 22:01] gaearon commented on #2987
Closing as stale.

[2018-01-08 22:01] #2987 closed

[2018-01-08 22:02] gaearon commented on #2994
I'd say this is not really a supported use case.
I encourage you to check out [other tools](https://github.com/facebookincubator/create-react-app#popular-alternatives) that handle this better.

[2018-01-08 22:02] #2994 closed

[2018-01-08 22:03] gaearon commented on #2996
Could you create a standalone example? It's a bit hard to reproduce issues when the example is from an app that you haven't shared. This way bugs that could've been quickly fixed end up unfixed for months. :-)

[2018-01-08 22:07] GAumala commented on #2961
Personally I would prefer raw markdown as the default behavior so that I can directly feed it to some tool that converts it to React components with whatever style I want, but I'm curious about other use cases.

[2018-01-08 22:08] gaearon commented on #3000
This is not related to CRA.

I created a new app and opened `http://localhost:3000/?test`. Then I edited `src/App.js`. The app reloaded at `http://localhost:3000/?test`.

All we do is call `location.reload()`. It wouldn't erase the query string. It's your code that's doing it somewhere.

[2018-01-08 22:08] #3000 closed

[2018-01-08 22:08] gaearon commented on #2961
Raw markdown seems pretty inefficient since now you have to ship a markdown parser in your app.

[2018-01-08 22:11] gaearon commented on #3006
We'll switch to Jest 22 which uses `fsevents` under the hood when watchman isn't installed, so that should fix the issue. I'll close this as keeping it open won't help anyone.

[2018-01-08 22:11] #3006 closed

[2018-01-08 22:12] MichaelDeBoey commented on #451
I think we can speak of enough adoption at this moment to consider adding @prettier by default?

[2018-01-08 22:13] gaearon commented on #3020
I'll close this as stale, sorry nobody was able to help you.

[2018-01-08 22:13] #3020 closed

[2018-01-08 22:14] gaearon commented on #3405
Seems like a duplicate of https://github.com/facebookincubator/create-react-app/issues/3031.

[2018-01-08 22:14] #3405 closed

[2018-01-08 22:16] gaearon commented on #3037
Seems like both referenced PRs got merged so eventually fixes will propagate.

[2018-01-08 22:16] #3037 closed

[2018-01-08 22:16] gaearon commented on #2996
Seems like https://github.com/facebookincubator/create-react-app/issues/3038 is the same issue but with a better example. I'll close this one.

[2018-01-08 22:16] #2996 closed

[2018-01-08 22:17] gaearon commented on #3038
Yeah I think you're probably right. We'll look at this, thanks for a small example.

[2018-01-08 22:19] gaearon commented on #3052
Meh. If it's easy to fix, happy to take a PR, but I wouldn't lose sleep over this.

[2018-01-08 22:19] #3052 closed

[2018-01-08 22:20] gaearon commented on #3055
Sorry, we were busy with releasing React 16 and this project did not receive much attention at the time.

[2018-01-08 22:24] gaearon commented on #3055
I can reproduce this. But I don't know if it's a bug with Babel or something else.

The minimal example is:

[code]

Interestingly, removing newlines around the argument list fixes it.

[2018-01-08 22:25] gaearon commented on #3055
I think the next step here is to create a minimal reproducing example with Babel and without CRA.

[2018-01-08 22:26] gaearon commented on #3071
For those use cases there are better tools like [nwb](https://github.com/insin/nwb). I encourage you to check them out. We can't possibly support all use cases, and intentionally focus on one: singe-page apps.

[2018-01-08 22:29] #3080 closed

[2018-01-08 22:30] #3082 closed

[2018-01-08 22:30] #3084 closed

[2018-01-08 22:34] gaearon commented on #1125
I’d argue monorepo support is a separate issue. It seems related but is not exactly because you control the source code and know the intended build setup for it.

Publishing things like JSX to npm registry is a problem for the ecosystem because now every library can depend on specific build tools. You don't want a component library to stop working three years from now just because it relied on som

[2018-01-08 22:44] neoziro commented on #1388
I did it https://github.com/smooth-code/svgr/pull/32:

When you use `url-loader` + `svgr/webpack` or `file-loader` + `svgr/webpack`:

[code]

When you use only `svgr/webpack`:

[code]

Does it fit your needs? @gaearon @iansu

[2018-01-08 22:49] gaearon commented on #1795
Here is an example, updating `jest` to `22` might reproduce this.
https://github.com/facebook/jest/issues/5119#issuecomment-354536046

[2018-01-08 22:51] gaearon commented on #3088
I feel like it's nice-to-have but it doesn't have to be us that does it.
We have enough on our plate so I feel this is a bit out of scope.

[2018-01-08 22:51] #3088 closed

[2018-01-08 22:51] #3114 closed

[2018-01-08 22:52] iansu commented on #1388
@neoziro I was just about to send you a PR. Your change looks very similar to mine so I think it should work. I can test it with CRA and let you know for sure.

[2018-01-08 22:52] gaearon commented on #3116
Sure, that sounds good.

[2018-01-08 22:55] gaearon commented on #3125
I think it's a cool idea in theory but I don't see how it could progress unless Webpack gets 10x better at caching. We are already blamed for very slow builds; can't make them twice as slow.

[2018-01-08 22:57] iansu commented on #1388
@neoziro Looks like it does work. 👍

If you can publish a new version of `svgr` I can commit the necessary `create-react-app` changes.

[2018-01-08 22:59] timwis commented on #3125
I reckon you'd only need the legacy build on production builds and not development builds, so it would only affect the production build time, no? Does that make a difference?

[2018-01-08 23:01] viankakrisna commented on #3088
yeah, I think @Timer already built the script that does exactly that for @react-scripts-dangerous, but I haven't had the chance to setup it for my own fork.

[2018-01-08 23:04] #3147 closed

[2018-01-08 23:05] gaearon commented on #3125
Yes, production build time is the one people struggling with.

[2018-01-08 23:06] gaearon commented on #3208
We ended up not doing anything—people opted into dropping those browsers by updating to React 16. Those who didn't want to could all polyfills themselves.

[2018-01-08 23:06] #3208 closed

[2018-01-08 23:06] viankakrisna commented on #3125
https://github.com/facebookincubator/create-react-app/issues/2763
https://github.com/facebookincubator/create-react-app/issues/913
some people already complain about slow production builds. It would be nice if we can do this parallelly though.

[2018-01-08 23:07] gaearon commented on #3155
I'll close as it's unlikely anything will happen to this here. I encourage you to file an upstream bug with webpack.

[2018-01-08 23:07] #3155 closed

[2018-01-08 23:07] neoziro commented on #1388
@iansu thanks, I will do it.

[2018-01-08 23:08] gaearon commented on #3125
I don't really see us increasing complexity to support this.

[2018-01-08 23:08] #3186 closed

[2018-01-08 23:09] #3144 closed

[2018-01-08 23:11] gaearon commented on #3207
If you have a fix please send it our way :-) Maybe this logic is mostly in main CLI now.

[2018-01-08 23:11] #3207 closed

[2018-01-08 23:12] gaearon commented on #3217
I'll close as this won't be our priority. We try to update deps when we can, but supporting multiple majors is unlikely to happen.

[2018-01-08 23:12] #3217 closed

[2018-01-08 23:18] viankakrisna commented on #3125
yea, maybe someone can build a package that simplifies this. 😉

[2018-01-08 23:18] gaearon commented on #3241
Fixed in https://github.com/facebookincubator/create-react-app/commit/3a009b3403ca3edf207449fbe37d94e5a5ebb5d7.

[2018-01-08 23:18] #3241 closed

[2018-01-08 23:20] gaearon commented on #3245
Do you have a proposed fix we could apply on our side?

[2018-01-08 23:22] omeid commented on #1795
Any solution to this would require CRA to work around how the package manager works, which in my opinion is not the right thing. A package should not override the package manager rules.

I am okay with a mechanism that detects wrong versions of the packages and warn, or at worst, just give up.

[2018-01-08 23:22] chrislaughlin commented on #2702
Has this issue been resolved? if not I would like to have a go

[2018-01-08 23:24] gaearon commented on #3254
I'll close since there's not much we can do, and webpack is better positioned to solve this on their side.

[2018-01-08 23:24] #3254 closed

[2018-01-08 23:25] #3257 closed

[2018-01-08 23:25] neoziro commented on #1388
@iansu just released https://github.com/smooth-code/svgr/releases/tag/v1.6.0

[2018-01-08 23:26] gaearon commented on #3271
I'll close it here.

[2018-01-08 23:26] #3271 closed

[2018-01-08 23:26] #3293 closed

[2018-01-08 23:29] viankakrisna commented on #1795
experimented using pkg to package react-scripts as an executable: https://github.com/viankakrisna/react-scripts-packaged/releases/tag/0.0.1

[2018-01-08 23:29] ro-savage commented on #2554
Thanks for the write up and feedback @jeffposnick.

I've been tracking and reading #2398, and the strong feedback that has appears has been to turn SW off by default.

**As @jeffposnick suggested, having `unregister()` at the top with a comment about service workers feels like the logical thing to do. It makes it super easy for people to use SW when they want it but isn't on by default for people

[2018-01-08 23:34] gaearon commented on #3310
This was probably fixed in https://github.com/facebookincubator/create-react-app/pull/3605.

[2018-01-08 23:34] #3310 closed

[2018-01-08 23:35] gaearon commented on #3311
I'll close because there is no reproducing project. If you provide one we can take a look.

[2018-01-08 23:38] gaearon commented on #3319
@jacklenehan I don't think this is related to this issue? The issue is about generated script tags. I don't see how putting `preload` on them would make loading an image referenced *from* the bundle faster.

[2018-01-08 23:38] #3324 closed

[2018-01-08 23:38] #3332 closed

[2018-01-08 23:38] gaearon commented on #3332
Closing as stale. If somebody figures it out, we're happy to take a fix.

[2018-01-08 23:39] gaearon commented on #3334
Node doesn't support ES modules yet. We won't try to emulate them in a Node environment for third party dependencies because it's a can of worms. I suggest you to wait until Node properly supports them.

[2018-01-08 23:39] #3334 closed

[2018-01-08 23:40] gaearon commented on #3351
Happy to take PRs :-)

[2018-01-08 23:43] chrislaughlin commented on #3713
Looks like a simple change to [this](https://github.com/facebookincubator/create-react-app/blob/a1c5b8f7054ac0ac708a498c2a6308f3ed1cb8f0/packages/react-scripts/scripts/start.js#L68) line. something like this could do:
[code]

[2018-01-08 23:43] gaearon commented on #3391
We're happy to take fixes for this if you have suggestions.

[2018-01-08 23:44] #3393 closed

[2018-01-08 23:48] gaearon commented on #3395
Documented in https://github.com/facebookincubator/create-react-app/commit/1c8a7f3fecc60cd1516ed3a28f274945de90b3db.

@dougbacelar Unfortunately we can't help without a reproducing project.

[2018-01-08 23:48] #3395 closed

[2018-01-08 23:49] gaearon commented on #3404
This got fixed in https://github.com/facebook/jest/pull/5224 so it's not actionable here anymore. Thanks!

[2018-01-08 23:49] #3404 closed

[2018-01-08 23:51] gaearon commented on #3425
I think we should fix it.. somehow :-)
What are our options?

[2018-01-08 23:53] gaearon commented on #3441
Closing as stale.

[2018-01-08 23:53] #3441 closed

[2018-01-08 23:54] gaearon commented on #3494
No idea, sorry 😄

If you feel like doing this research again, you are most welcome!

[2018-01-08 23:55] gaearon commented on #3502
Closing because this really needs a reproducing project. Please file a new issue with an example that demonstrates the problem. Thanks!

[2018-01-08 23:55] #3502 closed

[2018-01-08 23:56] #3567 closed

[2018-01-08 23:57] gaearon commented on #3569
I think that's a bit too complicated. It's easier to let the user resolve this by hand in a way that's guaranteed to be intentional rather than try to "guess" what to do in my opinion.

[2018-01-08 23:57] #3569 closed

[2018-01-08 23:58] gaearon commented on #3573
Yes, this sounds good.

[2018-01-08 23:59] gaearon commented on #3574
@jeffposnick can answer this, but in the meantime you can [opt out of caching](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#opting-out-of-caching) if it causes issues.

[2018-01-08 23:59] gaearon commented on #3577
We won't be shipping something that monkeypatches React by default, but glad you find it useful!

[2018-01-08 23:59] #3577 closed

[2018-01-09 00:00] gaearon commented on #3579
cc @prigara

My impression is they already support testing with just `react-scripts` without pointing to a specific config file.

[2018-01-09 00:01] gaearon commented on #3581
If you have a fix for this let us know. I don't know why it's not enough.

[2018-01-09 00:03] gaearon commented on #3589
What's the problem with explicitly using parens in these expressions to clarify the meaning? Seems like it's not a lot of extra typing and makes the code less confusing.

[2018-01-09 00:03] gaearon commented on #3589
I renamed the issue because we look at rule on a case-by-case basis. We don't plan to make them configurable.

[2018-01-09 00:05] gaearon commented on #3596
You can already do this by putting

[code]

in a file called `.env`.

For a more permanent solution you can watch https://github.com/facebookincubator/create-react-app/issues/1333.

[2018-01-09 00:05] #3596 closed

[2018-01-09 00:08] gaearon commented on #3597
This will need some investigation. I don't know if there's a way to fix it with Babel/Webpack but it's worth looking into. Unfortunately I won't have time to do it myself.

cc @samccone @paulirish Can somebody on your side help us figure out why this broke? I think it *used* to work although I might be wrong.

@TheTFo @d07RiV Please prepare a reproducing example, it’s very hard to help you if you

[2018-01-09 00:08] jacklenehan commented on #3319
@gaearon sorry, my comment wasn't clear - I wanted to add `rel='preload'` to a `<link>` in the `<head>` of my page to tell the browser to start loading the relevant image as soon as possible. So e.g.

[code]

where `foo.jpg` is an image that I know my bundle is going to ask for as soon as it's loaded and parsed, and will be the first thing the user sees. I suppose it might be possible to accomplis

[2018-01-09 00:09] chrislaughlin commented on #3341
Is this open for PR if so I can take a look.

[2018-01-09 00:09] gaearon commented on #3608
I suggest to [opt out of caching](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#opting-out-of-caching) if it's causing you issues.

cc @jeffposnick

[2018-01-09 00:11] gaearon commented on #3620
Have you been able to figure this out yet? This is a low priority for us—since you're building a tool you should be able to look at our source, and find where they get installed. My guess is it happens inside the CLI itself.

[2018-01-09 00:11] #3620 closed

[2018-01-09 00:12] gaearon commented on #3622
This might be a duplicate of https://github.com/facebookincubator/create-react-app/issues/3038.

But since you didn't provide a reproducing example, I can't know this for sure. I'll close this issue as it unfortunately doesn't contain the information necessary to confirm the issue.

[2018-01-09 00:12] #3622 closed

[2018-01-09 00:14] gaearon commented on #3631
Please file an issue with `lint-staged` or `husky` if either of them doesn't work. Seems like they work for other people.

[2018-01-09 00:14] #3631 closed

[2018-01-09 00:15] gaearon commented on #3635
Yeah, we don't plan to support decorators until their specification is more stable. There is no Babel plugin that implements the current specification so supporting them now would create a burden on our users in the future.

[2018-01-09 00:15] #3635 closed

[2018-01-09 00:16] gaearon commented on #3637
Yeah, I think it's pretty easy to add by hand and we don't want to make decisions like this for our users.

[2018-01-09 00:16] #3637 closed

[2018-01-09 00:17] gaearon commented on #3640
I'm glad you found something that works well for you—I don't think there are compelling reasons to change our setup to use classes.

[2018-01-09 00:17] #3640 closed

[2018-01-09 00:17] TheTFo commented on #3597
Sorry, Dan. I got caught up with the holidays, and this fell off.

I can't share my code, but I'll try to put together a reproduction tomorrow.

On Mon, Jan 8, 2018, 7:08 PM Dan Abramov <notifications@github.com> wrote:

[2018-01-09 00:19] gaearon commented on #3648
Can you also reproduce it with a minimal webpack project? (e.g. by installing webpack and then running `webpack --watch entry.js` or similar)

[2018-01-09 00:19] #3649 closed

[2018-01-09 00:20] gaearon commented on #3597
Thank you so much, this is appreciated!

[2018-01-09 00:21] gaearon commented on #3660
I’m not opposed if we see a clear proposal from someone about how they should work.

[2018-01-09 00:22] gaearon commented on #3664
cc @jeffposnick

[2018-01-09 00:22] gaearon commented on #3665
cc @jeffposnick

[2018-01-09 00:23] gaearon commented on #3679
Sorry, we aren't Rails experts and don't provide support over their features. I don't think CRA can be used together with `--webpack=react`. But you can probably run two servers side by side in development: https://www.fullstackreact.com/articles/how-to-get-create-react-app-to-work-with-your-rails-api/

[2018-01-09 00:23] #3679 closed

[2018-01-09 00:24] gaearon commented on #3688
cc @jeffposnick

[2018-01-09 00:24] gaearon commented on #3688
In the meantime if this is causing issues you can [opt out of caching](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#opting-out-of-caching).

[2018-01-09 00:25] gaearon commented on #3689
We just don't have a good story around symlinks right now. I don't think what you're describing was/is currently supported.

[2018-01-09 00:26] gaearon commented on #3689
I'll close as a duplicate of https://github.com/facebookincubator/create-react-app/issues/3547.

[2018-01-09 00:26] #3689 closed

[2018-01-09 00:27] gaearon commented on #3690
@Timer Any ideas?

[2018-01-09 00:28] gaearon commented on #3692
Yeah, normally you'd load it like this (or just create a JS file that exports a string with file content).

[2018-01-09 00:28] #3692 closed

[2018-01-09 00:28] gaearon commented on #3705
It would conflict if you have two such apps.

[2018-01-09 00:30] gaearon commented on #3713
Let's consolidate ideas about changes to proxy configuration in https://github.com/facebookincubator/create-react-app/issues/3366. Could you post your ideas there please?

[2018-01-09 00:30] #3713 closed

[2018-01-09 00:31] gaearon commented on #3341
Sure.

[2018-01-09 00:31] gaearon commented on #3341
(Please look if there's already a PR—we haven't reviewed them in a while and need to clean them up)

[2018-01-09 00:32] gaearon commented on #3319
What is hacky about this? (Assuming you mean `public/`)

I think I don't understand what other solution you have in mind.

[2018-01-09 00:35] gaearon commented on #2702
There might have been an existing PR, I haven't checked. We need to do a pass at reviewing pending PRs.

[2018-01-09 00:36] gaearon commented on #451
Not clear to me how it should work. When would it format? On save?

[2018-01-09 00:43] snardone commented on #3366
@Timer, the new approach looks good but I have one request based on issues we've run into with our team. It would be helpful if the `target` value could be configurable outside of `package.json`.

In our environment, developers can test against the back-end running locally, or against a VM, or against a cloud server. So they modify their `package.json` accordingly, which gets accidentally checked

[2018-01-09 01:20] Timer commented on #3690
It looks like a Node bug on this specific users configuration, but we should probably make our fork of `detect-port` swallow it and return `true` (since an attempt of binding is better than nothing).

[2018-01-09 01:26] Timer commented on #3425
Should we set a default `testURL` based on `homepage`?

[2018-01-09 01:29] Timer commented on #3581
related: https://github.com/facebookincubator/create-react-app/pull/3323

[2018-01-09 01:34] jamesknelson commented on #3705
That's true. I'm struggling to think of a situation where two CRA apps are loaded within the one page though. Perhaps if a library is somehow built with CRA and imported into another app?

[2018-01-09 02:17] samithaf commented on #3366
I think that If you enable user to pass the proxy config as follows then it will handle all the use cases. config object can have any configuration that **http-proxy-middleware** accepts. So if people want to use features like pathRewrite they can simply use it.

[code]

[2018-01-09 05:17] lgants commented on #3071
I'm building a create-react-app server-side rendering boilerplate and this functionality would be fantastic. When the server's running on port 3000 and the client on port 3001 I can't take advantage of hot-reload. The code is available here: https://github.com/lgants/create-react-app-ssr.

[2018-01-09 05:40] jonathaningram commented on #2961
@gaearon for my current need I'm also going to say raw markdown.

Correct me if I'm wrong, but if you return HTML does that mean that CRA does the parsing itself and thus CRA ships the parser?

If HTML is returned, then how could one's app decide whether a `<h1 />` should actually be rendered as a `<h1 class="whatever-h43h2" />`? E.g. if that `h1` was generated by a styled-component. See https://g

[2018-01-09 05:48] Superpencil commented on #2961
- create-react-app hides webpack, if you can configure webpack you don't need create-react-app I think
- css and svg seem to 'just work' from the perspective of a create-react-app user
- it might be good to have something that imports single Markdown files that contain blog posts, or recipes, or whatever, and renders them as dumb components

To this end, I'd propose to treat Markdown files as if t

[2018-01-09 05:58] everdrone opened #3719 "Inform user they've specified a HOST"
### OS
macOS 10.13.2
### Node
`node -v`: 9.3.0
`npm -v`: 5.6.0
`yarn -v`: 1.3.2

output:

[code]

---

rebooted many times, updated node and npm, updated yarn and `create-react-app`,
but this only seems to works with `sudo`.

i also tried to reinstall node with nvm, after stumbling against many reports that suggested this was the cause of my issue.

this is probably a stupid bug, but it's driving

[2018-01-09 05:59] valscion commented on #1858
I'm biased, naturally, but still think webpack-bundle-analyzer would be the best. I'm still contemplating about the best way to handle outputting stats.json from the build -- this issue https://github.com/webpack-contrib/webpack-bundle-analyzer/issues/119 makes me a bit unsure how much work we'd need to do in CRA to get the stats.json out without issues.

I haven't forgotten about this issue here,

[2018-01-09 06:31] winfredwyw opened #3720 "Map constructor does not accept arguments"
iOS 8.2 safari get error: Map constructor does not accept arguments

[2018-01-09 08:47] petetnt commented on #2554
👍

Bikeshedding, but as a developer something like

[code]

Sounds like a neat way to solve the problem without breaking existing behaviour but giving an easy way to nuke the serviceWorker for those that upgrade with minimal code changes.

[2018-01-09 09:16] prigara commented on #3579
Hi,

That is correct. There's no need in specifying a config file.

I've double-checked that and for me running and debugging Jest tests worked fine with WebStorm/PhpStorm 2017.2.3 and react-scripts@1.0.17.

@valorize please don't forget to add `--env=jsdom` to the Jest options field in the run configuration.
If you still have any troubles with it, please report an issue on our [issue tracker](htt

[2018-01-09 10:31] mg commented on #2702
I had a PR here (https://github.com/facebookincubator/create-react-app/pull/2705) but I haven't touched this since then, so by all means have a go.

[2018-01-09 10:37] stereobooster commented on #2737
@gaearon not it is not enough. `source-map-explorer` is good starting point, but if you want to dig dipper you need more. For example, I'm trying to understand where dependencies come from `source-map-explorer` won't help with this. `Bundle Buddy` was useless for me, but they are working on improving it https://github.com/samccone/bundle-buddy/issues/29

[2018-01-09 10:59] #3579 closed

[2018-01-09 10:59] gaearon commented on #3579
Thanks @prigara!

[2018-01-09 11:06] gaearon commented on #3720
I don't see how this is related to CRA.

[2018-01-09 11:06] #3720 closed

[2018-01-09 11:07] gaearon commented on #2737
If you have specific suggestions on what to improve, let us know.

[2018-01-09 11:08] gaearon commented on #1858
OK, let me know if you need something on our side (as long as it doesn't negatively affect build perf).

[2018-01-09 11:10] gaearon commented on #3719
Seems something network-related. Can you try on another network?

[2018-01-09 11:11] raerpo commented on #3706
i would like to give it a shot and solve this. There's any problem?

[2018-01-09 11:11] gaearon commented on #3425
Sounds reasonable to me

[2018-01-09 11:11] valscion commented on #1858
Sure, will do ☺️

[2018-01-09 11:14] gaearon commented on #3706
Sounds good

[2018-01-09 11:19] gaearon commented on #2961
What if we allowed you to choose what you want?

[code]

[code]

[2018-01-09 11:36] everdrone commented on #3719
tried with an hotspot and reset the home router.

the error persists.

[2018-01-09 11:49] gaearon commented on #3705
Some internal company tools that are gradually migrating to React but each tool is separate. People have all kinds of setups.

I feel this is out of scope and it’s better to do this manually, like you did. Thanks for raising the issue though.

[2018-01-09 11:49] #3705 closed

[2018-01-09 12:16] ndelangen commented on #2961
@gaearon That looks like a syntax I think most people can get behind, it's very clear what the intend is.

To achieve this we could write a `multi-loader-markdown` to that would expose the predefined output types?

[2018-01-09 12:18] raerpo commented on #3719
could be that something else is using the 3000 port?
if you run `lsof -n -i:3000 | grep LISTEN` should be empty

[2018-01-09 12:26] gaearon opened #3722 "Proposal: explicit named imports for non-JS/CSS assets"
## Problem

We currently allow you to do this:

[code]

After getting used to it, you’ll probably be comfortable with this giving you a URL.

But what about other types? For example, what should this return?

[code]

Markdown source? Compiled HTML? An AST?

What about this?

[code]

Should this give you a link? The SVG content? A React component?

The usual answer is “decide it for yourself in the

[2018-01-09 12:26] gaearon commented on #2961
Closing in favor of https://github.com/facebookincubator/create-react-app/issues/3722 I just filed.

[2018-01-09 12:26] #2961 closed

[2018-01-09 12:27] gaearon commented on #1388
Please participate in a wider discussion about this approach: https://github.com/facebookincubator/create-react-app/issues/3722.

[2018-01-09 12:27] gaearon commented on #3025
New thoughts on how we could handle this: https://github.com/facebookincubator/create-react-app/issues/3722.

[2018-01-09 12:28] gaearon commented on #2079
See also: https://github.com/facebookincubator/create-react-app/issues/3722.

[2018-01-09 12:28] gaearon commented on #1944
Related: https://github.com/facebookincubator/create-react-app/issues/3722.

[2018-01-09 12:28] gaearon commented on #595
Related: https://github.com/facebookincubator/create-react-app/issues/3722.

[2018-01-09 12:35] gaearon commented on #3706
Fixed by https://github.com/facebookincubator/create-react-app/pull/3721

[2018-01-09 12:35] #3706 closed

[2018-01-09 12:37] neoziro commented on #3722
I think it is a very good thing to adopt a convention on it.

Even without talking about zero-configuration, today we can't use several Webpack loaders safely. We had the problem with [svgr](https://github.com/smooth-code/svgr) + [url-loader](https://github.com/webpack-contrib/url-loader). I made a [workaround to solve it](https://github.com/smooth-code/svgr/pull/32) but it should not be a workaro

[2018-01-09 12:38] dmitriid commented on #3722
We may want to define the rules for the default as and extension of "pick what they want, from a limited supported subset per filetype".

[code]

Will this work in practice though?

[2018-01-09 12:39] gaearon commented on #3722
I think this needs to be a grassroots effort because enforcing anything like this from webpack’s side is going to take a super long time, even if they do it.

[2018-01-09 12:40] gaearon commented on #3722
@dmitriid

My thinking is that your example shouldn't build because it has a default import (`import Icon`). I think that if we adopt this approach we should just forbid default import and ask people to be explicit about what they want.

We could maybe keep default import for compatibility reasons for a while.

[2018-01-09 12:40] Munter commented on #3722
If you want to foster a culture of zero config tooling, then it would be nice to come up with a convention that doesn't break module imports by default. Using the `import` statement for anything non-module is already forcing a specific tool chain dependency and thus a default config requirement on the developer.

I'd really love to see a syntax that was actually JS compatible by not overloading th

[2018-01-09 12:40] everdrone commented on #3719
`lsof -n -i:3000 | grep LISTE` returns empty

running the command after disabling the network connections returns this error:
[code]

which looks pretty weird to me since the development server should start on localhost

[2018-01-09 12:42] gaearon commented on #3722
@Munter I understand this sentiment but it’s not very practical in my experience. We’re trying to do the best with what we got. FWIW, my proposal is actually *closer* to no lock-in than syntax like `raw!./file.md` because at least it is *possible* to auto-generate `file.md.js` that contains those exports. So in practice it can even work on Node if you have a codegen step.

[2018-01-09 12:55] gaearon commented on #3722
I think in order to adopt this we’ll have to keep supporting default import for a while. This will make it possible for tools like Storybook to catch up. Then we can decide whether we want to deprecate support for the default import or not.

[2018-01-09 12:59] dmitriid commented on #3722
@gaearon

I think I agree with you in principle, but I think there are potential downsides. Though as I'm writing them down, I feel like I might be wrong about some of my assumptions.

- `import * as Icon from 'icon.svg'`

In the absence of a default export devs will still attempt the above, which will lead to multiple questions similar to "Why `import * as React from 'react'` and not `import Reac

[2018-01-09 13:02] Timer commented on #3719
You've most likely set your HOST in your .bash_profile erroneously.

Please remove this entry or unset HOST before running npm start.

sudo scutil --set HostName change-hostname-like-this

[2018-01-09 13:10] gaearon commented on #2889
I can also reproduce this with a computer that has `C:\tools\watchman` in its `%PATH%`.

Seems like we should at least figure out what’s causing this.

[2018-01-09 13:12] ndelangen commented on #3722
My first proposal would be to create a `multi-markdown-loader` that would export all the formats we want. and it could even have a default export. What this default would be exactly, I don't know.

I also see potential for this idea to take hold for other files then markdown.

[code]

[2018-01-09 13:13] everdrone commented on #3719
hmm funny thing, there is no .bash_profile, nor .bashrc on my machine

Im using fish shell

[2018-01-09 13:21] gnapse commented on #3711
I think I can take on this one.

Just to be clear, this is meant to achieve a state where apps created with `create-react-app` are able to just declare the following in their `package.json` file:

[code]

And that task will perform the exact same thing as the one in the README to which you linked. So all this args are important to be passed, but only internally so users don't need to setup this sc

[2018-01-09 13:38] gaearon commented on #3722
Note there’s also a build performance concern: https://mobile.twitter.com/wSokra/status/950713344163446785.

[2018-01-09 13:50] everdrone commented on #3719
added `set -x HOSTNAME (hostname -s)` to my config.fish
now `echo $HOST` returns empty
and `echo $HOSTNAME` returns a string

everything is fine, the web server is working, i can sleep now.

thank you guys.

[2018-01-09 13:56] gaearon commented on #3719
Nice! Thanks @timer for debugging this.

Is there any warning we could add to make this easier?

[2018-01-09 14:00] gaearon commented on #3711
Yeah. Or maybe just supporting `--debug` flag in test command is enough.

[2018-01-09 14:05] Evaneaston commented on #2961
I agree with @ndelangen.

[2018-01-09 14:29] gaearon commented on #2889
Seems like this is fixed on Jest 22 so I'll close. We'll update to it soon.

As a temporary workaround you can run your tests with `--no-watchman`, i.e. `npm test -- --no-watchman`.

[2018-01-09 14:29] #2889 closed

[2018-01-09 14:30] ranyitz commented on #3722
@gaearon, That sounds like an awesome idea!

Supporting the default imports would only be less performant (from bundle size, and compile time aspects) and as you said, a lint rule could do the job for the depreciation period.

About the build performance problem,
The Loader will process all the possibilities, usually with no need, That might increase the build time.
Ideally, we would like the load

[2018-01-09 14:40] gaearon commented on #3722
Unfortunately @sokra says it’s not easy due to the current architecture: https://mobile.twitter.com/wSokra/status/950728052442529793

[2018-01-09 14:46] viankakrisna commented on #3722
maybe it can be implemented as babel-plugin?
[code]
becomes
[code]
I think i've seen similar approach (rewriting imports) with babel-plugin-lodash. Can it be applied to loaders too?

[2018-01-09 14:48] Andarist commented on #3722
@viankakrisna it could, from the babel's perspective this is just a js syntac and it could transpile it to the custom loader format (`import raw from 'raw!./file.md';`)

[2018-01-09 15:25] Timer commented on #3719
I think that'd be nice. We can add a message along the lines:
[code]

This message would be cleared right after a successful bind, so it'd only be visible when you hit this error state.

[2018-01-09 15:25] devongovett commented on #3722
Yep, Parcel has had requests to get the URL for officially supported formats like JSON instead of inlining into the JS bundle.

The proposed syntax is potentially a bit problematic I think. Should it work for JS imports as well? i.e. `import {url} from './my-script.js'`. There would be no way to know statically whether `url` refers to a JS legit export or the URL to the file produced by the bundle

[2018-01-09 15:42] jeffposnick commented on #3688
I'm at a loss as to why you'd be seeing this behavior, and it sounds to me like something else might be at play here. Are you doing delayed/lazy-loading of these JS resources?

`navigateFallback` checks to see if the request being made is a navigation, which would never be the case when requesting a subresource loaded via a `<script>` tag:

https://github.com/GoogleChromeLabs/sw-precache/blob/1959

[2018-01-09 15:47] #3358 closed

[2018-01-09 15:57] neoziro commented on #3722
@devongovett the problem is already present with JS files. If I apply `url-loader` on JS files, I can't access the JS code itself any more.

But thinking about the JS file case, I don't know how to solve this issue. It seems more complicated than it appears.

[2018-01-09 16:05] gaearon commented on #2223
I merged https://github.com/facebookincubator/create-react-app/pull/3387.

[2018-01-09 16:07] #3439 closed

[2018-01-09 16:09] doshisid commented on #3311
I have reproduced this issue [here](https://github.com/doshisid/cra-proxy-test). I am not sure if this is expected behaviour or a bug. Just to be clear, the issue is that the post requests to `/` don't get proxied to the specified server.

[2018-01-09 16:10] fcaldera commented on #2960
CRA moves fast and it is good you can always use the most recent version of `react-scripts` as possible when creating new apps. `git clone` + `npm install` would rely upon a repository that would most likely have an outdated version of `react-scripts`. So the main difference is you would have to remember updating your template prior to creating a new app, which may not be necessary for example whe

[2018-01-09 16:11] FWeinb commented on #3722
@viankakrisna
Can be done with a babel-blugin quick test [here](https://astexplorer.net/#/gist/12bb7608e32f16e647d5047888e29f06/eab6f1ded0deab13b91605888efc81d951af1629).

[2018-01-09 16:14] sompylasar commented on #3722
`import { [Symbol.url] as jsUrl } from './foo.js';` — can this work? Getting a JS URL is a rare case if we have dynamic `import()`.

RE: loaders do their own resolving, if resolving is exposed as a function (memoized somehow?), it can be reused from a loader.

[2018-01-09 16:17] gaearon commented on #3572
Please propose changes to the proxy behavior in https://github.com/facebookincubator/create-react-app/issues/3366.
We'll need some consensus in this thread because there are multiple different feature requests and I'm finding it hard to unify them.

[2018-01-09 16:17] #3572 closed

[2018-01-09 16:34] TheTFo commented on #3597
https://github.com/TheTFo/es6-debug-issue

Clone master,
npm install
npm run start

Place a breakpoint on src/App.js, line 17.  Inspect myObject on line 16, and it is undefined.

![image](https://user-images.githubusercontent.com/530080/34731637-e3540842-f530-11e7-86af-864cedf75e99.png)

[2018-01-09 16:40] gaearon commented on #3597
Awesome, thanks! This is very helpful.

[2018-01-09 16:45] gaearon commented on #3311
I see. I think this won't be a priority for us to fix, but if you send a PR we can take a look.

[2018-01-09 16:50] gaearon commented on #2554
Is there some up-to-date on Firebase caching of `service-worker.js`? It seems odd that it's a Google property but it's causing issues for service workers, a spec pushed by Google advocates.

[2018-01-09 17:10] FezVrasta commented on #3366
My need is:

Right now we can define some proxied paths using the `package.proxy` property, but there's not (AFAIK) a way to tell the app to do something like this:

[code]

In my own project I managed to get this to work with `react-app-rewired` and the following changes:

[code]

and changing the `historyApiFallback` to `{ index: '/app.html' }`.

The first change is needed because otherwise the

[2018-01-09 17:17] yyx990803 commented on #3722
I was about to propose doing this via a babel-plugin but someone beat me to it :)
I think babel plugin is a good idea:

- applicable to any file type, no need to implement a mega-loader or different loaders for different file types.
- no tree-shaking needed
- no perf concerns

[2018-01-09 17:34] #3573 closed

[2018-01-09 17:49] bmeck commented on #3722
Is there any problems with doing this via a URL Query Parameter so that it could also function in other places?

[2018-01-09 18:11] doshisid commented on #3311
I tried to fix this. The best solution I could think of was to proxy all requests that do not have `GET` method. I assumed that all the requests to the `webpack-dev-server` will be using `GET` method. So its fine to use the proxy if specified and the method is not `GET`.

[2018-01-09 18:14] Tom4U opened #3727 "Prevent server from running without ejecting"
I really would like to use the scripts way of CRA, but how can I create a development build (no optimization, source maps and such) without the webpack server being started and without the need to eject the whole project or create own scripts. Is that possible?

[2018-01-09 18:17] gaearon commented on #3727
Not currently supported, maybe in the future.

Can you describe your use case in more detail?

[2018-01-09 18:22] Tom4U commented on #3727
Sure:
I'm creating a react app for being used inside SharePoint and therefore it also makes use of SharePoint scripts I don't want to include into my system, but use the SharePoint ones.
Therefore I cannot run my app locally anyway, but still need a build with source maps and such, so that I can copy the files to SharePoint and still be able to debug them there.
So it would be great having somethi

[2018-01-09 18:30] gaearon commented on #3727
OK, this is the same issue as https://github.com/facebookincubator/create-react-app/issues/1070.

I think we should add this, want to check if there’s an existing PR and/or work on it?

[2018-01-09 18:30] #3727 closed

[2018-01-09 18:33] ilyaLibin commented on #214
Use this to inject mobx decorators into config without ejecting.
https://github.com/timarney/react-app-rewired/tree/master/packages/react-app-rewire-mobx

[2018-01-09 18:35] harryjubb commented on #2987
I'm experiencing FOUT with:

[code]

in `index.js`, and with a third-party component (`react-event-timeline`) that uses a custom font. I'm using `ReactLoadable` to code-split my React Router routes but it seems to happen without code splitting too.

Is there any solution to this other than `fontfaceobserver`? I'll try and see if using that will work with the NPM typefaces packages I'm using.

It w

[2018-01-09 18:39] gaearon commented on #2987
Is this question related to CRA or browsers in general? I’m struggling to understand how this is different from what would happen if you just wrote HTML and CSS by hand. If it’s a generic HTML/CSS issue I don’t think it belong in our docs.

[2018-01-09 18:42] Tom4U commented on #3727
Ok, will follow #1070 then.

[2018-01-09 18:42] gaearon commented on #214
It’s not supported and will break. If you’re okay with this, cool, but please don’t teach beginners to use something that will be broken in a year.

Furthermore, the legacy decorator plugin **does not even support the latest specification** and your code will likely break when you update it to the recent one (which isn’t implemented by Babel at all).

I’m locking this issue. As noted above, decora

[2018-01-09 18:49] winkerVSbecks opened #3728 "Code splitting and preventing duplication"
### Is this a bug report?
Not a bug but, looking for some clarification

### Which terms did you search for in User Guide?
Code Splitting, CommonsChunkPlugin, bundle-buddy

---

The user guide has a section on code splitting that focuses on dynamic import. However, I don't see any info on preventing duplication.

The [webpack code splitting guide](https://webpack.js.org/guides/code-splitting/#prev

[2018-01-09 18:59] jlongster commented on #1795
I personally think Jest should be excluded from this list. Using testing through CRA is optional. I'd like to use CRA for all the tooling to setup and run and app, but do testing myself (I like to interact with jest directly).

Maybe the create-react-app script to run tests could do this check, so you would only fail if you locally had jest installed *and* tried to run tests through CRA. Maybe tha

[2018-01-09 19:34] jeffposnick commented on #3574
As @gaearon mentions, you can opt-out of caching, but I'd obviously like to help get to the bottom of any problems you're having!

Serving `index.html` cache-first on browsers that support service workers is the expected default behavior.

The service worker lifecycle automatically handles checking for updates, and by default, there's a very basic example of logging a message in the JS console whe

[2018-01-09 19:41] gaearon commented on #1795
I think we keep talking past each other. Sorry if I'm being confusing.

I don't propose to forbid using your own version. (Early wording says that but my more recent comments don't.)

What I'm saying is **we should make sure that installing arbitrary Jest/Babel/Whatever version at top level does not break any of built-in `react-scripts` functionality**. So you should be able to use them side by si

[2018-01-09 19:56] jlongster commented on #1795
I may have missed a reply, especially since there were two threads that got merged. Sounds great. Sorry if I didn't read the original description well enough.

[2018-01-09 20:03] jeffposnick commented on #3608
You might want to dupe this against https://github.com/facebookincubator/create-react-app/issues/3248 (or https://github.com/facebookincubator/create-react-app/issues/3008).

The change in https://github.com/facebookincubator/create-react-app/pull/3419, if we moved ahead with that, would address it.

[2018-01-09 20:06] etiennejcharles commented on #871
Amazing work on finding that watchman is the case!
But... Is it only me?  I feel like we're correcting symptoms ~ shouldn't watchman be

1) Included in the create-react-app build process ?
2) Mentioned in the documentation that watchman is required to run tests?

I'm not sure this should be closed.

[2018-01-09 20:07] iansu commented on #3719
If you're looking for someone to implement this feature I'd be happy to help.

[2018-01-09 20:09] jeffposnick commented on #3664
This is another one that could be duped against https://github.com/facebookincubator/create-react-app/issues/3248 (or https://github.com/facebookincubator/create-react-app/issues/3008).

The change in https://github.com/facebookincubator/create-react-app/pull/3419, if we moved ahead with that, would address it.

[2018-01-09 20:26] jeffposnick commented on #3665
If https://github.com/facebookincubator/create-react-app/pull/2426 were merged, it would add a standard way of prompting users to reload whenever there's an updated to a precached resource.

If you wanted to "take matters into your own hands", and automatically force a refresh whenever there's updates to precached resources, you could modify the code at https://github.com/facebookincubator/create-

[2018-01-09 20:44] jliebrand commented on #3688
ooohhhh I think you might be on to something there... it could be my aws cloudfront... I'll dig some more in to that, and close this bug for now. If I do find something new, I'll raise it separately.

Thanks for your time looking in to this!

[2018-01-09 20:44] #3688 closed

[2018-01-09 20:55] stereobooster commented on #3722
Also want to let you know about another potential use case (from [svelte](https://svelte.technology/guide))

[code]

[2018-01-09 20:58] harryjubb commented on #2987
You're right, I had assumed naively that having imported fonts from the typefaces NPM packages had made a difference, it happens regardless so not a CRA issue. Apologies for the confusion, and thanks for your time.

[2018-01-09 21:01] Arpanbhalla commented on #1155
yarn upgrade

[2018-01-09 21:12] sompylasar commented on #3722
If by URL Query Parameter you mean something like `import foo from './foo.svg?ReactComponent'` (altering the module request syntax) then it's as not standardized and webpack-specific as  `import foo from 'react-svg-loader!./foo.svg'`.

Having a set of named exports from modules is not standardized as well, but may be easier to standardize across bundlers, also may be easier to provide type definit

[2018-01-09 21:18] johnfliu818 commented on #2554
Is there a `service worker configuration guide for CRA` we can use to avoid the issues @jeffposnick so kindly compile? I presume most Chrome users are running into issues #2 and #3 with the default service worker configuration.

[2018-01-09 21:20] bmeck commented on #3722
@sompylasar Query Parameters are supported by browsers and servers, I'm not sure how this specific name list style of solution could be supported in those environments.

[2018-01-09 21:47] abohannon commented on #3617
I uninstalled eslint from my project with no luck. Only thing that worked for me was installing eslint into my dependencies rather than my devDependencies.

[2018-01-09 22:04] jeffposnick commented on #2554
Re: @petetnt, I'm not sure if a `false`/`true` flag offers additional clarity vs. what `unregister()` would offer (with `registerServiceWorker()` present, but commented out). If the current `unregister()` name isn't clear, then the exported function could be renamed `unregisterServiceWorker()` instead.

Re: @gaearon, see https://github.com/facebookincubator/create-react-app/pull/3659#issuecomment-

[2018-01-09 22:20] sompylasar commented on #3722
@bmeck But we're talking about bundling assets together here, not loading a single asset into the browser.

[2018-01-09 22:24] weierophinney commented on #3690
Just FYI: ran into the same just now, and my debug log is almost verbatim what is reported above. Node version 8.9.4, npm 5.6.0, running on linux.

When I ran an `npm ls`, I discovered that none of react, react-dom, or react-scripts were actually installed, which is odd, as I'd just created this project using the standard `npx create-react-app` command. Running `npm install` fetched them for me, f

[2018-01-09 22:26] petetnt commented on #2554
@jeffposnick like I said, mostly just bikeshedding 😃 That said, `unregister` _is_ a pretty bad name (unregister what?) and having

[code]

does feel like a pretty weird default, especially to someone opening the `index.js` file for the first time. If `registerServiceWorker()` is present but commented out, it would either need to be commented out from the import too (or explained that one should sw

[2018-01-09 22:35] bmeck commented on #3722
@sompylasar so why be incompatible?

[2018-01-09 22:37] sompylasar commented on #3722
@bmeck Please explain your approach with specific code examples. Thank you.

[2018-01-09 22:42] bmeck commented on #3722
@sompylasar you can grab all the items as properties required by this proposal with the following syntax:

[code]

`?as=url` is visible both ahead of time and well understood by both clients and servers as a `["as","url"]` pair. Instead of having a special interpretation of how named imports work that is only visible ahead of time/with special tooling, a person could write a server that understand

[2018-01-09 23:17] Timer commented on #3719
Feel free!

[2018-01-10 00:11] iansu commented on #3719
Turns out this was literally just a matter of checking for the environment variable and showing the warning message. No other changes required. 😀

[2018-01-10 00:59] James2516 commented on #3665
Perhaps an extra optional parameter (taking constants exported from `registerServiceWorker.js`) to `register()` that determines the different behaviours:
1. current behaviour (default)
2. standard prompt to reload
3. automatic reload
4. extra callback parameter to customise response (maybe call the callback both before and after successful reload with a ` status` parameter)

Also, is it possible t

[2018-01-10 02:05] Timer commented on #2108
I'll close this as too broad scope, we have a curated set of issues tracking this now.

[2018-01-10 02:05] #2108 closed

[2018-01-10 02:11] Timer commented on #1582
We definitely want to go forward with this. Please consolidate all discussions into #1887. Thanks!

[2018-01-10 02:16] PedroFerr commented on #2273
Besides reseting BS, you can even mixed up with your own "reset". It works and React respects the order of loading.
[code]

[2018-01-10 02:50] egoist commented on #3722
For webpack, seems a loader would do the job:

[code]

`!multi-format-loader?format=html,url!./foo.md` basically returns:

[code]

The webpack config would look like:

[code]

A babel plugin would be handy for:

[code]

[2018-01-10 03:39] sunnyYanan opened #3731 "lint-staged or husky not work"
it is an issue here:   https://github.com/facebookincubator/create-react-app/issues/3631#issuecomment-354863911

I can't see any precommit running

[2018-01-10 06:56] devongovett commented on #3722
Perhaps we want to be explicit about importing a URL with some explicit function to do that, like CSS has a `url()` function. I'm thinking `require.url('./some.png')` maybe?

For importing raw files as strings, Parcel shims the node `fs.readFileSync` method. This could easily be done with a babel plugin as well - I could extract parcel's code if needed.

Generally there are 3 cases:

1. `require('

[2018-01-10 06:59] devongovett commented on #3722
also, querystrings are not a good interface for this: question marks are a valid character in filenames. This kind of string require filename overloading has never been a good idea IMO.

[2018-01-10 07:45] sompylasar commented on #3722
@devongovett There are more valid cases [than the ones covered in your comment](https://github.com/facebookincubator/create-react-app/issues/3722#issuecomment-356516379): 1) exports; 2) url; 3) raw file. Examples were [presented](https://github.com/facebookincubator/create-react-app/issues/3722#issue-287071466) above: 4) a React component for an SVG image; 5) HTML markup for Markdown; 6) React com

[2018-01-10 08:13] dmitriid commented on #3722
However, neither is this:

[code]

This is basically a form of a templating/scripting language that for some reason stuck with us against any common sense :) This way lies madness. Below are just two examples I came across at one point or another during development.

[code]

This is a poorly (if at all) specified way of declaring a chain of loaders (build tools) inside a string in source code. Bui

[2018-01-10 08:20] piotr-cz commented on #2554
@petetnt
What about changing [docs](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#opting-out-of-caching) to
[code]

[2018-01-10 08:25] petetnt commented on #2554
Sure, that works too. The other points still stand though.

[2018-01-10 08:30] evenchange4 commented on #1227
@gaearon I use the `react-intl-cra` CLI in all my CRA projects (include an [OSS one](https://github.com/MCS-Lite/mcs-lite/blob/master/packages/mcs-lite-admin-web/package.json#L29)), but I still mark it as a workaround solution.

I notice that [babel-plugin-macros](https://github.com/facebookincubator/create-react-app/issues/2730#issuecomment-329577078) have been merged today. I will take some time

[2018-01-10 08:30] neoziro commented on #3722
@egoist your idea is good but it requires to re-implement the rules resolution. And it is not that simple since Webpack makes extension optional. I think we should not re-implement the `rules` algorithm into a loader.

Actually Webpack loaders are applied sequentially, taking this example:

[code]

- `url-loader` is applied on svg, the output is the url of SVG : `module.exports = "/my.svg"`
- `svg

[2018-01-10 08:33] neoziro commented on #3722
About zero configuration, it is another problem for me, you have to decide a common config. If we have a simple way to make it works with all existing loaders, choosing a common config is not a big deal.

[2018-01-10 08:45] s7sundar opened #3732 "npm run build issue to deploy on WAMP/XAMPP/LAMP server"
**How to deploy the build on Apache WAMP/XAMPP server?**

I have an app created with `create-react-app` and I have two pages on this application

When I execute `yarn start` or `npm start` it's working fine and all the pages are rendering properly on the URL navigation or button click

I executed the build command

It's generating all the `static` and `index.html` files on `build` folder.

I moved

[2018-01-10 09:37] jessepinho commented on #1870
Side note for future readers: I don't think using `cross-env` is necessary in the `package.json` scripts, unless you're specifically trying to support other platforms. I'm just `export`ing an environment variable: `"build": "export REACT_APP_GIT_SHA=`git rev-parse HEAD` && react-scripts-ts build",`

[2018-01-10 10:35] MatthiasDebaere commented on #2859
Thanks @gaearon!

For people coming from google and for future reference, I had to change `@import "sass-mq/mq"` to `@import "node_modules/sass-mq/mq"` to fix the import of sass-mq.

[2018-01-10 10:38] papandreou commented on #3722
We've been exploring this in [AssetGraph](https://github.com/assetgraph/assetgraph) for some time, starting way before `import`s ever arrived. It's an opinionated stack that works without any dev server, and obviously we've also needed a way to express this kind of dependency so the production builder can find the target file, add a hash to the file name, etc.

Currently we support this syntax: `'

[2018-01-10 11:29] dbillingham opened #3733 "publishing a new version of react-dev-utils to npm"
Hi

To start, this is an amazing project, thanks for all the hard work you all put in :)

I was wondering if it would be possible to publish a new version of react-dev-utils to npm, to include the extracted out ignored files feature as its not in the current npm version 4.2.1 :)

It looks like it was added on the 4th Nov and v4.2.1 was published a couple of days before on the 31st Oct: https://git

[2018-01-10 11:35] gaearon commented on #3733
We’ll be doing a few releases next week so that’ll be included.

[2018-01-10 11:35] #3733 closed

[2018-01-10 11:59] gaearon commented on #3732
If I understand correctly, you need to tell your server to serve `index.html` both for `/` and for any other requests that don't match other files (e.g. `/feed`).

How to do this depends on your server. We have some instructions here:

https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#serving-apps-with-client-side-routing

I don't think the

[2018-01-10 11:59] #3732 closed

[2018-01-10 12:00] #3311 closed

[2018-01-10 12:03] gaearon commented on #3731
Please don't file duplicate issues. As I already replied to you, please file an issue with `husky`, we can't help you here with that project.

[2018-01-10 12:03] #3731 closed

[2018-01-10 12:04] gaearon commented on #3248
Fixed by https://github.com/facebookincubator/create-react-app/pull/3419.

[2018-01-10 12:04] #3248 closed

[2018-01-10 12:04] gaearon commented on #3008
Fixed by https://github.com/facebookincubator/create-react-app/pull/3419.

[2018-01-10 12:04] #3008 closed

[2018-01-10 12:05] gaearon commented on #1227
Nice, thanks.

[2018-01-10 12:06] gaearon commented on #3608
Fixed by https://github.com/facebookincubator/create-react-app/pull/3419.

[2018-01-10 12:06] #3608 closed

[2018-01-10 12:07] gaearon commented on #871
It's not required. The problem is that when it's not available, the alternative watcher doesn't always work and can die unexpectedly. The good news is we're updating to Jest 22 soon which falls back to *yet another* watcher when watchman isn't available—which doesn't have this issue.

[2018-01-10 12:07] gaearon commented on #871
So this should all go away in the next major release.

[2018-01-10 12:08] gaearon commented on #3664
Fixed via #3419.

[2018-01-10 12:08] #3664 closed

[2018-01-10 12:12] gaearon commented on #3617
If you haven't ejected and see this problem:

1. Remove anything with the word `eslint` from `package.json`
2. Remove `package-lock.json` and `yarn.lock`
3. Remove `node_modules`
4. Run `npm install` (or `yarn` if you use it)

[2018-01-10 12:53] rbndg opened #3734 "Failed to minify the code from this file"
Failed to minify the code from this file

I keep running to this error with many packages that i'm using in my project, most notably bitcoinjs-lib.

The current solutions provided in the documentation are in my opinion unhelpful, basically requiring other libraries to work with CRA instead of other way around.

I know that this project doesn't want to developer to mess around with webpack/babel se

[2018-01-10 12:58] gaearon commented on #3734
I empathize with your frustration but the solution you propose (run Babel with the app config on dependencies) is unsafe and incorrect.

It seems correct from your point of view because it would solve your immediate problem. But I know that if we do this, we’ll get equally frustrated people with different kinds of breakages.

We are tracking this problem in https://github.com/facebookincubator/cre

[2018-01-10 12:58] #3734 closed

[2018-01-10 13:00] gaearon commented on #3734
(That said there’s also an unrelated problem of Uglify not handling ES6 code which will be fixed separately. But even if we do this, and minification works, your code still won’t work in order browsers.)

[2018-01-10 13:24] maxhallinan commented on #3366
@gaearon asked me to continue #3204 on this issue. To summarize:

- Proxy configuration is part of `package.json`.
- `package.json` is usually (maybe always) under source control.
- The location of a proxy target can vary with the environment.
- Because the proxy configuration is under source control, the location of the proxy target must be aligned across environments.
- Thus, it would be nice to

[2018-01-10 13:33] gaearon commented on #3366
Does anyone want to work on a proposal that would address the above issues together?

It could even be something radical like detecting `proxy.js` in the project root and just using that as a proxy.

[2018-01-10 13:35] gaearon commented on #2987
No worries!

[2018-01-10 13:42] bmeck commented on #3722
@devongovett [Node](https://nodejs.org/api/esm.html#esm_url_based_paths) and [Browsers](https://html.spec.whatwg.org/multipage/webappapis.html#resolve-a-module-specifier) use URLs for ESM, Query Strings are not part of the file path. Use percent encoding as needed on all `file://` scheme paths that contain special characters. In addition the Node [`fs` APIs also accept `file://` URL objects for pa

[2018-01-10 13:46] gaearon commented on #3728
Related: https://github.com/facebookincubator/create-react-app/pull/3145 https://github.com/facebookincubator/create-react-app/pull/2310

I honestly don't know what's the right way to do it these days. We might need someone from webpack to help us with determining the right approach.

[2018-01-10 15:30] stereobooster commented on #3722
It would be easier to maintain type signatures with named exports

[code]

For query string based imports you will need to override type manually or use `any`.

[2018-01-10 16:17] bmeck commented on #3722
@stereobooster why? Query String has a different URL and can compose any type of Module Namespace shape it wants.

[2018-01-10 16:25] stereobooster commented on #3722
@bmeck I'm talking about type signatures like TypeScript or Flow. I know how to create type signatures based on extension of a file. Not sure if this is possible with query params. Maybe.

[2018-01-10 16:48] mdo5004 commented on #1812
I'm having a similar issue when I deploy my app to Google's Firebase Hosting. The first time I access the page I get a blank white page and this same error in the console. However, if I refresh, everything works fine. After building my project, however, it says "The project was built assuming it is hosted at the root."

This might be a question for Firebase hosting, but I figured I'd put it up her

[2018-01-10 16:54] gaearon commented on #1812
Try [opting out of caching](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#opting-out-of-caching) and redeploying your app. The fix might take up to 24 hours to propagate (due to a Chrome bug) if you don't see it on other computers then this should be enough.

[2018-01-10 19:34] shilu911 commented on #3197
I also have this issue, seems the eject command doesn't add required packages into my package.json. I ejected because I want to config proxy with bypass functions that I cannot define in the package.json file

[2018-01-10 19:48] Zarkoix commented on #3116
Can this issue be expanded to cover other jest configurations like "setupFiles" so it can support mocking libraries like [jest-localstorage-mock](https://www.npmjs.com/package/jest-localstorage-mock)?

[2018-01-10 20:28] jeffposnick commented on #3665
Some of that feedback would be best directed towards #2426, which would need to be updated to match what you describe.

Regarding passing along additional information about which URLs were updated, that's unfortunately not something that's exposed in the current, `sw-precache`-based approach to caching. (It is something that's supported in the newer Workbox library; see #2340 for a discussion of t

[2018-01-10 20:36] gnapse opened #3737 "Misleading messages about script command changes when ejecting"
### Is this a bug report?

Sort-of. The overall behavior is ok, it's the messaging to the console of what happened what's not ok.

### Steps to Reproduce

1. Declare a custom script in `package.json` that internally invokes some of the valid `react-scripts <command>` command (see example json after this list).
2. Eject the app by running `yarn eject`.

[code]

### Actual Behavior

I get this messa

[2018-01-10 20:39] samithaf commented on #3366
@maxhallinan @gaearon  I am currently working on a large banking app which has 5 + different environments before code land in to Prod. My project is not on React but using webpack and node http proxy to enable front end engineers to hit any of those environments from their local computer. This is how I handle multiple env problem.
E.g.

npm run dev -- --env uat

When developer runs the above code

[2018-01-10 21:32] werne2j commented on #3694
@Timer i may need some help with this issue. To me, it looks like the issue is in
`react-scripts/scripts/util/createJestConfig.js` involving the `testMatch`.
When i revert the test match to what it was before this commit
https://github.com/facebookincubator/create-react-app/commit/5c8000f300a003e9bd8aee70c0796fa4e20b34f0#diff-40a56a7d41499eab85303b5e977f9742
the tests seem to work fine.

Not sure

[2018-01-10 21:39] FWeinb commented on #3722
I had some time and did some experimenting and build a [proof of concept babel plugin](https://github.com/FWeinb/babel-plugin-named-asset-import). It's not published and very much WIP but I liked the idea and needed to try how far this could be pushed.

Some random thoughts I had while working on this:
- Configuration of the loaders in the webpack.config will be tedious
- Some loaders will probabl

[2018-01-10 23:10] gaearon commented on #3728
Hehe.

I had no idea about this but it's probably what we want: https://github.com/webpack/webpack/pull/6281

[2018-01-11 02:01] bradfordlemley commented on #1333
I've created an [example monorepo](https://github.com/bradfordlemley/cra-monorepo-examples) and [PR 3741](https://github.com/facebookincubator/create-react-app/pull/3741) that adds support for it.

[code]
I assume that it is agreed that cra-comps should be transpiled just like app src (including JSX) since that seems to be the request from above comments, but some further questions about desired f

[2018-01-11 03:05] Timer commented on #3694
That sounds odd @werne2j, what would a test match have to do with syntax features? 🤔

[2018-01-11 03:11] werne2j commented on #3694
@Timer it shouldn't have anything to do with it 😂 Thinking about it, i'm sure that is not the issue but i can't seem to figure out what the real issue is

[2018-01-11 04:49] LinkCable commented on #3608
@gaearon sweet! Is there any ETA on when the next release will be? Thanks!

[2018-01-11 05:24] zhenwenc commented on #3648
@gaearon Yes, I can reproduce the issue with [this](https://github.com/zhenwenc/cra-issue) minimal webpack project. Just run the `reproduce.sh` script in the demo project to reproduce the issue.

Thanks for pointing out. Looks like its a webpack problem or its an expected behaviour (maybe I misunderstand the `invalid` compiler event). And I just noticed that if I wait for 10 seconds after modifyin

[2018-01-11 05:59] goofy3785 opened #3745 "Missing jQuery dependency in Bootstrap after installation"
### Is this a bug report?
This is an issue that can only be solved with modifying webpack.

### Can you also reproduce the problem with npm 4.x?
This is with 3.10.10

(Write your answer here.)

### Which terms did you search for in User Guide?

(Write your answer here if relevant.)

### Environment

1. `node -v`:
2. `npm -v`:
3. `yarn --version` (if you use Yarn):
4. `npm ls react-scripts` (if you

[2018-01-11 06:00] Timer commented on #3745
The purpose of using react-bootstrap is so you do not use bootstrap's js.

If you did `import 'bootstrap';`, make sure you use `import 'bootstrap/dist/css/bootstrap.css';`.

[2018-01-11 06:00] #3745 closed

[2018-01-11 06:59] mritzco commented on #2549
Solution works, thanks.

Yet, as the actual project files are but a few why would the system need to increase the number of watches.
Is it possible to check what files are being watched to verify that node_modules, git files or other non project specific files are not watched?

[2018-01-11 07:23] jordyvandomselaar commented on #2720
Yeah, after a while I've started using styled-components, I still remove the css files, but I'm working on a custom project template anyways.

[2018-01-11 07:49] Timer commented on #2639
Solved in #3124.

[2018-01-11 07:49] #2639 closed

[2018-01-11 08:11] viankakrisna opened #3748 "set webpack-uglify-plugin ecma support based on browserlist"
given that https://github.com/facebookincubator/create-react-app/pull/3618 and https://github.com/facebookincubator/create-react-app/pull/3743 and https://github.com/facebookincubator/create-react-app/pull/3644 recently merged to the next branch, we need a way to parse browserlist for uglifyjs es5-only support. This is done to ensure that no es6 dependency leaks through an es5 only environment.

N

[2018-01-11 08:15] Timer commented on #3748
We have a note [not issue] for tracking this here: https://github.com/facebookincubator/create-react-app/projects/3.

[2018-01-11 09:01] arshmakker commented on #1227
Currently I am using the `react-intl-cra` in production at our end and have not face any issues so far.

[2018-01-11 09:12] piotr-cz commented on #3672
Adding #3375 into release could help in moving #2426 forward and few people in meanwhile.

[2018-01-11 09:48] michael-ciniawsky commented on #3722
**loader.js**
[code]

**webpack.config,js**
[code]

[code]

[2018-01-11 10:18] JustFly1984 commented on #3245
I think you need to make proxy optional/configurable, so it could be easy to disable/enable without ejecting CRA.

[2018-01-11 11:37] jaggerwang opened #3749 "First start take more than one minute, and modify one file take 10s to recompile. Is this ok?"
There are about 700 files in our project, not including files under node_modules directory. Is there anyway to improve the recompile performance? Because I only changed one file, so I want to see the result as soon as possible.

The following is our package.json file.
[code]

[2018-01-11 11:56] gaearon commented on #3749
I don’t think we can help without a reproducing project. It’s not obvious to me where the problem could be but I agree it sounds like a lot.

[2018-01-11 12:20] gaearon commented on #3245
We've been trying to consolidate the proxy discussion in https://github.com/facebookincubator/create-react-app/issues/3366. Could you please write your input there, and try to figure out with other posters what changes to the API/configuration would be ideal? Thanks.

[2018-01-11 12:22] gaearon commented on #3197
Please file a new issue with a reproducing project (in its final state that doesn't work). Otherwise we can't help.

[2018-01-11 12:22] gaearon commented on #3197
The first thing to check for is whether you have `.babelrc` file or similar somewhere in parent directories since that could mess things up.

[2018-01-11 12:26] gaearon commented on #2549
I think `node_modules` are intentionally watched because otherwise installing dependencies wouldn't trigger a rebuild.

[2018-01-11 12:27] gaearon commented on #3648
Can you file an issue with webpack about this please?

[2018-01-11 12:27] gaearon commented on #3608
Within a week I'd say.

[2018-01-11 12:31] gaearon commented on #3116
Does `setupFiles` let you do something you can't put in `src/setupTests.js` (that's automatically executed before tests)?

[2018-01-11 13:01] LukasBombach commented on #3620
I will post here once I know how

[2018-01-11 13:59] gnapse commented on #3737
This is actually more complex than I initially thought: the use of the `g` regex flag [here](https://github.com/facebookincubator/create-react-app/blob/4c0bf037d1255e41aa6596952913f6ceed5cf1cb/packages/react-scripts/scripts/eject.js#L185) suggests that there could be custom user scripts that invoke more than one `react-scripts <command>` in the same script command line. I don't see the use case be

[2018-01-11 14:16] sponia-joker commented on #2591
@bharath063 It just what I need.thanks

[2018-01-11 15:50] bestwestern opened #3752 "Possible to git add, push and commit on every change?"
As the subject says - is it possible to do something like:
"git add . && git commit -m 'wip' && git push" every time the app updates?

(I know it isn't pretty and probably frowned upon ;)

[2018-01-11 16:31] Timer commented on #3752
This is a general question, so stack overflow might be better for this.

But it's definitely doable with some bash magic.

[2018-01-11 16:31] #3752 closed

[2018-01-11 16:32] Timer commented on #3752
I'd imagine you'd pipe `npm start` output to your terminal **and** a file, then have a loop `tail`ing the log, watching for new `"success"` strings and then firing your command.

[2018-01-11 16:33] matej-prokop opened #3753 "Unusable component strack trace in production build"
When ErrorBoundary catch an error in production version of my application (produced by `react-scripts build`), component stack trace within info parameter of `componentDidCatch(error, info)` is following:

[code]

As you can see it is not very helpful. On the other hand, in development version component stack trace for exactly the same error is following.

[code]

Maybe setting `displayName` for e

[2018-01-11 16:38] Timer commented on #3753
Please provide us with the information requested in the issue template.

[2018-01-11 17:12] shilu911 commented on #3197
I tried again, this time the required packages are added into the package.json, no idea why it didn't work at the first time.....Yes, @gaearon you are right, there is no .babelrc file, after I created it, the project works fine.
Thank you for your help!

[2018-01-11 17:16] gaearon commented on #3197
I meant that if you *do* have a `.babelrc` in some folder *outside* of your project folder (e.g. parent folder) that could break things. But in your case maybe it was just an npm bug.

[2018-01-11 17:19] gaearon commented on #3753
I think in this case it's not necessary—I can confirm it works as intended. I don't have any great solution: shipping component names in the bundle would increase its size (which is non-ideal), and the browser doesn't let us get the source location of an arbitrary function to display it.

If you can reproduce the same particular deployment, you can open the website/app and then use React DevTools

[2018-01-11 17:19] #3753 closed

[2018-01-11 17:19] sompylasar commented on #3722
@michael-ciniawsky :+1: but the version of the implementation I'm reading now (I see you editing, maybe move to a gist with version control?) doesn't let you export additional types, e.g. a React component. Also, ````export default \`${src}\````` is unsafe to generate, `src` may contain string interpolation sequences `${...}` which will be interpreted.

[2018-01-11 17:46] m-salamon opened #3754 "Readme.md typo"
### Is this a bug report?

    npx create-react-app my-app
    cd my-app
    npm start

You Misspelled ```npx```, it needs to be  ```npm```

**Fixed:**

    npm create-react-app my-app
    cd my-app
    npm start

### Can you also reproduce the problem with npm 4.x?

(Write your answer here.)

### Which terms did you search for in User Guide?

(Write your answer here if relevant.)

### Environment

[2018-01-11 17:47] gaearon commented on #3754
It's `npx` intentionally (it's a new tool coming with npm by default that lets you run a package without globally installing it).

[2018-01-11 17:47] #3754 closed

[2018-01-11 18:18] gaearon commented on #1125
I'd like to point out one additional time for those who expressed frustration in this and other threads that it is unsafe to run Babel 6 on `node_modules` because of this: https://babeljs.io/blog/2017/03/01/upgrade-to-babel-7#-use-strict-and-this-in-common-js

So we can only revisit this after Babel 7 is out. The good news is we're working on a beta branch that uses Babel 7 so hopefully we can get

[2018-01-11 18:23] m-salamon commented on #3754
very cool, thanks for informing.

[2018-01-11 19:51] bradfordlemley commented on #3547
@brunovandamme Can you elaborate on your use case?  (Is it related to trying to share source between cra-apps and/or monorepo?)

[2018-01-11 19:58] brunovandamme commented on #3547
I am trying to share components between projects, so I would like to have these components in another directory and symlink to them from all the cra-apps where i would like to use them.

[2018-01-11 20:11] bradfordlemley commented on #3547
@brunovandamme Have a look at https://github.com/facebookincubator/create-react-app/issues/1333 which is for supporting source sharing via monorepo manager (lerna and/or yarn workspace).

I proposed a more generic source-sharing solution in https://github.com/facebookincubator/create-react-app/issues/3436, but it has some downsides vs using a monorepo manager: (1) required some cra-configuration t

[2018-01-11 20:23] shilu911 commented on #3197
No, I didn't have .babelrc anywhere, it was a VM created only for this project. It was weird, after ejected the project, I even had to install some packages manually. Anyway, I cannot reproduce it now.....

[2018-01-11 21:02] brunovandamme commented on #3547
As I understand yarn workspaces uses symlinks in the node_modules directory to other locations. My understanding is that CRA does not process files from node_modules, so I would have to do the transpiling on these external components myself. Is this correct? I would expect CRA to process the files symlinked from src as these files appear as if they where in the project itself.

[2018-01-11 21:19] bradfordlemley commented on #3547
Correct, currently CRA does not process those files, but https://github.com/facebookincubator/create-react-app/issues/1333 tracks the feature request to make CRA process those files.

I think [PR 3741](https://github.com/facebookincubator/create-react-app/pull/3741) is pretty close to completing that feature, but there are some (minor?) open questions about how it should work.  See questions in ht

[2018-01-11 21:23] gaearon commented on #3547
@bradfordlemley Thanks a lot for jumping on that issue btw. I'm sorry repo infra changes are being a bit disruptive right now; hopefully we can review them soon!

[2018-01-11 21:23] gaearon commented on #3547
We also merged Jest 22 into `next` branch so you might want to use that as a base.

[2018-01-11 21:34] brunovandamme commented on #3547
@bradfordlemley Thanks for clarifying. I am not knowledgeable enough on this topic, but I don't understand where the technical difficulties are in handling these symlinks. (I can imagine processing the dependencies in node_modules is a whole different matter, as not all dependencies should be handled the same way). Is just resolving these symlinks not a simple solution to this problem?

[2018-01-11 22:22] bradfordlemley commented on #3547
I don't think it's really a technical issue (although the comments in https://github.com/facebookincubator/create-react-app/pull/3695 maybe show that it's not as simple as it seems), maybe more about encouraging maintainable practices.

If you symlink from under /src, you have to import via relative path (unless you do some other magic with NODE_MODULES) and then maintain various symlinks if you c

[2018-01-11 22:56] Zarkoix commented on #3116
It doesn't provide any functionality you can't put in a `setupTests.js`, but it feels like a better solution for supporting libraries that act as Jest plugins than to write a new file to import these plugins. It is also the solution Jest natively supports, so if it is possible to just pass on the configuration to Jest I don't see a reason not to support the option.

[2018-01-11 23:54] formido commented on #2271
@rayzor65 IIRC, I was putting the AWS host in the `.env` but it needed to be the docker host.

[2018-01-12 00:29] bradfordlemley commented on #3547
All that said, it is really easy to just create a symlink from under /src and seems like a reasonable expectation that it should be treated as if it was in /src, so hope others will chime in on this discussion.

[2018-01-12 03:35] jaggerwang commented on #3749
When I modified just one file, I can see eslint result of all files. Is this right?

![image](https://user-images.githubusercontent.com/1255011/34858693-b6d3904a-f78c-11e7-828d-4a7570962e38.png)

[2018-01-12 04:57] JyothiPutluru opened #3758 "create react app"
### Is this a bug report?

(write your answer here)

### Can you also reproduce the problem with npm 4.x?

(Write your answer here.)

### Which terms did you search for in User Guide?

(Write your answer here if relevant.)

### Environment

1. `node -v`:
2. `npm -v`:
3. `yarn --version` (if you use Yarn):
4. `npm ls react-scripts` (if you haven’t ejected):

Then, specify:

1. Operating system:
2.

[2018-01-12 04:58] #3758 closed

[2018-01-12 09:31] zhenwenc commented on #3648
Looks like its the same issue as posted here https://github.com/webpack/watchpack/issues/25

[2018-01-12 12:23] gaearon commented on #3749
Yes although I don’t understand why there’s a CSS file in there.

Again, it would be great if we could look at a project. It’s hard to say anything otherwise.

[2018-01-12 13:32] anshul commented on #2554
For 3, how about cache busting using url params like this?

[2018-01-12 13:47] Return-1 opened #3762 "Where can eslintrc and other config files be found?"
While trying to integrate ESLint with VSCode as described here https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint i realised that eslintrc and some other config files arent in the root folder.

How should i go about this integration? I could create a new .eslintrc on the root folder but then my building process and the editor would not be using the same configuration file a

[2018-01-12 13:48] Timer commented on #3762
https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#displaying-lint-output-in-the-editor

[2018-01-12 13:48] #3762 closed

[2018-01-12 14:06] packetstracer commented on #1277
@speicus works for me, with @brianchirls modification

thanks!!

[2018-01-12 14:12] ro-savage commented on #3672
CSS Modules #2285 can be cut for release. I will bring across the latest changes from https://github.com/ro-savage/react-scripts-cssmodules in the next 48hrs and should be ready to go.

[2018-01-12 14:40] artemirq opened #3763 "Question. Publishing on NPM"
### Is this a bug report?

No, i have question

**I fork this project. What need make to publish this package on NPM?(then to use)**

[2018-01-12 14:48] jeffposnick commented on #2554
Re: @anshul's comment, cache busting the `service-worker.js` file is not feasible. See https://github.com/facebookincubator/create-react-app/issues/2440#issuecomment-305896286

[2018-01-12 15:19] miraage commented on #3763
I assume you made changes in `packages/react-scripts` directory, so the steps would be following.

1. Register at [npm](https://www.npmjs.com/signup) (in case you have not done it yet).
1. Login in your bash via `npm login` command
1. Update `packages/react-scripts/package.json`. You should change `name`, `version`, `author` and all other fields in order to make a valid npm package. You can find m

[2018-01-12 15:26] artemirq commented on #3763
@miraage Thank you

[2018-01-12 15:26] #3763 closed

[2018-01-12 16:27] johnfliu818 commented on #2554
Debugging a cache problem is a female dog, especially when you are not aware there is a cache turned on somewhere. It's the type of things you want for your worst enemies. I really think default service-worker to be off (instead of trying to fix it via cache busting) is the right choice.

[2018-01-12 17:07] guilima opened #3764 "gh pages auto deploy on documentantion may need an update"
[The gh-pages section on documentation](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#step-2-install-gh-pages-and-add-deploy-to-scripts-in-packagejson) has a change on the deploy script for **user page** repositories (`"deploy": "gh-pages -b master -d build"`). Is it still necessary nowadays?

In this [youtube video](https://www.youtube

[2018-01-12 17:09] Kzeroone opened #3765 "Error: Cannot find module 'detect-node'"
Everything installed perfectly fine, the only time I have a problem is when I go to start up my react app and then this error comes up, I have made sure detect-node was installed and my versions of node and NPM are up to date.

[2018-01-12 17:29] edolyne opened #3766 "Https proxy is displaying UNABLE_TO_VERIFY_LEAF_SIGNATURE error"
### Is this a bug report?

Yes

### Can you also reproduce the problem with npm 4.x?

Yes

### Which terms did you search for in User Guide?

SSL, Proxy

### Environment

1. `node -v`: 8.4.0
2. `npm -v`: 5.3.0
3. `yarn --version` (if you use Yarn): 1.3.2
4. `npm ls react-scripts` (if you haven’t ejected): react-script@1.0.17

Then, specify:

1. Operating system: MacOS High Sierra
2. Browser and ve

[2018-01-12 17:54] leetercola commented on #2607
Does this mean async await doesn't work in CRA right now?

[2018-01-12 18:45] artemirq opened #3767 "Question. react-dev-utils from NPM not have ignoredFiles.js?"
### Is this a bug report?

Now question

**react-dev-utils from NPM has no `ignoredFiles.js` in package.json. Why?**

Part of `package.json` from NPM:

[code]

Part of `package.json` from Github([link](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-dev-utils/package.json)):

[code]

**Because of this i get error from my custom react-scripts**
![image](https://user

[2018-01-12 18:53] Timer commented on #2607
No. Async await works fine @leetercola.

[2018-01-12 18:58] Timer commented on #3767
This will be release in a few days. Please wait for this or publish your own dev utils in the meantime.

[2018-01-12 18:58] #3767 closed

[2018-01-12 19:24] #1914 closed

[2018-01-12 20:33] gaearon commented on #1795
I did some debugging. The Jest issue is caused by how Jest projects communicate: https://github.com/facebook/jest/issues/5294.

[2018-01-12 21:04] gaearon commented on #1795
For Webpack, this happens (at least with npm) because:

* `react-scripts` imports `html-webpack-plugin` which npm hoists at the top
* `html-webpack-plugin` imports `webpack` and gets the top-level "wrong" webpack

I don't know why `html-webpack-plugin` gets hoisted but I also don't quite see how to avoid it. For example in monorepos it's expected more things get hoisted.

[2018-01-12 21:46] gaearon commented on #2352
To be clear, here's how you should generally solve this if you haven't ejected:

* Delete `package-lock.json` and `yarn.lock` if you have them
* Open your `package.json`
* Verify you have `react-scripts` in it (if you don't, you ejected and this guide doesn't apply)
* Verify you **don't** have `webpack` in it (if you do, remove them)
* Run `yarn` (or `npm install` if you use npm)

[2018-01-12 21:58] heyimalex commented on #3766
Have you tried everything in [this SO answer?](https://stackoverflow.com/questions/20082893/unable-to-verify-leaf-signature)

[2018-01-12 22:45] naw commented on #2233
Even though the `allowedHosts` feature landed in WDS, there is no way to use that feature from an unejected create-react-app, as far as I know.

This means if you want to use the proxy feature (to forward requests to a backend API, for example), WDS will check the host, and subdomains (e.g. `subdomain.localhost`) will not be allowed. This could be allowed with a WDS config by setting `allowedHosts

[2018-01-12 23:05] Timer commented on #2233
Please file a new issue @naw -- we'd like to fix this for . It's very hard for us to track things in old issues. Thanks!

[2018-01-13 00:08] checkhavoc opened #3768 "Error using --forceExit with create-react-app & jest"
I have an app using create-react-app, when adding `--forceExit` to my `test` script, I get the following error

[code]

package.json
[code]

[2018-01-13 00:39] gaearon commented on #3768
The error says: `ENOSPC`.
It means your hard drive has run out of space.

[2018-01-13 00:39] #3768 closed

[2018-01-13 00:42] gaearon commented on #1795
I chatted to npm folks about https://github.com/facebookincubator/create-react-app/issues/1795#issuecomment-357353472 — it is a known npm issue. Yarn doesn't have it. They tried to fix it in 5.x but that created other issues so they're holding off until future majors.

[2018-01-13 03:50] Timer commented on #892
Autoprefixer: #3644
Babel: https://github.com/facebookincubator/create-react-app/pull/3770

[2018-01-13 03:50] #892 closed

[2018-01-13 04:48] Timer opened #3772 "Document how to configure CRA for IE 9/10"

[2018-01-13 08:07] ekenigs commented on #1125
Maybe helps to someone. As a workaround you can do:

`prebuild.js`
[code]
`package.json`
[code]

[2018-01-13 12:11] JustFly1984 commented on #3366
Yeah, 3245 was my concern. I had to eject CRA and get rid of proxy completely.
It really could be useful if proxy could be disabled by default. It was a bummer for me, and I lost couple days to figure out that the issue was a proxy, that CRA uses proxy by default ( it is kind of not obvious, like service workers ), and it took me only couple hours to eject and get rid of proxy fro all configs.

Is

[2018-01-13 15:56] gaearon commented on #1795
Fixed by https://github.com/facebookincubator/create-react-app/pull/3771.

There is a way to opt out of the preflight check for those who know what they're doing (it's mentioned at the end of the displayed message).

[2018-01-13 15:56] #1795 closed

[2018-01-13 15:58] gaearon commented on #3638
Fixed by https://github.com/facebookincubator/create-react-app/pull/3771.

[2018-01-13 16:18] reecelondon opened #3773 "Win32:Evo-gen [Susp] on running 'create-react-app' command"
### Is this a bug report?

Yes

### Environment

1. `node -v`: v8.2.1
2. `npm -v`: 5.3.0
3. `npm ls react-scripts` (if you haven’t ejected):

Then, specify:

1. Operating system: El Capitan

### Steps to Reproduce
1. on mac terminal cd'd into my directory and typed create-react-app baby-names

### Actual Behavior

2. Avast Antivirus brings up this 'Win32:Evo-gen [Susp]' on running 'create-react-ap

[2018-01-13 17:11] gaearon commented on #3773
https://github.com/mikaelbr/node-notifier/issues/217

[2018-01-13 18:03] Timer opened #3774 "State of targeting browers"
I think we've all agreed targeting browsers would be an acceptable configuration. For 2.0, we tried giving this a shot -- here's the current state:

### Parsing target browsers (#3644)

This change told our build pipeline to start looking for `browserslist` configuration.

When this was merged, the only real effect it had was CSS prefixing. It was _not a complete implementation_.
Our Babel configu

[2018-01-13 18:04] Timer commented on #3774
reserved

[2018-01-13 18:08] gaearon commented on #3773
Can you try again please?

[2018-01-13 18:19] gaearon commented on #3774
Can you clarify this? I’d assume it’s only queried once during startup. (Okay, twice: by autoprefixer and babel-preset-env.) Is that not the case?

I think it’s not too bad if we add a post-build message to production build with the chosen browserlist when it differs from the one in `package.json`. It could include a link to browserslist docs.

Do you only mean browserlist location? I would expect

[2018-01-13 18:31] Timer commented on #3774
Fueled by this issue: https://github.com/MoOx/eslint-loader/issues/206. I just want to make sure `preset-env` and `autoprefixer` don't do something similar.

I'm OK with this.

Yes, strictly browserslist location.

Are we confident babel 7 will no longer break code? If so, this might be fine -- but I'd almost rather make compilation opt-in via `engines` than opt-out to we can force the ecosystem t

[2018-01-13 19:01] joshwcomeau commented on #1858
A "lighter touch" could be to just have an option to output JSON, and then that JSON can be handled however the user sees fit (I prefer to use Chris Bateman's [webpack visualizer](http://chrisbateman.github.io/webpack-visualizer/)).

I imagine an addition to package.json scripts like this:

[code]

`build-stats` will just create a `stats.json` in the root dir, which they can then use however they

[2018-01-13 19:05] valscion commented on #1858
Yeah the `stats.json` is indeed what `webpack-bundle-analyzer` would also need. I think we've agreed that is a good direction. This point — "as long as it doesn't negatively affect build perf" — is the crucial one that might need some manual fiddling.

Feel free to work on this @joshwcomeau, it would be amazing :relaxed:

[2018-01-13 19:09] valscion commented on #1858
@joshwcomeau you probably want to be aware of this: https://github.com/webpack-contrib/webpack-bundle-analyzer/issues/119

Basically, if a bundle is large enough, `JSON.stringify` on the stats object coming from webpack can crash the build for an out-of-memory error. Most likely this would also affect `webpack` CLI itself when ran with `--json` flag, as they seem to be using plain `JSON.stringify`

[2018-01-13 20:33] gaearon opened #3775 "Look into simplifying post-ejected projects"
Webpack has been landing some improvements and adding sane defaults—perhaps we can revisit some of the configuration and try to remove it? Alternatively, we could try hiding more code into `react-dev-utils`.

[2018-01-13 20:39] gaearon commented on #3773
This shouldn't happen with new projects.
The underlying problem that triggered this is being investigated in https://github.com/mikaelbr/node-notifier/issues/217 but I think we can close this on our side.

[2018-01-13 20:39] #3773 closed

[2018-01-13 20:41] reecelondon commented on #3773
Great, thanks!

[2018-01-13 21:35] gaearon commented on #1125
First proof of concept incoming https://github.com/facebookincubator/create-react-app/pull/3776

If it works okay and isn't terribly slow, we'll publish a canary version to try soon. 🚧🚧🚧

[2018-01-13 22:04] gaearon commented on #1308
FYI, we're starting the work to compile deps with `babel-preset-env` in Create React App: https://github.com/facebookincubator/create-react-app/pull/3776

Let us know if you have feedback about how this should work.

[2018-01-13 22:04] gaearon commented on #814
FYI, we're starting the work to compile deps with `babel-preset-env` in Create React App: https://github.com/facebookincubator/create-react-app/pull/3776

Let us know if you have feedback about how this should work.

[2018-01-13 22:16] gaearon commented on #3669
FYI, we're starting the work to compile deps with `babel-preset-env` in Create React App: https://github.com/facebookincubator/create-react-app/pull/3776

Let us know if you have feedback about how this should work.

[2018-01-13 22:16] gaearon commented on #2108
FYI, we're starting the work to compile deps with `babel-preset-env` in Create React App: https://github.com/facebookincubator/create-react-app/pull/3776

Let us know if you have feedback about how this should work.

[2018-01-13 22:16] gaearon commented on #3734
FYI, we're starting the work to compile deps with `babel-preset-env` in Create React App: https://github.com/facebookincubator/create-react-app/pull/3776

Let us know if you have feedback about how this should work.

[2018-01-13 22:21] gaearon opened #3777 "Follow-up work for compiling node_modules"
Follow-up for https://github.com/facebookincubator/create-react-app/pull/3776.

First thought: we should have an end-to-end test that depends on ES6 package (e.g. `chalk@2.x`). After the build, we can run ESLint [in ES5 mode](https://github.com/facebook/react/blob/3766a014ae7752be70ca12b287637d8960dee6c3/scripts/eslint/eslintrc.es5.js#L18-L22) with no rules on the compiled bundle so that end-to-en

[2018-01-13 22:43] Timer commented on #3774
Merging into https://github.com/facebookincubator/create-react-app/issues/3777, we hashed this out.

[2018-01-13 22:43] #3774 closed

[2018-01-13 22:45] Timer opened #3779 "Add warning when browsers are not specified or pulled from somewhere other than `package.json`"
We need to warn people when browsers are taken from somewhere other than `package.json`.

Also, if they're missing all together we should probably prompt to add them.

[2018-01-13 23:18] joshwcomeau commented on #1858
Right, so I was proposing we don't do it as part of the main `build` task; I have a hard time imagining it not affecting build perf, since it's non-trivial extra work being done. By having it as a separate task (eg. `build-stats` or something), you can run that task as-needed. In my experience, this isn't something that needs to be done with every build, it's more something you do occasionally whe

[2018-01-14 00:59] gaearon commented on #2393
We [updated to Jest 22](https://github.com/facebookincubator/create-react-app/pull/3124) on the `next` branch so while we're still watching `node_modules`, it should no longer cause the crash in this issue. We can't backport this to `react-scripts@1.x` but stay tuned for the alpha versions of `react-scripts@2.x` coming soon.

[2018-01-14 00:59] #2393 closed

[2018-01-14 01:34] nikolas opened #3780 "What Is npx?"
seriously

[2018-01-14 01:40] gaearon commented on #3780
Please refrain from using profanity.

npx is a tool that ships with npm 5.2+ and lets you run a Node package without installing it globally. This is handy because it avoids the common problem of misconfigured PATH environment.

I found [this explanation](https://medium.com/@maybekatz/introducing-npx-an-npm-package-runner-55f7d4bd282b) as the first result for searching "what is npx" on Google, and

[2018-01-14 01:40] #3780 closed

[2018-01-14 01:41] nikolas commented on #3780
Please refrain from using profanity.

npx is a tool that ships with npm 5.2+ and lets you run a Node package without installing it globally. This is handy because it avoids the common problem of misconfigured PATH environment.

I found this explanation as the first result for searching "what is npx" on Google, and I hope you'll find it helpful!

Cheers.

[2018-01-14 01:42] nikolas commented on #3780
Oh and by the way STOP CENSORING ME. The net is no longer neutral you fucker.

[2018-01-14 01:47] gaearon commented on #3780
I'm not government and can't censor you.
[If you can't keep good manners we'll ask you to leave](https://xkcd.com/1357/).
This is the last warning.

[2018-01-14 02:08] gaearon commented on #2809
Actually, just realized we already support `--use-npm` flag. I think this is probably enough for now. It was added in https://github.com/facebookincubator/create-react-app/pull/3409 and hasn't been released yet but we can close this.

[2018-01-14 02:08] #2809 closed

[2018-01-14 02:18] gaearon commented on #3116
I see your point but I feel that since it's perfectly possible to use the global conventional file, and we already support it, this doesn't really add value.

`resetMocks` and `resetModules` still sounds good though.

[2018-01-14 02:19] gaearon commented on #2687
Closing for lack of interest.

[2018-01-14 02:19] #2687 closed

[2018-01-14 02:22] gaearon commented on #3687
Closing per lack of response.

[2018-01-14 02:22] #3687 closed

[2018-01-14 02:23] #3125 closed

[2018-01-14 02:26] gaearon commented on #2328
We may want to wait for this: https://github.com/webpack/webpack/pull/6281

[2018-01-14 02:27] gaearon commented on #798
Closing in favor of more recent discussion in https://github.com/facebookincubator/create-react-app/issues/1858.

[2018-01-14 02:27] #798 closed

[2018-01-14 02:28] gaearon commented on #3683
Seems like it's documented now.

[2018-01-14 02:28] #3683 closed

[2018-01-14 04:57] Timer commented on #3779
#3782

[2018-01-14 04:59] Timer commented on #3748
This setting doesn't actually restrict anything (very few places), so we might as well let everything parse.
We're also compiling node_modules now, so there's that.

6f05355ba07118efd277b3d8fcd00cfcc5c7666b

[2018-01-14 04:59] #3748 closed

[2018-01-14 06:20] vegtelenseg opened #3783 "Proxy Setting via Environment Variables?"
I have a question.

Instead of providing proxy information via the `package.json`, is it possible to achieve exactly the same thing by providing this information directly into environment variables?

[2018-01-14 06:49] thisconnect commented on #2393
thanks @gaearon !!!
Can I test `next` by installing `facebookincubator/create-react-app#next`?

[2018-01-14 07:22] trevorwhealy commented on #1858
I'm in favor of the proposal by @joshwcomeau, https://github.com/facebookincubator/create-react-app/issues/1858#issuecomment-357458170 - the [webpack visualizer they're referring to](http://chrisbateman.github.io/webpack-visualizer/) and webpack-bundle-analyzer alike are both great because of their interactivity. I actually made a workaround that you can use without ejecting https://github.com/fac

[2018-01-14 07:51] valscion commented on #1858
We should care, one way or the other. If we go the direction of adding a new `react-scripts` task (like the `buildStats` you proposed), then this is not crucial — building the project normally would still work. We could tell about this edge case in the documentation.

However, if we were to create the `stats.json` file on `react-scripts build`, that would change things. The error coming from `JSON

[2018-01-14 08:38] gaearon commented on #2393
No, we don’t support installation from GitHub. When it’s available, you will be able to just specify the version we release.

[2018-01-14 09:23] gaearon commented on #3783
I think this idea has been floated before. I'm not strictly opposed to it but the proxy functionality is getting a bit complicated so I think we should revisit this after simplifying the “advanced” configuration case: https://github.com/facebookincubator/create-react-app/issues/3366.

[2018-01-14 09:26] gaearon commented on #3366
I'm not sure what you mean. Proxy is not enabled unless you add a `proxy` key to `package.json`.

Let me reopen https://github.com/facebookincubator/create-react-app/issues/3245 because it seems like there is either a legitimate bug or a misunderstanding there.

[2018-01-14 09:28] gaearon commented on #3245
Now that I re-read your comment, I'm not sure I understand what happened.

Proxy definitely *is* disabled by default. Yes, there is a call [to prepare its config](https://github.com/facebookincubator/create-react-app/blob/a3d33c46084d88ece2c5ab49e61e5fc62f3a8187/packages/react-scripts/scripts/start.js#L69), but it [returns undefined when there is no `proxy` setting](https://github.com/facebookincu

[2018-01-14 10:11] Siyanda-Mzam commented on #3783
Alright, I see. Cool.

[2018-01-14 10:24] gaearon commented on #3113
I bumped `opn` to the latest which includes your fix so this should be solved in the next release.
https://github.com/facebookincubator/create-react-app/pull/3784

[2018-01-14 12:04] thisconnect commented on #2393
ok, thanks

[2018-01-14 12:34] JustFly1984 commented on #3245
The issue was: I develop with HTTPS=true env, so proxy didn't work with HTTPS=true for me at least.

I think something was messing up with CORS, and I could fix it only after ejecting.

Sorry I moved on very far since then, and can't reproduce it now. I think I had this issue with CRA 1.0.7

[2018-01-14 12:37] gaearon commented on #3245
I see. I’m going to close this as there’s not enough detail for us to dig into this. But if somebody else encounters this, or you see it again, please file a new issue with a reproducing example. Thanks!

[2018-01-14 12:37] #3245 closed

[2018-01-14 12:55] gaearon commented on #3690
Okay, let's keep it open to add basic error handling.

I think this is all we need:

[code]

While we're there, let's also figure out if we should cherry-pick https://github.com/node-modules/detect-port/pull/26 into our fork.

[2018-01-14 13:18] gaearon commented on #3694
Confirmed I reproduce this on master.

[2018-01-14 13:27] gaearon commented on #3694
Can reproduce on `next` too.

[2018-01-14 13:34] gaearon commented on #3694
This looks like https://github.com/babel/babel/issues/7099 to me.

[2018-01-14 13:35] zzzbj commented on #2078
try npm install babel-polyfill --save, and add import 'babel-polyfill'; in your index.js

[2018-01-14 13:48] gaearon commented on #2078
@zzzbj This issue is caused by testing in IE8 compat mode. Babel polyfill is unrelated and won't help with this.

[2018-01-14 13:55] etienne-dldc opened #3786 "Proposal: expose webpack configuration as a package"
## Problem

We currently have two main options when using CRA:

|                      | Upate      | Custom Config |
|               ---: |     :---:      |           :---:   |
| not eject   | ✅      | ❌     |
| eject     | ❌        | ✅       |

There is a third option which is to maintain a fork of `react-scripts` (like [create-react-app-typescript](https://github.com/wmonk/create-react-app-type

[2018-01-14 14:21] gaearon commented on #3694
Pushing this back to 2.x since it's a legit Babel bug and probably not fixable on our side. We'll need to wait for it to get resolved upstream.

[2018-01-14 14:22] gaearon commented on #3786
What are some use cases for editing a config like this?

[2018-01-14 14:32] etienne-dldc commented on #3786
I think most reason to `eject` are valid use cases :
- Add / remove a plugin
- Add / remove loader
- Change input / output path
- Add entry point
- ...

In my case I'm using this method to support a custom async module loader I've made (multiple entry points and setting `output.library`).

In another project I've used this to add `fork-ts-checker-webpack-plugin` to `react-scripts-ts`.

[2018-01-14 14:38] gaearon commented on #3694
Apparently we can work around this by always including the destructuring transform.
Here's why: https://github.com/babel/babel/issues/7215#issuecomment-357515580

[2018-01-14 15:12] gaearon commented on #3786
If we decide to support this, we might as well support overriding config in non-ejected projects. Because in practice people don’t really look at major versions of transitive dependencies. If they see direct modification of webpack config in one repo they’ll do it everywhere (and thus can misunderstand semver guarantees and get confused why their stuff breaks in patch releases).

Maybe now is a go

[2018-01-14 15:48] etienne-dldc commented on #3786
Um... right,
What if we do add an `eject-but-not-really` scripts that just create that `dangerouslyOverrideConfigs.js` and add the config package ( let's call it `react-scripts-config` ) as a dependency ?
We could then add the version of `react-scripts-config` as a property of the exported object and `react-scripts` could then check that the config passed as output of `dangerouslyOverrideConfigs.j

[2018-01-14 15:55] Timer commented on #3694
Fixed via #3788

[2018-01-14 15:55] #3694 closed

[2018-01-14 15:56] Timer commented on #3690
Fixed via #3787

[2018-01-14 15:56] #3690 closed

[2018-01-14 15:58] gaearon commented on #3694
Just ported to `next`, hopefully it works

[2018-01-14 16:12] markerikson commented on #3786
Just to throw out a thought: I know that _one_ of the reasons for keeping all the Webpack config locked away was the hypothetical idea that CRA _might_ someday base its internals on another bundler instead.  Is that still a meaningful concern?

[2018-01-14 16:22] levrik opened #3789 "Unable to start dev server with domain configured by PAC (proxy auto-config)"
I'm using a PAC (proxy auto-config) file to redirect all domains ending with `.local` to a local development proxy without messing around with my hosts file.
This seems to don't play well when using the `HOST` environment variable in cra.

![image](https://user-images.githubusercontent.com/9491603/34918100-32ab9d1c-f94e-11e7-9d76-fe929aa0100b.png)

Settings `DANGEROUSLY_DISABLE_HOST_CHECK` to `tru

[2018-01-14 16:23] gaearon commented on #3055
This appears fixed in Babel 7 and doesn't happen in our `next` branch. We'll publish first 2.0 alphas soon.

[2018-01-14 16:23] #3055 closed

[2018-01-14 16:25] Timer commented on #3789
To work around this, add `HOST=localhost` to your `.env` file.

[2018-01-14 16:26] gaearon commented on #3789
Is there anything we can do to improve this?

[2018-01-14 16:28] Timer opened #3790 "Syntax highlighting broken in `next`"
😢

Expected:
![](https://puu.sh/z1sk9/9ee1881a22.png)

Actual:
![](https://puu.sh/z1slk/d861aac31c.png)

[2018-01-14 16:30] levrik commented on #3789
@Timer Ah, awesome. `HOST=localhost` together with `DANGEROUSLY_DISABLE_HOST_CHECK=true` is good workaround.

@gaearon I think cra would need to be able to resolve domain names via PAC.

Maybe this could help? https://github.com/TooTallNate/node-pac-resolver

[2018-01-14 16:30] gaearon commented on #3055
I'm adding a regression test in https://github.com/facebookincubator/create-react-app/pull/3791 so this doesn't break again.

[2018-01-14 16:49] Timer commented on #3790
Sent PR to Babel: https://github.com/babel/babel/pull/7216

[2018-01-14 16:54] Timer commented on #3789
[Our docs mention `HOST` is respected](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#advanced-configuration).

This message would've prevented this issue: https://github.com/facebookincubator/create-react-app/pull/3730, so we should probably merge it. 😄

[2018-01-14 17:04] #3779 closed

[2018-01-14 17:18] levrik commented on #3789
@Timer no. `HOST` was set on purpose because I set the `proxy` option in the `package.json` and cra complained about the invalid host header.

[2018-01-14 17:35] gaearon commented on #3786
I think it's less likely today given that webpack has improved in many areas but we still prefer if most newly created apps don't immediately tie themselves to webpack-isms.

[2018-01-14 18:14] werne2j commented on #3694
I thought I tried this but I must not have been testing it correctly. Glad you were able to get it working @gaearon! Thanks for the help!

[2018-01-14 18:34] gaearon commented on #3694
No problem, thanks for trying!

[2018-01-14 18:54] Timer commented on #3790
Babel merged. Should be out in next beta (.38).

[2018-01-14 19:14] #3719 closed

[2018-01-14 19:25] Timer commented on #3765
Please reinstall your node_modules; closing due to lack of more information.

[2018-01-14 19:25] #3765 closed

[2018-01-14 20:52] samithaf commented on #3366
@gaearon @Timer I am happy to propose a proxy  solution and if everyone fine with it I can probably implement the solution as well.

[2018-01-14 21:32] iansu commented on #3366
I was just thinking about this as well. I think points 1 and 2 (first example) from @Timer's original comment make sense. I also like @gaearon's idea of looking for `proxy.js` and using that. So the different options from simplest to most complex would be:

1. `proxy` string in `package.json`
2. `proxy` object with multiple patterns in `package.json`
3. `proxy.js` file where you can do any routing

[2018-01-14 21:49] gaearon commented on #2498
Here's my proposal for how we can include Sass without compromising on user experience for people who don't want it: https://github.com/webpack-contrib/sass-loader/issues/532

[2018-01-14 21:56] gaearon commented on #78
We're exploring a tighter integration in the spirit of what most people in this thread wanted (just import it and it works). But we'll need some changes on `sass-loader` side to make this happen. If you're interested, please subscribe to this discussion: https://github.com/webpack-contrib/sass-loader/issues/532.

[2018-01-14 22:16] samithaf commented on #3366
I would vote for proxy.js and this allows people to use any option **http-proxy-middleware** gives also we can add multiple environment support as well. E.g. UAT, SIT and PROD

[2018-01-14 22:42] airqb commented on #3574
<img src="https://shadowproof.com/wp-content/uploads/2016/03/have-you-tried1.jpg"/>

[2018-01-14 23:09] samithaf commented on #3366
@gaearon @Timer @iansu requesting your feedback.

# Proposal Iteration 01:
As a create react app user I want to configure proxy middleware easily so that I can connect with API endpoints without getting browser security warnings.

New proxy solution will add the flexibility to users to use all the options that http-proxy-middleware provides. Further solution supports multi environments as well. E.

[2018-01-14 23:24] gaearon commented on #3366
I would just leave (1) and (3).

(1) is for simple use cases. (3) is for everything else. We've seen so many edge cases I'm not sure there is any value in a "middle" solution. We could provide a few copy-pasteable recipes for common scenarios that used to be solved by (2).

[2018-01-14 23:48] gaearon commented on #3038
I can't reproduce this on the `next` branch so this should be solved in 2.0 alphas coming out soon.
I'm not sure what fixed it and we probably won't be backporting the fix to 1.x.

I see a Node deprecation warning when running this test though, and I don't know whether it's safe to ignore. I raised https://github.com/facebook/jest/issues/5311 about this.

I'm also concerned about the behavior desc

[2018-01-14 23:48] #3038 closed

[2018-01-14 23:49] gaearon opened #3794 "Follow up about Jest issues"
Before cutting 2.0 final I'd like to have a good understanding of these:

- [ ] https://github.com/facebook/jest/issues/3251#issuecomment-337032314 (potential regression in Jest 21+)
- [ ] https://github.com/facebook/jest/issues/5311 (just a weird warning)

[2018-01-14 23:50] gaearon commented on #3794
cc @SimenB

[2018-01-14 23:55] gaearon commented on #3482
By the way as far as I can see this doesn't crash the test runner anymore on `@next` branch so that's good news.

[2018-01-15 00:57] gaearon commented on #2223
This is out in `react-scripts@1.1.0`! Please let us know if something doesn’t quite work.
https://github.com/facebookincubator/create-react-app/releases/tag/v1.1.0

[2018-01-15 00:59] gaearon commented on #3385
This is out! Please let us know if something doesn’t quite work.
https://github.com/facebookincubator/create-react-app/releases/tag/v1.1.0

[2018-01-15 00:59] gaearon commented on #3573
This is out! Please let us know if something doesn’t quite work.
https://github.com/facebookincubator/create-react-app/releases/tag/v1.1.0

[2018-01-15 01:00] gaearon commented on #3694
This is out in `react-scripts@1.1.0`! Please let us know if something doesn’t quite work.
https://github.com/facebookincubator/create-react-app/releases/tag/v1.1.0

[2018-01-15 01:00] gaearon commented on #3113
The fix is out in `react-scripts@1.1.0`! Please let us know if something doesn’t quite work.
https://github.com/facebookincubator/create-react-app/releases/tag/v1.1.0

[2018-01-15 01:00] gaearon commented on #3311
This is out in `react-scripts@1.1.0`! Please let us know if something doesn’t quite work.
https://github.com/facebookincubator/create-react-app/releases/tag/v1.1.0

[2018-01-15 01:01] gaearon commented on #3520
This is out in `react-scripts@1.1.0`! Please let us know if something doesn’t quite work.
https://github.com/facebookincubator/create-react-app/releases/tag/v1.1.0

[2018-01-15 01:03] gaearon commented on #3706
This is out in `react-scripts@1.1.0`! Please let us know if something doesn’t quite work.
https://github.com/facebookincubator/create-react-app/releases/tag/v1.1.0

[2018-01-15 01:03] gaearon commented on #2793
The fix is out in `react-scripts@1.1.0`! Please let us know if something doesn’t quite work.
https://github.com/facebookincubator/create-react-app/releases/tag/v1.1.0

[2018-01-15 02:00] Jarred-Sumner opened #3796 "Automatically install dependencies on yarn start?"
Developers less familiar with modern JavaScript likely have trouble understanding why an error message like this comes up after running `yarn start`:

![image](https://user-images.githubusercontent.com/709451/34923695-006f3462-f953-11e7-8884-31d51df72b41.png)

Would `create-react-app` benefit from adding a check on `yarn start` that ensures the latest dependencies are already installed?

[2018-01-15 02:09] gaearon commented on #3796
I think we should improve this message. We already parse it so might as well add some friendly instructions.

I don’t think automatic installation is something we’d want to pursue. There are many details that are easy to get wrong: npm and yarn can break each other’s trees (and we don’t know which one the user used last), the dependency may still be missing in package.json and we might install a w

[2018-01-15 02:38] Jarred-Sumner commented on #3796
My _guess_ for the most common cases are:
1. The developer forgot to run `yarn install` (or `npm install`) after the dependencies changed
2. The developer had a typo in the import path
3. The developer typed `import Foo`, saved, and forgot to run `yarn install`
4. It's a dependency of a dependency and the dependency requiring it assumed the package using it would have installed the child dependenc

[2018-01-15 05:15] rbndg commented on #3734
@gaearon I don't have any special work flow for this, I have a gulp task that compiles the dependency in the node_modules folder before I building using CRA and so far it seems to be working for me.

[2018-01-15 08:07] Return-1 commented on #3762
This works, its just that, as they say: Note that even if you edit your .eslintrc file further, these changes will only affect the editor integration.

I guess if i want more fine tuned integration i'd need to eject which im guessing defeats the whole purpose of using create-react-app.

[2018-01-15 08:48] Chaoste commented on #982
@przbadu Did you start the container with a volume as you did in the docker compose config?

[2018-01-15 09:05] Chaoste opened #3798 "Serve two bundles on one domain"
Hi guys,

this is more likely a **feature request** than a bug report. In my project we're serving all microservices via seperate docker images. Because we love the easy way of building react apps with this tool we started transforming our react apps into CRA apps. Unfortunately there is an issue serving the multiple bundles at different addresses.

Right now we're having two docker images serving

[2018-01-15 09:21] SimenB commented on #3794
The first is indeed a regression of sorts, although I'm unsure how to handle it in a way that satisfies all parties. I do think it's more important to not silently pass tests create rejected promises than allowing you to asynchronously attach `catch`. But I do understand it's something that could be useful.

I've responded to the second issue, that feels more like a bug.

[2018-01-15 10:17] FezVrasta commented on #3366
and anyway someone will be able to release a dedicated package to simplify the configuration of the proxy
something like:

[code]

[code]

[2018-01-15 10:27] 102 commented on #3798
https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths this probably should be helpful

[2018-01-15 10:32] apaatsio commented on #3798
Add `"homepage: "/client/index/1"` to your package.json.

[2018-01-15 12:04] gaearon commented on #3762
Can you describe what you’re trying to achieve in more detail? It’s not very clear to me.

[2018-01-15 12:13] Return-1 commented on #3762
I am way too new to this for you to spend a millisecond on me O.O.... I'll figure it out on my own, please, look away. I was simply looking for a way to only have only one .eslintrc instead of having one on my root folder that feeds my editor and the one that exists ( im guessing somewhere in the npm react-scripts module)

[2018-01-15 13:35] nasserp opened #3800 "test"
### Is this a bug report?

(write your answer here)

### Can you also reproduce the problem with npm 4.x?

(Write your answer here.)

### Which terms did you search for in User Guide?

(Write your answer here if relevant.)

### Environment

1. `node -v`:
2. `npm -v`:
3. `yarn --version` (if you use Yarn):
4. `npm ls react-scripts` (if you haven’t ejected):

Then, specify:

1. Operating system:
2.

[2018-01-15 13:36] #3800 closed

[2018-01-15 13:49] Timer commented on #3798
Yup, as the two comments you just need to build the app for a specific path.

[2018-01-15 13:49] #3798 closed

[2018-01-15 15:10] edolyne commented on #3766
@heyimalex I went through and tried some of the potential fixes that I hadn't previously tried, but still ended up with the same error.

[2018-01-15 15:44] mikew opened #3801 "Support Jest's --watchAll"
Jest, at least the version that react-scripts depends on, does not work with both the `--watch` and `--watchAll` flags.

Since [react-scripts is automatically adding the `--watch` flag](https://github.com/facebookincubator/create-react-app/blob/d9799641268dfadffb625af68ce0a78895147728/packages/react-scripts/scripts/test.js#L31), that means no user would ever be able to do `--watchAll`.

Either upg

[2018-01-15 16:36] garmeeh commented on #3116
PR #3802 to opened to try add this feature.

[2018-01-15 17:01] GAumala commented on #3801
Yes, but in watch mode, after the initial run you can press 'a' to trigger a "watchAll" run.

[2018-01-15 17:02] gaearon commented on #3801
Yea, IMO this is enough.

[2018-01-15 17:02] #3801 closed

[2018-01-15 17:03] gaearon commented on #3116
https://github.com/facebookincubator/create-react-app/pull/3802

[2018-01-15 17:03] #3116 closed

[2018-01-15 17:18] mikew commented on #3801
IMO it's not, but whatever I guess?

[2018-01-15 17:21] mikew commented on #3801
Yes, but what if you don't want to have to wait for Jest to start up and press a key to run all tests?

[2018-01-15 17:27] joshwcomeau commented on #1858
Did some digging, I have some questions.

It turns out the Node API for webpack supplies the [stats object](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/scripts/build.js#L117) as part of the build process.

I still need to figure out exactly how to get the stats object to match the options when using the CLI, but one thing's for sure: we will need to `JS

[2018-01-15 17:39] gustavogodoi commented on #1066
PR #3803 opened to try to add this validation.

[2018-01-15 17:50] gaearon commented on #3801
Merged a fix in https://github.com/facebookincubator/create-react-app/pull/3804. Will be out in 2.x beta.

[2018-01-15 17:52] gaearon commented on #1858
Something with streaming probably sounds good to me

[2018-01-15 18:32] Steve06 opened #3805 "Chrome Extensions: Adjust hashed filenames in manifest.json at every build"
A Chrome Extension ships with a manifest.json with a number of mandatory properties, of which one important is "content_scripts" that can specify a number of js and css files (see https://developer.chrome.com/extensions/content_scripts). As of now, the file can be adjusted to this format in public/manifest.json and it is automatically copied to the build folder upon "npm run build".

By default, f

[2018-01-15 19:16] Timer commented on #3356
https://github.com/facebookincubator/create-react-app/pull/3347 if anyone wants to pick it up

[2018-01-15 19:37] gaearon commented on #3805
When you build the project, you get a file called `build/asset-manifest.json`. It gives you the final filenames for your JS and CSS files.

You can change your build step to be something like

[code]

and then write a Node script called `update-manifest.js` that reads `./build/asset-manifest.json` and uses that data to update the Chrome extension manifest.

Hope this helps!

[2018-01-15 19:37] #3805 closed

[2018-01-15 20:37] Steve06 commented on #3805
Thanks! I thought something of something similar that would do a search and replace using the mapping in asset-manifest.json.

[2018-01-15 20:53] gaearon commented on #3805
I don't think it's ad-hoc, seems like exactly the kind of post-processing that we create the asset manifest for.

[2018-01-15 20:56] Steve06 commented on #1070
Has anybody figured out a workaround for chrome extensions using the dev server, i.e., avoiding long production rebuilds?

I can see that https://github.com/jhen0409/react-chrome-extension-boilerplate has implemented a solution where only a few files are provided in a dev folder for the chrome extension to be launched and then any changes to the code are immediately rendered through the server. Ho

[2018-01-15 22:43] Palisand opened #3811 "IE 11: How to transpile async/await code when creating a new Function?"
IE 11 does not support async functions, so the following will fail:

[code]

The solution to this would be to transpile the supplied function body. [NoDent](https://github.com/MatAtBread/nodent), which simply implements async and await, seems like the perfect tool for the job. However, including nodent leads to the following error:

[code]

**I don't want to eject from CRA just to include a single

[2018-01-15 22:54] GAumala commented on #3796
Personally, I'd go with something simpler like looking up the missing module in `package.json` and maybe in `node_modules` as well; if it is not found print something like `module "foo" was not found. Please install it with npm (npm install foo) or yarn (yarn add foo).`

[2018-01-15 23:12] gaearon commented on #3811
NoDent is a Node program, it can't run in the browser. I don't see how ejecting would help you avoid that problem.

Is your JSON schema dynamic? I think in any case shipping a whole JSON validation function generator seems unfortunate if it's static. If I were in your shoes I would instead write a script that generates schema functions with AJW during the build time once, and bundle the *generated

[2018-01-16 03:04] Palisand commented on #3811
The schema is static and compilation only has to occur once when using `getSchema` (which I am), so generating the functions during build time sounds like a plausible and great idea. It looks like this can be done with the [ajv-cli](https://github.com/jessedc/ajv-cli#compile-schemas).

[2018-01-16 04:41] markerikson commented on #2407
@gaearon : I know it's not a _build_ tool thing or even CRA specific, but if we could poke the browser devtools developers to finally implement this, it would be a huge win for the JS ecosystem...

[2018-01-16 05:08] sibinx7 commented on #167
Edited `config/webpack.config.dev.js`

[code]

set cacheDirectory to `false`

[code]
without errors

[2018-01-16 06:15] sleepywk commented on #3007
@malishahi
Try following steps:
- including the external js file link in your `/public/index.html`
- use the external library with prefix `window.`

for example, JQuery.
- put following line in your `/public/index.html`
[code]
- use it in your project:
[code]

[2018-01-16 09:57] valscion commented on #1858
As far as I'm concerned, your thoughts seem good to me, @joshwcomeau :+1:

It might be useful to write the `bundle-stats.json` to the same directory as the built files (was it `dist/`? It's been a while I ran CRA.), as that will let you only use one argument to the `webpack-bundle-analyzer` CLI.

The CLI will by default read the bundled files from the same folder as the stats  JSON file is in — if

[2018-01-16 10:20] andriijas commented on #3774
@Timer thanks for all the efforts you are putting into browser targeting!

[2018-01-16 11:00] iamandrewluca commented on #3689
https://github.com/facebookincubator/create-react-app/pull/3695

[2018-01-16 11:55] gaearon commented on #2407
We did poke them a few times. I think the issue even got a patch and it has a milestone. So I’m hopeful 🙂

[2018-01-16 12:17] TryingToImprove opened #3812 "Disable refresh on file change temporary"
### Is this a bug report?

No

### Question
Is there a way to temporary disable the refresh/(css hot reload) when a file changes, without stopping the dev-server?

#### Reason for this
Sometimes I change the CSS in DevTools to get my page to look like I want. After that I copy the CSS changes over to my code, but when I save my file, all the changes I had not copied are lost.

I can "fix" this by

[2018-01-16 12:40] gaearon commented on #3811
Then I advise to do that 🙂 Cheers!

[2018-01-16 12:40] #3811 closed

[2018-01-16 12:43] maxhallinan commented on #3366
Except for backwards compatibility, a proxy target string in `package.json` feels incorrect to me.
My understanding is that the use case centers on ease of use. Users would like as little configuration possible when they just want to set a simple proxy target. That preference could be addressed by supporting a `process.env.REACT_APP_PROXY_TARGET` variable. `create-react-app` would generate a defau

[2018-01-16 12:52] Tobbe commented on #3217
I just got bit by the exact same thing myself :(

`npm WARN eslint-config-airbnb@16.1.0 requires a peer of eslint-plugin-jsx-a11y@^6.0.2 but none is installed. You must install peer dependencies yourself.`

`npm WARN eslint-config-react-app@2.1.0 requires a peer of eslint-plugin-jsx-a11y@^5.1.1 but none is installed. You must install peer dependencies yourself.`

Please reconsider updating to v6 o

[2018-01-16 13:13] iamandrewluca commented on #209
Would this solve the problem?

[code]

[2018-01-16 13:28] onopko81 commented on #1388
<use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>

use:

  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlinkHref="#path-1"></use>

 xlink:href =>  xlinkHref
working...

problem is  == > Syntax error: Namespace tags are not supported. ReactJSX is not XML.

[2018-01-16 13:36] Timer commented on #3812
This is not possible, but there's work around posted in old issues.

Try https://github.com/facebookincubator/create-react-app/issues/2519#issuecomment-318867289!

[2018-01-16 13:36] #3812 closed

[2018-01-16 13:47] miraage commented on #3796
If you ask me I would stick to option to show message but not install dependencies.
Side-effects are always tricky to maintain.

[2018-01-16 15:10] gaearon commented on #3217
@Tobbe

We already updated it on the `next` branch but we can't cut a release because it's just not ready. If you insist on using two different configs (our default one and Airbnb's) at the same time, it is up to you to figure out what to do with their dependencies. We can't possibly be compatible with all presets at all times.

[2018-01-16 15:43] vamshi9666 opened #3813 "cant able to install icon in title bar"
i deleted favico image and even deleted in manifest about icon .but still it isn't clearing that icon in title bar

[2018-01-16 15:56] checkhavoc commented on #3768
Thank you @gaearon

[2018-01-16 15:58] gaearon commented on #3813
The browser caches it, AFAIK really hard. Don't worry—your users won't see it. You can clear the browser cache if that worries you.

[2018-01-16 15:58] #3813 closed

[2018-01-16 16:03] Tobbe commented on #3217
Of course you can't. Fully understandable :) But thanks for pointing me to @next, I'll see about using that for now.

[2018-01-16 16:21] MichaelDeBoey commented on #3708
@gaearon The copying of the script is to support both ways

1. Via an `iframe` (or just like a normal app, that's the same)
2. Use it like the `index.html` of the app uses the script

I don't think it's that weird if you think about it like that isn't it?

[2018-01-16 16:21] gaearon commented on #2498
If https://github.com/webpack-contrib/sass-loader/pull/533 gets in we have a relatively neat way of doing this. In that case the next action item here would be to ask for an alpha of `sass-loader` to be published with that change, and then we’ll be ready to take a PR to CRA that supports it.

[2018-01-16 16:22] markerikson commented on #2407
Is there a corresponding Firefox DevTools issue?

[2018-01-16 16:28] AlexMiroshnikov opened #3814 "react-dev-utils/webpackHotDevClient - SockJS - non-customisable host and port"
Hello.

I have a question about the `react-dev-utils/webpackHotDevClient`.

SockJS there (see https://github.com/facebookincubator/create-react-app/blob/next/packages/react-dev-utils/webpackHotDevClient.js#L64) is instantiated with not customized host and port but with the corresponding parameters of the original window.

Is it intended and/or are there any strict contraindications against customi

[2018-01-16 16:37] gaearon commented on #209
No because most dead-code elimination tools (including Uglify that we use) aren't smart enough to process this. Maybe Google Closure Compiler could do this but it’s too hard to integrate for CRA users.

So, does anyone still want to send a PR? I think we’d take it for 2.0.

[2018-01-16 16:40] gaearon opened #3815 "Roadmap for react-scripts@2.0"
We have just [released `react-scripts@1.1.0`](https://github.com/facebookincubator/create-react-app/releases/tag/v1.1.0) and, aside from critical vulnerabilities or similar issues, we intend this to be the last 1.x release. Our work on the 2.x release of `react-scripts` is in the `next` branch, and we switched it to be the default on GitHub. This way people who automatically sync their forks with

[2018-01-16 16:46] gaearon commented on #3672
I published a roadmap to 2.x in this issue: https://github.com/facebookincubator/create-react-app/issues/3815
Please let me know what you think!

[2018-01-16 16:46] #3672 closed

[2018-01-16 16:50] gaearon commented on #2407
I think so, mabye.

[2018-01-16 16:55] iamclaytonray commented on #1792
@gaearon - From what I have tested so far, it is Apollo-specific. Would a good alternative be to add both `graphql-tag/loader` and `babel-plugin-relay` to CRA to handle both use-cases?

[2018-01-16 16:59] iamclaytonray commented on #1792
If the above isn't a good alternative, I only see two other options:

1. Don't support it. Let users continue to eject from CRA to add this manually.

2. Someone (possibly myself) can write a Webpack Plugin to handle both Relay and Apollo. I have no idea what the implementation would look like or even if the two would play nicely together. I wish I had a better answer but I'd have to play around w

[2018-01-16 17:00] gaearon commented on #1792
For Relay, I’d like to see if recently merged `babel-plugin-macros` support is enough.

For Apollo, it seems to me odd to hardcode a filetype loader to a specific library 😞  But maybe if `apollo` is in `package.json` we could do it automatically. The trick is how to make sure every ejected user doesn’t have to deal with config for this if they don’t use this.

[2018-01-16 17:04] iamclaytonray commented on #1792
I haven't seen `babel-plugin-macros` yet so I'll have to research it/dig through the source.

Ideally, we should have a global GraphQL plugin/loader that handles Apollo, Relay, and any other GraphQL lib/framework.

I'm not sure about a good solution to the last statement you made. For users who are not using GraphQL, it adds a bit more bloat to the `node_modules` but past that, it ***shouldn't***

[2018-01-16 17:10] iamclaytonray commented on #1792
I'll note that if we come up with a good solution, I'm more than happy to submit a PR to close this issue.

[2018-01-16 17:57] amoghpalnitkar commented on #2303
I would like to contribute to this. Don't see any PRs on this yet.
Is it up for grabs?

[2018-01-16 18:05] iansu commented on #2554
I decided to try creating a PR to disable service worker by calling `unregister` with a call to `registerServiceWorker` commented out. However, after doing so I now agree with the points @petetnt raised above.

Normally I'm opposed to boolean function arguments but in this case it might be the best option. The main problem is that if you import both `unregister` and `registerServiceWorker` then on

[2018-01-16 18:08] tharakawj commented on #3814
This is totally intentional. In the given code lines, we are trying to establish a socket connection with webpack dev server which created [here](https://github.com/facebookincubator/create-react-app/blob/next/packages/react-scripts/scripts/start.js#L105) to communicate the output of the real-time webpack compiling process. I don't understand why someone needs to customize it.

If you want to cust

[2018-01-16 18:24] ak239 commented on #2407
+@aslushnikov

[2018-01-16 18:31] gaearon commented on #2303
There is https://github.com/facebookincubator/create-react-app/pull/2319 (you could see it linked above your comment), but thanks for the suggestion!

[2018-01-16 18:32] iansu commented on #209
Is this just a matter of applying `babel-plugin-transform-react-remove-prop-types` in the production webpack config?

[2018-01-16 18:54] gaearon commented on #3356
I verified https://github.com/facebookincubator/create-react-app/pull/3806 is enough both for npm and yarn.

[2018-01-16 18:54] #3356 closed

[2018-01-16 19:03] kentcdodds commented on #1792
Someone could probably build a macro to support reading in `.graphql` files:

[code]

The cool thing is you could do this locally in your own project before it's even published to npm. All without having to configure anything at all. Then when someone's got a good working version they can publish it to npm and anyone can use it. It's 100% explicit what's going on and it works without any configura

[2018-01-16 19:11] gaearon commented on #209
I think so, hopefully.

[2018-01-16 19:11] gaearon commented on #209
(or rather in our Babel preset)

[2018-01-16 19:13] iansu commented on #209
Ah, okay. It looks like that plugin also has a couple of options to consider. For example, do we want to strip `PropTypes` from packages in `node_modules`? I'm thinking no.

I'll put together a PR.

[2018-01-16 19:16] gaearon commented on #209
Not from `node_modules`. (But also we don't run our preset on `node_modules`, only `/dependencies` version.)

[2018-01-16 19:17] gaearon commented on #1792
Smart. Since we landed `babel-plugin-macros` support let's just close this, and then somebody can build a macro for it.

[2018-01-16 19:17] #1792 closed

[2018-01-16 19:24] gaearon commented on #3217
It's not usable yet (it only exists on GH, and `next` on npm is the old one), but we hope to publish it within a week or two. You can track this in https://github.com/facebookincubator/create-react-app/issues/3815.

[2018-01-16 19:25] jeffposnick commented on #2554
I'm happy to defer to the approach preferred by folks closer to the `create-react-app` project's codebase and linting constraints!

[2018-01-16 19:26] gaearon commented on #3708
Maybe. I'm struggling to understand what happens, sorry.

Could you explain it from the beginning: what you need to do, why you have two servers, how you build it, what ends up 404'ing.

Thanks.

[2018-01-16 20:07] viankakrisna commented on #3343
with the recent changes regarding to babel and browserslist, do we still need to include this file? https://github.com/facebookincubator/create-react-app/blob/next/packages/react-scripts/config/polyfills.js

[2018-01-16 20:13] dav-sap commented on #3114
I used what was said here,  `ejected `and added my own service worker with `importScripts`.
I ran `npm run build` and in production mode my `service-worker` works, but how do i make it work in development mode? I can't build it every time i want to change something.
Thanks!

[2018-01-16 20:30] oliviertassinari commented on #209
Some library authors are using the "wrap" mode of [babel-plugin-transform-react-remove-prop-types](https://github.com/oliviertassinari/babel-plugin-transform-react-remove-prop-types) to get prop-types remove from people bundles in production. This was causing confusion at the beginning. I haven't heard complains about it for months now.

[2018-01-16 20:48] MichaelDeBoey commented on #3708
@gaearon OK I'll try to explain it as clear as possible 🙂

I'm building a react app (using CRA) that's going to be used as a plugin.
The idea of the app is that the owner has a database of files and the plugin is used to show all these files (+ metadata).
So instead of offering an API for getting al the files, metadata, ... the plugin will be embedded inside the client's site.

This need to be pos

[2018-01-16 20:55] viankakrisna commented on #3708
@MichaelDeBoey maybe setting `PUBLIC_URL=__STUB__URL__` and running search & replace on the generated assets will solve your problem?

[2018-01-16 21:03] taion commented on #209
Yeah – discretion there should be left to library authors for now.

[2018-01-16 21:09] MichaelDeBoey commented on #3708
@viankakrisna That could maybe be a solution indeed. 🙂

___

I'm also looking into setting `__webpack_public_path__` on the fly (like described [in the docs](https://webpack.js.org/guides/public-path/#on-the-fly)), by having something like
[code]
[code]
And dropping the `PUBLIC_URL` variable.
@gaearon This solution could maybe be embedded inside CRA as an opt-in option?

[2018-01-16 21:25] viankakrisna opened #3819 "Add a test that tracks build performance"
I think this is useful to track whether the changes that introduced by a PR would speed up / slow down the build.

[2018-01-16 22:05] jeffposnick commented on #3574
Do you mean that you explicitly went into the browser's DevTools and cleared out the [Cache Storage API](https://developers.google.com/web/tools/chrome-devtools/manage-data/local-storage#service-worker-caches) entry for `index.html`? Yes, if you took that manual approach, I'd imagine that you could run into mismatches between `index.html` and the versioned subresources that it needs to load.

[2018-01-16 22:07] AlexMiroshnikov commented on #3814
@tharakawj
Thank you for reaction.
I do understand what happens on those lines.

Of course I know about this option, and I even use it, but imagine that I have another application which should be able to talk to the webpack dev server. Say, webpack dev server is available by `localhost:3000` and I have, for example, `anotherapp.local`, and I want `anotherapp.local` to talk to the running webpack d

[2018-01-17 00:47] gaearon commented on #3708
Tbh this sounds a bit too esoteric to me. I think it’s cool if this workaround is working for you but I don’t think we’ll be embracing something like this as a first-class feature. Usually when you need something like this you end up needing even more customizations, and at that point ejecting, forking or “rewiring” but be better anyway.

I *think* I understand the problem you're describing with `

[2018-01-17 01:27] lrn2prgrm commented on #2943
Dan seems to car though: https://github.com/facebookincubator/create-react-app/issues/2537

[2018-01-17 01:53] gaearon commented on #209
The `wrap` mode would break for libs that enumerate `propTypes` to do filtering etc. I feel comfortable with asking people not to do this in their own apps, but I'm wary of breaking third-party code like this where there might not be an easy fix.

[2018-01-17 02:01] gaearon commented on #1492
I think the most recent thinking on this is:

* For the main use case in this thread (sharing components between apps), https://github.com/facebookincubator/create-react-app/issues/1333 is the proposed solution. We even have https://github.com/facebookincubator/create-react-app/pull/3741 as a PR and although we probably won’t go with that specific approach, we’ll probably merge something in that s

[2018-01-17 02:30] gaearon commented on #2537
I think https://github.com/facebookincubator/create-react-app/issues/1333 is the first step here. It might not be sufficient for your particular use case but we'll implement it first and can then take feedback on how to expand it.

[2018-01-17 02:30] #2537 closed

[2018-01-17 03:49] irrigator opened #3822 "Documentation about source-map-explorer can be confusing"
The doc indicates that the script ```"analyze": "source-map-explorer build/static/js/main.*"``` analyzes your bundle, which is only partially true, because it only analyzes your entry bundle. Since more and more projects are using code splitting, oftentimes there will be more than one bundle. And the doc can be misleading.

Right now source-map-explorer does not support analyzing multiple bundles

[2018-01-17 04:38] magician11 opened #3823 "Proxy error: Could not proxy request (DEPTH_ZERO_SELF_SIGNED_CERT)"
I've setup a Node.js server with my React app that needs to connect to external APIs via HTTPS.

So in development I've installed a self signed cert.

[code]

A snippet from my Node.js express setup looks like so

[code]

In my package.json for the create-react-app part of the overall app I've added this snippet:

[code]

I had this working over HTTP, and then Google required my callbacks in conso

[2018-01-17 05:17] amoghpalnitkar commented on #2303
Oh of course. How did I miss that? My bad!

[2018-01-17 07:43] Pasichnyk opened #3824 "Question: How to change output folder for build files."
This is folder's structure of my project.

[code]

So I launch ```npm run build``` from **project_frontend** and I need to put build files into **project_backend**. Also I don't need to put into there files like "manifest.json", "asset-manifest.json".
Thanks.

[2018-01-17 09:10] MichaelDeBoey commented on #3708
@gaearon Well I sort of have 2 problems indeed, but they're related

Problem 1 is the breaking assets when using the `div` + `script`.
This can be solved by building the app with a correct `PUBLIC_URL` (like `PUBLIC_URL=https://plugin.domain.com/plugin-name/version-number`).

But solving it right that causes a new problem, which is that I have to build the app 2 times, because the `PUBLIC_URL` nee

[2018-01-17 09:40] miraage commented on #2498
I have some stuff in my backpack. I was forced to add `node-sass` to `react-scripts` because when I add it to project, CRA is not able to find it for some reason.

https://github.com/miraage/create-react-app/commit/751d15ed59a7e7a9ba29bc5b6c9bdd98a5e3444d

https://github.com/miraage/create-react-app/commit/4aebe2349514fee9c75ea85fbea31ea271b73dc9

[2018-01-17 10:10] AkashiX opened #3826 "Disable flowtype check."
How can I do this.

[2018-01-17 10:23] sukhminderxx opened #3827 "react-error-overlay throwing errors caught through try catch block"
Hi

I am using react version 16.x.x.
I have added a try catch block.
When my try throws an error, the catch block executes.
But after that react-error-overlay throws the error that was caught and breaks the app.

Sample code:
 try{
        initCommon();
        fin.desktop.main(function() {
           console.log('fin available');
        });
    }catch(err){
                   console.log('fin no

[2018-01-17 11:46] gaearon commented on #3827
Can you provide a complete example? It’s not very clear to me what you’re asking. Screenshots would also help b

[2018-01-17 11:58] gaearon commented on #3826
Don't use Flow? I'm not sure what you mean. CRA doesn't use Flow by default.

[2018-01-17 11:58] #3826 closed

[2018-01-17 12:00] gaearon commented on #3824
In your `package.json` you have:

[code]

You can add another script called `postbuild` that does something after the build and will be called by npm/Yarn automatically.

[code]

You could also run a custom script that does more.

[code]

Hope this helps!

[2018-01-17 12:00] #3824 closed

[2018-01-17 12:03] gaearon commented on #3708
The only other solution I can see is https://github.com/facebookincubator/create-react-app/issues/3708#issuecomment-355982603.

It won't work for you if you use `pushState` routing because then if the user loads `http://plugin.com/plugin-name/my/client-side/path` then the assets will be requested relative to that. But I’m not sure you’re using client-side routing like this?

Other than that I don’

[2018-01-17 12:07] gaearon commented on #3822
Sure, let's mention this in the doc. Wanna send a PR?

[2018-01-17 12:25] StekolschikovV opened #3830 "The first project on the server."
Hi!

I'm doing a first draft using create-react-app.

When I work on the local computer - all good! If I do build the project and upload it to the server I have the error:

1) The file paths. I need to manually change the paths (="/ ---> ="./) in the file index.html. If this is not done - nothing works.

2) When the page loads I get the console error(Error during service worker registration: DOMEx

[2018-01-17 12:37] MichaelDeBoey commented on #3708
@gaearon I'm using client-side routing (`react-router`), so setting the homepage won't work either 😕

I've already looked into setting `__webpack_public_path__` to the file-path of the current running script (ref: [StackOverflow](https://stackoverflow.com/q/2255689)), which would be possible by calling `document.currentScript` (ref: [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Document/c

[2018-01-17 12:41] gaearon commented on #3708
Maybe. I'm afraid I'm out of suggestions because I don't know how `__webpack_public_path__` works in webpack.

[2018-01-17 12:43] MichaelDeBoey commented on #3708
@gaearon I found it in their docs 🙂
https://webpack.js.org/guides/public-path/#on-the-fly

[2018-01-17 12:47] gaearon commented on #3830
They are intentionally absolute because if they were relative, client-side routing (extremely common in React apps) wouldn’t work. You’d load `todos.com/todo/42` and it would try to load JS from `todos.com/todo/42/static/js` instead of `todos.com/static/js`.

What's your problem with using absolute paths? If they're not correct (e.g. if you host your project at a subfolder), you can set the `homep

[2018-01-17 12:47] #3830 closed

[2018-01-17 12:47] thomasbertet opened #3831 "[forked react-scripts] Overlay content contains unwanted chars"
Hi there,

### Is this a bug report?
**No**

### :heart:
Really love this project & what this community does, so first thanks for that !  :)

I'm not really reporting an issue, I'm more asking for an hint on where I'm missing something.

### Context
**I'm using a fork of react-scripts** that lives inside a private repo.
I have kind of forked react-scripts, and customized it to my specific needs.
A

[2018-01-17 12:49] gaearon commented on #3831
This looks to me like you're not showing a *build-time* error early enough and so you end up showing a runtime error thrown in this case by webpack instead.

[2018-01-17 12:50] gaearon commented on #3831
It might also be that you're showing both, but the runtime overlay z-index is higher than the build overlay z-index. Although in latest versions of `react-dev-utils` those overlays were unified so you should never see them both at the same time.

[2018-01-17 13:06] MichaelDeBoey commented on #3708
@gaearon I don't know how `PUBLIC_URL` is implemented right now, but I think that my solution could be a possible default for it?
So instead of using a relative path, use an absolute path (the app-root directory).

I think this will probably (as a default) be the best solution instead of deriving it from `homepage` (in `package.json`) or by setting the `PUBLIC_URL` manually in most cases.
We can s

[2018-01-17 13:09] gaearon commented on #3708
I'm not sure. If you can write a proposal in another issue with how it should work instead we can take a look.

[2018-01-17 13:09] thomasbertet commented on #3831
I'm using the latest version of react-dev-utils (ie. ^5.0.0). It seems there are not two different error overlays at the same time.

The error is clearly thrown at build-time, I did a syntax mistake on purpose to try the error overlay.
It seems odd to me that the message in the command line is nice, but not the one inside the error overlay. Are they generated by two different mechanism ?

[2018-01-17 13:12] MichaelDeBoey commented on #3708
OK I'll try to submit one asap 🙂

[2018-01-17 13:23] gaearon commented on #3831
I think you want to debug why [this](https://github.com/facebookincubator/create-react-app/blob/a3d002e0b3ba298225b79d8da44804d628c03dc2/packages/react-dev-utils/webpackHotDevClient.js#L172-L173) doesn't get called.

[2018-01-17 13:25] thomasbertet commented on #3831
Nice that is what I was looking for, a nice hint to start debugging. Thanks so much Dan :+1:

[2018-01-17 13:27] gaearon commented on #3831
You could create a new project and then look side by side at which events are received by the client.

[2018-01-17 13:28] thomasbertet commented on #3831
Yep I have another project running a proper version of CRA, will do !

[2018-01-17 13:54] MichaelDeBoey commented on #3708
@gaearon OK I'll try to submit one asap 🙂

[2018-01-17 15:10] sukhminderxx commented on #3827
Hi Gaearon,

Please find the screenshot:
![image](https://user-images.githubusercontent.com/35064031/35049412-f0112d44-fbc5-11e7-88e9-70b12e6496f4.png)

Its a try catch block. Ideally, the exception should be thrown to catch and the app should work.
But after the catch gets the exception, the error forces the app to halt.

![image](https://user-images.githubusercontent.com/35064031/35049498-3a21cb

[2018-01-17 15:11] sukhminderxx commented on #3827
Attached: console showing the the catch block executes:

![image](https://user-images.githubusercontent.com/35064031/35049655-cab04f34-fbc6-11e7-8929-2c4db92087ff.png)

[2018-01-17 15:15] gaearon commented on #3827
Okay, so the problem here is not the exception, but a strict lint check.

We ask that if you must intend to use a global variable, you should prefix it with `window.` to make the intent clear. This helps discover typos.

If you replace `qwerty` with `window.qwerty` your example will compile.

[2018-01-17 15:15] #3827 closed

[2018-01-17 15:24] gaearon commented on #2278
Landed into the `next` branch in https://github.com/facebookincubator/create-react-app/pull/2285.
Thanks for sticking with us!

[2018-01-17 15:24] #2278 closed

[2018-01-17 15:59] leepowellcouk commented on #167
Just fork this repo, make your changes to the react-scripts package to suit your requirements and then use with the `--scripts-version` argument when creating your project.

[2018-01-17 16:13] joshwcomeau commented on #1858
Sorry for the delay in this. It's a particularly busy week for me, traveling for work. Haven't had the time I expected to work on this! Will try and pick it up over the coming weekend.

Hmm... so my concern with that is that I think of the `/build` directory as the shippable production assets. My deploy script, for example, just copies that directory to the server. It doesn't fit, semantically, wi

[2018-01-17 16:14] MichaelDeBoey opened #3834 "Set 'currentScript' as default 'PUBLIC_URL'"
Like I suggested in [#3708 (comment)](https://github.com/facebookincubator/create-react-app/issues/3708#issuecomment-358298289), `currentScript` could be a possible default for `PUBLIC_URL`.

Right now **all** asset paths are relative (ie `/static/media/logo.2e151009.png`) to the root of the app.
When setting the [`PUBLIC_URL` environment parameter](https://github.com/facebookincubator/create-reac

[2018-01-17 16:15] MichaelDeBoey commented on #3708
@gaearon Made a proposal in #3834 🙂

[2018-01-17 16:40] probablyup commented on #209
Aren’t propTypes required for anything using context?

[2018-01-17 17:07] EnoahNetzach commented on #3777
A couple of considerations/questions:

 1) I propose we create a "fake" ES6 package crafted so that every main ES6+ syntax feature is certainly included.

 2) The "too old" heuristic is to be done on the `node_modules` if I understood that right?

 3) In order to verify it doesn't break third-parties, we could just add an integration test that relies on the "fake" ES6 package, similarly to what we

[2018-01-17 17:08] tharakawj commented on #3814
I don't understand why an app needs to connect to webpack dev server of another app. Even though we can technically imagine such scenario, practically it will be a very rare use case.

The [core idea](https://github.com/facebookincubator/create-react-app/blob/next/CONTRIBUTING.md#core-ideas) of CRA is avoiding configuration and flags to provide the best experience for people getting started with R

[2018-01-17 18:02] JoshuaKGoldberg opened #3835 "Add TypeScript typings for react-dev-utils?"
https://github.com/DefinitelyTyped/DefinitelyTyped/issues/21461

It'd be great if these came packaged with the npm package instead of separately installable via `@types`.

[2018-01-17 18:12] remy commented on #1084
Hey, I'm hoping I can get some advice. I'm successfully following [this technique](https://github.com/facebookincubator/create-react-app/issues/1084#issuecomment-308731651) outlined by @maoshuai 👍 but when it comes to the `npm run build` I'm a little stuck.

I've been tweaking the `webpack.config.prod.js`. So far I've added the following into the `entry` object:

[code]
…which generates the right

[2018-01-17 18:59] gaearon commented on #3256
I'd also add that this always happens if your project was created with Yarn (because you have it on your system) but then you attempt to `npm install` something. If you use Yarn, always do `yarn add`. I filed an issue about this here: https://github.com/yarnpkg/yarn/issues/5240.

[2018-01-17 19:24] isaacguerreir commented on #3815
Hi, @gaearon!

I'm really excited about this announcement. The create-react-app is a important tool in my work and side projects. I don't have experience with open source projects and the source code of create-react-app. Do you think that people with no experience could contribute?

[2018-01-17 19:40] #1388 closed

[2018-01-17 19:41] gaearon commented on #1388
This is now implemented in https://github.com/facebookincubator/create-react-app/pull/3718.

[2018-01-17 19:43] gaearon commented on #3815
Sure, maybe! Please message me on Twitter.

[2018-01-17 19:49] Timer commented on #3835
Given the nature of this project, I don't think we're going to be maintaining any typings (unless they're Flow).

We'll leave this up to the ecosystem (under `@types`). Thanks for the suggestion, though!

[2018-01-17 19:49] #3835 closed

[2018-01-17 20:08] brysgo opened #3837 "`node-copy-paste` breaks on android (termux)"
When trying to create a new CRA project on android, `node-copy-paste` causes a crash because of a platform check.

[2018-01-17 20:12] rs-8 opened #3838 "Preload all pictures before rendering components"
Is this a bug report?
**No**
Unfortunately I could not find the answer in the documentation and on the internet, I hope that you will help me.
I create memory card game. Now pictures for game are loaded directly after the rendering of the card component with background-image. Therefore sometimes there are friezes. I want all the pictures to be loaded before showing the main screen using a preloade

[2018-01-17 20:12] brysgo commented on #3837
Confirmed with `yarn link` that the above PR fixes this.

[2018-01-17 20:24] mikestopcontinues opened #3839 "Disable eslint radix rule"
I find this rule tedious and kinda pointless. I've honestly never encountered the issue in 13 years of web development.

That said, I do understand why it's recommended. But considering everyone here is developing react apps, chances are they're also working in ES5+ environments.

Please consider dumping this rule (or using local eslint config files—such as in the local package.json). Thanks!

htt

[2018-01-17 20:25] gaearon commented on #3837
How do we use `node-copy-paste`?

[2018-01-17 20:27] gaearon commented on #3839
Happy to take a PR removing it. Agree it's probably not useful.

[2018-01-17 20:28] gaearon commented on #209
No, `contextTypes` / `childContextTypes` are. Those aren't removed as far as I can tell.

[2018-01-17 20:29] #209 closed

[2018-01-17 20:29] gaearon opened #3840 "Add ESLint check for incorrect propTypes usage"
See https://github.com/facebookincubator/create-react-app/pull/3818#issuecomment-358335111.
This depends on https://github.com/yannickcr/eslint-plugin-react/issues/1647 getting resolved.

[2018-01-17 20:30] gaearon commented on #3838
You can create `Image` objects and define their `onload` handlers. Please search for how to use `Image` and `onload`. I hope this helps!

[2018-01-17 20:30] #3838 closed

[2018-01-17 20:40] valscion commented on #1858
I think you have valid points. We should then figure out how we can help users get the stats reported correctly. I think documenting this will be key :). Users will have to remember to use both CLI arguments with CRA.

[code]

[2018-01-17 20:45] gaearon commented on #3790
I bumped Babel version on `next`.

[2018-01-17 20:45] #3790 closed

[2018-01-17 20:46] JoshuaKGoldberg commented on #3835
:( darn. That's very disappointing. Thanks for the quick response.

[2018-01-17 20:51] gaearon opened #3841 "Build/ESLint error output is messed up"
I observe this on `next` when I make a syntax error:

![](https://i.imgur.com/v05IQrL.png)

Note it's duplicated and has no color highlighting (different issue from https://github.com/facebookincubator/create-react-app/issues/3790 though which got solved).

Seems like it *might* be caused by `thread-loader` in development?

If I remove `thread-loader` I get a different issue:

![](https://i.imgur.