[2017-01-24 10:02] #1436 closed

[2017-01-24 10:28] gaearon commented on #1436
Thanks for reporting. Indeed looks like a Yarn bug.

[2017-01-24 10:30] gaearon commented on #1435
This is not currently supported. Why would they get conflicts though? If it’s a single line change they should be able to merge any other changes without conflicts (unless you will change *your* URL again).

[2017-01-24 10:30] gaearon commented on #1429
That would explain it!

[2017-01-24 11:09] gaearon commented on #1434
I'm happy to consider feature requests on case by case basis. For example I think we could enable `OfflinePlugin` by default. I just don't know enough about it so I have been postponing this until a later stage.

[2017-01-24 12:15] jnachtigall opened #1438 "Environment variable not accessible in public/index.html"
My  `public/index.html` seems to have access to `PUBLIC_URL` but not to any other environment variable.

[code]

still when referring the var `REACT_APP_ASSETS_URL` is not resolved in `public/index.html`:

`npm start` results in `URIError: Failed to decode param '/%REACT_APP_ASSETS_URL%/main.min.js'` and the html still has the var string unresolved whereas the js code can access the var with `<str

[2017-01-24 12:29] gaearon commented on #1438
I agree it would be a nice feature to have. Want to send a PR?

[2017-01-24 12:35] jnachtigall commented on #1438
@gaearon No time, sorry (life, kids, job - in random order).

[2017-01-24 14:50] Khangeldy opened #1439 "react-scripts binary is disappeared"
I using both yarn and npm. After i install `yarn add moment`, react-scripts is not recognized as operable. Then i check bin folder, it was deleted. In other projects created with create-app-react everything fine. I faced this problem second time.  I don't want install all modules again. How to prevent this ?
[code]

[2017-01-24 15:15] Khangeldy commented on #1439
Can i generate binary files again? Or can i copy binary from other folder and place it ?

[2017-01-24 15:34] jihchi commented on #1438
hi @jnachtigall @gaearon,

I think it should be easy so I sent a PR.

[2017-01-24 16:00] Urthen commented on #472
Can you send the entire error message as well as the exact path (Run 'pwd'
in shell on *nix based systems)?

It sounds like something, somewhere is expecting you to have it lower
cased, and using upper case in the folder name is triggering the plugin.

On Mon, Jan 23, 2017 at 8:00 PM zhangchf <notifications@github.com> wrote:

[2017-01-24 16:17] gaearon commented on #1439
Please report the bug to Yarn and use npm if it keeps repeating until Yarn is fixed.

[2017-01-24 17:19] jkimbo commented on #1397
@gaearon https://github.com/facebookincubator/create-react-app/pull/1441

[2017-01-24 17:21] gaearon commented on #1397
Fixed by #1441, will be out in 0.9.0.

[2017-01-24 17:21] #1397 closed

[2017-01-24 18:46] krsjoseph commented on #1381
@gaearon I'll take this on.

[2017-01-24 18:47] gaearon commented on #1381
Sounds great!

[2017-01-24 20:03] krsjoseph commented on #1381
Where should this page be hosted?

We can go really simple and just create a EXAMPLES.md file in the repo and link to that from the App.js component and a link in the cli after you run create-react-app

Or it be a page hosted and on a simple wiki or a like React [https://github.com/facebook/react/wiki/Examples](url)

Or it be a could be a new Example component in the template files
![image](https:

[2017-01-24 20:41] soyFerrero commented on #1330
I have the same issue>
(windows 10)

[code]

some idea?

[2017-01-24 21:03] JasonKDarby commented on #1435
I guess I mean if they intend to merge updates back into my repo then they have to revert their homepage change, get it merged into mine, then change their homepage back.  If all changes are from me to them then yeah there's no issue but if they're proposing changes in my direction hopefully you see where I'm coming from.

[2017-01-24 21:19] rgdelato opened #1442 "Allow passing options to babel-preset-react-app"
I'm using `babel-preset-react-app` outside of `create-react-app`, and I'd like to be able to pass options down to the underlying Babel modules that are being used. For example, maybe something like:

[code]

...to pass a config object to `babel-preset-latest`. I understand that CRA has a general aversion to adding configuration, so I wanted to ask if this seemed like a reasonable addition (since t

[2017-01-24 21:29] Timer commented on #1442
Related #1415

[2017-01-24 23:47] gaearon commented on #1330
This looks odd:

[code]

My guess is something’s wrong with your environment variables or your Node setup.
The only similar issue I could find is [this one](http://stackoverflow.com/questions/40559451/npm-err-file-windowspowershell-v1-0-while-npm-node-sass-on-windows-7).

Unfortunately there’s not much I can help with. It’s definitely a problem with how Node is set up on your computer, and you’d n

[2017-01-24 23:47] #1330 closed

[2017-01-25 06:18] marcelopm commented on #1007
:+1:

[2017-01-25 12:38] asbjornenge commented on #93
What? React hot-reloading is like the main reason I would want (and need) this tool :astonished:

[2017-01-25 15:14] #1439 closed

[2017-01-25 15:15] gaearon commented on #1439
You should be able to run `npm install` (if `yarn` doesn't work).

[2017-01-25 15:28] Khangeldy commented on #1439
@gaearon Спасибо. Просто локально с другой папки установил.

[2017-01-25 15:55] viankakrisna commented on #93
@gaearon what's the real issue with react hot reloading? I think it's nice to integrate that in CRA. Also, when it's integrated, more people can see and help react-hot-loader smooth out its issue.

[2017-01-25 16:38] jdarling opened #1448 "How to add static pages?"
I couldn't find this in the documentation and am lost as to how exactly I should go about creating additional static pages/folders outside the default index.html

In my case I want to create a folder (admin/) that contains a different index.html file that contains a complete app that imports parts of the root app.

What is the right way of doing this?

[2017-01-25 16:54] viankakrisna commented on #1448
why not just use react-router?

[2017-01-25 16:59] jdarling commented on #1448
Because I don't want all assets delivered to "normal" users that are only associated with administrative users.

[2017-01-25 17:01] viankakrisna commented on #1435
Why do you need to change the homepage for development? I think homepage is for production build. Don't see why it should / would be changed with every developer who collaborating because we serve the development build on localhost:3000 or anything based on your current HOST and PORT env variable

[2017-01-25 17:07] viankakrisna commented on #1448
It can be done with code splitting though. https://www.drewbolles.com/blog/2016/11/14/webpack-code-splitting-with-create-react-app-react-router/

[2017-01-25 17:11] jdarling commented on #1448
So, is the answer that static pages outside of index.html are not supported?  I don't have any "need" or want to start using React-Router at this point.

Just playing around with create-react-app to see if it fits our business needs and would be a suggestible solution, and what cases fall outside when to suggest it.

Naturally the Admin section could be built in a separate project and pull from co

[2017-01-25 17:12] viankakrisna commented on #1424
See this issue
https://github.com/facebookincubator/create-react-app/issues/1354

[2017-01-25 17:13] JasonKDarby commented on #1435
In our case we are deploying to github pages outside of an organization, so it doesn't make sense for my bud's repo to deploy to my pages.  I understand that it obviously fits in an organization type setup where there's a clear, single `homepage` for the project, but that's just not how we were planning to use it at the moment.

I understand if you don't see my use case as worth supporting, or if

[2017-01-25 17:26] viankakrisna commented on #1448
AFAIK the production build script only process one index.html (for assets url) from the public folder and generates hashed assets for that build, so for your use case I think it's best just to build a separate project for admin section or use react router.

[2017-01-25 17:51] viankakrisna commented on #1298
when all else fails, just include it your public folder and reference the file from index.html. or use cdn.

[2017-01-25 18:40] gaearon commented on #1448
Building a separate page is not supported out of the box, sorry!
You would need to eject and tweak your Webpack configs and build script to get this working.

You *could* implement this with code splitting, but it would mean `admin` part, when necessary, always loads after the main bundle. To make it load immediately when you go to `/admin`, you would still need to eject (and add an additional ent

[2017-01-25 18:54] Timer commented on #1192
@gaearon your comment [here](https://github.com/facebookincubator/create-react-app/issues/1448#issuecomment-275194367) just reminded me of this; should we disallow the usage of `require.ensure` once we add support for `import()`?
AFAIK `require.ensure` is webpack-specific and in the future if we switch away from webpack (e.g. [`pundle`](https://github.com/motion/pundle)) we'd have to polyfill it.

[2017-01-25 19:00] gaearon commented on #1192
Yea, could write a lint rule for this.

[2017-01-25 19:00] SpaceK33z commented on #1413
Could you find out for me if this also happens when using webpack-dev-server directly? I'm the maintainer of webpack-dev-server and could fix this if it is an issue in our package.

[2017-01-25 20:25] rgdelato commented on #1442
@Timer @sheerun

I think it'd be better to do this for all of the included babel presets rather than just for `babel-preset-env`, so maybe it'd be better if #1415 placed it's corresponding config underneath an `env` key, like this:

[code]

[2017-01-25 21:23] patorjk commented on #1413
I created a light weight app using just webpack-dev-server and got the same issue. I can't cut and paste, so I just re-typed it below. The app it's trying to proxy to is running on port 8080 (on the same box as this app) and is running using expressjs.

    var webpack = require('webpack');
    var WebpackDevServer = require('webpack-dev-server');
    var fs = require('fs');
    var splitca = requ

[2017-01-25 21:46] viankakrisna commented on #1448
so we can just  conditionally `require.ensure` inside components?

[2017-01-25 22:06] gaearon commented on #1448
Sure, you should be able to.

[2017-01-25 22:12] coryhouse opened #1450 "Feature: Support querystring on npm start"
Some apps need to be started with querystring parameters. So it would be helpful to specify an optional querystring for npm start.

Suggested approach:

[code]

Thoughts?

[2017-01-25 22:32] viankakrisna commented on #1448
Great! Thank you!

[2017-01-26 10:58] juliaogris commented on #1084
I'm also trying to implement a User / Admin scenario.

@carruthe, I believe your approach is not working for me because the User part is simple and should be as light weight (code size wise) as possible as it's expected to be accessed mainly on mobile. The Admin part is more complex with more dependencies and expected to be accessed predominantly on desktop. I'd therefore prefer separate JS bundle

[2017-01-26 12:46] FacundoGFlores opened #1451 "Eslint error loading custom import"
I am using the `adal-angular` package and algo `expose` library. The thing is I need to import the `AuthenticationContext`

`var AuthenticationContext = require('expose?AuthenticationContext!adal-angular');`

but `create-react-app` webpack can not compile it because there is a flag for handling this kind of things:

`import/no-webpack-loader-syntax `

inside the `eslint-config-react-app`.

So I ha

[2017-01-26 13:51] gaearon commented on #1451
Create React App doesn't support Webpack loaders. If you eject, you can customize ESLint config any way you like (and replace our preset with any other preset you prefer).

I would, however, recommend using regular JS instead of webpack loaders. This code:

[code]

is equivalent to this code:

[code]

Unlike the first one, it's not specific to Webpack.

[2017-01-26 13:51] #1451 closed

[2017-01-26 14:52] SpaceK33z commented on #1413
Okay, AFAIK that's not really a bug (at least not in WDS). webpack-dev-server only passes through the certificates and uses the standard `https.createServer` from Node.js.

[2017-01-26 15:36] patorjk commented on #1413
Would it be possible to additionally make the "headers" option in the WebDevServer configuration a function that took in the request object and returned an object for the headers? If so, I could set a header with the needed information from the user's cert and that could get passed along to the expressjs server.

The expressjs server reading a header for the user cert information wouldn't be secur

[2017-01-26 15:48] SpaceK33z commented on #1413
Sure, I'll accept a PR for that ;).

[2017-01-26 17:00] bryandbor opened #1452 "Build Single File for Distribution"
I'm building a small app that will need to act as a library for a client. They will need to pull a single JS and CSS file from me and then initialize my code using their own JS files. Therefore, I need to find a way to build my project into a single JS and a single CSS file. Is there a way to build with this in mind?

Example:
index.html
[code]

index.js
[code]

I am not worried about giving these

[2017-01-26 18:41] gaearon commented on #1452
Isn't `npm run build` providing you with a single file?

[2017-01-26 18:45] GautierT opened #1454 "`Module build failed: BrowserslistError: Unknown version 55 of and_chr` on npm run build"
When i run npm run build i have this error

[code]

Same error when deploying to Netlify.

Last good deploy was January 17, 2017 with `"react-scripts": "0.8.4"`

Here is my package.json
[code]

[2017-01-26 18:49] GautierT commented on #1454
I just made a `Clear Build Cache` deploy on Netlify and everything is okay now.
At least someone will have a google result for this error ! 🤔 🙄

[2017-01-26 18:49] #1454 closed

[2017-01-26 18:56] NikitaLiashenko opened #1455 "How to exclude some files and folders from coverage report?"
I am trying to exclude some JS files from coverage report.
I have already added this to package.json
[code]

Unfortunately files from those dir still appear when I run `CI=true npm test -- --coverage`

[2017-01-26 19:46] StuAtGit commented on #1424
Hmm... the issue @viankakrisna is interesting, but not sure how it addresses this specific issue - I'm not trying to customize the build folder for my particular project, I just don't want my source to be minified and inlined into one file. It's fine if there is a standard option with a standard layout that does this.

[2017-01-26 20:05] StuAtGit commented on #1424
To be clear, I'm looking for a standard option to generate debug builds.

[2017-01-26 20:09] Timer commented on #1424
You should just be able to ship the source map with the production build and get the niceties of debugging, actual source, etc.

[2017-01-26 20:27] StuAtGit commented on #1424
@Timer Thanks! Was shipping, and did not know... but also ... only sort of kind of it does that. The debugger can see the actual source, so that's mostly there (and I just learned that)... but still, it nice to have the actual source file - and server-side, and not just in a debugger - especially when dealing with configs that vary - the public options gets you there, but a little roundabout.

Als

[2017-01-26 20:33] Timer commented on #1424
Is this what you're looking for to manage configuration?
https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-custom-environment-variables

As for what you're trying to do (non-minified, etc), we don't provide any way to do that -- though you could use `require.ensure` to split your build into multiple files. I'm not sure if support wil

[2017-01-26 20:43] StuAtGit commented on #1424
Ah ok. Thanks for the info @Timer require-ensure is cool, but not really what I'm looking for. Sounds like it's best to close this as won't-fix for now. Will do that.

I come from a world where I don't minify and inline without excellent reasoning (I've never seen a convincing bandwidth argument (vs gzip), even for mobile, but javascript & decompress overhead, I don't know as much about that), so

[2017-01-26 20:43] #1424 closed

[2017-01-26 20:44] StuAtGit commented on #1424
I can't add won't fix, for some reason, so that will need to be added by someone else.

[2017-01-26 21:06] jturbo26 commented on #637
I had this error and it was because I created my components folder outside the src folder. Once I moved it inside src everything worked fine.

I just wanted to drop my amateur mistake and solution here just in case someone comes across it in the future.

[2017-01-26 22:06] mmrath commented on #1183
Instead of react-scripts I used [react-scripts-ts](https://github.com/wmonk/create-react-app-typescript), node_modules folder was 137MB instead of 561MB

[2017-01-27 06:09] ShashankaNataraj commented on #301
@gaearon How about yarn instructions? Are they reqd? Or just overkill?

[2017-01-27 06:59] Daniel15 commented on #1183
https://github.com/yarnpkg/yarn/issues/2306 should help with that, once implemented!

[2017-01-27 08:01] mnemanja opened #1456 "debug_fd deprication warning message"
This is more of an annoyance then a problem.

After starting the react-script this message gets displayed:
[code]

The issue in question is the DEBUG_FD. Like I've mentioned already, this is simply an annoyance at this point and I'd like to resolve it if possible.

Is there a way of solving this from my end?

Node version 6.9.4
Npm version 4.1.1
Environment Windows 10

[2017-01-27 11:44] tuchk4 commented on #1354
btw. This feature is useful along with entry point customizing.

[code]

But anyway we should not expect such customizations in near future :)

https://github.com/facebookincubator/create-react-app/pull/1362#issuecomment-271284738

[2017-01-27 15:17] bryandbor commented on #1452
I was under the impression that `npm run build` would commonly split the build into multiple files in order to give your code the "Just in time" code feel (pulling in code only if/when it is necessary to enable certainly functionality)? If I'm wrong, then this is a non-issue. :)

[2017-01-27 17:27] saimonmoore commented on #346
I'm a new user to react-native, just got it installed. The documentation seems to be missing the react-native start step and then I noticed the same watchman warning as in this thread (I'm not a facebook engineer :trollface: ) so I think the docs are still lacking a section about how to improve performance of the watchers in general. My 2c.

[2017-01-27 17:52] kauffecup commented on #1388
as a workaround you can do something like:
[code]
then you can take in props and use those to adjust the fill

[2017-01-27 17:58] gaearon commented on #1456
Can you find which package calls the function?

[2017-01-27 18:01] gaearon commented on #1452
No, by default it bundles everything into a single JS file. You do have an option of code splitting (by calling `require.ensure`), but it's not the default.

[2017-01-27 18:01] #1452 closed

[2017-01-27 18:57] edhenderson commented on #1388
@kauffecup I'm new to ES6, React and this library so apologies if silly questions... Are you saying make a file called `something.js` that is essentially a wrapper around an SVG? How would you call this in another file.

Also, thank you.

[2017-01-27 22:10] gr33nfury commented on #798
Is this still a discussion? I was thinking of trying and implementing what @mxstbr mentioned.

[2017-01-27 22:15] gaearon commented on #798
Feel free to send a PR!
I’m a bit behind the issues right now but maybe other maintainers can provide feedback.

[2017-01-28 15:47] epitaphmike commented on #346
I came across this issue this morning when running Jest on a different machine. I had no idea I had watchman installed. Looking in my usr/local/bin I found out I installed it back in April 2005 along with React-Native when I was experimenting. I will post an issue with watchman in regards to their error message in hopes they will make it less cryptic.

[2017-01-28 18:44] cdaringe opened #1465 "request for instructions on mapping webpacked content into chrome workspace"
# problem statement

- it would be nice to be able to live edit content in chrome.  see [ref](https://medium.com/@rafaelideleon/webpack-your-chrome-devtools-workspaces-cb9cca8d50da#.8th7r8gdt)

# discussion

perhaps a user doing so successfully can whip up a brief README patch with the required steps!

[2017-01-29 00:06] kristojorg commented on #1388
@kauffecup I tried your method of inlining an SVG into a component, but am seeing a webpack hot dev client error that it cannot build the module...

<img width="833" alt="screen shot 2017-01-28 at 7 04 38 pm" src="https://cloud.githubusercontent.com/assets/4398775/22400794/b595bd38-e58c-11e6-982b-cb2237a4030a.png">

Any ideas what might be causing this?

[2017-01-29 00:22] davidascher opened #1466 "Importing assets doesn't work in tests"
### Description

By design, react-script's support for jest comes with a prebuilt Jest config.  This config is created here: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/utils/createJestConfig.js

### Expected behavior

This default config is fine, but at least as far as I can figure out, runs into problem for code that uses non-js loaders.  In my case,

[2017-01-29 00:29] kristojorg commented on #1388
Update for anybody else seeing this: the issue was resolved when I removed namespaces from the svg, since `jsx` is not `xml`, they cause errors.

[2017-01-29 04:27] johanventer opened #1467 "Possible to disable jsdom for some test suites?"
I'm working on an app that uses Amazon's API Gateway, the JS SDK uses axios under the hood. The tests that call a service fail with the following when using jsdom:

[code]

If I disable jsdom (by removing --env=jsdom from package.json) then these tests succeed. However, this then makes tests using ReactDOM.render fail.

Can I have my cake and eat it to? Perhaps some way to disable jsdom in particu

[2017-01-29 04:45] johanventer commented on #1467
Nevermind, I worked this out. I can force axios to use it's http adapter, rather than the xhr adapter it defaults to (because it detects jsdom's provided XMLHttpRequest) with:

`axios.defaults.adapter = require('axios/lib/adapters/http');`

[2017-01-29 04:45] #1467 closed

[2017-01-29 08:05] JaKXz commented on #1183
The [`istanbul-reports` PR has been merged and released](https://github.com/istanbuljs/istanbul-reports/pull/17#issuecomment-275897883)! 😃

[2017-01-29 19:38] gaearon commented on #1183
This is likely because you have Yarn installed, and Yarn has a bug.
This will be fixed in next release: https://github.com/facebookincubator/create-react-app/issues/1397

[2017-01-30 08:31] robcaldecott commented on #1455
OK, I needed to ignore all `*.stories.js` files and you can do this by overriding the value for the Jest `collectCoverageFrom` option, which can be passed on the command-line via a custom `npm test` command. **Note that `collectCoverageFrom` expects an array so to pass multiple values you specify the option multiple times**.

For example:

[code]

Notice the exclamation point (can I still call it

[2017-01-30 09:09] bibinkn opened #1468 "Getting npm error while creating react app"
I'm new to reactjs and I'm trying to create a react app from scratch. I tried using the instructions from (https://facebook.github.io/react/docs/installation.html) and while giving the npm command

[code]
I'm getting the below error in the command promt, I have updated the proxy setting and all but still the same error, Please help!!!

[code]

[2017-01-30 09:25] joshhornby opened #1469 "Static config file at project root"
_After searching through the issues I can't seem to find anyone asking this, but if I have missed it please link me to it._

I know CRA has the concept of [env variables](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-custom-environment-variables) but I am looking for a little more than this (I want to include objects and arrays).

[2017-01-30 15:08] ericdfields commented on #1388
@kauffecup that's adding extra js cruft to what should be a standalone svg resource. Not ideal.

@edhenderson I think using svg-react-loader that I mention in the OP will get you what you want. It's working perfectly for me, of course you have to eject from create-react-app first.

[2017-01-30 15:47] mnemanja commented on #1456
In the code there is no call for it.
In the node_modules these modules I've found using it:
- express
- compression
- finalhandler
- send
- eslint-module-utils
- serve-index
- ajv
- debug

[2017-01-30 17:12] NikitaLiashenko commented on #1455
@robcaldecott
Unfortunately I have an error every time I try to pass param with exclamation point.
`bash: !src/**/*.stories.js: event not found`

[2017-01-30 17:13] NikitaLiashenko commented on #1455
Can I override the value for the Jest config option in another way?

[2017-01-30 18:46] gaearon commented on #1468
The problem is with npm not being able to access the network:

[code]

Unfortunately we don’t provide support for npm itself—you’d need to file an issue with them if for some reason your proxy settings didn’t work.

I’m closing since it’s not actionable for us, but thank you for reporting!

[2017-01-30 18:46] #1468 closed

[2017-01-30 22:02] artofspeed opened #1473 "will removing unused import reduce file size"
In dev mode, browser gives warning when react have unused import. Question is, if i remove them, will the built js file (created by `npm run build`) have less size?

Thanks!

[2017-01-30 22:25] tbillington commented on #1473
You should just try it :) It will be very easy to tell.

[2017-01-31 03:07] aztecrex opened #1474 "Error in jest watch when using yarn for dependency installation"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?

Can you still reproduce it?

Yes.

### Description

`npm test`, `yarnpkg test`, `yarn test` all fail when dependencies are installed with
`yarn install`.  They all work fine when dependencies are installed with `npm install`.

In CI mode (not

[2017-01-31 07:15] webkay commented on #138
In case `yarn global add create-react-app` has been used, I found create-react-app here https://github.com/yarnpkg/yarn/issues/1151#issuecomment-269195959

[2017-01-31 14:50] gaearon commented on #1473
Yep, give it a try :-).

[2017-01-31 14:50] #1473 closed

[2017-01-31 14:52] gaearon commented on #1474
Can you check if `node_modules/fsevents` exists after installing with either Yarn or npm?

[2017-01-31 16:50] robertlyall commented on #1474
I'm having the same problem with version 1.0.3.

`fsevents` existed in my `node_modules` directory after installing with `npm install`, `yarn install` and `yarnpkg install`, however I could only run tests after installing with `npm`.

[2017-01-31 17:03] gaearon commented on #1474
Which version of Yarn are you using?

[2017-01-31 17:04] robertlyall commented on #1474
I'm using Yarn version 0.19.1.

[2017-01-31 17:04] gaearon commented on #1474
Could this be a regression? Would you mind installing 0.18 and trying again?

[2017-01-31 17:15] robertlyall commented on #1474
Experiencing the same problem with both 0.18.0, 0.18.1 and 0.20.0.

It may be worth noting that I'm using Yarn installed globally via NPM. I can try again using Homebrew if you'd like?

[2017-01-31 17:25] aztecrex commented on #1474
The one giving me trouble is 0.19.1 installed via Homebrew

[2017-01-31 17:40] artofspeed commented on #1473
Is it possible for build system to autimarically remove them?

[2017-01-31 17:40] gaearon commented on #1474
Can you figure out what the difference between installs produced by Yarn and npm is? Is some package or binary missing?

[2017-01-31 18:11] robertlyall commented on #1474
I'm not sure what's the best way to do that. Do you have any suggestions?

I ran `npm ls` after `yarn install` and saw the following error:

[code]

`npm start` does not show the same error.

[2017-01-31 18:22] hongrich commented on #1474
Is this the same as https://github.com/facebookincubator/create-react-app/issues/871? Maybe try installing `watchman`?

[2017-01-31 18:22] aztecrex commented on #1474
i just pushed the repo with both node_modules and a diff. Interesting, here is the result of `du -sh *`

[code]

[2017-01-31 18:32] aztecrex commented on #1474
@hongrich i had tried that yesterday. I just tried it again: install watchman, delete node_modules, `yarn install`. I get many warnings before jest gives me the watch UI, for example:
[code]
When i press `a`, It runs and fails a bunch of tests I don't have (this is just a newly-created CRA so it should have just one), for example,
[code]

[2017-01-31 19:47] gaearon commented on #1473
No, imports may have side effects.

[2017-01-31 19:49] gaearon commented on #1474
This is because of those `node_modules.npm` and `node_modules.yarn` folders which conflict. I wonder if there’s a way to disable Haste completely in open source with some config option, cc @cpojer? It’s not really useful to CRA users.

[2017-01-31 21:33] aztecrex commented on #1474
Removed those dirs and the "install watchman" workaround fixes the problem. Uninstalling watchman causes it to re-occur.

@hongrich glad I tried it again

[2017-01-31 22:00] AJShippify opened #1475 "Build source map file size"
When I create a project in which the final .js file has around 900K, the *.map grows to 6.8M. This problem makes the first render on any browser of the app extremely long, sequential reloads are good due to the implicit hash cache.

This happened after updating the react-scripts version, previously the source map file size was quite small.

I'm using react-scripts 0.7.0.
Node version: v6.8.1
NPM v

[2017-01-31 22:31] Johnnycon commented on #639
For folks still looking to run reactjs and express together on heroku, I wrote this article that covers how we are doing it at the moment.
https://originmaster.com/running-create-react-app-and-express-crae-on-heroku-c39a39fe7851#.j95kab51f

[2017-02-01 01:23] gbozee commented on #1403
The alternative suggestions for enabling cors suggested here `Enable CORS on your server` [here’s how to do it for Express](https://enable-cors.org/server_expressjs.html) should be changed to using [expressjs cors pacage](https://github.com/expressjs/cors).

I experienced some issues with browsers always sending OPTIONS request instead of the equivalent GET or POST requests. Switching to using the

[2017-02-01 11:10] bordi commented on #402
@jonstuebe exactly. it will reset internal state

[2017-02-01 13:06] ptica commented on #147
as I have a bit different use-case (sneaking one react component in otherwise a full LAMP site)
however I've managed to adapt the @curran 's forestanding nginx solution to apache `.htaccess` for a dev server as
[code]

so a big 👍  for this thread!

[2017-02-01 13:37] curran commented on #147
@ptica Happy to hear it!

[2017-02-01 13:50] cpojer commented on #1474
@gaearon yeah we are making some changes that should improve this situation.

[2017-02-01 19:12] bryandbor opened #1476 "Preserve ES6 Class Name in Build"
**Backstory**: I am creating a library that will unpack a React application into a given `<div>`. I allow the client to use single .js and .css files to that can then be initialized with a single js command within their own code.

**Example Code**:
exampleWrapper.js:
[code]

clientExampleCode:
[code]

**Problem**: When I execute `npm run build` all class names are mangled/minified/obfuscated so I

[2017-02-01 20:10] robcaldecott commented on #1455
How about adding the command to an npm script in your package.json? Does that work with bash?

[2017-02-01 20:24] NikitaLiashenko commented on #1455
It works. Thanks.
Is this feature documented?Could I add it to Readme?

[2017-02-01 20:48] mdramos commented on #1082
Reproduced this error on ec2 t2 micro. The only file generated was the favicon 😂.

I mitigated by adding swap space and the build worked out fine. thanks @godmar

[2017-02-01 21:31] umair-khanzada opened #1477 "Error in ./~/react-toolbox/lib/button/theme.css"
Hi,
getting error when add react-tool component.
`Module build failed: Error: composition is only allowed when selector is single :local class name not in ".raised", ".raised" is weird
`
we have not web-pack config file then how i fix this issue ?
[similar issues](https://github.com/react-toolbox/react-toolbox/issues/792)

[2017-02-02 00:25] gaearon commented on #1476
Any functions or class names are local anyway. They don't become global variables by themselves so your question is not related to minification.

If you want something to be global, assign it to a global variable:

[code]

That said I want to emphasize that Create React App doesn't support your use case out of the box. It is meant to be used for apps, not for components of smaller apps. For that p

[2017-02-02 00:25] #1476 closed

[2017-02-02 00:27] gaearon commented on #1477
cc @javivelasco

[2017-02-02 10:04] webeli commented on #142
@wmonk great initiative, will definitely try it out!

[2017-02-02 10:38] QuantumInformation commented on #213
I've pretty much moved all my stylus and less projects over to PostCSS as I see it as the future.

I find that this config is all I need to replicate my Less and Stylus needs:

https://github.com/quantumjs/solar-popup/blob/master/postcss.config.js

Looks like I'll have to stick to css for now, but its good enough.

[2017-02-02 14:12] cschroeter commented on #982
@haluvibe
How can I run create-react-app without having nodejs installed on my local?

[2017-02-02 15:12] mandysimon88 commented on #1455
This is not a great solution because you have to type out the options in the CLI every time. I'd rather put my 'exclude xyz folders' into the package.json and forget about it. Can someone give an example, with react scripts, of how to modify this line so that your solution works?
[code]

[2017-02-02 16:05] javivelasco commented on #1477
@umair-khanzada React Toolbox current version relies on CSS Modules to handle styling. If you require a component from react-toolbox, the css will be required for you but the configuration should enable `modules`. This is not the case for `create-react-app`: you are requiring a css file that has assumes that modules are enabled and that's why you get the warning.

To avoid it (and to skip configur

[2017-02-02 16:41] NikitaLiashenko commented on #1455
@mandysimon88
Actually there are two solutions and the second fits to you.
`"test" : "CI=true react-scripts test --env=jsdom --coverage --collectCoverageFrom=src/**/*js --collectCoverageFrom=!src/path/to/file"`

[2017-02-02 16:46] gaearon commented on #1477
Going to close since appears resolved.
@javivelasco It would be great if you could contribute a small guide we could point people to.

[2017-02-02 16:46] #1477 closed

[2017-02-02 19:21] smmoosavi commented on #1084
For admin/user use case you can use `require.ensure(dependencies, callback)` to load module async.
[more detail](https://webpack.github.io/docs/code-splitting.html#commonjs-require-ensure)

but I like create-react-app support multiple entry/bundle.

[2017-02-02 21:40] LucasKA commented on #982
@cschroeter

By using Docker as he describes. Docker makes a "container" that contains system level dependencies, and executes the Node runtime inside that.

If you have a dockerized app, you could completely uninstall Node from your system, and still run the app.

[2017-02-02 21:47] umair-khanzada commented on #1477
@javivelasco I have done configuration and other setup.
can you please explain me where i am going wrong.

[code]

[2017-02-02 23:30] javivelasco commented on #1477
Great @umair-khanzada!!
Sure @gaeron, I will let you know when I've got it ready :)

[2017-02-03 03:17] rockchalkwushock opened #1479 "[Quesiton] Gh-pages Deployment"
I am using the _gh-pages_ method for deployment and I got it to work however it breaks all my CSS. I believe I'm doing something wrong in my code because I've followed the instructions to a tee.

 I noticed that when I run:

[code]

I am automatically generated a _gh-pages_ branch with the static assets [here](https://github.com/rockchalkwushock/rcws-development/tree/gh-pages). I looked at the htm

[2017-02-03 03:19] rockchalkwushock commented on #1479
**Mind blown**

I just tried the link again and it works....

[2017-02-03 03:20] #1479 closed

[2017-02-03 09:54] Booli opened #1480 "Fonts linked are linked to wrong path in production"
### Description

Links to fonts imported from CSS have wrong link in production CSS file.

### Expected behavior

Imported fonts in CSS load correctly in production and are loaded from static/media
Tell us what you think should happen.

### Actual behavior

Font files from CSS are linked to ./static/css/static/media and therefore 404.
line in generated main.css
`@font-face{font-family:Mana;src:url

[2017-02-03 10:23] gaearon commented on #1480
Thanks for filing, this is a known issue.
`"homepage": "./"` is a hack and not officially supported.

Please track https://github.com/facebookincubator/create-react-app/issues/1094 for updates.

[2017-02-03 10:54] cschroeter commented on #982
@LucasKA
But I have to get it installed to create the boilerplate? That is a little disadvantage.
Also if I am using Typescript, it looks up the typings files in the corresponding node_modules folder.
So I am not 100% convinced how I can get rid of NodeJS during development time :/

[2017-02-03 13:54] bshields-idatainc commented on #1435
I'm looking for a similar capability for a different use case: in our "versioned" production environment, the homepage value requires a version number appended to the end of it. E.g.: "/extensions/myapp-1.2.3" for a React app named "myapp".  I would like a method to set this value either from a file (like .env) or from an environment variable.

[Additional details: my React apps are essentially co

[2017-02-03 17:30] timarney opened #1481 "Add CRAFT to Readme."
Probably too soon as the project doesn't have much traction yet. It would be good to add a link to CRAFT https://github.com/stoyan/craft .

[code]

Wanted to at least put Craft on the radar.

[2017-02-03 18:57] rockchalkwushock commented on #1479
# Update

I realize now that:

[code]

I removed the `<link>` for _styles.css_ from the html since **now** the webpack.config for CRA will _bundle_ all the css in one file called _main.css_. I feel really dumb at the moment. Hopefully this will help someone else out who has epic brain farts like this!

[2017-02-03 19:51] lacker commented on #1429
For what it's worth, Facebook laptops seem to be set up with `yarn` working but not `yarnpkg`, so if you are running `create-react-app` on a FB-provisioned laptop you will need to update to `create-react-app` version 1.0.3 or later. Leaving this here for future FB employees that run into this ;-)

[2017-02-04 08:45] zhangchf commented on #472
Sorry I just realized it is with react-native, but not react-js itself.
Also when I try to reproduce this issue today, it didn't appear for some reason I don't know.

[2017-02-04 13:09] frontsideair commented on #1013
A little bit late, but here it is.

[2017-02-04 15:19] gaearon commented on #1013
Thanks! Closing as fixed.

[2017-02-04 15:19] #1013 closed

[2017-02-04 16:06] ericclemmons commented on #607
Is this being solved in Jest or CRA?

[2017-02-04 16:39] gaearon commented on #607
I think these are loose threads here:

https://github.com/facebookincubator/create-react-app/pull/1081#issuecomment-264351297
https://github.com/facebookincubator/create-react-app/pull/1081#issuecomment-277133762
https://github.com/facebook/jest/pull/2318#issuecomment-272087686
https://github.com/facebook/jest/pull/2796

[2017-02-04 19:25] gaearon commented on #1479
I also suggest moving `styles.css` from the `public` folder. Otherwise it's confusing which delivery mechanism you are using (public folder or bundling CSS). Just put it into `src` folder.

This might be helpful:

* [Adding a Stylesheet](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-stylesheet)
* Alternatively, [Adding Assets O

[2017-02-04 20:03] andrii-yarmola commented on #659
i have the same problem in Sublime
its windows7
its new freshly created app
its happens always

[2017-02-04 20:05] gaearon commented on #659
Have you checked [all documented causes](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-start-doesnt-detect-changes)?

[2017-02-04 20:18] andrii-yarmola commented on #659
sry
my project path contains parentheses
ty for fast answer
/solved

[2017-02-04 20:32] LucasKA commented on #982
@cschroeter I can't speak for your use cases, as I don't know what boilerplate you are running and I don't use typescript.

However, a container is just that, a system level container. You can SSH into a Docker container and run commands, or set up scripts for container build or what have you.

I don't use Docker to _"remove Node completely"_, I still keep the Current version of Node on my laptop

[2017-02-04 21:26] gaearon commented on #1435
I think #937 might solve this.

[2017-02-04 23:23] brandonmikeska commented on #783
Could we also add a console to the browser? I know in rails you could start debugging right in the browser checking the variables. Just an idea for a feature?

Besides that idea, are we any closer to say yes this will be added or not it won't be?

[2017-02-05 02:29] thomasdola opened #1485 "Has anyone tried serving the app by any back-end frameworks like Laravel, Ruby on Rails or Phoenix?"
Am trying to serve an app created by `create-react-app` from express-generator which has his own file structure.

the basic solution i have is moving the app into the express `views` directory..

i think [Building for Relative Paths](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths) from the `User Guide` might g

[2017-02-05 05:48] wtgtybhertgeghgtwtg commented on #1183
`acorn-globals` [now uses](https://github.com/ForbesLindesay/acorn-globals/pull/22) `acorn@4.0.8`, [as does `jsdom`](https://github.com/tmpvar/jsdom/commit/8b82e0c39bf856b072130e99cc60ca06ed75f7a7).  However, I noticed that `espree` [depends on a specific version](https://github.com/eslint/espree/blob/master/package.json#L21) of `acorn` (`acorn@4.0.4`), so there are still three versions required.

[2017-02-05 08:01] jperasmus commented on #1485
Maybe check out this article => [Running Create React App and Express (CRAE) on Heroku](https://originmaster.com/running-create-react-app-and-express-crae-on-heroku-c39a39fe7851#.tzu46efpj)

[2017-02-05 12:05] gaearon commented on #1485
Yep, hopefully it helps!
CRA just produces a static build folder with HTML.
You just need to either serve it statically, or load that HTML with Express and serve it from Express views (but don't forget to still serve JS and CSS statically).

[2017-02-05 12:05] #1485 closed

[2017-02-05 15:40] craig-mulligan commented on #1284
Hey @gaearon, Is there a commit I can follow to see when this gets released, didn't see anything related in the changelog?

[2017-02-05 17:53] rockchalkwushock commented on #1479
Thanks for the advice @gaearon!

[2017-02-05 20:19] graham-sportsmgmt commented on #641
I'd also like to see at least an add-on for react-router, and agree that this is something all SPA's need.

I'm happy to help, but uncertain how to proceed with helping :)

[2017-02-06 02:25] aligajani commented on #1007
@tsironis  How do we output source maps?

[2017-02-06 02:46] baxford commented on #982
thanks for all the tips on this page, I've been able to get CRA running in docker.
I found a few other handy things:
- if you link port 35729 on your container to 35729 on your system, hot reloading works
- you can watch/run all tests within docker as well with a 'test' config in docker-compose.
- I've also created a multi-purpose docker container that will build the production version and serve i

[2017-02-06 11:57] tarurar commented on #142
@webeli  How was it?

[2017-02-06 13:42] aaronplanell opened #1487 "Parameter "homepage" in package.json"
Hi,

I miss an explanation at the documentation about the parameter **_"homepage"_** in _package.json_, and it is very useful for making buildings.

For instance, I had a problem because the _index.html_ file pointed to _"/static/js/...js"_ and that's is correct if we release the application in the _root_ folder, but if you have various static developments in the same machine using the same _Apach

[2017-02-06 14:11] s-ilya commented on #659
In my case it seems like global webpack@v2.x installation caused create-react-app webpack watcher issues: it didn't see any file changes. After I removed global webpack, reinstalled create-react-app, recreated application it started to wok fine.

Sublime @ Ubuntu 16.04

[2017-02-06 15:09] chrisahardie opened #1488 "Atom indicating Definition for rule 'react/jsx-sort-prop-types' was not found"
I am attempting to have Atom show me linting issues in the editor by following [these instructions](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#displaying-lint-output-in-the-editor).

Every javscript file I open produces this ESLint warning: "Definition for rule 'react/jsx-sort-prop-types' was not found"

This is related to the remova

[2017-02-06 15:54] gaearon commented on #1488
Would you like to send a PR to fix our ESLint config to point to the different rule name?

[2017-02-06 16:04] gaearon commented on #1487
There are currently problems with `"homepage": "."` so while it works in some cases, it’s not recommended. https://github.com/facebookincubator/create-react-app/issues/1480

The parameter itself is [mentioned in the User Guide](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths).

[2017-02-06 16:09] gaearon opened #1490 "Enable hardlinks in Yarn integration"
Let's track https://github.com/yarnpkg/yarn/pull/2620 and enable it by default if it gets merged.

[2017-02-06 16:40] chrisahardie commented on #1488
@gaearon I'd be happy to, but I'm trying to run down exactly where this is configured - I'm afraid I'm still trying to figure out how everything is hanging together.

I presume that the configurations are set in [this file](https://github.com/facebookincubator/create-react-app/blob/master/packages/eslint-config-react-app/index.js)? There is no `jsx-sort-prop-types` rule set there, is there somewhe

[2017-02-06 16:49] edevil opened #1491 "Remove console.log calls from production build"
Is there an option to remove all "console.log" calls when building the production artifact?

I know there are some webpack plugins that do this but I'm not sure I can use them without ejecting the project from this framework.

[2017-02-06 16:50] gaearon commented on #1491
No, it’s not supported. You’d need to eject to do this automatically.

[2017-02-06 16:51] gaearon commented on #1488
That's the right file. If the rule was renamed we should probably rename it there too?

[2017-02-06 16:58] chrisahardie commented on #1488
@gaearon From what I can tell, the `jsx-sort-prop-types` rule was never defined in that file, so unless it was set elsewhere by some other mechanism, I'm at a loss as to why I am seeing this error in Atom.

If that is indeed the only spot where this rule can be defined, then please close this issue and I'll try to figure out why this issue is presenting itself on my machine.

[2017-02-06 17:00] modernserf commented on #607
To be perfectly clear: I do not know how to make this work without breaking Facebook's specific use cases. Even getting Jest to work **as it is currently documented** -- that is, with `testPathIgnorePatterns` not automatically including `node_modules` -- appears to break something in haste.

[2017-02-06 17:04] gaearon commented on #1488
Maybe you have an `.eslintrc` somewhere up the directory tree?

[2017-02-06 17:05] gaearon commented on #659
@s-ilya Do you mind adding this to the list in https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-start-doesnt-detect-changes?

[2017-02-06 17:07] #1491 closed

[2017-02-06 17:50] Timer commented on #1189
Appears yarn@0.19.1 doesn't handle local deps correctly (may be a caching issue):

package.json
[code]

yarn.lock
[code]

Expected:
[code]

Actual (installed by yarn):
[code]

[2017-02-06 17:51] Reanmachine commented on #607
@modernserf It really comes down to the general concept of Jest wanting to "just work" by default. The default behavior is going to be to ignore `node_modules/` folders.

I could submit a PR to Jest to completely change that assumption and get `testPathIgnorePatterns` to work out of the box as expected but that changes the responsibility of the developer using Jest to having to specify `node_modul

[2017-02-06 18:45] chrisahardie commented on #1488
@gaearon Sigh, you are correct. There was an unexpected `.eslintrc` up the directory tree which was causing this issue. Sorry for non-issue, I owe you a beer.

![giphy](https://cloud.githubusercontent.com/assets/2429373/22661200/83f76136-ec72-11e6-9eab-93f2ec58969a.gif)

[2017-02-06 18:45] #1488 closed

[2017-02-06 19:03] gaearon commented on #1488
No worries! 👍

[2017-02-06 19:17] gaearon commented on #1189
@Timer Mind filing a Yarn bug?

[2017-02-06 22:16] Timer commented on #1189
Filed. 😄

[2017-02-06 23:03] tibdex commented on #578
The _Twelve-Factor App_ guide mentioned by @mars has a [section about "build, release, run" cycle](https://12factor.net/build-release-run). It explains that the _build_ stage is only about creating an executable that could run anywhere. It is the _release_ stage that should be responsible for combining this executable with the the deployment environment configuration.

`create-react-app` is really

[2017-02-06 23:20] ericvicenti opened #1492 "Sharing components between apps, "create-react-component""
## The Problem

Say I have two sibling CRA apps, `Foo` and `Bar`. What is the best practice for sharing a common component, `Baz` between the two apps?

### Scope

It would make sense to have a sibling folder `Baz` with it's own `package.json`, and to use `npm link` to access it from `Foo` and `Bar`.

But it seems that [npm link has bigger issues](https://github.com/npm/npm/issues/10343), so maybe

[2017-02-07 00:00] bvaughn commented on #1492
Prior art worth considering: [insin/nwb](https://github.com/insin/nwb), specifically [React Components and Libraries](https://github.com/insin/nwb/blob/master/docs/guides/ReactComponents.md#developing-react-components-and-libraries-with-nwb)

[2017-02-07 00:15] brandones opened #1493 "`npm run build` silently fails on OOM"
### Description

When running `npm run build`, if the system runs out of memory...

### Expected behavior

It should exit with a non-zero return code.

### Actual behavior

The process exits return code 0.

### Environment

1. `npm ls react-scripts`: 0.7.0
2. `node -v`: v6.9.5
3. `npm -v`: 3.10.10

Then, specify:

1. Operating system: Ubuntu 16.04
2. Browser and version: n/a

### Reproducible Demo

[2017-02-07 00:43] gaearon commented on #1493
Agreed it’s an issue, do you have any idea how to solve this?

[2017-02-07 00:50] ericvicenti commented on #1492
Ah, I hadn't seen `nwb`. It looks like a smooth experience!

Does it make more sense to add integrations and compatibility with `nwb new react-component`? Or should we make a `create-react-component` that stays in sync with CRA? It could live in the same repo and share configs like babel.

There are a few things that I would have done differently for CRC, in comparison to `nwb new react-component`

[2017-02-07 00:53] ericvicenti commented on #1405
Yes! I just started a discussion about this: https://github.com/facebookincubator/create-react-app/issues/1492

[2017-02-07 01:10] gaearon commented on #1405
There's also been a few earlier discussions too.
Closing as a duplicate.

[2017-02-07 01:10] #1405 closed

[2017-02-07 01:14] gaearon commented on #1492
A few past issues:

https://github.com/facebookincubator/create-react-app/issues/423
https://github.com/facebookincubator/create-react-app/issues/796
https://github.com/facebookincubator/create-react-app/issues/907
https://github.com/facebookincubator/create-react-app/issues/1242

[2017-02-07 01:26] izakfilmalter commented on #1492
I can't stress how much I need this feature. My core problem is I have 3 apps: `marketing-site`, 'customer-app', and 'employee-app'. I am keeping them separate to make them as performant as possible, but there are many shared components, for instance the logo.

My current solution has been having a fourth app that gets imported into each, and then using `yarn link`, but as mentioned above this is

[2017-02-07 04:18] mars commented on #1351
Here's an [example repo](https://github.com/mars/heroku-cra-node) to illustrate the structure and deploy of a React+Node app to Heroku, including local development with hot-reloading goodness.

[2017-02-07 04:35] Timer commented on #1492
What artifacts would such a feature produce? CommonJS, Harmony Modules, UMD, AMD?

[2017-02-07 04:38] natew commented on #1492
Something I've been wanting/thinking about for a while now. There are actually a few levels you can look at this:

1. I want a CLI that links together all my local node projects I'm working on (like system-wide lerna)
2. I want something that shares my common scripts/settings between my projects (like CRA)
3. I want something that manages multiple projects (shows their status, pulls them all down

[2017-02-07 04:48] tbillington commented on #1492
@izakfilmalter It's not ideal but here's my solution https://github.com/facebookincubator/create-react-app/issues/1084#issuecomment-267725239

[2017-02-07 05:25] ericvicenti commented on #1492
Ok, @gaearon, based on your previous comments, it seems that this issue is pretty ripe for fixing.

# RFC of a cohesive solution

Please poke this proposal full of holes 😄

## Part I: The new meta Creator

We may want to give people more tools like CRA in the future, but it isn't desirable to force people to install a new global dependency for each tool.

Instead, I'd like to propose one tool to r

[2017-02-07 05:41] ljharb commented on #1492
I'm not sure I understand - isn't the solution to sharing `Baz` between two apps, "publish it to npm"? `npm link` is fine for developing, but something that works across two apps deserves to be a separate package - if not published publicly, then to an internal npm registry (sinopia is free, for example, and using an npm registry gives you semver benefits that git installs don't).

Can you help me

[2017-02-07 06:04] ericvicenti commented on #1492
@ljharb, I don't think most people who use CRA know about sinopia. If that is the recommended solution, then we can at least do a better job on education. Lots of people seem to like the lerna approach, and/or linklocal.

Aside from the reported issues about `npm link`, it can be a pain to start up a dev server for each package that you want to edit. If you're codebase is nicely decoupled, you usu

[2017-02-07 07:18] beac0n opened #1494 "BROWSER=none not working - react-dev-utils package from npm not up-to-date with git?"
### Can you reproduce the problem with latest npm?
yes

### Description
I wanted to use the `BROWSER=none` option, to prevent react-scripts from opening a new Browser.
Setting the env variable did not work at all.

after checking the `openBrowser.js` file in `node_modules/react-dev-utils/` I realized, that it is different
from the `openBrowser.js` in the github repo:

/**
 * Copyright (c) 2015-pre

[2017-02-07 08:13] aaronplanell commented on #1487
Hey,

Thanks a lot Dan. Sorry, I checked the [Readme.md](https://github.com/facebookincubator/create-react-app/) file, not the [User's Guide](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md). It's my fault.

In any case, the issue #1480 says:
[code]

And, I propose:
[code]

I know that it's a hack and that's not officially supported by CR

[2017-02-07 08:21] aaronplanell commented on #1480
Hi Booli,

As @gaearon said, there is a bug and the solution:
[code]
It's not officially supported.

In my case (check #1487) I solved it transforming the absolute route to a relative route of the index file:
[code]

I repeate, this is a hack and it's not supported by CRA, but maybe it will solve your problem temporally.

I tryed check it with your project but you have the route _public/Images_ de

[2017-02-07 08:31] aaronplanell commented on #1487
Sorry, about the relative folder, I just read your comment:

At the issue #1094.

I think that if I don't use _react-router_ I won't have any problem.

[2017-02-07 09:40] gaearon commented on #1494
The change was done in master but 0.9.0 has not been released yet. It will be released soon.

[2017-02-07 09:40] #1494 closed

[2017-02-07 10:40] admmasters commented on #1492
So I would (personally) summarise the problem domain as the same one as create-react-app, just with respect to painlessly creating a component without any of the build concerns etc as @ericvicenti has stated. Having previously used sinopia (not picking on it) - but its now not even in maintenance mode (last commit was over a year ago) https://github.com/rlidwka/sinopia/issues/376 and it is a solut

[2017-02-07 11:29] gaearon commented on #1480
Perhaps this will be solved by #1489.

[2017-02-07 11:30] s-ilya commented on #659
@gaearon Surprisingly I can't reproduce it now. I will check again later with different versions of 2.x (if there were any).

[2017-02-07 12:43] brandones commented on #1493
Well, it looks like `react-scripts build` runs `node build.js`, and when you send SIGTERM to the latter process (as happens with an OOM) it exits silently. Default behavior for node on SIGTERM (aka signal 15) is to exit 15. So this script is probably catching SIGTERM somewhere and exiting "gracefully."

[2017-02-07 12:58] brandones commented on #1493
Adding

[code]

to the end of `react-scripts/scripts/build.js` fixes the problem. I'll add a couple more signals, console.log an error message, and submit a pull request -- cool? Is there a cleanup hook I should call?

[2017-02-07 13:35] gaearon commented on #1493
@brandones Sounds great, thanks!

[2017-02-07 13:48] mkonicek commented on #1492
Why not just:

[code]

Run the packager from the root (Projects), when bundling it will only include files that are used. E.g. if SharedComponent.js is only imported / required by app2.js, it will only be included in app2's bundle.

[2017-02-07 16:00] jayhuang75 commented on #982
@furlanrapha Did you have your problem solved? Thanks advices

[2017-02-07 16:21] furlanrapha commented on #982
No @jayhuang75, I'm still doing `npm install` and running the development server in the Docker image so I can have the env vars set in AWS Task Definition.

[2017-02-07 16:34] ericvicenti commented on #1492
@mkonicek, there is no `npm start` that is available outside of `App1` and `App2`, so there is no way to "run the packager from the root". How can developers set that up?

Also, what if `App1` is React Native and uses RN packager, while `App2` is made with CRA and uses webpack?

@admmasters, yes exactly. My aim is to deliver a good development experience for standalone components, just like CRA de

[2017-02-07 16:41] gaearon commented on #1492
Also semi-related: #741 #1065

[2017-02-07 16:55] ericvicenti commented on #1492
@gaearon, does the `src/node_modules` proposal aim to fix the same problem? I'm curious what the DX would look like in that world, as a developer shares a component between two apps.

[2017-02-07 17:02] bebbi commented on #1492
I like the solution discussed in #741:
A `packages/` (`node_modules`?) folder inside a repo created by `create-react-app`.
I think it's a great approach to co-locate components with the app mostly driving them. In early dev stage, this allows juggling code between app and component as things evolve in a seamless manner - without nasty versioning/publish/download overhead.
When ready, packages can

[2017-02-07 17:06] gaearon commented on #1492
@ericvicenti It's related but it's solving a slightly different problem: avoiding relative imports *inside* the project rather than sharing components between projects. Since people don't use Haste in open source, they have this issue of `../../../../components/abc` which is often obnoxious. Whatever solution we settle on, I think we should consider both problems since they're similar.

[2017-02-07 17:12] ericvicenti commented on #1492
@bebbi, I'm still confused. What would my directory structure look like? I need two independent apps "Foo" and "Bar", which each share a component "Baz". Baz may be an independent repo, but I would like to easily edit it while developing my Foo and Bar apps.

@gaearon, Gotcha, I agree that the problems are related and should be thought about together. I'm spoiled by using Haste at FB. Its not perf

[2017-02-07 19:44] bebbi commented on #1492
It's a partial solution for your scenario. But with the assumption that often one project is driving any given components dev, it might still be a nice one.
If Foo's the driver and we call the components folder `packages` for now:
[code]
and Bar accesses Baz through some less direct way, e.g. via `NODE_PATH` or publish etc.
CRA could publish `Foo` as an app including `Baz`, but there would be a sc

[2017-02-07 20:13] bmurzin commented on #1492
I use [git submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules) to share components placed in `src/Baz` of every app.  In this way you can edit `Baz` in `Foo`, `push` it and then just `git submodule update` in `Bar`.

[2017-02-07 20:21] jayhuang75 commented on #578
@tibdex I like this solution, but did you test via the npm run test with the jest. seems will have some error and it can not get in the test level. any advice?

[2017-02-07 20:21] benjaminapetersen opened #1497 "README uses npm commands, but the tool suggests to use yarn"
This is the first time I've used `create-react-app`, which was pretty smooth and gave me the following message on the cli:

[code]
However, when you browse the `README.md` file, all references are for `npm`, such as `npm start`, `npm test`, etc.

[2017-02-07 22:18] joaosoares commented on #1430
Is there an estimate on the release of 0.9.0? My team is using flow extensively and the tests integration would be very helpful for us.

[2017-02-07 22:41] mars commented on #578
Writing configuration values into a file is *antithetical* to 12-factor. Instead, always use runtime [environment variables for configuration](https://12factor.net/config).

create-react-app [CRA] does not provide a production runtime. It only builds a static bundle. Runtime environment is not something solvable by CRA, unless it becomes prescriptive about deployment which is unlikely given its wi

[2017-02-07 23:07] gaearon commented on #1430
We'll delay Flow integration until 0.10 alpha which would be out very soon after 0.9.0.

I'm busy with React right now but I know @timer offered help cutting 0.9.0. So I'm happy to take him up on that offer :-) There's a few things we need to discuss regarding it, happy to do it here or in a separate issue.

[2017-02-07 23:09] glenngillen commented on #578
I've been working on a somewhat related effort to [manage the configuration/credentials at runtime problem](https://voltos.io/). And I'd be interested in helping come up with a standard approach of doing it for SPAs like this. The basic approach is:

- Expose a single key in build phase that can be included in the build in some fashion
- Have a client in the runtime that can use that key to query

[2017-02-07 23:29] mars commented on #578
@glenngillen from my perspective, configuration should be in-place when the javascript app loads in the browser. Requiring remote fetch of config values from an external service:

* taxes performance (how does the app render before those config values are present?)
* increases complexity (how do you account for the async config dependency in any given javascript app?)
* decreases reliability (what

[2017-02-07 23:36] joaosoares commented on #1430
Thank you for the answer!

[2017-02-07 23:37] glenngillen commented on #578
@mars agreed, but... as you've mentioned "runtime" in this context includes things like static web/hosting directly off s3 and GitHub pages. Short of fetching config on demand I see no alternative for these apps other than pushing the config back into the build/compile phase.

[2017-02-08 01:22] monamu opened #1498 "eject command on windows creates different path sepalators to package.json"
### Description

After `npm run eject` on Windows , path sepalators in package.json are '\\' (double back slash).

* `npm run eject`  on Windows

package.json
[code]

* `npm run eject`  on OS X

package.json
[code]

### Expected behavior

[code]

path sepalator '/' is runs both (win/mac) environments.

### Environment

1. `npm ls react-scripts` (if you haven’t ejected):
react-scripts@0.8.5
2. `nod

[2017-02-08 01:37] gaearon commented on #1498
Interesting, thanks. Do both variants work well, or is only `/` working?

[2017-02-08 01:40] monamu commented on #1498
`/` works on win and mac,

but `\\`  works only on win.

[2017-02-08 03:00] jayhuang75 commented on #578
@tibdex Finally I get the unit test code fixed. Basically we have to mock the window.env in the jest __mock__ folder
@mars Thanks for the encourage! :) and our use case, its build once deploy everywhere with the docker image to the PAAS. Once the docker image deploy to the PAAS, we can just change the environment variable to point the different API EndPoint.
Disclaimer: we just export the public a

[2017-02-08 05:18] Timer commented on #1498
Something as simple as this?

[code]

[2017-02-08 05:32] monamu commented on #1498
Patched eject.js  outputs duplicate path sepalator....

[code]

But it works on windows :smile:

[2017-02-08 05:35] Timer commented on #1498
Hmm.. that's odd that there's duplicates.
[code]

[2017-02-08 05:41] Timer commented on #1498
This should do it, @monamu:
[code]

[2017-02-08 05:46] monamu commented on #1498
It worked fine :smiley: @Timer

[2017-02-08 07:45] frontsideair commented on #1430
You can do this @timer!

By the way, is there a way to use my fork or a commit of `react-scripts` I'd like in my project? npm allows using a git repo as a package but in this case, I think it won't work due to the monorepo setup. If there's a way I'm missing, please let me know.

[2017-02-08 11:36] gaearon commented on #1430
`create-react-app myapp --scripts-version my-react-scripts`

This?

[2017-02-08 12:43] ro-savage commented on #682
Is there a reason to keep `react-scripts` as part of a monotholic `create-react-app` instead of having it as it's own repo? It is already added as a dev dependency.

Having it as a seperate repo would allow people to fork it and then install/update directly from github without having to publish to NPM and easily be able to keep up to date with the upstream repo.

[2017-02-08 12:50] msikma commented on #682
I agree, it would be nicer for that use case. It's just too complex a setup right now if you want to fork `react-scripts`. But this repo is structured as a [monorepo](https://github.com/facebookincubator/create-react-app/issues/403) deliberately, and that has its advantages too.

[2017-02-08 13:10] frontsideair commented on #1430
Like that, but I guess I should either publish my form on npm or provide a `.tgz` which feels a bit overkill since my patch is already merged.

[2017-02-08 13:34] tibdex commented on #578
@jayhuang75, I think a better place to provide the configuration values to the tests might be [`src/setupTests.js`](https://github.com/facebookincubator/create-react-app/blob/65e63403952f4f3c7e872f707fb3736e339254d9/packages/react-scripts/template/README.md#initializing-test-environment).

@mars, I agree that ideally the config should not be stored in a file. The `env.js` file could however be gen

[2017-02-08 13:57] ro-savage commented on #1208
@gaearon - I have submitted PR #1499 to make the comment stand out more.

I have made the original comment stand out more with some spacing, and given a more practical example and have added a new comment to the end of the loaders array where a person would usually add a new loader to warn them to update the exclude list.

[2017-02-08 14:09] gaearon commented on #1430
Sorry, I don't have a better solution—we're hitting the limits of what npm can do.

[2017-02-08 14:19] frontsideair commented on #1430
No problem; I guess the main problem is that the npm package and the repo don't mean the same thing. One reason is the monorepo setup; there isn't a one-to-one relationship with the repo and generated npm packages. Another other reason would be prepublish hooks, but as far as I can see react-scripts doesn't use it.

Maybe creating a multi-repo fork would for me, but I don't see how I could keep it

[2017-02-08 14:29] ro-savage commented on #1208
New PR #1500 to fix noob mistakes and to get a nice round PR number.

[2017-02-08 14:32] ro-savage commented on #1497
I believe this is because you have yarn installed globally.

If you do not have yarn installed it would tell you to use `npm start` etc.

[2017-02-08 15:59] benjaminapetersen commented on #1497
Yup. I added `yarn` per suggestion from react docs site (I've historically used `npm`, prob like most).  Its a bit unsettling when you first install & then get conflicting information, I'm guessing the `README.md` file just needs a block for both `npm` & `yarn` to ensure new users that its not stale content.

[2017-02-08 16:03] gaearon commented on #1497
There is no difference between how those commands work. The intention was that Yarn users probably know what they're doing (Yarn still being a very new project), and should be familiar with npm anyway (since every library out there has instructions for npm and you can't avoid learning it). Maybe that was a wrong assumption.

[2017-02-08 16:05] gaearon commented on #1497
By the way it's a bit unfortunate we're suggesting to run `yarnpkg start` and similar when `yarn start` would work for most users. I know why we did that (to avoid conflicts with Yarn Java package) but can we somehow be smarter about `yarn` detection? cc @fson

[2017-02-08 16:05] benjaminapetersen commented on #1183
Somewhat related, I was a bit alarmed at my first run of `create-react-app` yesterday, when I checked the size of my `node_modules` folder and found `179,491,959 bytes (556.6 MB on disk) for 110,557 items`.  556MB is quite a lot!

I was looking for a light-weight way to get up and running with react, ideally to spin up a handful of hello-world apps locally for running through tutorials, etc.  Over

[2017-02-08 16:28] gaearon commented on #1183
@benjaminapetersen

This is a different issue and caused by Yarn bug: https://github.com/facebookincubator/create-react-app/issues/1397. We'll work around it in 0.9.0.

[2017-02-08 16:29] ericvicenti commented on #1492
Ok, it seems that there is enough support to give this a try, so I'm going to implement parts one and two of my proposal as a PR to this repo.

That way we will have `create-react component Baz`, which will create a nice experience around developing a component.

[2017-02-08 16:42] fson commented on #1497
I think by default we should show `yarn` commands in the instructions and not `yarnpkg`. That was my intent when making the change to internally use `yarnpkg` anyway, but looks like the instructions also got affected by the change.

This is less than ideal for the minority of users who have both Yarn and that YARN Java package installed. We could assume that they'll find out how to use the `yarnpk

[2017-02-08 16:46] Timer commented on #1497
We could compare `command -v yarn` and `command -v yarnpkg` and check if they're equal.

[2017-02-08 16:54] benjaminapetersen commented on #1183
Indeed it is! Nuked the `node_modules` directory & reinstalled w/`nmp` instead of `yarn`, dropped to `72,495,611 bytes (131.7 MB on disk) for 1,922 items`

131MB is a lot easier to swallow than 556MB.

[2017-02-08 16:56] gaearon commented on #1183
This is why you should be careful adopting new tech 😉

[2017-02-08 16:59] fson commented on #1497
@Timer That's an interesting idea! They output will be different however, on my system they return `/usr/local/bin/yarn` and `/usr/local/bin/yarnpkg`, respectively. And our solution also needs to work on Windows.

That gave me an idea though: maybe we could compare the output of `yarn --version` and `yarnpkg --version` to give us a good enough heuristic that they're the same. The downside of any d

[2017-02-08 17:04] Timer commented on #1497
I think calling `yarn` is cheap, I'm not sure about spinning up a process tho -- if it was a unix only solution we could do something like:
[code]

We could have different checks for each OS?

[2017-02-08 17:07] Timer commented on #1497
Actually, I'd even argue we stop suggesting `yarn` for windows users because it's insanely slow vs `npm`.

[2017-02-08 17:16] gaearon commented on #1497
Is it still slow with the hoisting workaround? I think a lot of slowness is due to duplicate dependencies and the linking phase.

[2017-02-08 17:19] Timer commented on #1430
Let's try to cut it today!

I'll be working on this shortly -- anyone's review would be appreciated:
- [ ] [Build exit codes](https://github.com/facebookincubator/create-react-app/pull/1496)
- [ ] [Make `./` an official solution](https://github.com/facebookincubator/create-react-app/pull/1489)
  - [ ] Document it
- [ ] [Doc improvements](https://github.com/facebookincubator/create-react-app/issues

[2017-02-08 17:19] Timer commented on #1497
I haven't tried it super recently but the linking stage just takes 200+ seconds, even longer when coupled with anti-virus.

[2017-02-08 17:22] gaearon commented on #1497
I'm fairly sure this is at least partially alleviated by https://github.com/facebookincubator/create-react-app/pull/1441.

[2017-02-08 18:17] alelepd opened #1501 "How to disable CSS class name scribbles?"
Hello there,

I noticed that all of my CSS class names defined on HTML tags are converted into a messy sequence of characters (see image below) once the code is compiled. This is driven me nuts because it's totally useless to me and makes a really ugly code, hard to debug from the browser.

<img width="540" alt="screen shot 2017-02-08 at 15 13 09" src="https://cloud.githubusercontent.com/assets/60

[2017-02-08 18:35] mars commented on #578
@tibdex your technique of adding a `<script src>` include to `index.html` and separately writing an `env.js` file during deployment seems sound for the purely static use-case. Preserving the local dev & testing experience is going to be the challenge.

Perhaps using a module-based approach like I did for [Heroku runtime env](https://github.com/mars/heroku-js-runtime-env) would allow you to capture

[2017-02-08 20:12] jordyvandomselaar opened #1502 "react-scripts failed when running react-react-app"
### Description

A bug

### Expected behavior

A working read app gets generated

### Actual behavior

package.json does not contain any scripts; nom start doesn't work.

Stack trace when creating a new app:
[code]
2. `node -v`:  ```v7.5.0```
3. `npm -v`: ```4.1.2```

Then, specify:

1. Operating system: Ubuntu trusty tahr
2. Browser and version: Not applicable.

[2017-02-08 22:12] robcaldecott commented on #1492
I heartily recommend including react-storybook in any component tool: you could have `npm start` launch the stories. We created our own create-react-component tool in-house that is basically CRA with a custom template and Babel config that we use to transpile and publish shared components to internal npm (originally Sinopia, now Artifactory) but it's limited. But because it's based on CRA we get a

[2017-02-08 22:25] #1208 closed

[2017-02-08 22:25] Timer commented on #1208
Resolved by #1500.

[2017-02-08 23:54] gaearon commented on #1502
As you can see, running `npm install` failed:

[code]

(I presume there's more in the log but your report cut it off.)

We need to provide better error handling, but basically this means `npm install` failed on your machine for some reason. This could be a network issue, or some local problem with npm.

Can you try again? If it fails, can you post the complete npm output?
Thanks!

[2017-02-08 23:56] gaearon commented on #1475
To be clear, we're talking about load time with open devtools? Sourcemaps aren't loaded for users of your app.

[2017-02-08 23:56] gaearon commented on #1399
Closing since there was no followup information.

[2017-02-08 23:56] #1399 closed

[2017-02-08 23:57] gaearon commented on #1328
Closing since we don't currently support any special integration with GraphQL without ejecting.

[2017-02-08 23:57] #1328 closed

[2017-02-08 23:59] gaearon commented on #1318
There's only so much we can do delegating to Jest. `--help` is a Jest command, not ours, but since we delegate all commands to it (and they usually work well) we likely won't make exceptions here, sorry. I know it's not perfect, and we might expose Jest config more directly in the future, but not right now.

[2017-02-08 23:59] #1318 closed

[2017-02-09 00:00] gaearon commented on #1310
Closing as currently Less, CSS modules, etc, are not integrated.
You can still run a Less watcher and import resulting CSS if you'd like to, or you can eject.

[2017-02-09 00:00] #1310 closed

[2017-02-09 00:01] gaearon commented on #1286
This was fixed in https://github.com/babel/babylon/pull/266 and will get into some future Babel release. Closing as unactionable.

[2017-02-09 00:01] #1286 closed

[2017-02-09 00:02] gaearon opened #1505 "Gracefully handle initial npm errors"
Currently, when npm fails for the first time, you end up with an empty project that doesn't work.

We should delete the broken files we added (or the whole folder if we created it), and print a message explaining the problem is with npm, as well as the underlying message.

[2017-02-09 00:03] gaearon commented on #1502
Going to close this since it's an npm issue (and likely due to the network), but filed #1505 so that we handle this more gracefully in the future.

[2017-02-09 00:03] #1502 closed

[2017-02-09 00:04] gaearon commented on #1501
This is looking pretty weird, are you sure you're using `react-scripts` and not some fork of it?
Can you provide a repository reproducing this?

[2017-02-09 00:08] gaearon commented on #1455
This is commonly requested & we should support this.

[2017-02-09 00:10] gaearon commented on #1466
This should not be a problem, they're expected to be shimmed as strings. If this doesn't happen it's a bug. Can you provide your version of `react-scripts` (as the issue template asked you), and a project reproducing the problem? Thanks.

[2017-02-09 00:11] gaearon commented on #1450
Hmm. Why not set up a redirect in `src/index.js` if this is absolutely required for the app?

[2017-02-09 00:11] gaearon commented on #1448
Going to close as a duplicate of https://github.com/facebookincubator/create-react-app/issues/1084.
This is the same feature being requested.

[2017-02-09 00:11] #1448 closed

[2017-02-09 00:12] gaearon commented on #1084
I agree it's something we'd like to see in the future.

[2017-02-09 00:14] gaearon commented on #1442
I would like to keep the Babel preset very strict right now to prevent combinatorial explosion of potential options (and thus issues reported). We will definitely support passing the browsers in the future, but this will be a part of #1249. Closing for now.

[2017-02-09 00:14] #1442 closed

[2017-02-09 00:17] ianschmitz commented on #1419
There's a fork of react-scripts that supports TypeScript (note that it's a couple versions out of sync with react-scripts):

https://github.com/wmonk/create-react-app-typescript

[2017-02-09 00:31] NikitaLiashenko commented on #1455
We could just add whole list of possible variants to documentation.

[2017-02-09 00:33] ianschmitz commented on #1086
Looks like things are underway to upgrade us to Webpack 2 (#1291).

What's the status on this issue?

[2017-02-09 00:42] gaearon commented on #1086
If you have specific suggestions please send PRs and we'll review them! We intend to move to Webpack 2 in 0.10.

[2017-02-09 01:14] coryhouse commented on #1450
Interesting. I hadn't considered that. The only downsides I see:
1. It's harder to find. Start would be the logical place I'd check first.
2. It would bubble up to all environments which is typically undesirable. Though this can be mitigated by checking the url for localhost so that redirecting only occurs in local dev.

The use case: App that is normally called from a separate app with required c

[2017-02-09 02:01] chitchu commented on #1505
Hi @gaearon

I would like to work on this. Any tips on which files I should be looking at?

[2017-02-09 02:56] haoDean commented on #1454
try `npm i caniuse-db `
check out this link
[https://github.com/ben-eb/cssnano/issues/340](url)

[2017-02-09 03:22] Timer commented on #1430
Hey guys, sorry to disappoint but I don't think it's going to happen today.

Build exit codes and PUBLIC_URL support have some pending changes, and `./` is blocked by PUBLIC_URL.

[2017-02-09 05:14] Timer commented on #1505
@chitchu https://github.com/facebookincubator/create-react-app/blob/master/packages/create-react-app/index.js#L173-L195 should be a good place to start.

[2017-02-09 08:03] nuthinking opened #1508 "Force page reload in Development when external files have changed"
I was wondering if there was a way to watch some local folders and force _webpackHotDevClient_ to reload the page if a change happens. Either in _default_ mode or _ejected_ one. Thanks!

[2017-02-09 11:14] gaearon commented on #1454
You can also use Yarn to prevent unintentional semver updates and pin exact versions so development matches production.

@GautierT Unrelated but you can put `_redirects` in the `public` folder and it will be copied automatically.

[2017-02-09 12:15] Scimonster commented on #93
It seems it's actually very simple to add HMR for React to your app. See https://medium.com/@sheepsteak/adding-hot-module-reloading-to-create-react-app-e053fadf569d#.fxu5lgi3z. It's literally an extra 10 lines of code.

Before:

[code]

After:

[code]

[2017-02-09 13:34] AJShippify commented on #1475
I'm sorry if I'm being a little ignorant about this. Yes, both times has the console been open during the large loading times on the first render in each machine.

[2017-02-09 13:44] gaearon commented on #1475
Browsers don't download the sourcemaps if devtools aren't open so I don't think it's a big issue. I'm not sure if the sourcemap size is normal—perhaps you could report this upstream to Webpack if its size changed in past releases? Unfortunately I'm not a sourcemap expert and can't say for sure.

[2017-02-09 13:51] AJShippify commented on #1475
I'll do. Thanks @gaearon.

[2017-02-09 13:53] Timer commented on #1508
I agree this could be a useful feature, but how do we decide what to watch for changes? We'd want it to be configuration-less.

As for your local setup, you could put the npm run start behind `nodemon` and have it reboot the dev server for you on your specified changes. I believe it wouldn't require a manual page reload after if you're on OS X / Chrome.

[2017-02-09 13:54] gaearon commented on #1508
Can you clarify the use case? If something's in your dependency chain then refresh should already happen.

[2017-02-09 13:55] gaearon commented on #1475
I'll close since it's not directly actionable for us (in fact it might indicate a bug has been fixed on Webpack side, for example). Cheers!

[2017-02-09 13:55] #1475 closed

[2017-02-09 13:56] nuthinking commented on #1508
To be honest, I didn't think it will be a useful feature to be implemented in the library. I am just trying to find a solution to my specific problem. Putting the npm start behind nodemon, as suggested, seems to be a plausible solution. Will test later, thanks a lot!

[2017-02-09 13:57] gaearon commented on #1421
This is weird. Is it still reproducible? Can you provide exact instructions to reproduce it?

[2017-02-09 13:57] Timer commented on #1508
I believe his use case, or at least what I assumed it to be, was for when the `public/` folder changed. e.g. changing `index.html`, or anything in relation to https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#when-to-use-the-public-folder.

[2017-02-09 13:57] gaearon commented on #1508
Ideally I’d like if we could do this automatically, but not sure how easy (or efficient) that would be.

[2017-02-09 13:59] gaearon commented on #1450
I think this is a bit of an unusual use case, and I don't think we'll be supporting this by default.
Maybe in the future as part of more general "default URL" customization.

[2017-02-09 14:01] Timer commented on #1508
I believe we could use `chokidar` to watch the `public/` directory and tell our dev-server to reboot. I don't believe there'd be a large performance implication (no different than webpack currently watching files).

[2017-02-09 14:05] scholtzm commented on #1421
I'll test this out again in the next day or two.

[2017-02-09 21:04] scholtzm commented on #1421
@gaearon I just removed babel-runtime and it builds now without it. Not sure what exactly was the issue but I guess we can close this now.

🤔

[2017-02-09 21:04] #1421 closed

[2017-02-09 21:39] gaearon commented on #1421
Sometimes it's healthier not to know.

[2017-02-09 22:44] andreineculau commented on #1421
I'm seeing this issue in a different setup.
Since npm install is not deterministic, I'm thinking that babel-runtime
ends up differently in the node_modules hierarchy and surfaces a problem
with a dependency's package.json.

On Thu, Feb 9, 2017 at 10:39 PM, Dan Abramov <notifications@github.com>
wrote:

--
andreineculau.com <http://www.andreineculau.com>

[2017-02-09 23:28] gaearon commented on #1421
Maybe some module (`semantic-ui-react` judging by first post's CI log) that depends on it forgets to declare a dependency. In this case whether the dependency exists or not depends on other project dependencies and is non-deterministic. Have you raised an issue with the library causing this, like `semantic-ui-react`?

[2017-02-10 03:41] #1438 closed

[2017-02-10 04:17] Timer commented on #936
Resolved in #937 and #1504.

[2017-02-10 04:17] #936 closed

[2017-02-10 06:56] Timer opened #1516 "Add test cases to validate functionality of PUBLIC_URL and relative homepage"
We recently added [`PUBLIC_URL` support](https://github.com/facebookincubator/create-react-app/pull/937) and official [`.` (relative) homepage support](https://github.com/facebookincubator/create-react-app/pull/1489).

I think it's very important to test these behaviors to ensure they're being properly applied.
`PUBLIC_URL` is already partially tested but could be improved, and there exists no tes

[2017-02-10 06:58] Timer commented on #1487
Addressed in https://github.com/facebookincubator/create-react-app/pull/1489.

[2017-02-10 06:58] #1487 closed

[2017-02-10 07:01] Timer commented on #1480
Hi @Booli, now that #1489 has landed can you please test it and let us know if you're still having the problem?

[2017-02-10 13:46] will-stone commented on #741
Glad I stumbled upon this. I've put `NODE_PATH=src/` in my `.env` file and now I can use this `import Button from 'components/Button` from any file. Thank-you all.

[2017-02-10 14:12] EnoahNetzach commented on #1516
The test runner would have to
- create a new project (the simplest one), or
- create a single project and modify the `"homepage"` field

 for each test case.

A way to test them could be that of compiling them in various cases, and look for usages in the code afterward (similar to what is done [here](https://github.com/facebookincubator/create-react-app/commit/613b584f42a04257d9fb53b2a96a1f49bb7a6

[2017-02-10 14:49] FranckErnewein opened #1517 "Loading external shader file for Webgl"
Hi,

A part of my app use Webgl (with shaders).
I would like to load my shader files in my bundle (instead of write shaders as string inside the JS files).
So I wrote an a file named `shader.vert` which contains
[code]
Then I try to load it in an other file
[code]
but I get this output instead of the original content of my file:
[code]

I'm not a very confortable with Webpack (and that's why I lov

[2017-02-10 15:12] gaearon commented on #1517
If you need it as a string, could you just write a JS file exporting a string?

[code]

In CRA’s setup, when you import an unrecognized file, you’ll get its URL (which may be a data URL when it’s small enough and inlined). This is useful for media files, but not useful for shaders.

Alternatively, you can `npm run eject` and then use any custom Webpack loaders (I think `raw-loader` might work for

[2017-02-10 15:12] #1517 closed

[2017-02-10 16:10] Timer commented on #1516
That's exactly what I had in mind, so it's great to hear that you're on the same page @EnoahNetzach.

I think testing this case warrants some extra CI time, but I believe it's something we only have to test on Node 6.

Also, we removed the PUBLIC_URL effect in development so it remained the same as before. I want to test that it's not respected.

[2017-02-10 16:29] Timer commented on #1279
#937 just landed, so you can now use `PUBLIC_URL` as will be documented [here](https://github.com/facebookincubator/create-react-app/issues/1516)!

Let me know if this doesn't suit your use case.

Thanks!

[2017-02-10 16:29] #1279 closed

[2017-02-10 17:10] draperd commented on #1227
This is a really useful discussion and the information provided by @EnoahNetzach has really helped get react-intl into my create-react-app application. I think it would be exceptionally valuable to have i18n working out-of-the-box with create-react-app (or at least some good documentation explaining how to use it).

The main thing that I don't quite understand is how this works with a production b

[2017-02-10 17:24] mkonicek commented on #1492
I'm a bit late to the party but I think WebPack (and now the React Native packager too) support symlinks?

So with this setup:

[code]

Can I just 'npm link' the `sharedComponents` into both `myWebApp/node_modules` and `myReactNativeApp/node_modules`? Then we don't need anything else, right?

[2017-02-10 17:32] EnoahNetzach commented on #1516
Probably the long execution of "kitchensink" in **node** 4 lets us add another job to the travis' matrix, dedicated to this (and maybe future related) problems.
It would still finish before that long one.

I'd try it creating a new project each time (similar to "installs"), and see how much it takes..

For testing I think a simple `sed` would mostly work (?)

Which are the test cases, and the expe

[2017-02-10 18:23] Timer commented on #1516
Correct @EnoahNetzach -- but we should also check the `PUBLIC_URL` cases when the `"homepage"` is set opposite of what we're testing to make sure that `PUBLIC_URL` overrides it.

Checking `"."` should be as simple as: `grep -R -q "../../static/" build/`

[2017-02-10 18:30] EnoahNetzach commented on #1227
@draperd, as a non English native speaker, I find that unfortunately no i18n instrument in js is a "catch all" solution.
I've used a couple and always ended up tweaking them to my needs (e.g. subject/direct object gender and numerosity, probably @gaearon could say something about Russian desinences, I don't know if there is someone from Iceland here, and so on and so forth..).
Whichever translatio

[2017-02-10 18:36] ericvicenti commented on #1492
@mkonicek, yes but how will you configure the build for those shared components?

Also, `npm link` is non-ideal because it clobbers the global installation, in comparison to `linklocal` which lets you use relative dependencies and link them in for development.

[2017-02-10 18:36] draperd commented on #1227
@EnoahNetzach Thanks for your response... I wasn't suggesting that there is a one-size fits all solution, but it would seem that React-Intl is a pretty good fit. I can understand the rationale of not wanting to tie "create-react-app" to a single solution, however **a solution of some kind** is almost going to be required. Any serious application is going to want to support i18n so I'm simply sugge

[2017-02-10 18:38] ljharb commented on #1492
@ericvicenti since global installations are only for command line binaries, not requireable things, what global installation of a requireable thing (that is thus non-requireable, and thus useless) are you concerned with clobbering?

[2017-02-10 18:51] ianschmitz commented on #1086
I think i have a good sense how this could be quite easily achieved during the production build using `sw-precache`.

However i'm not sure how we could best manage the `sw-precache` build artifacts in a typical debug situation -- or if supporting the dev environment is even a requirement for this issue. I suspect there will be significant demand to develop and test with the service worker in place

[2017-02-10 19:21] jeffposnick commented on #1086
@ianschmitz, I'd be happy to assist with a `sw-precache`-based implementation.

Theoretically, it's the equivalent of https://github.com/jeffposnick/create-react-pwa/compare/c-r-a-0.6.0...c-r-pwa-0.6.0, most likely using either the [`sw-precache-webpack-dev-plugin`](https://github.com/ragingwind/sw-precache-webpack-dev-plugin) or [`sw-precache-webpack-plugin`](https://github.com/goldhand/sw-precac

[2017-02-10 19:53] Timer commented on #1516
Are you giving this a whirl, @EnoahNetzach? Or should I try to pull something together?

[2017-02-10 20:23] Timer commented on #1516
Started: https://github.com/facebookincubator/create-react-app/pull/1519. Feel free to contribute.

[2017-02-10 21:41] EnoahNetzach commented on #1516
@Timer you go, I'll watch and judge 😛

[2017-02-10 21:42] Timer commented on #1516
I'd love a review on #1519 @EnoahNetzach.

[2017-02-10 21:48] EnoahNetzach commented on #1516
@Timer tomorrow I'll be more than happy

[2017-02-10 22:05] Timer commented on #527
Official support for this has landed and will be out in 0.9.0, see #1489.

Let us know if you have any more problems!

[2017-02-10 22:05] #527 closed

[2017-02-10 22:32] natew commented on #1492
We're working on something for this as well in a generic way over here if
anyone's interested:

https://github.com/motion/repo-man

On Fri, Feb 10, 2017 at 10:38 AM Jordan Harband <notifications@github.com>
wrote:

[2017-02-10 22:57] cjthedizzy opened #1520 "expect.any throws a type error"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?
Reproducible with 18.1.0

### Description
http://stackoverflow.com/questions/41942411/typeerror-expect-any-is-not-a-function

### Expected behavior
`expect.any(Constructor)` should work as listed in the docs for Jest

### Actual behavior
Throws

[2017-02-10 23:02] ericvicenti commented on #1492
@ljharb, Different projects on your computer could use the same module names, and they collide when linked globally.

[2017-02-10 23:51] ljharb commented on #1492
@ericvicenti that seems like a naming problem, not a tooling problem :-/ names should be unique.

[2017-02-10 23:52] gaearon commented on #1520
Could this be a new method in Jest 18? We are currently shipping Jest 17.
An update with Jest 18 is coming within a few days.

[2017-02-11 00:12] gaearon commented on #1493
Can we consider this resolved by #1946?

[2017-02-11 00:15] cjthedizzy commented on #1520
According to the changelog here: https://facebook.github.io/jest/blog/2016/12/15/2016-in-jest.html

`Added: expect.any, expect.anything, expect.objectContaining, expect.arrayContaining, expect.stringMatching.`

Which is why I assumed it was there.

[2017-02-11 00:20] gaearon commented on #1520
Seems new in Jest 18. I can confirm it works on master and will work in `react-scripts@0.9.0` we're cutting very soon.

[2017-02-11 00:20] #1520 closed

[2017-02-11 00:21] cjthedizzy commented on #1520
Awesome thanks @gaearon

[2017-02-11 00:24] gaearon commented on #1493
Going to close in hope it’s resolved but please reopen if not.

[2017-02-11 00:24] #1493 closed

[2017-02-11 00:33] ericvicenti commented on #1492
Yes but we need namespacing tools to avoid duplicate names. Like on my computer, I can have two files with the same name, just not in the same folder. I'm not going to tell people that they have to worry about namespace conflicts across the whole the computer.

[2017-02-11 01:17] rgbkrk commented on #1333
I'm using a `create-react-app` created app within a lerna monorepo and am quite pleased with it. Steps:

[code]

:tada:

You can `require` your other packages by name within the create-react-app after adding them to `app`'s `package.json` and running `lerna bootstrap`.

[2017-02-11 01:23] gaearon commented on #1333
This is pretty nice. Does Babel transpilation still work in this case though?

[2017-02-11 01:31] gaearon commented on #1492
IIRC symlinks also confuse watchman (which we rely on through Jest). Not sure if I'm right though.

[2017-02-11 01:37] ericvicenti commented on #1492
@gaearon, yeah I think you're right. Pretty sure that is why the RN packager doesn't support symlinks. So I guess that would mostly affect the results of `npm test --watch`

[2017-02-11 02:21] rgbkrk commented on #1333
The individual packages under `packages/` need to do a transpilation step. They'll be linked via lerna but the main entrypoints still need to be ES5.

[2017-02-11 02:23] rgbkrk commented on #1333
I would prefer to not have to transpile all our packages when used in an overall app and yet I know that when we publish to npm we need them to be ES5-consumable.

[2017-02-11 03:38] Timer commented on #1430
0.9.0 has been released. Please let me know if you encounter any bugs.

[2017-02-11 03:48] Timer commented on #1480
Hi there! `react-scripts` v0.9.0 was just released which adds support for building for relative paths. [You may read how to do so here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths).

Please test it and don't hesitate to reach out if this doesn't solve your specific use case!

[2017-02-11 03:48] #1480 closed

[2017-02-11 03:48] Timer commented on #1487
Hi there! `react-scripts` v0.9.0 was just released which adds support for building for relative paths. [You may read how to do so here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths).

Please test it and don't hesitate to reach out if this doesn't solve your specific use case!

[2017-02-11 03:49] Timer commented on #527
Hi there! `react-scripts` v0.9.0 was just released which adds support for building for relative paths. [You may read how to do so here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths).

Please test it and don't hesitate to reach out if this doesn't solve your specific use case!

[2017-02-11 03:51] Timer commented on #1279
Hi there! `react-scripts` v0.9.0 was just released which adds support for building for relative paths. [You may read how to do so here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths).

Please test it and don't hesitate to reach out if this doesn't solve your specific use case!

[2017-02-11 03:52] Timer commented on #1094
Hi there! `react-scripts` v0.9.0 was just released which adds support for building for relative paths. [You may read how to do so here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths).

This should address majority of concerns, but this issue will remain open as it is for a broader topic (doing so while keepin

[2017-02-11 03:52] Timer commented on #936
Hi there! `react-scripts` v0.9.0 was just released which adds support for building for relative paths. [You may read how to do so here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths).

Please test it and don't hesitate to reach out if this doesn't solve your specific use case!

[2017-02-11 03:53] Timer commented on #823
Hi there! `react-scripts` v0.9.0 was just released which adds support for building for relative paths. [You may read how to do so here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths).

Please test it and don't hesitate to reach out if this doesn't solve your specific use case!

[2017-02-11 03:53] #823 closed

[2017-02-11 03:54] Timer commented on #725
Hi there! `react-scripts` v0.9.0 was just released which adds support for building for relative paths. [You may read how to do so here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths).

Please test it and don't hesitate to reach out if this doesn't solve your specific use case!

[2017-02-11 03:56] Timer commented on #165
Hi there! `react-scripts` v0.9.0 was just released which adds support for building for relative paths. [You may read how to do so here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#building-for-relative-paths).

Please test it and don't hesitate to reach out if this doesn't solve your specific use case!

[2017-02-11 03:57] Timer commented on #647
Hi there! `react-scripts` v0.9.0 was just released which adds support for specifying a CDN url. [You may read how to configure it here.](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#advanced-configuration)

Please test it and don't hesitate to reach out if this doesn't solve your specific use case!

[2017-02-11 03:57] Timer commented on #936
Hi @EnoahNetzach! This is out in 0.9.0.

[2017-02-11 03:58] Timer commented on #1435
Hi there! `react-scripts` v0.9.0 was just released which adds support for specifying a url. [You may read how to configure it here.](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#advanced-configuration)

Please test it and don't hesitate to reach out if this doesn't solve your specific use case!

[2017-02-11 03:58] #1435 closed

[2017-02-11 06:32] existentialism commented on #1430
Nice work @Timer!

[2017-02-11 06:33] Timer commented on #1430
Thank you, @existentialism!

[2017-02-11 06:33] #1430 closed

[2017-02-11 07:26] frontsideair commented on #1430
Works like a charm, thanks @Timer!

[2017-02-11 07:33] Timer commented on #1430
That's reassuring! Thanks @frontsideair.

[2017-02-11 07:57] Timer opened #1524 "Add lint rule to disallow `require.ensure`"
We need a lint rule that will error when `require.ensure` is used.
Users should use `import()` instead.

[2017-02-11 08:31] smmoosavi opened #1525 "Django csrf token"
How to I get django csrf token? Is there any way CRA proxy html pages from backend server like django. (I know already proxy works for api call)

[2017-02-11 09:00] Timer commented on #1351
Closing this issue as it has been answered. Thanks!

[2017-02-11 09:00] #1351 closed

[2017-02-11 09:03] Timer commented on #1082
Hi! `react-scripts` v0.9.0 was just release which should show you an error message when this happens; presumably your machine is running out of memory.

Please let us know if this prompts you, thanks!

[2017-02-11 09:19] scholtzm commented on #1150
@kachkaev Are there any side effects? Because of this, I'm still stuck at 0.7.5.

[2017-02-11 10:28] kachkaev commented on #1150
@scholtzm I have not noticed any. Please share yours – others (including myself) may face them in the next project.

[2017-02-11 13:22] gaearon commented on #1150
Maybe we can ask Webpack to expose a way to turn that warning off? I never found it useful.

[2017-02-11 13:29] gaearon commented on #1520
Should be available on 0.9.0 we just released.

[2017-02-11 14:08] merlinpatt commented on #659
I'm having this issue as well, but I do not believe it to be caused by the listed issues.

My current setup is that I am running the project inside a vagrant virtual machine, and editing my files in Atom on my host machine (Windows).

My best guess is that it doesn't like it being a shared folder across the vm and the host.

Any ideas on how I can fix this without having to get rid of my vagrant s

[2017-02-11 15:01] gaearon opened #1526 "Document debugging with VS Code"
I haven't tried it yet but if it's really so good it should be in the User Guide.
https://twitter.com/auchenberg/status/829388517167935488

[2017-02-11 15:04] scholtzm commented on #1150
@kachkaev Thinking about it right now, I think Jest uses `CI` env var to determine certain settings.

@gaearon As per my initial post here, in my particular case, I'd have to use [`noParse` option](https://webpack.js.org/configuration/module/#module-noparse). I don't think there is a global setting that would allow us to disable this warning globally. [Seems like `noParse` is the "official" way.](

[2017-02-11 15:12] hzoo commented on #1286
Should be already released given it was merged Jan 3

Works on http://astexplorer.net/#/gist/4569eb8dfa4c0ea704a87ef99e7f36f2/53dc1e1b4f1b16f4b02ed2ecdf2c462a61abcf92

[2017-02-11 15:26] smmoosavi commented on #1525
or proxy every things except `/static/*`.

[2017-02-11 15:36] zhaoyao91 commented on #1331
Yeah, I think `convention over configuration` do not mean no configuration, but providing a good enough default configuration while allow you to do customization (If you like).

[2017-02-11 16:21] gaearon commented on #1331
This has been suggested more than ten times. I encourage you to search the issues and PRs for past discussions and responses. 😉

I understand why people want to allow Babel plugins. However Babel itself has a number of very unfortunate pitfalls, such as the fact that different plugin order can create buggy code. Exposing Babel configuration in a no-config tool will make the problem worse because p

[2017-02-11 16:21] #1331 closed

[2017-02-11 19:15] gaearon commented on #1150
https://github.com/webpack/webpack/issues/4263

[2017-02-11 19:37] Timer commented on #183
Merged as of today. #1291 🎉

[2017-02-11 19:37] #183 closed

[2017-02-11 19:48] levithomason commented on #1421
This is fixed in `semantic-ui-react@0.64.8`.

[2017-02-11 19:51] Timer opened #1529 "Enable webpack v2 performance hints"
- [x] [Add lint rule to disallow `require.ensure`](https://github.com/facebookincubator/create-react-app/issues/1524) (https://github.com/facebookincubator/create-react-app/pull/1536)
- [x] [Add support for dynamic import()](https://github.com/facebookincubator/create-react-app/issues/1192) (#1538)
- [ ] Document dynamic import

- [ ] Tune performance hint thresholds

- [ ] https://github.com/webp

[2017-02-11 19:57] gaearon commented on #1421
Awesome, thanks for reporting back.

[2017-02-11 20:12] gaearon commented on #1474
Going to close since this is out of our control.
If you have issues with Yarn please report them, and use npm while they are being fixed.

[2017-02-11 20:12] #1474 closed

[2017-02-11 20:13] gaearon commented on #1394
I'm not entirely sure what you're asking. Can you provide a more detailed feature request? What would this flag do, compared to how we're doing things now?

[2017-02-11 20:16] gaearon commented on #1386
Thanks for the issue! I understand where you're coming from, but in real apps the goal of 100% test coverage is often unrealistic and encourages people to create brittle tests that aren't very useful.

I think it’s fine to leave this as is, but I appreciate your opinion.

[2017-02-11 20:16] #1386 closed

[2017-02-11 20:23] gaearon commented on #1142
I guess I'll close since this is a known issue in Yarn, and keeping it open here doesn't change anything. We still track it in the umbrella task. https://github.com/facebookincubator/create-react-app/issues/1189

[2017-02-11 20:23] #1142 closed

[2017-02-11 20:24] sofianegargouri commented on #1394
I guess that actually you are creating some links while running the commands, but it can break when there are shared folders between 2 different systems (as for Vagrant users). To prevent that, NPM added an option to prevent those Symlinks.

As written in their documentation:

I don't know if it is understandable, but when I tried to create a project, I had many conflicts with symlinks that preven

[2017-02-11 20:31] gaearon commented on #1525
No, there is no built-in proxying for HTML packages.

You can, however, embed anything (e.g. a token) in your HTML page when you serve it.
Does an approach like [this](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#injecting-data-from-the-server-into-the-page) help?

[2017-02-11 20:33] gaearon commented on #1385
As of Jest 18, this doesn’t appear fixed yet.

[2017-02-11 20:36] gaearon commented on #1385
Let's fix it by fixing https://github.com/facebookincubator/create-react-app/issues/544.
Closing as a duplicate.

[2017-02-11 20:36] #1385 closed

[2017-02-11 20:37] gaearon commented on #1501
I just verified, and this doesn't occur with Create React App:

<img width="608" alt="screen shot 2017-02-11 at 20 37 15" src="https://cloud.githubusercontent.com/assets/810438/22857266/ee19833e-f099-11e6-9dac-caded5505f15.png">

You are probably using something else (e.g. a fork of it?), or a library that does this.

[2017-02-11 20:37] #1501 closed

[2017-02-11 20:39] gaearon commented on #1525
I'm going to close since I provided a workaround—we don't directly integrate with Django so I don't think there is a better answer. Just treat CRA output as a static HTML/JS bundle (which it is), and think how you'd solve this problem with HTML and JS.

[2017-02-11 20:43] gaearon commented on #1469
Have you tried it? I’m not entirely sure if it works because it’s not clear what you tried, and what problems you have encountered.

I would just note that dynamic expressions in `require` cause *all* files to be included in your bundle. This means you'll likely ship your development config to production. I would suggest to explicitly compare `NODE_ENV` and doing static `require()`s in conditional

[2017-02-11 20:46] gaearon commented on #1456
Do you have this problem with a clean project? So far I'm unable to reproduce it with Node 6.9.4.

[2017-02-11 20:49] gaearon commented on #1456
This was likely caused by WebStorm's use of that variable. The deprecation warning was rolled back for some cases so I'm assuming this got fixed. https://github.com/visionmedia/debug/issues/410

[2017-02-11 20:49] #1456 closed

[2017-02-11 20:51] gaearon commented on #1455
@NikitaLiashenko Sounds good, do you want to send a PR to User Guide?

[2017-02-11 21:03] gaearon commented on #1450
I think I'm going to close this unless there's more support for this being configurable. You can already override `BROWSER` environment variable to disable the default opening behavior (and potentially do something else in a custom script instead):

[code]

[2017-02-11 21:03] #1450 closed

[2017-02-11 21:03] gaearon commented on #1494
0.9.0 is out now with support for this.

[2017-02-11 21:04] gaearon commented on #873
FYI support for `BROWSER=none npm start` (or `BROWSER=Firefox npm start` or whatever) landed in 0.9.0.

[2017-02-11 21:07] beac0n commented on #1494
upgraded to 0.9.0, which resolved this issue :). Thanks a lot :+1:

[2017-02-11 21:07] gaearon commented on #1416
We probably won't do this because it gets in the way of people's workflows (e.g. some teams may prefer to commit quickly and deal with failures later). Thanks for the suggestion though!

[2017-02-11 21:07] #1416 closed

[2017-02-11 21:08] gaearon commented on #1414
@EnoahNetzach Do you have any thoughts on this?

[2017-02-11 21:09] gaearon commented on #1413
I’m going to close since it doesn’t appear like there’s anything actionable here for this repo.
Let me know if I’m wrong!

[2017-02-11 21:09] #1413 closed

[2017-02-11 21:11] gaearon commented on #1411
I’m going to close since it doesn’t seem really necessary in DEV, and it would either require configuration, or having some sort of convention for the filenames of the cert. If you feel strongly about this feel free to send a PR that uses a filename convention for them, and we can review it.

[2017-02-11 21:11] #1411 closed

[2017-02-11 21:12] gaearon commented on #1403
Is this some sort of problem on WebpackDevServer side? I'm not sure I understand where the issue is and how to approach fixing it. Do you have a project reproducing this?

cc @SpaceK33z

[2017-02-11 21:13] gaearon commented on #1401
Tagging as 0.9.1 since, whatever it is (I haven't dived in yet), it should be an easy fix.
Maybe https://github.com/facebookincubator/create-react-app/pull/1402 or something else.

[2017-02-11 21:15] gaearon commented on #1396
Tagging as 0.9.1—not because we'll fix it, but because we should at least report it upstream to the project causing it, whether Webpack or something else. Once we report it I'm happy to untag it.

[2017-02-11 21:16] gaearon commented on #1394
Oh, I see. So you'd like `create-react-app myapp --no-bin-links` to pass that option down to `npm install` call, is that correct?

[2017-02-11 21:16] gaearon commented on #1394
This should be an easy first PR.

[2017-02-11 21:17] gaearon commented on #1390
The size issue was worked around in 0.9.0 so closing this.
🎊

[2017-02-11 21:17] #1390 closed

[2017-02-11 21:18] gaearon commented on #1388
I appreciate the suggestion but I know some people are already using SVGs as sprites so I wouldn't like to break them. Especially given that it is easy to declare SVG inside a React component anyway.

[2017-02-11 21:19] gaearon commented on #1387
Going to close unless more people bump into this problem. Thanks for reporting in either case!

[2017-02-11 21:19] #1387 closed

[2017-02-11 21:42] gaearon opened #1530 "Blacklist `event` as a global we don't support implicitly"
Just saw @kittens bump into this in the office the other day:

[code]

Guess what `event` is. A [browser global](https://developer.mozilla.org/en-US/docs/Web/API/Window/event) (thanks IE).

In a tight code it is much less obvious, and easy to miss. This is especially problematic in React apps where `event` would actually correspond to something completely different than the synthetic event React i

[2017-02-11 21:45] gaearon commented on #1368
Appears fixed with `react-scripts@0.9.0` which contains Jest 18.

<img width="458" alt="screen shot 2017-02-11 at 21 44 42" src="https://cloud.githubusercontent.com/assets/810438/22857766/5a6286b8-f0a3-11e6-9017-840cd03f93e8.png">

[2017-02-11 21:45] #1368 closed

[2017-02-11 21:47] gaearon commented on #1361
I don't understand what exactly you are asking. Your test seems to mock requests to those files—isn't that exactly what you wanted? There is no server in tests so they don't automatically get served. But since Jests tests run in a Node environment you can always load them with Node `fs` module. I hope this helps!

[2017-02-11 21:47] #1361 closed

[2017-02-11 21:49] #1358 closed

[2017-02-11 21:50] gaearon commented on #1355
FWIW, in the future we suggest moving to tools like [prettier](https://github.com/jlongster/prettier) for stylistic enforcement. It doesn’t seem very wise that developers spend their time manually correcting style issues. In the meantime I hope this discussion helps.

[2017-02-11 21:50] #1355 closed

[2017-02-11 21:51] jeffposnick commented on #1086
I had some time today to see what it would be like to add in service worker generation by modifying the webpack build inside of `react-scripts`, instead of running the `sw-precache` CLI after the build, like I was doing with [`create-react-pwa`](https://github.com/jeffposnick/create-react-pwa).

The changes aren't that bad: https://github.com/facebookincubator/create-react-app/compare/master...jef

[2017-02-11 21:52] gaearon commented on #1354
Another direction we could explore here is making it easy for independent apps to share the same components and modules. This way you don't need multiple entries—you just have multiple apps.

[2017-02-11 21:56] gaearon commented on #1353
This is actually not an ESLint warning—seems like webpack emits such warnings by itself in some cases.

My guess is that the way your project directory is on the disk doesn’t match the way you have it in the shell. For example it might be `C:\dev` on disk but you might have cd'd into `C:\Dev` in your shell. This causes all sorts of issues.

I recommend creating a project in the disk root. If the p

[2017-02-11 21:56] #1353 closed

[2017-02-11 21:57] gaearon commented on #1349
Closing as there's no additional info confirming the bug.

[2017-02-11 21:57] #1349 closed

[2017-02-11 21:59] gaearon commented on #1346
Hi, thanks for the suggestion. There's been numerous discussions around this so please subscribe to these issues if you're interested: https://github.com/facebookincubator/create-react-app/issues/741, https://github.com/facebookincubator/create-react-app/issues/1065, https://github.com/facebookincubator/create-react-app/issues/1492, https://github.com/facebookincubator/create-react-app/issues/1333

[2017-02-11 21:59] #1346 closed

[2017-02-11 22:01] gaearon commented on #1345
That's pretty cool. Let's take another look at this after #1249.

[2017-02-11 22:03] amilajack commented on #1345
Great! This actually works with the `browserslist` config in the `package.json` 🎉

[2017-02-11 22:04] gaearon commented on #1341
I’ll close since workarounds exist, and it doesn’t seem like a very common issue.

Not sure why—can't you add a newline after it (or include CSS before main JS kicks is)?

[2017-02-11 22:04] #1341 closed

[2017-02-11 22:05] gaearon commented on #1327
No, this is currently not a supported use case. This project is mostly for building standalone apps rather than for building integrations into existing apps. For existing apps, setting up your own build pipeline (possibly based on this one) might be better anyway since there are usually more configuration needs in such projects.

[2017-02-11 22:05] #1327 closed

[2017-02-11 22:06] gaearon commented on #1322
Tagging to revisit before 0.10.

[2017-02-11 22:08] gaearon commented on #1316
I’m closing since this appears to be a duplicate of https://github.com/facebookincubator/create-react-app/issues/1070.
Let’s continue the discussion there.

This sounds like a bug in React, and you should file one there.

[2017-02-11 22:08] #1316 closed

[2017-02-11 22:09] gaearon commented on #1299
Closing as a duplicate of https://github.com/facebookincubator/create-react-app/issues/544.
We should just fix that instead.

[2017-02-11 22:09] #1299 closed

[2017-02-11 22:10] gaearon commented on #1298
Going to close since there was no project provided reproducing the issue.

[2017-02-11 22:10] #1298 closed

[2017-02-11 22:11] gaearon commented on #1296
Unfortunately not—you have to use CommonJS for this.
Closing as supported.

[2017-02-11 22:11] #1296 closed

[2017-02-11 22:12] gaearon commented on #1294
Going to close since we don’t intend to support something like this in near future, but please feel free to use nwb for this, I heard it’s great!

[2017-02-11 22:12] #1294 closed

[2017-02-11 22:15] Timer commented on #1396
We'll have to test if webpack 2 fixes this.

[2017-02-11 22:15] gaearon commented on #1290
Tagging because we need to report this upstream to Webpack (if the issue is still reproducing).
Feel free to untag after we have reported it.

[2017-02-11 22:15] gaearon commented on #1287
Probably don't do this for now.

[2017-02-11 22:15] #1287 closed

[2017-02-11 22:17] gaearon commented on #1278
Can you raise an issue with your suggestions in https://github.com/Urthen/case-sensitive-paths-webpack-plugin? It is not exactly clear to me what is actionable here on our side.

[2017-02-11 22:18] gaearon commented on #1268
This was presumably fixed by #1274, released in 0.9.0. Please verify and let us know!

[2017-02-11 22:18] #1268 closed

[2017-02-11 22:19] gaearon commented on #1259
Seems like no one else is hitting this so far (or at least not reporting it), and I really don't know what caused this. Closing until we have more issues like this.

[2017-02-11 22:19] #1259 closed

[2017-02-11 22:22] gaearon commented on #1257
Closing as fixed.

[2017-02-11 22:22] #1257 closed

[2017-02-11 22:26] gaearon commented on #1217
Why not build the project too? It could uncover other critical issues that ESLint might miss.

[2017-02-11 22:26] gaearon commented on #1210
Any resolution here?

[2017-02-11 22:28] gaearon commented on #1192
@Timer Can you give me a hint of what’s required if we assume the baseline is Webpack 2? Do we just need to add support for dynamic import in Jest? @shubheksha had a branch in progress but we didn’t go forward because it wasn’t clear if Webpack 2 would arrive first. Now that we switched to it, need to re-evaluate what’s still necessary.

[2017-02-11 22:32] gaearon commented on #1154
In theory I’d like to include this but I think it’s impractical without a cross-machine caching mechanism. Having super slow builds with lots of images would be very frustrating given that JS builds aren’t fast anyway. So bailing on this unless somebody has a bright idea on how to make it happen without making (first) builds slow.

[2017-02-11 22:32] #1154 closed

[2017-02-11 22:33] gaearon commented on #1146
Closing, as there is no reproducing case, and it is very hard to resolve issues like this without one. Would be happy to reopen if you provide a repro clearly demonstrating the problem. Thanks!

[2017-02-11 22:33] #1146 closed

[2017-02-11 22:35] gaearon commented on #1137
You can set them in cross-platform way:

[code]

then use

[code]

I think you might have misunderstood. In most CIs **you don't need to set this variable because it is already set by CI environments**. Travis, Circle, and probably others already do this.

I hope this helps!

[2017-02-11 22:35] #1137 closed

[2017-02-11 22:38] gaearon commented on #1094
I'd like to close this since the original discussion is no longer relevant (`"homepage": "."` works for this use case). We can open a new issue to discuss different semantics and how this fits with client side routing, if somebody has any suggestions. Thanks!

[2017-02-11 22:38] #1094 closed

[2017-02-11 22:40] gaearon commented on #1089
The question is, why? What makes it different?

I’d like to either close this issue, or get some ideas about the solution in case you know what’s stopping us from fixing it. Thanks!

[2017-02-11 22:41] gaearon commented on #1049
Going to close as there is a path forward (described above) that is out of our control.

[2017-02-11 22:41] #1049 closed

[2017-02-11 22:42] gaearon commented on #1046
Closing as doesn’t appear reproducible.

[2017-02-11 22:42] #1046 closed

[2017-02-11 22:43] gaearon commented on #1037
This was implemented in https://github.com/facebookincubator/create-react-app/pull/1440.

[2017-02-11 22:43] #1037 closed

[2017-02-11 22:47] gaearon commented on #932
This might be a bug in [`cross-spawn`](https://github.com/IndigoUnited/node-cross-spawn).
We'd need somebody to create a minimal example with it and verify it's an issue on Cygwin.
Or maybe it's just a Node or Cygwin bug.

[2017-02-11 22:47] gaearon commented on #909
Rad.

[2017-02-11 22:47] #909 closed

[2017-02-11 22:49] gaearon commented on #647
Going to close this.

[2017-02-11 22:49] #647 closed

[2017-02-11 22:49] gaearon commented on #210
Let's revisit this (or alternatives) now that we're on WP2?

[2017-02-11 22:51] gaearon commented on #104
I'll close because it doesn't appear like a lot of people are hitting this, but feel free to send a doc PR if you'd like!

This is now officially supported if you specify `"homepage": "."` in your `package.json`.

[2017-02-11 22:51] #104 closed

[2017-02-11 22:52] gaearon commented on #1508
Maybe related: https://github.com/facebookincubator/create-react-app/issues/656.

[2017-02-11 22:54] gaearon commented on #615
Closing, as both suggestions appear to be flaky for some users.
I don't think this is a promising direction unless Webpack core officially embraces it.
(I do think, however, that aggressive caching is essential, and Webpack could do better there.)

cc @sokra @thelarkinn

[2017-02-11 22:54] #615 closed

[2017-02-11 22:54] gaearon commented on #605
We have sourcemaps now so probably not relevant anymore.

[2017-02-11 22:54] #605 closed

[2017-02-11 22:55] gaearon commented on #453
Closing, but feel free to send a doc PR if you have suggestions about what should be there!

[2017-02-11 22:55] #453 closed

[2017-02-11 22:57] gaearon commented on #440
I think this was fixed since.

[2017-02-11 22:57] #440 closed

[2017-02-11 22:57] smmoosavi commented on #1525
Where I can specify `__SERVER_DATA__` to use in CRA dev-server?

[2017-02-11 22:59] gaearon commented on #451
https://github.com/jlongster/prettier looks promising.

[2017-02-11 23:00] gaearon commented on #72
Going to close as it should be fine now.

[2017-02-11 23:00] #72 closed

[2017-02-11 23:11] gaearon commented on #1525
Oh, I thought you were referring to production.

Since CRA lets you create single-page apps, you should refer to documentation about CSRF in single-page apps.

Here is what I found about this topic: http://security.stackexchange.com/questions/36468/csrf-protection-and-single-page-apps.

Does it help?

[2017-02-11 23:32] andrii-yarmola commented on #659
I have one more question here:
HMR is really awesome, but what if i want replace a REAL JS file, not only in my localhost?
like a bundle in 'build/static/' after 'npm run build' in production,
but automatically in 'hot'-way for development
without eject
how can i do that?

[2017-02-12 00:05] Olivia101 opened #1531 "Building WordPress theme on Windows"
I am new to CRA and a React beginner.
I am planning to build a WordPress theme using React + Redux and the WP API. I will be using the [Foxhound theme](https://github.com/ryelle/Foxhound) as a guide.
I currently have a WordPress website running on my local Windows 10 machine using Wampserver 3.0.8 (Apache 2.4.23, PHP 7.0.11, MySQL 5.7.15).
I am using an Apache virtual host and the WordPress websit

[2017-02-12 00:39] gaearon commented on #1007
Fixed via #1008.

[2017-02-12 00:39] #1007 closed

[2017-02-12 00:41] gaearon commented on #881
This is now explained in the [Sass integration documentation](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc).

[2017-02-12 00:41] gaearon commented on #404
This is now explained in the [Sass integration documentation](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc).

[2017-02-12 00:42] gaearon commented on #351
We now have official [Sass integration documentation](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc).
Feel free to contribute if something is missing!

[2017-02-12 00:43] gaearon commented on #78
We now have official [Sass integration documentation](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc).
Feel free to contribute if something is missing!

For now I think this is enough, and covers the use cases most people have.

[2017-02-12 00:57] gaearon commented on #1531
I think you should be able to use `HOST` and `PORT` environment variables for this.
See [Advanced Configuration](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#advanced-configuration).

Does this help?

[2017-02-12 00:58] gaearon commented on #659
@andrii-yarmola

This is currently not supported but you can track https://github.com/facebookincubator/create-react-app/issues/1070.

[2017-02-12 01:07] gaearon opened #1533 "Figure out how to pass a Node script to BROWSER"
We added support for `BROWSER` env variable that is interpreted by OS-specific command.
On OS X, it runs [`open http://url.com -a <BROWSER>`](https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man1/open.1.html).

However I'm not sure how to make it execute a Node script, and if it's even possible. That would be the best for allowing use cases like #1096 and https://

[2017-02-12 01:30] Timer commented on #1210
I'm not sure if it's necessary anymore, some changes in other packages mitigated the original need for this.
Additionally, I think the better solution would be to file bug reports against other projects where applicable to make it function correctly if it becomes a problem again.

[2017-02-12 01:30] #1210 closed

[2017-02-12 01:33] Timer commented on #932
Just dropping a note, I've noticed runaway node processes on on macOS too. I'll try to keep an eye out for the cause in the future.

[2017-02-12 02:18] ryansully commented on #1137
From https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/scripts/test.js#L24 (:24-27)
[code]

From this, `cross-env` is one solution, but running `npm test -- --coverage` also only runs tests once, and avoids the need for another dependency (unless you already have need for it for other reasons).

For my projects I've created an additional NPM script:
[code]
an

[2017-02-12 02:25] Timer opened #1535 "Update language support to es2017"
ref: https://github.com/facebookincubator/create-react-app/commit/c7ba1303b8500947b527527307fd8cbd2cbf5828

We should note we support ES2017, which is newer!

[2017-02-12 03:07] jeffposnick commented on #1086
I've made a [few more additions](https://github.com/jeffposnick/create-react-app/commit/75088abdea6da9190b90a1719586678f5576e2a4), including documentation that I hope will help developers unfamiliar with offline-first web apps understand what's going on.

https://github.com/facebookincubator/create-react-app/compare/master...jeffposnick:pwa?expand=1 is the current state of things, and I'm going to

[2017-02-12 04:04] tharakawj commented on #1524
I would like to work on this.

Apparently, there is no such a rule comes with `eslint-plugin-import`. So I'll send a PR to `eslint-plugin-import` repo first and update `eslint-config-react-app` accordingly. Is that the correct path to take on this issue? (I'm asking this because I'm new to open source and this project)

[2017-02-12 05:45] bew-dev commented on #1089
start script is called here in node_modules/react-scripts/bin/react-script.js
and is found here node_modules/react-scripts/scripts/start.js

you might be able to merge this functionality into the runDevServer method, where it instantiates WebpackDevServer, or whatever server your using.
https://github.com/Unitech/pm2/issues/2377#issuecomment-265131816

[2017-02-12 07:23] NikitaLiashenko commented on #1455
Yes, let me do this

[2017-02-12 08:17] ljharb commented on #1192
Per https://github.com/benmosher/eslint-plugin-import/issues/743#issuecomment-279203692, eslint core already supports `no-restricted-properties` which can easily block both `require.ensure` and `System.import`.

[2017-02-12 08:38] tharakawj commented on #1524
@ljharb Thanks for pointing it out. I'll use `no-restricted-properties` rule and send a PR.

[2017-02-12 08:40] bondz commented on #1526
We could add it after the section `Displaying Lint Output in the Editor`, what do you think?

[2017-02-12 10:22] sofianegargouri commented on #1394
I don't know if it's only needed in `npm install` as I wasn't able to go further

[2017-02-12 10:46] pankajpatel commented on #404
Thanks @gaearon! Meanwhile, I created a basic boilerplate for myself to choose between `less` and `scss` after ejected `create-react-app` https://github.com/pankajpatel/kickstart-react

[2017-02-12 11:11] sokra commented on #615
Sure vote for it: https://webpack.js.org/vote/

[2017-02-12 11:19] thangngoc89 commented on #615
@sokra spent 30 influences for it

[2017-02-12 12:00] cguedes commented on #1294
Ok @gaearon. Thanks for the feedback. Will look into nwb.

[2017-02-12 12:28] gaearon commented on #1294
See also discussion in https://github.com/facebookincubator/create-react-app/issues/1492 and past discussions linked from it.

[2017-02-12 12:49] gaearon commented on #1394
If Yarn supports it then in both. Check if Yarn supports it by inspecting its source :wink:

[2017-02-12 12:49] gaearon commented on #1526
Yup.

[2017-02-12 13:22] SpaceK33z commented on #1508
webpack-dev-server has built-in support for reloading files in the `contentBase`. Enable with `watchContentBase: true` in `devServer` object ([see docs](https://webpack.js.org/configuration/dev-server/#devserver-watchcontentbase)). Maybe you guys could use that? That feature is still a bit experimental, but it _should_ work (famous last words).

[2017-02-12 13:26] gaearon commented on #1508
Oh that's awesome. Is it new to Webpack 2?

[2017-02-12 13:32] SpaceK33z commented on #1508
@gaearon jup! Let me know if the feature doesn't fit your needs, perhaps we can improve the feature a bit on the dev-server side.

[2017-02-12 13:46] gaearon commented on #1508
Cool, that should be an easy PR.

[2017-02-12 14:25] FranckErnewein commented on #1517
Thank you for your answer

It's not very convenient to maintain shader's code as a string.
But I understand that it's not common to use shaders in a React application.

[2017-02-12 14:51] EnoahNetzach commented on #1271
@mzuccala could you please update `react-scripts` to *v0.9.0* and confirm that tests are still green?

[2017-02-12 16:00] EnoahNetzach commented on #1414
I don't particularly like to add another cli argument.

We could enhance `create-react-app/index.js` to look for directories too when the `packageName` contains (but doesn't begin with) "react-script"..

By the way, @danielfigueiredo, is [this](https://travis-ci.org/EnoahNetzach/create-react-app/jobs/200888737#L1170) what you mean?

[2017-02-12 18:17] sokra commented on #1529
btw. you can disable `require.ensure` in webpack 2.

[code]

[2017-02-12 18:28] Timer commented on #1529
Neat, thanks @sokra!

[2017-02-12 19:33] Timer commented on #1535
411347f5cc54cff135752ad8ea71f45c5353c4d7

[2017-02-12 19:33] #1535 closed

[2017-02-12 19:46] Timer commented on #1396
@vgrigoriu can you test if `master` fixes this?

[2017-02-12 21:02] Timer commented on #1192
@gaearon we compile our code before Jest gets it, so we just need to add babel support for `import()` (`babel-plugin-syntax-dynamic-import`).

This PR should contain the only required changes: #1538.

[2017-02-12 21:04] kasperpeulen commented on #451
@gaearon that is exactly the kind of tool that I meant

[2017-02-12 21:22] ianschmitz commented on #1086
Looking great @jeffposnick!

Have we thought about how we may handle the case where the developer removes the [PWA features](https://github.com/jeffposnick/create-react-app/blob/75088abdea6da9190b90a1719586678f5576e2a4/packages/react-scripts/template/src/index.js#L12) from the index.js? Do we still want to spit out a `service-worker.js` into the build directory?

Let me know if I can help at all w

[2017-02-12 22:50] thtliife opened #1545 "Please add backstroke-bot with read permission to the repo"
As per: https://github.com/1egoman/backstroke/issues/27
When forking cra in order to maintain a custom --scripts-version, using [backstroke](https://backstroke.us) to keep the fork updated against this repo is very convenient.
This is not possible if `backstroke-bot` does not have read access...

[2017-02-12 22:52] Timer commented on #1545
I'm not sure if that issue applies to us, we're not a private repository

[2017-02-12 22:54] thtliife commented on #1545
I wonder why I am not able to get it working then... ?
@Timer do you know of any repos that have gotten this working?

[2017-02-12 22:56] Timer commented on #1545
I do not know of any, sorry. I'm sure they exist somewhere! What sort of error are you getting?

[2017-02-12 22:57] thtliife commented on #682
@timarney Did you need to do anything special to get backstroke working?
I have tried both normal and classic modes, and neither work...
Any chance you could show a screenshot of the web hook setup page?

[2017-02-12 22:57] thtliife commented on #1545
Uhh, error: {"message":"Validation Failed","errors":[{"message":"The listed users and repositories cannot be searched either because the resources do not exist or you do not have permission to view them.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://developer.github.com/v3/search/"}

[2017-02-12 22:58] thtliife commented on #1545
that is if I try the classic mode, which is not well supported anymore...
when trying to use the standard mode, I get:
`No permission to add a webhook to the repository facebookincubator/create-react-app. Make sure thtliife has given Backstroke permission to access this organisation or repo via OAuth.`

[2017-02-12 23:01] Timer commented on #1545
I believe you already found it, but I would try using backstroke classic as described here: https://github.com/facebookincubator/create-react-app/issues/682#issuecomment-268986340.

[2017-02-12 23:03] Timer commented on #1545
Are you trying to add backstroke to our repository instead of yours? The error seems to be hinting towards that. Make sure you're using https://github.com/thtliife/create-react-app-storybook-scripts-fork

[2017-02-12 23:12] thtliife commented on #1545
I am trying to add it to my fork...
![screen shot 2017-02-13 at 9 10 31 am](https://cloud.githubusercontent.com/assets/9210782/22867098/840e5404-f1cc-11e6-8c69-cc8aa2ec171d.png)

[2017-02-12 23:19] Timer commented on #1545
After reading the docs, I think those roles should be switched. From should be your repo, From should be create-react-app.

[2017-02-12 23:25] thtliife commented on #1545
would that not try to sync pushes from my repo to cra's?

[2017-02-12 23:29] Timer commented on #1545
I'm not sure really, their docs are so confusing. The way you have it pictured is the logical way, but who knows. Once we figure this out we can go ahead and document it for posterity. I'd appreciate if you could do some more research, @thtliife.

[2017-02-12 23:31] thtliife commented on #1545
oh no problems @Timer
Manually refactoring everything from the recent webpack 2 release of cra was painful...
I'll be sure to get this working... and once I have, I'd be happy to make a pr for the doco...

[2017-02-12 23:31] thtliife commented on #1545
In the meantime, I have opened https://github.com/1egoman/backstroke/issues/52 to try to get some clarity...

[2017-02-12 23:32] thtliife commented on #1545
I wonder though, if its something to do with the monorepo setup, and maybe backstroke's handling of such a repo?

[2017-02-12 23:32] Olivia101 commented on #1531
@gaearon Yes that helps. Thanks.

The other question I have is: does anyone have any examples/tutorials of how to build only parts of a WordPress theme as a Single Page App instead of the entire website to get the full SEO benefits as discussed in this [blog post](https://www.thewpcrowd.com/wordpress/javascript-applications-wordpress-and-seo/)?
SEO is a challenge for all websites built as a SPA.

[2017-02-13 00:19] 1egoman commented on #1545
@thtliife @Timer I'm the creator of Backstroke.

I left a comment on the issue on the Backstroke repo: https://github.com/1egoman/backstroke/issues/52#issuecomment-279268310

I'm going to take a look at Backstroke's docs tonight and see what I can do to make them more clear. Any feedback / suggestions would be very helpful.

[2017-02-13 00:28] thtliife commented on #1545
@1egoman @Timer
It looks to be ok now :)
I can successfully create a link on https://backstroke.us
and testing with curl returns
[code]

[2017-02-13 00:46] Timer commented on #1545
Perfect, thanks! @thtliife can you please update https://github.com/facebookincubator/create-react-app/pull/779?

[2017-02-13 00:46] #1545 closed

[2017-02-13 02:24] thtliife commented on #1545
@Timer will do :)

[2017-02-13 03:39] viankakrisna commented on #1531
@Olivia101 for SEO i think you could do a user agent switching. It's similar to what prerender.io does. But instead of an external service you could feed the bots to wordpress' own theme engine. I'm building one myself currently.

[2017-02-13 05:21] GAumala commented on #1533
I think that the best choice is to spawn a child process to execute the node script if the `BROWSER` string ends in ".js". It is the easiest way to support al operating systems.

react-dev-utils uses [`opn`](https://www.npmjs.com/package/opn)  to open the browser. This module uses the command `open` on OS X, `start` on Windows and `xdg-open` on other platforms. I only use Linux, so I only know abo

[2017-02-13 05:59] bgian commented on #641
I've never messed with React but I've managed to get setup really quickly with this repo (with my little knowledge of front-end).

Would be extremely useful to see how easy it is to get multiple pages setup with this app using react-router. 👍

[2017-02-13 06:26] smmoosavi commented on #1525
I solve my problem:
solution 1: run my own proxy. you can see gist [here](https://gist.github.com/smmoosavi/66584aaa234efa28b527b5afde643596)

solution 2: open django served page directly and load css and js from CRA
[code]

but in solution 2 hot reload not working. can I set hot reload url from `/sock-js/...` to `http://localhost:3000/sock-js/...`?

[2017-02-13 06:34] graham-sportsmgmt commented on #641
I've been poking around the docs for react-router and I feel like I have a pretty good understanding now.  I do wish there was a better quick start, but the learning curve isn't monumental.

I'm keeping all my routing logic in index.js, in fact that's all that index.js is used for in my app.  The HugeApp sample in react-router gave me some ideas on how to break that up a little, but for now this i

[2017-02-13 07:51] vgrigoriu commented on #1396
Can you point me at instructions on how to use `master`?

[2017-02-13 10:26] SpaceK33z commented on #1508
Done! See #1546. Now that CRA has moved to webpack2 I will be using a forked version of create-react-app in our new company projects :).

[2017-02-13 11:36] gaearon commented on #1396
You can clone the project, run npm install and npm start. This will run the development server with the default template. You can then edit it in packages/react-scripts/template.

[2017-02-13 11:48] draperd commented on #1227
Just to follow up my previous comment... what I actually need is a per component solution which I've now managed to achieve using the higher order component pattern. I will write this solution up as soon as I can for anyone that comes across this thread as it might be useful.

[2017-02-13 12:29] vgrigoriu commented on #1396
Thanks, I'll give it a try and let you know.

[2017-02-13 13:03] EnoahNetzach commented on #1227
@draperd good!

[2017-02-13 13:05] gaearon commented on #553
And... we're good? 🤗

[2017-02-13 13:05] gaearon commented on #553
With next Babel release that is.

[2017-02-13 13:43] draperd commented on #1227
As promised... hopefully this might be of use to some people: https://medium.com/@dave.draper20/i18n-per-component-in-react-using-the-higher-order-component-pattern-b04f32e7cd6a#.ewrplesd7

[2017-02-13 14:26] timarney commented on #682
@thtliife I haven't actively maintained my fork as I've opted to use another method (https://github.com/timarney/react-app-rewired)

That said I just looked at my fork of this repo and there hasn't been any recent 'auto' pull requests from backstroke.  In fact I only received 1 in the lifetime of my fork (Dec 4th 2016).  Quite possible this is no longer working.

[2017-02-13 15:04] gaearon commented on #1508
Awesome 😄
I suspect it will take a little bit before we can cut 0.10 as we want to make a few more large changes at the same time, but we’ll likely cut an alpha soon.

[2017-02-13 15:09] gaearon commented on #682
It would be interesting to learn why.

[2017-02-13 15:13] timarney commented on #682
@gaearon I'll dig into it further if I can find some "downtime" this week to mess around with it.

[2017-02-13 15:38] Timer commented on #682
backstroke just fixed support for forks last night after discussion here: https://github.com/facebookincubator/create-react-app/issues/1545

[2017-02-13 15:52] gaearon commented on #682
Awesome. I love when discussions here lead to fixes elsewhere. 😄

[2017-02-13 15:56] gaearon commented on #1525
No, this is not possible without ejecting (it's just too hard to support so many possible configurations and ensure neither of them breaks with time).

[2017-02-13 15:58] gaearon commented on #1533
Sounds good. Want to send a PR to support this?

[2017-02-13 15:59] cchamberlain commented on #1137
Thanks @gaearon and @ryansully. Both of those should cover my needs.

[2017-02-13 18:37] KevinBacas opened #1548 "Mistake in adding CSS Preprocessor documentation"
### Description

Hello everyone, I am reporting an error in the documentation concerning [this section](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc).

In fact, if you follow this tutorial, you modify the "build" script to `"build": "react-scripts build && npm run build-css"`. There is two proble

[2017-02-13 18:44] vgrigoriu commented on #1396
It seems to have exactly the same behavior as before. The img with diacritics generates a url like http://localhost:3000/static/media/P%C3%A9tiole.f885429e.jpg, but the development server returns the home page for it.

[2017-02-13 18:50] KevinBacas commented on #1548
Fixed just here: ce0d6eeb60b32d872074dc70cc251c1ca1fa682e

[2017-02-13 18:50] #1548 closed

[2017-02-13 20:55] gaearon commented on #1396
Would you like to help us by filing a bug in Webpack?

[2017-02-13 22:56] GAumala commented on #1533
Sure, I'll work on it this week.

[2017-02-14 01:36] danielfigueiredo commented on #1414
I get the error after yarn install:

[code]
So it can't find the module because the folder structure is:
[code]
I'm really sorry if I'm doing something wrong and I'm consuming your time

[2017-02-14 01:40] danielfigueiredo commented on #1414
I haven't thought about that, it is a good idea. The only problem I see is that if you have a scoped package that is a fork of react-script but doesn't have react-script in the name, like `@myorg/react-super-awesome-scripts-:P` it wouldn't work.

That's why I thought that the `.sh` could add a parameter to the script automatically, so the API for the user would still be same, but I definitely lack

[2017-02-14 01:41] kamthamc commented on #1259
@gaearon I had same issue. I tried same steps and getting the multi main error.

`create-react-app myapp
cd myapp
npm start

Failed to compile
Error in Unexpected token )
@ multi main`

[2017-02-14 01:51] Conrad2134 opened #1550 "Unable to start new app"
### Can you reproduce the problem with latest npm?

Yes

### Description

I created a new app with create-react-app and I'm not able to run it. I can create a production build just fine and run that, but the development build doesn't work.

### Actual behavior

Here is the error I'm receiving in the terminal / browser:
[code]

And here's what I see when I open the console:
[code]

### Environment

[2017-02-14 01:55] ColinRTaylor commented on #1550
I'm getting the same error.

[2017-02-14 02:02] varunraja01 commented on #1550
I'm getting the same error

Environment:
node -v
v7.4.0

npm -v
4.2.0

Operating System: macOS Sierra v10.12.3

[2017-02-14 02:10] ajeremias commented on #1550
I had the same error too.
Just update babel in your project using this command:

`npm install --save-dev babel-core`

References:

[ModuleBuildError: Module build failed: TypeError: Cannot read property 'scope' of undefined](https://github.com/babel/babili/issues/105)
[Fix bug - undefined reference for export declaration](https://github.com/babel/babel/pull/3629)

[2017-02-14 02:12] existentialism commented on #1550
Investigating this now, believe it might have to do with an update to babel-traverse.

[2017-02-14 02:13] Conrad2134 commented on #1550
@ajeremias - that _did_  work for me, thanks for the tip! 👍

If anyone needs a temporary solution - that's it.

[2017-02-14 02:17] davidfekke commented on #1550
This is broken for me as well.

Error in ./src/index.js
Module build failed: TypeError: /Users/********/Documents/node/projects/hello-world/src/index.js: Cannot read property 'scope' of undefined
 @ multi main

[2017-02-14 02:19] genma123 commented on #1550
@ajeremias - that worked for me, too! Didn't need to eject.

[2017-02-14 02:22] existentialism commented on #1550
We inadvertently released a backwards incompatible change in `babel-traverse`.

We just reverted it and released a fix (6.23.1) that should fix this issue. Please reinstall deps. Sorry for the inconvenience!

[2017-02-14 02:22] guilhermelazzari commented on #1550
It could be related to https://github.com/babel/babel/issues/5305.

[2017-02-14 02:24] Timer commented on #1550
Sorry for the trouble everyone! Perhaps now is the time to reignite our Yarn discussions.

[2017-02-14 02:25] #1550 closed

[2017-02-14 02:27] Conrad2134 commented on #1550
Thanks for looking into it!

[2017-02-14 02:44] Timer opened #1551 "Workflow disruption"
Between 8:15 PM - 9:15 PM (EST) newly created applications could not be started with `npm run start`.
[code]

One of our dependencies released a backwards incompatible change in a minor release.
We typically try to avoid this by pinning our package versions, but we currently have no way of ensuring deterministic builds.

Few users were affected, but situations like these raise questions about how

[2017-02-14 02:44] Timer commented on #1550
I've opened an issue about this here so we can try to prevent this from happening in the future: https://github.com/facebookincubator/create-react-app/issues/1551

[2017-02-14 03:04] ulisesrmzroche commented on #679
The reason is that you need to provide the plugin ("$" and/or the "jQuery") to webpack config. You'll have to eject though.

[code]

[2017-02-14 03:09] davidascher commented on #1466
I don't have time to create the project to repro the bug, so let's close for now and assume it's not a bug here.

[2017-02-14 03:09] #1466 closed

[2017-02-14 03:18] Conrad2134 commented on #1551
[Yarn only uses the top-level yarn.lock](https://yarnpkg.com/en/docs/yarn-lock#toc-current-package-only) - but that should be enough, right? The lockfile includes direct and transitive dependencies. If you package a version that works, it'll work on the client until they run an upgrade.

[2017-02-14 03:35] Timer commented on #1551
That might work if we ship it as part of our template, which seems a bit finicky.

[2017-02-14 03:44] Conrad2134 commented on #1551
Yeah - keeping it up to date be a manual process then, right? Each release someone would have to regenerate an up-to-date lockfile.

[2017-02-14 04:38] Timer commented on #1551
We'd probably just push the responsibility of publishing onto our CI server which would generate a lockfile and run tests against it.

[2017-02-14 07:06] gkhno opened #1553 "Loading files from css."
### Can you reproduce the problem with latest npm?
Yes.

### Description
Font Awesome is installed with npm. I am importing the it from `scss`:
`@import '~font-awesome/css/font-awesome.min.css';`

In react-scripts 0.8.2 this was working without a problem. Fonts were loading correctly.
When I check the loaded css, I see that `url()` of font face replaced correctly with `/static/media...`

Note: thi

[2017-02-14 07:10] AshCoolman commented on #1492
Symlinks also do not currently play well with packager:
https://github.com/facebook/react-native/issues/637

[2017-02-14 07:39] wtgtybhertgeghgtwtg commented on #1551
Wouldn't that still break when the user runs `yarn upgrade` or installs a dependency?

[2017-02-14 11:26] MrHus opened #1554 "Code coverage is not working."
### Description

When I run `npm test -- --coverage` some files report zero coverage, even though they have tests.

Here is the output:

[code]

It would seem that the Pager Component is not tested at all. However it is fully tested.
Here is the strange thing, when I alter the Pager.js file in anyway, such as entering another
blank line or leaving a comment, it will report the following:

[code]

[2017-02-14 11:55] gaearon commented on #1553
Have you figured it out?

[2017-02-14 11:58] gaearon commented on #1551
`bundledDependencies` likely won't get better because they are a fringe feature. They cause other problems, are buggy, and Yarn doesn't support them either.

Shrinkwrap only works on npm but not Yarn.

I think we should just teach people about setting up Yarn and using a lockfile. That solves all problems. We can include this in the User Guide (e.g. “Ensuring Deterministic Builds”).

[2017-02-14 12:01] gaearon commented on #679
You don’t need to. That’s *one possible way of doing it*, but my fix here is completely equivalent: https://github.com/kevgathuku/react-bootstrap-jquery/pull/1/files.

[2017-02-14 12:03] gaearon commented on #1259
@kamthamc Yes, it was due to Babel accidentally releasing a buggy version. It should be fine now, just delete `node_modules` and run `npm install` again. See details in https://github.com/facebookincubator/create-react-app/issues/1550.

[2017-02-14 12:04] gaearon commented on #1414
I think relying on package name could be confusing and unexpected.

[2017-02-14 12:08] EnoahNetzach commented on #1414
@danielfigueiredo have you checked #1537 out?

[2017-02-14 12:16] gaearon commented on #1531
I’m going to close as this is not directly actionable in this repo, but feel free to continue the discussion!

[2017-02-14 12:16] #1531 closed

[2017-02-14 13:03] viankakrisna commented on #1531
for anyone who needs user agent switching for bots in WordPress / PHP:
[code]
put this in your theme's index.php

reference: https://gist.github.com/thoop/8165802 and https://prerender.io/documentation/install-middleware

[2017-02-14 13:27] Conrad2134 commented on #1551
@wtgtybhertgeghgtwtg - yes and yes, but that's on the user. `yarn add` shouldn't have much of an impact compared to `yarn upgrade` (although it could, someone better versed in the ways of Yarn can speak to that).

[2017-02-14 13:43] Timer commented on #1551
@wtgtybhertgeghgtwtg I don't believe `yarn add` upgrades anything unintentionally, but the benefit here is that they can rollback their `yarn.lock` file (if source controlled) and have a working project instead of manually trying to diagnose and fix errors.

[2017-02-14 13:45] Timer commented on #1551
@gaearon adding docs will go a far way, but it still doesn't solve fresh installs unless if we add the `yarn.lock` to the template

[2017-02-14 13:58] uncledb opened #1556 "how to set more proxies in start.js after run eject ?"
I want to set two proxies in my project , how to set it in start.js ?

[2017-02-14 14:00] uncledb commented on #1556
I can set one proxy in package.json , but it is not enough...

[2017-02-14 15:22] gaearon commented on #1556
You can either eject (and then configure proxy directly in `scripts/start.js` with all the options supported by WebpackDevServer), or set up your own single proxy server that proxies to two different targets.

There is no built-in support planned for multiple proxies.

I hope this helps!

[2017-02-14 15:22] #1556 closed

[2017-02-14 15:26] gaearon commented on #1429
Haha I just ran into this, thanks 😄

[2017-02-14 15:28] gaearon commented on #1551
If user doesn't have Yarn then lockfile wouldn't be useful anyway.
If user has Yarn then `yarn.lock` will get created automatically in the project folder (I just tried it).

[2017-02-14 15:32] zachfedor commented on #1368
thanks for the fix!

[2017-02-14 15:49] Timer commented on #1551
The lock file generated on install wont be of use to them if the registry has a bad published version.

[2017-02-14 16:10] gaearon commented on #1551
Ah, I get it now. Maybe we could bundle last known good `yarn.lock` for Yarn users?

[2017-02-14 16:12] Timer commented on #1551
That's what I was thinking, we can detect if they have yarn and include a `yarn.lock` file. Should we do the same for npm's shrinkwrap?

[2017-02-14 16:13] gaearon commented on #1551
Shrinkwraps are a pain to deal with so I don't want to create one by default.

[2017-02-14 16:13] Timer commented on #1551
It's odd, npm advises *to* ship `npm-shrinkwrap.json`, and Yarn advises to *not* ship `yarn.lock` (but doesn't give a reason).

[2017-02-14 16:14] Timer commented on #1551
Could we have `create-react-app` delete the shrinkwrap after initial install? NPM doesn't upgrade sub-dependencies (unlike Yarn) and our pinned versions + initial install with shrinkwrap should be safe.

[2017-02-14 16:14] gaearon commented on #1551
It doesn't make sense to ship `yarn.lock` for libraries because only top-level `yarn.lock` is respected (and this is by design). But in our case we *are* creating a top-level `yarn.lock`.

[2017-02-14 16:16] Timer commented on #1551
Ah, that's right -- that makes more sense. But yes, we'd be making the top-level `yarn.lock`. 😄

[2017-02-14 16:16] gaearon commented on #1551
Then it wouldn't have any effect because the next person to clone the project (e.g. teammate) will use the regular resolution mechanism. So we can't ship a shrinkwrap unless we actually ask people to use it (which I'm not recommending).

[2017-02-14 16:18] Timer commented on #1551
Mmm yeah you're right, the next teammate would potentially have a problem then. Sounds like a yarn-only solution for now if we go through with it. 👍 We can wait to see if anyone else provides some feedback.

[2017-02-14 16:18] gaearon commented on #1551
Want to send a PR for Yarn-only solution? We can also leave it for contributors if we explain in more detail how it's supposed to work.

[2017-02-14 16:21] Timer commented on #1551
I probably wont have time to work on this until the weekend. We could add the `help-wanted` label for now and I can remove it if no one starts come the weekend (or later)?

[2017-02-14 16:30] Conrad2134 commented on #1551
Would that get rid of the `yarn add react react-dom` then? You'd basically copy over `yarn.lock` (which gets generated / committed from CI after a successful build) and run one `yarn install`?

[2017-02-14 16:39] gaearon commented on #1551
Yes. We might want to do it after https://github.com/facebookincubator/create-react-app/pull/1253 which also groups `react` and `react-dom` installation together with `react-scripts` for npm. Can you coordinate with @n3tr on this? I think we could land #1253 first, but maybe it makes more sense to start with it and then add the Yarn thing on top in a single PR.

[2017-02-14 16:53] gaearon commented on #1368
Thank you for reporting!

[2017-02-14 18:40] cdaringe opened #1557 "sourcemaps and runtime variables misaligned, yielding difficult debugging"
### Can you reproduce the problem with latest npm?

**yes**

Can you still reproduce it?

**yes**

### Description

The sourcemaps appear to work, however, the browser runtime (chrome, in my case) does not honor variable names.

![screen shot 2017-02-14 at 10 33 46 am](https://cloud.githubusercontent.com/assets/1003261/22943163/52747768-f2a1-11e6-9502-79f94961025e.png)

^ Notice how `parseUrl` is

[2017-02-14 18:45] gaearon commented on #1557
Yes, unfortunately it's a known issue with sourcemaps in Babel (and everywhere, really), and one of the reasons I argued against including sourcemaps. However, a lot of people find them very valuable so we opted to include them despite the drawbacks.

I think there was some sort of change to sourcemap spec to retain variable mapping information. But I don't know if either Babel, Webpack, or Chrome

[2017-02-14 18:47] gaearon commented on #1557
As for your particular case I'm not even sure if support for mangled mapping will help.

It is necessary because of ES6 spec. In ES6, imports are “live” so the only way to implement it in ES5 is to have a variable indirection for the import itself. It’s the same reason you see `abc.default` when you `import abc from 'abc'`: Babel needs to put the import behind an object so that it stays "live" per

[2017-02-14 19:32] hzoo commented on #1557
I only remember https://github.com/babel/babel/pull/3658 which broke webpack and also referenced before in https://github.com/facebookincubator/create-react-app/pull/1188

[2017-02-14 19:37] Timer commented on #1557
As I recall, the patch to webpack ([`source-list-map`](https://github.com/webpack/source-list-map)) simply disregarded the new mappings.
Maybe we can find someone willing to add support?

[2017-02-14 19:41] gaearon commented on #1557
It would be nice to verify that without Webpack in the middle, sourcemaps produced by Babel give meaningful results in Chrome. Just so we have a confirmation it's worth doing the work on Webpack side.

[2017-02-14 19:50] Timer commented on #1557
I think we just need to test with full-blown sourcemaps enabled, because `source-list-map` is what makes it one mapping per line.

[2017-02-14 20:14] josiahsprague commented on #808
I've been reading threads about this all afternoon, but I apologize if I've missed an existing answer.

I'm working on an app that was built with CRA. Awhile ago we added `"lint:all": "xo '**/*.js'"` to our npm scripts so that we could lint against custom rules, as discussed in #734. Then, we **completely forgot** that we had done this, and began relying on the default linting config that shows er

[2017-02-14 20:19] gaearon commented on #808
I don't think style linting rules is just a good approach. It's meaningless to spend developer time on doing something a machine can do.

I would just suggest waiting for https://github.com/jlongster/prettier (or similar tools if you don't agree with its choices) and adopting it.

[2017-02-14 20:26] Timer commented on #808
Have you considered [maintaining a fork](https://github.com/dvkndn/create-react-app/blob/c27cd91881fab5d71c554c1789ad7b24573509cd/packages/react-scripts/template/README.md#forking-as-alternative-to-ejecting)?

The recent patch to backstroke should make this *super easy*, especially if you pair it with something like https://github.com/atlassian/lerna-semantic-release or https://github.com/semantic

[2017-02-14 20:30] josiahsprague commented on #808
I like Prettier. It would be awesome to have something like as an editor plugin, especially if it could read rules from an eslint rule set that matches a team's rule preferences. But its more of a developer convenience tool than a tool to enforce style standards in an app. I get that CRA doesn't want to have more than basic linting out of the box, that makes sense. But it would be nice to be able

[2017-02-14 20:31] gaearon commented on #808
Not sure I understand why? You can run Prettier (or alternatives) on all changed files as a commit hook. The CLI isn't quite friendly yet for this use case but they intend to focus on this use case after it's more stable. cc @vjeux

[2017-02-14 20:37] gaearon commented on #1492
We default to watch mode so it's essential that it works well.

[2017-02-14 20:37] josiahsprague commented on #808
I can run a lint script with a commit hook as well. The problem is that developers are seeing one set of warnings in the Terminal/Browser during development, and a different set of warnings on the commit hook. The linting that they get in their editor can only be one set or the other, and they have to choose between those sets and manually configure them. Trying to mentally keep track of why there

[2017-02-14 20:40] josiahsprague commented on #808
To be more concise; the problem is having two separate sets of linting rules in the project. It makes our standards unclear when there are two "sources of truth" for our linting rules.

[2017-02-14 20:43] gaearon commented on #808
This is not what Prettier does. Prettier is *reformatting code automatically* (check out its README and the [demo](https://jlongster.github.io/prettier/)). My point is it's not very useful to spend developer time on fixing style nits when a tool can do that.

[2017-02-14 20:49] josiahsprague commented on #808
Wouldn't it make sense to remove eslint from CRA completely then? Developers getting mixed messages about which linting rules to adhere to is confusing for our team, and right now there is no solution to that except just using the default CRA linting rules.

[2017-02-14 20:53] gaearon commented on #808
I think ESLint is very useful for finding actual mistakes in the code. This is what our current config is focused on.

I don't think it's useful for enforcing style. Instead, I think that an automatic formatter is the best solution to this problem. We currently don't provide any integration with one, but encourage you to try Prettier. We will likely adopt Prettier at some point in the future.

Doe

[2017-02-14 20:58] josiahsprague commented on #808
I agree with your point that enforcing style is a waste of developer time. I think adopting something like Prettier into CRA would be a great thing to add to the roadmap. But it doesn't solve the present issue of having duplicate sets of linting rules applied to our project when we want to apply our own.

For now we'll just create a duplicate set of linting rules, have our developers reconfigure t

[2017-02-14 21:06] gaearon commented on #808
Arguably one can see "wanting to apply own own" as part of the problem 🙃. The premise of tools like Prettier is that you just embrace their way of formatting and don't impose any more style rules. If you're not comfortable with the idea of doing this, I unfortunately don't have a better solution for you. While Prettier isn't quite ready yet, I'm confident this is the direction we are heading in, a

[2017-02-14 23:46] jkomyno commented on #1394
I actually tried to add "--no-bin-links" to [this line](https://github.com/jkomyno/create-react-app/blob/master/packages/create-react-app/index.js#L160), however I ended up with this:

npm ERR! Linux 3.2.0-23-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install" "--save-dev" "--save-exact" "--no-bin-links" "react-scripts"
npm ERR! node v6.9.5
npm ERR! npm  v3.10.10

npm ERR! Maximum cal

[2017-02-15 00:29] gaearon commented on #1394
File a bug with npm?

[2017-02-15 00:33] lewisdiamond opened #1558 "No recompiling when saving (only for some files)"
### Can you reproduce the problem with latest npm?
Yes

What are you reporting?
When saving a specific file with actual changes, no recompilation happens, no reloading either.

### Expected behavior
The code should be recompiled and the browser should reload

### Actual behavior
Nothing happens

### Environment
Archlinux

node -v
v7.3.0

---
I'm unable to provide an easy repro repository as I stil

[2017-02-15 00:38] Olivia101 commented on #1531
@viankakrisna Thank you, I'll give that a go.

[2017-02-15 00:41] gaearon commented on #1558
Do any suggestions [here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-start-doesnt-detect-changes) help?

[2017-02-15 00:44] gaearon opened #1559 "Missing export should be a compile error"
**This is only relevant in master which uses Webpack 2.**

If I change `src/index.js` from

[code]

to

[code]

I'm getting:

<img width="654" alt="screen shot 2017-02-15 at 00 40 43" src="https://cloud.githubusercontent.com/assets/810438/22956070/a23607c8-f317-11e6-9518-5d1b5b64ccf0.png">

The screen is blank (because of the runtime error).

**Notice how the real problem is at the very bottom** (

[2017-02-15 00:53] gaearon commented on #1322
Maybe we can just use this line?
https://github.com/aspnet/JavaScriptServices/blob/3c2fd50e8fc843973282ac4bbd63b454234f87e5/templates/ReactSpa/webpack.config.js#L36

[2017-02-15 00:53] gaearon commented on #1322
Tagging for 0.9.1 because maybe the fix is super easy.

[2017-02-15 00:59] Olivia101 commented on #679
[reactstrap](https://github.com/reactstrap/reactstrap) provides React components for Bootstrap 4

[2017-02-15 01:03] Reanmachine commented on #1394
@gaearon This is a common bug with npm with `--no-bin-links`, it typically involves dependency cycles see [npm#9224](https://github.com/npm/npm/issues/9224).

When you have dependencies that have cycles in the graph the symlinks tend to solve the problem but when you tell npm it can't symlink it blows up recursing forever until the npm call stack is exhausted.

The desire for the `--no-bin-links`

[2017-02-15 01:06] gaearon commented on #1394
Thanks for explaining.

[2017-02-15 01:24] Timer commented on #1559
Seems like we need to set `strictModuleExceptionHandling`.
It was added but [never documented](https://github.com/webpack/webpack.js.org/issues/796), and that's why we missed it.

[2017-02-15 01:38] gaearon commented on #1559
Rad. Anybody wants to make a PR?

[2017-02-15 02:05] lewisdiamond commented on #1558
Yes, "Not enough watchers" made me realize it started as I ran a 2nd project in parallel. Sorry for opening this already documented issue, should have searched more.

Thanks

[2017-02-15 02:41] #656 closed

[2017-02-15 02:41] #1508 closed

[2017-02-15 02:47] gaearon commented on #1558
No worries, thanks for reporting back!

[2017-02-15 02:47] #1558 closed

[2017-02-15 03:02] insin commented on #1559
The [config schema documentation for this](https://github.com/webpack/webpack/blob/d66fb0d3e5663ea2f52c62c722032b9c66268a9e/schemas/webpackOptionsSchema.json#L403) says "Handles exceptions in module loading correctly at a performance cost" - should this be switched on in production builds?

[2017-02-15 03:08] Timer commented on #1559
Perhaps we can test it on a relatively large application? Would anyone be willing to do this?

[2017-02-15 03:10] Timer commented on #1557
@cdaringe do you have time to test if sourcemaps produced by Babel (without webpack) function correctly as @gaearon described above? Help would be greatly appreciated.

[2017-02-15 03:19] insin commented on #1559
It looks like this config triggers generation of `try`/`catch` wrappers when calling the generated module function at runtime, but doesn't upgrade missing modules to an error at build time.

- Warning generation: https://github.com/webpack/webpack/blob/812689e580af0903f029ef7ea292230714094213/lib/dependencies/HarmonyImportSpecifierDependency.js#L30
- (Presumption) Usage: https://github.com/webpack

[2017-02-15 03:20] Timer commented on #1396
We can ping @bebraw if he's not too busy and ask if he has a suggestion or reason for this. Thanks in advance!

[2017-02-15 03:33] Timer commented on #1559
After further investigation, it seems `strictModuleExceptionHandling` isn't what we want (despite some various sources I found). It looks like we need to add a custom hook to parse the webpack warnings.

Maybe @sokra could give us some more insight?

[2017-02-15 05:14] uncledb commented on #1556
@gaearon
yeah,I did this like this:
[code]
Thank you !

[2017-02-15 06:32] bebraw commented on #1396
Hi,

I forwarded this to @SpaceK33z as he knows more about WDS. It might be something there.

[2017-02-15 07:12] vgrigoriu commented on #1396
Should I still open the bug in Webpack?

[2017-02-15 07:13] bebraw commented on #1396
Maybe better wait for @SpaceK33z to comment, but do as you want. 👍

[2017-02-15 09:12] davesag commented on #1553
I've encountered an analagous issue with Bootstrap's Glyphicons.  See http://stackoverflow.com/questions/42228340/fonts-not-loading-after-upgrade-from-webpack-1-to-webpack-2

I'll study your example above as it's more advanced than my own webpack.config code and I am always keen to learn, but I'm wondering why you've closed this.

[2017-02-15 10:04] SpaceK33z commented on #1396
Just a note that I haven't forgotten this, it's on my list to research soon. It's _probably_ a bug in webpack-dev-middleware.

[2017-02-15 10:10] jkomyno commented on #1394
[Here](https://github.com/npm/npm/issues/12624) they seem to suggest that it's a problem with npm 3 and/or Node >= 6. At the moment I can't verify it, i'll give it a look tonight

[2017-02-15 11:23] gkhno commented on #1553
Actually I could not find a solution to this. I spent 6 hours trying to work this out but no luck. After hours of searching without a result, I came to a conclusion that maybe I am doing something wrong. So I closed the issue thinking I will look stupid :)

Here is what I did:

I usually eject app to add additional loaders and resolve src folder as root.

First, I closed the quiet mode from `scrip

[2017-02-15 11:43] fantua opened #1563 "Sourcemaps in production build"
Hi,

I have a question about sourcemaps. I noticed that after production build sourcemaps is also generated. Is it good practice in production mode, and also safely?

Maybe there is some ENV param to disable this?

[2017-02-15 12:26] gaearon commented on #1563
JavaScript is inherently “open” to the client because the client has to execute it. It is unwise to rely on minification for any security considerations. If you’re worried about some code being seen, you should not send it in the JS bundle in the first place.

However, you can safely delete the `*.map` files from the build output if you wish so. The browser will likely warn you, but this doesn’t a

[2017-02-15 12:26] #1563 closed

[2017-02-15 12:27] gaearon commented on #1553
Can you reproduce this without ejecting?

[2017-02-15 12:32] kovilyn commented on #658
testing this on firebase hosting still produces the same error..
but curious that it didn't do this for previous deploys.

[2017-02-15 13:02] davesag commented on #1553
In my case if I just build a production version with pretty much the same config and serve it up directly the fonts load fine. It _seems_ to be webpack-dev-server that's the issue. I'm sitting in a taxi now but can happily put together a minimal example that demonstrates the problem tomorrow.

[2017-02-15 13:20] alelepd commented on #1501
Gaeron, thank you for verifying this. I will look into it and check what library is making this; I thought it was something from this repo.

Thanks!

[2017-02-15 13:38] gkhno commented on #1553
No I get urls are loaded correctly from css when I do not eject the app.

[2017-02-15 13:43] gaearon commented on #1553
It helps me determine how critical the issue. If it happens before ejecting, it’s a blocker. If it happens after, it’s a problem in how you configure it. We try to help but we aren’t Webpack experts either so you might want to file this directly with WDS or Webpack.

[2017-02-15 13:58] gkhno opened #1565 "create-react-app installs with webpack 1.14"
### Can you reproduce the problem with latest npm?
Yes

### Description
`create-react-app my-app` installs the new app correctly. But it has Webpack 1.14 on dev-dependencies.
cleared npm-cache on %appdata%/npm-cache
checked package.tgz on npm-cache folder. This is what `package.json` has:

[code]

### Expected behavior
Webpack ^2 should be installed

### Actual behavior
Webpack 1.14 being installe

[2017-02-15 13:59] giridharangm commented on #1553
I got this same issue without ejecting. The `url()` calls in css are not working.

[2017-02-15 14:06] gaearon commented on #1565
The behavior is correct. Webpack 2 support has just been merged to master a few days ago, and it will take a little while before it shows up in the stable release. The upside is it gives us some more time to test it and fix any issues. 😉

Hope this helps!

[2017-02-15 14:06] #1565 closed

[2017-02-15 14:06] merlinpatt commented on #659
@gaearon do you have any thoughts on how I can fix my VM issue, above?

[2017-02-15 14:09] gkhno commented on #1565
How can I get the Webpack 2 version of react-scripts?

[2017-02-15 14:09] gaearon commented on #659
Sorry, not really. Maybe you can ask in the Webpack repo.

[2017-02-15 15:16] giridharangm commented on #1553
I'm not sure whether relates to this issue, but I've got a similar problem.
I've set up a Semantic-UI as a module, and tried to import the CSS from that module. All I'm getting is missing loader errors like `url`, `file` etc. That Semantic CSS does have  `@import` and `url()` calls.
But if I run a `npm i` in the `node_modules\react-scripts\` then it'll work without any issues. Possible side-effect

[2017-02-15 16:03] alex-wilmer commented on #1025
Does anyone have an example CNAME file used in this context? Thanks.

[2017-02-15 16:15] Timer commented on #1025
@alex-wilmer the `CNAME` file should just be verbatim the address in your DNS record that points to github via CNAME.

e.g. `blog.example.com` or `example2.com`

You can find more information here (which suggests you might not even need a `CNAME` file, don't quote me tho): https://help.github.com/articles/using-a-custom-domain-with-github-pages/

[2017-02-15 16:26] alex-wilmer commented on #1025
@Timer thanks for the response. If you can suggest a better venue for troubleshooting this I would be happy to move there. I always seem to have trouble wrapping my head around DNS.

does it need to be named something in particular? or literally a file called `CNAME` ?

This is the site on github pages http://torontojs.github.io/torontojs.com/

The domain is torontojs.com and www.torontojs.com (th

[2017-02-15 16:30] Timer commented on #1025
It should just be a file named `CNAME`, no extension, with `www.torontojs.com` in the file. If you don't want to use this approach you can follow [these instructions](https://help.github.com/articles/adding-or-removing-a-custom-domain-for-your-github-pages-site/).

[2017-02-15 17:11] kellyrmilligan commented on #741
just fyi if using flow,

[code]

to map it the same way.

[2017-02-15 17:34] alex-wilmer commented on #1025
@Timer thank you very much! That indeed did the trick. In case anyone else needs to see an example https://github.com/torontojs/torontojs.com/tree/gh-pages

[2017-02-15 17:35] tkrotoff commented on #549
For people not using create-react-app and passing by...
I do this in my package.json to pass arguments to Node and Jest (v18.1.0) :

[code]

You can verify that arguments are really treated by passing unknown/bad arguments:

[code]

[code]

[code]

[code]

[2017-02-15 18:13] cjpete opened #1568 "Question: Top level ReactDOM.render() into body rather than a 'root' element"
Is there a particular reason why the initial create-react-app index.html file and index.js file construct it so that the application root is rendered into a #root element rather than the body directly?

I can understand keeping the React application at a lower level for applications which run multiple view layers within the same document, but for an app delivered solely by React the #root element

[2017-02-15 21:11] gaearon commented on #1568
If you render directly into `document.body`, you risk collisions with scripts that do something with it (e.g. Google Font Loader or third party browser extensions) which produce very weird and hard to debug errors in production. React warns you if you attempt to do this.

[2017-02-15 21:11] #1568 closed

[2017-02-16 00:28] gaearon opened #1571 "Add a “What’s Going On Here?” section to User Guide"
Got this idea from conversation with @nitishdayal on Twitter.

There are some people who don’t feel comfortable with a tool until they know how it maps to a lower level abstraction. That is, until they know what’s happening end to end.

I think this is something lacking in our docs right now. We don’t really explain *what* we’re abstracting away, and what the overall flow is. I remember doing some

[2017-02-16 00:40] RangerMauve commented on #969
The issue brought up at the end of #914 where this doesn't work well for people who use react-native-web and want to import some JS-only React-Native dependencies.

This project already support this use case by aliasing `react-native` to `react-native-web`, why not go all the way and support dependencies?

[2017-02-16 01:34] nitishdayal commented on #1571
I'd be happy to help, actually. [This repo](https://github.com/nitishdayal/JavaScript30) has a fair amount of examples to illustrate my writing style (repo consists of some written docs I wrote for Wes Bos' JavaScript30 course). While I might not have all the technical knowledge to do _all_ of it, I can probably take a crack at explaining some of the NPM scripts, explaining the dependencies, what

[2017-02-16 01:57] scisci commented on #853
This is something I just found out I needed. It would be nice if at least it could match the host set in `.env` . My issue is that my server is running in a docker container, but I have my front-end hot-reloading from my host computer via a reverse proxy. The socket should connect via the HOST env variable and not window.location in my opinion.

[2017-02-16 02:27] gaearon commented on #1571
@nitishdayal Sounds great!

[2017-02-16 04:24] shenders13 commented on #660
I ran into this problem. When I looked at file structure in Folder (on Mac), the folder names weren't exactly the same as they were on my Sublime Text editor (some folder names on Sublime were capitalized but not in my Finder).  I changed the import path to fit the folder structure on Finder and it worked.

[2017-02-16 05:07] cdaringe commented on #1557
i made an [example here (valid!)](https://github.com/cdaringe/react-scripts-source-map-wonky-isms/tree/babel-test), only to realize that of course pure babel is ok--its babel-loader w/ uglify that warrant these difficult source maps.  i also did an [example with babili](https://github.com/cdaringe/react-scripts-source-map-wonky-isms/tree/babili-test).  all is green 🍏, but it's a biased test becaus

[2017-02-16 05:30] cdaringe commented on #1557
nm babili is mangling some stuff & its busted per the same failure mode.

pure babili example above:
![screen shot 2017-02-15 at 9 22 42 pm](https://cloud.githubusercontent.com/assets/1003261/23008564/4467d42e-f3c5-11e6-8b70-cbd64e8ea494.png)

check out that wild local var!

[2017-02-16 07:15] mkermani144 opened #1572 "Update link to jest expect docs"
The link to Jest `expect` docs is outdated and points to `globals`, not `expect`:

line 887:

line 946:

new link: http://facebook.github.io/jest/docs/expect.html

[2017-02-16 07:39] fah7eem commented on #930
If you are running the test from an IDE or have the command stored somewhere. Add a after the command: `npm test a`

[2017-02-16 10:13] draperd commented on #1015
Whilst I understand the rationale of not wanting to break applications built using Create React App this does seem somewhat restrictive. As an alternative approach have you considered the option of versioning?

So say 1.0.0 goes out with Webpack and at some point in the future you decide to move away from Webpack then you move to a version 2.0.0 to indicate that a breaking change has occurred. No-

[2017-02-16 10:43] gaearon commented on #1015
The reality is that even with semver the ecosystem cost is enormous. Changes like this make it very hard for people to update and expose incompatibilities we can't fix. For example we are updating to Webpack 2 but people who use custom loaders might bump into incompatibilities. As a result they will delay upgrading until such issues are solved, affecting our ability to deliver new features and bug

[2017-02-16 10:48] draperd commented on #1015
That's completely fair, as I say I just wanted to provide feedback. I'm exploring other options at the moment and the thought of disabling the error through a comment statement hadn't occurred to me so I appreciate the pointer.

You're completely right though, the broader issue is about supporting workers so I'll raise an issue to discuss that if I make no further progress.

I very much appreciate

[2017-02-16 11:10] gaearon commented on #1572
Wanna send a PR? We love contributions!

[2017-02-16 11:14] gaearon commented on #1557
For now I don't think we care about what happens with Babili as we don't ship with it.
ALso I am more interested in mapping working in DEV mode (in which we don't even Uglify).

[2017-02-16 11:16] gaearon commented on #969
@RangerMauve

The build times are already pretty slow. We won't be making them slower by compiling everything in `node_modules`. It is also not always safe (i.e. compiling a library with Babel can break it in some edge cases).

[2017-02-16 11:18] gaearon commented on #969
By the way polyfills are now documented here:

https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#supported-language-features-and-polyfills

So we can close this.

[2017-02-16 11:18] #969 closed

[2017-02-16 11:50] #1572 closed

[2017-02-16 13:03] kabakovda commented on #1502
you can get this error if you have low memory.

[2017-02-16 13:22] rahulakrishna commented on #1410
With other boilerplates with redux included, I usually just add the script links in my index.html and initialize them in the componentDidUpdate.
Create-react-app won't include those js files before react for some reason. Any workaround?

[2017-02-16 13:31] gaearon commented on #1410
It's not clear what you mean by “initialize”. Can you show a full example?

Normally, if you need a library, we recommend consuming it from npm. Install it with npm and then use `import` to get it. This is described [here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#installing-a-dependency).

If your library is not available on npm an

[2017-02-16 14:15] draperd opened #1574 "Cannot specify web worker src location (specifically prevents use of PDF.js)"
This issue has been generated from a comment by @gaearon in #1015. This issue will probably want to be labelled as a discussion. The objective of raising this issue is to capture a real-world use case to be resolved.

Essentially my objective is to be able to use PDF.js in my application. In order to do this I need to be able to configure the `workerSrc` attribute on the PDFJS global object.

The

[2017-02-16 14:17] gaearon commented on #1574
Thanks for raising this! It’s an interesting use case. We’ll keep this in mind when we consider supporting multiple entries.

[2017-02-16 15:00] Timer commented on #1574
Sorry for the fly-by, but I use `PDFJS` successfully in my `react-scripts` application by just requiring `pdfjs-dist/build/pdf.combined.js`.

Please don't mind the mess, this code is a year or so old (though in production!).

https://gist.github.com/Timer/25401841c527ee5b7672fefba236e35d

[2017-02-16 15:06] draperd commented on #1574
@Timer My understanding of pdf.combined.js is that it doesn't use web workers (effectively it disables them). This means that large PDFs will take a really long time to render. You can for example just specify a false path for the workerSrc and it will have the same effect. However I want to try and get the best performance out of PDF.js so want to use web workers.

[2017-02-16 15:14] slorber commented on #553
@gaearon there might be other bugs discovered:

- https://github.com/babel/babel/issues/5325
- https://github.com/babel/babel/issues/5315

Maybe it's worth waiting a bit for community feedback after the fixes, and only reactivate this in CRA when it looks stable?

[2017-02-16 15:20] Timer commented on #1574
Fair enough @draperd, in my experience renders are pretty quick except for on raspberry pis, for example. If you're showing the same PDF over and over that component does cache the PDF after first render so it never has to do so again.

I was just trying to give you a temporary solution until we can work out something more permanent. :)

[2017-02-16 15:29] gaearon commented on #553
👍

[2017-02-16 15:43] draperd commented on #1574
My temporary workaround at the moment is just to point to provide a web hosted location (i.e. "http://mozilla.github.io/pdf.js/build/pdf.worker.js") as this will always work, but we want to be able to provide a solution inside the firewall where access to the outer internet is not allowed. We're also looking at dealing with fairly substantial PDF files with many pages and you tend to notice the sl

[2017-02-16 15:59] Conrad2134 commented on #1551
Per our quick discussion on #1253 - I'll wait until that lands to start the PR for this, if that works.

[2017-02-16 17:53] pedrottimark commented on #1571
@nitishdayal Am happy to assist you with general review of your draft content according to criteria: 1. correct, 2. clear, 3. complete (for the primary audience).

[2017-02-16 17:59] welkie commented on #1571
Just wanted to comment and say that while this sounds good, the developers of this tool should really be commended for what they've done so far. I'm new to JS, new to React, basically new to all of this, and create-react-app has helped me immensely. Ironically, it doing so much for me hasn't made me take it for granted, it's given me a chance to see what happens under the hood and understand indus

[2017-02-16 18:03] taion commented on #1492
cc @insin on the off chance that he hasn't seen this issue

[2017-02-16 19:41] draperd commented on #1574
Another option I've just realised is to copy the worker source file to the public folder and reference is like this:

[code]

This also seems to work within the application, but for my specific use case (I'm using create react app as a development environment to build re-usable components that I'm then publishing to NPM) this won't work.... but as a solution just within create react app this would

[2017-02-16 20:10] jeffposnick commented on #1086
@ianschmitz my current thinking was to continue building the `service-worker.js`, because I didn't see a clean way of turning that part off. It won't add any runtime overhead if it's not being used.

But I've added [more info](https://github.com/facebookincubator/create-react-app/compare/master...jeffposnick:pwa?expand=1#diff-4e6ec56f74ee42069aac401a4fe448adR1067) the README about not doing the in

[2017-02-16 20:17] cdaringe commented on #1557
then the first example should suffice :).  however, theres no bundler or uglification/mangling w/ pure babel, so no reason for the failure mode described above to affect it.

[2017-02-17 02:21] thtliife commented on #682
I am using backstroke for https://github.com/thtliife/create-react-app/tree/react-scripts-pluggable (A simple webpack plugin injector) and this mornings upstream merges worked beautifully.

The only part I'm unhappy about is that I can't maintain more than one fork of the create-react-app, so my work on various scripts versions can only really live in branches, and never get merged back into the m

[2017-02-17 02:46] gaearon commented on #853
Send a PR if you can get it working ;-)

[2017-02-17 08:53] PlanetIrata opened #1579 "Accessing to the application directory"
Hello, in development mode, is there a way to retrieve the root directory of the application (the directory of the package.json, for instance C:\Sources\MyReactApp) ?

I tried process.cwd() but it returns /, and proicess.env.PUBLIC_URL is not set in dev mode...

Or can I add an APP_DIR variable to process.env from the package.json (how ?)

Thanks

[2017-02-17 10:18] irom-io opened #1580 "Can not config HMR"
I wanted to add HMR without refresh page.
I ejected project, and modify webpack.config.dev.
But HMR not worked.

I found, that url loader breaks HMR:

      {
        exclude: [
          /\.html$/,
          /\.(js|jsx)$/,
          /\.css$/,
          /\.json$/,
          /\.svg$/
        ],
        loader: 'url',
        query: {
          limit: 10000,
          name: 'static/media/[name].[has

[2017-02-17 14:31] gaearon commented on #1580
Could you send a PR if you have a better solution? Thanks!

[2017-02-17 14:38] EnoahNetzach commented on #1579
I suggest you to read this [doc](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-custom-environment-variables) about environment variables in **Create React App**

[2017-02-17 15:06] gaearon commented on #1579
Yep, that section should satisfy your use case! Let me know if something's unclear. Cheers!

[2017-02-17 15:06] #1579 closed

[2017-02-17 15:33] CNSKnight opened #1581 "dev build failing, tries to transpile .css?"
[code]
Not sure here if the loader is bypassing the configured \.css$ or what's happening.
the rule in webpack.config.dev is as it is in my comparison ejected test app:
[code]
Note I have slotted in sass-loader for other resources but not App.css

The project sits [here](https://github.com/CNSKnight/mifterialize-tree)

[2017-02-17 15:50] utkez commented on #1328
@anhdn there is an alternative version of relay-scripts with embedded Relay support, which does not require to eject: https://github.com/Valentin-Seehausen/create-react-app

[2017-02-17 16:00] ggerrietts opened #1582 "request for "serve app under" configuration"
## The Issue
Currently, no matter what you do with routes and such inside your app, the Webpack node app that does all the hot module reloading and linting and such always wants to serve assets rooted at `/`. This breaks when a development environment includes more than one interoperating react apps sharing a URI path space.

## The Proposed Solution
We would really like to be able to serve those

[2017-02-17 16:15] gaearon commented on #1582
If `homepage` ends with `/account`, would it be reasonable to serve under `/account` in development?

[2017-02-17 16:39] ggerrietts commented on #1582
For our use case, absolutely. For us, it's even preferable that nothing cares about the protocol/domain/port parts of `homepage`.

[2017-02-17 17:02] gaearon commented on #1581
Hmm this might need some Webpack experts.
It’s not super clear to me what’s going on, and I only know our configuration well.

I’m happy to keep the issue open for a while, but generally we don’t provide generic Webpack support, as Webpack community knows it much better. I think providing a project reproducing this would also help.

[2017-02-17 17:41] krsjoseph commented on #1381
bump

[2017-02-17 17:43] CNSKnight commented on #1581
Thanks @gaearon
I'll ping the gitter and see what we get.
Meantime, I've updated the issue w/the project url

[2017-02-17 18:21] viankakrisna commented on #1582
how about basePath config in package json or BASE_PATH env?

[2017-02-17 18:34] Timer commented on #1582
@viankakrisna we like to avoid adding additional configuration as much as possible, and `homepage` in `package.json` already serves this purpose. 😄 Did you have a case that you need help with?

[2017-02-17 18:39] viankakrisna commented on #913
How about enabling DLL plugin? I've heard people waiting 15 minutes for webpack's prod build (they are not using CRA). I think if CRA can create a sane default with this plugin, it can be the example config for those people.

The alternative are using http://fuse-box.org/. And use https://github.com/fuse-box/react-example
If you care about build speed.

In my experience, porting CRA with custom NO

[2017-02-17 18:39] Timer commented on #1582
@ggerrietts: I believe @gaearon and I would both be open to a PR that enables this functionality so that we can play with it.
We need to make sure we understand the implications of the change fully and make sure we don't break any of webpack's HMR or other functionality.

We would greatly appreciate the contribution. 😃

[2017-02-17 19:26] viankakrisna commented on #1582
@Timer yeah, I think homepage would be sufficient. Doesn't really found any use case that setting it to "." would not solve.

For @ggerrietts use case:
maybe you can setup an nginx server that map `your.app.dev` to `localhost:3000` (your main app) and `your.app.dev/account` to`localhost:3001` (your account app). Haven't really tested if HMR works with proxying though

[2017-02-17 22:12] lnunno commented on #800
I'm seeing this issue also. Tried using react-scripts with python SimpleHttpServer and also ExpressJS to no avail even when trying many different ports.

[2017-02-17 22:52] Timer commented on #800
Just ran the demo application and it worked for me.
@lnunno, can you please investigate why this happens or provide a reproducing case? Thanks!

[2017-02-17 22:57] matoilic opened #1584 "PORT env variable not always an integer"
### Description

When setting the `PORT` env variable it is a string, no matter if I set it like `PORT="8088"` or `PORT=8088`. This causes the port check in the start script `if (port === DEFAULT_PORT)` to always fail. `port` is an integer and `DEFAULT_PORT` a string. It also causes the kitchensink e2e test to hang.

### Expected behavior

The server should start at the given port.

### Actual beh

[2017-02-18 02:14] Timer commented on #1584
Hmm, odd. I can't reproduce using `.env` or the command line. Thanks for the report, nevertheless!

[2017-02-18 02:17] Timer commented on #800
@silvenon would you like to provide me with more details? 😄

[2017-02-18 05:57] dcu-sharepoint opened #1587 "create-react-app fails to create a project on windows 10"
### Can you reproduce the problem with latest npm?

yes; using npm 4.1.2

when executing the command:

create-react-app <app-name>

the terminal window disappears (ie: exits) and NOTHING GETS CREATED!

tried with and w/o sudo privs with same terminal window results

this happens with create-react-versions 1.0.3 and 1.0.4

have tried to reproduce the issue again and again and again and again and ..

[2017-02-18 09:03] matoilic commented on #1584
I've retested it on other machines and the only one I can reproduce it on is again a Mac (El Capitan) with Bash. When using other shells or operating systems the PORT env variable is already an integer without converting it previously.

[2017-02-18 10:09] scisci commented on #853
Hey @gaearon, thanks. I submitted a pull request here https://github.com/facebookincubator/create-react-app/pull/1588 hopefully it can get through!

[2017-02-18 10:31] silvenon commented on #800
@Timer for some reason this bug is no longer present in that demo, I'm not sure what changed. If I had created a Yarn lockfile sooner, maybe we could've tracked it to a certain dependency, but this way I don't know.

Anyway, closing this.

[2017-02-18 12:07] gaearon commented on #1587
Can you show a screenshot of how you run it? Are you using Cmd or PowerShell?

[2017-02-18 12:24] gaearon opened #1589 "Template was precompiled with an older version of Handlebars"
Weird error, as reported here:

http://stackoverflow.com/questions/42309345/create-react-app-template-was-precompiled-with-an-older-version-of-handlebars

Need to investigate which dependency is spamming the console.