[2016-07-26 09:31] gaearon commented on #205
Hi, we made a decision not to enforce any style. There are a couple of reasons: people have different preferences, some have styles mandated by their companies, and beginners will often copy and paste examples from the web which will be frustrating to adjust to a specific style.

We might allow adding custom lint rules in the future but this is not currently on the table.

[2016-07-26 09:31] #205 closed

[2016-07-26 09:32] gaearon commented on #198
I'm good with using loose mode.

[2016-07-26 09:36] gaearon commented on #203
What does prerender mean? I don't quite understand.
If you mean server rendering, there are no plans to support it in this tool n

[2016-07-26 09:37] gaearon commented on #199
Ah, okay, glad it's resolved. Webpack should add hashes to files in production so you shouldn't need to worry about versions anyway.

[2016-07-26 09:42] gaearon commented on #183
To be clear, the goal of migration is *not* to enable tree shaking. Right now it doesn't concern me much.

The goal is to get to a place where we can quickly contribute and make fixes to Webpack without worrying about porting them to different branches.

The reason I'm not too worried about semver is because we lock the version anyway, and we don't expose config to the user. But maybe I'm not seei

[2016-07-26 09:43] gaearon commented on #201
Let's keep it open for now. I want to make sure this works well both for development and production, and that we document it.

[2016-07-26 09:46] gaearon commented on #126
🐈

[2016-07-26 09:54] udl opened #207 "How to add something like react-router?"
Hi guys,

thanks for the very well done quick-start package!
I'm not a frontend dev, so forgive me if I'm asking for something really basic.
As far as I understand webpack, you have to add dependencies (like react-router) in `webpack.config.js`.
Can I do this without ejecting?

[2016-07-26 09:57] dharmesh-kh24 commented on #201
Well, if react-router is being used, then above method will work only for the home route. Finally, I settled with the following in index.html:
[code]
For me, this works for all the routes.
For production, we need to copy that lib (vendor/assets) folder from src to the build directory. #28

[2016-07-26 09:58] mxstbr commented on #207
Not quite, to add react-router you have to:

1. Install it via `npm install --save react-router`
2. Use react-router in your app!

For example, you could do something like this:

[code]

No need to change the webpack config!

[2016-07-26 09:58] #207 closed

[2016-07-26 10:18] gaearon commented on #201
Yes, this will be a part of #28. I will look at it this week.

[2016-07-26 10:23] gaearon commented on #196
Another reason for the current name is that it's super easy to google (thanks to its verbosity) and comes up in organic queries ("how to create react app")

[2016-07-26 10:26] gaearon commented on #171
You can find some discussion on this in #78.

[2016-07-26 10:27] gaearon commented on #194
I think this is fixed in master. Would 0.0.0.0 work better for you?

[2016-07-26 10:44] timche opened #209 "Removing propTypes in production build?"
What do you think about removing the `propTypes` in the production build to reduce the bundle size using [`babel-plugin-transform-react-remove-prop-types`](https://www.npmjs.com/package/babel-plugin-transform-react-remove-prop-types)?

I've already [prepared a fork](https://github.com/timche/create-react-app/commit/95d59dd6b8a85d5909c496f4aea669952a0a8bba), so if you think it is a good idea, I can

[2016-07-26 10:46] kentcdodds commented on #183
I think upgrading to Webpack 2 is great. Even getting _some_ tree shaking is better than none. And as @gaearon said it's not really a primary goal anyway, just nice when it happens. Also, the API is nicer.

As for things being confusing and having a lack of documentation for Webpack 2 when people eject, I recommend we use [webpack-validator](https://github.com/js-dxtools/webpack-validator) to help

[2016-07-26 10:46] latentflip commented on #200
I was intrigued so I dug into this real quick.

The problem is that `cp -r` doesn't necessarily preserve symlinks, and just copies the file contents instead.

`npm run start` uses the `react-scripts` bin file, which is at `./node_modules/.bin/react-scripts` however, this should be symlinked into `./node_modules/react-scripts/bin/react-scripts.js`. This symlink means that npm can find the `cross-sp

[2016-07-26 10:47] gertjvr commented on #170
We had to remove polyfill.io due to it failing to identify ie11 correctly.

[2016-07-26 10:55] gaearon commented on #170
OK, thanks for feedback.
I think we won’t push it as the default solution then.

What @insin suggested in https://github.com/facebookincubator/create-react-app/issues/170#issuecomment-235198796 looks super reasonable to me. Mostly because `fetch` and `Promise` are two features that are easy to miss in a polyfill (or to get a bad polyfill).

So I think we should go with that approach instead.

[2016-07-26 10:56] baadc0de commented on #28
I've been using `static` for some time now, with good understanding from the rest of the team(s) about it containing purely copied, unprocessed assets. It has been a useful crutch for when a resource path is dynamically generated and/or webpack processing is not required/wanted.

[2016-07-26 10:59] gaearon opened #210 "Use WebpackMD5Hash and ChunkManifestPlugin?"
https://github.com/mjackson/web-starter has some interesting config decisions:
- Use of `WebpackMD5Hash` plugin
- Use of `ChunkManifestPlugin` plugin

I’d like to understand their point better and whether we should enable them as well.
Thoughts?

[2016-07-26 11:01] gaearon commented on #209
@spicyj Do you think this is reasonable for most apps?

[2016-07-26 11:02] gaearon commented on #200
I’ll close because this is not actionable for us—it’s just how `npm` bin works.

[2016-07-26 11:02] #200 closed

[2016-07-26 11:04] timche commented on #209
For reference:

- [`The advantage of this transform is saving bandwidth. We are not aware of any limitation.`](https://medium.com/doctolib-engineering/improve-react-performance-with-babel-16f1becfaa25#.o17klivp3)
- https://github.com/davezuko/react-redux-starter-kit/pull/561
- https://github.com/kriasoft/react-starter-kit/pull/440

[2016-07-26 11:16] ForbesLindesay commented on #209
Seems like a good idea to me.

[2016-07-26 11:26] insin commented on #210
Relevant Twitter threads:

- https://twitter.com/mjackson/status/755768438811873285 - getting it working
- https://twitter.com/mjackson/status/756181608730800128 - differences between using `ChunkManifestPlugin` and `CommonsChunkPlugin` for extracting the manifest (one extracts just the chunk mapping, the other extracts the entire Webpack bootstrap code including the chunk mapping)
- https://twitt

[2016-07-26 11:37] gaearon commented on #210
OK, this looks reasonable. Would you like to make a PR to get this in?

[2016-07-26 11:41] eanplatter commented on #186
That's a pretty slick plugin, #212 is an attempt at implementing it.

[2016-07-26 11:42] idibidiart commented on #11
@mxstbr thank you for pointing me to that discussion.

@vjeux @gaearon there is a subtlety to why something like CSS Modules (+React CSS Modules) is preferable to our (my team's) way of building apps, and it is based on some axioms our team has developed over time that are not universal.

So, at this point we're considering creating a live fork of create-react-app to add support for those tools.

[2016-07-26 11:44] gaearon commented on #11
This is reasonable. (And we’ll keep an eye on popular forks.)

[2016-07-26 11:47] insin commented on #209
It would be cool if wrapping `propType` declarations in an `if (process.env.NODE_ENV !== 'production')` block became a common thing to make this automatic for your own code and particularly for your dependencies, for which you're probably using transpiled ES5 - is there a plugin for *that*?

[2016-07-26 11:49] quarterto commented on #170
@gertjvr could you raise that at [Financial-Times/polyfill-service](https://github.com/Financial-Times/polyfill-service/issues) please? Seems like a fairly major issue.

[2016-07-26 11:50] gertjvr commented on #170
@quarterto will do

[2016-07-26 11:54] hzoo commented on #198
Same with babel itself https://github.com/babel/babel/blob/master/package.json#L50

You would think it would be the opposite; that you would want to run more spec compilant 😄

[2016-07-26 11:59] Jabher opened #213 "Add postcss-use plugin"
And one more thing for today 😅

I think it would be nice to add [postcss-use](https://github.com/postcss/postcss-use) plugin into build pipeline.
I think it will organically fit with package core idea - "zero-configuration". So for current builds nothing will actually change, no new filesystem APIs, no additional keys in CLI, however, the ability to use postcss plugins will suddenly appear.

The t

[2016-07-26 12:09] gaearon commented on #213
I don’t think we want to commit to supporting the PostCSS ecosystem right now. We use autoprefixer as an implementation detail, but we don’t want to lock ourselves into PostCSS yet. Thanks for the suggestion though!

[2016-07-26 12:09] #213 closed

[2016-07-26 12:14] HatemJerbi opened #214 "Decorator is not supported!"
we can not use library like mobx (@observer,@observable).
to fix this :
  - babel stage-1
  - babel "transform-decorators-legacy" plugin

[2016-07-26 12:20] ForbesLindesay commented on #214
Decorators are still in the very early stages of standardisation.  The behaviour of them could change rapidly, without warning.  Users of decorators need to be willing to adapt fast, and therefore aren't the main target for create-react-app.  I don't think we should be including them in this project at this time.

I do think we should look into supporting customisation of the babel, eslint and web

[2016-07-26 12:25] eanplatter commented on #214
We are holding off decorators until babel supports them out of the box, for more info check out #107

[2016-07-26 12:25] #214 closed

[2016-07-26 12:30] gaearon commented on #198
We want people to use `import` and `export` over `require` so I probably wouldn’t go with it.

[2016-07-26 12:31] timarney commented on #78
First off I would love to have Sass support out of the box.  Adding a loader doesn't opt anyone into using Sass - if a Sass file exist it gets parsed.

Looking at this post from @tylermcginnis https://medium.freecodecamp.com/create-react-app-and-the-future-of-creating-react-applications-3c336f29bf1c#.qky3g94y1 very small sample but the CSS comments are both questions about using Sass.

https://med

[2016-07-26 12:33] gaearon commented on #170
The reason I’m inclined to not use polyfill.io right now is that most React users don’t care about ES6 features like `Map`s etc, so if they want a polyfill, they can add it themselves. *However* they do need two polyfills: `fetch` and `Promise`. And we’d like to have control over which `Promise` we ship because it’s so easy to get it wrong.

[2016-07-26 12:35] gaearon commented on #78
We haven’t made any final decisions here. It’s just that we think this is *currently* out of scope, and we want to come back to this when we have time to look at CSS in React more holistically.

In the meantime you can always use a console SASS tool that outputs `.css` files right inline, and put `*.css` in `.gitignore`.

[2016-07-26 12:36] gaearon commented on #214
You can use MobX without decorators.

[2016-07-26 12:41] ForbesLindesay commented on #102
@lacker the problem is that NODE_ENV is effectively reserved for optimisation.  You can't use anything other than NODE_ENV.

I once built an app for one client, and ended up deploying a second identical copy of the app for a different client.  The only difference between the two deployments was the company names and branding colours.  To do this, I just defined environment variables for each of th

[2016-07-26 12:42] ForbesLindesay commented on #102
@gaearon I don't like the idea of a prefix.  It feels awkward to have to prefix all the variables with something that has nothing to do with my app, and counter-intuitive that some variables pass through and others do not.

[2016-07-26 13:07] gaearon opened #215 "Proposal: 'configurator' field in package.json"
## tl;dr

Add a field to `package.json` that tells ESLint, Flow, other tools, where to look for configs.
Useful for zero-conf opinionated packages like `create-react-app` and `standard`.

[code]

-----------

As a community, we’ve mostly solved the problem of nested, extendable configuration. ESLint does this really well, Babel also does this.

However, I think that this project gaining 4k stars i

[2016-07-26 13:14] VladShcherbin commented on #198
I've seen only one piece of code, that didn't work the same in loose mode:

Code from [SO answer](http://stackoverflow.com/a/33352604/5381705) won't give you the same in loose mode

[code]

Similar example from - [developer.mozilla.org](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/keys), `denseKeys` output won't be same in loose mode.

[code]

[2016-07-26 13:27] joshmanders commented on #215
One thing I know about npm is it has a `config` option\[1\] inside the package.json that almost all of these modules SHOULD use, but don't. They create their own instance on the base object.

Maybe extend this, to check if `$npm_package_config` env var to see if it's a `configurator` project and handle that way.

I do like the idea of this though.

\[1\]: https://docs.npmjs.com/files/package.json#

[2016-07-26 13:28] insin commented on #198
I'd say `babel-plugin-add-module-exports` is only necessary for stuff you'll be publishing to npm so your non-transpiling users don't have to eat a `.default`. Most non-official Babel plugins I've tried have needed a `.default` tacked on, which is a bit of a mess :/

[2016-07-26 13:29] gaearon commented on #215
Yeah, it serves a different purpose though (we could probably use it for stuff like choosing ports in the future). What I suggest here is a way to “redirect” tool-specific configuration. You can use `config` and `configurator` side by side. I see how the naming could be a little confusing though but I don’t think it’s a big deal, and better naming is welcome!

[2016-07-26 13:31] hzoo commented on #198
Right this would probably be for an application anyway and everything in here would be import/export like Dan mentioned

@VladShcherbin that's because in loose mode that transpiles to `[].concat(Array(10).keys())` since `[].keys` returns an iterator and non-loose mode does a `Array.from()` call

[2016-07-26 13:33] joshmanders commented on #215
I really like the idea though, I use `package.json` to set a lot of options for all these tools because I hate littering my directory with dot, yaml, and json files just for each tool I use. I'd totally help with pull requests to project implementing a configurator loader.

[2016-07-26 13:45] gaearon commented on #102
Can we use [`npm config`](https://docs.npmjs.com/files/package.json#config) for specifying variables like port, proxies, etc (need to figure out a list of them), as well as exposing custom options to the app? The nice thing about it is it can be specified right in `package.json`, there’s a CLI to change it, and you can have local overrides or use environment variables... It seems.

[2016-07-26 13:46] VladShcherbin commented on #198
@hzoo yes.

There should be a note somewhere that babel in production is in loose mode as this examples will work different in dev / production and especially for a novice it won't be obvious to understand what's wrong.

[2016-07-26 13:47] gaearon commented on #102
By the way I’m coming to the conclusion that specifying ports, proxies and stuff is fair game because we’re [competing for system resources](https://blogs.msdn.microsoft.com/oldnewthing/20050607-00/?p=35413). We just need to make sure the defaults work well with zero configuration, but some optional config for shared resources like ports is fine.

[2016-07-26 13:47] gaearon commented on #198
If we enable loose, we enable it everywhere. Having differences between dev and prod is bad.

[2016-07-26 14:00] gaearon commented on #173
I looked at this, and it is just not possible right now: https://github.com/eslint/eslint/issues/3458. However there seems to be discussion on implementing it so it‘s not too bad.

This is only a problem with npm 2 (and in very rare cases with npm 3 but we shouldn’t hit those cases). So I think we can punt on this for now.

Longer term, I think something like #215 would be the right solution, but

[2016-07-26 14:00] #173 closed

[2016-07-26 14:07] vjeux commented on #215
There's already a thousand ways that all those tools can figure out where to find the configuration, it's really unclear to me that adding yet another one is the right solution. Also, adding a hardcoded path to the config that the tools can read means that anybody can also read it and it's not a blackbox anymore.

Proposal instead:

Have the IDEs read package.json and if there's a script called es

[2016-07-26 14:15] vjeux commented on #209
We screwed up and didn't remove propTypes in dev when we started and now people rely on it existing in their app, so doing it now would be a big breaking change.

But for new apps that would be a good default imo. Now, it may be confusing that it is removed in this starter kit and not anywhere else

[2016-07-26 14:18] gaearon commented on #209
I think it’s not a big deal because React will warn very soon when you attempt to call `PropTypes` validators manually: https://github.com/facebook/react/pull/7132. So people will know they’re not meant to be used in production, whether or not they use this kit.

[2016-07-26 14:30] spicyj commented on #209
This would probably be fine. I can imagine some people using it to mask the props object but hopefully not many. Can we add a linter against .propTypes?

[2016-07-26 14:32] gaearon commented on #209
A linter against reading it?

[2016-07-26 14:32] gaearon commented on #209
I think there are some valid use cases for accessing it, like

[code]

[2016-07-26 14:33] mjackson commented on #170
The best way to do this IMO is to do a client-side feature test and a `document.write` to get the polyfill if you need it. This way, you can avoid putting the file in your bundle altogether and do one less HTTP request on modern browsers.

This is actually one of the primary reasons I need to server-render my template in [web-starter](https://github.com/mjackson/web-starter). So I can do [those po

[2016-07-26 14:34] ForbesLindesay commented on #215
@vjeux I don't think that solves the problem of the proliferation of information in the package.json that the user shouldn't need to worry about.  They will at a minimum end up seeing a script for `eslint` and a script for `flow`.  It also prevents IDE based tooling from doing any kind of inspecting of what your config is (e.g. IDEs _could_ detect what indentation rules you use from eslint to auto

[2016-07-26 14:36] gaearon commented on #170
Hmm, can you help me understand why server rendering is important here? Couldn’t we just put these conditional `document.write`s into our `index.html` template?

[2016-07-26 14:36] ForbesLindesay commented on #173
It works fine.  I do it in https://github.com/ForbesLindesay/eslint-config-forbeslindesay/blob/master/index.js and have been using this extensively without issue.

[2016-07-26 14:36] ForbesLindesay commented on #173
OK, doesn't work with "plugins" apparently, only parser.

[2016-07-26 14:38] mjackson commented on #210
I wasn't able to get long-term hashing working correctly w/out using `WebpackMD5Hash` and `ChunkManifestPlugin`. The problem was that my hashes kept changing on every single deploy. The reason was that, when you're doing long-term caching, the webpack manifest has a new hash every time. But if that hash is also in your bundle, then the hash of your bundle changes too. It's a circular problem.

The

[2016-07-26 14:40] ForbesLindesay commented on #198
Ideally I think we'd like a `loose-with-warnings` that behaves exactly the same as loose mode, but `console.warn`s whenever you do something that would behave differently in strict mode.

We cannot have different behaviour in production vs. dev (couldn't agree more on that point) but we can/should warn users in development mode.

[2016-07-26 14:41] suchipi commented on #194
Yeah; I ejected and changed it to 0.0.0.0, but I also had to edit the webpack config so that the websocket for notifying the page of refreshes would connect to the right place. I had to hardcode the hostname there, so I'm not sure what the right solution is.

By the way, the ejected scripts/src/config structure is really nice 😃

[2016-07-26 14:42] ForbesLindesay commented on #102
I'd suggest for port number we should just use `process.env.PORT || 3000`, which is pretty much the standard in node.js.  It's what platforms like heroku support.

[2016-07-26 14:45] wdhorton commented on #80
I added a PR (#216) to show a basic test setup. I used Mocha, but the most important parts are framework-agnostic, and we should be able to easily swap in another framework if one pulls ahead significantly.

[2016-07-26 14:49] gaearon commented on #215
I like the simplicity of this. I agree with @ForbesLindesay this doesn’t solve the config proliferation problem though so I‘m not sure it’s much better than the status quo. This is more or less what we’re doing anyway with `eslintConfig` field.

Also, this doesn’t solve the Flow issue, does it?

[2016-07-26 14:50] ForbesLindesay commented on #170
We can just put them in our index.html template.  The downside is that it gets exposed to the user and becomes impossible for us to update because the template lives in the user's repository.

A better solution I think might be to add something like `{{polyfills}}` to the template and then use a loader (see https://github.com/ampedandwired/html-webpack-plugin/blob/master/docs/template-option.md) t

[2016-07-26 14:51] gaearon opened #217 "Document how to install dependencies"
Per @ForbesLindesay’s suggestion, we should add a section on installing dependencies into [the howto](https://github.com/facebookincubator/create-react-app/blob/master/template/README.md). This is a common source of confusion: #182 #207.

A PR is welcome! We should recommend `npm install --save <library-name>`.
(But please comment here that you’re working on it.)

[2016-07-26 14:52] ForbesLindesay commented on #210
You could also stick the manifest in a separate JavaScript file.  You could even then add a hash to the manifest as long as the manifest file itself doesn't get included in the manifest (creating your cycle).

[2016-07-26 14:53] gaearon commented on #198
Are there any lint rules against things that loose does differently?

[2016-07-26 14:55] ForbesLindesay commented on #215
I think the idea would be that you would run `react-scripts flow` and that would cause us to call flow with whatever arguments flow needed in order to have the correctly configured options.  I'm not sure that would work very well though, especially with all flow's persistent server architecture quirks.

[2016-07-26 14:57] ForbesLindesay commented on #198
I think mostly they can't be detected statically (in the general case) otherwise we could just have one babel config that would do the `loose` mode thing when it made no difference to behaviour and the strict thing when it mattered.

At runtime though, you could detect that something is iterable but not an array for example.

[2016-07-26 15:00] gaearon commented on #102
Port would only be relevant for local development, wouldn’t it? The reason I’d like to avoid envs by default is that you can’t easily write scripts that use them in a cross platform way. So somebody publishes a `react-example` that contains `PORT=3001 react-scripts start`, and then somebody else tries this on Windows, and it doesn’t work. Now they can’t learn React from this example. A solution to

[2016-07-26 15:01] mjackson commented on #170
Ah, all I meant by "server rendering" was that you need to be able to affect the HTML. It sounds like index.html will work beautifully.

[2016-07-26 15:03] mjackson commented on #210
Yep, you can put it in a separate file. Putting it in the HTML just avoids the extra HTTP request.

[2016-07-26 15:10] gaearon commented on #173
Yeah. 😢

[2016-07-26 15:11] gaearon commented on #194
@suchipi Can you test whether [this](https://github.com/facebookincubator/create-react-app/pull/128/files) also fixes the issue for you? And whether page refreshes would work with this solution?

[2016-07-26 15:11] taion commented on #170
`babel-polyfill` isn't that large.

A gzipped, minified build with just `react` + `react-dom` is 41 kB. Adding `babel-polyfill` only takes that to 69 kB.

Without gzipping, it's 138 kB v. 222 kB.

Certainly there's room to optimize, but I don't think "adding 28 kB to the gzipped size" is sufficient for the easiest solution to be dismissed outright as "_way_ too large".

[2016-07-26 15:11] gaearon commented on #194
Curious, which one are you using?

[2016-07-26 15:12] gaearon commented on #170
We’d also need `fetch`.

[2016-07-26 15:13] vjeux commented on #215
I'm not sure I understand the issue with flow being a server. If the IDE uses it as a server it is going to call it once with the options. If it uses it as a standalone tool it's going to call it multiple times. Having a wrapper that sets the config flag shouldn't change anything?

The goal here is to tell the IDE/CI... how to invoke the tools properly configured without letting them introspect th

[2016-07-26 15:15] gaearon commented on #170
Also, React gets a lot of bad rep for being “large”. We can say that 40kB gzipped is less than many images but that’s what people look at in comparisons, and I can guarantee that if we make it 70kB by default, somebody will use this in charts claiming React apps are huge (especially considering the “default” status of this tool).

So we should be careful bundling extra stuff. But perhaps bundling

[2016-07-26 15:16] taion commented on #170
71 kB gzipped, 228 kB without gzip if I add `isomorphic-fetch` above.

I think didactically, in this context, it's just better. One-line polyfill import (and one that ships with Babel, at that) v. something non-trivial to ship exactly the correct polyfills.

The other thing the React ecosystem gets a bad rep for is tooling complexity, and doing bespoke, advanced stuff to pull in specific polyfills

[2016-07-26 15:19] gaearon commented on #170
OK. Here’s my proposal. Let’s ship these polyfills:

* `whatwg-fetch`
* `Promise` and `Symbol` from `core-js`
* Regenerator runtime **if** you use generators or async (we’d need to add support for async too)

We would bundle them for everybody via `entry` config. It would not be configurable.

[2016-07-26 15:20] taion commented on #198
I had an idea that it'd be cool to run tests against both `es2015-loose` and `es2015`.

I've never gone through with that idea and I haven't seen anyone do anything like it.

But it's worth bringing up. Users are already eating the downsides of loose mode because all their dependencies will be using loose mode. Might as well let them have the benefits in their code too.

[2016-07-26 15:22] gaearon commented on #215
The downside is that every IDE/plugin would need to implement this. So, for each of N tools (ESLint, Flow), there would be M plugins (Atom, Sublime), and NxM (ESLint for Atom, ESLint for Sublime, Flow for Atom, ...) integrations.

Whereas if we do this on the tool level, we only need the N tools to integrate this.

[2016-07-26 15:26] taion commented on #170
I don't actually know how to import core-js polyfills individually. 2 minutes of guessing gives me:

[code]

This gives me 49 kB gzipped, 161 kB just minified. (These numbers are a bit weird since I'm using webpack 2... maybe... probably not too bad.)

I don't know. I really like `Object.entries`, `Array.prototype.includes`, &c.

The other option is to use `babel-runtime`, which effectively will o

[2016-07-26 15:28] gaearon commented on #170
They’re nice but from my experience with answering React issues beginners don’t really use them / know about them, and those who do know how to include a polyfill.

On the other hand, `Promise` causes a ton of problems because people use a bad polyfill that swallows errors, `Symbol` causes confusion because [some optimizations require it](https://babeljs.io/docs/plugins/transform-react-inline-elem

[2016-07-26 15:35] taion commented on #170
I agree that adding 8 kB of polyfills to get a mostly working ES6 environment is a strict win.

I think the `babel-runtime` approach is worth investigating, assuming it's feasible to make a `babel-runtime` that doesn't try to polyfill `Object.keys` and other ES5 things.

You'd get the extra functionality if you needed it, and you'd only pay in bundle size for features that you actually use. The ex

[2016-07-26 15:36] taion commented on #215
Would it? Don't those tools just effectively run ESLint? If the `eslint` binary can handle it, why would it be any extra work for IDEs?

[2016-07-26 15:37] taion commented on #186
I have a vague recollection that this used to "just work" with npm2, but that it stopped working after I upgraded to npm3.

Didn't have a chance to look into that, though.

[2016-07-26 15:37] ForbesLindesay commented on #210
You could even concatenate it on the start of your existing JS file after the hash is generated (this may have to be done outside of webpack, I don't know much about webpack's features)

[2016-07-26 15:37] gaearon commented on #215
Sorry, I meant @vjeux’s proposal. Edited the message.

[2016-07-26 15:38] ForbesLindesay commented on #173
I would attempt to help fixing this, but I don't want to repeat my past experiences of attempting to contribute to eslint.

[2016-07-26 15:39] taion commented on #209
React-Bootstrap uses `propTypes` to mask props objects extensively, and a number of the components there would break outright if you stripped out `propTypes` in `node_modules`.

It's a fine optimization in most cases but it'd cause difficult-to-diagnose errors if you were to run it against `node_modules`.

[2016-07-26 15:41] taion commented on #78
I think this might be a good place to consider adding some customizability.

Ultimately, the choice of CSS framework is mostly orthogonal to the tooling complexity in setting up React.

I think giving a very limited set of choices for mostly orthogonal things like the choice of CSS framework would be a value-add here.

[2016-07-26 15:42] gaearon commented on #209
We wouldn’t touch `node_modules`, just the user code.

On the other hand there’s no reason why somebody shouldn’t be able to copy and paste a component from React Bootstrap and tweak it.

So I guess as long as people rely on this, we can’t do it. (Unless we specifically lint against it.)

[2016-07-26 15:43] gaearon commented on #210
Or we can take control of rendering the HTML. Maybe `HTMLWebpackPlugin` already exposes some hooks for that.

[2016-07-26 15:44] taion commented on #201
For the CSS it should probably be

[code]

BTW.

Bootstrap ships built CSS in their npm package.

[2016-07-26 15:47] saschwarz commented on #215
A different approach is used in Python packaging with a file in the package root named 'setup.cfg' into which tools can have have a section (or not) with their configurations: https://docs.python.org/3/distutils/configfile.html

When the tool is invoked it reads it's config from the setup.cfg.

[2016-07-26 15:48] gaearon commented on #170
Would you like to take a stab at implementing my proposal from https://github.com/facebookincubator/create-react-app/issues/170#issuecomment-235301948?

Agree, in the future.

[2016-07-26 15:49] ForbesLindesay commented on #170
The issue with babel-runtime is that it doesn't polyfill things that are used by dependencies in node_modules.  Increasingly (with the popularity of node v4/v5/v6 starting to overtake 0.10) people will start shipping modules to npm that depend on things like `Map` and `Set` being implemented.  It doesn't make sense for all of those modules to ship with separate polyfills for Map and Set.  Polyfill

[2016-07-26 15:53] gaearon commented on #215
@saschwarz This is very similar to how `package.json` configuration works now (you can find an example with `eslintConfig` in the post). But it means that user’s `package.json` gets bloated with configuration links that don’t matter if you use a zeroconf tool like `create-react-app`.

[2016-07-26 15:53] ForbesLindesay commented on #215
@vjeux The issue is that flow is way more complicated than just "run it once" or "run it many times".  There is `flo` which is the server/demon part and `flow` which is basically just a client for `flo`, but I think the IDEs might call directly into `flo`.  I'm not really certain of any of this, it just strikes me that the npm scripts approach could get very complex very fast, and as @gaearon sugg

[2016-07-26 15:54] insin commented on #210
You can use inline-manifest-webpack-plugin to make an extracted manifest available to inline in a `<script>` tag in your `HtmlWebpackPlugin` template.

You can also write another plugin to automatically insert this into the HTML before `HtmlWebpackPlugin` injects HTML into the template for generated files.

Example in this issue: https://github.com/szrenwei/inline-manifest-webpack-plugin/issues/5

[2016-07-26 16:01] suchipi commented on #194
I'm using Nitrous.io.

I'll test that out tonight (after work).

[2016-07-26 16:07] lacker commented on #28
I like the name `static` - it's the folder name Django encourages, and it is also a pretty accurate description of what goes there - the files that are not dynamically generated by some process, but are just a static copy of what's in your filesystem. As opposed to `assets` which implies that it has to be some sort of image or media asset.

[2016-07-26 16:17] saschwarz commented on #215
@gaearon Sorry I wasn't being clear. I meant it as an additional file just for tool configs; the `package.json` would hold everything else: dependencies, user scripts, etc. One advantage of a separate tooling config file is it is likely to be the same across multiple projects for a user/organization.

[2016-07-26 16:20] lacker opened #218 "Proposal: `run` and `watch` scripts to use different entry points"
As I start to build out real apps I find cases where I want to run a one-off script using the same language features as the rest of my app. If the only way to enter my code is via `npm start` then there's no way to do this.

The proposed solution is to add two more scripts, `react-scripts run` and `react-scripts watch` that the developer can use to make their own npm script which uses the same bab

[2016-07-26 16:20] trevordmiller commented on #11
# My 2 cents on the philosophy and future of this project

## TL;DR

🤘 React Create App rocks! I hope to see this project continue to be wary of "design by committee" and stick to only the officially standard tools as you have been doing :)

---

## Full thoughts

![group-hug](https://cloud.githubusercontent.com/assets/5497885/17145423/4cee0464-5317-11e6-8ad0-c9b0e7b19b50.gif)

I just want to give

[2016-07-26 16:22] taion commented on #183
@kentcdodds @gaearon

My main concern is that this puts users in an incredibly difficult situation post-`eject`.

We all like to talk about how webpack docs aren't great. Actually, they're not that bad. I picked up webpack 1 more or less from scratch not terribly long ago by looking at some combination of the docs site, Stack Overflow questions, and the plethora of existing examples.

None of thes

[2016-07-26 16:22] trevordmiller commented on #11
# My 2 cents on the customization problem

Obviously, people are going to have different needs for their projects; they can `npm run eject` but I think that should be viewed as a last resort because then your project loses the benefit of the config abstraction (access to continuous improvements, best practices, and updates from the CLI under the hood). I'd prefer to see `react-create-app` add a ne

[2016-07-26 16:25] taion commented on #218
The way people normally do this is to drop a `.babelrc` in project root and just use `babel-node script.js`.

Note BTW that if https://github.com/facebookincubator/create-react-app/pull/189 gets merged – it can't be literally the same Babel config, since Node doesn't natively support ES modules.

[2016-07-26 16:28] taion commented on #170
@ForbesLindesay The current proposal isn't polyfilling `Map` or `Set` anyway, though. In general I think library authors who use post-ES5 features other than maybe Promises or fetch should be using `babel-runtime`. It's what I try to do, anyway.

@gaearon I'm not sure I'll have time to look at it right now. I don't even know for sure that I imported those polyfills correctly. I'd prefer someone wh

[2016-07-26 16:28] trevordmiller commented on #11
# My 2 cents on linting

I think including ESLint as has been done is the right move as it helps prevent errors; however, this is a fine line to walk as linting can also be used for style etc. The rules being used now seem to be good, but why not just use the `"extends": ["eslint:recommended", "plugin:react/recommended"]` options instead of manually maintaining a list of rules in `react-create-app

[2016-07-26 16:29] trevordmiller commented on #11
@gaearon Would love to hear your thoughts on my last three comments above if you get a chance ^ :)

[2016-07-26 16:30] taion commented on #209
FWIW, this specific use case in React-Bootstrap is something like this: https://github.com/react-bootstrap/react-bootstrap/blob/v0.30.0/src/DropdownButton.js#L26-L27

We have parent components that render two child components, and we use `propTypes` to split out which prop goes where.

Looks hacky but it's fairly DRY and has worked well in practice.

[2016-07-26 16:38] hnordt opened #219 "CSS @keyframes Best Practice"
In `src/App.css` we have the `@keyframes spin` rule:

[code]

Wouldn't best to rename `spin` to `App-logo-spin`? That way we teach newcomers to avoid "CSS globals" for everything.

I mean, `@keyframes spin` is a good candidate to be added in many component's CSS file.

[2016-07-26 16:39] vjeux commented on #219
👍 want to send a pull request?

[2016-07-26 16:39] hnordt commented on #219
@vjeux sure, doing it now.

[2016-07-26 16:42] kentcdodds commented on #183
You make good points @taion. I think that my opinion should be taken with a grain of salt because I do a lot of training and teaching about webpack and have spent hours (days/weeks?) worth of time learning and developing with it. For me, the changes from webpack 1 to webpack 2 were fairly minimal. But perhaps it would be better to wait until Webpack 2 is officially released and the docs situation

[2016-07-26 16:45] JasonArkens17 commented on #197
So after trying to find my .npmrc folder I do not seem to have one? All of the paths listed on the npm website as to where it should live do not exists. Any one have any suggestions?

[2016-07-26 16:49] #219 closed

[2016-07-26 17:12] timche commented on #209
Thanks for the info! Looks indeed hacky, but if libraries rely on component `propTypes`, we can't remove the `propTypes` in the production build. Seems like this can be closed then, right?

[2016-07-26 17:19] gaearon commented on #210
Haha, I was just trying that. After reading through https://github.com/webpack/webpack/issues/1315 I can certainly empathize with frustrations around JavaScript tooling.

[2016-07-26 17:29] taion commented on #209
I guess? It's a shame, though – that's a really cool transform, and I'm going to look at using it for production app builds now that I know about it.

[2016-07-26 17:32] danthareja commented on #217
@gaearon - I'll take this one! PR coming soon

[2016-07-26 17:40] gaearon commented on #210
OK, now I have a JS object in my HTML. How am I supposed to use this correctly?

<img width="1124" alt="screen shot 2016-07-26 at 18 39 22" src="https://cloud.githubusercontent.com/assets/810438/17148771/555facb2-5360-11e6-8139-24c19fb2c075.png">

I’m trying

[code]

right now.

[2016-07-26 17:57] hnordt commented on #28
`static` looks like a better name than `vendor` or `assets`.

[2016-07-26 17:57] jamesblack opened #222 "Add a test framework - Example"
It would be great if the boilerplate came loaded with a test framework setup with a example test.

I dunno if that is within the scope of this.

[2016-07-26 18:06] lacker commented on #218
Yeah, I would normally use `babel-node` and `babel-watch` but since the `.babelrc` isn't exposed in this project, there's no straightforward way to do it without ejecting. This `run` and `watch` functionality could mostly be simple wrappers around `babel-node` and `babel-watch`, with something to deal with the ES module support issue you bring up.

[2016-07-26 18:10] lacker commented on #147
OK @jlongster I tried to implement something that solved this with the project as it is today and you are right it is too much of a PITA. CORS makes the API_SERVER strategy worse, and it's not convenient to script around `npm start` because of its browser-opening behavior. It's much nicer to proxy one server to the other, either webpack -> backend or backend -> webpack, and if we do it backend ->

[2016-07-26 18:17] danthareja commented on #222
There's a rich conversation about this very topic over in #80

[2016-07-26 18:32] #222 closed

[2016-07-26 18:39] mxstbr commented on #28
I love `static`, working on a PR now! 🚢

[2016-07-26 18:44] bigblind commented on #28
I actually agree with not having a special directory at all. All the
compiled files will be static assets anyway. I think just having babel load
resources referenced by html files would be better. This also gives you
more freedom in your folder structure.

On Tue, Jul 26, 2016 at 7:57 PM Héliton Nordt <notifications@github.com>
wrote:

[2016-07-26 18:47] taion commented on #28
Also worth noting that in general static assets should not go in this directory – they should just be imported and dealt with by webpack loaders. I.e. this is the wrong way to pull in e.g. Bootstrap CSS.

[2016-07-26 19:23] gaearon commented on #218
@ForbesLindesay also suggested this in another thread. Seems like a useful feature.

[2016-07-26 19:25] gaearon commented on #218
I'm not sure I understand the use case for watch though, can you elaborate?

[2016-07-26 19:29] jamesblack commented on #222
@danthareja I apologize for not seeing that sooner, i did a basic search, but must have glanced over that one.

[2016-07-26 19:41] danthareja commented on #222
@jamesblack - no problem! just pointing you in the right direction :)

[2016-07-26 19:41] taion commented on #218
There's something a little weird about having a `populate` script to populate a backend in a front-end project. What are the actual use cases in an application for running one-off scripts? I don't think I have any outside of build-related tasks.

[2016-07-26 19:44] johnrhampton commented on #215
I really dig the concept of abstracting away the build configurations.  Copy/pasting scripts to handle bundling or workflow management has been plaguing us since the days of grunt and gulp tasks.  `react-scripts` is a huge step in the right direction.  Great stuff guys.

Would it make sense to allow `configurator` to accept an object of tool directories?  This would allow users to stay with `react

[2016-07-26 20:00] lacker commented on #218
@gaearon `watch` is useful if you want to write a long-running process such as a server so that it automatically restarts during development. You could make a simple node server this way and have it reuse library code in your `src` directory. It could be something that's a full backend, or it could also be something simple like a proxy that you're only going to use in development. For example you

[2016-07-26 20:07] taion commented on #218
@lacker "Provision a dev instance in Firebase" is a good point. I bring up "build tasks" as something this isn't necessarily a good fit for, because ideally you'd want to also run build tasks when you do `npm run build`.

[2016-07-26 20:39] lacker commented on #218
An example where I would want `watch` is the example at https://github.com/fullstackreact/create-react-app-with-server that @acco created. That project invokes its server with `./node_modules/.bin/babel-node` so you could use the proposed `react-scripts run` to directly match its functionality but I think `react-scripts watch` would be better for that use case.

[2016-07-26 20:42] gaearon commented on #147
Agree. I wonder if we should go for declarative configuration or just allow the user to declare `middleware.js` that we would plug into Express.

[2016-07-26 20:49] hnordt commented on #215
@gaearon why not use `npm` config? https://docs.npmjs.com/files/package.json#config

[code]

[2016-07-26 20:52] lacker commented on #147
Declaring middleware only solves the problem if you are using an Express backend. Whereas a proxy will solve the problem for any sort of backend - rails, php, django, etc. So I think the best is some sort of proxy.

The simplest way to configure a proxy would be just to provide one proxy port, and then any request that our dev server doesn't know how to handle gets forwarded to that port. If no pr

[2016-07-26 20:54] gaearon commented on #209
OK, I don't think the size reduction is worth the surprising behavior here.

[2016-07-26 21:03] taion commented on #147
@lacker In development, I've found this easier to handle by just standing up an Nginx server that sits in front of both my webpack dev server _and_ my backend server or servers. This works better if e.g. your backend involves multiple microservices anyway. Works for with reloading from the webpack dev server too.

[2016-07-26 21:07] taion commented on #147
Also, it's hard to define a proxy fallback unless you hardcode some path like `/api/*`.

If you want to extend `create-react-app` to handle routing with the HTML5 history API for navigation, you need to enable `historyApiFallback` for the webpack dev server, in which case the dev server will try to handle all paths – so you'd need an explicit blacklist to proxy things to the backend server.

[2016-07-26 21:19] gaearon commented on #147
Sorry, I meant it the other way: let the user declare a middleware that *we* would add to the dev server. This would normally be used for proxying, but this gives the user the freedom to proxy to different servers, add custom headers, or rewrite URLs in some other way. If we provide a declarative config, I imagine many people could have hard-to-satisfy edge case scenarios, and since we’re trying t

[2016-07-26 21:21] lacker commented on #147
@taion Yeah, that's the setup I was suggesting to @jlongster  - just putting nginx in front of everything in your dev environment. You can do that today, I think it's just a pain because you need to configure nginx. Also because `npm start` will open a browser at `localhost:3000` and if you are running nginx in front of that at `localhost:2000` then you will constantly have these weird half-functi

[2016-07-26 21:22] gaearon commented on #197
Can you try creating another project?

[2016-07-26 21:24] gaearon commented on #183
This is a great point. Let’s hold this off until Webpack 2 is at least out of beta then. This shouldn’t take long, I hope.

[2016-07-26 21:40] taion commented on #147
Ah oops sorry, long issue thread 😬

I think a user-supplied middleware is a great way to approach this.

In terms of the built-in proxy in webpack-dev-server – it's clunky if you're trying to do anything advanced, but it actually works really well for basic use cases. I think it's simpler than setting up a full-fledged Express middleware just to proxy e.g. `/api/*` to some other port.

[2016-07-26 21:55] gaearon commented on #147
Not quite, I meant something close to what @jlongster proposed in the first place.

In `start.js`, we’re starting `WebpackDevServer`. *Internally* it is using Express so we can call `.use` on it (this is officially supported). So we can do

[code]

[2016-07-26 21:56] lacker commented on #147
@gaearon I was responding to @taion about nginx there, not your post :P

But OK, I guess single-proxy-port isn't going to be good enough, due to the HTML5-history case and the multiple-microservices case.

If there's an API to supply an Express middleware, I think if you use https://www.npmjs.com/package/http-proxy-middleware it would be approximately the same difficulty as configuring webpack-dev

[2016-07-26 22:06] taion commented on #147
@lacker

I think supporting a custom Express middleware might be overkill in terms of configurability.

Most use cases can be covered pretty well with something like @jlongster's example in https://github.com/facebookincubator/create-react-app/issues/147#issuecomment-235021655.

Being able to inject an arbitrary Express middleware seems like too much customizability. I think in that case, it might

[2016-07-26 22:26] brettdewoody commented on #199
I was using a custom icon font generated from fontello.com. The generated CSS template had versioned files in the `@font-face` rule. They're not necessary so I removed them and all was good.

[2016-07-26 23:08] lacker commented on #147
If we do go with a simple json config then it should probably just be a subset of what webpack supports, and webpack is basically just passing the config to the underlying `node-http-proxy` which lists its arguments here: https://github.com/nodejitsu/node-http-proxy/blob/master/lib/http-proxy.js#L33-L50 I don't know where to logically draw the line there in terms of what config would get in and wh

[2016-07-26 23:12] lacker commented on #218
OK I am going to take a stab at creating `run`, and then depending on how that goes maybe `watch` will also be useful.

[2016-07-26 23:25] JasonArkens17 commented on #197
I have tried several times to no avail.

[2016-07-26 23:41] SpencerCDixon commented on #80
I've gotten a lot of feedback from new React developers that setting up a test environment is a PITA.  A production ready test environment that properly deals with CSS/images, mocking/stubbing/spys, shallow rendering, etc. is not a trivial thing to set up and would probably be very beneficial to abstract away.

`rails new` does this as well.  I think an important aspect is to allow users to disabl

[2016-07-26 23:52] ariporad commented on #80
@gaearon: @wdhorton already fixed the bug in #216 [here](https://github.com/facebookincubator/create-react-app/pull/216/files#diff-9efeb8507c8841abf16714977fce7472R69).

[2016-07-26 23:52] gaearon opened #228 "Display gzipped size for JS and CSS after builds"
We currently recommend `http-server` for testing prod builds but it doesn’t gzip.
This might lead you down the path of optimizing the wrong thing in the bundle size.
We should fix our instructions.

[2016-07-26 23:54] gaearon commented on #228
Actually: we should display gzipped build size for JS and CSS assets after compilation.

[2016-07-26 23:54] gaearon commented on #228
If you’d like to work on this please write a comment here. This is up for grabs!

[2016-07-26 23:58] lvwrence commented on #228
I'll take this!

[2016-07-27 00:39] taion commented on #147
I believe the middleware itself isn't quite enough – you also need to define where the middleware mounts, so you can't just have a `middleware.js` that just exports a configured middleware.

[2016-07-27 00:44] thejameskyle commented on #215
This feels like an oversimplification of the complexity of how tools interact with one another.

There is a place for extending configuration in just about every tool in existence, and the way those *need* to work vary between tool to tool.

If you are to avoid wrapping every tool in one of those `gulp/grunt-*` packages then there needs to be an open ended solution on how to extend config dynamica

[2016-07-27 00:59] taion commented on #215
I agree with @thejameskyle there.

This seems like a potentially dangerous attempt to generalize from n = 1.

It's worth at least waiting to see how things pan out before promulgating a new standard that multiple tooling vendors would be expected to follow.

[2016-07-27 01:06] lacker commented on #147
@taion An express router behaves just like a middleware. So I was thinking `middleware.js` would export a middleware that got mounted at `/` and it would just call `next()` on paths that should get routed to the dev server. This way you can have a single middleware handle routing several prefixes to several different backend microservices. The name `middleware.js` might be confusing here though.

[2016-07-27 01:12] taion commented on #147
I see – is that level of flexibility a good thing in this context, though? It seems odd to have a setup where users can't e.g. customize their Babel, ESLint, or webpack configs, but where they can effectively run an arbitrary Express application in the dev server.

[2016-07-27 01:23] geelen commented on #90
Just chiming in here. I definitely agree the `:local` syntax should _not_ be supported as it is. That was an early decision in CSS Modules land where I wanted to make the `?modules` option to css-loader change as little as possible (it just enables one extra postcss transform that wraps everything that's not `:global` in `:local`). But that behaviour is pretty unexpected, and I'd be surprised if m

[2016-07-27 02:23] PhilipGarnero commented on #11
Which procedure to follow when putting a project on git (or any other vcs) ?
By that I mean, should we upload node_modules ? (I'm new to the js env and it [looks like not everyone is thinking the same way](http://stackoverflow.com/questions/18128863/should-node-modules-folder-be-included-in-the-git-repository))

If not, what do we do when we clone the project ?
I didn't find anything about this su

[2016-07-27 02:51] johnmcdowall opened #230 "Why do the template files containing JSX have .js extensions?"
This messes up syntax highlighting, and probably muddies up an important distinction for beginners., because JSX is not *just* JS.

Reasoning?

[2016-07-27 02:55] vjeux commented on #230
Thanks for bringing it up! See the response in an earlier issue: https://github.com/facebookincubator/create-react-app/issues/87#issuecomment-234627904

[2016-07-27 02:55] #230 closed

[2016-07-27 02:56] johnmcdowall commented on #230
@vjeux Thanks - sorry forgot to search _closed_ issues.... :D

[2016-07-27 03:55] wdhorton commented on #218
What is the plan for dealing with ES modules? I don't necessarily see a way around it without creating a separate Babel config for this feature that keeps transpiling to CommonJS (which doesn't seem like a good idea), or bundling with Webpack instead of using babel-node.

[2016-07-27 03:58] jlongster commented on #147
The middleware sounds interesting, I would be fine with that. In terms of flexibility, this doesn't allow you to override any of this project's behavior, it just allows you to embed your own backend. I wouldn't look at it like a lot of flexibility; we could still completely change how we implement everything and it should still work. Working with a backend is a common enough case to warrant it. My

[2016-07-27 04:07] jfrolich commented on #210
@gaearon You have to assign it to window.webpackManifest so just add
[code]

[2016-07-27 04:21] wdhorton opened #231 "Eject only specific config?"
Is this a feature people would find useful? I'm thinking something like `npm eject webpack` would eject only your Webpack config so you could customize it, but keep everything else hidden and maintained by the `react-scripts` package.

[2016-07-27 04:24] lacker commented on #11
@PhilipGarnero Don't upload `node_modules` to git. Instead, after cloning the project, run `npm install` immediately. I would recommend that workflow not just for `create-react-app`-based projects, but for any sort of version-controlled project using npm.

[2016-07-27 04:26] geelen commented on #98
I actually suggest a different approach — removing `:local` from `css-loader` altogether. I've started a discussion (https://github.com/webpack/css-loader/issues/308) over there but I don't expect it to be resolved fast enough for the needs of this project, so I think this linting rule is a good solution in the interim.

Interestingly, the whole concept of importing _something_ from a CSS file is

[2016-07-27 05:18] geelen commented on #111
I wish I'd found this issue earlier. It's a wonderfully succinct explanation of your design goals, @gaearon, and to me totally refutes the arguments for adding Sass/cssnext over in #78, and puts big question marks over the compatibility of the PostCSS ecosystem with this project, CSS Modules included.

You've given me lots to think about!

[2016-07-27 05:24] mjackson commented on #210
I lost 1.5 days last week ;)

[2016-07-27 05:30] taion commented on #111
This seems like an odd goal for a "create react app" project.

As with probably everyone else, I found @vjeux's "CSS-in-JS" talk extremely interesting, and I think there are a lot of benefits to exploring this space of extra CSS tooling.

That's very different from saying "the starting point for creating a React app is to also throw away everything you know about styling and instead use CSS-in-JS"

[2016-07-27 05:51] taion commented on #111
Also, judging by the current crop of encapsulated styling solutions floating around, the biggest challenging to automatically converting CSS to one of the encapsulated styling systems is that there's no obvious way to represent vanilla CSS selectors like `.btn-toolbar > .btn` – I'm not aware of any ways to directly represent that in any of the encapsulated styling systems I've seen.

[2016-07-27 06:09] reiner23fx commented on #177
@gaearon Why not just use process.env.HOST & process.env.PORT in the listen statement?
And use localhost:3000 as fallback.

[2016-07-27 06:38] OskarKlintrot commented on #231
Yes, that would be great! It would also be great to be able to revert the eject. For example if you want to try out SASS in your project you could eject webpack and try it out. If you find out you don't like SASS you can just run ie `npm reset webpack` and then the custom config is deleted and you are using `create-react-app` config again.

[2016-07-27 07:33] Lakston commented on #231
I like this idea but you could run into problems like let's say I eject, mess with the webpack config and decide I want to go back. When I do since I modified the config, things might not work and I would come here for help, ultimately blaming the `create-react-app` for not working when I myself broke the build.

[2016-07-27 07:47] OskarKlintrot commented on #231
Yeah that's probably true. Maybe just some kind of fallback that if it can't find the custom config (ie it's deleted) it use the default. But that feels more like it would be an unoffical hack that still might end up with people getting here and blaming `create-react-app`. Anyway, this might have gotten a bit off topic, the original question wasn't about reverting the eject.

[2016-07-27 08:42] oleblaesing opened #232 "Dynamic public path output"
When running `npm run build` the index.html is compiled with prefixed `/` for the asset links. `node_modules/react-scripts/config/webpack.config.prod.js`  shows me, that the `/` is currently hardcoded, but when I read the create-react-app source files (`config/webpack.config.prod.js`) the prefix is built dynamically. So where does the "hard" prefix come from and how to use the `homepage` property

[2016-07-27 08:48] forclan opened #233 ""npm start" error if there is a .babelrc file in parent folder"
if I have a folder named "React" or some other name.
run `create-react-app test-react` in folder React
`cd ./test-react`
run `npm start` it works fine;

but if I put a .babelrc file in folder "React"
`echo "{presets: ['es2015']}" > ../.babelrc`
and run `npm start`
if will cause a error:
`Failed to compile.
Error in ./src/index.js
Module build failed: Error: Couldn't find preset "es2015" relative t

[2016-07-27 09:06] mxstbr commented on #233
This is a babel-specific feature, see here: https://babeljs.io/docs/usage/babelrc#lookup-behavior

We could add a `babel` key to the `package.json`, but I don't think that's worth it. It'll just confuse beginners, and only people who know what they're doing will add a `.babelrc` to their folder anyway.

Thanks for kicking off this discussion!

[2016-07-27 09:10] geelen commented on #111
@taion at this point you seem to be repeating yourself. Your goals for this project clearly differ from those who maintain it and if they're not convinced by your 25 (!!) comments in #78 I doubt they will be now. I consider it to be as simple as this

* React, Babel, Webpack, Eslint, etc, are all stable enough that a single project with no customisation can now support a good chunk of the use-case

[2016-07-27 09:17] ForbesLindesay commented on #170
True.  I'm trying to come up with a solution that **does** let us start using those features.  In the short term, library author's may have to bundle polyfills for them, but we have an opportunity to change that by providing an efficient polyfill that's only provided if the code needs it.  We can easily statically analyse code to detect whether or not it uses `Set` and `Map`, just look for a globa

[2016-07-27 09:19] ForbesLindesay commented on #198
My biggest concern here is that we leave apps in a state where they can't disable the babel transform even once all browsers support the features natively.  We need to do what we can to discourage people relying on it being loose.

I do recognise that the performance benefits of loose are to big to ignore though.

[2016-07-27 09:20] insin commented on #233
Would adding `babelrc: false` to the query config for babel-loader prevent this?

Babe itself has a [`babelrc` option](https://babeljs.io/docs/usage/options/) which you can set to `false` to prevent config lookup

[2016-07-27 09:25] gaearon commented on #232
From https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#deploy-to-github-pages:

`0.2.0` has not been released yet. So you can’t do it yet.

[2016-07-27 09:25] #232 closed

[2016-07-27 09:28] triblondon commented on #170
IIRC, using `document.write` to add polyfills can be a bad idea because:

1. It's not future friendly: the upcoming Feature API will include controls to disable document.write in a CSP-like way
2. A document.write will block the preloader and restart the parser, resulting in a slower first render

Of course the benefit of the polyfill service is that you get the feature detection done server-side,

[2016-07-27 09:28] alexzherdev commented on #233
Sounds straightforward, is this up for grabs? This needs to happen in both dev and prod, right?

[2016-07-27 09:36] ForbesLindesay commented on #170
We can get round document.write anyway because we control the entire stack.  We could add code directly to the bundle to do the feature switching and `document.body.appendChild` if that turns out the perform better.

Re promise polyfills, I would suggest the [promise](https://www.npmjs.com/package/promise) npm module.  Once https://github.com/then/promise/pull/129 is merged you'll be able to simpl

[2016-07-27 09:42] Lakston commented on #11
@PhilipGarnero I'll add to what @lacker said and recommend that you create a `.gitignore` file (either by hand or via github) and add node-modules to that file.

On github you can just click on `add gitignore` when creating your repo and chose `node`. You can also for exemple see my angular-twitch-viewer repo and copy/paste the gitignore file (it has a lot more than just node_modules).

[2016-07-27 09:44] mxstbr commented on #11
A `.gitignore` file will automatically be created with the new version. :+1:

[2016-07-27 09:46] mxstbr commented on #233
Ohh, nice one @insin!

Feel free to submit a PR @alexzherdev!

[2016-07-27 10:06] gaearon commented on #11
We tried that 😉 . Some rules like `no-console`, `no-empty`, `no-class-assign` seemed too restrictive for beginners, especially considering the in-your-face nature of how we show the lint warnings. So we decided our own whitelist is easier.

[2016-07-27 10:07] gaearon commented on #11
Neither webpack nor babel configs compose well.

[2016-07-27 10:13] gaearon commented on #111
At some point we think React itself *might* take an opinionated approach to styling. If it ever does, we will recommend it here because having so many options is confusing and not very composable.

Until it does, we don’t want to artificially “bless” the existing non-vanilla-CSS options by supporting them (rather than their alternatives) here.

[2016-07-27 10:15] gaearon commented on #177
@reiner23fx If we randomly add configuration as people ask for it, we will end up with a webpack-like config. I think we should approach this more holistically and first figure out all the things people want to configure, then design a sensible config for them. Please see #102.

[2016-07-27 10:16] gaearon commented on #231
I think this wouldn’t work because configs sort of depend on each other (e.g. we might add a babel plugin that depends on a polyfill in webpack config).

[2016-07-27 10:16] #231 closed

[2016-07-27 10:17] ForbesLindesay commented on #228
We could recommend [st](https://www.npmjs.com/package/st) for serving the files.  It's a pretty fully fledged node.js static file server with gzip enabled by default.

[2016-07-27 10:27] Jiansen commented on #231
Following @gaearon 's last comment.  I have 2 thoughts here:

1. If we allow `npm eject feature-a`, then we need to first tell users which features are electable.  I think one purpose of this project is hiding configurations from general users whenever possible.

2. If eject part of the configs are allowed, potentially, by the time this project uses N features, 2^N cases of *partial ejection*s nee

[2016-07-27 10:31] ForbesLindesay commented on #177
HOST and PORT environment variables are really standardised.  If we support them, we probably won't need to tell anyone about them and  things will Just Work™ in environments that provide them (e.g. I think Cloud9IDE may provide them).  I think most of the users who want to customise the port number will also be OK with setting an environment variable.

[2016-07-27 10:54] gaearon commented on #177
Sure, it’s a possible option.

[2016-07-27 10:55] gaearon commented on #231
Yes, one of the goals of this project is to be maintainable for us 😄

[2016-07-27 11:01] gaearon commented on #228
Thanks for the suggestion! I’ll use that instead.

[2016-07-27 11:09] gaearon commented on #197
Is

the complete stack trace you have?

Can you try creating the project in different folders?

Which guide have you followed for reinstalling Node?

[2016-07-27 11:33] Lakston commented on #11
And thanks for that !

I'm still having troubles configuring linting and syntax highlighting on Atom so I guess I' still don't quite understand how to link the app's config to my editor to have proper linting and hightlighting.

I'm guessing the linting rules apply only in npm ? I'm not sure to understand how to utilise the integrated lint rules into my editor.

[2016-07-27 11:55] gaearon commented on #170
#235

[2016-07-27 12:05] gaearon commented on #170
For now #235 covers `fetch` and `Promise`.
We can revisit this in the future and add more polyfills on a case by case basis.

[2016-07-27 12:05] #170 closed

[2016-07-27 12:33] gaearon commented on #11
Please see https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#display-lint-output-in-the-editor.

This will be supported by default in projects created with `0.2.0` and higher (it’s not out yet).

In already created projects, you can paste this block into your `package.json` to get it working:

[code]

It will require that you use `npm@3` though.

[2016-07-27 12:54] gaearon commented on #215
Good points. I think the problem is still worth exploring but I'd like to hear more alternative solutions for delegating configuration.

[2016-07-27 12:54] #215 closed

[2016-07-27 12:57] jaredpalmer commented on #98
@mxstbr just wanted to doublecheck

[2016-07-27 13:41] gaearon commented on #228
Hmm, `st` has some caching issues: https://github.com/isaacs/st/issues/73.
I’ll probably have to back out of that.

[2016-07-27 13:41] mxstbr commented on #233
Done by the amazing @alexzherdev in #236! :+1:

[2016-07-27 13:41] #233 closed

[2016-07-27 13:43] jquense commented on #111
This seems like saying "Because we haven't yet reinvented CSS in React we are going to ignore the last 5 years of best practices, improvements and common choices made by most web developers". Not to harp on a point but this is exactly the sort of thing folks from outside the React community face palm and shake their head about, a seemingly tone deafness to how web development works outside the bub

[2016-07-27 13:46] hzoo commented on #233
Anyone want to add a note about using `babelrc: false` in the docs https://github.com/babel/babel.github.io/blob/master/docs/usage/babelrc.md? Otherwise I'l do it

[2016-07-27 13:48] gaearon commented on #111
We are going to reevaluate this choice after a little while. There are other high priority issues to sort out before we can get to a 1.0 that we can link from React docs. 😉

[2016-07-27 13:52] cschweda opened #237 "New install, no edits, npm start, and I see syntax error: unexpected token"
New install:

[code]
No edits, no changes.

And I get this error:

[code]

Running on a Macbook Pro, El Capitan.

[2016-07-27 14:03] alexzherdev commented on #237
What's your node version?

[2016-07-27 14:15] gaearon commented on #237
It only works with Node >= 4.
From README:

<img width="465" alt="screen shot 2016-07-27 at 15 15 12" src="https://cloud.githubusercontent.com/assets/810438/17178334/f688bf78-540c-11e6-91d1-b6055b3d6db6.png">

We fixed our version check in the next version so in the future it will error in versions < 4.

[2016-07-27 14:15] #237 closed

[2016-07-27 14:23] insin commented on #228
Next candidate: https://github.com/scottcorgan/pushstate-server ? :smirk_cat:

[2016-07-27 14:55] kittens commented on #126
PR merged. I guess this can be closed.

[2016-07-27 14:56] bebbi opened #239 "OOTB install: localhost:3000 returns 404, Cannot GET /"
$ npm i -g create-react-app
$ create-react-app my-app
.. Success! ..
$ cd my-app
$ npm start
Starting the dev server ... Compiled successfully! .. running at http://localhost:3000/
Returned document in OSX/Chrome: Cannot GET /
console shows 404 error.

Does anyone have a quick idea for debugging this?
Btw: it's the same after ejecting. Using nvm0.31.3, node 6.3.0, npm 3.10.6

[2016-07-27 15:02] thedjpetersen opened #240 "Inconsistent filename casing breaks the watcher"
I am working on setting up a basic site on this and I want to split up my components into subdirectories. Do I have to eject and modify the webpack config to get the hot reloading working correctly?

[2016-07-27 15:03] gaearon commented on #240
Not sure I understand. You should be able to create any number of subdirectories inside `src`.

[2016-07-27 15:15] gaearon commented on #239
This is weird and shouldn’t happen. Unfortunately it looks like some quirk specific to your Node setup because it doesn’t seem like other people are bumping into this.

If I was debugging this, I’d probably eject, put some logs into `scripts/start.js` and anything it calls (e.g. `webpack-dev-server/lib/Server.js`), as well as into `html-webpack-plugin`, and see why the server doesn’t serve `index.

[2016-07-27 15:18] elsigh commented on #11
Hey @gaearon =)

Trying this out this morning and love the idea and how it starts up and gets you immediately able/into writing code.

As someone intimately familiar with configuring and tweaking webpack, it's nice to not have to touch it to play around with it at all for a new project.

Can I add a +1 for flowtype integration? Do you guys have any stance on using typescript out of curiosity?

VSC

[2016-07-27 15:19] msaron opened #241 "Error Failed to compile. Module not found"
I get the following error when I try to run npm start.

        Failed to compile.

        Error in ./src/App.js
        Module not found: ./modules/world/components/country-list-fdt in /home/mana/node-apps/mana/mana-hapi2/src
        resolve file
          /home/mana/node-apps/mana/mana-hapi2/src/modules/world/components/country-list-fdt doesn't exist
          /home/mana/node-apps/mana/mana-hap

[2016-07-27 15:20] gaearon commented on #126
We pin versions so I’d like to leave it open for posterity until we pin to the version fixing this.

[2016-07-27 15:21] gaearon commented on #11
Are you using npm 2 or npm 3?

[2016-07-27 15:21] thedjpetersen commented on #240
Sorry I should have phrased it better. I am working on modularizing and I have tried to add things into their own subdirectories. When I save on any of these files though it doesn't seem to trigger a recompilation, only saves on the root level javascript files.

I was wondering if I needed to eject the config in order to get it to recompile on any save in the src/ directory and it's subdirectories

[2016-07-27 15:21] elsigh commented on #11
$ npm --version
3.9.5

[2016-07-27 15:22] kittens commented on #126
The fix is in a transitive dependecy so users will get the updated version regardless and you have no version to update as it's not a direct dependency.

[2016-07-27 15:22] gaearon commented on #11
One step at a time. Flow integration is already possible, it’s just a little awkward: https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#add-flow. We’ll think more about static typing in the future but for now we need to solve more pressing issues.

[2016-07-27 15:23] gaearon commented on #11
@elsigh Have you tried restarting VSCode? If it doesn‘t help I can download it and take a look.

[2016-07-27 15:24] gaearon commented on #241
Where is the file located?

The error message says:

[code]

Are you sure it exists there?

[2016-07-27 15:31] gaearon commented on #240
Everything inside `src` including subdirectories should be watched.

Is there any chance, however, that the name you’re importing has a different casing from the filesystem name?

For example, could it be that your file or directory is called `something` but you’re importing `Something` or vice versa? I’ve seen this trip the watcher.

[2016-07-27 15:34] gaearon commented on #126
We use `bundledDependencies`, I’m not sure whether this complicates the issue or not..

[2016-07-27 15:35] msaron commented on #241
Figured it out. My files have a .jsx extension. I need to change the extensions of all my files that use .jsx to .js.

[2016-07-27 15:35] #241 closed

[2016-07-27 15:35] thedjpetersen commented on #240
Thanks! That was it.

[2016-07-27 15:37] gaearon commented on #240
That’s our fault. We should warn/err in such cases, at least in user code.
It’s weird that webpack tolerates it.

[2016-07-27 15:45] gaearon commented on #241
👍 Maybe we can warn about this in the future. We don’t see any benefits to `.jsx` extension so we’d rather use this chance to stop encouraging people to follow this convention. But this indeed could be surprising if you’re used to it.

[2016-07-27 15:47] JasonArkens17 commented on #197
I have tried the project build in several locations both on my desktop and root directory. That is unfortunately the full stack trace I get back. I am also running into the problem when trying to do react-native builds and regular react project builds. I have pasted in the stack trace for those below. As far as deleting node, I have tried several different methods. I found a guide on GitHub gist t

[2016-07-27 15:48] JasonArkens17 commented on #197
Here is another stack trace when trying to run a react-native build

[code]

[2016-07-27 15:54] gaearon commented on #228
Okay, `pushstate-server` looks great so far: gzip, good defaults, no aggressive caching.
Updated the instructions to use it instead.

[2016-07-27 15:56] suchipi commented on #194
The bind address is correctly set for the server on master, so you can connect to the application via its external IP.
However, the client still tries to connect to webpack's websocket via localhost:

![Chrome Dev Tools showing Websocket connection failures](https://puu.sh/qglCw/f63f303ec3.png)

[2016-07-27 15:56] gaearon commented on #197
Try logging `fs.readFileSync` arguments. This should give you a good guess as to which file it’s looking for.

[2016-07-27 16:19] mpj commented on #80
Jest almost works out of the box with create-react-app if you install babel-jest, the only problem is that create-react-app doesn't put a .babelrc file in the root.

[2016-07-27 16:28] bebbi commented on #239
I had a detached (node express) server process occupying port 3000 with nothing on the "/" route.
webpack-dev-server appears not to care about that.
When provoking a port conflict with another running server (python -m SimpleHTTPServer), webpack-dev-server even simply takes over. Maybe someone can teach webpack-dev-server some manners :)

[2016-07-27 16:28] #239 closed

[2016-07-27 16:32] alexzherdev commented on #240
@gaearon were you thinking of something like this? https://github.com/Urthen/case-sensitive-paths-webpack-plugin

[2016-07-27 16:38] insin commented on #126
Seems like having to watch your deps more closely and releasing more often to get dep fixes out might be an implicit tradeoff for the single download and version stability from deduping and bundling *all* your deps:

https://npmcdn.com/react-scripts@0.1.0/node_modules/babel-runtime/package.json

[2016-07-27 16:50] elsigh commented on #11
Maybe it's worth a look for others, but not high-pri or anything - I don't know what VSCode adoption's like.

<img width="868" alt="screen shot 2016-07-27 at 8 01 03 am" src="https://cloud.githubusercontent.com/assets/517210/17184135/934aa886-53df-11e6-8e65-e567427b1e36.png">

[2016-07-27 17:05] #217 closed

[2016-07-27 17:22] gaearon commented on #11
Does `/Users/elsigh/src/dpxdt-config/node_modules/eslint-plugin-react` exist? If not, is there a chance that when you first ran `create-react-app`, you were using npm 2? Could you please screenshot your `node_modules` folder?

[2016-07-27 17:24] loganfsmyth commented on #233
`babelrc: false` should do the trick for webpack. An alternative would be to add a no-op `{}` `.babelrc` file, or put `"babel": {}` in the package.json so it'll find the local config and stop searching in parents.

[2016-07-27 17:25] gaearon commented on #240
This looks nice!
I’m not a big fan of the error message with the plugin name but I’d like to give this a try.
Would you want to submit a PR?

[2016-07-27 17:25] gaearon commented on #239
Maybe #101 will detect this.

[2016-07-27 17:27] gaearon commented on #194
OK, thanks for the info. I’ll file this as a bug and revisit later.

[2016-07-27 17:29] alexzherdev commented on #240
Absolutely! I'll see if I can get it to work.

On Wednesday, 27 July 2016, Dan Abramov <notifications@github.com> wrote:

[2016-07-27 17:54] elsigh commented on #11
![image](https://cloud.githubusercontent.com/assets/517210/17186015/51d35d36-53e8-11e6-95c6-9800269571a4.png)
I don't think I could've had npm2.
[code]

[2016-07-27 17:56] suchipi commented on #218
I think it would make more sense to use webpack than babel-node, because then you'll be able to rely on the same loaders and plugins you're already using in the application code. It might be confusing for a user if they can't load some filetypes in some of their JS, but they can elsewhere.

[2016-07-27 18:00] gaearon commented on #218
Agree.

[2016-07-27 18:03] gaearon commented on #11
Is it the complete list on the screenshot? It’s super weird that your directories didn’t get flattened even though you use `npm@3` and don’t have any conflicts. Can you run `npm dedupe`/

[2016-07-27 18:36] gaearon commented on #180
I’ve looked at it again and I don’t quite see the point. Presumably you’d run Enzyme outside of both `npm start` and `npm run build` anyway, wouldn’t you? An in this case you’d likely want a custom config anyway that’s tailored to tests.

What is the reasoning behind including these `externals` either in current dev or prod config?

cc @ariporad

[2016-07-27 18:49] dceddia opened #242 "Allow using a port other than 3000"
I tried a search for "port"-related issues but didn't find any, so I'll make this one.

It would be nice to be able to specify a port other than 3000, either as a command line parameter or an environment variable. Some environments ([Cloud9](c9.io)) restrict the ports you can use.

Right now, the process is pretty involved:

1. Run "npm run eject"
2. Wait for that to finish
3. Edit "scripts/start.

[2016-07-27 19:01] lacker commented on #80
@mpj Does `babel-jest` handle non-js imports like `import "foo.css"` and `import "foo.png"`?

I am working on the `react-scripts run` as described by @ForbesLindesay & discussed in https://github.com/facebookincubator/create-react-app/issues/218 . That should be useful for some quick-and-dirty testing and maybe some lighter-weight test frameworks can actually just be invoked through it.

[2016-07-27 19:04] jeffposnick commented on #192
I work on the team at Google that develops the [`sw-precache`](https://github.com/GoogleChrome/sw-precache) and [`sw-toolbox`](https://github.com/GoogleChrome/sw-toolbox) libraries, which are similar in scope (though implemented differently) than the `offline-plugin` project that @NekR maintains. Hopefully this does not come across as upstaging @NekR's request, but creating a separate issue and ha

[2016-07-27 19:13] Jiansen commented on #242
It is discuss in #101 , and there is a relevant PR #243

Do you want to close this issue if your question has been addressed?

[2016-07-27 19:26] dceddia commented on #242
I'll close this, it looks like the discussion near the end of #102 is heading in this direction.

#101 and #243 don't address quite the same question. I'm not wondering how to override the port when the port is in use, but how to choose a port other than 3000 from the get-go.

[2016-07-27 19:26] #242 closed

[2016-07-27 19:26] hzoo commented on #126
Released v6.12.0 with this fix https://github.com/babel/babel/releases/tag/v6.12.0 (and like @kittens said it's a fix in the `babel-traverse` pkg)

[2016-07-27 19:40] NekR commented on #192
I'm actually completely fine with using `sw-*` tools. My intention here is to popularize SW and enable it in popular boilerplate / generator. So if one tool makes sense than another, then it should be used.

[2016-07-27 19:49] mxstbr commented on #180
Nothing, those should go in the testing specific webpack config as reflected in @insin's question at the end of the issue. :+1:

[2016-07-27 20:23] #194 closed

[2016-07-27 20:25] gaearon commented on #85
This was fixed in #243.

[2016-07-27 20:25] #85 closed

[2016-07-27 20:44] #125 closed

[2016-07-27 21:12] gaearon commented on #126
Thank you so much! I’ll be using these for next release.
Since we can’t pin a transitive anyway (lol I don’t know npm), I’m closing.

[2016-07-27 21:12] #126 closed

[2016-07-27 21:12] gaearon commented on #180
Okay, I’ll close then until we decide something on testing.

[2016-07-27 21:12] #180 closed

[2016-07-27 21:15] gaearon commented on #177
This is fixed by 2fe84ecded55f1d5258d91f9c2c07698ae0d2fb4.

[2016-07-27 21:15] #177 closed

[2016-07-27 21:49] kasperpeulen commented on #198
I'm wondering, about performance benefits. This may be a very stupid comment, but as Chrome, Firefox, Safari 10 and Edge all can run ES2015 code, it sounds as a waste to me to not make use of that.

For the production config, wouldn't it be more performant, to have a small script in the beginning that determines the browser and the version of the browser, and runs an ES5 bundle if it is IE or a mo

[2016-07-27 21:49] gaearon commented on #242
We default to PORT from environment now if it is specified. Please try the new alpha: https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 21:51] gaearon commented on #102
For those of you who just needed PORT, you can specify it as an environment variable in the next alpha. Please try it out: https://github.com/facebookincubator/create-react-app/pull/190.

This is not related to this issue so keeping it open.

[2016-07-27 21:52] gaearon commented on #239
Can you try if the same problem is detected in the next alpha? Instructions to upgrade: https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 21:53] gaearon commented on #233
Can you verify 0.2.0 alpha fixes this? https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 21:54] gaearon commented on #232
You can try 0.2.0 alpha now, it handles `homepage` and contains GH Pages deployment instructions. https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 21:55] gaearon commented on #194
Nitrous should work with latest alpha. Please give it a try and let me know. https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 21:56] gaearon commented on #177
Please try the latest alpha and let us know if it fixes the issue. Here's how: https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 21:57] gaearon commented on #170
This is shipped in 0.2.0 alpha, please feel free to provide feedback. Here's how: https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 21:58] gaearon commented on #126
This should be fixed in latest alpha. Please give it a try and let us know. https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 21:59] gaearon commented on #127
This should be fixed in 0.2.0 alpha. Can I ask you to try it and confirm? Here's how: https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 21:59] gaearon commented on #137
This should be fixed in 0.2.0 alpha, mind giving it a spin to confirm? Here's how: https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 22:01] gaearon commented on #141
The new 0.2.0 alpha allows for deployment to GH Pages and similar environments by setting `homepage` variable in `package.json`. Here's how to try it: https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 22:01] gaearon commented on #165
0.2.0 alpha is on npm, please give it a try and report any issues. https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 22:02] gaearon commented on #121
New alpha should offer to listen on another port. Please give it a try! Here's how: https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 22:02] gaearon commented on #123
Fixed in 0.2.0 alpha, mind testing this? Here's how https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 22:04] gaearon commented on #124
Projects created with 0.2.0 alpha shouldn't have this issue (but only if you use npm 3). Please help us test this: https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 22:05] gaearon commented on #125
Generators should work out of the box with 0.2.0 alpha. https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 22:06] gaearon commented on #85
Should be out in 0.2.0 alpha, please help us test it. https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 22:06] gaearon commented on #95
GH Pages should work with 0.2.0 alpha, here's how to test it: https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 22:06] gaearon commented on #103
Should be fixed in 0.2.0 alpha. Please help us test it! https://github.com/facebookincubator/create-react-app/pull/190

[2016-07-27 22:07] johnreynolds commented on #177
Works like a champ.

Thanks!

On Wed, Jul 27, 2016 at 3:56 PM, Dan Abramov <notifications@github.com>
wrote:

[2016-07-27 22:51] lacker commented on #218
I implemented the `run` functionality here: https://github.com/facebookincubator/create-react-app/pull/245 Feedback is welcome!

[2016-07-27 23:07] #163 closed

[2016-07-27 23:11] taion commented on #198
@kasperpeulen

That's sort of the dream, but it's hard to get to. You'd need to make multiple builds, feature-sniff appropriately for a wide set of features on the client, then ship the appropriate build.

But it's actually a bit worse than that, because if you really want to ship ES2015 code, you want your dependencies to expose an ES2015 build, and then figure out how to use that for your "real

[2016-07-27 23:12] lacker opened #246 "Consistency & documentation of which URLs are used"
We should document and stick to some pattern for what URLs are used, in both the development server and a production deploy.

The rationale is, if you are setting up a proxy, you might want to route a certain path to a different server. You need to choose a path that isn't used by this React app, which means you have to know what paths are used. If you route `/files/*` to a different port, and lat

[2016-07-27 23:44] keyanzhang opened #247 "`eslint` binary is not in the top level `node_modules/.bin` folder after creating an app"
I tested #149 again with `create-react-app my-app --scripts-version 0.2.0-alpha.1` and noticed that ESLint in editor doesn't work as expected. Digging down into the issue and I realized our global-cli and `npm run create-react-app` in the main repo generate different node_module structures (I'm using npm 3):

A global `create-react-app my-app` call generates:
[code]

And `npm run create-react-app

[2016-07-27 23:53] JasonArkens17 commented on #197
You are the man. I went ahead and logged the directory `fs.readFileSync` was trying to open and it was some random `package.json` folder living in my home directory. I deleted it and everything is working. I am assuming this is due to `npm's` behavior of looking up into parent directories for any `package.json` it can find for commands. In this case it was finding the random folder, trying to read

[2016-07-27 23:54] gaearon commented on #247
It's weird that npm 3 generates this. Does calling `npm dedupe` fix it? In general npm 3 should use flat structure when possible so I'm curious what causes the nesting.

[2016-07-27 23:54] gaearon commented on #197
No problem, thanks for explaining!

[2016-07-27 23:55] gaearon commented on #246
cc @ForbesLindesay who also wanted this

[2016-07-27 23:58] #228 closed

[2016-07-28 00:04] keyanzhang commented on #247
yeah, calling `npm dedupe` fixed it but it took like 10 minutes to finish on my machine :(

[2016-07-28 00:21] dceddia commented on #242
Awesome, thanks! `PORT=xyz npm start` is working in the alpha.

[2016-07-28 02:51] scwood commented on #201
How can I get this to work? When I npm install bootstrap and use that import statement it gives me the following error:

[code]

[2016-07-28 02:52] ripitrust opened #248 "How to correctly pass API requests to another backend server"
Hi Team

1. I have a backend python (flask) server running at localhost:5000, which provides API calls with json data

2. Now I have the create-react-app running at localhost:3000, how should I pass the api calls back to localhost:3000?

3. Previously, I use "proxy" option in the webpack-dev-server, but now I am not sure how to do it with create-react-app,  do I absolutely have to eject it?

Thank

[2016-07-28 02:54] SpencerCDixon commented on #201
It's probably failing on the fonts that need to be loaded properly.  Does the create-react-app's webpack config include the appropriately font loaders?

[2016-07-28 02:54] scwood commented on #201
The weird thing is if I move bootstrap.css directly into my src folder and import it relatively it works fine... any ideas?

[2016-07-28 02:55] taion commented on #201
Sounds like `paths.appNodeModules` is broken here: https://github.com/facebookincubator/create-react-app/blob/ca7d227ae0354e04941ba0e4f76c0bcbf3050dfa/config/webpack.config.dev.js#L55.

[2016-07-28 03:09] taion commented on #201
Oh, it was fixed in https://github.com/facebookincubator/create-react-app/pull/178.

[2016-07-28 03:17] scwood commented on #201
Is that version not pushed out yet?

[2016-07-28 04:09] selfup commented on #95
Fantastic! Thanks for the update

[2016-07-28 05:01] vgrigoriu commented on #165
I had to set `homepage` to `./` to get relative paths. I don't know if it's 'right' but it works for me, so thanks!

[2016-07-28 06:29] bebbi commented on #239
works just fine for my test cases, including multiple sequential ports occupied.

[2016-07-28 08:53] mmgm commented on #198
I have to say, humbly, that I'm completely baffled by this thread. You've clearly shown that some incredible projects, developed by _really_ talented people, use loose mode.

I'm still trying to wrap my head around why you would think that non-standard behaviour is what's best for the average user.

Which do you think the average user would prefer?

- use ES6 today. ES6 is awesome!
or
- use ES6 to

[2016-07-28 09:12] gaearon commented on #165
Hmm, can you describe your use case for purely relative paths? They won't work with client side routing. Is your app served from different paths?

[2016-07-28 09:13] gaearon commented on #165
To be clear, if you set homepage to `mysite.com/myfolder`, you will get absolute paths that start with `/myfolder`. Would that not solve your problem?

[2016-07-28 09:32] uragecz opened #249 "<div> cannot appear as a descendant of <p>"
Hi, i am getting a lot of errors -
[code]

[2016-07-28 09:36] ForbesLindesay commented on #249
This is a constraint of browsers.  You should use `div` or `article` or something like that in the render method of `App` because that way you can put whatever you like inside it.  Paragraph tags are limited to only containing a limited set of tags (mostly tags for formatting text.  You cannot have a div inside a paragraph

[2016-07-28 09:39] insin commented on #165
If you honour the value of `homepage` when it's present but blank, a blank 'publicPath` will let you build apps which can run from any non-root URL.

[2016-07-28 09:42] uragecz commented on #249
Nice, it helped, thanks a lot for fast answer :+1:

[2016-07-28 09:44] #249 closed

[2016-07-28 09:57] cpojer commented on #80
A few people asked me to contribute a pull request with an initial Jest integration: https://github.com/facebookincubator/create-react-app/pull/250

If you'd like to find out more about snapshot testing, please read our new [blog post](facebook.github.io/jest/blog/2016/07/27/jest-14.html) and [documentation](http://facebook.github.io/jest/docs/tutorial-react.html#content).

[2016-07-28 10:19] gaearon commented on #165
We currently don’t honor blank `homepage`: https://github.com/facebookincubator/create-react-app/blob/ca7d227ae0354e04941ba0e4f76c0bcbf3050dfa/config/webpack.config.prod.js#L20-L23. But we can, I guess. I’d like to hear more about the use case though.

[2016-07-28 10:28] gaearon commented on #201
The fix will be out in 0.2.0 but you can try using alpha for now: #190

[2016-07-28 10:34] gaearon commented on #198
I think the difference is probably negligible for the use cases of most apps, and we should err on the side of no surprises. (Correct me if I’m wrong.) Libraries are a different story because they usually do a lot of work and need to be performant for everyone. So “we’d like consistent ES6 features” is probably less useful for libraries (whose authors can constrain themselves), but I’m not sure we

[2016-07-28 10:46] gaearon commented on #248
We are discussing this in #147.
Can you show the `proxy` configuration you were using?
Also, is there a big reason why you can’t just embed `http://localhost:5000` in your requests?

[2016-07-28 10:58] ripitrust commented on #248
Hi @gaearon

Thanks so much for your reply

the devServer setting I used previously is

[code]

About your question
I am not sure if I am right , but if I want to fire a api request from localhost:3000 to a backend server listening at localhost:5000, I have to make the api request CORS compatible, right?
I think this will cause some problem

also, it means that in all my `fetch(url)` calls,  I hav

[2016-07-28 11:00] hzoo commented on #198
@mmgm No, I would agree as well - it is true that in the majority of cases it won't matter but most users  don't know what loose mode provides/does and we don't want users relying on non-spec behavior just to make the output a bit shorter/faster.

[2016-07-28 11:10] gaearon commented on #248
👍 Thanks for explaining. I’ll close this in favor of #147 but I’ll make sure to revisit your use case when we work on this.

[2016-07-28 11:10] #248 closed

[2016-07-28 11:11] ripitrust commented on #248
@gaearon

great, I will also look at #147 and see if it helps

[2016-07-28 12:04] insin commented on #165
Serving at any URL without being tied to a specific one and being able to run apps without a server, just by opening the `.html` file in a browser.

I've found the latter handy for sending people little prototypes and tools at work instead of having to keep it serving from my machine or deploying it to our sandbox thing.

[2016-07-28 12:16] gaearon commented on #165
I think "homepage": "./"` would do the trick. It’s kinda weird of course.

[2016-07-28 12:33] gaearon commented on #247
I think we might have to recommend `npm dedupe` *or* wait for https://github.com/eslint/eslint/issues/3458 to be fixed (there’s some work on this as far as I can see).

[2016-07-28 12:39] reiner23fx commented on #177
Works perfectly !!

Thanks alot !!

[2016-07-28 13:35] insin commented on #247
Delightful (nasty) hack I used for my entire-ESLint-config-in-a-box package - define your own `eslint` bin script which finds and calls the real one :cactus:

[2016-07-28 13:46] gaearon commented on #247
Wow much evil. 😄
We probably won’t do this because I think it’s a notch too obnoxious for us to shadow `eslint`.

-----

This is being worked on: https://github.com/eslint/eslint/issues/3458. I think we might expect to have a solution to this in ESLint itself within a couple of months.

In the meantime, I documented the complete workaround that involves installing those plugins globally: https://g

[2016-07-28 13:46] #247 closed

[2016-07-28 14:00] weisjohn opened #252 "non-zero exit codes for npm run-script build?"
When I try to `npm run-script build`, if the process fails, I would expect it to return a non-zero exit code. Example:

[code]

One of the reasons I want this is to utilize `npm run-script build` in a pre-commit hook as follows:

[code]

[2016-07-28 14:03] tp opened #253 "Respect NODE_PATH environment variable"
I wanted to try out `create-react-app` on our internal monorepo, which is basically structured into 2 folders: "apps" and "components".

The "apps" contain just an entry index.js file and their build/transpile configuration and import a root component from the components directory.

This is currently solved by directing imports using `NODE_PATH` environment variable to make tools look into the com

[2016-07-28 14:04] weisjohn commented on #252
Doing some more digging, if I invoke the script directly, then I do get the exit code:

[code]

[2016-07-28 14:08] vjeux commented on #252
Should be reported to npm :)

[2016-07-28 14:10] weisjohn commented on #252
@vjeux thanks, sorry

[2016-07-28 14:16] vjeux commented on #252
Oh I'm sorry, this is very educative, I had no idea that npm run didn't properly forward the return code. This is very unfortunate though and I don't think we can fix it :(

[2016-07-28 14:32] gaearon commented on #253
Do you mean that you read `NODE_PATH` and plug it somewhere into Webpack config? Or do you use something other than Webpack?

[2016-07-28 14:37] gaearon opened #255 ""Cannot resolve module babel-runtime/regenerator""
I get this message when I use generators because `babel-runtime` is not a runtime dependency of the generated project. I didn’t notice this when I merged #238 because I tested only the local flow (`npm run create-react-app`).

I see three possible solutions:

* Document this as a known gotcha in the howto. (People using generators would probably find it quick enough.)
* Put `babel-runtime` into ev

[2016-07-28 14:37] weisjohn commented on #252
Actually, I'm not sure this is npm's fault.

The default `npm run-script build` is configured to be `"build": "react-scripts build",`, which points to `react-scripts/bin/react-scripts.js`:

[code]
It looks like [we're using the async version](https://github.com/facebookincubator/create-react-app/blob/v0.1.0/bin/react-scripts.js#L11) of `cross-spawn`. And so, I think we need spawn sync, a la https:

[2016-07-28 14:46] weisjohn commented on #252
Sorry about that, new PR: #256

[2016-07-28 14:47] blitzd commented on #255
I just ran into something similar when using react-input-enhancements, adding `babel-runtime` fixed the issue. Just importing anything from the lib would cause a compile failure.

[2016-07-28 14:47] vjeux commented on #252
Oh good catch!

[2016-07-28 14:49] insin commented on #255
You could try using [`resolve.fallback` config](https://webpack.github.io/docs/configuration.html#resolve-fallback) to make babel-runtime resolvable.

[2016-07-28 14:50] gaearon commented on #255
This works as an interim solution but I don’t like that it makes us more tied to Webpack resolution mechanism. I would we solve this in a more generic way.

[2016-07-28 14:56] #252 closed

[2016-07-28 14:56] taion commented on #255
You can solve this by bundling up _all_ the polyfill-style dependencies (including the current `promise` and `whatwg-fetch`) into a single runtime dependency, then hiding Babel under there.

You have the same "exposes users" and "version control" issues with the current polyfill dependencies anyway.

[2016-07-28 14:58] gaearon commented on #255
Not sure I fully understand what you propose, can you elaborate?
I currently only want `babel-runtime` for regenerator, I don’t need it for any other use cases.

[2016-07-28 15:00] taion commented on #198
Worth noting that as-is, `es2015` produces code that can't run in ES5 environments without polyfills – https://phabricator.babeljs.io/T7518

`es2015-loose` doesn't have this problem.

[2016-07-28 15:01] vjeux commented on #252
Thanks for the investigation and the quick fix! Correctly propagating error codes is hard!

[2016-07-28 15:09] tp commented on #253
Yes, from my current understanding I think it would be sufficient to make Webpack aware of any paths set in `NODE_PATH`.

Currently I am using a custom setup using browserify, so I was interested in checking this approach. (But since I have not yet "ejected" I didn't fiddle with the Webpack config yet.)

[2016-07-28 15:25] gaearon commented on #198
Woah, this sure is going to be confusing to Redux users (who use `[...]` a *lot*).
Unless there is a simple fix for this on Babel side, I’d flip to `loose` then.

[2016-07-28 15:27] Jiansen opened #258 "CI passes while E2E aborted early"
In PR #257 , CI build reports `passing` while not all tests are done.  The console log is [here](https://travis-ci.org/facebookincubator/create-react-app/jobs/148064348) (see line 171).

I will think about this problem while fixing the permission problem.

[2016-07-28 15:40] mmgm commented on #198
I think @taion's comment is a bit misleading.

If we reach the code path where Array.from is called, then a is not an array and [...a] is guaranteed to be an [a], ie. to not work, but not throw an error.

I agree that this is seemingly a bug in Babel (unless it's their strategy to not polyfill functionality but only transform syntax. Is that the case?), but it's certainly not resolved by switching

[2016-07-28 15:51] bebbi opened #260 "process.env.NODE_ENV undefined warning"
if using process.env.NODE_ENV inside src/, leads to warning "'process' is not defined", while the string replacement does work. (Maybe replace could happen before linting?)

[2016-07-28 16:04] gaearon commented on #260
`process.node.NODE_ENV `? did you mean `process.env.NODE_ENV `?

[2016-07-28 16:06] bebbi commented on #260
yes apologies - typo'ed only here..

[2016-07-28 16:09] taion commented on #198
To be specific – the problem there is that if you try to spread a non-array value, `es2015` will try to call `Array.from`. If you have a polyfill, then it will work.

If you don't have a polyfill:
- If your browser supports `Array.from`, then you will get the correct behavior
- If your browser does not support `Array.from`, then you will get a runtime error

`es2015-loose` will do the wrong thing,

[2016-07-28 16:13] #260 closed

[2016-07-28 16:14] gaearon commented on #260
Thanks for reporting!

[2016-07-28 16:17] taion commented on #198
@mmgm Yeah you're absolutely right. This is much more of an argument to either polyfill the ES2015 functionality that the helpers need, or for Babel to fix this bug upstream. `es2015-loose` only avoids this problem by doing the wrong thing, which is something that has actually bitten me before.

[2016-07-28 16:18] bebbi commented on #260
breaking the issue-to-commit record!

[2016-07-28 16:18] gaearon commented on #260
Wasn’t that hard 😄

[2016-07-28 16:33] mxstbr commented on #258
That's definitely a bug! Why did that exit on a 0 even though there was an error? /cc @vjeux

[2016-07-28 16:34] mxstbr commented on #253
We do this in `react-boilerplate` with the webpack option, not sure what the up and/or downsides of this approach are:

[code]

Ref: https://webpack.github.io/docs/configuration.html#resolve-modulesdirectories

[2016-07-28 16:37] lacker commented on #253
Depending on how we handle testing it might not be sufficient to make Webpack know about it - e.g. if Jest is using a non-webpack build process we would have to make sure Jest can handle NODE_PATH too. cc @cpojer

[2016-07-28 16:49] vjeux commented on #258
Two possible explanations.

1) It turns out that we didn't forward the error code when doing `npm run build`, it has been fixed in https://github.com/facebookincubator/create-react-app/pull/244

2) The shell error handling was refactored in https://github.com/facebookincubator/create-react-app/pull/256 there may be a bug. I have a meeting for the next hour but I'll look afterwards. Thanks for ping

[2016-07-28 16:51] elsigh commented on #11
The screenshot is the complete list.
After `npm dedupe` I have a motherload of things in node_modules, including `eslint-plugin-react`

[2016-07-28 16:52] vjeux commented on #258
Could you rebase and send a version that breaks? See if the problem still happens.

[2016-07-28 16:56] mxstbr commented on #253
True, but I don't fully understand why we wouldn't use our standard build system for our testing setup though. That sounds really fragile and prone to breakage if we change anything… (disclaimer: I haven't read that discussion)

[2016-07-28 17:32] gaearon commented on #11
@elsigh

I updated the guide: https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#display-lint-output-in-the-editor

Unfortunately there’s no better way to fix it without global installs until https://github.com/eslint/eslint/issues/3458 if fixed.

[2016-07-28 17:51] Jiansen commented on #258
@vjeux , I will do it and report back.

[2016-07-28 18:00] gaearon commented on #253
It sounds sort of fragile but it also helps make sure we don’t deviate *way* too much into webpackisms.

[2016-07-28 18:01] gaearon commented on #253
Are there any precedents of major tools using `NODE_PATH` for this?

[2016-07-28 18:05] gaearon commented on #198
I think that for now, we’ll leave `es2015` as is, and see how it goes.
If we get many reports about confusing behavior or bad performance, we can revisit this.
Thanks!

[2016-07-28 18:05] #198 closed

[2016-07-28 18:08] hzoo commented on #198
@mmgm Right, Babel as a transform won't polyfill anything by itself since it only does syntax. For that we have babel-polyfill or babel-plugin-transform-runtime. http://babeljs.io/docs/usage/caveats/#polyfills

[2016-07-28 18:15] taion commented on #198
@hzoo

Is it intentional that Babel transforms syntax into something that requires a polyfill, though?

It's unintuitive to me that transpiling `[...'foo']` requires a polyfill. The person writing that is only using syntax directly.

[2016-07-28 18:16] taion commented on #198
The specific danger here is that, if I do e.g. `[...'foo']` and don't ship a polyfill – my code will work just fine in the recent version of Chrome that I myself use, but it will break for my users on browsers without ES2015 environments.

[2016-07-28 18:37] taion commented on #255
@gaearon Never mind – I just realized this is really another thing like https://github.com/facebookincubator/create-react-app/issues/247 where the problem is that `babel-runtime` doesn't end up at top-level in `node_modules`.

[2016-07-28 18:39] gaearon commented on #255
I’ll plug the hole for now with #262 but this is suboptimal (e.g. probably won’t work with Jest).
Will revisit as soon as we find a case that doesn’t work well with that hack.
I hope that babel/babel#3612 lets us do this, but if not, we’ll probably have to add `babel-runtime` for everyone at some point.

[2016-07-28 18:46] gaearon opened #263 "Improve/silence WebpackDevServer client"
This doesn’t help anyone, it’s just annoying:

<img width="423" alt="screen shot 2016-07-28 at 19 42 11" src="https://cloud.githubusercontent.com/assets/810438/17225095/757b8a10-54fb-11e6-93ef-a335281292f3.png">

Similarly, these logs are not useful to us:

<img width="581" alt="screen shot 2016-07-28 at 19 45 02" src="https://cloud.githubusercontent.com/assets/810438/17225189/d2bf2d3a-54fb-11e6-8

[2016-07-28 20:04] #201 closed

[2016-07-28 20:06] sotojuan opened #267 "Use `update-notifier`"
Mostly just throwing ideas out there, but something like this would be cool:

https://github.com/yeoman/update-notifier

[2016-07-28 20:09] gaearon commented on #267
We probably won’t do this—it should be considered *fine* to use an old version.

Also you don’t need to update the command to create a project with fresh code—`create-react-app` is just a shell, and the real code lives in `react-scripts`, and we always install its latest version when creating a new project.

See also: https://github.com/facebookincubator/create-react-app/issues/119#issuecomment-23

[2016-07-28 20:09] #267 closed

[2016-07-28 20:13] loganfsmyth commented on #198
@taion I dislike `Array.from` because it means this logic works with general array-like objects, which is not spec compliant, but it's not clear that a change to fix that would address your concerns. No matter way, spread is defined in terms of `Symbol`, so you'd going to get this problem no matter what.

The same limitation applies for `for...of`. Babel does indeed assume you are loading a polyfi

[2016-07-28 20:16] taion commented on #198
@loganfsmyth Got it. My misunderstanding, thanks.

[2016-07-28 20:18] taion commented on #198
I wish there were a good way to just throw there, though. There's nothing enforcing that the correct polyfills get pulled in, and inadvertently ending up with code that works for me but not my users is a really bad feeling.

[2016-07-28 20:19] loganfsmyth commented on #198
Yeah I don't disagree there, Babel doesn't currently do a great job of signaling any of that.

[2016-07-28 20:25] gaearon commented on #242
Released as stable.

[2016-07-28 20:26] lacker commented on #253
By default `node` itself uses `NODE_PATH` for this so that is a major tool that uses `NODE_PATH` ;-) I think it actually predates `npm` and `node_modules` as an import resolution mechanism.

https://nodejs.org/api/cli.html#cli_node_path_path

[2016-07-28 21:04] taion opened #269 "Ship additional required polyfills"
Follow-up from https://github.com/facebookincubator/create-react-app/issues/198, https://github.com/facebookincubator/create-react-app/pull/238.

Per http://babeljs.io/docs/usage/caveats/#polyfills, generators are not the only supported language feature that require a polyfill.

Array destructuring, for-of loops, and the array spread operator all require additional polyfills. As such, this project

[2016-07-28 21:15] lpalmes opened #270 "Webpack can't handle SVG files"
In version 0.1.0 of react-scripts it used to work seamlessly.
Now i get

[code]

And i'm using this as
[code]

[2016-07-28 21:25] Jiansen commented on #258
It seems that #256 doesn't capture bugs like this.

I created a simplified branch and [PR](https://github.com/Jiansen/create-react-app/pull/1) in my forked repo because we shall never merge this test PR into this repo.

Let me know if you'd like me to do other tests.

[2016-07-28 21:25] gaearon commented on #270
This worked unintentionally. Please put all assets into the `src` folder or its subdirectories. I believe the generated README file should mention that.

We might loosen this restriction in the future but for now we'd like to clearly separate the folders involved in bundling, and the folders containing anything that doesn't get copied to production build (for example docs or other artifacts).

[2016-07-28 21:25] #270 closed

[2016-07-28 21:32] lpalmes commented on #270
@gaearon Thanks for the quick response!
I'm really loving this tool, after using your boilerplates, and max react-boilerplate, this one is the best to just start working, my colleagues now don't have to wait for me to configure their react projects, so thats really helpful for us too. Terrific work!

[2016-07-28 22:18] gaearon commented on #270
Thanks!

[2016-07-28 23:47] vutran commented on #24
I could see how this would be useful (especially the `--from empty` flag) but this could become a potential gateway for a bunch of boilerplate templates.

[2016-07-29 00:27] adrice727 opened #271 "Deploying to Heroku"
Has anyone successfully deployed the app to Heroku?  I haven't been able to figure out how to do so.

[2016-07-29 00:43] cpojer commented on #253
(@lacker: Jest does handle NODE_PATH just fine. It also has a `moduleDirectories` option).

[2016-07-29 01:15] mars commented on #271
Here are the CLI/shell steps:
https://gist.github.com/mars/5e01bb2a074594b44870cb087f54fe2f

…I'm working on a module to make deploying to Heroku even simpler.

[2016-07-29 01:21] dburles commented on #124
Just installed 0.2.0 (I'm on npm 3, node 6) and vscode complains:

"Failed to load eslint library. Please install eslint in your workspace folder using 'npm install eslint' or globally using 'npm install -g eslint' and then press Retry."

Seems like it's not expecting to look for eslint within react-scripts?

[2016-07-29 01:33] mmgm commented on #198
Also worth noting that, if I understand correctly, generators are transpiled to code that not only requires a polyfill, but requires a specific runtime library to essentially pollute your global scope (unless you use plugin-transform-runtime).

I understand your issue with this approach and for what it's worth, I completely agree with you. But this seems like more of Babel-wide problem than an iss

[2016-07-29 01:48] taion commented on #198
I think it's relatively well-known among Babel users that generators require a runtime. I was very surprised to realize that those other language features required polyfills, though – I'd assumed they hadn't.

I opened #269 to note that create-react-app should ship those polyfills; otherwise those transpiled language features will fail for users of applications built with create-react-app that hav

[2016-07-29 02:07] kevinejohn commented on #214
@gaearon Don't you have to use the old `React.createClass` method if you do not use decorators though? It changes a lot of the code structure in your components (No constructor(), commas after every method, etc...) :-/

Would be great to be able to use `create-react-app` without ejecting to set babel decorator support.

`var MyComponent = observer(React.createClass({
...`

https://mobxjs.github.io

[2016-07-29 02:34] insin commented on #269
Is it potentially problematic that babel-runtime vendors core-js? If react-scripts takes a dependency on core-js for default polyfills, it won't be deduplicated by npm.

https://npmcdn.com/babel-runtime/

[2016-07-29 02:43] taion commented on #269
TIL. Wow, that's a bit inconvenient for this use case. I guess babel-runtime has to vendor core-js though.

I suggested babel-runtime as it would only bring in those polyfills if needed. Directly bringing in the polyfills would also work, though.

[2016-07-29 02:44] doodirock commented on #78
I have to say I don't really like the idea that SASS isn't being considered "just because people use it."  I fully understand that you are trying to find out "why" people want it included before you decide  what to do.   However, I would ague that **because** so many people use it, is really just as valid of a reason.

If the goal of this project is to help beginners, then I would suggest most beg

[2016-07-29 03:16] manavsehgal opened #272 "ESLint warnings within Atom editor. Cannot find module 'eslint-plugin-flowtype'"
I followed instructions to enable ESLint warnings within (Atom) editor. On opening a .js file in the editor I get this error.

[code]

[2016-07-29 03:36] andyeskridge commented on #272
I found I was hitting that issue too when using the `linter-eslint` package for atom. My work around was to first make sure that all of the required plugins were installed globally with `npm install -g eslint babel-eslint eslint-plugin-react eslint-plugin-import eslint-plugin-jsx-a11y eslint-plugin-flowtype` and then telling `linter-eslint` to use the global eslint installation

![image](https://c

[2016-07-29 03:45] manavsehgal commented on #272
@andyeskridge thanks, your solution (checking - use global ESLint installation) fixed the error. Closing issue.

[2016-07-29 03:45] #272 closed

[2016-07-29 06:54] FastNinja commented on #11
started for a new project but had to eject soon. reason - need to use existing huge CSS file (company wide branding styles) into HTML and could not find the way to do that.

[2016-07-29 06:59] tsongas opened #273 "Will this support Redux?"
I'm still learning React/Redux, I presume I could add src subfolders for containers, reducers, etc.?

[2016-07-29 07:14] mxstbr commented on #273
I don't think we'll add redux by default, since it's a very opinionated way of writing react applications. (at least not in the near future)

Integrating it is definitely possible:

1. `npm install --save redux react-redux`
2. In `src/index.js`:
[code]
3. In your components:

[code]

Then you'd have some actions and a reducer somewhere and be good to go!

[2016-07-29 07:14] #273 closed

[2016-07-29 07:15] mxstbr commented on #11
@FastNinja if #226 got merged, would that satisfy your use case?

[2016-07-29 08:29] jwang141 opened #274 "Error: Failed to load plugin flowtype: Cannot find module 'eslint-plugin-flowtype'"
Nodejs v6.2.2  npm v3.10.6

Error: Failed to load plugin flowtype: Cannot find module 'eslint-plugin-flowtype'
Referenced from: /Users/xxx/xxx/package.json
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:289:25)
    at Module.require (module.js:366:17)
    at require (module.js:385:17)
    at Object.module.exports.load (/Users/xxx/.atom/packages/l

[2016-07-29 08:40] insin commented on #269
Having `Symbol` guaranteed would also mean the [inline elements transform](https://babeljs.io/docs/plugins/transform-react-inline-elements/) could be used for production builds.

[2016-07-29 08:46] Lakston opened #275 "Error: Cannot find module 'babel-eslint' Referenced from: mypath/testing-create/package.json"
node v6.3.1
create-react-app v0.2

When opening `App.js` or `index.js` in Atom I get this error :

`Error: Cannot find module 'babel-eslint'
Referenced from: /Users/Home/github/testing-create/package.json`

    at Object.ModuleResolver.resolve (/usr/local/lib/node_modules/eslint/lib/util/module-resolver.js:75:19)
    at load (/usr/local/lib/node_modules/eslint/lib/config/config-file.js:519:42)

[2016-07-29 08:55] alexzherdev commented on #274
Are you using Atom by any chance? #272

[2016-07-29 09:03] #275 closed

[2016-07-29 09:34] FastNinja commented on #11
@mxstbr looks like yes. I will have to place CSS into `static/css` and it will be bundled, correct?

[2016-07-29 09:44] mxstbr commented on #11
Correct!

[2016-07-29 09:45] gaearon commented on #275
This is mentioned in the generated project README.

Unfortunately we can't warn everyone about this because we can't guess if you are using editor plugins for linting or not.

Linting in terminal works fine without global installations.

Also, this problem should be fixed within a couple of months by ESLint itself so it's probably not too bad.

[2016-07-29 09:48] gaearon commented on #11
What's wrong with importing it from JS? We already have an example of `src/index.css`, why not put it there (or in another file you import from `index.js`)?

Please don't rely on referencing anything from HTML now. How *that* works might change (it's not currently supported officially).

[2016-07-29 10:10] gaearon commented on #272
Please follow these instructions for integrating linting with your editor:
https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#display-lint-output-in-the-editor

It is unfortunate that we require global installation but this is a problem on ESLint’s end, and they intend to solve it: https://github.com/eslint/eslint/issues/3458.

[2016-07-29 10:10] gaearon commented on #274
Please follow these instructions for integrating linting with your editor:

https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#display-lint-output-in-the-editor

It is unfortunate that we require global installation but this is a problem on ESLint’s end, and they intend to solve it: https://github.com/eslint/eslint/issues/3458.

[2016-07-29 10:10] #274 closed

[2016-07-29 10:12] gaearon commented on #273
Please check out the [generated README](https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#folder-structure) (you have it in your project):

In general I suggest reading through it, there’s several useful tips below :wink:

[2016-07-29 10:13] gaearon commented on #271
@mars When you’re ready, we’d appreciate a PR to the [howto](https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#how-to).

[2016-07-29 10:20] alexzherdev commented on #124
Try following this comment https://github.com/facebookincubator/create-react-app/issues/272#issuecomment-236144358. It's required for now to install eslint globally.

[2016-07-29 10:34] gaearon commented on #258
I might have fixed this in 4d60f0865668d4b2471ad9c484a95d7b45dcc8eb.
Let’s see how it goes.

[2016-07-29 10:35] gaearon commented on #124
Please follow these instructions for integrating linting with your editor:

https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#display-lint-output-in-the-editor

It is unfortunate that we require global installation but this is a problem on ESLint’s end, and they intend to solve it: https://github.com/eslint/eslint/issues/3458.

[2016-07-29 10:45] gaearon commented on #78
Just to make it clear, **you can use SASS with this project if you want to**.

If you’re used to SASS, you’re also probably used to launching it in the console and letting its watcher compile the SASS files. So this is exactly what you can do:

1. Put `*.css` into `.gitignore`
2. Create `*.sass` files instead of `*.css`
3. Launch the SASS watcher and let it create the CSS file(s)
4. Import that `*

[2016-07-29 10:49] gaearon commented on #214
No, you can do this just fine:

[code]

[2016-07-29 10:52] gaearon commented on #253
OK, sounds reasonable. I’d be happy to review a PR adding this.

[2016-07-29 11:33] ap13p opened #276 "Support for absolute import"
For example, I have the following structure
[code]

Instead of doing
`import logo from "../img/logo.svg"`
inside App.js it will be nice to do
`import logo from "img/logo.svg"`

and it will be easier to read if I have a component placed in deep directory like `components/Sidebar/index.js`.

[2016-07-29 11:54] tristanoneil commented on #103
Tested in 0.2.0 alpha and this worked as expected. 🌞

[2016-07-29 11:57] just-boris commented on #78
@gaearon there is some important issue with your solution: you can't run the whole your development environment with a single `npm start`, you would have to run sass-watcher is a second process.
That probably will be blocker against doing this.

[2016-07-29 12:22] mxstbr commented on #78
How is opening a second terminal window a blocker? 😃 It's `CMD + T` and then `npm run sass`, that doesn't seem like a blocker!

[2016-07-29 12:23] mxstbr commented on #276
Good idea! We're having a discussion about this in #253!

[2016-07-29 12:23] #276 closed

[2016-07-29 12:23] gaearon commented on #78
You can also change your `start` command to start the SASS watcher before `react-scripts start`.

[2016-07-29 12:24] gaearon commented on #103
FWIW alpha is now stable so newly created projects will just work with this, and old projects can be updated to `"react-scripts": "0.2.0"`.

[2016-07-29 12:26] gaearon commented on #276
What is the reason behind top-level “file type” folders? Seems like this is exactly why you want to group assets by component instead, e.g.

[code]

[2016-07-29 12:34] mxstbr commented on #276
Well, but you might still need to import a component from a different component:

[code]

is a lot nicer than

[code]

It gets even worse if you're following a nested, route-hirarchic structure.

[2016-07-29 13:03] IanVS commented on #124
To be clear, it's a problem we would _love_ to solve in ESLint, but so far have not been able to find a way to do so.  The main problem is determining what should be the behavior if two plugins depend on two different versions of a third plugin.  I haven't seen any proposed solutions of how to handle that.  That's just to say,  I wouldn't expect this to change any time terribly soon, unfortunately

[2016-07-29 13:12] just-boris commented on #78
@mxstbr let's say it like I have to open twice more terminal window than before

@gaearon if I do this:
[code]
Then I will not be able to stop `node-sass` because it will be in background.

[2016-07-29 13:13] gaearon commented on #124
@IanVS Thanks for chiming in! Do you know how Babel solves this? It allows specifying resolved paths for `plugins` and `presets`, and presets may include other plugins and presets. Whatever strategy they use, it seems to work great for most people.

[2016-07-29 13:17] gaearon commented on #78
There are [workarounds](http://stackoverflow.com/a/27809215/458193) to that too. (But it might be easier to write your own Node script that spawns both.)

[2016-07-29 13:19] just-boris commented on #78
@gaearon thank you, that probably solves my issue

[2016-07-29 13:22] vgrigoriu commented on #165
My use case is similar to @insin's: I want to be able to host the files at any URL. I kinda prefer `"homepage": "./"` because it seems more explicit than `"homepage": ""`.

[2016-07-29 13:24] gaearon commented on #165
@vgrigoriu It should already work I think, did you have a chance to check it?

[2016-07-29 13:32] #258 closed

[2016-07-29 13:43] gaearon commented on #203
I’m not sure what you meant exactly so I’ll close, but feel free to elaborate.
Thanks!

[2016-07-29 13:43] #203 closed

[2016-07-29 13:44] gaearon commented on #188
Pretty sure this is fixed now.

[2016-07-29 13:44] #188 closed

[2016-07-29 13:46] gaearon commented on #118
Thanks for the suggestion! We will stick with a “vanilla” config because people will want to customize it after ejecting, and we don’t want to lock them into using a third-party project for that.

[2016-07-29 13:46] #118 closed

[2016-07-29 13:47] gaearon commented on #108
We probably won’t do this unless this is commonly requested. (It doesn’t seem to be so far.)

[2016-07-29 13:47] #108 closed

[2016-07-29 13:48] gaearon commented on #104
I’m closing because there aren’t any specific suggestions in this thread yet, and I don’t have the necessary context around this. If somebody using Cordova sends a PR demonstrating the kind of integration they would like to see, we can discuss that. Thank you!

[2016-07-29 13:51] gaearon commented on #84
If you specify `homepage`, we now print instructions for GH Pages deployment. I agree it would be great to integrate this directly into the tool, and I think @ForbesLindesay was planning to look into this. In the meantime I’ll close this issue because it is not very actionable if you’re not planning to directly contribute to this in form of PRs.

[2016-07-29 13:51] #84 closed

[2016-07-29 13:56] giuseppeg commented on #78
@just-boris you can define `pre` and `post` scripts in npm that will run before/after a given script e.g. `start`.
FWIW you can bring up processes that are running in background with `fg [ jobid ]` and eventually kill them with `ctrl+c`

[2016-07-29 14:01] vgrigoriu commented on #165
Yes, it works.

În vin., 29 iul. 2016 la 4:24 p.m. Dan Abramov <notifications@github.com> a
scris:

[2016-07-29 14:17] IanVS commented on #124
I'm not super-familiar with the inner workings of Babel's plugin resolution, but @nzakas has said:

- https://github.com/eslint/eslint/issues/3458#issuecomment-161365098

Although, from what you say, it sounds like Babel may have indeed solved this, if they allow presets to extend other presets and plugins.  I must say I've personally had [difficulty](http://stackoverflow.com/a/34298846/1435658) i

[2016-07-29 15:25] JacopKane commented on #11
I just wrote my first react app in few hours thanks to this tool. Perfect for beginners. Would love to see flux,redux etc. integrations in in the future.

[2016-07-29 15:26] gaearon commented on #124
I don’t think I quite understand that comment, to be honest.

Whatever is determined by Node resolution mechanism relative to the config folder.

[2016-07-29 15:39] sotojuan commented on #192
I love `offline-plugin` and it's actually my favorite Webpack plugin (it just works with no config) but it's a bit out of scope for this project.

Also here's a funny story: the first time I used `offline-plugin` I didn't know I was using it (either because it wasn't documented or I just skipped it). I eventually stopped the app I was working on, but for a few days I was wondering why every time I

[2016-07-29 15:45] gaearon commented on #246
#278 gives us `/static`

[2016-07-29 15:48] gaearon commented on #192
Thank you for the suggestion!
We’ll evaluate this after more basic features are in place.
Let’s keep this open for now.

[2016-07-29 16:07] alexzherdev commented on #263
I thought I'd just go ahead and file an issue first to gauge the interest. https://github.com/webpack/webpack-dev-server/issues/540

[2016-07-29 16:38] kevinejohn commented on #214
That works. Thank you!

I'm really surprised the mobx documentation never mentions this solution considering decorators are still experimental and not enabled by default in babel. I'll have to send them a pull request.

[2016-07-29 16:49] idibidiart commented on #11
@JacopKane

I don't think they can pick winners and losers as far as things like Redux vs MobX vs Redux+Relay and GraphQL vs Falcor etc.

You have frameworks like Apollo that are opinionated and make it easy to get started. I would recommend going that route when you're ready.

[2016-07-29 17:10] mxstbr commented on #188
Ah yes sorry, I can confirm this is fixed. 😅

[2016-07-29 17:25] gaearon commented on #11
For now we’re trying to solve the problem of build dependencies, not the complete stack.

[2016-07-29 17:39] mxstbr commented on #214
cc @mwestrate, I talked to him about this when we met at RuhrJS and he said he planned to remove the decorator syntax from the docs!

[2016-07-29 17:45] mxstbr commented on #210
– @kentcdodds (src: https://twitter.com/kentcdodds/status/759078941206261761)

Possibly helpful?

[2016-07-29 17:48] kentcdodds commented on #210
Yeah, basically you take `inline-manifest-webpack-plugin` + `html-webpack-plugin` and it just kinda magically works :)

[2016-07-29 17:49] mxstbr commented on #210
IIRC that sounds exactly like the kinda thing @gaearon struggled with?

[2016-07-29 17:50] kentcdodds commented on #210
Yeah, I don't think you need to do all the stuff that @mjackson is doing because you're already using the `html-webpack-plugin` so basically just do the same things I'm doing in [my diff](https://github.com/kentcdodds/es6-todomvc/commit/4dcfaa97bdeebe7496e6d3d312a85a6491acd7f8) and you should have it 👍

[2016-07-29 18:03] gaearon commented on #210
This requires `<%=htmlWebpackPlugin.files.webpackManifest%>` which is not something I want to expose to the user. Can we put it there automatically somehow?

[2016-07-29 18:18] mars commented on #271
Just completed first release of [Heroku Buildpack for create-react-app](https://github.com/mars/create-react-app-buildpack).

Please try it out and file issues there 🌱😄

[2016-07-29 18:37] kentcdodds commented on #210
If I've learned anything about webpack, the answer is always yes. It's just a matter of how :)

I'm not certain I understand your hesitance to put it in [the `index.html`](https://github.com/facebookincubator/create-react-app/blob/master/template/index.html). My first thought would be that you want to hide away any magic from the user (especially when they eject), but you've already got magic as p

[2016-07-29 18:38] gaearon commented on #147
I made a proof of concept, please let me know what you think: https://github.com/facebookincubator/create-react-app/pull/282

[2016-07-29 18:53] sotojuan opened #284 "`this` is undefined in production but not dev mode"
We have an app that we ported over to this CLI tool and it works perfectly in development mode. However, if we run the build folder in a server (using `pushstate-server`) we get:

`Uncaught TypeError: Cannot read property 'props' of undefined`

The component is simple:

[code]

Like I said, this works great in dev mode. Why not in production?

[2016-07-29 19:17] insin commented on #210
I've got this down to 4 plugins, automatically injecting the manifest into the generated HTML:

Plugins & reason for each one: https://github.com/insin/nwb/blob/next/src/createWebpackConfig.js#L366-L379

Custom plugin to inject the manifest and stop it from being emitted: https://github.com/insin/nwb/blob/545c9a2581ecce55ec6416af16d1154d86f48c7a/src/createWebpackConfig.js#L244-L272

[2016-07-29 19:20] gaearon commented on #210
If it’s there, somebody’s going to delete it by mistake. Also a mix of “injecting some stuff and not the other stuff” is confusing.

[2016-07-29 19:21] gaearon commented on #210
@insin Should `Md5HashPlugin` be necessary if we have `HashedModuleIdsPlugin`?

[2016-07-29 19:22] gaearon commented on #284
This might be a bug in `babel-plugin-transform-react-constant-elements`.
Can you comment it out in `react-scripts/config/babel.prod.js` and see if that fixes it?
If it does, we should file a bug against Babel.

[2016-07-29 19:23] gaearon commented on #284
(Temporary fix is likely to write `var Content = this.props.view.content` and then use `<Content />` instead.)

[2016-07-29 19:23] taion commented on #255
Can this also be resolved by not shipping `babel-runtime` as a bundled dependency? Possibly ESLint as well. Then they'd just end up at top-level in `node_modules`.

[2016-07-29 19:24] taion commented on #255
I'm not saying "drop `bundledDependencies`", just "un-bundle stuff that's expected to be at top-level in `node_modules`".

[2016-07-29 19:24] insin commented on #284
It's a bug with the transform: https://phabricator.babeljs.io/T7494

[2016-07-29 19:26] MichaelCereda opened #285 "Prettier console output"
Hello I'm working on a library to prettify the output to console
I would like to use it on create-react-app in order to offer clearer outputs and nicer user experience that for beginners is fundamental.

I'm asking for opinions before stating to work on a huge PR :)
http://bit.ly/pretty-cli
Thanks

[2016-07-29 19:35] pungggi opened #287 ".jsx extension"
I changed the App.js in App.jsx and get this

[code]

I d like to see if it is a 'real' javascript' or JSX
in addition when coding in .jsx i get more support from my editor (Visual studio code)
for emmet.

[2016-07-29 19:40] alexzherdev commented on #287
Was discussed in #87

[2016-07-29 19:42] vjeux commented on #87
@gaearon do you know if there's an easy way to have a clear error message when people try to write a jsx file? Something like "jsx extension is not supported with create-react-app [insert more...]" instead of failing with a cryptic error message as it currently is

[2016-07-29 19:43] pungggi commented on #87
Ok this makes sense.
But does anyone know how to accomplish that f. ex. in VisualStudioCode?

[2016-07-29 19:51] sotojuan commented on #284
@gaearon Yup, that was it. If I remove it, it works! Closing.

[2016-07-29 19:51] #284 closed

[2016-07-29 19:51] gaearon commented on #287
Let’s keep open until I figure out what Emmet is and how it’s used in VS Code. 😄
If there’s no way to configure it to activate in `.js` files I guess we’ll have to give in.

[2016-07-29 19:52] gaearon commented on #87
Yes, we can totally do it, it’s not hard.

Let’s discuss that in #287. 👍

[2016-07-29 19:59] gaearon commented on #285
Is there anything in particular you’d like to make prettier?
We kinda use `chalk` here and there but further improvements are welcome.
(As long as we can agree that those *are* improvements—some screenshots of your ideas would be best for this.)

[2016-07-29 20:00] gaearon commented on #255
So *that’s* why they end up there even with npm 3, you’re right.
I didn’t realize that.

[2016-07-29 20:01] gaearon commented on #255
A PR to unbundle ESLint plugins and `babel-runtime` is welcome. We’d probably want to keep the rest bundled though.

[2016-07-29 20:08] pungggi commented on #287
I closed..found this [http://stackoverflow.com/a/37592711/343112](url)

see [http://docs.emmet.io/](url)

you type for example:
`p>ul>li*4`

emmet will transform to

`<p>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </p>`

[2016-07-29 20:08] #287 closed

[2016-07-29 20:19] MichaelCereda commented on #285
Yes, I completely agree.
I'm currently working on start and build script in create-react-app in order to publish some screenshots.

My idea is to create small "templates" with pretty-cli and add colors with chalk.
In this way is possible to have a well structured output, and change the way this package shows errors just editing those templates.

Pretty-cli it's at its early stages but it is alread

[2016-07-29 20:51] taion commented on #255
Ah, this won't work – at least, it won't work in a straightforward way. It looks like `babel-runtime` still ends up as a nested dependency, because the other bundled Babel dependencies pull in `babel-runtime`... I think.

Well, anyway it worked for the ESLint plugins, but not `babel-runtime`, so that's my best guess.

And `npm ddp` after an install takes forever, so that's out too.

[2016-07-29 20:52] taion commented on #255
Though – anybody else looking at this, don't take that as gospel. Very likely I just messed up.

[2016-07-29 21:30] gaearon commented on #287
Ah, great to know. I’ll open another issue to warn users about JSX.

[2016-07-29 21:32] gaearon opened #290 "Warn about JSX file extension"
We don’t support it. AFAIK there is no good reason to: https://github.com/facebookincubator/create-react-app/issues/87#issuecomment-234627904.

We should do two things:

* Document that.
* Provide a descriptive error when you attempt to import a JSX file. This should be fairly easy to do with a Webpack plugin. You can look at [this project](https://github.com/Urthen/case-sensitive-paths-webpack-pl

[2016-07-29 22:00] calebmer opened #291 "Build fails when favicon is missing"
I tried deleting the `favicon.ico` file after creating an app with version `0.2.0` and got this error:

[code]

(omitted stack trace for brevity)

[2016-07-29 22:02] sotojuan commented on #285
https://github.com/SamVerschueren/listr is cool too.

[2016-07-29 22:10] MichaelCereda commented on #285
Yes it's nice but IMHO I think that beginners should have a nice scrollable output to have the possibility of browsing and understanding all the errors.
listr is great but it's very task oriented and with a "fixed" design.
I'm working on a more manageable solution (pretty-cli) that can be future-proof (for example if it's necessary to change all the styling of the application).

ps: is there a nic

[2016-07-29 22:25] kennetpostigo commented on #147
Wouldn't using `webpack-dev-middleware` help out with this? If I understand correctly some developers want to use their own custom server, wouldn't using this help out with the problem as well as make way for server-side rendering since they get to use their own server? Not sure if it aligns well with the goals of this project.

[2016-07-29 22:27] gaearon commented on #291
Please see https://github.com/facebookincubator/create-react-app/issues/108.
Deleting it is not currently supported.
If we add this, we will do this as part of #28 in the future.

[2016-07-29 23:26] dceddia opened #293 "High CPU usage while running on OS X"
After running `npm start`, the `node` process consumes ~40% CPU on my machine:

<img width="370" alt="activity_monitor__all_processes_" src="https://cloud.githubusercontent.com/assets/505704/17265898/e44f896c-55c0-11e6-81f1-3b34e08bfbd0.png">

I found that setting a polling interval in the the WebpackDevServer helped:

[code]

Here were the settings I tried, and the resulting CPU usage:

[code]

T

[2016-07-30 00:08] gaearon commented on #293
I wonder if we should just do something like this: https://github.com/researchgate/webpack-watchman-plugin

[2016-07-30 00:10] gaearon commented on #293
Does webpack always use `poll` mode? Or only when it couldn’t use `fsevents`? Or are these two unrelated things?

[2016-07-30 00:15] gaearon commented on #147
IMO this would make it too hard for us to change things. I think we want to be in control of the dev server.

Using own server is the least of the problems related to server rendering. Ensuring bundling mechanism is the same, language features are transpiled (but in an efficient way), suggesting a good data fetching solution, etc, are all much harder, so this is currently a non-goal of this projec

[2016-07-30 00:43] dceddia commented on #293
That's a good question. As far as I can tell `poll` defaults to `true`, which apparently means "poll like crazy". It also seems to watch everything in `node_modules` by default -- adding this `ignore` line cuts CPU usage to near-zero, even while leaving `poll` at its default setting:

[code]

I'm not sure if this is a good idea, since I noticed that `webpack.config.dev.js` has a few loaders that s

[2016-07-30 00:53] kennetpostigo commented on #147
@gaearon thanks for clearing things up

[2016-07-30 01:04] gaearon commented on #293
Hmm we definitely don't want to watch node_modules (even though we allow importing CSS from them). If we do, it's an issue and we need to fix it.

[2016-07-30 01:12] gaearon commented on #293
I'll accept a PR adding `ignored` (not `ignore` by the way) to watcher settings. https://github.com/webpack/watchpack/pull/23

[2016-07-30 01:18] Marlena commented on #80
I'm a big fan of TDD and testing which means I always want it to be easy for people to include tests or to learn more about writing tests.

If a BDD framework such as Mocha or Jasmine were included, it would be nice, however, it is kind of an extra.

I'm thinking back to the first React app I wrote at a Railsbridge (yes, it was Railsbridge, they do js, front-end workshops too).  I was wrapping my

[2016-07-30 01:49] kennetpostigo commented on #210
Came across [this](https://medium.com/@okonetchnikov/long-term-caching-of-static-assets-with-webpack-1ecb139adb95#.c4270xbu4) on Medium and might be useful.

[2016-07-30 02:35] calebmer commented on #291
Is there a reason why you don't support the ability to *delete* it? From #108 the reason I saw was it made it clear where the favicon should go, but if the user makes the conscious decision to remove it that should be fine from an educational perspective?

I'd like to remove it for two reasons:

1. It's very reminiscent of a dot file given its placement at the root directory. Because I'm not a fan

[2016-07-30 03:22] insin commented on #210
`HashedModuleIdsPlugin` is to prevent module ids changing by not depending on Webpack assigning integers in a particular order each time, without having to store  anythhing between builds.

`Md5HashPlugin` just happens to make `[chunkhash]` (which changes if you're extracting CSS from the same chunk) behave like `[contenthash]` - now I think of it if there was default `[contenthash]` config (it's

[2016-07-30 03:53] mjackson commented on #210
AFAICT you're doing the exact same thing that I'm doing, Kent. Sticking the
manifest in the HTML. If you've got a plugin that makes it easier on you,
awesome 😄
On Fri, Jul 29, 2016 at 8:22 PM Jonny Buchanan <notifications@github.com>
wrote:

--
Michael Jackson
@mjackson

[2016-07-30 05:54] tizmagik commented on #290
I'd like to work on this. I imagine the best way would be to publish a webpack plugin that takes some regex and error message as options to keep it configurable and potentially useful in other contexts. Does that approach make sense?

[2016-07-30 06:13] MichaelCereda commented on #285
This is a first try.
As I said previously, instead of editing the output of the console directly I created a template using pretty-cli and I simply substitute the _console.log_.
Also the formattation of the messages as been exported into the cli in order to have a unique file that contains all the styling.
If you guys like my idea I can publish some code or a first PR, the thing you see is the out

[2016-07-30 06:47] scwood opened #295 "Using font awesome"
I've upgraded to 0.2.0 which I think was supposed to fix this.

Importing bootstrap works just fine.

[code]

[code]

[2016-07-30 06:52] insin commented on #295
Fix the loaders for font resources need a `(\?v=\d+\.\d+\.\d+)?` on the end of their RegExps.

[2016-07-30 07:46] dliuzzi opened #296 "Updating 0.1.0 → 0.2.0"
I've updated my global package to 0.2.0 with no problems, but how do I update the *local* package in an existing app created with 0.1.0? I've tried `npm update` and `npm install react-scripts@*` to no avail. The project is stuck on version 0.1.0:

[code]

This only occurs when updating; creating a new app picks up 0.2.0.

<sub>Disclaimer: I'm fairly new to React. I'm sorry if this didn't make any

[2016-07-30 08:20] vjeux commented on #296
The release notes contain the command to update: https://github.com/facebookincubator/create-react-app/releases/tag/v0.2.0

[code]

Can you tell me if this is working for you?

[2016-07-30 08:28] arunoda opened #297 "Adding storybook"
Guys,

This project rocks. To follow this path, we at https://github.com/kadirahq/react-storybook is also working on a zero config mode.

I'm asking whether will that be possible to add storybook into this mix?

Basically, this is something I'm proposing:

* We'll ship `react-storybook` into dependencies
* Then when a user runs `npm run storybook` it'll start running stories located `src/stories`

[2016-07-30 08:37] dliuzzi commented on #296
Thanks for your prompt response. I have looked in the README.md and searched the issues, but I totally missed checking the release notes, sorry about that! Come to think about it, the release notes is most sensible place to look for update instructions. Now I know!

The command worked perfectly. Thanks!

[2016-07-30 08:37] #296 closed

[2016-07-30 08:43] mxstbr commented on #297
Haha one of the reasons we made https://github.com/carteb/carte-blanche is that all the configuration of storybook annoyed us, love that you're going down that path!

Anyhow, I think it's out of the scope of the project, but I'm biased so I'll let others have this discussion!

[2016-07-30 09:16] arunoda commented on #297
@mxstbr it's depend. Yep. I agree it might be out of scope for this project.
Yeah! Both projects took two different goals.

Anyway, I think now we've a solid base(thanks to this project) to add some default config.
I'll look at what we can get from the carte-blanche :)

[2016-07-30 11:04] gaearon commented on #295
Woah, I didn't know. Happy to accept a fix.

[2016-07-30 11:05] gaearon commented on #290
Sounds reasonable.

[2016-07-30 11:11] alexzherdev commented on #295
Yup, just recently stumbled upon this independently on my project. Happy to provide a fix 😃 if no one has started on this.

[2016-07-30 11:13] gaearon commented on #291
I think the reason is explained here: https://github.com/facebookincubator/create-react-app/issues/108#issuecomment-234673244.

We want to figure out how to make it work so that the user can add apple touch icons and other assets to HTML. Not just a favicon.

Currently favicon is treated magically. If we let you remove it, you might think it worked because it was in root directory and referenced f

[2016-07-30 12:56] giorgian commented on #80
I'll add my two cents. Contrary to what I expected, it took me just a few minutes to setup mocha, enzyme, expect.js (mostly spent googling, as I had never used any of them).

The inconvenience is that I have two terminal tabs, one for create-react-app, the other for mocha watch. right now, for me this is already good enough; I'm willing to trade a little inconvenience for the ability to ditch, say

[2016-07-30 15:48] gaearon opened #299 "Lint against imported lowercase components"
If you import something lowercase from a package and then use it in JSX we can be confident you didn't mean a web component.

We should warn in this case. This should probably be a rule in eslint-plugin-react.

[2016-07-30 16:20] insin commented on #147
How about also providing an Express middleware people can plug into their own server?

- You would need a separate Webpack config for use with webpack-hot-middleware (which would also need to polyfill `EventSource` for IE)
- Build status reporting would have to be different - is there a standard way to hook into whatever logging the user has set up in middleware? I don't know.

[code]

[2016-07-30 16:20] lacker commented on #297
I think it is out of scope to ship storybooks by default with this project, but I think it would be nice if there were a way to add storybooks to a `create-react-app` app, without having to eject or to configure things. What is the workflow for an app that is developing using storybooks - do you have a dev server that you run with `npm start` like usual, but you also have a "storybook server" that

[2016-07-30 17:51] #295 closed

[2016-07-30 18:08] gaearon commented on #297
I'm not opposed to providing something that lets you quickly play with a single component and iterate on it in isolation. This can be `run` or a storybook but we need it to stay lightweight, portable and not very opinionated.

[2016-07-30 20:28] alexzherdev commented on #299
I'd love to take a stab at this. @gaearon do you know if it's easy to get eslint-plugin-react maintainers to accept new rules into the repo?
Also by 'something lowercase' do you mean completely lowercase or starting with a lowercase letter? React docs are a little bit unclear in this, saying you can start the tag with a capital letter to indicate a React component, but on the other hand use 'lower

[2016-07-30 20:34] alexzherdev commented on #299
Actually, does this help? https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-pascal-case.js

[2016-07-30 21:05] gaearon commented on #299
Hmm, not sure. [Here’s](https://www.reddit.com/r/reactjs/comments/4va9l3/super_noob_question_i_am_trying_to_put_a/) what prompted me to create this issue. The code looks like this:

[code]

That rule doesn’t catch it.

[2016-07-30 21:07] gaearon commented on #299
To be clear, `<lol />` is valid React. It means “use a Web Component called `lol`”. But this is a **super rare** use case, and 99% times people don’t mean to use Web Components; they expect *their classes* to work.

What I propose: if `lol` exists in the scope, it is very likely the user didn’t mean a web component, and meant `lol` React component instead. We should warn in this case.

[2016-07-30 21:08] gaearon commented on #299
Anything starting with a lowercase letter. So `camelCase` will also work super confusingly.

[2016-07-30 21:13] gaearon commented on #299
https://github.com/yannickcr/eslint-plugin-react/issues/726

[2016-07-30 21:15] gaearon opened #301 "Document how to add React Bootstrap"
This comes up fairly often.

Unlike React Router, it is not immediately obvious how to add React Bootstrap because it needs its own CSS. So I think it’s worth documenting this here (even though we won’t document adding e.g. the router) because this is a super common use case for beginners.

[2016-07-30 21:19] vjeux commented on #299
Beware, there are components like "i" that are likely going to be in scope

[2016-07-30 21:23] gaearon commented on #299
Oh, good catch. This rule should have a good HTML tag whitelist I think, then it would be relatively safe.

[2016-07-30 21:25] gaearon commented on #299
Updated the proposal.

[2016-07-30 23:46] sdn90 opened #302 "Slow start script"
Node: v5.4.1
OS:  OS X 10.11.5 / Darwin Stevens-MBP 15.5.0 Darwin Kernel Version 15.5.0: Tue Apr 19 18:36:36 PDT 2016; root:xnu-3248.50.21~8/RELEASE_X86_64 x86_64

I've narrowed it down to the `detect-port` library used. I tested out the library's CLI and got similar results.

Added a timer to the start script:
[code]

Result of running `npm run start`
[code]

[2016-07-30 23:56] gaearon commented on #302
Wow, a minute? 😮

Is there anything unusual about your setup? Could you put some logs in [its source](https://github.com/xudafeng/detect-port/blob/master/lib/index.js) and check where it’s spending the time? Could it be that a lot of ports after 3000 are busy on your computer for some reason?

[2016-07-31 02:15] sdn90 commented on #302
I'm pretty sure I have a vanilla setup.

The problem is on this line:
https://github.com/xudafeng/detect-port/blob/master/lib/index.js#L64

My understanding is that the `ipv4` library returns my local IP assigned by DHCP.

If I change this to `'host': '127.0.0.1'`, start time is almost instant. I get the `Something else is running at port 3000` prompt if I run it while port 3000 is assigned.

The

[2016-07-31 05:35] 7172 opened #303 "Magt"

[2016-07-31 07:04] jyane opened #304 "Stateless Functional Component is better"
`/template/src/App.js` is now using React Component Class, but this component is stateless.
So I think `<App />` should be Stateless Functional Component.

I'm not good at English, here is a code example of my idea.

ASIS:
[code]

TOBE:
[code]

If you have same idea, I will create a pull request!

[2016-07-31 07:20] #303 closed

[2016-07-31 11:46] calebmer commented on #291
Sounds good 👍

[2016-07-31 17:07] microsofft opened #305 "Fecbookuz"
And microsofft  moon toces

[2016-07-31 17:12] JacopKane commented on #11
@idibidiart @gaearon Thanks for explanations

[2016-07-31 17:21] microsofft commented on #305
Reamed.md

[2016-07-31 17:27] vjeux commented on #305
Okay...

[2016-07-31 17:27] #305 closed

[2016-07-31 17:41] microsofft commented on #305
Почиму закрыл

[2016-07-31 18:48] microsofft opened #307 "GitFecbook"
And gitFecbook moon tacos

[2016-07-31 18:49] microsofft commented on #307
#226

[2016-07-31 18:49] #307 closed

[2016-07-31 18:50] microsofft commented on #307
@weisjohn

[2016-07-31 18:55] microsofft opened #308 "Facebook chat"
#307

[2016-07-31 18:56] microsofft commented on #308
- [ ]

[2016-07-31 19:44] sanketsahusoft opened #309 "Support for Syntax Decorators"
I want to use [Babel Syntax Decorators](https://babeljs.io/docs/plugins/syntax-decorators/) AKA ES7 JavaScript Decorators which is currently not a part of this project.

I believe it is really important and decorators are being a common practice for most of the React projects (esp MobX like projects).

I can submit a pull-request if needed. Please let me know.

[2016-07-31 20:46] kasperpeulen opened #310 "Reason to eject: I wanted better dev experience in my chrome extension"
So I heard you guys appreciated to hear reasons to eject. For me it was that I wanted a better dev experience in my chrome extension development.

So I make some chrome extension content script. First I used this project like this: I changed index.html to kind of mimic the final real webpage I make the content script for. I did most of the development in this index.html playground, and then when I

[2016-07-31 20:57] gaearon commented on #310
Thanks for the feedback!

[2016-07-31 20:57] #310 closed

[2016-07-31 20:59] gaearon commented on #309
Hi, please [search the issues](https://github.com/facebookincubator/create-react-app/issues?q=is%3Aissue+decorators+is%3Aclosed) to find previous discussions on this topic. We’re happy to support decorators after the spec advances, and they are officially supported in Babel without the `-legacy` plugin. And MobX works fine without decorators.

[2016-07-31 20:59] #309 closed

[2016-07-31 21:05] gaearon commented on #301
Nice, would you like to contribute this to `template/README.md`?

[2016-07-31 21:19] patbaker82 commented on #302
To note, I have the same experience.

❯ create-react-app --version
create-react-app version: 0.2.0

❯ npm -v
3.10.3

❯ node -v
v6.3.1

❯ uname -ra
Darwin bonk.local 15.6.0 Darwin Kernel Version 15.6.0: Thu Jun 23 18:25:34 PDT 2016; root:xnu-3248.60.10~1/RELEASE_X86_64 x86_64

[2016-07-31 21:23] patbaker82 commented on #302
Just a little diagnostic.

❯  npm i detect-port -g
❯ detect --port 3000

This takes about 1 minute to execute.  It looks like if you have the OSX firewall enabled it will cause the long lag.  I disabled the OSX firewall and it returns instantly.

[2016-07-31 23:18] gaearon commented on #302
Thanks, this is very valuable info!

Can you check if the fix in https://github.com/facebookincubator/create-react-app/issues/302#issuecomment-236403638 also works for you?

[2016-07-31 23:56] ashah888 opened #311 "Unexpected character '@' when importing fonts"
When I import a custom font using the following code inside a .css file, it creates an error saying "Unexpected character '@'".

How can I import a custom font in my project?

[code]

[2016-08-01 00:51] manavsehgal commented on #301
Thx, will do.

[2016-08-01 03:28] tonyfreelance commented on #301
Thanks @manavsehgal! It worked smoothly!

[2016-08-01 04:35] kaihendry commented on #203
Yes, I mean "server rendering" which I think some people refer to is a "isomorphic" app? I think this is generally pretty crucial feature to a Website that intend to load fast and by picked up by crawlers.

I even went so far as an silly example: https://jsfiddle.net/dfumm9p9/

[2016-08-01 05:19] fa7ad opened #314 "What font is that in the screenshots?"
I know this is not a real issue, but I am really curious. The font looks really nice.

[2016-08-01 06:35] uragecz opened #315 "random string in link address"
How i can get clean link path? I past into address localhost:3000/ and all time it automaticle fill address with some random chars, for example - http://localhost:3000/#/?_k=s3lc0a ... after click on any link in my menu its chaning on http://localhost:3000/#/graph?_k=z6exsl .... my index.js looks like -
[code]
And link in menu - `<li><Link to="/graph" activeClassName="active">{data.graph}</Link></

[2016-08-01 08:09] insin commented on #315
See [What is that `?_k=ckuvup` junk in the URL?](https://github.com/reactjs/react-router/blob/master/docs/guides/Histories.md#what-is-that-_kckuvup-junk-in-the-url) in the React Router documentation.

[2016-08-01 08:26] jacobp100 commented on #314
Operator by Hoefler & Co.

[2016-08-01 10:33] grigio opened #316 "Support React Native Web"
I'd like to use `create-react-app` with React Native Web

https://github.com/grabcode/react-native-web-starter/blob/master/web/webpack.config.dev.js#L38-L42

[2016-08-01 10:38] gaearon commented on #316
Hi! No, there is currently no way to change the config, as it is preconfigured. I think we'd like to support `react-native-web` but this feels like a hacky way to do that. Is that what every such project requires? cc @vjeux

[2016-08-01 10:38] #314 closed

[2016-08-01 10:40] gaearon commented on #315
This is a question about React Router and not related to this project. Thanks @insin for answering! (By the way you don't have to use React Router if you don't like it, you can use vanilla HTML5 history API just fine if that's what you prefer.)

[2016-08-01 10:40] #315 closed

[2016-08-01 10:42] gaearon commented on #203
I believe README explicitly mentions this. We don't intend to support server rendering with this tool for numerous reasons (mostly that it imposes a lot more configuration and decisions than we are willing to support at this point). This tool is not *the* way to create React apps, it's just one possible way. You might be better served by tools listed as "alternatives" in README.

[2016-08-01 11:04] arunoda commented on #297
@lacker I totally agree with your comments.
We use a our own server to serve the stories. We want to have a isolate environment for React components. But I think we could use carte-blanche like approach and bundle storybook as a webpack plugin.

---

I just updated React Storybook's webpack environment very similar to react-scripts.
So, this is how to add storybook support to a [create-react-app](

[2016-08-01 11:37] grigio commented on #316
@gaearon I confirm it works just adding this line https://github.com/grigio/react-native-plus-web-boilerplate/blob/master/config/webpack.config.dev.js#L34
and rnw dependency in `package.json`

There are some warnings because of https://github.com/necolas/react-native-web/issues/178

[2016-08-01 11:40] arunoda opened #317 "Supporting a babel preset stage-x"
Right now, we have cherry-picked some post ES2016 features. I think it's better to support `stage-3` or `stage-2` presets instead.

With that, we could easily refer which features we support and so on.

[2016-08-01 11:42] philstrong commented on #302
Yea also long startup and I also have firewall enabled.

    real	1m21.762s

[2016-08-01 12:09] mxstbr commented on #317
Ref #22 why we chose the ones we did

[2016-08-01 12:47] gaearon commented on #317
Hi, I know it’s a bit confusing but our strategy here is to use the syntax transforms that is either part of the standard, or that we also actively use at Facebook. Only this gives us confidence in using (and suggesting to use) experimental syntax.

[2016-08-01 12:47] #317 closed

[2016-08-01 12:48] gaearon commented on #302
@philstrong Does the fix in https://github.com/facebookincubator/create-react-app/issues/302#issuecomment-236403638 work for you?

[2016-08-01 13:11] arunoda commented on #317
Sure. Got it.
Thanks @mxstbr for the reference. I couldn't find it.

[2016-08-01 13:35] gaearon commented on #302
I can reproduce this by turning on the firewall and enabling “block all incoming connections”.

[2016-08-01 13:43] MarcelMichau commented on #291
I don't know whether this is the right place to suggest this, but I've used [https://github.com/jantimon/favicons-webpack-plugin](url) for a couple of projects when needing to support multiple device icons and it worked quite nicely.

The user could then opt in to automatically generated favicons by dropping a .png into a certain folder which the Webpack config looks at.

I haven't dug into the in

[2016-08-01 13:52] philstrong commented on #302
Yes it does fix the issue @gaearon

[2016-08-01 13:53] gaearon commented on #302
OK, I’ll test this on Windows and release a patch today if it works cross platform.

[2016-08-01 14:35] #301 closed

[2016-08-01 14:38] #302 closed

[2016-08-01 14:46] gaearon commented on #311
Please post the whole file. I can’t reproduce this.

[2016-08-01 14:53] gaearon commented on #293
This was fixed by #294.

[2016-08-01 15:06] gaearon commented on #240
This should be fixed in new version—we now should warn if you attempt to import a file with invalid casing. Can you please verify that this is fixed? Please find the upgrade instructions [here](https://github.com/facebookincubator/create-react-app/releases/tag/v0.2.1).

[2016-08-01 15:06] #240 closed

[2016-08-01 15:07] gaearon commented on #295
This should be fixed in the new version. Can you please verify? Please find the upgrade instructions [here](https://github.com/facebookincubator/create-react-app/releases/tag/v0.2.1).

[2016-08-01 15:08] gaearon commented on #302
This should be fixed in the new version. Can you please verify? Please find the upgrade instructions [here](https://github.com/facebookincubator/create-react-app/releases/tag/v0.2.1).

[2016-08-01 15:10] gaearon commented on #293
This should be fixed in the new version. Can you please verify?
Please find the upgrade instructions [here](https://github.com/facebookincubator/create-react-app/releases/tag/v0.2.1).

[2016-08-01 15:23] xudafeng commented on #302
@gaearon  https://github.com/xudafeng/detect-port/pull/4

[2016-08-01 16:43] dceddia commented on #293
Just tried it: node CPU usage now hovers between 0.1 and 0.2% 👍

[2016-08-01 16:59] jlongster commented on #147
My original proposal allows you to be in control. The dev server would sit "on top" of the backend server by composing the 2 servers into one. I should probably make a proof of concept of this. Thank you for making one with the proxy, I will take a look soon.

[2016-08-01 17:08] gaearon commented on #147
@jlongster Please let me know if the proxy solution works well for you. I’m inclined to get it in because I don’t see any major issues and this seems like the easiest least powerful way to support your use case.

[2016-08-01 17:09] gaearon commented on #302
Thank you so much! I will revert my commit and bump the version so we use `detect-port` again in 0.3.0.

[2016-08-01 17:34] gaearon opened #322 "Fix AppleScript issue"
Found it on [this video](https://egghead.io/lessons/react-set-up-react-apps-with-zero-configuration-in-two-minutes) by @trevordmiller:

<img width="752" alt="screen shot 2016-08-01 at 18 32 22" src="https://cloud.githubusercontent.com/assets/810438/17302939/63e92604-5816-11e6-9566-64d64d74924d.png">

It says:

We should probably mute any warnings from `osascript` (since it’s optional anyway) but i

[2016-08-01 17:38] trevordmiller commented on #322
@gaearon Is this something I did wrong? Or do you need me to run any commands to send you logs or something?

[2016-08-01 17:43] lacker commented on #316
Why does it need a hook into webpack, as opposed to just importing it and using it like usual?

[2016-08-01 17:43] gaearon commented on #322
You did nothing wrong, our AppleScript command to launch Google Chrome just failed for some reason. Maybe it always fails when Chrome is not open (need to check).

[2016-08-01 17:45] trevordmiller commented on #322
@gaearon Thanks for checking out my video!

[2016-08-01 17:45] gaearon commented on #316
I think what’s happening is this project wants to “rewrite” existing `react-native` imports into `react-native-web` imports. This probably has to do with being able to reuse React Native components without actually adding support for `react-native-web` to them.

[2016-08-01 17:48] gaearon commented on #322
Thanks for recording! Would be cool to make a few more. Topic ideas:

* [Publishing to GitHub Pages](https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#github-pages)
* [Displaying Lint Output in the Editor](https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#display-lint-output-in-the-editor)
* [Adding React Bootstrap](https://gith

[2016-08-01 17:49] trevordmiller commented on #322
@gaearon For sure! Would you mind if I recorded these or would you like to do it?

[2016-08-01 17:49] gaearon commented on #322
Sure, go ahead, I can’t find the time now. 😄

[2016-08-01 17:53] williamle8300 commented on #11
What do I do if a npm module needs to use Webpack's plugin "css-loader" to bundle up some css assets?

For example, [`react-spinkit`](https://www.npmjs.com/package/react-spinkit) breaks because `create-react-app` isn't including the css/gifs for the loading animations.

[2016-08-01 17:59] trevordmiller commented on #322
@gaearon Sounds good. Also, maybe "Extending react-scripts" to basically show how to add things like tests with npm scripts and `&&`; something like:

`package.json`

[code]

Do you think that would be helpful or would you recommend another approach?
Sorry I realize this is off-topic of this issue.

[2016-08-01 18:16] gaearon commented on #322
@trevordmiller This would be fine except you’ll probably want to explain how to do this on Windows too. This tool supports Windows (and we care about this).

[2016-08-01 18:21] gaearon commented on #11
Can you submit an issue with a reproducing example? It works for me.

[2016-08-01 18:28] arnaugm opened #323 "devServer block in webpack.config.dev.js not being used after npm run eject"
I executed the `npm run eject` command to have more control on the webpack configuration. I needed a proxy in the devServer.

`start.js` doesn't seem to use that configuration when creates the development server because proxy was not working. Executing `webpack-dev-server --config config/webpack.config.dev.js`, the proxy works properly.

Finally adding the proxy configuration in the script https:/

[2016-08-01 18:36] gaearon commented on #323
This sounds like the way webpack works—not something we could fix. (Yep, it can be confusing 😄 ) Would [this new option](https://github.com/facebookincubator/create-react-app/pull/282) solve your problem?

[2016-08-01 19:03] trevordmiller commented on #322
@gaearon Cool :)

[2016-08-01 20:19] bjnortier commented on #11
Thanks for this project.

A tip for anyone reading this who is using Atom: there are at least two eslint packages, "linter-eslint" and "fast-eslint".

"linter-eslint" [***doesn't***][1] use the global eslint as recommended in docs:

```"linter-eslint will look for a version of eslint local to your project and use it if it's available. If none is found it will fall back to the version it ships with

[2016-08-01 20:23] gaearon commented on #11
`linter-eslint` has an option for this:

<img width="621" alt="screen shot 2016-08-01 at 21 23 04" src="https://cloud.githubusercontent.com/assets/810438/17307656/27077e4e-582e-11e6-8d30-001c02b955c9.png">

Would you like to submit a PR to clarify this in the doc?

[2016-08-01 20:28] bjnortier commented on #11
Hmmm, I didn't see the global option in the plugin config, but I do now. One would think in the settings that value should be above the "Global Node Installation Path" value, which I did see.

Happy to create a PR as a hint to Atom users

[2016-08-01 20:32] williamle8300 commented on #11
@gaearon Hm. I created a new project and installed `react-spinkit`... now everything's working as it ought. Haha oh wellz!

If it happens again I'll bring it up. I'm assuming I probably edited some files in some funky way. Thanks for the help!

[2016-08-01 20:45] gaearon commented on #11
@williamle8300 We had a fix for this in 0.2.0 so maybe that’s why.

[2016-08-01 21:58] williamle8300 commented on #11
@gaeron Ohhhhhh hah. I downloaded this 10ms after it was announced. I should have `npm update` 'ed dat thang.

[2016-08-01 22:00] grigio commented on #316
Yes aliasing `react-native` is possible to build React* agnostic components which can be used in "React Native" or "React Native Web" without depends explicitly on `react-native-web`

[2016-08-01 22:03] kasperpeulen opened #324 "Show flow issues together with eslint issues"
I was wondering if better flow integration is something you guys consider.

Flow finally has Windows support: 🎉
https://www.flowtype.org/blog/2016/08/01/Windows-Support.html

I often notice flow issues too late, when I work on a create react app. The eslint issues are always in my face at the terminal, at the console, and in my editor (Webstorm). So I never miss out on them.

However, for flow iss

[2016-08-01 22:08] sdn90 commented on #302
Working for me 👍

[2016-08-01 22:43] lacker commented on #324
I would love this as well, especially if we can make it run in a way that is unobtrusive for people who are not using Flow.

[2016-08-01 22:49] gaearon commented on #324
I also would love this but I’m not totally sure how to approach this best. Proof of concept is welcome if you'd like to work on one.

[2016-08-01 23:00] gaearon commented on #316
I googled "react native web" and found at least three projects doing this (each of them wants to be the resolve target of `react-native`). Is one of them significantly more popular than others?

[2016-08-02 02:06] scwood commented on #295
Yep, everything is working!

[2016-08-02 02:23] nguyenchanhnghia opened #325 "redux-form and create-react-app not working"
I using create-react-app and redux-form but is not working.
inside form i define const {fields: {email, password, captcha}, handleSubmit} = this.props;
and in input
`<input name="email" class="form-control" type ="text" {...email}/>` but when i submit form this error. How i can use redux form in app.
![screenshot from 2016-07-26 11_41_21](https://cloud.githubusercontent.com/assets/7939078/17315018

[2016-08-02 03:21] DiegoCardoso commented on #272
Should the docs give that hint on the extra configuration at the ESLint plugin or is it too specific to Atom?
I am bringing this because as it is unchecked by default, the error wasn't entirely fixed after I installed the plugins globally.

[2016-08-02 05:01] tbash commented on #325
@nguyenchanhnghia This is actually due to the React version being over `15.2.0`
As discussed here: https://github.com/erikras/redux-form/issues/1249#issuecomment-230749794  @gaearon states the solution can be found here: https://github.com/erikras/redux-form/releases/tag/v6.0.0-rc.2

In short, update to version `6.0.0-rc.2` or higher, read about upgrading from v5 to v6 here: http://redux-form.com/

[2016-08-02 06:24] cpojer commented on #80
#250 was merged and should fulfill most of the wishes people expressed in this thread. If you'd like additional features, please feel free to create new issues and cc me on them :)

[2016-08-02 06:24] #80 closed

[2016-08-02 06:28] #325 closed

[2016-08-02 06:45] grigio commented on #316
Yes but the main ones are `React Web` and `React Native Web`https://github.com/taobaofed/react-web/issues/87 both work and switching from one to another is painless because you don't depend directly. Just pick one :)

[2016-08-02 07:47] nguyenchanhnghia commented on #325
@tbash thanks for support.

[2016-08-02 09:12] schovi commented on #310
@kasperpeulen Hi. It is funny, because I am currently working on exactly same thing as `create-react-app` I made branch for that https://github.com/schovi/webpack-chrome-extension/tree/feature/standalone (check commits) But thanks to this project I want to rewrite whole thing to be more like it, because it is awesome! :) And it is not on npm, because I cant find good name for that.

[2016-08-02 09:22] alextreppass commented on #323
`webpack-dev-server` run via the command line will auto-load dev-server config from a `devServer` block[1].

Could the start.js script[2] be tweaked to use a `config.devServer` block, if one is found? Users could then tweak the dev-server config to add things like dev-server proxy configuration in the standard way, without having to modify create-react-app scripts.

----

[1]: https://webpack.gith

[2016-08-02 11:14] gaearon commented on #272
They actually do give this hint. Have you had a chance to look through the README generates in your project folder?

[2016-08-02 11:16] gaearon commented on #272
Ugh, sorry, do you mean should the docs mention Atom plugin specifically? I think yes (we should mention major plugins and how to configure them). If you can send a PR that would he rad.

[2016-08-02 12:17] alvincrespo commented on #11
I am so happy to see this! This adds so much value to the React platform, I can't wait to see where you guys take it.

[2016-08-02 12:37] gaearon commented on #311
I’m closing because there are not enough instructions to reproduce.
If you post a complete failing file, I will happily take a look.

[2016-08-02 13:15] gaearon opened #326 "Display difference from the previous build in filesize"
## Update: The issue is claimed by @elijahmanor.

Seems like a nice thing to do.
We can read the files before clearing the `build` folder.

It could look like this:

[code]

(Right now we display the build size but not the delta.)

[2016-08-02 13:16] gaearon commented on #326
If you intend to work on this please comment here so multiple people don’t grab this at the same time.

[Relevant code in the build script.](https://github.com/facebookincubator/create-react-app/blob/0e5abada75db99d3f8d3598afe013c21dc810e85/scripts/build.js#L37-L67)

Here’s [where we clean the folder](https://github.com/facebookincubator/create-react-app/blob/0e5abada75db99d3f8d3598afe013c21dc810e

[2016-08-02 13:23] elijahmanor commented on #326
I can work on that tonight

[2016-08-02 13:29] gaearon commented on #326
Great! Let me know if you have any troubles, happy to walk you through the code.

[2016-08-02 13:54] kennetpostigo commented on #51
I think #327 adds support for this. Is it okay to close this?

[2016-08-02 14:01] #322 closed

[2016-08-02 14:01] gaearon commented on #51
Yep, thanks!

[2016-08-02 14:01] #51 closed

[2016-08-02 14:12] tomduncalf opened #328 "State is not preserved when hot reloading"
I would expect the app state to be preserved when hot reloading occurs, but this doesn't seem to be the case – the state always resets to the initial state.

Simple reproduction test case: https://github.com/tomduncalf/create-react-app-state-hmr-bug

[2016-08-02 14:14] tomduncalf commented on #328
Sorry, just seen https://github.com/facebookincubator/create-react-app/issues/93 – does this mean React HMR is not enabled yet? Will close this issue if so

[2016-08-02 14:15] gaearon commented on #328
Yea, no plans to enable it until it’s more stable. (Requires work both on Webpack and my side, and I didn’t have time for this yet.)

[2016-08-02 14:15] #328 closed

[2016-08-02 14:22] DiegoCardoso commented on #272
Yes, that what I meant.

This would be my very first PR, but I am more than pleasured to do. I think I'll would need some help, though, if you're up to.

[2016-08-02 14:29] gaearon commented on #272
Sure, happy to review and suggest changes etc.

[2016-08-02 14:41] tomduncalf commented on #328
Cool, thanks Dan. Great work on this, makes a big difference to the mental overhead of trying out a new idea or whatever...

[2016-08-02 14:53] gaearon commented on #328
Thanks!

[2016-08-02 15:06] gaearon commented on #323
WepackDevServer CLI command does [a whole ton of stuff to that config](https://github.com/webpack/webpack-dev-server/blob/master/bin/webpack-dev-server.js#L137-L257) before feeding it to WebpackDevServer Node API. If we implement support for `devServer`, people will expect it to work the same way (with same defaults etc) but it won’t. So this is why we won’t implement it (and personally I don’t re

[2016-08-02 15:06] #323 closed

[2016-08-02 15:15] dmitriid commented on #11
Also two cents on configurability.

It wold probably nice to see a configurability/overridability in the future. The reason for this is quite simple: no tool is perfect for 100% of developers, and there could be that pesky 1% that you want to change/update/remove/override without going through the entire configuration.

It should be doable for babel and eslint. Both expose settings via a `.*rc` fi

[2016-08-02 15:47] alextreppass commented on #323
@gaearon thanks for the explanation, and I can understand our needs might not be a general case.

Would #282 let us proxy path patterns (e.g. `/api*`) to other hosts and avoid CORS out of the box? Or should we be standing up an external dev-proxy for this?

Alternatively we can just `eject` and hand-edit [scripts/start.js](/facebookincubator/create-react-app/blob/master/scripts/start.js) to add ou

[2016-08-02 15:58] gaearon commented on #323
It lets you specify a single fallback server that would be used for any unrecognized path. If you have feedback on other use cases (e.g. you have multiple API servers?) please leave a comment in #282.

[Changelog](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md) has detailed instructions on updating. Usually it’s a matter of bumping `react-scripts` dependency and run

[2016-08-02 15:59] gaearon commented on #323
As I said above this will *not* work as you expect from `devServer` option docs. It’s close but not exact, and I think it’s worse than just specifying options explicitly via Node API.

[2016-08-02 16:34] kripod commented on #326
I'll try to work on this, too :blush:

[2016-08-02 16:35] arunoda commented on #297
I've build a simple tool to add storybook to any React app.
See: https://github.com/kadirahq/getstorybook

I think we could close this now.

[2016-08-02 16:41] torifat commented on #324
@gaearon I would like to work on a POC. One question though. Do we want to include `flow-bin` or look for the global `flow`?

[2016-08-02 16:47] gaearon commented on #324
@torifat I think including `flow-bin` is the way to go. Note that I have close to zero experience with it.

[2016-08-02 16:59] kripod commented on #326
Sorry for stepping in, I felt like I was able to take this task, too... :smile:

[2016-08-02 17:44] kripod commented on #326
I'm wondering how the hash of the old file could be retrieved...

[2016-08-02 17:45] torifat commented on #324
@gaearon no problem. We can revert it easily if any `flow` veteran suggests otherwise in the future 😄

[2016-08-02 17:58] gaearon commented on #326
@kripod

Hi, thanks but I think this is not a very nice way to contribute.
I believe I posted above:

I also wrote:

Then @elijahmanor commented that he plans to work on this, and I wrote:

I appreciate the intention to contribute but this just won’t work well if everyone keeps grabbing issues claimed by somebody else.

There are other issues, like https://github.com/facebookincubator/create-react

[2016-08-02 18:01] kripod commented on #326
I'm sorry to interrupt, and will wait on the answer of @elijahmanor. Anyway, old build hashes could be retrieved from a generated manifest file or deterministically. Which method should be preferred?

[2016-08-02 18:01] gaearon commented on #326
I should’ve made a larger heading for this in the original post (I’ll fix that now).
Maybe should introduce a GitHub label for claimed issues.

[2016-08-02 18:02] kripod commented on #326
That sounds great, I apologize I didn't notice that before trying to contribute...

[2016-08-02 18:03] gaearon commented on #326
No problem, it’s my fault, I should make the guidelines clearer.

---

As for your question, is there a particular reason webpack for this at all? I’d probably do the easy thing and just read sizes of all `css`/`js` files deeply inside `build` directory before removing it.

[2016-08-02 18:06] kripod commented on #326
That sounds like a plan, although that way, it'd read some old files unnecessarily. I prefer comparing only the newly-written files with their old counterparts. A regex could be used to remove hash strings before comparing file names.

[2016-08-02 18:12] kripod commented on #326
On a second thought, you're right: reading old files with unknown hashes deterministically is a painful task. Premature optimization is the root of evil. :blush:

[2016-08-02 18:21] femiruby opened #330 "Throws error after 'import mongodb'"
The whole application throws an error after `import 'mongodb'`

 App.js file
`import React, { Component } from 'react';`
`import logo from './logo.svg';`
`import './App.css';`
`import 'bulma/css/bulma.css';`
`import 'mongodb';`
`.....`

Error message outputs
`client:47 ./~/resolve-from/index.js
Module not found: Error: Cannot resolve module 'module' in W:\FAdeniyi\My Documents\sublime\ipay\node_mo

[2016-08-02 18:24] gaearon commented on #330
Isn’t `mondogb` meant to be used from Node? I [don’t think](http://stackoverflow.com/questions/36902720/mongodb-nodejs-drivers-browserify-compatibility-debugging-help) it works in browser but I might be wrong.

[2016-08-02 18:25] gaearon commented on #330
Yup, it won’t work in browser by design.
https://jira.mongodb.org/browse/NODE-698

[2016-08-02 18:25] #330 closed

[2016-08-02 18:26] tomduncalf commented on #328
Would you consider a PR to add this as an experimental feature or do you want to avoid things like that? Unfortunately no HMR means this isn't that practical for me to use on my current project, as the state is annoying to set up every time :(

[2016-08-02 18:37] torifat commented on #324
@gaearon It seems we need a `.flowconfig` in the root directory. There is a open related issue.

https://github.com/facebook/flow/issues/389

[2016-08-02 18:39] gaearon commented on #324
For now this is the only way: https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#add-flow

But let’s skip that and focus on integration. We can figure out how to “provide” the config later.

[2016-08-02 18:39] gaearon commented on #330
Not sure what you mean. Create React App is only for the browser, it doesn’t use Node server rendering.

[2016-08-02 18:40] gaearon commented on #328
No, PR won’t help because, as I said, the underlying tools are not stable enough to be the default.

[2016-08-02 18:44] femiruby commented on #330
Oh right. I understand fully. :+1:

[2016-08-02 18:44] tomduncalf commented on #328
Thought so – will keep an eye on the tool and hopefully at some point HMR
can become stable enough to be supported officially :)

On 2 August 2016 at 19:40, Dan Abramov <notifications@github.com> wrote:

[2016-08-02 18:48] gaearon commented on #330
No worries, feel free to ask if you stumble into other issues.

[2016-08-02 18:50] cloudmu commented on #147
My backend is Java-based rest services (yes I am one of those poor souls who juggles between java and javascript on a daily-basis).   My webpack dev server would proxy api calls to the Java back-end:
[code]

So the proxy solution discussed here would work great for my use case.  Thanks.

[2016-08-02 18:58] ryanflorence opened #331 "Make testing a dependency, not built in"
You can't introduce testing w/o introducing religion, unfortunately. For example, I refuse to test my UI in an environment where I can't actually render it in a browser and step through problems in real browsers to fix bugs. Asking folks to `eject` because they don't like your religion seems a little harsh.

Seems like for testing we ought to be able to have a module on npm called `react-scripts-j

[2016-08-02 18:59] gaearon commented on #331
Who would maintain `react-scripts-karma`?
If we make breaking changes to `react-scripts` that break it, whose job will it be to fix it?

[2016-08-02 19:02] kennetpostigo commented on #331
This sorta seems familiar to hyperterm plugins. Which most people seem to like.

[2016-08-02 19:03] gaearon commented on #331
I understand the allure of this, I’m just not sure what the plan is with regard to maintenance.

[2016-08-02 19:04] gaearon commented on #331
Also, I’m curious: would you rather prefer we don’t ship testing than we ship browserless testing?

[2016-08-02 19:13] gaearon commented on #331
It seems that if something like `react-scripts-karma` is maintained by the community, they could implement this proposal even today.

Is changing `"test": "react-scripts-jest"` to `"test": "react-scripts-karma"` better in some way than changing `"test": "react-scripts test"` to `"test": "react-scripts-karma"`? Since in both cases it’s a community effort and not supported out of the box, I don’t re

[2016-08-02 19:27] AvivRubys commented on #331
As I understand this, there's nothing stopping any community effort from replacing `"test": "react-scripts test` with `"test": "some-community-testing-package"`.
The only benefit switching `create-react-app` to a multi package model would give you, is being able to opt out of jest being installed in your project when you're in development. Which doesn't seem like a very big problem.
At the end of

[2016-08-02 19:54] kripod commented on #73
How about using `>1%, last 4 versions, Firefox ESR`? That would add a fair amount of support for legacy iOS Safari versions, considering the release cycle of Apple products. IE8 would also remain supported with the aforementioned query.

[code]

[2016-08-02 20:04] prashid opened #333 "Can we use babel-plugin-react-html-attrs to use class in JSX instead of className"
This is very useful plugin and use it frequently. Just copy and paste HTML and not to worry about changing class into className on almost all the elements in JSX.

[2016-08-02 20:25] thejameskyle opened #334 "Creating a new app in the current directory"
[code]

It would be nice if this worked

[2016-08-02 20:28] jlongster commented on #147
@gaearon I can't seem to get that PR to work, it's something about the `mayProxy` regex. It's failing for URls that should work. If trim it down to something simple like `/(?!(\/index\.html$))/` it works, so I'm not sure why it's failing to match all other URLs. I looked at it for a few minutes and could figure it out.

However, this approach works for me. I'm fine if you want to merge that in.

[2016-08-02 20:50] fson opened #335 "Bundle react-scripts package"
Installing `react-scripts` from npm can take a few minutes on a reasonably fast internet connection. Increasing the size of dependencies and making the installation time longer is also something that limits us when considering new features like testing (#331).

What if we pre-built `react-scripts` into one executable JS file with webpack, rollup or similar module bundler and published the package

[2016-08-02 20:59] torifat commented on #324
I was looking at the current `lint` code and found that we are using `eslint-loader`. So, it would be great if we can follow the similar approach for `flow` too. I was looking for a `flow-loader` and found [this](https://github.com/diegodurli/flow-status-webpack-plugin). But, this one doesn't pass any error or warning to the emitter and also it's not a `loader`.

In `flow` there's an option for ge

[2016-08-02 21:01] gaearon commented on #335
See also #14.
We’re open to suggestions but we’re not likely to work on this ourselves anytime soon.
So if you see a way to make it work, feel free to send a PR, and we’ll be happy to discuss!

[2016-08-02 21:02] gaearon commented on #333
Hi, thanks for the suggestion! I understand why you might want this but since it’s not a normal part of JSX, people will be confused by this. For example people will publish examples and tutorials but code from them will not work with non-Create React App setups. For this reason we won’t introduce this feature.

[2016-08-02 21:02] #333 closed

[2016-08-02 21:02] torifat commented on #334
@gaearon I can take this one.

[2016-08-02 21:03] gaearon commented on #324
This sounds reasonable.

[2016-08-02 21:03] gaearon commented on #334
@torifat 👍

[2016-08-02 21:14] torifat commented on #334
@gaearon @thejameskyle in my opinion, allowing it in empty directory is a better choice. But, in case you guys prefer it in a non-empty directory. What would be the strategy for conflict?

[2016-08-02 21:57] gabelevi commented on #324
@torifat - The `--json` output doesn't include the pretty-printed error, but I have written some JS to handle consuming the JSON output and pretty printing it. I really need to stick it into a npm package, but until then it lives here: https://github.com/facebook/flow/blob/master/tsrc/flowResult.js.

[2016-08-02 22:22] lacker commented on #334
Currently the behavior is that you can only run `create-react-app` in a *nonexistent* directory. It doesn't let you run in an already-existing directory because you don't want to accidentally splat these files into somewhere like `~`.

But, if we let you run `create-react-app` in an *empty* directory, I think that would be ok. I think it would also be OK if there was a readme / readme.md and dotfi

[2016-08-02 22:30] thejameskyle commented on #72
So there are a number of tasks that we have created in order to simplify the setup of Flow in create-react-app.

Right now the `.flowconfig` that you need to add to get started is a bit difficult. As @gaearon mentioned before it looks like this:

[code]

There's a couple things we want to do to get it down to zero config.

- Ignoring `node_modules` by default, and have a happy path for installing

[2016-08-02 22:34] torifat commented on #334
@lacker yeah, I thought about ignoring hidden files/directories. But, since we have a `.gitignore` and it might conflict with an existing `.gitignore` file.

[2016-08-02 22:42] kasperpeulen commented on #72
😍😍😍 There is someone already investigating this I believe:
https://github.com/facebookincubator/create-react-app/issues/324

😍😍😍

This is actually what I do in all my flow projects, is there another way?

[2016-08-02 22:46] lacker commented on #334
If it's an empty directory except for a `.gitignore` file and a `README`, then how useful can that old `.gitignore` file be? I bet in that case it is basically always the github autogenerated one for new projects & it is fine to just replace it.

[2016-08-02 22:48] thejameskyle commented on #72
Yes, you can add `--all` to the cli command or `all=true` to your `.flowconfig`

[2016-08-02 22:50] torifat commented on #334
Checking for `.gitignore`, `README`, `README.md`, `LICENSE`, `LICENSE.md`, `CONTRIBUTING.md`, etc didn't seemed like a good idea to me. That's why I was asking for opinion.

[2016-08-02 22:55] lacker commented on #72
I find it tedious to put `// @flow` at the top of files, but I also find it tedious when I run Flow with `--all` and it complains about things that aren't really problems. It's especially bothersome if that's someone's first experience with Flow.

What we ended up doing with eslint in `create-react-app` is configuring things in a very conservative mode, only reporting problems in cases where we ca

[2016-08-02 22:59] torifat commented on #324
**UPDATE**

I have already started working with the loader: https://github.com/torifat/flowtype-loader

Any kind of idea/suggestions are welcome 😄

[2016-08-02 23:01] kasperpeulen commented on #72
@thejameskyle I could not get the `--all` options to work. It also doesn't seem to be listed here:
https://flowtype.org/docs/cli.html

The all=true option seem to do something. In the sense that it taking my mac already 4 min to complete hehe, and still not completed, and making all kind of noises that I have never heard lol :P Is it analyzing now my `node_modules` as well?

[2016-08-02 23:08] gabelevi commented on #72
`--all` isn't available on all the commands. Like `flow status --all` doesn't exist, since it's not clear what it should do if there's already a flow server running without the `--all` command. But `flow server --all`, `flow check --all`, and `flow start --all` should all exist.

And yeah, it will check everything, including node_modules :)

[2016-08-02 23:16] webdesserts commented on #72
It would be nice if the type checking was weak by default, but you could add `// @flow` to make the file strongly typed. We use flow throughout our apps and like to trickle `// @flow weak` on files as we're trying to clean them up and only ever use `// @flow` when the code is mission critical.

[2016-08-02 23:45] gaearon commented on #73
We want to support IE >= 9, just like React.
iOS >= 7 also sounds reasonable.

[2016-08-03 00:39] zachary opened #337 "Uncaught Error: Cannot find module "net", "fs", "tls""
Uncaught Error: Cannot find module "net", "fs", "tls" when i require 'mysql'

[2016-08-03 02:17] cpojer opened #338 "Decide on Jest's default environment"
Jest ships with `jsdom` by default. With the test renderer we don't need jsdom so I recommend people to use the `node` environment, also in CRA: https://github.com/facebookincubator/create-react-app/blob/master/scripts/utils/create-jest-config.js#L22

However, I expect people would like to continue using enzyme until they are fully bought into snapshot testing and until the test renderer supports

[2016-08-03 03:45] eliperelman opened #339 "Combine efforts with mozilla/neo?"
This repo is very similar to the efforts put into [mozilla/neo](https://github.com/mozilla/neo), including simple project scaffolding and zero initial configuration. A key difference between create-react-app and Neo is that Neo supports modifying/merging building configurations without having to do an eject. For example, if I wanted to override or add a particular webpack configuration, you can do

[2016-08-03 03:54] eliperelman commented on #102
[Neo solves this](https://github.com/mozilla/neo/blob/master/config/webpack.core.js#L19) using an env namespace, like @gaearon proposed. I think that would be preferred over setting config in package.json since some items may be environment specific, and others may have needs for access of sensitive data which should not be committed.

[2016-08-03 03:57] eliperelman commented on #339
Just glancing through issues, it seems like several of them could be solved by combining efforts/code. If this package would expose its configuration as well as a cli/bin interface, that would get most of the way there. Thoughts?

[2016-08-03 04:37] nmn commented on #72
@jameskyle the ignoring of node_modules by default can be problematic. Usually, we want flow to ignore the errors but still read the type information. I tend to publish my NPM modules with their flow types. This way you don't need to get the flow-typed module separately (see react-time ago)

I hope that use-case doesn't break.

[2016-08-03 05:48] elijahmanor commented on #326
yes, that is the route that I took tonight... recursively found files in build folder and removed the hashes to build an object map of previous sizes that can be used later on to compare delta sizes.

[2016-08-03 06:50] kripod commented on #73
On the iPhone, OS segmentation is very low because of the highly encouraged free system upgrades. In my opinion, supporting iOS 7 doesn't make as much sense as supporting everything down to iOS 6, because that's the last system software which the iPhone 3GS supports.

IE9 was released on March 14, 2011, and the first iPhone 4 (which only supports iOS < 8) was released on June 24, 2010. The iPhone

[2016-08-03 09:39] gaearon commented on #73
Ok, iOS >= 8 it is then.

[2016-08-03 09:39] pluma commented on #337
This sounds like you're trying to require a module meant to be used only on the server in your client code.

Are you trying to access MySQL from your browser code?

[2016-08-03 09:47] gaearon commented on #339
Hey, thanks for coming by! I wasn't aware of this project, looks nice.

I wrote some thoughts on this proposal in https://github.com/facebookincubator/create-react-app/issues/99. Even if we end up going that way I don't think now is a good time for us.

The biggest priority for us is to provide hassle-free experience with no annoying issues or slight incompatibilities. This is, in my opinion, hard