[2016-08-30 18:42] fson commented on #518
@luizkowalski Are you using Atom? Can you check if you have a package named [atom-react-native-css](https://atom.io/packages/atom-react-native-css) installed? I was able to reproduce this by installing this package and saving the CSS file.

It does exactly what you described, i.e. it converts the CSS file to a React Native stylesheet and saves it to a file with the same name, changing the file ext

[2016-08-30 20:03] gaearon commented on #517
Yea, I agree with @cpojer here.
It isn’t friendly to ES6 modules either and will break any tooling that assumes them.

[2016-08-30 20:04] gaearon commented on #518
Wow, this is funny. Thanks for explaining @fson. 👍

[2016-08-30 20:04] #518 closed

[2016-08-30 21:24] fson commented on #462
@josephsavona This sounds like a good plan for `babel-relay-plugin`. Since you brought up the topic of releases, now I'm wondering how we could determine which version of `babel-relay-plugin` to use in `create-react-app`? When the user updates `react-relay`, also `babel-relay-plugin` needs to be updated. The Babel plugins are dependencies of `react-scripts` and therefore not controlled by the user

[2016-08-30 21:37] lorenzosjb opened #519 "Couldn't find preset "es2015" relative to directory"
I am using Webstorm 2016.2.2.

I created the project and started it until the point of seeing the webpage up and running.
When I change something simple from src/App.js like the title text it show the error below.

It's missing dependencies on the project? I added babel-core, babel-loader, babel-preset-es2015, babel-preset-react to the dependencies and it worked

cmd.exe /D /C call C:/Users/jimene

[2016-08-30 22:31] gaearon commented on #519
What is this command? Did you type it by hand? Does some tool run it? This is definitely not how CRA projects should be used so I am very surprised to see it.

[code]

[2016-08-30 22:34] gaearon commented on #519
If you use something like Babel watcher described here, please disable it: https://blog.jetbrains.com/webstorm/2015/05/ecmascript-6-in-webstorm-transpiling/. It is **not** needed with Create React App and will not work correctly. Create React App setup takes care of transpilation so you don't need your IDE to call Babel.

[2016-08-30 22:35] gaearon commented on #519
cc @prigara

[2016-08-30 23:07] suchipi commented on #517
All comments makes sense. Thanks for the discussion.
Future readers: I was able to workaround this by providing mocks for each file that uses `require.context`, as @cpojer indicated. But as it is unsupported, I do not recommend using it. I plan on changing my code to not use it.

[2016-08-30 23:13] suchipi commented on #517
Just had a thought: what about stuff like:
[code]
Webpack generates a context module when you pass a dynamic path like this (which is the same kind of module that can be manually created with require.context).
Should this behavior also be warned against? Normal `node` can do dynamic requires, but imports must be static.

I'm not sure what the behavior in jest is for this case, but I expect that it

[2016-08-30 23:15] cpojer commented on #517
Inside of tests this is fine, you can require dynamic modules as much as you'd like and sometimes that is useful.

Outside of tests it is bad because those cases cannot be statically analyzed.

[2016-08-30 23:15] #517 closed

[2016-08-30 23:52] josephsavona commented on #462
@fson Good points - I hadn't considered the plugin versioning aspect. Ideally the plugin would rarely have to change. Instead, the plugin can have a peer dependency on a separate module - the Relay2 compiler. Then the developer can be in charge of updating the Relay and the compiler versions together (and Relay can have a peer dependency on the compiler to enforce compatible versions).

[2016-08-30 23:52] fson commented on #401
What if instead of
[code]
missing packages would bring out a prompt to install them for you?
[code]

[2016-08-31 00:27] skbolton commented on #513
Just wondering the possibility. I just always eject right from the start to add a few things, and thought it would maybe a little faster if it could build the project in an already ejected status

[2016-08-31 07:50] luizkowalski commented on #518
@fson that was exactly the problem! thanks so much

[2016-08-31 08:18] prigara commented on #519
Hi @lorenzosjb!
@gaearon is right, with react-create-app you don't need to use a file watcher. All you need to do is to open a project created with react-create-app and then run npm start in the terminal or double-click on the start task in the npm tool window in WebStorm.
We're currently working on integration with react-create-app, we won't show this misleading suggestion to add a file watcher f

[2016-08-31 08:29] geowarin commented on #401
Update: there is a PR [implementing this](https://github.com/facebookincubator/create-react-app/pull/499).

@fson It would be great to provide autofixes! The only part I'm not sure about is how to allow simple interactions with the console since it is cleared every now and then.

[2016-08-31 08:39] gaearon commented on #519
:+1: Thanks for the update!

[2016-08-31 08:55] gaearon commented on #513
If you'd like to send a PR we can consider it but I don't think this is a high priority for us.

[2016-08-31 09:39] gaearon opened #521 "Document polyfills"
We should document that we include fetch and Promise polyfills, and have an example of making an AJAX request in the howto (template/README.md).

[2016-08-31 11:04] gaearon commented on #512
Yeah, we don’t really support any server solution out of the box, that is up to you.
There are some non-trivial pieces there. For example [using babel-node is bad in production](https://medium.com/@Cuadraman/how-to-use-babel-for-production-5b95e7323c2f).

[2016-08-31 11:04] #512 closed

[2016-08-31 11:06] gaearon commented on #404
We don’t support this feature.
If you use it, please expect that it can break in any patch version without a warning.

[2016-08-31 11:08] gaearon commented on #404
If you want to make changes, you are a power user, and this project may not be the right fit for you 😄 . That said you can always fork `react-scripts` and add what you’re missing. Then you can run

[code]

and it will use them instead. Of course you’ll miss out on our updates unless you take care of merging upstream changes into your fork.

[2016-08-31 11:10] gaearon commented on #404
I’ll close this issue because we currently have no intentions on making CSS preprocessors a part of CRA setup. If you want to use one, please do as you did before Webpack: write SCSS/Less/Stylus/whatever and compile them to CSS with a CLI command. Then import resulting CSS into the project.

[2016-08-31 11:10] #404 closed

[2016-08-31 11:35] gaearon commented on #401
I’m a bit worried about autofixes because it’s easier to miss typos and install something you didn’t want. I’d like installation act to be explicit.

[2016-08-31 14:36] velopert opened #525 "Bug issue with babel-plugin-transform-react-constant-elements"
When I work on my React  Project, I usually put the component files in a directory and create a index.js so that I can load the components like `import { UserInfo, AnotherComponent } from 'container';`

Today, I tried using that structure with create-react-app. It works perfectly on the dev-server, but it gives following error when I try to load the component:

[code]

My have uploaded the directo

[2016-08-31 15:12] vgrafe opened #527 "Building does not set relative paths to the assets in `static` folder"
This leads to problems when adding the built react app in a subfolder of a static website (my [github.io](https://github.com/vgrafe/vgrafe.github.io) page is a good example of the use case, the folder `/react-range-progress` contains a react app built with `create-react-app`, but does not find the assets if I do not change

[code]

to:

[code]

in the first case, the browser will look for the js f

[2016-08-31 15:17] gaearon commented on #527
Did you get a chance to read the instructions posted in the console when the build finishes? I believe they should explain how to fix the problem. If not can you please show a screenshot of `npm run build` output?

[2016-08-31 15:21] vgrafe commented on #527
Sorry about that. I just found out about "homepage" in the code. I'll close.

[2016-08-31 15:22] insin commented on #525
Does it work if you re-export like this instead?

[code]

[2016-08-31 15:22] gaearon commented on #527
No worries, I just want to verify the build outputs instructions correctly.

[2016-08-31 15:25] lorenzosjb commented on #519
Thanks to all, prigara and gaearon

[2016-08-31 15:25] #519 closed

[2016-08-31 15:26] gaearon commented on #525
This sounds bad. Can you search Babel Phabricator for relevant issues so we can track this? I would not be surprised if similar reports already exist.

[2016-08-31 15:28] vgrafe commented on #527
I confirm that now I ejected/reverted then npm i-ed my codebase, I can see the instructions after building. I don't know how I did miss that output before - it is exactly on point.

[2016-08-31 15:37] gaearon commented on #527
Got it, thanks for explaining. It was added relatively recently so if you ejected, you might have used an earlier version at the time.

[2016-08-31 17:08] mrscobbler opened #528 "Linter complains when using arrow function for refs"
I'm using arrow function for refs as explained in the docs here: https://facebook.github.io/react/docs/more-about-refs.html

but the linter complains with this:

`217:54  warning  Arrow function should not return assignment`

Is there an issue with the way the docs describe how to use arrow functions with refs? Should the docs be updated?

[2016-08-31 17:17] vjeux commented on #528
You are probably writing

[code]

if you add `{}` around the function body it should remove the warning:

[code]

[2016-08-31 18:06] mrscobbler commented on #528
Oh yep, that was the problem. Thanks for the clarification.

[2016-08-31 18:37] SpaceK33z commented on #263
Hi, could you guys check if this PR https://github.com/webpack/webpack-dev-server/pull/579 works for you? I'm maintaining webpack-dev-server and interested to work with you to fix annoyances :).

[2016-08-31 18:44] gaearon commented on #528
I’m actually not sure we should keep this rule.
Callback refs are verbose enough by themselves, and this makes them worse.

[2016-08-31 18:47] gaearon commented on #528
@mrscobbler Would you like to send a PR to remove this rule? It should be in `config/eslint.js`. I don’t think it’s valuable enough to justify the confusion. If ESLint revisits https://github.com/eslint/eslint/issues/5150#issuecomment-182544061 we can add it back with that options.

[2016-08-31 19:17] mrscobbler commented on #528
Yes, sure I'll take care of it.

[2016-08-31 20:52] mrscobbler commented on #528
Just submitted a pull request: https://github.com/facebookincubator/create-react-app/pull/529

[2016-08-31 21:25] gaearon commented on #528
Fixed via #529, will be out in the next version.
Thanks!

[2016-08-31 21:25] #528 closed

[2016-08-31 23:20] rogeliog commented on #521
I'm more than happy to help out with this one 😄

Just making sure, we are talking about something like this right?

[2016-08-31 23:21] gaearon commented on #521
Yep, thanks!

[2016-09-01 03:50] hillscottc commented on #410
The MobX docs tell me I must "use the transform plugin transform-decorators-legacy and make sure it is first in the plugins list", in order for the decorators to work. How can I do that when there is no .babelrc? Is there some workaround?

[2016-09-01 09:23] gaearon commented on #410
@hillscottc

You can’t use decorators with this setup currently.
I explained why here: https://github.com/facebookincubator/create-react-app/issues/411#issuecomment-242740921.

However you don’t need decorators for MobX. I wish its docs put more emphasis on this.
See here how to use it without decorators: https://github.com/facebookincubator/create-react-app/issues/214.

cc @mweststrate, this conf

[2016-09-01 09:24] gaearon commented on #107
For people coming to this thread later—if you use MobX or a similar library, you don’t **need** decorators. They are just syntax sugar in this case.

Learn more: https://github.com/facebookincubator/create-react-app/issues/214#issuecomment-236151343, https://github.com/facebookincubator/create-react-app/issues/411#issuecomment-238974268.

[2016-09-01 09:25] gaearon commented on #411
For people coming to this thread later—if you use MobX or a similar library, you don’t **need** decorators. They are just syntax sugar in this case.

Learn more: https://github.com/facebookincubator/create-react-app/issues/214#issuecomment-236151343, https://github.com/facebookincubator/create-react-app/issues/411#issuecomment-238974268.

Here is why we don’t include them: https://github.com/faceb

[2016-09-01 10:46] mweststrate commented on #410
@gaearon yep, had on my todo list where to investigate where the confusion comes from, to make it more clear that is optional.

@hillscottc where would you have expected that for example? The readme currently starts with an example how to do things both with and without examples. Was that clear?

For people stumbling into this in the future, here is a small create-react-app based repo with MobX, w

[2016-09-01 10:47] mweststrate commented on #214
For people stumbling into this in the future, here is a small create-react-app based repo with MobX, without decorators:

https://github.com/mobxjs/create-react-app-mobx

[2016-09-01 10:53] gaearon commented on #410
Thanks for taking the time to do that!

[2016-09-01 11:01] gaearon commented on #372
FYI we’re going to release Jest integration now but downplay snapshot testing until it’s more polished.

[2016-09-01 11:12] chibicode commented on #383
We might be able to take advantage of this: https://github.com/blog/2228-simpler-github-pages-publishing

[2016-09-01 14:22] ForbesLindesay opened #532 "Fails by default when running tests in travis"
Because [we enable watch by default]((https://github.com/facebookincubator/create-react-app/blob/67fe75926a693fda5c7990db719a254b953df599/scripts/init.js#L29)), tests will fail if you enable any CI server.

We can fix this in the majority of popular CI systems by checking for `process.env.CI='true'` (see https://docs.travis-ci.com/user/environment-variables/#Default-Environment-Variables), and the

[2016-09-01 15:12] gaearon commented on #532
Sounds good, would you like to make a PR? I was planning to suggest that people who need this create `test-ci` that is just `react-scripts test` but this seems even better. Maybe we can even kill explicit `--watch` in the config completely then and just respect `CI` env?

[2016-09-01 16:07] hzoo commented on #525
From https://github.com/babel/babel/pull/3596#issuecomment-235892988: https://phabricator.babeljs.io/T7520, https://phabricator.babeljs.io/T7494 cc @kittens

[2016-09-01 16:09] hzoo commented on #255
https://github.com/babel/babel/pull/3612 is released in v6.15.0 of babel-plugin-transform-runtime `npm view babel-plugin-transform-runtime dist-tags`

[2016-09-01 16:13] gaearon commented on #525
Okay I’m going to disable this transform because it’s buggy.
This is really unfortunate. 😢

[2016-09-01 16:25] #532 closed

[2016-09-01 17:01] #255 closed

[2016-09-01 19:00] stoyan opened #536 "request: produce two JS bundles - lib and app"
One e.g. `create-react-app-v0.2.js` that can be hosted by volunteering CDNs and shared among all the apps and another one `bundle.js` that is app-specific

[2016-09-01 19:40] gaearon commented on #508
Fixed in 73c940a73205d761230f8d6bf81ecfd460ba28a9.

[2016-09-01 19:40] #508 closed

[2016-09-01 19:42] gaearon commented on #311
This was fixed in #504.

[2016-09-01 19:42] #311 closed

[2016-09-01 19:44] gaearon commented on #469
Closing for the lack of information.

If somebody experiences this please try to figure out a way to reproduce (e.g. take note of which windows are open, whether you are using stable or canary, etc).

[2016-09-01 19:44] #469 closed

[2016-09-01 19:45] #444 closed

[2016-09-01 19:45] gaearon commented on #338
Decided to go with JSDom by default but as a flag so people who know what it is can disable it.

[2016-09-01 19:45] #338 closed

[2016-09-02 00:00] gaearon commented on #80
0.3.0 is out with support for testing.
Read the [usage guide](https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#running-tests) and the [migration instructions](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#migrating-from-023-to-030).

💜

[2016-09-02 00:00] gaearon commented on #331
FYI, 0.3.0 is out with support for testing.
Read the [usage guide](https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#running-tests) and the [migration instructions](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#migrating-from-023-to-030).

We hope you’ll like it.

💜

[2016-09-02 00:01] gaearon commented on #11
For those who asked, 0.3.0 is out with support for testing.
Read the [usage guide](https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#running-tests) and the [migration instructions](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#migrating-from-023-to-030).

💜

[2016-09-02 00:57] vinpac commented on #324
Any update on this?

[2016-09-02 01:25] gaearon commented on #324
@thejameskyle contacted @torifat, waiting for them to come up with a plan. Flow team is definitely interested in this and will pursue making this happen.

[2016-09-02 01:45] insin opened #542 "Default test not found if project path contains hyphens"
Seeing this running `npm test` in a new project created with create-react-app@0.3.0:

![cmd_2016-09-02_11-41-46](https://cloud.githubusercontent.com/assets/226692/18189984/90e991d4-7102-11e6-8417-557d3f9eb010.png)

Any pointers as to which Jest module I should poke around in to debug this?

[2016-09-02 02:13] insin commented on #542
If I log the value of `this._testPathDirPattern` in `jest-cli/build/SearchSource.js`, I'm seeing hyphens being prefixed with a literal `\`:

[code]

[2016-09-02 02:19] HatemJerbi commented on #536
it will be nice if the build generate one hashed vendor bundle (modules imported from node_modules) and one app hashed bundle.

[2016-09-02 02:38] tbillington commented on #536
@stoyan The only dependencies that all `create-react-app` apps share is react and react-dom, is that what you mean?

@HatemJerbi The benefit would be small I think? Often changing your app code will use more/less of the library code, which will mean that the uglified version of your 'node_modules' bundle will be different.

[2016-09-02 03:41] stoyan commented on #536
@tbillington yeah, I guess so. I just created a test app, deleted everything except index.js and built. The result is 160K (46K after gzip) of stuff. So ideally this can be shared between all apps, it's independent of the application code.

Question: When does `create-react-app` pull the current version of react+reactdom? When you generate a new app or when you install/update `create-react-app`?

[2016-09-02 03:50] tbillington commented on #536
@stoyan It gets react+dom when you generate a new app.

[2016-09-02 03:53] tbillington commented on #536
@stoyan you could do something like eject (or modify the internal of react-scripts) to tell webpack to assume react is provided by the environment.

That way your app will not bundle react which will greatly reduce the size, and you get cdn benefits. The 160kb base blob you mentioned is essentially just react and webpack module wrapping + some polyfill as far as I know..

[2016-09-02 04:25] jamesblight commented on #410
@gaearon is the main issue with using `.babel.rc` internally the potential conflict with an existing `.babel.rc` on eject?

[2016-09-02 05:20] suchipi opened #543 "ESLint: no-template-curly-in-string rule not found"
Just upgraded from 0.3.0-alpha(via git url; wanted jest early) to 0.3.0. Using Atom's `linter-eslint`, I now see this ESLint warning in all of my files:
[code]
This doesn't show up in the output from `npm start`.
I checked [the README](https://github.com/facebookincubator/create-react-app/blob/7119660/template/README.md) to see if I needed to install any new eslint plugins globally, but there aren

[2016-09-02 05:48] saintsjd commented on #462
I was studying the source for `babel-relay-plugin` a bit. If I am not mistaken, `getBabelRelayPlugin` accepts either a schema object or a function for its first argument.

See https://github.com/facebook/relay/blob/master/scripts/babel-relay-plugin/src/getBabelRelayPlugin.js#L35 and https://github.com/facebook/relay/blob/master/scripts/babel-relay-plugin/src/getBabelRelayPlugin.js#L245-L247

Perha

[2016-09-02 07:54] gaelduplessix commented on #543
Have the same problem.

We need [this PR](https://github.com/Adezandee/fast-eslint/pull/177) to be merged I guess.

[2016-09-02 08:04] gaelduplessix opened #544 "Tests outside of src folder shouldn't be run"
The README.md says:
`The .test.js / .spec.js files (or the __tests__ folders) can be located at any depth under the src top level folder.`

However, if I create a `.spec.js` in a `e2e` folder at the root of the project, it is still executed by `npm test`

![image](https://cloud.githubusercontent.com/assets/2292908/18196805/feb04226-70f3-11e6-9d14-ed9118180f68.png)

I guess that's a bug. Right now

[2016-09-02 08:55] gaelduplessix opened #545 "Provide a way to specify test environment setup file for Jest"
My App is using `localStorage` but when I run tests, I get this error:

```ReferenceError: localStorage is not defined```

Should we provide a polyfill to be able to mock it with Jest ?

### Workaround
Add a `--setupTestFrameworkScriptFile ./localStoragePolyfill.js` to the `test` command in `package.json`, where `./localStoragePolyfill` looks like this:

[code]

I guess it should be added to [conf

[2016-09-02 09:58] gaearon commented on #544
Interesting, thanks for writing up. I probably forgot to limit this. Now that I think of it I think maybe we should allow them to be in top level `src`, `test`, `tests` and `__tests__`.

[2016-09-02 10:04] ehtb opened #546 "TypeError: TestEnvironment is not a constructor in combination with Enzyme"
With Enzyme installed, running tests:
[code]

Throws the error:
[code]

The tests run correctly when removing `--env=jsdom`.

[2016-09-02 10:22] gaearon commented on #543
Hmm, wouldn’t updating the global ESLint to the latest version solve the issue?

[2016-09-02 10:22] gaelduplessix commented on #544
Yup, as long as we can have e2e and integration tests living in the same repository, that seems fair

[2016-09-02 10:23] gaearon commented on #546
Can you give the exact test code that is failing please?

[2016-09-02 10:29] gaearon commented on #546
Interesting. At first I couldn’t reproduce this but after stopping and starting the watcher again I’m getting this even with an empty test file.

Console output:

[code]

cc @cpojer

[2016-09-02 10:30] ehtb commented on #546
Sure, you can easily recreate the error by creating a new (0.3.0) project:

1. `create-react-app issue546`
2. `npm install --save-dev enzyme react-addons-test-utils`
3. `npm test`

This throws:
[code]

Even running an empty test is throwing this error, but for completeness:

[code]

[2016-09-02 10:32] gaearon commented on #546
@cpojer

Apparently `TestEnvironment` was resolved to `jsdom` itself instead of `jest-environment-jsdom`:

[code]

[2016-09-02 10:36] gaearon commented on #546
I fixed this locally by commenting [these lines](https://github.com/facebook/jest/blob/3e141f0f9a89f81b6aa5cc0c9d7a60495460652a/packages/jest-config/src/normalize.js#L80-L90) out. In case of Create React App it is incorrect to resolve relative to `rootDir` because that’s not where Jest is. It should try `require.resolve()` first—at least for our use case.

[2016-09-02 10:39] gaearon commented on #546
We’re going to cut a patch fixing this today but for now, you can work around it by opening `node_modules/react-scripts/node_modules/jest-config/build/normalize.js` and commenting out lines 80 to 90.

[2016-09-02 10:46] #546 closed

[2016-09-02 10:49] #542 closed

[2016-09-02 10:53] gaelduplessix commented on #543
Nope, I tried and it doesn't. `fast-eslint` probably use its own version of `eslint`

[2016-09-02 11:17] gaearon commented on #543
I pinged @arnauddezandee. In the meantime you may try using a different ESLint atom plugin that uses the global version of ESLint instead of shipping its own copy.

[2016-09-02 11:29] gaearon commented on #365
Yea, we won't be doing this. You can always add it yourself, and it's indeed too opinionated. Thanks for the suggestion though!

[2016-09-02 11:29] #365 closed

[2016-09-02 11:31] gaearon commented on #545
Is there any reason you can't do this manually by importing a file like this from your test? Is it because many tests rely on this?

@cpojer What do you think is a reasonable solution? Should we come up with a conventional name for test setup file?

[2016-09-02 11:32] gaearon commented on #545
I definitely don't want to add mocks for this in CRA because there are hundreds of browser APIs people might need to mock in different ways. This should be controlled by the user.

[2016-09-02 11:33] insin commented on #423
Any thoughts on how this would in terms of modules? Should `react-scripts` gain the ability to scaffold out and provide tooling for a component/library or should there be a new module?

[2016-09-02 11:33] #443 closed

[2016-09-02 11:34] gaearon commented on #390
Updating tutorial won't happen until CRA 1.0 so I'll close as non actionable for now.

[2016-09-02 11:34] #390 closed

[2016-09-02 11:40] gaearon commented on #423
I would imagine `react-scripts` could include more commands, like `build-lib` etc. We'd want to keep Babel configs the same, for example. But it's very hard to say until somebody makes a proof of concept.

[2016-09-02 11:42] #271 closed

[2016-09-02 11:42] gaearon commented on #536
We tried this before in https://github.com/facebookincubator/create-react-app/issues/210 and found some issues with Webpack. I want to revisit this after Webpack 2 is declared stable and we switch to using it.

[2016-09-02 11:55] gaearon commented on #410
The main issue is that nobody did this :-). If you submit a PR we can start looking at individual problems.

[2016-09-02 11:56] gaearon commented on #410
(I'm not talking about supporting decorators or merging configs which is unrelated to this thread. I meant outputting RC files on eject.)

[2016-09-02 12:00] cpojer commented on #545
Yeah, I think we should come up with a standard for CRA and if the file exists, it gets added to setupFiles, just like we talked about.

For localStorage mocking, it probably needs a mock that uses ES proxies :)

[2016-09-02 12:28] gaelduplessix commented on #545
@gaearon I can indeed directly import the polyfill just before importing my file in the test. However, because `localStorage` is in the global scope, I don't know if we can rely on the order in which the files are imported, I thought it was safer to import it using the `setupFiles` option.

Can we rely on the fact that `import` statements are executed in order ? Is this a standard ?

[2016-09-02 12:29] cpojer commented on #545
Yes, order matters for ES imports.

[2016-09-02 12:30] cpojer commented on #545
The thing is, `--setupTestFrameworkScriptFile` should really be deprecated or renamed and we should either expose `--setupFile=<path>` (which can be array arguments?) to add new setup files or do what @gaearon said and look for a setup file in a standard location.

tbh I'm happy to even support this directly in Jest. We could look for `<rootDir>/.jest-setup.js`.

[2016-09-02 12:43] gaearon commented on #545
Is `src/index.test.js` going to be confusing?

[2016-09-02 12:44] cpojer commented on #545
Yeah I don't think that will work well as an automatic default tbh. Especially since right now it would be run as a test itself.

[2016-09-02 12:47] gaearon commented on #545
`src/setupTests.js`

[2016-09-02 12:51] cpojer commented on #545
I don't want to make an assumption either about folder structure or whether to use camelcase or anything inside of their actual code. I'd be happy to support `jest-setup.js` or `.jest-setup.js` in the root automatically. I think anything else I'd recommend you to do in CRA on top :)

[2016-09-02 12:52] gaearon commented on #545
Yeah, I meant doing this in CRA config. Since CRA already asks `src/index.js` to exist we can have more conventional names here, as this makes sense given nature of the project.

[2016-09-02 12:54] cpojer commented on #545
Absolutely, feel free to make any call that you think is best for CRA users and decouple it from a similar setting in Jest we may want to add.

[2016-09-02 12:55] gaearon commented on #545
Does Jest fail if passed file doesn’t exist?

[2016-09-02 13:02] cpojer commented on #545
Yeah it'll fail. A silent error for a setup file wouldn't be very useful I think.

[2016-09-02 13:23] gaearon commented on #545
This makes sense. I propose the following: if `src/setupTests.js` exists it should be used, otherwise we don’t pass it. This logic would live in `createJestConfig.js`. Path itself would be determined in `paths.js`.

@gaelduplessix Would you like to submit a PR implementing this?

[2016-09-02 13:30] Adezandee commented on #543
I'll update `fast-eslint` to v3.4.0 asap. 👍
@gaelduplessix, Indeed the eslint engine is built-in. Everything else is provided by the environment, either project or globally installed modules.

[2016-09-02 13:37] gaearon commented on #543
Thanks for quick turnaround @Adezandee, it is very much appreciated.

[2016-09-02 13:42] gaearon commented on #263
Left a comment, thank you for looking at this!

[2016-09-02 15:10] gaearon commented on #291
Fix is out in 0.3.0.

[2016-09-02 15:14] josephsavona commented on #462
@saintsjd yeah, that's roughly how it would be implemented, I think. The plugin changes are more due to the need to make release coordination easier.

[2016-09-02 15:27] martinschayna opened #549 "How to pass arguments to node in Jest tests?"
I have tried to use builtin Jest in version `0.3.0` but need to use ES6 `Proxy` object in test.

This can be done by passing argument `--harmony_proxies` to `node` and using [harmony-reflect](https://github.com/tvcutsem/harmony-reflect) polyfill in test. I am able to import polyfill in tests, but it looks like it's not possible to run `jest` in node with any additional arguments.

I used to use th

[2016-09-02 15:28] gaearon commented on #549
I think we should enable `--harmony_proxies` by default. How can we do this?

[2016-09-02 15:36] vjeux commented on #365
@gaearon would be nice to put an entry in the readme on how to setup travis. Should be pretty easy

[2016-09-02 15:51] gaearon commented on #365
Agree now that we have testing.
@Jiansen Would you like to work on a PR adding this doc note?

[2016-09-02 15:51] rogeliog commented on #365
@vjeux I like the idea of a CI section, where it could eventually show how to setup different CI services(similar to the deployment section). I'm more than happy to help with this one :)

[2016-09-02 15:54] rogeliog commented on #365
Oops sorry :( I posted my comment a minute after @gaearon... If @Jiansen is planning on working on this then that sounds great also! :) :)

[2016-09-02 15:59] gaearon commented on #365
@rogeliog Issue is pretty old so I think it’s fine if you take it. 👍 If @Jiansen is also interested, they can express their interest here later and maybe collaborate.

[2016-09-02 16:53] #253 closed

[2016-09-02 18:02] gaearon commented on #430
@dceddia Can you please turn 26877bcaa71509be3350f546f215f0855dc77ba1 into a PR? The only change I’d make is to have it look at `process.env.HTTPS` instead, similar to how we read `process.env.PORT`.

[2016-09-02 18:05] dceddia commented on #430
I like that idea. I'll work on a PR.

[2016-09-02 18:31] gaearon commented on #501
I’ll close, let’s track #520 instead.

[2016-09-02 19:11] Adezandee commented on #543
I released `fast-eslint` v3.1.0. I bootstraped a pristine react app with the CLI to try things out. With `npm@3` flattening it should work right away. With `npm@2`, you'll probably have to install some deps globally since `fast-eslint` isn't smart enough to add relative reference inside the lookup array for modules loading (could be done though).

[2016-09-02 19:22] gaearon commented on #507
For now, I would rather avoid complicating the project by allowing to add unprocessed `<script>` tags. We might revisit this in the future when we learn more about different use cases for this. (Web workers seem like another potential candidate.)

In the meantime options (1) and (2) should work for you, as far as I can see.

[2016-09-02 19:22] #507 closed

[2016-09-02 19:27] #545 closed

[2016-09-02 19:35] dceddia commented on #430
@gaearon I created a PR with 3e52607 (ignore that other one).

[2016-09-02 19:35] #503 closed

[2016-09-02 19:44] #543 closed

[2016-09-02 19:47] gaearon commented on #430
Fixed by #430.

[2016-09-02 19:47] #430 closed

[2016-09-02 19:58] rosenk commented on #507
Thank you for your effort.
I wonder how to apply option 1) in practice since ESLint complains that I'm using a symbols that came from no ware. How to import something that comes from <script>

[2016-09-02 20:34] giuseppeg commented on #299
Custom elements must contain a hyphen `-` in the name so `<lol />` is invalid*  both in React and Web Components world.

[*] inherits from `HTMLUnknownElement`

[2016-09-02 21:01] giuseppeg commented on #299
ha. Obviously I didn't read yannickcr/eslint-plugin-react#726 – sorry about that :)

[2016-09-02 21:02] gaearon commented on #507
`window.Stuff`

[2016-09-02 21:05] gaearon commented on #290
Okay, let’s add support for `.jsx`. Will merge a PR that does that.

[2016-09-02 21:08] gaearon commented on #521
Closing, let’s track this in #531.

[2016-09-02 21:08] #521 closed

[2016-09-02 21:09] gaearon commented on #514
cc @thejameskyle

[2016-09-02 21:10] gaearon commented on #467
This seems like something related to your computer’s configuration. Opening `localhost` is a pretty standard practice so I’m inclined to close unless more users chime in.

[2016-09-02 21:10] #467 closed

[2016-09-02 21:10] gaearon commented on #525
Fixed for now in 0.3.0+ by disabling that plugin.

[2016-09-02 21:10] #525 closed

[2016-09-02 21:11] gaearon opened #553 "Re-enable babel-plugin-transform-react-constant-elements when it’s not buggy"
See #525 for the reference.

[2016-09-02 21:12] Jiansen opened #554 "Nature code after eject"
Following up on #257 , we could try to make eject result more natural.

[2016-09-02 21:19] gaearon commented on #545
Thanks for fixing this!

[2016-09-02 21:20] gaearon commented on #480
`HTTPS=true` env variable is honored in 0.4.0.
See the [release notes](https://github.com/facebookincubator/create-react-app/releases/tag/v0.4.0)!

[2016-09-02 21:20] gaearon commented on #430
`HTTPS=true` env variable is honored in 0.4.0.
See the [release notes](https://github.com/facebookincubator/create-react-app/releases/tag/v0.4.0)!

[2016-09-02 21:20] gaearon commented on #253
`NODE_PATH` env variable is honored in 0.4.0.
See the [release notes](https://github.com/facebookincubator/create-react-app/releases/tag/v0.4.0)!

[2016-09-02 21:21] Jiansen commented on #365
@gaearon , I am happy to adding Travis set up process to a doc note.

@rogeliog , if you wanted to take it and/or add process of setting up other CIs, I am sure it will be very useful for some users.   Just let me know if you may want me to work on the note for Travis.

[2016-09-02 23:02] gaearon opened #556 "Paths are incorrectly resolved when react-scripts is a shared dependency"
Not sure if we want to (or even can) support this use case, but this doesn't currently work:

[code]

Technically this is valid in npm, but CRA thinks it’s running in local development mode.

[2016-09-02 23:02] gaearon commented on #556
@Jiansen Could you take a look at this? Curious if you have ideas.

[2016-09-02 23:05] gaearon commented on #556
The good part is this never worked before, so at least it’s not a regression.

[2016-09-03 07:01] jonikorpi opened #558 "manifest.json <link hrefs> turn into [object Object]"
(Using 0.4.0)

If I add this:
`<link rel="manifest" href="./src/manifest.json">`

It turns into this in dev:
`<link rel="manifest" href="[object Object]">`

And into this after build:
`<link rel="manifest" href="[object" object]="">`

(Found a few issues talking about serving manifest.json but nothing that specifically mentions this happening.)

[2016-09-03 08:18] JamieDixon opened #559 "Question: injectEnvironment can only be called once - Jest"
I believe this issue will be fixed when React 15.4 is released as per https://github.com/facebook/react/issues/7386#issuecomment-239635611

I just want to check this is indeed the case and that there's no another issue causing this error that could be fixed in create-react-app.

**How to reproduce:**

1) `npm install velocity-react`
2) Create a component that utilized `velocity-react`:

[code]

3)

[2016-09-03 09:07] gaearon commented on #559
Yes, 15.4.0 should fix it, this is indeed a React issue.

[2016-09-03 09:07] #559 closed

[2016-09-03 09:26] gaearon commented on #558
This happens because for JSON, we use `json-loader` (which gives you an object).

We can definitely treat `manifest.json` specially by convention. To do this, you can send a PR matching that exact name, and using `file-loader` instead of `json-loader`. We already have special handling for `favicon.ico` so you can look at it for inspiration. This entry would need to go before the `json-loader` in t

[2016-09-03 09:26] gaearon commented on #558
cc @andreypopp @mxstbr

[2016-09-03 09:30] gaearon opened #560 "Fix Travis"
I think I broke in https://github.com/facebookincubator/create-react-app/commit/c43b249258bbd482733b6d314c2c658ab13c34e1. My change was correct for release script but it broke something in e2e. I'm going on a vacation so I'd appreciate someone taking a look.

[2016-09-03 11:34] Jiansen commented on #556
I will take a look.  `@remove-on-publish-begin/end` should remove local dev only code.

Before we had `@remove-on-publish/eject-begin/end`, we use path compare to determine if CRA is running in local dev, as an npm module, or after eject.  We should hopefully be able to remove those checks now.

[2016-09-03 11:36] Jiansen commented on #560
I can take a look.

[2016-09-03 11:52] gaearon commented on #560
I think I fixed it in #561

[2016-09-03 11:56] #560 closed

[2016-09-03 11:58] gaearon commented on #556
Thanks!

[2016-09-03 12:17] jvorcak commented on #558
@gaearon I want to start contributing and I'm looking for a first bug to start with now that I have more time. I could take this one.

[2016-09-03 12:19] gaearon commented on #558
Sounds great, @jvorcak you have it!
I will be away on a vacation but @mxstbr or @eanplatter might be able to review your PR.

[2016-09-03 12:20] gaearon commented on #558
#428 shows a similar approach where we handle a specific filename differently.

[2016-09-03 12:23] tizmagik commented on #290
@gaearon #563

[2016-09-03 12:26] FranciscoGileno opened #564 "Updating from 0.2.3 to 0.4.0 Html Webpack Plugin - ReferenceError: window is not defined"
I tried to update to 0.4.0 following the changelog, and got this after "npm start"

Have I done something wrong?

OBS: I am using Windows 10 and Git Bash as my Terminal.

--------------------------------
Html Webpack Plugin:
  ReferenceError: window is not defined

  - addStyles.js?:14 eval
    C:\Projects\cantina-self-service\control-panel/~/react-scripts/~/style-loader/addStyles.js?:14:30

  - a

[2016-09-03 12:26] eMerzh commented on #28
i'm in the same kind of issue than @timarney , we have like sentry dns ... or api url  or other config key that depend on the server / env. It would be cool to be able to "load" a and external js/json/something file to "configure" our app at run time.

[2016-09-03 12:29] gaearon commented on #28
You have access to environment variables. This is documented in the usage guide in this repo. Does that help?

[2016-09-03 12:31] gaearon commented on #564
Can you show what your `index.html` looks like?

[2016-09-03 12:38] FranciscoGileno commented on #564
index.html
-----
[code]

Aaah.. probably is the script / stylesheet pointing to node_modules right?

[2016-09-03 12:39] eMerzh commented on #28
@gaearon yes I saw it... but it seems to help only for the dev version.. not for the builder one... Or I'm missing something?... I don't want those config variables into my compiled bundle... Because it change with every deployment

[2016-09-03 12:40] jvorcak commented on #558
@gaearon do you think I should keep an example of Manifest.json in the project?

[2016-09-03 12:47] gaearon commented on #564
Yea, this was not really supported.
Does

[code]

in `src/index.js` instead work for you?

[2016-09-03 12:53] FranciscoGileno commented on #564
It worked! Thanks.

[2016-09-03 12:54] #564 closed

[2016-09-03 13:02] gaearon commented on #564
Sent a PR to `react-mdl` to document this: https://github.com/tleunen/react-mdl/pull/388.
Also documented here: https://github.com/facebookincubator/create-react-app/commit/6da29550de6b910274a4792b24959f723c122a06.

[2016-09-03 13:05] gaearon commented on #28
Do you mean that you want to deploy the same build output to different servers, and making a separate build for each environment separately would be a pain?

[2016-09-03 14:40] saintsjd commented on #462
I am working on a pull request for this. But,  instructions in CONTRIBUTING.md in the section `Setting Up a Local Copy` are not working. Any ideas?

Here is what I am doing...
[code]

This gives an error

[code]

[2016-09-03 14:43] eMerzh commented on #28
Hum... Didn't think about that... might be possible but not really practical... And the tooling to make the multiple builds for dev/prod has to be made...
But wat if i want to distribute as compiled bundle but still with configurable parts...

PS: I totally understand and share your quest to keep it simple stupid and avoid any config. Just sharing my current workflow/issues

[2016-09-03 14:55] gaearon commented on #28
You could post-process HTML for this [like described here](https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#generating-dynamic-meta-tags-on-the-server).

[code]

You can replace `// $CONFIG` with something like `window.CONFIG = { something: 42 }` depending on environment before deployment, and you can have a fallback in your code if `window.CONFIG` doesn’t exist

[2016-09-03 16:11] fleischie commented on #441
`losf` is no standard command in every Linux distro (not on mine anyways). `ss` should be installed though. (Tested on fairly updated Arch, Debian and Ubuntu Distros.)

[2016-09-03 16:11] chall8908 commented on #263
Something that worked for me was changing this line in config/webpack.config.dev.js:
`require.resolve('webpack-dev-server/client') + '?/',`
to
`require.resolve('webpack-dev-server/client') + '?http://0.0.0.0:0/',`

After that, the requests actually all went through and it seems to be working correctly.

[2016-09-03 16:37] gaearon commented on #263
If you see this *normally* please file an issue describing your setup.
I see these errors when I stop the server (which is expected).

My issue is about the noisy reconnect behavior.
If you actually can't connect, that's a different problem, needing a separate issue.

[2016-09-03 17:07] saintsjd commented on #462
I think I found a workaround.

[code]

[2016-09-03 17:36] gaearon commented on #462
Oops, sorry, I broke this.

[2016-09-03 18:15] gaearon commented on #462
@saintsjd Should be fixed on master with #566.

[2016-09-03 18:46] gaearon commented on #290
We support JSX extension since 0.4.1 even though we [don’t recommend](https://github.com/facebookincubator/create-react-app/issues/87#issuecomment-234627904) it.
Read the [release notes](https://github.com/facebookincubator/create-react-app/releases/tag/v0.4.1).

[2016-09-03 18:46] #290 closed

[2016-09-03 18:47] gaearon commented on #87
FYI we support JSX extension since 0.4.1 even though we [don’t recommend](https://github.com/facebookincubator/create-react-app/issues/87#issuecomment-234627904) it.
Read the [release notes](https://github.com/facebookincubator/create-react-app/releases/tag/v0.4.1).

[2016-09-03 18:49] gaearon commented on #287
FYI we support JSX extension since 0.4.1 even though we [don’t recommend](https://github.com/facebookincubator/create-react-app/issues/87#issuecomment-234627904) it.
Read the [release notes](https://github.com/facebookincubator/create-react-app/releases/tag/v0.4.1).

[2016-09-03 19:02] gaearon commented on #11
Closing as this thread has gotten pretty long, and now it’s easier to address concerns on case by case basis.

[2016-09-03 19:02] #11 closed

[2016-09-03 19:02] gaearon commented on #30
There’s been some awesome work in this direction, and it continues.
Closing as this issue is not very helpful by itself.

[2016-09-03 19:02] #30 closed

[2016-09-03 19:03] gaearon commented on #35
Closing for no interest.

[2016-09-03 19:03] #35 closed

[2016-09-03 19:04] gaearon commented on #13
I’m pretty sure we’ll want to do this at some point, but let’s wait for first codemod to turn up, and then think about it.

[2016-09-03 19:04] #13 closed

[2016-09-03 19:05] gaearon commented on #28
I’m closing because I’m coming to the conclusion that this is either unnecessary or out of scope of CRA. Currently we give a strong guarantee that if a file changes, browser cache will be busted. We also give a single way to include images and other assets. I would prefer to keep it this way, and address other use cases on a case by case basis (e.g. #558).

[2016-09-03 19:05] #28 closed

[2016-09-03 19:06] gaearon commented on #24
This would be cool but currently out of scope. We may revisit this in the future.

[2016-09-03 19:06] #24 closed

[2016-09-03 19:07] gaearon commented on #48
Closing for lack of interest. If somebody wants to do this, please go ahead and submit a PR!

[2016-09-03 19:07] #48 closed

[2016-09-03 19:08] gaearon commented on #53
This was in #257.

[2016-09-03 19:08] #53 closed

[2016-09-03 19:09] gaearon commented on #67
Closing for a lack of a specific proposal. It’s not clear how this would work with relative imports so unless somebody prototypes this, I likely won’t be working on it.

[2016-09-03 19:09] #67 closed

[2016-09-03 19:10] saintsjd commented on #462
Thanks a ton @gaearon! Confirmed. The fix works great on my end.

[2016-09-03 19:36] gaearon commented on #72
This is mostly fixed now. I updated instructions in #567.
`fbjs` is the only remaining issue there and it isn’t strictly related to CRA setup so closing.

[2016-09-03 19:40] gaearon commented on #55
Closing for now as no specific proposals that seem worth implementing.

[2016-09-03 19:40] #55 closed

[2016-09-03 19:41] gaearon commented on #383
I feel that this is out of scope, especially now that it’s so simple to deploy to GH pages with `/docs` folder.

[2016-09-03 19:41] #383 closed

[2016-09-03 19:41] #90 closed

[2016-09-03 19:41] #92 closed

[2016-09-03 19:42] gaearon commented on #93
Closing for now. CSS hot reloading is there, React hot reloading may come one day. 😉

[2016-09-03 19:42] #93 closed

[2016-09-03 19:42] gaearon commented on #98
Meh, probably not worth it.

[2016-09-03 19:42] #98 closed

[2016-09-03 19:43] gaearon commented on #134
https://github.com/webpack/webpack-dev-server/pull/496 was merged, we should update WDS after a patch.

[2016-09-03 19:44] gaearon commented on #164
We will likely do this as part of #210 whenever that effort is revived.

[2016-09-03 19:44] #164 closed

[2016-09-03 19:44] gaearon commented on #218
Closing for now as doesn’t seem to catch on.

[2016-09-03 19:44] #218 closed

[2016-09-03 19:45] gaearon commented on #246
We consistently use `/static` for any assets, and we serve `index.html` or `proxy` fallback for any other URL depending on whether you have `proxy` and whether `accept` header contains `text/html`. Seems pretty consistent to me.

[2016-09-03 19:45] #246 closed

[2016-09-03 19:46] gaearon commented on #356
For now we’ll stick with `src` meaning “folder where JS gets processed by Babel”.

[2016-09-03 19:46] #356 closed

[2016-09-03 19:47] gaearon commented on #372
Closing, as we’re downplaying it in the docs, and will eventually highlight it when it’s more mature.

[2016-09-03 19:47] #372 closed

[2016-09-03 19:48] gaearon commented on #385
What do other tools (ember cli, angular cli) do?

[2016-09-03 19:49] gaearon commented on #393
I feel like we’re going to enter a forest of subtle issues if we do this. It’s weird to treat React specially in this regard. So I’m inclined to close unless more people ask for this.

[2016-09-03 19:49] #393 closed

[2016-09-03 19:49] #408 closed

[2016-09-03 19:50] gaearon commented on #472
@Urthen Any luck so far?

[2016-09-03 19:50] #536 closed

[2016-09-03 19:51] #513 closed

[2016-09-03 19:56] mweststrate commented on #214
The MobX docs now have a dedicated section listing how to use or avoid using decorators. I hope that helps avoid confusion in the future! http://mobxjs.github.io/mobx/best/decorators.html

[2016-09-03 21:02] userpixel opened #568 "Support Babili for better build optimization"
For a smaller production output for  `npm run build`:

[2016-09-03 21:31] gaearon commented on #568
Please see https://github.com/facebookincubator/create-react-app/issues/496. We will likely switch to it eventually but not before it’s stable. We only want to recommend stable software to people using Create React App so they don’t need to scratch their heads at bugs.

[2016-09-03 21:31] #568 closed

[2016-09-03 22:38] vjeux opened #569 "Remove console "spam""
<img width="517" alt="screen shot 2016-09-03 at 3 36 56 pm" src="https://cloud.githubusercontent.com/assets/197597/18227958/4c6e528e-71ec-11e6-94b8-b5e01f204b22.png">

My stance on logging is that if there isn't any error, you should have a clean one. Otherwise your console is being spammed by useless things you start ignoring it which is the worst :(

Would be nice to clean all the log statements

[2016-09-03 22:45] gaearon commented on #569
Yea, support for this was just merged 8 hours ago: https://github.com/webpack/webpack-dev-server/pull/579. 😄
Waiting for a release.

[2016-09-03 22:46] vjeux commented on #569
<3

[2016-09-04 05:03] abhinavkumar940 opened #570 "Not able to create new app"
Just installed it on OSX 10.10.5

tried creating a new app by
`create-react-app hello-world`
got this

/usr/local/lib/node_modules/create-react-app/node_modules/path-exists/index.js:2
const fs = require('fs');
^^^^^
SyntaxError: Use of const in strict mode.
    at Module._compile (module.js:439:25)
    at Object.Module._extensions..js (module.js:474:10)
    at Module.load (module.js:356:32)
    at

[2016-09-04 05:43] acornejo opened #571 "escape hatch"
any thoughts about adding an escape hatch that allows users to do minor tweaks to the eslint or babel preferences without actually ejecting?

it is a shame to eject to change a dangling comma linting preferences or to add a babel plugin to use relay (I am not looking for solutions for these two specific cases, these are both hypothetical examples).

the create-react-app philosophy of providing opi

[2016-09-04 06:00] gaearon commented on #570
Can you please specify your Node version?

[2016-09-04 06:03] gaearon commented on #570
As noted in README we only support Node 4 and higher. Please update your Node version, the project won't work without it.

We should however make sure that CLI doesn't just throw, and print a descriptive error on earlier versions instead. I think this is a regression because we added a dependency on `path-exists` which seems to need Node 4 itself. So we need to replace this dependency in global CL

[2016-09-04 06:08] gaearon commented on #571
The linting use case is not very clear to me. We don't include any stylistic rules on purpose so people don't argue over them. We only include rules that usually indicate actual mistakes, not style. If you see an annoying rule with false positives please file issues.

This has been discussed many times before. If you search for "plugin" in the issues you will find 5 or 6 discussions where I explai

[2016-09-04 06:08] #571 closed

[2016-09-04 06:09] gaearon commented on #571
This is going to introduce massive problems because people like shiny things and will massively abuse these options. Then tools will break, like they used to, but we wouldn't be able to fix them because we don't have control over complete experience anymore. This defeats the point of the project which is to provide a setup that just works.

[2016-09-04 06:47] justin808 opened #572 "Any interest in providing Twitter Bootstrap (bootstrap-loader) as an option?"
I'm one of the maintainers of https://github.com/shakacode/bootstrap-loader.

Would there be any interest in this as an option?

[2016-09-04 06:50] acornejo commented on #571
thanks or the prompt reply! the case for linting it was not so much to remove rules, but to add new ones to enforce certain styles.

I did see plenty of discussions about babel plugins but most of them seemed centered about adding a specific plugin (most often decorators) instead of adding a mechanism that allows users to add arbitrary plugins.

in any case, I got my answer, and it makes sense, th

[2016-09-04 07:10] gaearon commented on #571
I can see the value in enforcing style but I don't think lint warnings are a great way to do this. Ideally the person would just pick a style, and if there is a violation, there is an interactive prompt saying something like "Do you want to autofix the style issues?". ESLint already includes autofix functionality for many rules so we could figure out a way to do this if somebody is willing to inve

[2016-09-04 07:15] gaearon commented on #572
Can you explain the difference between this project and React Bootstrap, and why would somebody choose one over the other?

[2016-09-04 07:27] justin808 commented on #572
Our project complements react-bootstrap usage. We provide the bootstrap styling support, including support for sass customization and CSS modules, with a simple config file.

It's peanut butter and jelly.

[2016-09-04 07:37] sotojuan commented on #570
Did you mean "with something that works on Node 4 and below"?

If so, [`path-exists`](https://github.com/sindresorhus/path-exists/blob/master/index.js) is a very simple module that we can probably write ourselves in ES5 and just put it somewhere as a file to require, if that makes sense.

[2016-09-04 07:54] donpark opened #573 "version 0.4.1 serves non-HTML files as text/html"
my index.html file needs to load some CSS and JS files directly which worked fined in previous releases but not with `react-scripts` version `0.4.1` because they are served with wrong content-type `text/html`.

These files cannot be loaded using `import` statements in JS files due to various issues caused by some obscure differences between two approaches.

[2016-09-04 10:27] gaearon commented on #573
Please see 0.4.0 release notes and description of the breaking change. This only worked before by accident and was never supported (for example it only worked in development but not in production). If you need this feature please raise an issue explaining why in detail, preferably with an example project. This was also mentioned in 0.4.0 release notes breaking change description. Thank you!

[2016-09-04 10:27] gaearon commented on #573
(You can find release notes either in changelog.md or on GH Releases page.)

[2016-09-04 10:28] gaearon commented on #570
Sounds good, yes this is what I meant.

[2016-09-04 10:45] gaearon commented on #573
As a workaround, you can upload those files to your server or serve them locally from another host. I understand this is not ideal, but to help you I would need to know what kind of incompatibilities don't let you import those files through the module system.

I'm also curious how you handled them in production. Did you specifically copy them as an additional build step? Did you manually bump vers

[2016-09-04 10:46] gaearon commented on #573
Relevant change for some context: https://github.com/facebookincubator/create-react-app/pull/551

[2016-09-04 10:57] gaearon commented on #572
I see. I think we probably won't support this directly. Instead I would encourage people to create projects that *use* bootstrap-loader to customize CSS, and then publish the resulted compiled CSS as an npm package. Then CRA based projects can consume this package without being burdened by the configuration.

[2016-09-04 10:57] #572 closed

[2016-09-04 11:52] abhinavkumar940 commented on #570
That was indeed the issue. Upgraded to 6.5 and it now works.
Thank you for the prompt response, guys.

[2016-09-04 11:52] #570 closed

[2016-09-04 13:05] donpark commented on #573
Although I've written many React apps, this is my first 'create-react-app' and it hasn't been deployed yet although I've gone as far as running production build in a docker container without problems before.

First trouble I had was with a jquery-based library, knob.js, which complained about jQuery missing although I've imported it just before. I backed tracked to 0.3.1 immediate to keep things m

[2016-09-04 14:13] cpojer commented on #549
@martinschayna can you upgrade to Node 6 where it is available by default? I don't think we should change how node is invoked; the flags are there for a reason (the feature is experimental in the version of node you are using).

[2016-09-04 14:30] gaearon commented on #549
Ah, I didn't realize it just works in Node 6. Let's close then.

[2016-09-04 14:30] #549 closed

[2016-09-04 14:31] gaearon commented on #570
@sotojuan Would you be interested in sending a PR to make CLI work on earlier nodes, at least up to the point where it detects the version?

[2016-09-04 14:35] pungggi opened #574 "[WDS] Disconnected! with option set to HTTPS"
I am using the new HTTPS option to test locally from https browser to https server.
the comunication between client and server works but i get an error in the browser console>

abstract-xhr.js:132 GET https://localhost/sockjs-node/info?t=1472999253306 net::ERR_CONNECTION_REFUSEDAbstractXHRObject._start @ abstract-xhr.js:132(anonymous function) @ abstract-xhr.js:21
client:70 [WDS] Disconnected!sock

[2016-09-04 14:36] gaearon commented on #573
I'm not saying you should necessarily eject. I'm saying the feature was broken and it we want to support it, we need to fully understand a range of use cases for it. So I'd like to ask you to share a code example that worked in 0.3.0 both for development and production but broke in 0.4.x so that I both understand your use case better, and can test a complete new solution if we add one for 1.0. If

[2016-09-04 14:39] gaearon commented on #574
@dceddia Can I ask you to investigate this?

[2016-09-04 14:46] mattiamanzati commented on #142
@huiwang @mike-ward I've been working a bit and reasoning about this; i've started a PR discussion, feel free to test it and give your feedback. I'll do my best to keep the PR up to date with the master branch until most of create-react-app features will be settled and TypeScript support will be considered!
Atm it's a bit unstable, that's why feedback is welcome, so please report any problem with

[2016-09-04 15:13] donpark commented on #573
Sadly, I can't share my project but I can point out which files I had trouble using `import` with:

* jQuery (imported directly instead of npm module)
* [jQuery-Knob](https://github.com/aterrien/jQuery-Knob)

If I can find time today, I'll retry 0.4.1 again to explore the import issue. I don't know how much trouble resource loading from index.html file is but I think it's something that's worthwhi

[2016-09-04 17:44] sebbor1 opened #576 "create-react-app on Ubuntu Server 16.04.1 LTS"
Is the way to run it on Ubuntu Server 16.04
I try to run it, but have an error:

`root@ubuntu:/mnt/hgfs/Apps# create-react-app test
Creating a new React app in /mnt/hgfs/Apps/test.

Installing packages. This might take a couple minutes.
Installing react-scripts from npm...

test@0.1.0 /mnt/hgfs/Apps/test
└── (empty)

npm WARN optional Skipping failed optional dependency /react-scripts/fsevents:
np

[2016-09-04 19:55] gaearon commented on #576
This looks like either an npm bug or a network issue. I would recommend to update npm and try again.

[2016-09-04 20:05] dceddia commented on #574
@gaearon Taking a look...

I can reproduce it locally against 0.4.1. However, I don't see this error with 0.3.0-alpha (which is where I originally tried out this HTTPS feature and used it successfully for a couple weeks). Maybe something changed with the how socket connection works?

[2016-09-04 20:38] nycoliver opened #577 "Script tags with relative url unexpected token <"
Adding a script tag with a relative src throws `SyntaxError: Unexpected token <`

To reproduce, `create-react-app` then add this line to index.html: `<script type="text/javascript" src="test.js"></script>`

File should look like this:
[code]

`npm start` and chrome will throw `index.js:1 Uncaught SyntaxError: Unexpected token <`

If I replace the src with an absolute url, for example https://npmcd

[2016-09-04 20:41] mars opened #578 "Compiled config vs runtime config"
💚 The [custom environment variables](https://github.com/facebookincubator/create-react-app/blob/v0.2.3/template/README.md#adding-custom-environment-variables) feature.

-----

**Update February 2017:** We devised a solution for runtime config on Heroku. [create-react-app-buildpack](https://github.com/mars/create-react-app-buildpack) now supports [runtime environment variables](https://github.com/m

[2016-09-04 21:24] dceddia commented on #574
It looks like it has something to do with how the `webpack-dev-server` client determines the URL. In v1.15.1:

https://github.com/webpack/webpack-dev-server/blob/v1.15.1/client/index.js#L62
[code]

In v1.14.1:

https://github.com/webpack/webpack-dev-server/blob/v1.14.1/client/index.js#L62
[code]

Changing that one line to the old `protocol: urlParts.protocol` fixes this issue. That's not terribly

[2016-09-05 06:20] rogeliog commented on #365
@Jiansen, yeah, if you want to add the note for Travis I think that it makes sense and you should take it 😄  that is more than fine with me 👍 We can worry about adding notes for other CIs when the need comes :)

[2016-09-05 08:46] andreypopp commented on #558
Would be nice to find a way to configure html-webpack-compiler's loaders separately. That way we don't have confusing special cases added to main config (what if one would want to require the same resource both from `index.html` template and app code?). Also probably the only loader needed for html-webpack-plugin's compiler is `file-loader, right?

[2016-09-05 09:29] robcaldecott opened #579 "npm test fails with assets imported from node_modules folder"
I have published a number of in-house components that package up CSS and images so they can be included in a Webpack project like this:

[code]

This has worked great with CRA and my apps run and build correctly.

However, any attempt to test code that includes CSS/images in this way with CRA 0.4.1 will fail - almost as if testing treats anything imported from `node_modules` as JavaScript.

e.g. w

[2016-09-05 09:57] kachkaev opened #580 "Suggest users to explore alternatives interactively"
I came across a pretty nice interactive list of react-based starter kits and I think that something like this should be provided to people who grow out of `create-react-app` and want to explore the alternatives.

  http://andrewhfarmer.com/starter-project/
[![screenshot from 2016-09-05 10-37-07](https://cloud.githubusercontent.com/assets/608862/18243793/c5c21bfc-7354-11e6-953e-fadcc2a18f5d.png)](h

[2016-09-05 10:22] jvorcak commented on #558
@andreypopp I totally agree with that. I've spent some time investigating how that could be done and I got nowhere. There will be other files (apple icons, etc) that will be treated in a same way so I think more general solution needs to be proposed. I'll investigate whether `html-webpack-compiler` doesn't allow something like this.

[2016-09-05 10:30] robcaldecott commented on #579
On further investigation this appears to be a problem with **scopes**. We are publishing packages to a private npm server and use scoping to avoid any clashes and to indicate this is a special package. So a sample package name may be:

`@mycompany/my-component`

https://docs.npmjs.com/private-modules/intro#setting-up-your-package

When you `npm install` the above it will end up in `node_modules/@m

[2016-09-05 10:33] gaearon commented on #579
Can you please file this in Jest repo and link to this issue? Thank you!

[2016-09-05 10:34] gaearon commented on #579
cc @cpojer

[2016-09-05 10:35] gaearon commented on #574
Please file an issue with WDS. We can release a path that rolls our version of it back if this takes time to fix.

[2016-09-05 10:39] gaearon commented on #577
What are you trying to do? This was never officially supported. It accidentally worked in versions before 0.4.0 but only worked in development.

Normally you should just `import` scripts instead in `src/index.js`. If there is some reason why this doesn't satisfy your use case, please describe it here so we can have a better idea of your use case and can address it in a future version. Thanks!

Rel

[2016-09-05 11:28] gaelduplessix opened #581 "Offer a way to import files relative to `src/`"
Not really sure about this, but I find it quite annoying to have imports that look like:

[code]

Relative paths are good for resources that will always live next to the calling file but when referring to shared helpers/modules I find them quite counter-productive.

It would be possible to configure webpack so we could import files from `src/` just like `import 'testUtils/myMock` or maybe `src/tes

[2016-09-05 11:38] BenoitAverty opened #582 "Why are "describe" blocks in tests not recommended ?"
Hi,

I'm curious about this sentence in the docs :

Why are describe blocks not recommended? Or is this just a "neutral" not recommended?

Note that I don't particularly disagree with it, it's just that I personally like nested tests and I'm open to change my habits if there are drawbacks to nested tests.

[2016-09-05 12:15] gaelduplessix opened #583 "Cannot import a jest.mock() when running tests with --coverage"
### Steps:
- Create a new app: `create-react-app my-app`
- Create a new file that does a `jest.mock()`, ex:

#### `src/mock.js`
[code]

- Import this file in App.test.js:

#### `src/App.test.js`
[code]

- Run the tests with `--coverage`:
[code]

I get this error:
![image](https://cloud.githubusercontent.com/assets/2292908/18247367/64793056-7372-11e6-97a3-d13892a8de6f.png)

I can't find a workaroun

[2016-09-05 12:15] gaearon commented on #582
Nested blocks often lead to confusing code. We don't have a strong opinion on this though.

With some other runners/reporters describe-less it() blocks may not be very usable but this isn't a problem because it prints the filenames. So we encourage folks to try describe-less first.

[2016-09-05 12:15] #582 closed

[2016-09-05 12:21] gaearon commented on #581
We already allow this if you explicitly set `NODE_PATH` environment variable. So, `NODE_PATH=./src npm test` should work.

We won't diverge from Node resolution mechanism by default because there are very confusing corner cases. Like having a directory with the same name as a dependency. People have been burned hard over this in the past.

You have two other options too. You can publish these help

[2016-09-05 12:21] #581 closed

[2016-09-05 12:26] gaearon commented on #583
Not sure if bug or not but we tagging this as something to fix.

[2016-09-05 12:43] gaelduplessix commented on #581
Think it's a bit heavy to publish a module but I get the problem with conflicting names. It wouldn't be an issue if we would only catch names that start with `src/` but I agree that diverging from default Node resolution mechanism doesn't feel right.

No clear solution for this then :(

[2016-09-05 12:57] gaearon commented on #581
Is setting NODE_PATH or setting up a global in setupTests.js not working for you?

[2016-09-05 13:05] gaelduplessix commented on #581
It's working for tests but not for re-usable modules/helpers.

The directory structure of a project can become quite deep, let's say a file `./routes/posts/create/FormContainer.js` uses `./entities/posts.js`, I would prefer write `import { ... } from "src/entities/posts"` rather than `../../../entities/posts`. Not just because it breaks if I move `FormContainer.js` but also because it's more reada

[2016-09-05 13:06] fson commented on #579
The problem seems to be in the `moduleNameMapper` Jest configuration used in create-react-app. It only matches paths consisting of alphanumeric characters, so files with special characters like `@` are not correctly stubbed in the tests. I'm making a pull request to fix this.

[2016-09-05 13:10] gaearon commented on #579
Thanks @fson!

[2016-09-05 13:15] gaearon commented on #581
I don't understand. Setting NODE_PATH will give you precisely that. Have you tried it?

[2016-09-05 13:19] gaearon commented on #581
1. Put `NODE_PATH=./src` before every script command in package.json
2. Now you can write `from 'entities/posts'` assuming `entities` exists inside `src`.

[2016-09-05 13:28] gaelduplessix commented on #581
Indeed, that works, thanks!

I just didn't like adding `NODE_PATH=./src` before every command but it's a tradeoff `¯\_(ツ)_/¯`

[2016-09-05 13:48] gaearon commented on #581
Yeah. If you have suggestions on how to make this better while preserving the opt-in nature, please file an issue with your proposal. Maybe we could have a top-level directory called `packages` whose subfolders are implicitly resolved.

[2016-09-05 13:55] iRoachie opened #585 "Can't import image from src"
So I have a list of reviews each with an logo field which is a path to the image. The images are in an images folder in my src folder.

Example
`logo: 'src/images/logos/zoosk-logo.png',`

I have a `Reviews` component which renders out `Review` components from the list passing the review object as a prop.

In the `Review` component I then display the logo in an image tag. Like so:
[code]

This work

[2016-09-05 13:59] schuchowsky commented on #585
I was looking for this right now. Maybe create-react-app could have a default img or assets folder to move it's content into the build file?

[2016-09-05 14:19] fson commented on #585
This feature was discussed in #28, but the previous conclusion was that it is out of scope for Create React App.

Would copying the files to the build folder with a separate script work for your use case?

[2016-09-05 14:28] iRoachie commented on #585
@fson Oh I see, i thought it could've been done without ejecting. Copying the files to the build folder would be the better approach for me. Any material you could point me to that would allow me to do this?

[2016-09-05 14:31] gaearon commented on #585
No, you don't need to eject for this. Just import those images wherever you create this object.

[code]

Then pass this object down as you like. Importing images can be done in any file.

[2016-09-05 14:33] gaearon commented on #585
Since 0.4.0, it shouldn't. (As you noted it was broken in production in the first place.) Please use imports in JS instead, or please explain why JS imports don't satisfy your use case. Thanks!

[2016-09-05 14:36] gaearon commented on #585
To clarify. Your mental model shouldn't be "I need to import files right where they will be used" (like in Inage components). Your mental model should be "There should never be string literals in my code meaning absolute URLs to assets because build system won't know to include them. So every time I want to write a string literal for image URL, I should instead write an import. The result of that

[2016-09-05 14:39] iRoachie commented on #585
Thanks a lot @gaearon i'm actually coming from an angular background so i'm new to react. Thanks for guiding me on the right path. Solution works !

[2016-09-05 14:42] gaearon commented on #585
This is not really React-specific by the way. It's just that we think automatic bundling of assets with content hashes and compile-time checks for missing files is valuable enough that we ask people to use this mechanism for importing instead. The feature is more related to Webpack, not to React.

Is there something in Usage Guide we could change to make this use case clearer?

[2016-09-05 14:49] iRoachie commented on #585
Oh i guess that's true. The docs are great man, just a new way of thinking for me since i'm used to referencing static assets the more traditional way. Thanks again

[2016-09-05 14:53] schuchowsky commented on #585
@gaearon @iRoachie worked like a charm for me too. Much like @iRoachie, I'm also coming from an Angular background, where I didn't use even npm or webpack. Other day I was trying to do that with [file-loader](https://github.com/webpack/file-loader).. Webpack feels confusing for newcomers (at least for me).

Maybe a small section about importing static files would add a lot of value to create-react

[2016-09-05 15:19] gaearon commented on #585
I think there is a section on "adding images" in usage guide. Is there a way to make it more helpful?

[2016-09-05 16:24] schuchowsky commented on #585
Yes, the section is there. I think I was so focused on Webpack loaders that couldn't find it. It's very clear, can't be more helpful than that. Thanks.

[2016-09-05 16:27] iRoachie commented on #585
Well I guess you could make a note saying that it's the only way of referencing local files.

[2016-09-05 16:42] aaronplanell opened #586 "Proxy works with 'npm start' but not with the build version"
Hi!

I have made a _Data Fetching_ to a GraphQL server using the new "**proxy**" configuration of create-react-app 0.3.0 and... It works perfectly! Except in the build version :/

What I mean is, if I execute `npm start` the browser opens a tab with all the data. That's OK.

But, if I run:
[code]
And I open the URL [http://localhost:9000](http://localhost:9000) I don't have data. And, in the conso

[2016-09-05 16:51] aaronplanell commented on #576
Maybe is the version of node. You're using the v4.2.6. I'm using the v6.3.1 with Ubuntu 16.04 and I have no problem with the create-react-app. Can you upgrade it using nvm and try again?

[2016-09-05 17:10] alwint3r opened #587 "Failed to import mqtt module after upgrading react-scripts to 0.4.1"
I was using [mqtt](https://npmjs.com/package/mqtt) module with react-scripts v0.2.3 to build some sort of IoT web app. Everything was fine until I upgraded the react-scripts to v0.4.1. There was an error from the developer console:

`Uncaught Error: process.binding is not supported` from `browser.js` at line 173.

Removing the `import mqtt from 'mqtt'` or `require('mqtt')` solve the issue, but tha

[2016-09-05 17:48] iRoachie commented on #527
@gaearon What if I want to have the site at multiple places? Would I have to keep changing the homepage and run build??

[2016-09-05 18:01] gaearon commented on #527
The problem with what you're suggesting is that this breaks client sure routing. The vast majority of newly built React apps have client side routing. Many people new to that idea get confused when their JS stops working because they loaded `localhost:3000/todos/active` and the JS is requested from `localhost:3000/todos/active/static/js/bundle.js`. This obviously won't work but this is exactly wha

[2016-09-05 18:06] iRoachie commented on #527
@gaearon Thanks for the tip. A good set of people also use it for parts of an application and not necessarily the entire application or in subfolders. Just to float everyone's boat I think we can put that workaround './' in the README so that they know.

[2016-09-05 18:15] gaearon commented on #527
If it works, sure, feel free to send a PR to usage guide!

[2016-09-05 18:35] gaearon commented on #576
I'm going to close because this is not something we could fix either way. Please file an issue with npm if it persists. Sorry we couldn't help you!

[2016-09-05 18:35] #576 closed

[2016-09-05 18:43] gaearon commented on #586
It is only intended for development. (I wanted to call it `devProxy`, cc @vjeux :wink: )

This feature was added for people who serve their frontend apps from `/` in production and serve the backend APIs from the same host. Like here: https://www.fullstackreact.com/articles/using-create-react-app-with-a-server/.

In this scenario it's inconvenient to separate them in development because they're go

[2016-09-05 18:46] gaearon commented on #585
@iRoachie Would you like to send a PR to make it more helpful?

[2016-09-05 19:28] JaKXz opened #590 "Enable CSS sourcemaps in development"
Hi! Firstly, of course, thank you for this amazing project! 👏

I've seen the comments on sourcemaps: #109, #139, #494, #343, etc. but didn't see one about enabling CSS sourcemaps. I thought I'd make a PR first but I wanted to discuss first and get to grips with this repo structure.

Since there aren't breakpoints to worry about, this could be a very simple enhancement, e.g:

[code]

where `const i

[2016-09-05 20:03] gaearon commented on #590
Sounds perfectly reasonable. I would expect Webpack to already do it in DEV mode, does it not? Do you know why?

[2016-09-05 20:06] JaKXz commented on #590
This is what I'm seeing ATM but I couldn't tell you why it's happening other than the [config not being in place](https://github.com/facebookincubator/create-react-app/blob/master/config/webpack.config.dev.js#L119):

![screenshot 2016-09-05 16 04 23](https://cloud.githubusercontent.com/assets/2642545/18256361/6e87ee4c-7382-11e6-83f6-6caf45babc5b.png)

[2016-09-05 20:29] cpojer commented on #583
this is definitely a Jest bug. We'll fix it.

[2016-09-05 20:42] jimniels commented on #585
I'm a little unclear on this...I followed the README to [issue #28](https://github.com/facebookincubator/create-react-app/issues/28) about *possibly* adding a static assets folder, and then found this issue. After reading the above comments, i'm still unclear on what I'm supposed to do in my use case. Let me explain:

I have folders of logos for sports teams, organized by league. This results in M

[2016-09-05 20:47] cmmartin commented on #558
Why add special rules for everyone's obscure use cases to the config when you can just use the [inline loader syntax](https://webpack.github.io/docs/using-loaders.html#usage) in your application?

[code]

[2016-09-06 02:03] nycoliver commented on #577
I'm using a module (js-ipfs-api) which requires fs shims to run in browser and would prefer not to eject. I'll host it remotely for now and wait for its webpack incompatibilities to be resolved.

[2016-09-06 05:13] mrzepinski opened #592 "Webpack warning: There is another module with an equal name when case is ignored"
I'm using `0.4.1` version and I get:

[code]

when I run the app by `npm start`

[2016-09-06 08:51] gaearon commented on #592
Can you publish a minimal project reproducing this issue? Also some details would be helpful: your OS and project location on the disk.

[2016-09-06 08:52] gaearon commented on #577
Let's keep this open for now. Maybe we can configure Webpack to include more sensible shim for fs. I've seen this problem a couple of times and I think there was some solution.

[2016-09-06 08:57] mrzepinski commented on #592
@gaearon It'll be hard to extract some code to publish it here. I can't use this code outside of my project. It's even simple. I've created an app using `create-react-app calculator`

`package.json` deps looks like this one:

[code]

I'm using Windows 10, 64bit.
My project is located at: C:\Dev\Projects\calculator

I run the `npm start` script from standard Windows CMD and I'm in the project direc

[2016-09-06 09:03] gaelduplessix commented on #583
Any idea on how to workaround this until it's fixed ? I can't figure out how to reuse my mocks in `create-react-app` right now

[2016-09-06 09:05] gaearon commented on #585
We'll likely support this in some way in 1.0. We just need to look at more use cases and decide on the optimal way to do that.

For your use case, just copying files seems reasonable and I agree we should allow it in the future. In this case they would be handled outside of the build system, without imports.

But the downside is that your images won't get "revved" so if some of them change, you'll

[2016-09-06 09:26] gaearon commented on #592
Maybe it's the same issue as https://github.com/facebookincubator/create-react-app/issues/472. Can you try reading through that thread an doing the same diagnostic logs?

We might have to disable that plugin until this is fixed.

cc @Urthen

[2016-09-06 10:22] mrzepinski commented on #592
@gaearon I've added `console.log('Path', paths.appHtml);` to `node_modules/react_scripts/config/webpack.config.dev.js` as it was mentioned in #472
and I got: `c:\Dev\Projects\calculator\index.html`

I have Node `v6.3.1`

[2016-09-06 10:58] gaearon commented on #592
Can you consistently reproduce this when you create a new project right away? Or do you only get a warning after installing some dependencies?

[2016-09-06 11:51] mrzepinski commented on #592
@gaearon

It's weird. I've created new `react-test` app using `create-react-app react-test` and:

- `npm start` - ok, without warning
- `npm install --save moment`
- `npm start` - ok, without warning
- `npm install --save moment-range`
- `npm start` - ok, without warning
- `npm install --save rc-calendar`
- `npm start` - ok, without warning

App is running without any warnings.

[2016-09-06 13:11] gaearon commented on #592
Hmm. So you can't reproduce this anymore? Are you creating the project in the same directory as before?

[2016-09-06 13:14] mrzepinski commented on #592
I still get this warnings in my `calculator` project. Warnings are showing on the console, but an app works fine.

`react-test` was created on my desktop. It seems to be similar case to #472

[2016-09-06 13:18] Urthen commented on #592
Checking in on this - I don't think case-sensitive-paths would have any interaction here. It is designed to throw an error before this warning occurs, but I don't see a way it could cause it.

At some point I know there was discussion of shortening the error messages. Look like the `(webpack)` in the first message is some sort of token for the full webpack path as described in the second message.

[2016-09-06 13:44] gaearon commented on #592
Ooh, so this warning comes from Webpack itself! I didn't realize this.

We should file a bug but this really needs a minimal reproducing case.

[2016-09-06 13:49] gaearon commented on #472
Thanks!

[2016-09-06 13:49] gaearon commented on #592
Here is the Webpack issue: https://github.com/webpack/webpack/issues/2362

[2016-09-06 13:50] gaearon commented on #472
@Urthen
Can you submit a PR bumping the version so I can credit the change to you in the release notes?

[2016-09-06 13:51] Urthen commented on #472
Just opened #593

[2016-09-06 13:51] gaearon commented on #472
Haha thanks a lot.

[2016-09-06 15:14] gaearon opened #594 "Document how to debug unit tests"
We should provide/document a way to do this: https://medium.com/@paul_irish/debugging-node-js-nightlies-with-chrome-devtools-7c4a1b95ae27. Support for this landed in Node 6.3.0.

[2016-09-06 15:27] wdhorton commented on #594
I can work on this.

[2016-09-06 15:33] gaearon commented on #594
:+1:

I'm not sure if there's anything we need to expose here. I wonder how to pass flags to node when using npm scripts.

[2016-09-06 15:38] geowarin commented on #594
@gaeron It's not pretty. @kentcdodds did [something similar](https://github.com/kentcdodds/es6-todomvc/compare/FEM/01.0-add-webpack...FEM/01.1-debug-webpack) not so long ago.

[2016-09-06 15:44] chall8908 commented on #574
Per my comment on #263 (sorry for misposting that), I've fixed this locally by changing this line in config/webpack.config.dev.js:
`require.resolve('webpack-dev-server/client') + '?/',`
to
`require.resolve('webpack-dev-server/client') + '?http://0.0.0.0:0/',`

Based on my understanding of the WDS code, this will configure the client to use the current window's protocol, hostname, and port.

A poin

[2016-09-06 15:52] kentcdodds commented on #594
It's actually not terrible. The latest node 6 has --inspect and jest has documentation on how to debug with a browser.

[2016-09-06 15:52] kentcdodds commented on #594
Haha, just noticed Dan already mentioned it's available in node 6 :sweat_smile:

[2016-09-06 15:56] vjeux commented on #582
Here's my understanding on describe. It was introduced when JavaScript world didn't have the concept of modules and most people implemented everything into one or a few big js files and test files. This ended up being very useful to test multiple parts of the system that were bundled together.

Today, the JS world shifted towards common-js modules and implement one feature/component per file. So w

[2016-09-06 16:41] mars commented on #578
Because this is a runtime issue, I'm not sure this can be abstracted into `create-react-app` itself. There are countless ways to serve the bundle, and this kind of runtime concern couples it to the server.

Here's a solution for Heroku which is relatively simple to implement in an app:

[Runtime environment variables via Mustache templating](https://github.com/mars/create-react-app-buildpack/tree/

[2016-09-06 16:52] dceddia commented on #574
Nice, that fixes it for me too.

I was worried that it might break hostnames other than localhost, so I tried giving my machine an alias of `devtest` in `/etc/hosts` -- everything seems to work fine. Also tested with `127.0.0.1`. I can't think of any other negative side-effects this change would have, besides it feeling like a hacky workaround for a WDS bug.

I could make a PR if we want to get th

[2016-09-06 17:33] gaelduplessix commented on #585
Your use case is actually fully supported thanks to an awesome webpack feature called [dynamic require](https://webpack.github.io/docs/context.html)

Instead of manually writing all your `import` statement, you can dynamically `require` your images with runtime parameters like `require('./teams/' + team + '/' + image + '.svg')` and webpack will auto-magically figure out what files could match this

[2016-09-06 17:34] iRoachie commented on #585
@gaelduplessix When I tried that it gave the error that *img is not a module

[2016-09-06 17:35] gaearon commented on #585
We don't officially support Webpack's "non-standard" features like require.context. They happen to work but we make no promises about continuing to support them, and may break them any time.

Ideally we'd like to forbid their usage just to make this clear, but we haven't had time to work on this.

[2016-09-06 17:38] pjm17971 commented on #346
For what it's worth, I got this error as well, so it can happen on non-fb equipment. It was because I'd tried jest in the past and ended up with watchman installed on my machine. At least I think that's how I ended up with it. Uninstalling it made the error go away. It would be nice to not ever show this message though. It was cryptic.

[2016-09-06 17:41] gaelduplessix commented on #585
@gaearon Indeed, just stumbled on [this comment](https://github.com/facebookincubator/create-react-app/issues/517#issuecomment-243430577) saying it's not officially supported... That's still a workaround until there's a supported way for this use case though.

[2016-09-06 17:51] gaearon commented on #574
It was 0.0.0.0 at some point but I changed it because something else broke. I don't recall what though.

[2016-09-06 18:27] sxywu opened #595 "Reference image in a markdown file"
Hi, I have a relatively simple set of visualizations that I want to provide annotations for (some images and text), and since I have quite a few sets of annotations I was thinking of doing them in separate Markdown files and importing them into React.

Then I realized:
* I don't know how to reference images in a Markdown file with CRA, since the only way is to import an image but I can't do that w

[2016-09-06 18:40] cpojer commented on #346
I think we should close this one. I understand the concern but I updated the error message to say to create a `.watchmanconfig` file in Jest 15. If you have watchman installed manually, I feel like it is ok for Jest to try to use it and tell you how to get rid of the message (git init, hg init or touch .watchmanconfig).

[2016-09-06 18:40] #346 closed

[2016-09-06 18:41] cpojer commented on #346
See https://github.com/facebook/jest/blob/master/packages/jest-haste-map/src/index.js#L403

[2016-09-06 18:41] gaearon commented on #595
Thanks for filing an issue! Did you previously work with a system that lets you import markdown from code? Was it some of the Webpack loaders?

[2016-09-06 18:44] sxywu commented on #595
Nope!  I just thought maybe it'd be possible (the only experience I have with Markdown is writing the README files).  If it's not possible to import Markdown, I am also alright with being able to import a text file and using Remarkable.

I am currently reading this: https://webpack.github.io/docs/webpack-dev-server.html and looking into webpack.config.dev.js & webpack.config.prod.js - is this what

[2016-09-06 18:45] gaearon commented on #578
An ad hoc solution would be to put some placeholder into HTML and then replace it with a script tag initializing a global before serving the app. This is however outside of CRA concerns IMO.

[2016-09-06 19:20] zelenin commented on #483
Hey. What about this issue?

[2016-09-06 19:29] thangngoc89 commented on #483
@zelenin Sorry, I forgot this. This will be my first thing to do tomorrow. For now, don't run this in docker with root user.

[2016-09-06 19:48] jimniels commented on #585
Totally understand where you're coming from. As I'm relatively unfamiliar with using `import` for things like images, I was just unsure if my particular use case should be bent to fit the `import` model used here. Plus, the README pointed me to this issue saying "if you prefer static assets ... please let us know". So perhaps my case is one you can consider in future implementations.

As far as ho

[2016-09-06 23:57] geowarin commented on #594
I mean `node --inspect ./node_modules/.bin/jest` is less ideal than `jest -- --inspect` or something similar 😄.
And you need to test if node version is compatible, indeed.

But that would be a very cool feature. I've been looking for a good debug tool for tests all around.
What really works for me, at the moment, is WebStorm/IntelliJ + mocha (support for a node script in `/node_modules/_mocha`, tr

[2016-09-07 01:17] pjm17971 commented on #346
Would something like "Watchman is installed but not running. Using standard watcher instead." be less frightening and filled with words I don't understand? Maybe this is all kind of edge case, but I thought it was worth a mention.

[2016-09-07 02:45] cpojer commented on #346
The problem is that we have to surface watchman's error and we can't hide how cryptic it is. Maybe create an issue on watchman's bug tracker about improving their error messages?

[2016-09-07 03:52] wdhorton commented on #594
@kentcdodds I can't find the documentation on their site. Do you know where it is? It was announced in this June [blog post](http://facebook.github.io/jest/blog/2016/06/22/jest-13.html), but the link doesn't go anywhere anymore

[2016-09-07 08:29] kentcdodds commented on #594
Huh... That's weird... I can't find it anymore either. I wonder if @cpojer or @dmitriiabramov can explain why.

If I recall correctly, it was something like:

[code]

[2016-09-07 11:47] stevebeauge opened #597 "Cannot apply class to body tag"
Hello,

I've created a simple app using create-react-app for learning purpose. I'd like to integrate an external CSS framework that requires applying a class to the body tag. The framework is [Office UI Fabric](http://dev.office.com/fabric).

`<body class="ms-font-m">`

I included these framework from my index.js file using `import 'office-ui-fabric/dist/css/fabric.css';`

However, at run time, th

[2016-09-07 12:01] stevebeauge commented on #597
Nevermind.
Style **is** applied.

Something went wrong elsewhere in my build process.

[2016-09-07 12:01] #597 closed

[2016-09-07 12:22] cpojer commented on #594
Yeah we removed the outdated docs for Jest that relied on node-inspector or other third party tools. Would appreciate a PR to Jest that adds docs on how to do this with node 6.3+.

[2016-09-07 13:51] aleemb opened #598 "Adding externals in webpack.config"
I want to externalize `react-dom` and `react` so that the builds are smaller and I can embed my component into a regular static page. While currently I can remove those references and things work find since both `react-dom` and `react` are loaded externally in my page, I would like to avoid the warnings on each save if possible.

Since I cannot modify `webpack.config` without ejecting, is there so

[2016-09-07 14:36] dualcnhq opened #599 "Deploying in Heroku"
I tried to do create a new project using `create-react-app` command, run it locally and then tried to deploy it in Heroku. It deployed successfully but checked the logs, I have this:

      2016-09-07T14:01:16.050677+00:00 heroku[web.1]: State changed from crashed to starting
      2016-09-07T14:01:17.578503+00:00 heroku[web.1]: Starting process with command `npm start`
      2016-09-07T14:01:19.7

[2016-09-07 16:48] gaearon opened #600 "Expose build manifest"
We should include an additional file as the build output. This file should contain a mapping of asset file names so that tools can pick it up without having to parse index.html. This is useful for integrations like this: http://myappincome.co.uk/how-to-make-a-react-js-wordpress-plugin/.

AFAIK Webpack already provides access to such object via its API, we just need to figure out how to write it to

[2016-09-07 17:08] gaearon commented on #598
No, this is currently not possible without ejecting.
We intend to enable this by default eventually.

[2016-09-07 17:08] #598 closed

[2016-09-07 17:10] gaearon commented on #594
But we can do exactly that automatically from scripts/test.js. So it could be a simple --debug flag on react-scripts side.

[2016-09-07 17:31] gaearon commented on #597
If you found bugs in underlying tools let us know. We care about fixing them.

[2016-09-07 17:35] gaearon commented on #595
I think for now your best bet is just to embed markdown into JS files as string literals. You can use interpolation (ES6 template strings) to inject image URLs in them which you can obtain by `import`ing images. You can even create files that export solely string literals and name them `.md.js` to make their role clear. Does this solve your use case?

[2016-09-07 17:37] gaearon commented on #595
[code]

[2016-09-07 17:53] fson commented on #599
From the log it looks like Heroku is trying to start the development server using `npm start`. The development server in create-react-app should only be used for locally for development. For production, the app should be built with `npm run build` and then the resulting bundled files served from a web server.

Are you using the [create-react-app-buildpack](https://blog.heroku.com/deploying-react-w

[2016-09-07 18:01] sxywu commented on #595
Brilliant!  It's much simpler and more straightforward than what I was thinking of doing - I will try it and let you know, thank you!

[2016-09-07 18:04] EnoahNetzach commented on #410
I have an almost working hacked together script that does it, in a couple of days I should be able to open a decent PR.

It tries to merge the (optionally) existing `.babelrc` with a version extracted from the `.js` configs.
Not sure what to do when it fails (e.g. for config clashes):
 - fail with a list of clashing configs
 - output a `.babelrc.fail` file
 - overwrite clashes
 - ask interactively

[2016-09-07 18:04] gaearon commented on #595
Yea. The reason I don't want to enable importing md files directly is because different people might have different opinions about how to process them. Some will expect the output to be the original string, others will want to pre-compile it to HTML or even an intermediate object representation.

[2016-09-07 18:06] gaearon commented on #585
Yea, this totally makes sense. Thanks for the conversation. I'll cut a release when I'm back from vacation in about two weeks.

[2016-09-07 18:36] gaearon commented on #410
I think we won't support any attempts to merge configs. It is just impossible to do safely because of how Babel is implemented (some plugins can only be used together in a specific order).

[2016-09-07 18:40] sxywu commented on #595
It worked brilliantly, thank you!  Closing this issue (:

[2016-09-07 18:40] #595 closed

[2016-09-07 19:46] wolffiex opened #601 "Handling of shared JS dependencies for a react-app"
I am looking for guidance for the best way to include shared JavaScript code in a react-app without going through npm. Currently my project is set up like this:

[code]

I made symlinks between the shared directory and the src files for each of the server and the react_app. The symlink works fine with babel --watch for the server but not with create-react-app

[2016-09-07 20:18] gaearon commented on #601
What problem do you see? As long as the files outside src are ES5/CommonJS it should work fine. Which they should be anyway if you use them from Node because you need to precompile them for Node. So running babel --watch on your server folder and importing resulting files from CRA should work. Importing sources won't work but this seems good because CRA Babel plugins might differ from your server

[2016-09-07 20:19] gaearon commented on #601
To be clear, the only limitation in CRA is that only files physically inside src will get transpiled. However you can import files from anywhere (like ../shared/build/...) as long as they are already ES5 and CommonJS. And they should be since we don't know your Node Babel settings and we don't expose ours.

[2016-09-07 21:31] wdhorton commented on #594
So the idea is:
Let something like `react-scripts test --debug` trigger testing with debugging in browser.
Add functionality to `scripts/test` to call the (potentially ugly) command `node --inspect ./node_modules/.bin/jest ...` when the `--debug` flag is passed?

I starting looking at this, and one problem I'm running into is that when I open the browser debugger, I can only seem to step through t

[2016-09-07 21:33] cpojer commented on #594
You should probably run Jest with `-i` because otherwise Jest will run tests in worker processes.

[2016-09-08 07:37] aaronplanell commented on #586
Ohhhh! It's true. I'd read the article a week ago and I didn't remember this issue. The problem is that the GraphQL Server works in another host. Or in the same host, but in a different port. I use nodejs with express, for this reason I suppose that this solution [Enable Cors](http://enable-cors.org/server_expressjs.html) will works. What do you thing?

[2016-09-08 07:51] zhangolve opened #604 "npm run build problem"
I have got my project done,but when I ` npm run build`  ,I got the build folder,but when I open the index.html in build folder by chrome ,I just got a blank page,but actually I want to get it can be visual .

the index.html  codes  in build folder like this:

`<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="sh

[2016-09-08 08:00] gaearon commented on #586
Yep, if you serve from another host or port in production, you need to enable CORS.

[2016-09-08 08:06] daeschwed commented on #604
you will need to use some kind of local server to get the app running.
see issue #432 for details

`npm install -g pushstate-server
pushstate-server build`

cheers

[2016-09-08 08:08] gaearon commented on #604
When you run `npm run build` it displays instructions on how to run the server:

[code]

You *need* to run a static server for these files, just like you would need to do it in production. Opening just HTML file from `file://` URL won't work because the static paths are absolute rather than relative. And they are absolute because we want client-side routing to work (which does not work with relati

[2016-09-08 08:08] #604 closed

[2016-09-08 09:00] aaronplanell commented on #586
Thanks a lot @gaearon !!! :+1:

[2016-09-08 09:00] #586 closed

[2016-09-08 11:26] zhangolve commented on #604
I still can not understand .
For example,I want to put the build project to my github pages and the url maybe like this: zhangolve.github.io/my-app

I have seen the user guide,but not fully understand what the part about deploying means.the part is:

![qq 20160908191902](https://cloud.githubusercontent.com/assets/7566337/18347663/4ae4f8a8-75f9-11e6-985a-123f17aa66e5.png)

After I run the `npm run

[2016-09-08 12:17] gaearon commented on #604
The sequence of commands already pushes build folder to gh-pages branch (which is one of the ways to publish GH Pages, you don't need a separate repo).

Have you tried running it in your project folder?

There are two more alternatives:

1) If you use GH Pages as a separate repo, put the contents of the build folder in it, and that'll work. But it's easier to work with just one repo instead of two

[2016-09-08 12:35] andreypopp commented on #139
I understand this project follows 0config philosophy but maybe enabling source maps (via `cheap-module-eval-source`) could be a configurable option? Seeing incorrect line numbers in stack traces breaks workflow too much for me.

[2016-09-08 13:08] gaearon commented on #139
Can you file a separate issue about this? Maybe we could try preserving the line numbers (I think Babel could do that). Or just reconsider and make a list of actionable issues in this or other products (Chrome, Webpack) that need to be solved for sourcemaps to become a better default.

[2016-09-08 13:20] zhangolve commented on #604
@gaearon  thank you so much.
According to your tutorial ，finally I succeed to do it.
just for test
http://hktkdy.com/docs/
LOL.

[2016-09-08 13:33] andreypopp opened #605 "Find a way to preserve line numbers in error messages / stack traces"
Seeing incorrect line numbers in stack traces breaks workflow too much.

We could try to either use line preserving code transformations (does Babel support that?) or enable more advanced Webpack's devtool (`cheap-module-eval-source-map`).

[2016-09-08 13:33] andreypopp commented on #139
@gaearon done: https://github.com/facebookincubator/create-react-app/issues/605

[2016-09-08 14:03] scoland commented on #600
Could we utilize something like this: [https://www.npmjs.com/package/webpack-manifest-plugin](https://www.npmjs.com/package/webpack-manifest-plugin)?

[2016-09-08 14:57] maxwell-oroark commented on #462
I'm helping @saintsjd with this pull request.  We have the schema being generated successfully like this:

[code]

and we also have the babelRelayPlugin enabled with, I think, the right settings.  But for some reason we are getting a failure to compile with webpack.  When we feed the babelRelayPlugin a string of Relay.QL it works fine but something in the build process is keeping babelRelayPlugin

[2016-09-08 15:53] ForbesLindesay commented on #605
I strongly believe that source maps is better than no source maps even in the current state.  We should definitely file issues with upstream projects, but in the short term I'm not aware of any development teams that intentionally disable source maps in development.

[2016-09-08 16:41] gaearon commented on #605
I'm open to enabling them but not without somebody compiling a list of issues that need to be addressed in other projects for them to work seamlessly.

[2016-09-08 16:44] ForbesLindesay commented on #605
Isn't it just the need for a variable name map?  i.e. currently dev-tools requires you to see the name of the variables after compilation rather than the name they had in the source code.  95% of the time those are the same thing anyway (unless you add a minifier), but it is still worth pushing to get fixed.

[2016-09-08 16:50] andreypopp commented on #605
I think imported names are mangled and this is not 5%.

[2016-09-08 16:54] gaearon commented on #605
Yeah, maybe. At least if `cheap-module-source-map` truly works well with breakpoints unlike some of its friends (IIRC, `cheap-module-eval-source-map`) that complete confuse debugger in Chrome.

Another thing to watch out for is hot reloading support. We don’t have it right now but I’d like to see us be ready to it in the future. I know sourcemap support for it was fixed for `eval` but not sure if

[2016-09-08 16:55] gaearon commented on #600
Yep, something like this.

[2016-09-08 17:09] j0214ack opened #606 "Failed to compile error when running on dev server locally after changing App.css in freshly created project"
After freshly run `create-react-app demo`
`cd ./demo`
`npm start`

Then modify `App.css`.

Console shows
[code]

And my App.js mysteriously becomes
[code]

Using create-react-app v0.3.0
(This persists after I updated react-scripts to v0.4.1)

[2016-09-08 17:15] j0214ack commented on #606
And I tried the same thing after I installed `react-native-web`
` npm install --save-dev react-native-web`

The console now shows the following instead
[code]

[2016-09-08 17:22] gaearon commented on #606
Please see #518.

You are using some weird Atom plugin that changes your CSS source code.
Disable it, and you won’t have this issue.

(And no, you don’t need to install `react-native-web`.)

[2016-09-08 17:22] #606 closed

[2016-09-08 18:25] modernserf opened #607 "Allow Jest to preprocess non-root node_modules"
## Update: @modernserf is working on a PR to this issue. Please don't submit other PRs.

Currently, create-react-app allows you to structure your app like this:

[code]

So you can import 3rd party modules with `import "react"` or local modules with `import "@myapp/foo"`. Webpack will preprocess the files in `src/node_modules`, es6 features (including imports) are converted with babel. I imagine t

[2016-09-08 19:41] iRoachie commented on #78
Is there any reason flags can't be supported. For instance `create react app --sass`. There's no harm in having the **option** and it wouldn't make the project confusing for new people. Those that want sass, just add the flag. Most dev cli's have flag options for additional functionality. Why's this a problem?

[2016-09-08 19:52] gaearon commented on #607
This is not intentional, no. We include instead of excluding so that `npm link` still works. I didn’t however realize somebody would create another `node_modules` inside `src`.

Can you please explain your reasoning for doing it like this? Are you trying to avoid relative paths by doing so?

[2016-09-08 20:19] modernserf commented on #607
Avoiding relative paths is the immediate goal; the long-term goal is to allow apps to be structured more like monorepos.

[2016-09-08 20:22] gaearon commented on #78
This is my personal opinion so please don’t take this as an official position of React team or something like that. Here goes.

Adding any flag explodes the number of possible configuration we need to support. The day we add `less-loader` and `sass-loader`, many of these issues become *our* issues because they affect our users in the configuration *we* recommended:

* https://github.com/less/less.

[2016-09-08 20:28] gaearon commented on #607
This is interesting. I’m not sure this is *the* approach we would take but we need to provide support for something like this.

[2016-09-08 20:35] gaearon commented on #130
Since #78 has gone a little bit too broad, let’s use this issue for specific proposals about PostCSS plugins that are safe to enable, work great, correspond to stable specs, and give at least some of the features people want.

[2016-09-08 21:07] maximderbin commented on #594
Trying to run it too, but no luck
`node --inspect --debug-brk ./node_modules/jest-cli/bin/jest.js -i --runInBand ./path-to-test` and getting debugger stopped at `jest-cli` code here
[code]

and when continue it ignores `debugger` statement in my test

[2016-09-08 21:17] antoinegrant commented on #275
@gaearon Can't that be fixed by specifying the `parser` in `config/eslint.js` like so `parser: require.resolve('babel-eslint'),` ? This change worked fine for me using Atom.

[2016-09-08 21:30] gaearon commented on #275
This will only fix `parser` but won’t fix the same issues with `plugins`.
The real fix for this will be https://github.com/eslint/eslint/issues/3458.

[2016-09-08 22:03] josephsavona commented on #462
@maxwell-oroark Hmm, that error isn't very helpful in narrowing down the problem. I don't recall (and can't find with github search) a "missing path" assertion in the plugin code, so it looks like maybe the error is coming from somewhere else. Does the error occur simply by enabling the plugin, or does enabling the plugin work so long as there are no `Relay.QL` tags?

[2016-09-08 22:08] maxwell-oroark commented on #462
@josephsavona The error goes away when `Relay.QL` tags are removed.

[2016-09-08 22:41] josephsavona commented on #462
@maxwell-oroark strange. Unfortunately the error doesn't give enough info that I can give much advice. If you can possibly run the code with a debugger that would be ideal, otherwise this may require digging in and adding manual console.log statements in order to narrow things down. Maybe start with some log statements in the Relay plugin just to see if it is initialized and at least called.

[2016-09-09 00:41] antoinegrant commented on #275
Got it! Thanks for the clarification.

[2016-09-09 01:27] xiangzhuyuan opened #608 "about command `create-react-app` and `react-scripts`"
Hello guys, I just got confused that when I heard about `create-react-app`, and check this library, it's so cool. but when I check Redux example `todos`, I found from v3.6.0, it start to use react-script to handle some dev lifecycle.

Honestly I don't know the `react-scripts` that time, I checked finally I realized that it also comes from `create-react-app` library,

Why mix these two function int

[2016-09-09 01:40] tbillington opened #609 "Uncaught TypeError: inst.setState.bind is not a function"
I'm getting this error when running `npm start`, however it goes away when i do `npm run build` and serve that. Any ideas? I'm not exactly sure what's causing it, it's related to `setState` though, from a result of a UI interaction callback. It doesn't seem to cause problems... (famous last words).

[code]

[2016-09-09 02:46] glenngillen commented on #578
I got directed to this thread via Twitter, so need to qualify my input with I've limited experience re best practice for React & single page apps. My interest is around 12factor/Heroku specific aspects.

So looking at the problem as it pertains to Heroku implementation of 12factor, the issue is really that the notion of a `slug` and `release` end up conflated for single page apps because they envi

[2016-09-09 04:43] cloudmu commented on #573
@donpark you can npm install jQuery as dependency, and then add the following in your index.js:

`window.$ = window.jQuery=require('jquery');`

or
[code]
You can also import bootstrap, font-awesome, etc. See my [index.js in my starter kit](https://github.com/cloudmu/react-redux-starter-kit/blob/master/src/index.js) to gather some idea.  They all work well with 0.4.1, and I think it's a cleaner app

[2016-09-09 04:51] donpark commented on #573
Yeah, I did just that today with jQuery and jQuery-Knob to stay in good grace of react-scripts. In my case, both javascript library had npm versions so this solves my problem but others may not as lucky.

I don't know what compelling benefits **requiring** webpack loader-based inclusions brings to create-react-app users and developers but I think it's a glaring flaw in an otherwise wonderful devel

[2016-09-09 06:04] zhaozhiming opened #610 "Could I use npm install --registry?"
Hi,
When I use 'create-react-app myapp' to create project, it auto npm install libs from [npmjs.org](http://registry.npmjs.org).

Could I use `create-react-app myapp --registry=xxxx` to install libs?
Or `create-react-app myapp --manual` to run `npm install` manual?

Thanks.

[2016-09-09 06:17] a324539017 commented on #255
I think you can also use `resolve.root` if you use webpack. @gaearon

[2016-09-09 07:25] gaearon commented on #609
The error seems to come from React DevTools extension. Which version are you using?

[2016-09-09 07:27] gaearon commented on #608
Please see the first item in the Usage Guide. I believe it explains the reasons for package split:

https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#updating-to-new-releases

[2016-09-09 07:27] #608 closed

[2016-09-09 07:39] xiangzhuyuan commented on #608
@gaearon thanks, maybe I think I knew the `create-react-app` firstly, so I just thought this project purpose was only generating some react basic project template, and now I think according by the `react-scripts` part, it helps us a lot stuff in development stage after I checked `v3.6.0` version.

[2016-09-09 08:25] BenoitAverty opened #611 "Remove console clearing in logs (or at least allow to scroll)"
Hello,

I am a bit annoyed by the fact that create-react-app clears the console each time it compiles in 'npm start' logs.

For example, when I run npm start, I sometimes see that there's a warning but it disappears almost immediately and I can't read it. I can't even scroll up to see it!

It's also not very appropriate when I run both the client and server with node-foreman for example, because t

[2016-09-09 09:39] giuseppeg commented on #130
### Stable
- [ ] [postcss-custom-media](https://github.com/postcss/postcss-custom-media)

### TBD
N.B. the plugins below don't support dynamic custom properties i.e. cp are compiled to static values.
- [ ] [postcss-custom-properties](https://github.com/postcss/postcss-custom-properties) for simple constants (from this [blog post](https://code.facebook.com/posts/879890885467584/improving-css-qualit

[2016-09-09 10:05] gaearon commented on #611
We don't print any warnings that we clear afterwards. We actually care about only printing relevant information. If some tool we are using prints a stray warning, we should either surface it in a meaningful way, or completely silence it.

Can you comment out clearConsole() in node_modules/react-scripts/scripts/start.js and post a screenshot of that warning that was getting cleared?

This is a bit

[2016-09-09 10:14] gaearon commented on #573
Content hashing works correctly. If you update your jQuery plugin, an old version won't be accidentally cached by your users.

If you use code splitting, you can delay loading jQuery and plugin code until you actually load the component using it, without writing any complicated code to inject scripts dynamically. Thanks to Webpack.

Same for any other asset types. Images get correct hashes automat

[2016-09-09 10:15] gaearon commented on #610
Could you please explain the use case for this?

[2016-09-09 10:39] GillesDebunne commented on #558
I have a related problem when trying to fully implement a favicon for my site. I'm following the recommandations from `http://realfavicongenerator.net`, which aim at providing a nice site icon for browsers, but also when the web site is pinned on a mobile home screen (for PWA).

Using `<link rel="icon" href="./src/path/icon.png">`, one can easily define a custom favicon for desktop and iOS.

Andro

[2016-09-09 10:42] zhaozhiming commented on #610
Connect to [npmjs.org](http://registry.npmjs.org) sometimes is slow even broke in China, We use [npm.taobao.org](http://registry.npm.taobao.org) more than the former.

And I think it's useful for some people who behind a company firewall and can only `npm install` from their self-build npm repository.

[2016-09-09 10:45] gaearon commented on #610
Does setting a global registry override help?
http://stackoverflow.com/a/22390936/458193

[2016-09-09 12:26] BenoitAverty commented on #611
I'm perfectly fine with taking it slow and figuring out the best way to do it :)

Regarding the warning, it's actually foreman itself that does it, so there's actually nothing more to do besides figuring out the good way to clear the console.

I understand that it's a bit more advanced than the basic setup, but I think most people will want to have a backend at some point. And it quickly becomes a

[2016-09-09 12:34] zhaozhiming commented on #610
Yes, you're right. I forgot this. Thanks.

[2016-09-09 12:34] #610 closed

[2016-09-09 13:35] ippa opened #612 "tons of *.json.gzip-files created in project root when running with docker node"
When running webpack inside node docker there's a "known" issue that the project root fills up with random .json.gzip-files.

See https://github.com/webpack/webpack/issues/2223 for a discussion / solution.

So, this bites me with CRA + docker. Could the solution in the above issue-thread be applied to the default CRA webpack conf?

[2016-09-09 13:48] cloudmu commented on #573
Agree on all accounts of benefits.

However I think there are legit use cases for loading static assets (js/css/images) through index.html.  As @donpark hinted, fortunately both js libs he imports have npm versions, but there are great css/js libs which are version controlled in github, but not published in npm (or not yet).  Also people may fork a lib (with changes specific to his needs but not a

[2016-09-09 14:45] cloudmu commented on #573
I was thinking libs without npm versions may be the legit use cases for directly linking them from index.html.  But just realized they also can/should be loaded via webpack.  In my test the following index.js works just fine. (note jquery is not npm installed but rather saved as a 3rd-party lib outside of src)

[code]
It works under both dev and prod.

[2016-09-09 14:48] gaearon commented on #611
I sort of feel that it should be up to Foreman to strip console clear sequences from the output. Since it attempts to merge outputs together, it makes sense that it should strip any escape sequences that cause conflicts between outputs.

[2016-09-09 15:05] cloudmu commented on #573
Prior to CRA, I actually spent quite a bit of effort (with my own webpack and build scripts) making static assets linked in index.html to work under both dev and prod, due to some baseUrl related issues. I made it work but I would have still missed all the benefits @gaearon outlined.

So I like the philosophy (wisdom) of being really conservative when introducing "features" in CRA.

[2016-09-09 15:32] cloudmu commented on #577
#573

[2016-09-09 16:41] TheLarkInn opened #613 "Custom Properties on webpack config will be no longer allowed after beta.22"
See: https://github.com/webpack/webpack/pull/2974

I know that you guys are not yet on webpack2. But I wanted to make ya'll are aware that we will start validating the configuration out of the box, and will prohibit custom properties on ones webpack config. You can see the migration path on the issue but I'll leave it here anyways.

 Users now will need to use LoaderOptionsPlugin({}). Therefore th

[2016-09-09 17:40] chaseWillden opened #614 "jQuery plugin says "jQuery is not defined""
I have run the following command line arguments:
```npm install --save jquery```
```npm install --save jquery-slimscroll```

Inside of my index.js file, the first three lines import these modules:
[code]

But I receive the following error:
[code]

Any suggestions?

[2016-09-09 17:51] cloudmu commented on #614
[code]

[2016-09-09 17:55] chaseWillden commented on #614
Alright, now when I do:

[code]

I still get the same error message:

[code]

[2016-09-09 17:57] cloudmu commented on #614
`require('jquery-slimscroll');`

instead of

`import 'jquery-slimscroll';`

[2016-09-09 17:59] chaseWillden commented on #614
Wow that was it. I didn't realize there was a difference between import and require in this case. Thanks for your help.

[2016-09-09 17:59] #614 closed

[2016-09-09 18:19] KyleAMathews opened #615 "Evaluate hard-source Webpack plugin"
https://github.com/mzgoddard/hard-source-webpack-plugin

Still early but very promising. Caches intermediate build steps. Can dramatically speed up incremental builds both for dev and prod.

[2016-09-09 19:17] cloudmu commented on #614
Went through this debugging exercise before.  Here was my observation of the babel transpired js:
- babel respects the order of `requires`, along with other statements.
- babel will put the `imports` at the top,  before other statements ( in this case `window.$ = window.jQuery = jquery;`)

There are probably some intricate reasons of babel's behavior, but I will stop being an ultracrepidarian ;-)

[2016-09-09 21:58] bontibon opened #616 "Cannot create in a folder called "react""
[code]

[code]

[2016-09-09 22:22] birish2 commented on #616
If you really want to create this in a folder called react, try:
[code]
react is already an npm package so it doesn't like that you are trying to name it react. Thus all the ERR! about Refusing to install react as a dependency of itself...

[2016-09-10 02:35] roadmanfong opened #618 "Meta tag with image url content"
I 'd like to add something like

[code]
I notice that it didn't handle image inside the meta tag.
And I found a solution here
https://github.com/webpack/html-loader/issues/17#issuecomment-241038572
[code]

All we have to do is minor change in html loader setting
`loader: 'html?interpolate=require',`

https://github.com/roadmanfong/create-react-app/commit/48bb6cf692ae401f8deba02cb53009be0f7a9b3e

[2016-09-10 13:59] thangngoc89 commented on #615
Phenomic implemented it here https://github.com/MoOx/phenomic/pull/646

[2016-09-10 14:00] thangngoc89 commented on #612
Duplicated of https://github.com/facebookincubator/create-react-app/issues/483

I'm creating the PR for this.

[2016-09-10 14:40] ippa commented on #612
I can confirm running the dev-server as a normal user through docker doesn't create all those files, thanks for the tip .. and for the PR :).

[2016-09-10 14:40] #612 closed

[2016-09-10 14:50] gaearon commented on #618
Thanks for the suggestion.
I’m on the fence about the `interpolate` syntax but I’d like to keep this open and figure out a cohesive solution for this and related problems in a future release, so reopening.

[2016-09-10 14:55] gaearon commented on #616
We should probably warn about trying to create a project called `react`, `react-dom`, or `react-scripts` because that won’t work.

[2016-09-10 14:56] gaearon commented on #614
Seems like the problem is that `jquery-slimscroll` apparently doesn’t attempt to do `require('jquery')` even though it’s on npm. 😢

Yes, per ES6 spec imports always execute first.

[2016-09-10 15:15] fson opened #621 "Proposal: IDE integration API"
After thinking about current problems with configuring editor integrations with zero configuration projects I came up with this approach: provide a single API for IDE plugins to integrate with all the underlying tools.

## Problem

@gaearon described the problem well in #215. For example, IDE integration with ESLint currently requires the `eslintConfig` setting in `package.json` and manually [inst

[2016-09-10 15:34] loopmode commented on #87
I find using a jsx extension useful, while not necessary, to instantly see which files can be shared across projects that may not be using babel or even react for that matter, without looking into the files.
I would never name a file that doesn't contain JSX syntax `.jsx`, e.g. utility modules, regular pure functions etc. For the same reasons I would never call a file that contains JSX syntax `.js

[2016-09-10 16:06] gaearon commented on #87
Don’t you find the notation inconsistent? For example, you can’t use many ES6 features without Babel if you intend to support older browsers. Even things like destructuring. But it’s weird to call a file using destructuring (or, for example, default arguments) `.jsx` because it doesn’t actually use JSX. At some point you may decide to stop supporting those browsers. At this point there is no reaso

[2016-09-10 16:17] remon-georgy commented on #316
@grigio Thanks for the example app. Would you please shed some light on how to use create-react-app script to generate a similar app? at least with that directory structure?

I assume I'll need to create an app via create-react-app, then add all react-native required dependencies, source files,...etc. I'm, not sure how useful create-react-app to create a web capable react app.

[2016-09-10 16:49] gaearon commented on #316
cc @lacker, https://github.com/facebookincubator/create-react-app/issues/316#issuecomment-246120562 would be an interesting direction to explore.
cc @ericvicenti who also asked about this

[2016-09-10 16:56] #579 closed

[2016-09-10 18:32] cpunion opened #622 "Sometimes can't reload in a react-router app"
Smoothly migrated to create-react-app, but it has a problem. sometimes it raises a warning and can't reload.

![image](https://cloud.githubusercontent.com/assets/8459/18412659/29b6a31e-77c7-11e6-9e32-fe7a73c40e8d.png)

It works fine with `express.js`, `webpack-hot-middleware` and `webpack-dev-middleware`.

[2016-09-10 18:51] gaearon commented on #622
Create React App does not support hot module replacement for anything other than CSS. Did you copy and paste some code with `module.hot` into your project?

[2016-09-10 19:44] babenzele commented on #87
I just changed all my `.jsx` files to `.js`. I like how I'm starting to think of jsx as an extension of JavaScript rather than something separate.

[2016-09-10 20:53] grigio commented on #316
@remon-georgy currently I used `create-react-app` as is, and then I merged the files from `react-native init` and its `package.json`.

If "the Web" will be an official React Native platform, I expect to run it seamlessly.
[code]

[2016-09-11 00:38] cpunion commented on #622
Yes, I found it. My project clone from `react-redux-starter-kit`, the code about hot reloading is https://github.com/davezuko/react-redux-starter-kit/blob/master/src/main.js#L57-L84 .

I removed that block, seems solved this problem.

Thanks!

[2016-09-11 00:57] #622 closed

[2016-09-11 07:55] loopmode commented on #87
Ok I finally got the point.. The way I descibed it, I'd need to make sure that my .js files are actually all written in es5. A tedious task, and a useless one for long-living codebases. (Won't be necessary in near future). Tho it is a bit different with JSX syntax, which probably won't become standard javascript anytime soon, it's much simpler if we embrace it as a transpiler-feature just like des

[2016-09-11 08:01] eashish93 opened #623 "Can't parse .jpeg extension module"
I just import a `.jpeg` extension module in my app, but I got this error:

Using `react-scripts@0.4.1`

[2016-09-11 08:41] gaearon commented on #623
We should amend the regex in configs to treat jpeg like jpg. Would you like to send a PR?

[2016-09-11 08:46] gaearon commented on #622
This project has no relation to that starter kit.
Give Create React App a try, maybe you won't need starter kits anymore :wink:

[2016-09-11 12:27] mareksuscak commented on #623
Will send a PR in a moment.

[2016-09-11 12:43] cpunion commented on #622
Already used `create-react-app`, it's great.

My project cloned from `react-redux-starter-kit` a few months ago, and used that starter-kit's boot code in `src` folder to initialize react/redux etc.. Yesterday I created new project structure with `create-react-app`, and used code, then the problem happened.

Now it works fine, and project is very clean, love this. Just waiting for Hot Module Reload

[2016-09-11 12:45] mareksuscak commented on #590
@JaKXz FYI: Relative paths in source maps are buggy and you need to use an absolute public path which includes the server URL. [Read more here.](https://github.com/webpack/css-loader#sourcemaps)

Also, shall we use `eval-source-map` or `cheap-eval-source-map` devtool in development? Makes debugging a bit easier with the original source code.

[2016-09-11 12:46] cpunion commented on #622
BTW: Had another little problem, I used `pace.js` to got a better loading experience, but it can't be linked in `index.html`, some errors raised:

[code]

Content of index.html:

[code]

It must be loaded quickly, shouldn't `require` it in project's code.

[2016-09-11 12:48] #623 closed

[2016-09-11 12:58] gaearon commented on #622
Can you please create a new issue about this with an example (preferably on GH) reproducing the problem? Thanks.

[2016-09-11 13:04] cpunion opened #625 "Link css in index.html, ReferenceError: window not defined"
I used `pace.js` to got a better loading experience, but it can't be linked in `index.html`, some errors raised:

[code]

Content of index.html:

[code]

Pace.js must be loaded quickly, shouldn't `require` it in project's code.

A project can reproduce:
https://github.com/cpunion/CRA-window-not-defined

Related commit:
https://github.com/cpunion/CRA-window-not-defined/commit/2ad61c7177d96750fcc67b

[2016-09-11 13:04] cpunion commented on #622
@gaearon Created: https://github.com/facebookincubator/create-react-app/issues/625

[2016-09-11 13:26] mareksuscak commented on #385
@gaearon `ember-cli` initializes a git repo for you by default and makes an initial commit. No remote is added, you have to do it yourself. No instructions are provided. Some ascii art included in the initial commit (GitHub for Mac screws up fonts tho). See attached pics.

I'd say by default do the same as `ember-cli` does and provide `--git` switch to automatically set up a remote.

![screen shot

[2016-09-11 13:37] zhaoshengjun commented on #615
Just curious: What's the difference between hard-source-plugin and DllPlugin?

ps: here's some articles related to DLLPlugin in case you don't know:

https://robertknight.github.io/posts/webpack-dll-plugins/
https://medium.com/@soederpop/webpack-plugins-been-we-been-keepin-on-the-dll-cdfdd6cb8cd7#.d1g27iray
http://engineering.invisionapp.com/post/optimizing-webpack/

[2016-09-11 13:51] goldenice opened #626 "Support for class attribute instead of className in JSX"
I'd love to see support for [this babel plugin](https://www.npmjs.com/package/babel-plugin-jsx-class) out of the box. With this plugin I don't have to switch context in my head whether I'm writing HTML or JSX, it has the advantage of making JSX a superset of HTML instead of just a slightly different formatted language.

I'd like to hear some thoughts on this from people more submerged in the React

[2016-09-11 14:10] mareksuscak commented on #401
@gaearon As per [Heroku's Node.js best practices](https://devcenter.heroku.com/articles/node-best-practices#use-a-smart-npmrc) we could mitigate the issue by providing `.npmrc` in the project root folder for newly created projects with essential defaults. We've been using that technique for quite a while now and it's certainly lowered the number of those "forgotten to `--save` the dependency" issu

[2016-09-11 15:08] fson commented on #626
Thanks for the suggestion. While maybe handy, I don't think this plugin is a good fit for Create React App. It would likely cause confusion, because components written to use this plugin won't work without it. People would copy-paste code to a different project and it wouldn't work. In the end this question boils down to similar reasoning as #603. The plugin also isn't very popular – most people a

[2016-09-11 15:08] #626 closed

[2016-09-11 15:23] fson commented on #401
@mareksuscak Thanks for the tip, didn't know about this setting before. However, I think it could increase the confusion in some cases, because we would basically be creating a hidden file that makes npm behave differently from the default. People might not notice it or understand what it does, only npm would seem to behave differently from time to time. That's why I think a simple message showing

[2016-09-11 17:13] cloudmu commented on #625
- CRA 0.4.1 doesn't support serving local static assets.  See Related: #573 #551.  So remove the links (css and js) from your index.html.
-  [pace.js](https://www.npmjs.com/package/pace-js) relies on [pace](https://www.npmjs.com/package/pace). Unfortunately the `pace.js` doesn't attempt to require `pace` although both are on npm.  Note this is also very confusing due to the unfortunately very simi

[2016-09-11 17:44] fson commented on #625
@cloudmu is right, the right way to include it would be importing in `index.js` However, it seems that even though `pace-js` is published on npm, it can't currently be loaded as a module (which is a bummer). The reason is that it has an [invalid AMD `define` in its source](https://github.com/HubSpot/pace/blob/a03f1f1de62c9cea6c88b2267b8d7a83858b6cb6/pace.js#L924-L926), which defines `pace` as a de

[2016-09-11 17:46] gaearon commented on #625
I think the author wants to avoid imports and bundling intentionally because the sole reason `pace` exists is to show a progress bar while the rest of the content is loading.

[2016-09-11 17:47] gaearon commented on #625
I'd like to keep this open because this is one of use cases we should make sure we have a reasonable way of supporting before 1.0.

[2016-09-11 17:54] cloudmu commented on #625
@fson thanks for pointing out `pace` is an unintended dependency (bug in `pace-js`).

[2016-09-11 18:02] talkingtab commented on #441
Getting process information may be OS specific. An alternative way to solve this problem is to document the process of specifying a port.  For example changing package.json to:
    "startport": "PORT=4444 npm run start",
    "start": "react-scripts start",
Will start the webpack dev server on port 4444

[2016-09-11 18:20] talkingtab opened #630 "document how to add redux (or an example)"
Redux is an essential part of my react development. I like create-react-app, but now I need to find a way to add in redux. Do I "eject" and then add redux or ...? At that point it is more helpful [for me] to use another boiler plate project project. Put another way, create-react-app lowers the barrier to starting a react project, but it does not lower the barrier to starting a react-redux project.

[2016-09-11 18:26] gaearon commented on #630
CRA only handles the build process. Redux, or any React components, are regular dependencies. To install them, you run `npm install`. They have no relation to build process so you use them the same way you used them before.

[2016-09-11 18:32] gaearon commented on #630
Also, to clarify, this project is not meant to provide the "boilerplate" code for your app. We think that it is important that you write app code yourself, and understand the libraries you are using, and their APIs.

This project exists to make build process easy. This means you don't have to think about configuring Babel, Webpack or ESLint. Everything needed so you can write JSX and ES6 and have

[2016-09-11 22:53] #616 closed

[2016-09-11 23:32] tbillington commented on #609
0.15.4, Chrome ver Version 53.0.2785.89 (64-bit), OSX

[2016-09-11 23:52] gaearon commented on #609
Can you share a project reproducing this?

[2016-09-12 00:18] talkingtab commented on #630
I did not know you had ported the redux examples to CRA, that is very helpful - thanks. I'm finding it hard to grasp the conceptual model of CRA. Not boilerplate, not starter kit, abstracts away webpack and babel complexity, yet build system doesn't seem right either. Having it generate code, while good, is also a bit misleading if it is a build process. Not complaining, just thinking.

[2016-09-12 00:39] tbillington commented on #609
I don't quite have the time to try and reproduce this in a form I can share publicly.

The error message is triggering after the render phase and `componentDidUpdate` has finished, I tried inserting logging to find at what point it was happening but the error always happened after any logging I was doing.

I'm using https://github.com/callemall/material-ui, and as part of the library it uses a sec

[2016-09-12 02:40] cpunion commented on #625
Thanks @cloudmu, @fson . I will temporarily link it from CDN.

@gaearon thanks for adding to 1.0.0 milestone.

[2016-09-12 03:32] tbillington commented on #609
My last message was incorrect, the error triggers even when I'm just trying into an input field, it seems not related to the extra root div being rendered to.

[2016-09-12 03:34] tbillington commented on #609
This is also happening in firefox react dev tools.

[2016-09-12 03:48] tbillington commented on #609
Don't know whether it's worth moving this to react dev tools repo.

[2016-09-12 07:42] yesmeck opened #631 "--scripts-version not working with forked react-scripts"
According to @gaearon's tweet  https://twitter.com/dan_abramov/status/774888111927091200

I forked `react-scripts` to another package named `feeble-scripts` and tried running `create-react-app myapp --scripts-version feeble-scripts`, because CRA reads `react-scripts`'s package.json in https://github.com/facebookincubator/create-react-app/blob/master/global-cli/index.js#L149-L155, so the command fa

[2016-09-12 09:03] gaearon commented on #631
Apparently we broke this when we added the Node version check. Would you like to send a PR fixing this?

[2016-09-12 09:48] gaearon commented on #609
I think this should be filed in DevTools repo.

[2016-09-12 09:55] gaearon commented on #630
Well, tools like this weren't very popular before so I don't think we ever came up with a name. It does a few things:

* Creates an empty project for you with a single component. In this case it's sensible to generate *some* code so people don't have blank page syndrome. Especially important for beginners. Fiddling with a component that already works is easier than trying to create your first comp

[2016-09-12 11:38] remon-georgy commented on #316
Thanks @grigio! I followed a similar approach and it works perfectly. Hopefully Web will be standard react-native platform in the future.

[2016-09-12 12:33] gafemoyano opened #633 "Improve documentation for updating create-react-app"
Maybe this has more to do with understanding how npm and package dependencies work, but I think the docs could make it clearer as to how create-react-app works as an npm package and what you are supposed to do if you want to upgrade.

- Do I need to update the global package to get the latest version or just install it once and forget about it?
- Can you upgrade react-scripts on your package.json

[2016-09-12 12:35] gafemoyano commented on #633
Now that I think about it there's probably two different issues here. Updating the tool itself and updating apps generated with it.

[2016-09-12 12:51] gaearon commented on #633
Isn’t this the [first section in the User Guide](https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#updating-to-new-releases)? Did you miss it?

Also I believe the [changelog](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md) contains migration instructions for every single version.

Does this help?

[2016-09-12 12:52] gaearon commented on #633
File issues if something breaks 😉 . It’s very hard to tell what went wrong because you didn’t file an issue at this time, and now you likely don’t remember it either.

[2016-09-12 12:58] gafemoyano commented on #633
You are absolutely right I completely missed it, it's very clear in there what you are supposed to do.
I will next time, thanks!

[2016-09-12 12:58] #633 closed

[2016-09-12 13:01] gaearon commented on #633
Is there something we could do to make it more discoverable? Did you previously see the Usage Guide?

[2016-09-12 13:08] gafemoyano commented on #633
Hmm well the thing is that I skimmed through the default [Readme](https://github.com/facebookincubator/create-react-app) and missed the "User Guide" link at the top. I'm sure I'd seen before when I first looked into the project but I forgot it existed after a few weeks.

Are issue templates already working on github? maybe there could be a warning when opening an issue that says "Be sure to read c

[2016-09-12 13:24] gaearon commented on #633
Made it more prominent in the main README: https://github.com/facebookincubator/create-react-app#user-guide

[2016-09-12 13:38] gafemoyano commented on #633
Yeah  I think having the content list of the User Guide is great, first thing I tried was a `ctrl+f` search on the landing page so having the User Guide topics in there could help others to find it more easily.

[2016-09-12 14:30] talkingtab commented on #630
names:

     - react virtual build environment

     - react integrated tool set

     - react federated build tools.

create-react-app --add_redux --add_whatever --no_app (only generates
index.js) --add api_server

Just speculations, not even suggestions.

:-)

Terry

On 9/12/16 5:55 AM, Dan Abramov wrote:

[2016-09-12 19:10] zackify opened #634 "Wait to delete build folder until finished building"
If you serve the build folder using nginx, when building the app on a deploy, there's anywhere from a few seconds to a minute or two where nginx will return a 403, because the build is deleted before it is finished. See this conversation for more: https://twitter.com/Vjeux/status/775410547470716929

Basically, my solution is to wait until a build finishes, or is a few miliseconds from finishing wh

[2016-09-12 19:27] vjeux commented on #634
The way the build step was envisioned is that you would run `npm run build` and once it is finished building, then move the folder somewhere that's going to be live. I didn't think about the use case where you direct prod traffic directly from that build folder.

While we are talking about solutions inside of create-react-app which we may or may not want to implement, you can unblock yourself by c

[2016-09-12 21:58] vjeux commented on #634
@lacker also raised an issue on Twitter: "also a problem if build dies halfway"

I don't think we should support your use case and instead you should implement a publish step that just swaps out folders when the build is done. This should solve your use case.

Please do not hesitate to continue commenting on the issue if you think I overlooked some things or have concrete things we could do inside

[2016-09-12 21:58] #634 closed

[2016-09-12 23:08] ccorcos opened #636 "some pragmatic features"
Hey there, I'm considering dropping my existing build system in favor of `create-react-app`, but there are a few features that I would need. At some point, I'll likely need to fork, but until then, I'm curious if any of these features appeal to you enough to open up a PR.

- absolute imports

In a large codebase, relative paths can get really annoying and make it hard to determine where files are

[2016-09-13 01:15] tbillington commented on #636
Just suggesting some things from my (a user) point of view.

https://github.com/facebookincubator/create-react-app/issues/276 https://github.com/facebookincubator/create-react-app/issues/253

https://github.com/facebookincubator/create-react-app/blob/ef94b0561d5afb9b50b905fa5cd3f94e965c69c0/template/README.md#adding-custom-environment-variables

Not sure this is the aim of this project, 'create-re

[2016-09-13 01:40] insin commented on #636
#423

This isn't currently a goal of create-react-app.

Check out some of the [alternatives](https://github.com/facebookincubator/create-react-app#alternatives) if this is what you're after - the following allow configuration to different degrees:

* [nwb](https://github.com/insin/nwb)
* [sagui](https://github.com/saguijs/sagui)
* [roc](https://github.com/rocjs/roc)
* [mozilla-neo](https://github.

[2016-09-13 10:53] dceddia commented on #574
It looks like Webpack won't get this fix until v2 unfortunately, so maybe
we should roll back to 1.14.1 for the time being, if that's an option:
https://github.com/webpack/webpack-dev-server/issues/592#issuecomment-246613807

On Tuesday, September 6, 2016, Dan Abramov <notifications@github.com> wrote:

[2016-09-13 11:13] guivho opened #637 "Unexpected token (7:2) You may need an appropriate loader to handle this file type."
Ran `create-react-app react-my-create-react-app-created`
followed by `npm start`
with this error result:

[code]

and here's the devtools console output:

[code]

npm version is 3.10.4
node version ia v6.3.1

Please advise

[2016-09-13 13:12] gaearon commented on #637
`SyntaxError: Unexpected token (7:2)` means there is a syntax error on line 7, column 2 in `d:\src\react-my-create-react-app-created\src\index.js`. Can you please show this file? Have you modified it in any way?

It would be great if you could share the project reproducing the issue.

[2016-09-13 13:50] gaearon commented on #636
I’m open to adding this but I’m not sure that blindly allowing everything in `src` to be referenced absolutely is a great way of doing it. Particularly I saw confusion from beginners who used boilerplates with absolute imports, named their folders `react` or `redux`, start getting conflicts with `node_modules`.

It’s quite heavy. People already blame React for “being large”. We don’t want to presc

[2016-09-13 14:04] igor-ribeiro commented on #558
I solved it, it's pretty simple.

Added these things to `webpack.prod.config.js`:

[code]

Then you can import it like this:

[code]

I can send a PR if nobody is working on it. :dancer:

[2016-09-13 14:06] gaearon commented on #558
Because we don’t support this syntax officially. Webpack’s inline loader notation has proven to be extremely confusing to many developers, and is incompatible with other bundlers, locking your code into using Webpack.

We may stop supporting it at any moment so please don’t use it.

[2016-09-13 14:10] SpaceK33z commented on #263
For future reference, this has been fixed in v2 (in beta). See the [changelog](https://github.com/webpack/webpack-dev-server/blob/master/CHANGELOG.md) for more info.

[2016-09-13 14:19] SpaceK33z commented on #574
Hi, webpack-dev-server maintainer here. Reverting to 1.14.1 would probably cause other issues to come up again (e.g. #134), so would probably not be worth it.

I've changed my mind about this a bit, since I don't know when v2 will get stable, and this seems to be a blocking issue for some people.

If someone wants to backport the fix to v1, I'll merge the PR and release a new version. Don't have t

[2016-09-13 14:42] ehtb opened #638 "Banner on top of generated webpack output"
I was thinking about adding support to Webpack's [Bannerplugin](https://webpack.github.io/docs/list-of-plugins.html#bannerplugin)?

Something along the lines of:
[code]

Perhaps we could also add support for licenses:
```fs.readFileSync('./LICENSE', 'utf8')```

I can make a pull request if you're interested.

[2016-09-13 14:53] guivho commented on #637
It is the file as created by the tool.

It's content is:

import React from 'react';
import ReactDOM from 'react-dom';
import App from './App';
import './index.css';

ReactDOM.render(
  <App />,
  document.getElementById('root')
);

I attach a zip file of the project:
[react-my-create-react-app-created.zip](https://github.com/facebookincubator/create-react-app/files/470109/react-my-create-react-ap

[2016-09-13 15:07] MoOx commented on #130
My 2 cents:

- postcss-import "just" need a maintainer + revert to v7 (which was more stable than the current one).
- I can handle a revert to postcss-import to v7 if that can be useful to a lot of people, should take a second.
- postcss-easy-import use postcss-import v8, so forget this one imo.
- **postcss-cssnext does not includes postcss-import !**
- postcss ecosystem is not rock solid anyway (

[2016-09-13 15:10] glennreyes commented on #130
I'd love to see *`postcss-cssnext`* as it has autoprefixer and pretty rock solid and optional [features](https://github.com/MoOx/postcss-cssnext/blob/master/src/features.js) baked in

[2016-09-13 15:17] gaearon commented on #638
Can you describe the use case for this when building apps?

[2016-09-13 15:18] davidkpiano commented on #130
I would strongly advise to take caution with CSS custom properties, and if something like `postcss-custom-properties` were to be included, it would be a good idea to set: `preserve: true` (not computed) in order to maintain the spec behavior as closely as possible.

Here's a trivial example of a potential issue that should be avoided:
[code]

What color is `<h1>`? Answer: **it depends.** It's 🍏 by

[2016-09-13 15:20] ehtb commented on #638
We are using this to quickly be able to see which version of the built js we are running, by simply opening the file. Another one might be to show license or author information.

[2016-09-13 16:11] ai commented on #130
I like this feature: https://github.com/postcss/postcss-media-minmax

[code]

Polyfill is very stable. Spec is a official draft: https://drafts.csswg.org/mediaqueries/#mq-range-context

Feature is pretty useful, because it is always hard to work with `min-`/`max-` stuff instead of `>=`/`<=`.

[2016-09-13 16:17] ai commented on #130
`will-change` polyfill is very useful, but it is not so stable (will not work if you defined `backface-visibility` on same tag, but with different class). So it is open question, should we add it.

https://github.com/postcss/postcss-will-change

[2016-09-13 16:19] AlicanC commented on #636
I have made the terrible decision of giving all general-purpose directories their own alias in a few projects. I ended up with multiple aliases like `components => src/components`, `helpers => src/helpers`, etc. and they became hard to maintain since I had to duplicate all of them for Flow too. Currently I only use one alias, `app => src`, and it helps a lot.

Of course the name "app" [is taken](h

[2016-09-13 16:19] ai commented on #130
I think this plugin is mush-have: https://github.com/postcss/postcss-color-function

1. It is very useful, color transformations are one of the most popular feature
2. Spec is very stable
3. Polyfill works without any problem (any lack of documentation)

[2016-09-13 16:21] ai commented on #130
`:any-link` is useful, stable and have no problems in polyfill: https://github.com/jonathantneal/postcss-pseudo-class-any-link

[2016-09-13 16:22] ai commented on #130
`:matches` is useful, stable and works well: https://github.com/postcss/postcss-selector-matches

[2016-09-13 16:23] ai commented on #130
All CSS4 colors polyfills:

* https://github.com/postcss/postcss-color-gray
* https://github.com/postcss/postcss-color-hex-alpha
* https://github.com/postcss/postcss-color-hwb
* https://github.com/postcss/postcss-color-rebeccapurple

[2016-09-13 16:30] jquense commented on #130
Like me and @taion noted in #78, there are few that aren't/can't be to spec, or actively allow non-spec behavior. In particular the `color()` function is insiduously wrong, in that it doesn't distinguish between `lightness(+10%)` and `lightness(+ 10%)` (did you even notice the difference?) in the modifier functions. That whitespace should determine whether the change is absolute or relative, but i

[2016-09-13 16:34] cecilemuller commented on #636
If you want simple paths like "components/something", how about using [local modules](https://github.com/wildpeaks/webpack1-es2015-react-boilerplate/tree/master/src/node_modules/components) ?
The name "node_modules" is not just for thirdparty code from npm (npm just uses it because it's how Node resolves paths). Then you have clean paths without needing folder aliases in every tool of the stack, o

[2016-09-13 16:46] taion commented on #130
As @davidkpiano and @jquense note above, most of the more useful cssnext features have significant caveats.

- Custom properties only polyfill the simple case where the property serves as a variable (with clunky syntax), and don't handle the new cases that the syntax actually allows
- Color function does non-spec-compliant things around whitespace between modifier sign and modifier value
- `calc()

[2016-09-13 16:48] taion commented on #130
The capsule summary is that, for people not paying close attention to the actual spec, Babel loose mode is order of magnitudes safer than the majority of new features enabled by cssnext, and CRA isn't even using that: https://github.com/facebookincubator/create-react-app/issues/198

[2016-09-13 16:48] gaearon commented on #636
I could get behind `src/modules`.

[2016-09-13 17:04] deathmood commented on #130
the only thing that I really would like to see are `css variables`. They are already available in `chrome` and `firefox` -- so it's like a working and already implemented thing. But it does not work in `IE` and `Edge` that is why we need to post process it.

so my vote goes for https://github.com/MadLittleMods/postcss-css-variables

[2016-09-13 17:09] ai commented on #130
@jquense could you please open a issue in `postcss-color-function`. Your example with space could be fixed and it is not fundamental problem of polyfill. What else `color()` issues do you have?

[2016-09-13 17:16] ai commented on #130
@taion don’t forget that `postcss-custom-properties` warn user if it could not support written feature. So it is very safe. The only unexpected problem with `postcss-custom-properties` is working from several files:

[code]

`postcss-custom-properties` will generates `red` link, but it should be `green`. I think it is very rare case (to have same custom property name with different files).

[2016-09-13 17:17] ai commented on #130
@taion sure, `postcss-calc` is not to implement any `calc()`. But current `calc()` support is very useful too (it is same as in Sass math). And if user use multi-unit math in `calc()`, `postcss-calc` will keep `calc()` without changes — so this polyfill is very safe.

[2016-09-13 17:35] ericclemmons commented on #636
I prefer a separate "/lib":

It helps within our codebases to have a "staging" area outside of "src". In the past, you'd often have a "utils" folder with generic utilities.

The intent was to make clear that these should become open-sourced libraries.

[2016-09-13 17:46] insin commented on #636
While it's still magical, mapping `src` to `src` feels like the least magical solution to avoiding `../` path traversal to me, as the resulting top-down import paths match what you're seeing in your editor.

I usually group these together as a separate block to try to make that even clearer (built-in imports → npm module imports → top-down imports → local imports).

Is there some sample functional

[2016-09-13 17:50] AlicanC commented on #636
@gaearon how is that supposed to help? For example, why would a component be in `src/components` instead of `src/modules/components` or vice versa?

If we are crazy for asking an easy way to refer to `src`, then it must be considered bat-shizzle crazy to use `@providesModule`. How is it okay to do `import X from 'X';` (which gives you no freaking idea where "X" is and what its purpose is) and not

[2016-09-13 17:53] gaearon commented on #636
Another option: just use own package name when importing.
Resolves relative to project folder.

To access `my-app/src/stuff/index.js`, import from `my-app/src/stuff`.

The `src` part is redundant so instead we can encourage people to put "modules" into the root folder. We would also enable Babel on the whole project directory (except `node_modules`).

Then, to access `my-app/stuff/index.js` you wo

[2016-09-13 17:57] gaearon commented on #636
This option would also provide a reasonable solution for https://github.com/facebookincubator/create-react-app/issues/67 because paths would be consistent between browser console and code.

[2016-09-13 17:58] mlrawlings commented on #636
@ericclemmons I really like the idea of using `lib/` to stage modules.  That makes a lot of sense.  You could also use [`app-module-path`](https://github.com/patrick-steele-idem/app-module-path-node) for the node side of things.

@gaearon However, it seems the original request is not so much for a place to put local modules as much as a way to `require` files using a path based at the root of the

[2016-09-13 18:02] gaearon commented on #636
That's exactly what I meant by "local modules". A folder where absolute paths get resolved, in addition to node_modules (hence the name).

[2016-09-13 18:04] AlicanC commented on #636
Letting the app use files outside of `src` is a big no-no. You will have files that contain secrets outside of `src`. Letting your app access outside of `src` is just bad practice. The app must be contained in `src` and never access anything outside of it.

[2016-09-13 18:05] gaearon commented on #636
In case of my second proposal, enabling own project to be required by name solves exactly the problem of absolute paths. The only difference is that you have to prefix path with your app's name but that's the prince of safety and obviousness. Anyone who wants less typing can call their package `app`.

[2016-09-13 18:08] gaearon commented on #636
Well, those files can only end up in output if somebody imports them on purpose. We don't copy any folders except the build products produced by the bundler, which will only include things that import each other.

[2016-09-13 18:19] AlicanC commented on #636
People *will* import them on purpose. You are at Facebook and working with the best developers in the world. In my case, I need simple and strict rules so people (including myself) don't end up doing something silly.

The current rule is "don't touch anything outside of `src`" and it works. If you make the rule "you can touch some things outside of `src`", a developer can easily assume it's also o

[2016-09-13 18:20] giuseppeg commented on #130
In my proposal I mentioned that all of the plugins under "TBD" _don't support dynamic custom properties i.e. custom properties are compiled to static values_.

Since this is a limitation that we cannot solve in this issue and considering that we may not even come to an agreement I want to suggest another idea:

How about we introduce a small postcss-based preprocessor that can be extended using a

[2016-09-13 18:26] ai commented on #130
@giuseppeg we will have a common PostCSS config soon https://github.com/michael-ciniawsky/postcss-load-plugins

I agree with you about `postcss-custom-properties`. But I think that we should enable more stable plugins with spec full support:

* `postcss-color-function`
* `postcss-custom-selectors` and `postcss-custom-media`
* `postcss-media-minmax`
* `postcss-pseudo-class-any-link` and `postcss-se

[2016-09-13 18:27] vanesyan commented on #130
Sorry, if the comment is not directly related to the conversation. what is the point of using postcss + plugins, over time proven solid preprocessors (I talk mostly about sass)?

[2016-09-13 18:29] AlicanC commented on #636
Also, this isn't only about leaking secrets. Currently everyone knows what they are supposed to touch and that's always in `src`.

For example, if you are supposed to implement designs, you touch `src/components` and nothing else. There is no root, no `src/modules/components`, no nothing. It's dead simple.

[2016-09-13 18:31] vanesyan commented on #130
Anyway I think it's better to not include any CSS related things into the project at all, as CSS subjects are aleays about holy war. Someone loves CSS-in-JS, other loves SASS, another person decided just fucked up about CSS about at all and focusing on some more important part, as CSS itself is just works. IMO

[2016-09-13 18:32] ai commented on #130
@vanesyan PostCSS is a framework to write CSS tools. You can re-implement preprocessors task on PostCSS (like PreCSS plugins pack), you can re-implement other non-preprocessors task (like `cssnano` to minify CSS), but also you can implement completely new tasks on PostCSS (Autoprefixer and CSS Modules is a great examples).

In this issue we discuss about using PostCSS for one of that PostCSS-only

[2016-09-13 18:34] timdorr commented on #621
For my Ruby code, I use RSpec and code in RubyMine. One thing that's really awesome is RubyMine's integration into the RSpec runner. I have some keyboard shortcuts where I can jump from a controller or model file over to its accompanying spec file, and then based on my cursor position in that spec file, I can run the individual test (or group of tests) I have selected. It looks like this:

![rubym

[2016-09-13 18:35] ai commented on #130
@vanesyan I agree that this project should not contains any preprocessors, because we have too many of them (Sass, Less, Stylus, PreCSS). But this is why future-proof PosTCSS plugins is better. They implement spec, so it is not part of holy war, it is a future ;).

[2016-09-13 18:40] giuseppeg commented on #130
@ai `postcss-load-plugins` looks indeed similar to what we built and it'd be great to have such a feature in PostCSS core.

Regarding other plugins I think that it is not possible to transpile any feature that can manipulate custom properties and therefore we cannot enforce any of them.

[2016-09-13 18:42] vanesyan commented on #130
@ai But any spec. by W3C so unstable while drafting stage. And for example `@custom-media` implemented in `postcss-custom-media` module was completely removed from the spec. I'm not against of PostCSS (I love it and use it on my own ;)), but sadly there is no way to implement 100% following spec. polyfills for CSS, it's impossible by design.

[2016-09-13 18:42] ccorcos commented on #636
Thanks for all the feedback. I'll look into these further and open up separate PRs.

[2016-09-13 18:48] ai commented on #130
@giuseppeg other plugins is not relevant with custom properties. For example, `postcss-custom-media` is very static, have nothing dynamic (you could not even use custom properties in at-rules).

[2016-09-13 18:50] ai commented on #130
@vanesyan ouh, I missed that `@custom-media` was removed from spec :(

[2016-09-13 18:53] vanesyan commented on #130
Sadly CSS isn't JavaScript and there's no industry standard in the wild for writing idiomatic CSS. Users use preprocessors that they love (know?) best. Because of that such projects shouldn't include CSS related things instead giving developers decide on this part. IMO

[2016-09-13 19:20] vrk opened #639 "How-to recipes: Using a Node server *and* deploying on heroku"
Hey folks,

Thanks for create-react-app! I'm new to the world of React and overall I've had a breeze getting set up. I'm a bit puzzled on deployment still, so I thought I'd open an issue to clarify these instructions in the How-to recipes section [as suggested here](https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#something-missing).

**Summary:**
1. I have foll

[2016-09-13 19:32] gaearon commented on #636
Another option is to document usage of something like https://www.npmjs.com/package/linklocal.

[2016-09-13 19:47] MoOx commented on #130
_Reminder: I am the author of many "future proof" PostCSS plugin and postcss-cssnext._

This was fun to do play with PostCSS. This allow to write future proof code that will hopefully end up to work (exactly like babel, even if sometimes you got stuff that won't end up being the spec - eg: decorators). If you use it wisely, you can really enjoy it, but there is currently a lot of know issues, and

[2016-09-13 20:21] gaearon opened #641 "Add "Adding Router" recipe"
Should walk you through installing the new React Router v4 and point to its Quick Start which contains an example ready to be pasted into App.js.

[2016-09-13 20:29] ccorcos commented on #636
I think an ideal solution for me is if `require.resolve` resolves the package.json name as the directory of the package.json file. For example:

[code]

Thus we're able to reference the package itself just like any other package :)

Anyone know where the `require.resolve` code is? I've been looking around and cant find it.

[2016-09-13 21:11] jtremback commented on #343
@gaearon I disagree. I can usually tell what's wrong by looking at the code and maybe hovering some variables. Disabling source maps breaks this. The things you list could be considered issues, but I never even thought about them until this thread, and I've been using source maps for years.

Source maps are integral to using es6 as a programming language. There's no other language where you have t

[2016-09-13 21:18] cecilemuller commented on #636
Just in case to clarify, when I said local modules earlier, I meant `src/node_modules`, not `src/modules`.

Here's an [example](https://github.com/wildpeaks/webpack1-es2015-react-boilerplate/blob/master/src/node_modules/components/Application/Application.js): note how neither webpack, flow, babel or mocha need aliases, NODE_ENV or such to find "component/MyImage" for example.

(and if the file was

[2016-09-13 21:37] gaearon commented on #636
Let’s keep this open just so we don’t lose this discussion, and revisit this at some point.

[2016-09-13 22:30] gaearon opened #642 "Generate even less code?"
From @remy’s amazing [First Impressions of React](https://remysharp.com/2016/09/13/first-impressions-of-react), this paragraph made me sad:

Is there anything we could do to better match your use case? These are the [files we generate by default](https://github.com/facebookincubator/create-react-app/blob/master/template). We opted for a bare minimum, just enough to render a single component.

Here

[2016-09-13 22:31] gaearon commented on #642
Of these files, we could technically not include `index.css`, `App.css`, `App.test.js`, or `logo.svg`. I’m worried that this will just cause people to scratch their head about how to import CSS, media assets, or even other JS modules.

[2016-09-13 22:36] i1skn commented on #639
Hello, @vrk!
Basically this tutorial is based on the idea, that you open two different ports on the same instance.
So, it's ok when you doing this on your local machine or VPS, but it will not work with *heroku*, where **dyno** [give you possibility expose only one port to outside world](https://devcenter.heroku.com/articles/runtime-principles#web-servers) and map it to `<app_name>.herokuapp.com:8

[2016-09-13 22:37] markerikson commented on #642
Granted, I'm not the target audience, and I haven't actually used it CRA yet, but that seems like the right amount of startup to me.  One small example of everything, just enough to show how it's done and give you something to work from.

[2016-09-13 22:38] fcaldera opened #643 "setupTests.js entry missing after eject"
This is how the `setupFiles` section looks after ejecting:

[code]

In previous version:

[code]

[2016-09-13 22:38] remy commented on #642
Hey, so to chime in here rather than one twitter (and the 140 character limit!).

The direction I was coming from was very much: I WANT TO CODE NOW. i.e. don't want tests, don't want packages, just want results (and errors).

I'm not sure this is quite right for the masses…the fact you've got a test template in your initial build is good (really good). It's likely the next step I'm going to take w

[2016-09-13 22:41] gaearon commented on #642
We wanted to make it clear you can delete everything except `index.html`, `package.json` and `src/index.js` and it would still work. Maybe we should ask if you want an empty template during project creation?

Tangentially, this is the kind of thing CRA would've solved for you:

<img width="935" alt="screen shot 2016-09-14 at 01 38 23" src="https://cloud.githubusercontent.com/assets/810438/18493959

[2016-09-13 22:43] remy commented on #642
@gaearon yeah, server side, in the hour or so I've been searching (split over multiple attempts), I can't quite find a reasonable post on it yet. [This](https://github.com/mhart/react-server-example) is probably closest, but my gut feeling is that there's no generally accepted approach when it comes to node (just yet). Happy to be wrong!

[2016-09-13 22:54] hqdo commented on #642
I'm a react beginner and imo create-react-app has the perfect amount of
files. Every file has been useful to me to demonstrate how to do something.
I think it strikes the perfect balance between too much and too little.

On Wednesday, 14 September 2016, Dan Abramov <notifications@github.com>
wrote:

--
Best Regards,

Huy Do
XBITS

P: (02) 8215 0661
E: huy@xbits.com.au

[2016-09-13 23:05] StokeMasterJack opened #644 "Support for CSS Modules"
Isn't this as simple as adding ?modules to the (hidden) webpack config file? This would be really nice to have.

[2016-09-13 23:15] mxstbr commented on #644
See #90 and the followup discussions linked in that thread!

[2016-09-13 23:15] #644 closed

[2016-09-13 23:40] vrk commented on #639
Oh awesome! Thanks for the fast reply. I'll give that express.static thing a try in the next day or two and will report back!

[2016-09-13 23:49] daviestar commented on #130
My 2 cents:

Using these build scripts is the first time I've tried importing CSS with JS, and I see why it makes sense in some ways - to rev assets mainly.  But it doesn't really fit with the 'cascading' part of CSS and feels a bit like trying to push a square peg into a round hole IMO.

In CSS you actually want global/generic rules which get inherited or overridden.  You actually want to set var

[2016-09-14 00:09] ccorcos commented on #636
@cecilemuller do you know where the actual node.js source code is that implements require.resolve?

[2016-09-14 01:37] vrk commented on #639
Well that went a lot faster that I thought. Thank you, got it working now! That's just what I needed to know.

For posterity in case someone else comes across this issue, what I did was the following:
- Add `app.use(express.static(path.join(__dirname, 'client/build')));` to my server.js
- Update the server package.json to include `"install": "cd client && npm run build && cd .."` under "scripts"
-

[2016-09-14 02:03] cesarandreu commented on #636
My general strategy is to create an `app` folder in the project root, add a `package.json`, and symlink it to `node_modules`. I use [link-package](https://github.com/peerigon/link-package). You have to update babel to not ignore the symlinked folders.

**<PROJECT_ROOT>/package.json**

[code]

**<PROJECT_ROOT>/app/package.json**

[code]

**<PROJECT_ROOT>/app/views/Bar/Bar.js**

[code]

If you're in

[2016-09-14 02:07] yordis commented on #130
@gaearon continue the twitter conversation.

My 2 cents.

### SASS, LESS ... vs PostCSS
Meh, realistically I wouldn't put any preprocessor by default in the project because is so relative to people preferences.

### But SASS, LESS ... vs cssnext
The only reason that I use PostCSS as a CSS [Insert whatever you called it here] is because cssnext plugin.

As Babel, cssnext is trying to allow us to us

[2016-09-14 02:31] taion commented on #130
@yordis

The maintainer of a significant number of the PostCSS plugins used in cssnext just said a few comments upthread:

cssnext is nowhere near where Babel was in stability. And your understanding of history is quite lacking if you think 6to5 was the only transpiler around.

This is just not a reasonable tradeoff to make here. cssnext stability is somewhere worse than Babel stage-0, which this

[2016-09-14 02:31] cecilemuller commented on #636
@ccorcos I am not familiar with Node's own sources, but from a quick search, I think this is where: https://github.com/nodejs/node/blob/master/lib/module.js

[2016-09-14 02:37] taion commented on #130
If you want to compare cssnext to Babel, it's like Babel stage 0, but less stable, less well-maintained, and with more caveats around spec compliance.

It's absolutely not appropriate for use in a "starter kit".

And I say this as a mostly happy user of cssnext.

[2016-09-14 02:50] hqdo commented on #642
maybe adding a single parameter to create-react-app eg. "create-react-app minimal" to generate the an app with the most minimal amount of files possible. But i understand that is a slippery slope considering this is a "no config" tool, and it can easily set a precedent for adding more parameters etc. and we have configuration all over again.

[2016-09-14 02:57] davidkpiano commented on #130
I don't think we're going to find an answer here that satisfies everyone, since there's so many different needs and use-cases when it comes to styling and CSS. I agree with @MoOx that adding PostCSS plugins is risky and can lead to conflicts with the actual implemented spec in browsers, and something more mature like Sass (SCSS syntax) might be too opinionated, especially with the dependency on `n

[2016-09-14 03:03] yordis commented on #130
@taion what if we actually try to make it work. As a community we fix it and make it `rock solid`. It's just different prospective. Everything start with you (community, yourself, myself ...) That's why I am supporting the idea.

Or like @davidkpiano and even @MoOx said, just close the topic and don't use it, but then we just killed a potential tool.

Or even better, open the configurations so you

[2016-09-14 03:10] ai commented on #130
@MoOx

@MoOx I agree with you, that CSS specs are not so stable to have future-proof plugins (Custom Media removing change my mind), but don’t be so toxic about speaking of all PostCSS.

Autoprefixer is rock solid and no big knowing issue and using it is a great idea on any level ;).

CSS Modules works great too and definitely don’t have “tons of issues”

PostCSS is not only “cssnext” stuff. There

[2016-09-14 03:46] mlrawlings commented on #642
A few ideas on how to reduce files:

**Remove `App.test.js`:** Tests could be deferred by including logic in `react-scripts test` to generate a sample test if it doesn't find any test files, or launch documentation in the browser on how to add tests, seeing as there are multiple ways (`.test.js`, `.spec.js`, `__test__`).

**Remove `README.md`:** Similarly, the README could be left out and launched

[2016-09-14 03:54] tbillington commented on #642
Everyones opinions here is to remove certain things, but I think they are all useful and serve a purpose. It's easy for beginners to remove things they don't need, but hard to know how to add things they do need that they haven't done before.

[2016-09-14 04:19] MoOx commented on #130
@ai My goal is not to be toxic, it's to be relevant to CRA requirements.
Sure Autoprefixer is rock solid (I had this one in mind when I said that some are probably fine). I didn't take this one into account since it's already built-in.
CSS-Modules is also very nice, but it's a "special" plugin, probably too opinionated, and you know it.
Stylelint is also not a classic PostCSS plugins too. I guess

[2016-09-14 04:44] mlrawlings commented on #636
@ccorcos if I'm not mistaken, webpack uses its own module resolution that is separate from node's `require.resolve` https://github.com/webpack/enhanced-resolve

[2016-09-14 07:29] giuseppeg commented on #130
Should we use github's reactions to decide what to do about this issue?

I would suggest to use ±1 (thumb up/down) on this comment to decide if we want to:

1) 👎   keep the status-quo and close this issue
2) 👍  keep the status-quo but add the possibility to customize postcss via config file as described in [my previous comment](https://github.com/facebookincubator/create-react-app/issues/130#issue

[2016-09-14 07:31] MoOx commented on #130
No config, means no config. I am pretty sure nobody want to add config just to support the (not really mature) PostCSS ecosystem :/

[2016-09-14 07:38] giuseppeg commented on #130
@MoOx I don't have strong opinions, I just think that we shouldn't discuss about PostCSS is good|bad|stable|unstable forever :)

fwiw 2) would be an add-on only feature i.e. if you want to configure postcss you have a way to do so otherwise continue doing what you were doing :)

[2016-09-14 07:40] ai commented on #130
I agree that “no config” means no config”.

Don’t be toxic. If cssnext plugins is not really mature, doesn’t mean that other plugins are not really mature. Stylelint, Autoprefixer, PostCSS Assets and CSS Modules show a great example of mature ecosystem.

It is especially painful to hear “not really mature” from your, because you a maintainer of cssnext, and esosystem problems in cssnext is on you.

[2016-09-14 07:47] yordis commented on #130
Let's find a solution that works for everybody

## No config means no config
Well, then don't force the package to lookup something and have predefined PostCSS plugins that only are well maintained and curated.

## Config, Hurrah!
Just add a parameter that is a Javascript file, arguments could be many things open to people who know more than me.
This way pretty much we cover the use case of advanc

[2016-09-14 07:53] ai commented on #130
Anyway I think that we could close this issue. Main topic was about future-proof plugins. As was shown CSS specs are not so stable as ES2016 was in 2015, so plugins (even very well done with good support) could not be future-*proof* for zero-config case of CRA.

@yordis maybe you should open a separated issue about config.

[2016-09-14 07:56] yordis commented on #130
I would prefer @gaearon to open a new issue if need it. The core contributors have the final word on this.

[2016-09-14 07:59] fanderzon commented on #642
Instead of removing useful files, would it help if the README started off with a better "React beginner" path? Save the parts about how to make full use of this project to build tested production apps for further down in the file, and just get right into making your own basic components in App.js.

This solution assumes that many files are thought of as bad because it makes the project look compli

[2016-09-14 08:57] gaearon opened #645 "A global CLI for running a single component"
This is something @lacker was working on before Create React App. That project got shelved but I think we could revive it in some form now.

The idea is that instead of creating a project, you just start with a single file that is the root component:

### App.js

[code]

[code]

It would use the same infrastructure as Create React App (exact same Babel and Webpack settings and CLI output), but wou

[2016-09-14 08:58] gaearon commented on #643
Which previous version? Can you clarify which versions you refer to?

[2016-09-14 09:09] dperetti commented on #645
What about the props passed to component ? Where would they be defined ? I think that's what would make the tool worth to use or not. Ideally a UI to tweak the props in realtime :-)
The styling of the component is also important. Usually I import a .less file but sometimes it just overrides styles defined at the top of the project. Without the right style, the component doesn't render correctly an

[2016-09-14 09:12] threepointone commented on #645
@tugberkugurlu you could have a defaultProp in place of a url that's passed in?
@dperetti defaultProps should get you most of the way there, you could also read a NODE_ENV/command line value for specific stuff. Further, you should really consider writing styles isolated to the component; depending on the cascade of classnames etc wouldn't make the component standalone in any case. That said, it's

[2016-09-14 09:14] i1skn commented on #641
Do somebody already doing this?

[2016-09-14 09:24] iDams commented on #645
Good idea! Besides all the benefits @gaearon said, it could also be very useful to beginners in react. They could go right into creating a new component and understand quickly how react works.

Would it work with component that have children components too? Do children have to be in the same folder as the root component?
[code]

[2016-09-14 09:26] gaearon commented on #645
Child components and CSS would be importable relatively, just like they are in Create React App.

[2016-09-14 09:33] dcamilleri commented on #645
Great initiative !
Agreed with @dperetti. As this CLI will be useful for beginners/prototyping, the way props are handled is really important. Reactive UI is a good idea, to actually see the component change realtime. We can also imagine directly passing props from the CLI like:
[code]

[2016-09-14 09:34] andreypopp commented on #645
Not sure why there's need to specify props as CLI when you can do this in JS! Simpler and doesn't require restarting when props change.

[2016-09-14 09:37] dperetti commented on #645
@gaearon then isn't your component starting to look like a standalone app ?

[2016-09-14 09:44] insin commented on #645
@dperetti It's not too much extra work to support exporting a React element once you have functionality for supporting exported components in place.

@andreypopp [contributed this exact functionality to react-heatpack](https://github.com/insin/react-heatpack/commit/d4d730a600fe3dc9fc67390d7c808a6033a88a6d) and it worked nicely.

[2016-09-14 09:46] andreypopp commented on #645
@insin with function components this is probably not needed anymore:
[code]

[2016-09-14 09:48] iDams commented on #645
@andreypopp @insin That would mean having a webpack dev server running? Or is it possible without? It's a little big heavy to "just" prototype a single component no?

[2016-09-14 09:48] gaearon commented on #645
You can specify props with `defaultProps` on the component itself, or with a wrapping component.

For example you can create `Button.example.js` that just renders `<Button />` with a few different colors and prop combinations. Then use `run-react-component Button.example.js` to quickly serve just that page and quickly iterate on it. You could even run it side by side with your main development ser

[2016-09-14 09:49] gaearon commented on #645
Not sure what you mean by "heavy". Yes it would run the same development server as CRA itself under the hood.

[2016-09-14 09:52] andreypopp commented on #645
Do we really need another project for that? Maybe it is better to rename CRA to `react-cli` and make it host both CRA functionality and proposed `run-react-component`?

* `react create-app`
* `react run-component`

[2016-09-14 09:54] iDams commented on #645
@andreypopp renaming CRA is not a good idea to me since it is pretty recent. That would confuse people :/

[2016-09-14 09:58] gre commented on #645
I'm not a big fan of forcing that `defaultProps` must implement all props. It changes a bit the semantic of `defaultProps` to me. Some components (most of them actually) have props that can't be defined trivially. Any component that takes a model data. *Or things like Relay component (but this is another topic, could imagine having run-react-relay-component :D)*

`export default () => <Comp {...so

[2016-09-14 11:15] bestwestern commented on #625
I would very much hate to lose this!
'CRA 0.4.1 doesn't support serving local static assets like you did in index.html. '

[2016-09-14 11:30] arunoda commented on #645
I think this is really tool where it helps to onboard a lot of new users to React.
Also this will be a good tool for when developing your components.

I think this is a smaller version of [React Storybook](https://github.com/kadirahq/react-storybook)

[2016-09-14 13:11] motiz88 commented on #637
Seeing this too on a similar setup:
* Windows
* npm 3.10.6
* Node 6.2.0
* create-react-app 0.3.0

All I did was create the app and run `npm start`.

[2016-09-14 13:49] SpaceK33z commented on #574
I just released `webpack-dev-server@1.15.2` with the fix for this. Thanks for the help @dceddia.

[2016-09-14 13:51] cloudmu commented on #641
Wondering if this deviates somewhat from spirit of the project.  I was also wondering the same about react-bootstrap section (instead of general guidelines to import css) in the user guide.   And, it would appear to be endorsing a particular lib, esp. for beginners.

 I like how you reason regarding NOT to include redux (#630).

With that said, I do use redux, react router, bootstrap in my project

[2016-09-14 13:54] motiz88 commented on #637
Did some digging. In my case it's a symlink issue. If `cwd` is a symlink, `babel-loader` skips all the `.js` files. If I `cd` to the project's real path and `npm start` from there - it works.

[2016-09-14 13:57] SeeThruHead opened #647 "Applications served from cdn on different host"
I'm in the process of converting our companies internal boilerplate into something that uses create-react-app.

We load all of our applications into html rendered by rails views in our application. Js/css/etc built by webpack is served via cdn.

In our boilerplate we look in the env for CDN_URL and set that as publicpath. This cdn url is provided in local dev by a .env file (loaded via dotenv modu

[2016-09-14 13:59] motiz88 commented on #637
Will try to dive in and work on a PR.

[2016-09-14 14:36] deanius commented on #645
By 'run a component' - do you mean - invoke its render method once, and print what's returned?
If printing, does it look like reactElements or JSX ? I think I need some sample output to picture it.

[2016-09-14 16:43] iRoachie commented on #642
I don't think it's too much for a beginner, I just started last week and i'm glad create-react-app abstracted the setup process. In reply to @mlrawlings about testing. I think we should leave it in. Testing is fundamental for a modern web application and i think leaving it in sets people on the right track. The lower the barrier of entry to testing the better.

[2016-09-14 16:44] guivho commented on #637
I trashed the node_modules directory, ran `npm install` followed by `npm start` and it worked: no longer any problem.

I then ran
`npm remove -g create-react-app`
`npm install -g create-react-app`
`create-react-app test-react-app`
`cd test-react-app`
`npm start`
and this worked without problems.

So, as far as I am concerned, this issue is solved.

FWIW, I'm running on windows, so my problem may n

[2016-09-14 18:50] micopiira opened #650 "Unable to add bootstrap"
I tried following https://github.com/facebookincubator/create-react-app/blob/master/template/README.md#adding-bootstrap to add bootstrap into my project

I installed bootstrap@3 with npm, added `import 'bootstrap/dist/css/bootstrap.css';` into my `src/index.js`'then ran `npm start`. The bootstrap.css file does exist in the correct directory. **And** a `import './index.css';` right below it works j

[2016-09-14 19:33] saintsjd commented on #462
@maxwell-oroark and I have made progress. We have a working version of create-react-app that enables relay support when you have `react-relay` in your package.json file and have an environment variable GRAPHQL_URL.

We don't have error messages or nice instructions in the readme yet. We are working on those before making the pull request.

If you want to take a look you can see progress here: http

[2016-09-14 19:54] jdlehman commented on #645
This is a great idea! I had something similar in a project I was working on, but it was implemented as a separate webpack build that rendered the desired component into a full screen container (we were aiming to create a fully responsive experience). I found that this was great not just for isolating components, but it was actually really helpful for styling shared components because it helped enf

[2016-09-14 20:15] vjeux commented on #645
cc @frantic

[2016-09-14 20:16] ccorcos commented on #636
Resolve Project Root PR: https://github.com/facebookincubator/create-react-app/pull/651

[2016-09-14 20:23] hummlas commented on #642
Maybe I'm off base here, but to me it sounds like @remy didn't want to create a React app, he wanted to play around with React to get an understanding it, the library in and of it self. Not how you build a production ready application with React.

Although for many people those two things overlap, in this case it seems like it didn't and that something more barebones, other than Create-React-App,

[2016-09-14 20:36] markerikson commented on #642
Yeah - I get the impression that a REPL like JSFiddle, JSBin, or WebpackBin would have been more relevant for the kind of "I just want to write some code and see what happens" goal that @remy seemed to be expressing.

[2016-09-14 20:42] remy commented on #642
@hummlas no, I think you're on point with your comments, and I was waiting for the discussion to settle a bit before coming back in.

I think it's important to keep in mind _who_ CRA is for. My comments (in my blog) might be useful, it might not, be. My sense is that CRA is for _beginners_ on their journey to learning React.

I was approaching it exactly as @markerikson suggests, very close to a R

[2016-09-14 21:27] dceddia commented on #574
Awesome, thanks @SpaceK33z. I just tried it out - it seems to fix this issue :)

@gaearon I created a PR to bump the dependency up to 1.15.2.

[2016-09-14 21:35] daviestar commented on #130
For design-led websites - which is a lot of websites, and what I make all day - unfortunately I can't use this amazing, maintained, JS build tool if it doesn't support SASS, or any kind of CSS betterer.

😔

If I could hook my own CSS (and other asset) build tools in with this somehow, and have the browser update with changes, I'd find a way to make it work.

[2016-09-15 03:12] drobannx commented on #647
I have a similar issue. I need the resulting index.html to have its link and script tags point to a url that has a CDN url prefixed to the fingerprinted assets. Right now I see no way of achieving this without abusing the homepage property in package.json by doing `//https://pathToCDN.com`

Would it be possible to do something like `CDN_URL=https://pathToCDN.com npm run build`? Or is there another

[2016-09-15 15:16] wdhorton commented on #594
`node --inspect` is still ignoring `debugger` statements, so I think we're going to have to wait until [this Jest issue](https://github.com/facebook/jest/issues/1652) is resolved

[2016-09-15 15:32] chrisbianca commented on #356
It would be nice to be able to customise this if possible.  Not sure how easy that would be, but at the moment if you have a couple of apps that want to share some components it's not possible without creating proper modules for them.

If somebody points me in the right direction, I'm happy to submit a pull request assuming that you decide it's a worthwhile change to make.

[2016-09-15 16:04] SeeThruHead commented on #647
I'm in the process of forking create-react-app to handle a few things specific to my companies needs, which includes this feature. (I've implemented it as process.env.HOMPAGE) currently. I could make a pr for this if it's coherent with create-react-app's scope and philosophy.

[2016-09-15 16:15] sylvainbannier opened #654 "Deploy script removes github pages custom domain"
When using these to deploy to github :
[code]

Github loses the custom domain setting

Note : I think it's due to the `-B` option in `git checkout -B gh-pages`.

[2016-09-15 18:54] sladkovm commented on #573
Hi, i think i stumbled upon the same issue, when using data loaders from 'd3-request' module (does React + D3.js qualifies as a good business-case for getting it fixed?).

In particular i did try { csv } and { text } and in both cases it returns index.html iso the content of actual files I wanted to load.

I happened to know that the d3-request was working OK with 0.2.3 CRA version and the example

[2016-09-15 19:36] kwelch opened #655 "Extract Lint Rules into Standalone Package"
The lint rules included in CRA are helpful for helping find potential bugs. It does so while not governing over code style.

I recommend these rules to be extracted and implemented in their own package to allow for use outside of CRA and to allow for community development of these rules.

[2016-09-15 19:52] donpark commented on #573
There is a *possible* downside to packing all scripts into one bundle which is that, **if browsers evaluate script resources in parallel**, then evaluation of scripts in a bundle may be slower than not including libraries like jQuery and D3 in the bundle.

My app in dev mode spends ~150ms loading then pauses for ~800ms in "Evaluate Script" state before running. Yes, it's ghastly. If jQuery and oth

[2016-09-15 20:06] kaatt commented on #525
Also check: babel/babel#4516

[2016-09-15 21:18] sprjr opened #656 "Editing index.html does not trigger a reload"
I'd say this is pretty minor, but I noticed when I updated my `index.html` `<title>` it did not trigger a browser reload. I did however see it on manual refresh.

I also noticed that I wasn't exactly clear on how `index.html` maps to `index.js`, when I started digging through `webpack.config.dev.js`. I saw a few comments in there, while looking through it briefly to see if I could resolve this loc

[2016-09-16 06:36] frantic commented on #645
I had a prototype of this for React Native: depending on the file extension (`.ios.js` / `.android.js`) or `--platform` flag it could run either iOS or Android simulator.

[2016-09-16 10:17] gaearon commented on #573
JavaScript is single-threaded so no, libraries are not evaluated in parallel if they are added separately.

[2016-09-16 10:20] gaearon commented on #573
It was not really "working". It happens to appear working in development mode but that file will be missing in the production build.

I would rather recommend you to eject than to use an old version. Old versions have bugs ;-). But if you must, change the version of `react-scripts` in your package.json to any past version and run npm install.

[2016-09-16 10:21] gaearon commented on #655
Yea, totally. Will do that after we land monorepo configuration PR.

[2016-09-16 11:40] bodaz opened #658 "The script has an unsupported MIME type ('text/html')"
Hi I've written a small project with create-react-app, it runs in the browser 'http://localhost:3000/' with 'npm start' but i'm seeing these two errors in the console:

[code]

this is my package.json
[code]

[2016-09-16 14:28] fson commented on #654
We're likely going to change the GitHub deployment instructions to use the simpler `docs` folder in `master` branch approach (#520).

The new set of commands to deploy will be basically:
[code]

I think this issue will be fixed by that change?

[2016-09-16 16:39] danielstern opened #659 "Updating Files Does not Cause HMR Reload"
I'm working in an application with lots of nested directories and .js files.

Sometimes, after I modify and save the file, it simply... does not update or rebuild. I have to stop the process and restart it.

What's the solution to this?

[2016-09-16 16:45] eashish93 opened #660 "[CaseSensitivePathsPlugin] Error, parsing some folders"
When importing folders like `FooBar/index.js` like:

`import FooBar from ./FooBar`

generates an error.

But import like this works:

`import Foobar from ./FooBar/index.js`.

Or if I changed the folder name to `Foobar`, then also work.

Here's the console script reference when I click on error:

[code]

[2016-09-16 16:58] eashish93 commented on #660
Closed, as this issue was related to specific folder name

[2016-09-16 16:58] #660 closed

[2016-09-16 17:09] micopiira commented on #650
Upgrading the `react-scripts` package fixed this.

[2016-09-16 17:09] #650 closed

[2016-09-16 17:24] tbillington commented on #659
I had this issue when working with a project that was in a dropbox folder. Hasn't affected any of my projects were outside the folder though.

[2016-09-16 18:33] ippa commented on #659
Not exactly the same, but feels closely related. Sometimes saving a js-file doesn't trigger the livereload. When I save it a second time it works. Sorry for the lack of details, but happens every now and then and I haven't been able to pinpoint the cause. On windows 10, latest CRA, editing with vim in gitbash.

[2016-09-16 18:44] donpark commented on #573
JavaScript is but JavaScript parsers, written in C/C++, are not. So we can't draw conclusions without proof. But at least one thing is certain, monolithic bundles cannot be parsed in parallel.

[2016-09-16 18:59] cloudmu commented on #573
My app in dev mode spends ~150ms loading then pauses for ~800ms in "Evaluate Script" state before running

Very curious about these numbers under production mode. @donpark

[2016-09-16 19:00] sladkovm commented on #573
Ok, thanks. I can't really follow the logic why the useful feature is in fact a bug, but for my humble purposes of trying quick and dirty React with D3 the JC's repo run in dev mode would do the trick.

btw, I've failed to regress the 4.1 version to 2.3 - got a log list if webpack complaints.

[2016-09-16 20:00] cpeele00 commented on #659
Same here. In fact I have a very simple project with no nested directories and the rebuilding/reloading is spotty at best. It will just stop rebuilding and hot-reloading so I am continuously having to stop the process and start it all over again. IMHO this is the biggest impedance to a smooth development experience with CreateReactApp. You guys have done such an amazing job thus far, if you could

[2016-09-16 20:07] gaearon commented on #659
Can you reproduce this with a freshly created app, or only in existing apps?
Has this been always happening, or just recently?
Could you please share your system versions?

[2016-09-16 20:09] gaearon commented on #658
Can you please share your browser version and OS?

[2016-09-16 20:38] gaearon commented on #573
I don’t know about parsing, I thought you were talking about evaluation. But this is very tangential to this topic so let’s not go there or open a separate issue to discuss.

Dev mode *is* slower btw, this is expected. Please use production mode for measuring performance.

I was not referring to this feature. I’m saying I don’t recommend using old versions because they have (other) bugs which have

[2016-09-16 20:42] #574 closed

[2016-09-16 21:13] #637 closed

[2016-09-16 21:15] donpark commented on #573
Will do once I get a clearer picture of what's going on and whether splitting up bundles will reduce evaluate script time.

Fantastic. Music to my ears. I'd close this issue but I'm not sure what the team's policy on OP issue closing.

[2016-09-16 21:47] williamle8300 opened #661 "Recommended server besides "pushstate-server"?"
There isn't an option to bind an address when serving. It only works for localhost.

[2016-09-16 21:53] gaearon commented on #661
It’s not a production server, it’s what we recommend for trying to run the production build and verifying that it works, or checking performance.

For production, use whatever you would normally use (e.g. Nginx or any other static server).

[2016-09-16 21:54] gaearon commented on #661
(I don’t really know what people use for serving static assets in production these days. You tell me 😄 .)

[2016-09-16 22:07] williamle8300 commented on #661
Oh hah. I'm a little ignorant when it comes to setting up servers. I thought the server needed to be "pushState-enabled" or something because the one you guys suggest advertises that. I guess you're saying I could use anything... even like a super barebones express server with just the static file thing enabled?

[2016-09-16 22:09] gaearon commented on #661
Sure.

We recommend `pushstate-server` for testing because it implicitly serves `index.html` for any unknown route, which is usually what you want for a client-side app. In Express you'd do this by matching `/*` instead of `/`.

[2016-09-16 22:09] #661 closed

[2016-09-16 22:10] gaearon commented on #573
I’d like to keep it open so I can later come back to all of them and make sure we have a way of addressing the requirements.

[2016-09-16 22:15] williamle8300 commented on #661
Thanks man! Appreciate it! Have a great Friday, Dan da Man!