[2016-09-16 22:15] gaearon commented on #638
I see. I think this is a very specific request and probably out of scope for CRA. You can do this manually by post-processing build output if you’d like.

[2016-09-16 22:15] #638 closed

[2016-09-16 22:28] gaearon commented on #472
Likely fixed by #593 and will be out in 0.4.2.
Closing but please reopen if after 0.4.2 comes out you still experience this.

[2016-09-16 22:28] #472 closed

[2016-09-17 08:20] louisgv commented on #642
I think it would be better to start out with a well-accepted directory structure than a totally flat unstructured code base. Something is always better than nothing imo. People follows different methodology but the one I found many other professional and myself using looks somewhat like this:

[code]

[2016-09-17 09:00] ippa commented on #642
I'll throw in my $0.02. Just this discussion alone is a reason to like CRA :).

`README.md` can be removed. Everyone has seen this prior to installing CRA and the web displays it better. How great wouldn't it be to have analytics on those littering READMEs to see how many opens and reads them. My bet is that they don't add much but rather create mental overhead due to another file that's "not your

[2016-09-17 14:37] a3gis commented on #637
I am still getting a "You may need an appropriate loader to handle this file type." with a symlink'ed folder in `src/`. Was this supposedly fixed by https://github.com/facebookincubator/create-react-app/commit/07105bfd877cd56d4ab0b1a669199f877c8c9174? (on OS X).

[2016-09-17 14:43] a3gis commented on #637
Nevermind, my issue seems to be in the lines of https://github.com/webpack/webpack/issues/2937

[2016-09-17 16:14] gaearon commented on #637
It was fixed but not released. You can see the issue is tagged with a milestone. When the related milestone is released, you will see it on the GitHub Releases page and in the CHANGELOG.MD.

[2016-09-17 18:23] GuilhermeCoelhoPiovesan opened #666 "How to add a static image in open graph tag?"
When I run gh-pages or deploy the image is not sent to the branch gh-pages.

[2016-09-17 18:41] gaearon commented on #666
Can you show your HTML code?

[2016-09-17 19:02] bodaz commented on #658
browser version: Version 53.0.2785.116 (64-bit)
os: OS X El Capitan version 10.11.6

[2016-09-17 19:07] gaearon commented on #658
Could you please show a screenshot? Thanks.

[2016-09-17 19:26] gaearon opened #667 "Treat all unknown extensions as resources"
I’m getting a bit tired of extending our whitelist like in #665.
I think we should have a “catch all” loader that uses `file-loader` for any unknown extensions.

This makes sense because it’s easy to explain: “if you import something that isn’t JS or CSS, it becomes a part of the build, you get its filename, and can do whatever with it”.

I think @dralletje planned to look into this.

[2016-09-17 19:37] gaearon commented on #645
The confusing part here is people will start trying to do `react start` and `react build` and we’ll have to explain `npm scripts`. They’ll also expect code generation and unfavorably compare CRA to Ember/Angular CLIs because they provide it. We don’t want to give false impressions about project’s scope.

[2016-09-17 20:08] #498 closed

[2016-09-17 20:20] kahneraja commented on #618
i'm super keen on resolving this. anyone got some tips or direction i can take here?

[2016-09-17 20:30] gaearon commented on #618
The way I want it to work is that any attribute value starting with `./` should be processed via `file-loader`. But this needs to be implemented as a feature in `html-loader` and I’m not sure if they’re interested.

[2016-09-17 20:32] kahneraja commented on #618
How does `<link rel="shortcut icon" href="./src/favicon.ico">` pick up required build change?

@gaearon - Is that something covered off in `file-loader`?

[2016-09-17 20:39] gaearon commented on #618
No, it’s part of `html-loader` ([usage](https://github.com/webpack/html-loader/#usage)).

We currently specify `link:href` as `attrs` option so that’s the only thing it picks up.
I want it to pick up any attribute value starting with `./`: https://github.com/webpack/html-loader/issues/17#issuecomment-247806297.

Relevant code is pretty small: https://github.com/webpack/html-loader/blob/master/inde

[2016-09-17 20:40] kahneraja commented on #618
thanks @gaearon i'll look into it :)

[2016-09-17 20:50] kahneraja commented on #618
ah. i know understand we are looking at how this config gets picked up...
https://github.com/facebookincubator/create-react-app/blob/master/config/webpack.config.prod.js#L173

[2016-09-17 20:53] gaearon commented on #618
Yep, that’s where it is.

[2016-09-17 20:53] kahneraja commented on #618
do we want to take a `href-content` place holder attribute approach?

```<meta name="twitter:image:src" href-content="./src/title.jpg">```
becomes
```<meta name="twitter:image:src" content="http://wetrumphate.com/static/media/title.3c0fcf5e.jpg">```

[2016-09-17 20:54] gaearon commented on #89
I have a proof of concept of this working: https://twitter.com/dan_abramov/status/773799004878565376.
I’d like #419 to land first, and then I can make add this.

[2016-09-17 20:54] kahneraja commented on #618
hmm. i guess the idea of content starting with "./" is sort of better.

[2016-09-17 20:55] gaearon commented on #618
I can’t really imagine why somebody would want to start their attributes with `./` and not mean a local file, so I think it will be safe to just assume that’s the intention.

[2016-09-17 21:08] SpaceK33z commented on #659
This could be related to the "safe write" feature some editors use. See ["Working with editors/IDEs supporting safe write"](https://webpack.github.io/docs/webpack-dev-server.html#working-with-editors-ides-supporting-safe-write) from the webpack-dev-server docs.

[2016-09-17 21:10] gaearon opened #670 "Plugin System"
I know we said we don’t offer any configuration but...

If Create React App had a plugin system, what would it be like? Can you briefly describe build tooling plugin systems that you’ve **used and liked** in this thread?

If it was supported, what would you build with it?

[2016-09-17 21:10] kahneraja commented on #618
additional notes

[code]

[2016-09-17 21:11] kahneraja commented on #618
hmm i'm guessing the html-loader guys are not going to approve cause they already have advice on this.
https://github.com/webpack/html-loader#interpolation

[2016-09-17 21:11] kahneraja commented on #618
you think it's worth pushing for a change?

[2016-09-17 21:14] kahneraja commented on #618
we could do both.

change the prod config in this` create-react-app` and also push for that change in `html-loader`

what's your take @gaearon ?

[2016-09-17 21:20] bodaz commented on #658
just created a new project from scratch, still getting this error.

screenshot here:
[http://i.imgur.com/EjywosK.png](url)

[2016-09-17 21:44] just-boris commented on #670
I like [Karma test runner](https://github.com/karma-runner/). It scans your package space and automatically picks up all packages like `karma-*` that you have installed in the node_modules folder.
Also, Karma itself built using dependency injection pattern, which gives you an ability to easily receive and override any part of the context.

So, for `create-react-app` it means the following: to get

[2016-09-17 21:48] gaearon commented on #483
Why didn’t we send a PR to `babel-loader` itself to use `findCacheDir({ name: 'babel-loader' })` by default? Wouldn’t that make more sense than special-casing it here?

[2016-09-17 21:52] gaearon commented on #658
Interesting. Maybe some transitive dependency is doing something funny.
It’s not an error so you shouldn’t worry about it.
I’ll try to find what causes it when I’m back from vacation but feel free to jump in and investigate.

[2016-09-17 21:53] gaearon commented on #659
@SpaceK33z

Thanks for jumping in. I totally forgot about it.

@danielstern @tbillington @ippa @cpeele00

Does this help?

[2016-09-17 21:58] arturparkhisenko commented on #670
I personally like idea with a `base` html tag and imports after it, but it's works globally and it's in html.
What if in js we could make a plugin which can parse this code:
[code]

[2016-09-17 22:02] gaearon commented on #618
I don’t see why not. Interpolation is a possible solution but I haven’t seen `./` being considered before. I think it could work fine as an option (even if not the default).

If we just add `meta:content`, wouldn’t it break if your content is something other than a file? e.g. `<meta name="description" content="my website">` If not maybe we can just do that.

[2016-09-17 22:10] gaearon commented on #501
As described in https://github.com/facebookincubator/create-react-app/pull/520#issuecomment-247811086, let’s find (or create) a CLI package that just publishes a directory to GH pages assuming `/docs` configuration.

[2016-09-17 22:13] kahneraja commented on #618
i guess the minimum we could do is just push this...
https://github.com/roadmanfong/create-react-app/commit/48bb6cf692ae401f8deba02cb53009be0f7a9b3e

and then encourage people to do the approach @roadmanfong mentioned.
`<meta property="og:image" content="${require(`./src/images/cover.png`)}" />`

shall i set up a PR?

[2016-09-17 22:47] CaliAlec commented on #639
@vrk Can you please update your fork of food-lookup-demo to include what you did to get it properly deployed on Heroku? I followed the steps in your fork as well as what you said in this comment and I still can't access the api dyno. I get 500 Internal Server Error.

Thanks!

[2016-09-18 00:27] fson commented on #483
I've sent a PR to `babel-loader` now.

[2016-09-18 01:33] fcaldera commented on #643
I think in v0.4.0 it was working fine Dan.

[2016-09-18 03:55] cpeele00 commented on #659
@gaearon I'll give it a shot and will get back to you. Thanks!

[2016-09-18 04:56] madmantalking commented on #670
I am not sure if this fits the need,  but maybe supporting webpack configurator (https://github.com/lewie9021/webpack-configurator).
Gatsby js (https://github.com/gatsbyjs/gatsby)  uses it.
And just by extending webpack,  Gatsby gives users enough control of the project, yet maintaining the desired abstractions.

[2016-09-18 05:10] FezVrasta commented on #670
plugin system... don't you encounter the risk of becoming another "grunt" thing with thousands of wrappers to use even the simplest of the libraries?

[2016-09-18 06:38] cesarandreu commented on #667
Looking at webpack.config.dev.js, I'm wondering: why use url-loader for audio / video, but file-loader for images? In the scenarios I'm most familiar with, you'd usually do the complete opposite of that: you want essential images, like sprite sheets, to load immediately, but sound and video can wait.

I think this using file-loader for unknown resources is a good default.

[2016-09-18 06:56] goshakkk commented on #670
@just-boris [Brunch](http://brunch.io) does similar, instead of looking through the folders though, it just looks in the `package.json` for `*-brunch` and `brunch-*` and loads those. The reason for doing package and not a fs listing is to make sure cloning a repo will build the same for everyone and not turn out that Bob had this Working Locally™.

The experience of simply doing `npm i -D sass-bru

[2016-09-18 07:03] cesarandreu commented on #670
I like webpack's plugin system. All internals are implemented as plugins. It lets you hook into any part of the system.

If you're at the point in which you need that level of flexibility, you might be better off learning how to use the underlying tools.

What are examples of scenarios which would be well served by plugins?

I think helping improve the underlying tools would go a long way towards

[2016-09-18 07:32] goshakkk commented on #670
@cesarandreu for one, loaders. If adding a loader to create-react-app- was as simple as `npm install -D react-scripts-sass` and didn't require ejecting and manually changing the config, that'd be a great experience.

[2016-09-18 08:03] #631 closed

[2016-09-18 08:10] gaearon commented on #618
I’m not really happy supporting this long term and adding custom syntax to HTML.

[2016-09-18 08:15] cesarandreu commented on #670
@goshakkk Wouldn't concord solve that use-case? To some degree, at least. You'd still have some stuff to configure.

I like the idea of having a thing you can just drop in and it works. But I don't know how it can be achieved, once you start considering how it interacts with other plugins.

Will it work when someone writes a plugin for HMR? Extract stylesheets for production builds? Pass em throug

[2016-09-18 08:15] kahneraja commented on #618
Ok no problem. Ill just do that as a temp work around and try to push to the html-loader proj later.

[2016-09-18 08:16] gaearon commented on #618
:+1:

[2016-09-18 08:19] emirotin commented on #670
I used to love http://mimosa.io/ (sane defaults for all the plugins, very little mandatory configuration).
http://www.metalsmith.io/ is also great, but it's for programmatic usage. The biggest advantage is that the entire system is dead stupid simple, a plugin is a function, gets 3 args, can do whatever it wants to the file tree.

There's also a similar thing for grunt: https://www.npmjs.com/packa

[2016-09-18 08:34] gaearon commented on #611
I expect https://github.com/facebookincubator/create-react-app/commit/801c20028fc8e53c4348f5d66eeb991a1e9e91f1 to fix it. At least, rather than clear the console completely, it should put a lot of lines between the last and next output.

If this still doesn’t quite work for you, I think you’ll need to bring it up with Foreman because it should be technically able to omit certain escape characters

[2016-09-18 08:34] #611 closed

[2016-09-18 08:48] guy-kdm commented on #670
Are you interested more in tooling plugins (e.g. flow, say the "create-app" side), or in "react" side library plugins which are plugged with a conventions system and (maybe) no configuration and scaffolding?

[2016-09-18 08:53] SpaceK33z opened #671 "Using proxy from webpack-dev-server"
Something I noticed while being bored and looking through `scripts/start.js`: CRA handles proxy themselves, but webpack-dev-server also has built-in support for this (using the same package, `http-proxy-middleware`).

As I maintain WDS, I wonder what is missing from the proxy functionality in WDS. Feedback is welcome :). We only use the powerful `http-proxy-middleware` package since a few weeks, s

[2016-09-18 09:00] gaearon commented on #671
We want a [very specific behavior](https://github.com/facebookincubator/create-react-app/blob/master/scripts/start.js#L202-L250) with regards to choosing between `historyApiFallback` and `proxy` fallbacks. It uses a heuristic (`accept` header) so I think this might make sense for an opinionated project like CRA but probably not for most WDS users.

[2016-09-18 09:07] SpaceK33z commented on #671
WDS also accepts `historyApiFallback` with an object, so it's also possible to use that heuristic in there.
I'm not completely sure on how to pull of the `mayProxy` regex yet.

[2016-09-18 09:12] SpaceK33z commented on #671
After reading some more, I think it's possible. In WDS, you can add a `context` property. This `context` property is fed to `http-proxy-middleware` as the first parameter.

So this piece of code `pathname => mayProxy.test(pathname)`, could be moved to `context`.

[2016-09-18 09:16] gaearon commented on #671
I probably won’t have the time to spend investigating this, but I’ll leave it open and maybe somebody can give it a try.

[2016-09-18 09:17] gaearon commented on #618
Meh. I think let’s go for `${}` syntax since it’s explicit and gives user the control.

@kahneraja

Would you mind submitting a PR that removes automatic detection of `link:href` but adds `${}` syntax?

[2016-09-18 10:00] netanelgilad commented on #670
Would love to be able to extend create-react-app 😍 .
About what I would build if a plugin system were available: create-react-app + Typescript. For now I used create-react-app ejected files and added typescript for myself. And I can see why a plugin system would make it hard to extend create-react-app core while still supporting all the plugins out there.

I'd like to add babel plugin system as a

[2016-09-18 10:07] gaearon commented on #667
I didn’t really think it through. If you have better ideas for defaults please submit a PR.

[2016-09-18 10:15] gaearon commented on #643
I checked, and it’s not a bug.

If `src/setupTests.js` exists when ejecting, it will be included in `setupFiles`.
Otherwise it will not.

We can’t include it unconditionally because Jest will (rightly) throw an error about missing file.
We could potentially generate it on eject but I don’t think it’s very important.

I made a small tweak: now is uses a relative path instead of an absolute one afte

[2016-09-18 10:15] #643 closed

[2016-09-18 10:18] gaearon commented on #592
Lifting the milestone because I don’t quite understand what’s going on here.

For now I would recommend creating the project in some different folder, or maybe using PowerShell instead of Windows Cmd.

Please let me know if either resolves the problem.

[2016-09-18 10:19] gaearon commented on #583
Moving the milestone because I want to release 0.4.2 today, and this is not fixed yet.
@cpojer Could you provide any estimate on this?

[2016-09-18 10:21] gaearon commented on #558
Going to move this to 0.5.0 where I want to solve a few issues like this in a single batch.

[2016-09-18 10:22] gaearon commented on #670
This is the direction I want to move it towards in the future, after we land #419.

[2016-09-18 10:38] gaearon commented on #587
I can’t reproduce this on master.

I’m going to release 0.4.2 today.
If you still have issues with it, please provide a project reproducing it.

[2016-09-18 10:44] alwint3r commented on #587
Ok then, I'll re-open this issue if I still have the same problem with 0.4.2. Thanks!

[2016-09-18 10:50] gaearon commented on #639
Maybe worth including this into that guide?
cc @acco

[2016-09-18 11:25] AlicanC commented on #670
@gaearon I was just going to create an issue suggesting a "babel-preset-facebook".

A quote from that:

There is a need to hide configuration from users because they are complicated and confusing. Instead of hiding the ugly truth, we can prettify the truth and stop hiding it. Then people could mess with their configs without going crazy and there wouldn't be a need for a plugin system.

[2016-09-18 11:33] ippa commented on #659
@SpaceK33z: that url seems broken? it doesn't jump to any specific part of the page and I can't even find the word "safe".

[2016-09-18 11:42] gaearon commented on #659
It didn't show up for me at first but I saw it after refresh.

<img width="1066" alt="screen shot 2016-09-18 at 14 41 39" src="https://cloud.githubusercontent.com/assets/810438/18615375/0d6d5530-7dae-11e6-9713-18052744c747.png">

[2016-09-18 11:42] SpaceK33z commented on #659
@ippa, apparently some dude renamed the whole docs for webpack-dev-server to "react-hot", causing some weird issues :(. I renamed it back now, so it should work again.

@gaearon haha see your comment just popping up, see above ;p.

[2016-09-18 11:53] gaearon commented on #637
This should be fixed in 0.4.2.
Please verify!

[2016-09-18 11:54] gaearon commented on #616
We now print a warning in 0.4.2.

[2016-09-18 11:54] gaearon commented on #472
This should be fixed in 0.4.2.
Please verify!

[2016-09-18 11:54] gaearon commented on #483
This should be fixed in 0.4.2.
Please verify!

[2016-09-18 11:55] gaearon commented on #612
This should be fixed in 0.4.2.
Please verify!

[2016-09-18 11:55] gaearon commented on #574
This should be fixed in 0.4.2.
Please verify!

[2016-09-18 11:55] gaearon commented on #498
This should be fixed in 0.4.2.
Please verify!

[2016-09-18 11:55] gaearon commented on #579
This should be fixed in 0.4.2.
Please verify!

[2016-09-18 11:56] gaearon commented on #611
I’d appreciate if you could check if 0.4.2 works better.

[2016-09-18 11:56] gaearon commented on #623
This should be fixed in 0.4.2.
Please verify!

[2016-09-18 11:56] gaearon commented on #96
This should be fixed in 0.4.2.

[2016-09-18 11:57] a3gis commented on #637
@gaearon My comment was based on master, but either way I think my problem is (somewhat) unrelated. I wanted to symlink a "shared" library in my project but ran into some issues with babel and npm using the symlink'ed folder absolute path and not the path where the symlink is (so loaders did not process the files in the shared folder, and npm module resolution was happening in the shared folder hi

[2016-09-18 12:18] eashish93 commented on #623
Yeah, it's working.
On 18-Sep-2016 5:26 pm, "Dan Abramov" <notifications@github.com> wrote:

[2016-09-18 12:33] andreypopp commented on #498
Works well, thanks!

Btw. love how it is easy to upgrade to the new version—just `npm install` you get new features!

[2016-09-18 14:16] pungggi commented on #574
Yes it works! Good job.

[2016-09-18 14:28] gaearon commented on #498
🍰

[2016-09-18 15:37] fson opened #674 "Extract Babel configuration to a separate package"
Once the monorepo configuration in #419 has landed, we should move Babel configuration to a preset package and linting rules to an ESLint config package.

This will improve the ejected experience, because we will generate less configuration and also simplify some of the underlying code, which is getting quite complex because of the differences between running inside react-scripts and in the ejecte

[2016-09-18 17:47] vrk commented on #639
@CaliAlec Awesome, glad you got it working!

@gaearon / @acco One thing that wasn't obvious to me until now: the fact that you don't have to/shouldn't run a server for your React apps made through create-react-app, and that the server business is strictly for debugging.

I think it'd be helpful to mention that more clearly in the following places:
- [npm start](https://github.com/facebookincubator

[2016-09-18 19:31] gaearon opened #675 "Duplicate React"
“Duplicate React” is an incredibly common issue that produces weird errors and confuses beginners and advanced users alike. It happens when you install `react` but some component you’re using installs its own copy of `react` (often with a different version).

React doesn’t throw in such cases because there are situations in which multiple React may validly coexist in the page (e.g. a third-party R

[2016-09-18 19:42] gaearon commented on #675
Also I’m not sure if the issue is still going to be that relevant in React 15.4.0 which *really* puts the renderer code into `react-dom`. Maybe not anymore! cc @spicyj

[2016-09-18 19:48] spicyj commented on #675
I don't think 15.4 should behave any differently from today though maybe I'm missing exactly how these bad interactions occur.

[2016-09-18 20:09] evocateur commented on #675
In my experience, option 3 is the most appropriate for a Webpack-based bundle. Any react-based dependency that doesn't properly express a react peerDependency probably isn't worth depending on in the first place. Another "duplicate react" trigger is using `npm link` with a dependent that has react as a devDependency (i.e., has a proper peerDependency); option 3 is the only solution for that proble

[2016-09-18 20:32] erikschlegel opened #676 "Running into issue when upgrading from 0.4.1->0.4.2"
If you are reporting a bug, please fill in below. Otherwise feel to remove this template entirely.

### Description
Running into an error when I run npm start Error: Cannot find module 'lru-cache'
What are you reporting?
An error.
### Expected behavior
The Webpack dev server to properly start.
Tell us what you think should happen.

### Actual behavior
Receiving the following error.

module.js:327

[2016-09-18 20:35] gaearon commented on #676
Can you consistently reproduce this?
Could there be some network issue during install?

[2016-09-18 20:37] erikschlegel commented on #676
Hey Dan - this happens every time. I'm also receiving the following error when trying to create a new site.

$ create-react-app erik
Creating a new React app in C:\Users\erisch\Source\Repos\erik.

Installing packages. This might take a couple minutes.
Installing react-scripts from npm...

npm WARN optional dep failed, continuing fsevents@1.0.14
react-scripts@0.4.2 node_modules\react-scripts
module

[2016-09-18 20:40] gaearon commented on #676
So far I can’t reproduce this with npm 3.
Will try npm 2 soon.

Can you update npm in case it’s their bug?

[code]

[2016-09-18 20:40] gaearon commented on #676
Oh okay, I can reproduce this on npm 2.

[2016-09-18 20:44] erikschlegel commented on #676
After updating npm now getting a completely different error.

erisch@ERISCH-X1GEN3 MINGW64 ~/Source/Repos
$ npm i -g npm@latest
C:\Users\erisch\AppData\Roaming\npm\npm -> C:\Users\erisch\AppData\Roaming\npm\node_modules\npm\bin\npm-cli.js
npm@3.10.7 C:\Users\erisch\AppData\Roaming\npm\node_modules\npm

erisch@ERISCH-X1GEN3 MINGW64 ~/Source/Repos
$ create-react-app erik
Creating a new React app in

[2016-09-18 20:50] erikschlegel commented on #676
what version of npm are you using?

[2016-09-18 20:51] olegafx commented on #675
In my projects I'm using alias as a solution of that problem. So my vote is for option 3.

[2016-09-18 20:58] gaearon commented on #676
I don’t seem to have this problem after `npm install -g npm@next`.
Can you try that?

(I know it’s a lousy answer but fighting npm issues is hard.)

[2016-09-18 21:03] gaearon commented on #675
Would anybody like to submit a PR for option 3?

[2016-09-18 21:11] erikschlegel commented on #676
I can create a site now, but still running into the same npm start issue. What I'm trying to do is integrate this package with azure, as the default way to build react based azure web-apps and use kudu for deployment. One of the things I noticed here is that the node modules created under node_modules are not defined in package.json. I guess the only workaround would be to eject and deploy the eje

[2016-09-18 21:15] gaearon commented on #676
Which one? Missing `lru-cache`? It seems like something got messed up on publish, maybe because I was using a buggy npm version. Looking into that now.

Not sure I understand the question. Can you rephrase?
npm 3 installs nested dependencies in top-level folder so it’s expected.
Just running `npm install` is enough, you definitely don’t need to eject or add them all to `package.json`.

[2016-09-18 21:20] gaearon commented on #676
Confirming this was a result of bad publish.
I’m publishing a version right now that I think should fix this.

[2016-09-18 21:20] thangngoc89 commented on #675
@gaearon I can do it

[2016-09-18 21:29] erikschlegel commented on #676
Scratch the question I asked from earlier. I'm able to create a new site and run npm start with using react-scripts 0.4.2. The issue seems isolated to npm version 2.

[2016-09-18 21:44] gaearon commented on #676
Fixed with 0.4.3.
Thanks for report and quick replies.

[2016-09-18 21:44] #676 closed

[2016-09-18 21:49] gaearon commented on #676
(You don’t need to do anything to use `react-scripts@0.4.3` for new projects—it will be installed automatically. The global `create-react-app` command will stay at `0.4.2` because it doesn’t need to be updated. In existing projects, you can bump `react-scripts` to `0.4.3` in `package.json` and run `npm install`.)

[2016-09-18 22:59] erikschlegel commented on #676
Thanks a bunch for the quick turnaround Dan. This library rocks!

[2016-09-19 00:43] tmeasday commented on #670
I think there are probably a few lessons to be learned from Meteor's [build plugin system](https://guide.meteor.com/build-tool.html) -- although webpack and Meteor's build tool have some pretty different starting assumptions, I think CRA's "zero-config"-ness is going to run up against a lot of the same problems we've seen in Meteor.

For instance, although it's a great developer experience just in

[2016-09-19 02:18] jashsayani opened #679 "Cannot find module "jquery""
I am porting over some old code that uses jQuery. For now, I need jQuery in my project (will slowly get rid of it). I added it to my `dependencies` in package.json and ran `npm install`. I see `jquery` under `node_modules` now.

In my component file, when I add `import $ from 'jquery';`, I see this error:
[code]

I referred to https://github.com/facebookincubator/create-react-app/issues/614 but st

[2016-09-19 03:10] AlicanC opened #680 "Why is ESLint configured as a Webpack preloader?"
ESLint has nothing to do with Webpack in our projects. We use Nuclide Diagnostics to get results from it and also have it in our `npm test` so it can stop CI from passing.

Was this done to workaround some technical issue or is there more to it?

[2016-09-19 04:56] alwint3r commented on #587
I still have the same issue with 0.4.2, here's the project repo: https://github.com/alwint3r/reweather. You can checkout to 0.4.2 branch on that repo to check the error, since the master branch uses 0.3.1 and everything works fine.

The file that causes the error is `src/lib/mqttredux.js`.

[2016-09-19 06:14] gaearon commented on #680
No, there is no technical issue. It is convenient to have ESLint in preloaders so we can re-lint changes files fast and display the lint output in the terminal and in the browser console. Since we only use the linter for rules that commonly indicate mistakes, it is fairly informative.

You can still configure linting in your editor (usage guide has explicit instructions for doing so). But we think

[2016-09-19 06:14] #680 closed

[2016-09-19 06:15] gaearon commented on #679
Can you provide a project reproducing this?

[2016-09-19 06:19] AlicanC commented on #680
Thanks for clarification.

[2016-09-19 06:46] gaelduplessix commented on #675
I think this doesn't only apply to React. Already had some troubles with duplicate dependencies in my bundle and I would love the bundler to tell me when that happens / allow me to prevent it. This is especially a problem when using [npm link](https://github.com/npm/npm/issues/7742) to link multiple private dependencies

[2016-09-19 06:49] AlicanC commented on #642
Who is this mysterious "beginner"? Someone who just started coding or someone who is moving from another framework? Answer to this question changes the answer to this issue drastically.

If we are targeting the absolute beginner, then:
- The logo must be a PNG or a JPEG. They will have no idea what an SVG is.
- Tests should be removed.
- index.html should be hidden so they don't put any CSS or JS

[2016-09-19 07:20] jashsayani commented on #679
It should be easy to reproduce. Use:
`create-react-app test`

Then add the package:
`npm install jquery --save`

Now import it:
`import $ from "jquery";`

Note: I'm using jQuery 1.9.1

[2016-09-19 07:28] gaearon commented on #679
Works with 3.1.0:

[code]

<img width="770" alt="screen shot 2016-09-19 at 10 27 28" src="https://cloud.githubusercontent.com/assets/810438/18624909/b23b3aa0-7e53-11e6-92c1-4f97764df8bc.png">

I’ll give 1.9.1 a try now.

[2016-09-19 07:37] BenoitAverty commented on #611
Thanks for adding this. However, it doesn't work on my system (debian):

When using terminator or guake, I see a piece of the escape sequence on the screen. It inserts blank lines (like the "clear" command) but it inserts too many.

When using Hyperterm, It behaves exactly like before, almost as if the `isFirstClear` variable wasn't set.

On this screenshot, the top terminal is terminator and the

[2016-09-19 07:40] gaearon commented on #679
With `jquery@1.x` the only solution seems to be:

[code]

With `jquery@2.x` and later, `import` works properly:

[code]

[2016-09-19 07:40] #679 closed

[2016-09-19 07:49] gaearon commented on #611
I’d appreciate if you could try to fiddle with that sequence too.
OS X and Windows are more of a focus for us, but if you could figure out something that works everywhere, that would be helpful.

[2016-09-19 07:49] sylvainbannier commented on #654
@fson it think so. thanks.

[2016-09-19 07:55] BenoitAverty commented on #611
Sure, I'll try to make some time and open a PR. I won't be able to test on MacOS though.

[2016-09-19 09:06] richkeenan commented on #472
Tested on 0.4.2. Looking great!. Thanks folks

[2016-09-19 11:36] gaearon opened #682 "Document maintaining a fork of react-scripts as an alternative to ejecting"
It is not common knowledge that you can fork `react-scripts`, publish your fork, and then do `create-react-app my-app --scripts-version my-react-scripts-fork`.

This can be useful for customized setups, especially if you want to merge upstream updates once in a while. And with something like https://github.com/1egoman/backstroke, it might not even be painful!

We should document this. Help welcome

[2016-09-19 11:51] thangngoc89 commented on #682
I tried this before. (0.2 maybe). But the global cli doesn't install the custom script. Was it fix?

[2016-09-19 12:06] iRoachie commented on #642
@ippa lol i agree on that README, however for the styles its great to have both of them. Letting people know well index is where your global styles go, and then the App.css showing the convention for how to add component styles

[2016-09-19 12:07] zperrault commented on #682
We are going to be forking react-scripts and attempting to move our build process over to it @trunkclub. I'll talk to the team but I think we could write documentation as we go through the process.

[2016-09-19 12:15] gaearon commented on #682
There was a bug but should be fine with 0.4.3.

[2016-09-19 12:19] TrevorWAdams opened #684 "User Guide Links in Readme.md are broken"
The User Guide links in the readme.md appear to be broken. I get a 404 error on my system.

[2016-09-19 12:42] gaearon commented on #684
Fixed now, thanks.

[2016-09-19 12:42] #684 closed

[2016-09-19 14:45] SeeThruHead commented on #670
I particularly like kotatsus layer over webpack. Less config overall and plugins specified via cli Args optionally

[2016-09-19 15:55] fson commented on #674
I could look into this soon, but I wonder what we should call these packages? I'll throw in some random ideas:

* Babel preset: `babel-preset-react-app`, `babel-preset-react-recommended`, `babel-preset-create-react-app`?
* ESLint config: probably similar to the Babel preset name, but prefixed `eslint-config-`?

[2016-09-19 15:55] leftdevel commented on #682
This is supper awesome (...if I understood correctly), Thank you! I'm loving create-react-app, but in the current state it felt like you either embrace it as it is (minimal), or move away.  And"Eject" makes you feel like you're being ungrateful with the maintainers.

Now with this approach, and in my company, I can be the one maintaining the custom scripts while still keeping my teammates away fro

[2016-09-19 16:07] kirkaustin commented on #682
I just run a short custom script after create-react-app does its thing so that I can support CSSModules.  All it does is alter two lines in the webpack config scripts (css loader delacarations).

Seemed like overkill to fork and publish, but maybe that's the way to go?

[2016-09-19 16:11] thangngoc89 commented on #682
@kirkaustin you don't need to publish it. You can install it directly from github

[2016-09-19 16:19] kirkaustin commented on #682
@thangngoc89 Not sure I understand.  At my company we have an enterprise GitHub account.  Are you suggesting that I can have my fork pulled from there?

[2016-09-19 16:22] kahneraja commented on #618
woo cool idea! that sounds like a great idea.

but is that backwards compatible? or should i setup that change to `html-loader` and also the default index.html in `create-react-app`?

[2016-09-19 16:30] thangngoc89 commented on #682
You're using npm to install dependencies right? You can do this `npm install git+ssh://git@github.com/your-company/react-scripts-fork` . You don't need to publish the scripts to npm and then install it.

[2016-09-19 16:40] kirkaustin commented on #682
Great, thanks!

[2016-09-19 16:48] kahneraja commented on #618
@gaearon another thing.

from looking at this test it does sort of look like the `html-loader` guys are keen on sticking with the `$(require('...'))` approach.
https://github.com/webpack/html-loader/blob/master/test/loaderTest.js#L122

@zhuqiacheng?

[2016-09-19 17:04] kahneraja commented on #618
also... is there much of a difference between `${`./src/img/title.jpg`}` and `$require{`./src/img/title.jpg`}`?

in my head they seem same-ish... ?

[2016-09-19 19:06] saintsjd commented on #462
Merged with master. We now have eject support, nicer errors, and a great README.

https://github.com/facebookincubator/create-react-app/issues/662

[2016-09-19 19:50] sheerun commented on #618
As React shown, javascript is better than any templating language. Allowing `${}` interpolation inside html allows not only with full webpack integration (like `src="${require('../image.png')}"`, but also allows for seamless templating `<div id="header">${require("../partials/header.html")}</div>`. It's the easiest way to integrate with webpack dependency traversal.

For me allowing interpolation

[2016-09-19 19:55] kahneraja commented on #618
If i understand things correctly, @gaearon i do tend to agree with @sheerun.

the standard interpolate approach is flexible and possibly easier to maintain.

If that's the case then fix to this would a PR to the 'create-react-app' to line up config and html files.

[2016-09-19 21:56] gaearon commented on #618
OK, will accept a PR that adds interpolation syntax but disables automatic handling of `link:href`.

[2016-09-19 21:57] gaearon commented on #659
Some more things to try here: https://webpack.github.io/docs/troubleshooting.html#watching

[2016-09-19 22:16] kahneraja commented on #618
on it :)

[2016-09-19 22:49] kahneraja commented on #618
getting a serious of failures when attempting to require interpolation with the dev config.
![image](https://cloud.githubusercontent.com/assets/5403386/18651520/c9fda9ca-7e99-11e6-8781-fe74ae87f6ec.png)
investigating....

[2016-09-19 22:51] gaearon commented on #618
Maybe there’s some kind of typo in `index.html`?

[2016-09-20 00:30] ccorcos commented on #670
I like the idea of a "zero-configuration" build tool. So even with a plugin system, I think that should still be hidden behind its own "zero-configuration" tools.

What I'd like to see is a package like `create-react-core` pulled out into its own package. And then `create-react-app` has `create-react-core` as a dependency. It has a simple config file for things like installing specific polyfills,

[2016-09-20 04:51] pzenger commented on #72
I just started a new project with create-react app, and for flow to work I had to include the bit in the documentation,
[code]
As well as
[code]

[2016-09-20 07:34] inertum opened #686 "Problems installing create-react-app"
Tried to install as global (per instructions)

### Expected behavior

Installed as global

### Actual behavior

Errors out "no name provided in the package.json"

### Environment
OSX El Capitan
NVM 0.32.0, node 6.6.0 and npm 3.10.3

[2016-09-20 07:45] gaearon commented on #686
Can you post a full output? I can't reproduce it.

[2016-09-20 07:47] inertum commented on #686
0 info it worked if it ends with ok
1 verbose cli [ '/Users/oltsa/.nvm/versions/node/v6.6.0/bin/node',
1 verbose cli   '/Users/oltsa/.nvm/versions/node/v6.6.0/bin/npm',
1 verbose cli   'install',
1 verbose cli   '-g',
1 verbose cli   'create-react-app' ]
2 info using npm@3.10.3
3 info using node@v6.6.0
4 silly loadCurrentTree Starting
5 silly install loadCurrentTree
6 silly install readGlobalPacka

[2016-09-20 07:48] #686 closed

[2016-09-20 07:48] inertum commented on #686
Apparently I had cloned the repo to the same folder I was trying to install it as global in. Worked after removing the folder! my bad

[2016-09-20 07:53] gaearon commented on #686
Makes sense, thanks for explaining.

[2016-09-20 09:10] SpaceK33z commented on #656
I also noticed that this is happening. Weird though, because `react-scripts` seems to use `html-webpack-plugin` when using that package, it takes care of the live-reloading. Also interesting is that when saving `index.html`, it does re-compile.

[2016-09-20 09:16] SpaceK33z commented on #656
Debugged this a little further; because `hot` modus is enabled, webpack-dev-server [doesn't perform a page reload itself](https://github.com/webpack/webpack-dev-server/blob/master/client/index.js#L122-L132), but passes the hot update through to the `window` so the bundle can perform a XHR request to get the hot updates. However, and I don't know why, it should fall back to the reloading the page i

[2016-09-20 11:38] dvkndn commented on #98
Hi, I don't know if anyone care about this anymore, but today I saw one of my teammate **use CSS Modules in CRA without `:local`** by this way:

[code]

is this something "no configuration and explicit behaviour"?

[2016-09-20 11:50] outdooricon commented on #98
Yes, CSS Modules now exposes locally by default and globally by explicit declaration (`:global`)

[2016-09-20 12:13] fson commented on #462
I talked with @schickling and we would like come up with a standard approach for specifying the GraphQL schema/endpoint that also be adapted by create-react-app. I think one potential issue with the current `package.json` configuration suggested above is that it doesn't allow using a different server for production and development. I've opened an issue in graphql-config to discuss solutions for th

[2016-09-20 15:26] ayrton opened #687 "Loading environment variables"
Currently Create React App [supports environment variables](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-custom-environment-variables) however it leaves some of it to the user's imagination:

I went on to find [my own solution](https://github.com/ayrton/remotestories/pull/1) using node-forman but still thought it was sub-optimal

[2016-09-20 16:33] fson commented on #674
Renaming this issue to be only about the Babel preset, because there was a separate issue about ESLint config: #655.

[2016-09-20 17:05] danielstern commented on #659
@gaearon Absolutely, I was using IntelliJ. It turns out, the Safe Write feature was causing this.Is there some kind of universal `editor_config` setting that could disable this in editors?

[2016-09-20 17:07] acco commented on #639
@gaearon Good idea, time has come to add a Heroku/deployments section to the post.

@vrk Thanks for starting this discussion and for all the info! There are two main approaches developers will take here. The first is along the lines that you took — have your node server serve your static assets (the result of `npm run build`). In that scenario, as you illustrated, you would have to have pretty dif

[2016-09-20 17:34] josephsavona commented on #462
@fson I completely agree; `create-react-app` shouldn't have to change very much to support Relay. To keep things modular, the logic for fetching a schema should ideally be in the plugin itself. As I mentioned above, a possible approach would be:
- `create-react-app` depends on a single module, `babel-plugin-<relay>` (name tbd) that rarely changes.
- `babel-plugin-<relay>` has a *peer* dependency o

[2016-09-20 17:42] josephsavona commented on #462
@fson We (Relay team) don't have the bandwidth to make the changes I proposed in the currently plugin, but we can review PRs and provide feedback. Relay 2 is already architected with the rough approach I described, so the main thing we'll have to figure out in OSS is how to load the schema in order to transform queries to code.

[2016-09-20 17:46] SpaceK33z commented on #659
@danielstern, unfortunately this is not supported in editorconfig. But it's a great idea I think! Maybe propose that to the people at http://editorconfig.org/ ?

[2016-09-20 18:05] fson commented on #462
@josephsavona I would be interested in helping to land this in the Relay plugin(s)!

[graphql-config](https://github.com/graphcool/graphql-config) is a great starting point for how to find the schema, so we can probably come up with a good way to configure the plugin by building on the ideas there.

One thing I'm still unsure about is how to implement schema fetching inside a Babel plugin in a nic

[2016-09-20 18:50] Ankiewicz opened #688 "The auto reload upon saving isn't working."
The auto reload upon saving isn't working. No errors showing. It simply just doesn't refresh.

[2016-09-20 19:30] wdhorton commented on #688
Probably related to #659. What editor are you using?

[2016-09-20 19:46] josephsavona commented on #462
In general, it seems reasonable to load the schema first (async preparation), then transform JS files (sync).

[2016-09-20 21:23] bodaz commented on #658
finally found the solution after days of 'googling' (ง'̀-'́)ง

run `npm run prepublish` inside the webpack-dev-server global library installed folder (/Users/bodaz/.npm-packages/lib/node_modules), and that seems fixed everything, the browser is back to normal and no more error messages at `localhost:3000`

for the record, the webpack version i had installed globally is webpack 1.13.2
and this is t

[2016-09-20 21:38] AlicanC commented on #674
I vote for `babel-preset-create-react-app` since CRA will be its scope.

(Though, in the future, I'd love to see official FB recommandations under `babel-preset-facebook` and `eslint-config-facebook` which CRA, React and React Native would use or compose.)

[2016-09-20 21:39] fson commented on #655
Implemented in #689.

[2016-09-20 23:07] fson opened #690 "Add a readme to react-scripts and create-react-app packages"
The `create-react-app` package on npm doesn't have a README associated with it: https://www.npmjs.com/package/create-react-app

The [`react-scripts`](https://www.npmjs.com/package/create-react-app) package has the main README on npm, but I think it won't have it in the monorepo configuration unless we create one in that package folder.

I think we could keep publishing the default README to react-

[2016-09-20 23:16] gaearon commented on #690
This makes sense to me and sounds fairly simple.

[2016-09-20 23:17] gaearon commented on #688
Closing as exactly the same issue as #659. Please provide all details in it, thanks!

[2016-09-20 23:17] #688 closed

[2016-09-20 23:50] srhise commented on #402
So, you have to eject to get HMR working at the component level. Just making sure.

[2016-09-21 00:02] dpoineau commented on #682
Just curious if anyone has gotten a forked version of react-scripts via direct-from-github npm install working with the most recent `create-react-app` repository code? @thangngoc89

With the switch by `create-react-app` to using `lerna` and as a result `react-scripts` moving into the `packages/react-scripts` subdirectory, it doesn't seem possible to install a forked `react-scripts` directly from g

[2016-09-21 04:47] awong-dev commented on #639
@acco I think a lot of quick (small) projects probably don't bother with a static asset server split from the app server. Especially if you're going to deploy to some fast PaaS setup. Furthermore, handling multiple server processes just makes everything much more complicated if you're going to run things through an end-to-end test or something.

So, I sorta think supporting a single app server tha

[2016-09-21 05:48] jashsayani commented on #679
`import 'jquery/jquery';` worked fine. Thanks!

[2016-09-21 07:30] schickling commented on #462
@josephsavona @fson that's pretty much was [babel-plugin-react-relay](https://github.com/graphcool/babel-plugin-react-relay) does.

Any idea how to address changes of the schema without restarting the used build tool?

[2016-09-21 08:25] cpojer commented on #583
We'll publish a fix with Jest 16 likely later this week.

[2016-09-21 08:41] #583 closed

[2016-09-21 12:44] gaearon commented on #402
Technically you can write a top-level `module.hot.accept` handler in `src/index.js` and re-render your app with a new version of `<App>` component on change but that will reset the internal component state. For granular updates, yes, currently you would have to eject.

[2016-09-21 13:05] gaearon commented on #674
`babel-preset-react-app` sounds good. Squatted.

[2016-09-21 13:10] aleemb commented on #402
For my purposes, I added React StoryBook and was able to get HMR. It has the added advantage of showing the errors directly on the screen which has better visibility than having to look at the CLI manually for errors.

![image](https://cloud.githubusercontent.com/assets/46616/18712107/4842e25e-8026-11e6-95d2-825d47e361ed.png)

[2016-09-21 13:14] gaearon commented on #402
@aleemb If you’d like, you can contribute “Adding Storybook” to the Usage Guide.

[2016-09-21 13:30] skyuplam commented on #647
I need the same stuff as well. I have made a small change to the build script and added `publicPath` to the package.js file as a workaround. 😈

Ref: [Webpack Config - -publicpath](https://webpack.github.io/docs/configuration.html#output-publicpath)

[2016-09-21 13:35] mandysimon88 opened #691 "Enable CLI debugger with Jest"
Would be really great if there was a 'test debug' command that enabled a command-line debugger. There is an issue open to make a debugger work _for the browser_ but I think a command-line debugger would be more useful.

Or, at least, documentation on the recommended command and/or tool to use alongside create-react-app to get a CLI debugger running for existing tests.

[2016-09-21 13:35] gaearon commented on #647
I’m open to merging support for `CDN_URL` env variable.

[2016-09-21 13:37] gaearon commented on #691
I think most people would want to use Chrome for debugging. Is there some particular reason why you prefer a CLI debugging interface? Does one exist for Node? (I’ve never used one to be honest.)

[2016-09-21 13:38] mandysimon88 commented on #636
@ccorcos Absolute imports (of things in the src folder) can be accomplished with this simple modification to your package.json:
[code]
Example: `import { Banana } from 'fruits/yellow/big/Banana'` where fruits is a subdirectory of src.

[2016-09-21 13:48] SeeThruHead commented on #647
Working on it

[2016-09-21 13:48] mandysimon88 commented on #691
I’m really surprised that most people would prefer Chrome debugging, in that walking through tests with a debugger is a very standard and popular thing with, say, Ruby (`pry`). In a previous project, we used this command: `"test_debug": "node debug ./node_modules/jasmine/bin/jasmine.js” `.

In short, if a test fails, it’s easier to just throw in a debugger and use a different test command than it

[2016-09-21 13:50] gaearon commented on #636
Thanks for the summary! I also think Windows Cmd users would need to write it as `NODE_PATH=src&&react-scripts start` etc because of different environment variable syntax. Alternatively you could install `cross-env` package that handles this in a cross-platform way and write `cross-env NODE_PATH=src react-scripts start`.

[2016-09-21 14:47] #655 closed

[2016-09-21 15:14] iRoachie commented on #667
@gaearon Any word on this? I wanted to use a php file, to ajax from a form. But I have to manually copy it over after the build process since there's no included loader for php

[2016-09-21 15:51] gaearon commented on #667
@iRoachie I think any backend files (like php) should live outside the project folder. The project folder is only meant to be for files related to the front-end client-side app.

[2016-09-21 15:52] gaearon commented on #667
[This is a good example](https://www.fullstackreact.com/articles/using-create-react-app-with-a-server/) of working with backend APIs. It assumes Node but PHP would work similarly.

[2016-09-21 16:03] gaearon commented on #687
A PR sounds good to me, a specific proposal would be easier to discuss.
Thanks!

[2016-09-21 16:06] iRoachie commented on #667
How's this similar to PHP? I'm using the php to send and email when the data from the form is posted. The link you provided assumes using Node and using endpoints to access the data.

[2016-09-21 16:31] gaearon commented on #639
I don’t think we’re at the point where we’re ready to expose any APIs from `react-scripts` yet.

[2016-09-21 16:32] gaearon commented on #667
By similar I meant that, like in that tutorial, you can put `client` and `server` code in the different folders, and you can use `proxy` in development to call `/mybackend.php` which would get resolved to the specified port. In production, you can have `index.php` serve built `index.html`.

[2016-09-21 16:47] iRoachie commented on #667
@gaearon I messaged you on twitter

[2016-09-21 17:40] gaearon commented on #658
Why would a global `webpack-dev-server` matter? We don’t use the global version anywhere as far as I know.

[2016-09-21 19:34] awong-dev commented on #639
@gaearon understood about the dangers with that, but:

  (a) this is a fairly narrow API since the semantics are just "mount the equiv of react start on this path"
  (b) without it, you have a fairly common use case (monolithic server that combines api + asset serving) that requires some moderately complicated workarounds, or ejecting.

I feel like it might be worth considering bumping the priorit

[2016-09-21 21:35] vrk commented on #639
Thanks for all the info and replies!

@acco: Makes sense. Thanks, and looking forward to seeing what you come up with!

My drive-by opinion: I agree with @awong-dev. Recommending a deployment solution that would involve 2 Heroku instances (or S3/Heroku combo, or some other pure separation) seems to go slightly against the "simple setup!" spirit of create-react-app. It seems it'd be nice if you cou

[2016-09-21 21:41] CodeJjang commented on #99
@gaearon For example wanting to load bootstrap css in a specific order (before all other stylesheets are loaded so UI won't be messed up).
This is such a simple thing to ask and there's no reason to eject or to switch kit for this reason.
I think you have exaggerated a bit with the 'don't tweak our configurations' thing, because every kit needs to be configurable a bit.

[2016-09-21 21:50] ccorcos commented on #636
@mandysimon88 but suppose you want to install this package as an npm package and import a specific file -- the paths wont resolve because you need to build a custom build system. on the other hand, if you're resolving to the package name, then everything resolves just fine :)

For example, this works just fine:

[code]

And you dont need any special resolver / build system to get it to work becaus

[2016-09-21 21:56] mjibson opened #697 "How to add static json file to index.html?"
Using 0.4.2, I'd like to include a `manifest.json` file (for add-to-homescreen). So in index.html I add:

`<link rel="manifest" href="/src/manifest.json">`

And I create a `src/manifest.json` file. Everything compiles, but the generated HTML has:

`<link rel="manifest" href="[object Object]">`

Some investigation shows that this is because it has parsed the JSON file instead of converted it into a

[2016-09-22 00:31] dpoineau commented on #682
So for now I went down the path of using a custom published npm package (like `react-scripts-custom-whatever`), but it still seems like there's at least one issue that prevents this from working which is that the `react-scripts` package name is hardcoded in at least one spot, which won't work if you're using a custom forked package: https://github.com/facebookincubator/create-react-app/blob/master

[2016-09-22 09:05] gaearon commented on #697
This is a duplicate of https://github.com/facebookincubator/create-react-app/issues/558, please track it instead. I expect to have a solution to it soon.

[2016-09-22 09:05] #697 closed

[2016-09-22 11:58] gaearon commented on #99
@CodeJjang

Please file an issue about this use case and let's discuss it specifically. I'm happy to see specific use cases so we can look at ways of addressing them. In my experience there are often other ways of solving the same issues than adding configuration.

[2016-09-22 12:32] ayrton commented on #687
Opened #695 with a working solution

[2016-09-22 12:59] gaearon opened #698 "Fix end-to-end test to use packages from master"
As noted in https://github.com/facebookincubator/create-react-app/pull/696#issuecomment-248888857, we should have end-to-end test use the versions of packages from the repo instead of ones from npm. We might need to run `lerna bootstrap` in it or something.

[2016-09-22 13:06] jameslnewell commented on #636
I'm not using CRA but I am following many of the decisions/conventions made here closely.

I wanted shortened paths for my apps but I didn't want to use `my-app/module` or `src/module` because those options have the possibility of clashing with existing npm packages and encourage the developer to shorten their `package.json` `name` - which may already be used by other tools outside of CRA.

<detai

[2016-09-22 13:22] fson commented on #698
It's weird that it only fails in Node v4.5.0, not in 6. We already run `lerna bootstrap` in the npm `postinstall` script so that should work.

I also tried running locally on a fresh Node v4.5.0 installation and `npm install` worked without any errors about peer dependencies.

[2016-09-22 13:40] gaearon commented on #682
PR to fix this would be welcome. 😉

[2016-09-22 13:52] gaearon commented on #674
@fson Do you think you can take this?

[2016-09-22 14:06] mandysimon88 commented on #691
Another primary limitation of "Chrome-only" debugger tools is, how do you debug server-side code? You can do that with a CLI debugger but not Chrome.

[2016-09-22 14:12] fson commented on #674
@gaearon Yeah, planning to tackle this today or tomorrow. Should be pretty straightforward now that presets can also accept options (we probably need this for different development/production configs).

[2016-09-22 14:13] mandysimon88 commented on #691
You can see others are monkey-patching Jest to accomplish this:
http://stackoverflow.com/questions/25142173/debugging-jest-test-cases-using-node-inspector

[2016-09-22 14:29] gaearon commented on #691
To clarify, debugging Node (potentially server-side) code is exactly what I meant by “Chrome debugging”. This is a very recent officially supported feature in Node, so it’s not documented well yet.

This is what I’m referring to:

https://medium.com/@paul_irish/debugging-node-js-nightlies-with-chrome-devtools-7c4a1b95ae27

http://facebook.github.io/jest/docs/troubleshooting.html#tests-are-failing-

[2016-09-22 14:32] gaearon commented on #674
I think it might be reasonable to just use Babel [env option](https://babeljs.io/docs/usage/babelrc/#env-option) and not use configuration.

[2016-09-22 14:49] ForbesLindesay commented on #682
I'm actually in favour of (maybe) just telling people to fork the entire monorepo and publish `create-whatever-app` and `whatever-scripts`.  It would be good if you didn't have to change `react-scripts` and `create-react-app` strings in 100 places as your first change though.  I would suggest putting both of these strings in some kind of `names.js` package in each project.  That way there would be

[2016-09-22 15:09] fson commented on #698
I see what the problem is now, we run `npm install` again in the `react-scripts` package after copying it to a clean directory without `node_modules`. At that point the packages are not bootstrapped, so it installs all the packages from npm.

I think the release script possibly needs to be changed too, because it uses the same strategy when it bundles the dependencies. Unless we publish all the ot

[2016-09-22 16:17] fson commented on #698
The e2e test should be fixed here: #699.

[2016-09-22 17:13] gaearon opened #700 "Enable babel-plugin-transform-react-jsx-source"
If it’s not already enabled, it should be 😉
https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-react-jsx-source

[2016-09-22 18:08] gaearon opened #702 "Preserve scripts/test.js after ejecting"
Currently we completely remove it and just change `test` command to `jest`. It’s neat how we move config into `package.json` but I want to keep `scripts/test.js` for various reasons. It’s fine if it just calls Jest for now.

[2016-09-22 18:10] gaearon commented on #698
Thanks!

[2016-09-22 18:27] gaearon commented on #503
That’s the approach I’m going to take in 0.5.0.

[2016-09-22 18:42] gaearon commented on #618
Meh, interpolation syntax is super annoying and hard to understand.
I’m working on another solution to this, stay tuned!

[2016-09-22 19:15] gaearon commented on #573
I drafted a proposal to solve this in https://github.com/facebookincubator/create-react-app/pull/703. Unless we find some fatal flaws, it should come out in 0.5.0. Let me know what you think!

[2016-09-22 19:15] gaearon commented on #577
I drafted a proposal to solve this in https://github.com/facebookincubator/create-react-app/pull/703. Unless we find some fatal flaws, it should come out in 0.5.0. Let me know what you think!

[2016-09-22 19:15] gaearon commented on #585
I drafted a proposal to solve this in https://github.com/facebookincubator/create-react-app/pull/703. Unless we find some fatal flaws, it should come out in 0.5.0. Let me know what you think!

[2016-09-22 19:15] gaearon commented on #558
I drafted a proposal to solve this in https://github.com/facebookincubator/create-react-app/pull/703. Unless we find some fatal flaws, it should come out in 0.5.0. Let me know what you think!

[2016-09-22 19:16] gaearon commented on #697
I drafted a proposal to solve this in https://github.com/facebookincubator/create-react-app/pull/703. Unless we find some fatal flaws, it should come out in 0.5.0. Let me know what you think!

[2016-09-22 19:16] gaearon commented on #618
I drafted a proposal to solve this in https://github.com/facebookincubator/create-react-app/pull/703. Unless we find some fatal flaws, it should come out in 0.5.0. Let me know what you think!

[2016-09-22 19:16] gaearon commented on #625
I drafted a proposal to solve this in https://github.com/facebookincubator/create-react-app/pull/703. Unless we find some fatal flaws, it should come out in 0.5.0. Let me know what you think!

[2016-09-22 19:16] gaearon commented on #28
I drafted a proposal to solve this in https://github.com/facebookincubator/create-react-app/pull/703. Unless we find some fatal flaws, it should come out in 0.5.0. Let me know what you think!

[2016-09-22 22:18] gaearon commented on #674
As a follow up we should make it so we have a `.babelrc` instead of two configs, and copy that file when ejecting.

[2016-09-22 22:42] fson commented on #674
Absolutely. I had this is mind when doing the split already, but didn't want to touch too many things at once.

[2016-09-22 22:47] gaearon commented on #674
@fson FYI, I’m working on it already but happy to leave it to you to polish.

[2016-09-22 22:48] gaearon commented on #674
#705

[2016-09-22 22:55] gaearon opened #706 "Use a more sophisticated template for end-to-end testing of Create React App"
We currently test the same [`template`](https://github.com/facebookincubator/create-react-app/tree/master/packages/react-scripts/template) we generate by default, which is probably file, but we miss out on testing more advanced features. Ideally we should have a `kitchensink` template that uses all possible features (JSX, Flow, `NODE_PATH`, generators, async/await, class properties etc), and make

[2016-09-22 22:57] gaearon commented on #706
Stretch goal: use Jest snapshot testing for build output!
(You can look at Jest repo to see how Jest tests its own output with snapshots.)

[2016-09-22 22:57] cpunion commented on #625
@gaearon  Great!

[2016-09-22 23:08] wdhorton commented on #706
I'd like to take a crack at this

[2016-09-22 23:09] gaearon commented on #706
Cool, let me know if you stumble onto something. It’s a pretty open-ended task and will require some experimentation.

[2016-09-22 23:20] gaearon commented on #297
I’ll reopen—I don’t want to force Storybook integration upon anyone but I’d like to see it documented in the Usage Guide. @arunoda Would you like to make a PR?

[2016-09-22 23:22] gaearon opened #707 "Eject crash should fail e2e test"
Noticed this [here](https://travis-ci.org/facebookincubator/create-react-app/jobs/162058481):

Eject crashed but e2e test completed successfully.

[2016-09-22 23:33] #410 closed

[2016-09-22 23:36] #674 closed

[2016-09-22 23:36] gaearon commented on #410
This is implemented in #705 and will be released in 0.5.0.

[2016-09-22 23:37] gaearon commented on #625
Closing as this is fixed, and will be released in 0.5.0.

[2016-09-22 23:37] gaearon commented on #618
Closing as this is fixed, and will be released in 0.5.0.

[2016-09-22 23:37] #618 closed

[2016-09-22 23:37] gaearon commented on #585
Closing as this is fixed, and will be released in 0.5.0.

[2016-09-22 23:37] #585 closed

[2016-09-22 23:37] gaearon commented on #577
Closing as this is fixed, and will be released in 0.5.0.

[2016-09-22 23:37] #577 closed

[2016-09-22 23:38] gaearon commented on #573
Closing as this is fixed, and will be released in 0.5.0.

[2016-09-22 23:38] #573 closed

[2016-09-22 23:38] gaearon commented on #558
Closing as this is fixed, and will be released in 0.5.0.

[2016-09-22 23:38] #558 closed

[2016-09-22 23:50] arunoda commented on #297
Wow. That's super awesome.
I will send a PR.

[2016-09-23 00:17] sotojuan commented on #642
I agree with @AlicanC. If you're going to say "beginners", please define the word. It could mean:

* Someone who started coding last week
* Someone who has been coding for years but not in JS
* Someone who has been coding JS for years but not React

And many more. IMO anyone who has done JS in the past year or so or even less has used `package.json` and npm. It's the defacto way to install depende

[2016-09-23 02:28] zhangk2000 opened #708 "Error: Cannot find module 'C:\WorkPlace\moo\iyin\node_modules\react-scripts\package.json"
If you are reporting a bug, please fill in below. Otherwise feel to remove this template entirely.

### Description

Error: Cannot find module 'C:\WorkPlace\moo\iyin\node_modules\react-scripts\package.json

### Expected behavior

install create-react-app successfully

### Actual behavior

installation failed

### Environment

Run these commands in the project folder and fill in their results:

1.

[2016-09-23 03:34] amilajack commented on #708
Try manually checking if the file exists. If it doesnt exist, that's probably a bug

[2016-09-23 05:39] zhangk2000 commented on #708
There is only one file in the project directory generated by CLI,
which is package.json
the content of this file is below:
{
  "name": "test",
  "version": "0.1.0",
  "private": true
}

[2016-09-23 07:05] ShinyChang opened #709 "Proxy not working"
### Expected behavior

`fetch()` should work correctly.

### Actual behavior

I got 404 NOT FOUND.

### Environment
create-react-app: v0.4.3
React-scripts: v0.4.3
Node: v4.4.7
npm: v3.8.3

Operating system:
Windows

![image](https://cloud.githubusercontent.com/assets/1590707/18776812/781a688e-819e-11e6-963a-fcb07339a8b6.png)

[2016-09-23 07:50] arekkas opened #710 "openBrowser() causes docker-compose set ups to fail because of spawn EACCESS"
### Description

I am running `npm start` inside of a docker container that is orchestrated using docker-compose, which isn't working. Running the image with pure docker however works.

**This issue was already tackled in #306 but rejected.**

### Expected behavior

The image should boot up normally.

### Actual behavior

I get this exception:

[code]

### Environment

Dockerfile
[code]

docker-co

[2016-09-23 08:05] gaearon commented on #710
What is the use case for running npm start inside Docker? (I don't know anything about Docker. :-)

[2016-09-23 08:07] gaearon commented on #709
Have you restarted the development server after adding the proxy setting?

[2016-09-23 08:09] gaearon commented on #708
This means your installation failed (or something interrupted it). Maybe there was a network failure. Try running create-react-app again and make sure it finishes successfully. If it doesn't work please paste the complete output from that command.

[2016-09-23 08:17] ShinyChang commented on #709
@gaearon  yes, i did.

[2016-09-23 08:18] arekkas commented on #710
I run a lot of projects, most of them with different node requirements. It is really convenient to just run this stuff in docker. Think of it as vagrant without the slowness.

[2016-09-23 08:24] arekkas commented on #710
I think there are several cases that justify disabling the browser spawn. One of them being Electron, another being docker-compose, another being missing privileges for spawning processes (e.g. restricted user), another one being that it's cool to have it for demonstration but it get's quickly annoying when developing. I restore sessions on every boot and get multiple tabs of my react app because

[2016-09-23 08:30] zhangk2000 commented on #708
still not work!
![image](https://cloud.githubusercontent.com/assets/9833678/18779282/f05de0bc-81aa-11e6-93f1-ab18a427b352.png)

[2016-09-23 08:33] arekkas commented on #710
Or at least make it in such a way that openBrowser doesn't kill the npm start process when failing.

[2016-09-23 09:00] ShinyChang commented on #709
is there any way to check proxy server?

[2016-09-23 09:05] gaearon commented on #709
Can you publish both projects so I could take a look? Meaning both generated project and the server you are using.

Also, can you reproduce this with https://github.com/fullstackreact/food-lookup-demo?

[2016-09-23 09:21] gaearon commented on #708
Could this be related? Can you try solutions in this question?

http://stackoverflow.com/questions/19569990/npm-install-doesnt-work-in-windows-powershell

[2016-09-23 09:30] quangnd opened #712 "How to implement session management with CRA? (discussion)"
Dear everybody,

I was building a React app based on CRA which includes:
1. CRA at front end.
2. API at Backend (with Node and Express).

I've made proxy and called API from CRA app successfully. However, I couldn't find out how to use session at CRA? (although I could use express-session & passport with another Node apps)

My current scenario:
1. Write a authenticate API at backend for Login feat

[2016-09-23 09:45] ShinyChang commented on #709
I can not reproduce this problem with https://github.com/fullstackreact/food-lookup-demo.

Here is my projects:
https://github.com/ShinyChang/family
https://github.com/ShinyChang/family-backend

Thanks.

[2016-09-23 09:54] luizkowalski opened #713 "Tests hang when running"
I have a test like this:

[code]

when I run it, with `npm t` it hangs. here is the output

[code]

I'm running macOS Sierra with.
I can reproduce it with a new app as well.

the react-scripts:

[code]

[2016-09-23 10:28] gaearon commented on #713
By "hangs" do you mean that interactive watcher never appears?

[2016-09-23 10:30] gaearon commented on #712
This is a fine question but seems a little out of scope of CRA. CRA is just a tool to create and run projects. How you implement authorisation depends on your project and as far as I know unrelated both to React and CRA. You may want to search for something like "authorisation in single page apps" on the Internet.

[2016-09-23 10:31] gaearon commented on #712
I'll close for this reason, as this issue doesn't seem actionable for us. If you find a satisfactory answer please feel free to share it in this thread.

[2016-09-23 10:31] #712 closed

[2016-09-23 10:33] #710 closed

[2016-09-23 10:33] ekaradon opened #714 "Is there any way to specify a custom origin/referer/host?"
Hello,

First, thanks for this project, it is really great!

I want to use it in an existing project because everything looks better with it. However I have to use a custom host `project.dev.lan` in order to be authorized by the backend part. Is it possible to customize this part without running `npm run eject`?
I have seen the proxy part, but it does not change the `host` part in the http header

[2016-09-23 10:36] gaearon commented on #714
#695 will add support for environment overrides file so you'll be able to specify PORT and HTTPS there. Would adding support for HOST be enough for your needs?

[2016-09-23 10:59] bestwestern commented on #625
It looks great - can't wait to try it out.
Thank you.

[2016-09-23 11:10] gaearon commented on #658
Closing as it’s not clear how to reproduce this, and original author has resolved the problem.

[2016-09-23 11:10] #658 closed

[2016-09-23 11:35] #702 closed

[2016-09-23 11:44] gaearon commented on #709
Can’t reproduce this on OS X so far:

<img width="1276" alt="screen shot 2016-09-23 at 12 44 23" src="https://cloud.githubusercontent.com/assets/810438/18784679/83f88b6c-818b-11e6-9624-da0eccbdb20d.png">

[2016-09-23 11:51] gaearon commented on #713
As mentioned in https://github.com/facebook/jest/issues/1767#issuecomment-248883102, can you try running

[code]

?

[2016-09-23 11:57] ekaradon commented on #714
Yep, definitely. The `origin` and `referer` fields are deduced through the host and the resource path. So it would work.

[2016-09-23 12:00] gaearon commented on #690
Fixed by 92afcaf854be9c05e7c0c52892172031d7bb6bfe.

[2016-09-23 12:00] #690 closed

[2016-09-23 12:12] gaearon commented on #714
Happy to review a PR adding support for this. Would you like to work on it?

[2016-09-23 12:15] gaearon commented on #708
Does a file called `c:\package.json` exist?

[2016-09-23 12:17] gaearon commented on #130
It supports SASS in the exactly same way people have been using SASS for years. Run a console SASS watcher, and import the resulting CSS from your JS files.

[2016-09-23 12:21] luizkowalski commented on #713
@gaearon yes, as the log above, I see `> react-scripts test --env=jsdom` as the last output, and nothing else happens. I tried edit the test files, change the `__tests__` folder location, or have just one simple test like `expect(true).toBe(true)`
I do have watchmen installed, btw.

[2016-09-23 12:33] daviestar commented on #130
Thank you, I ended up using gulp to build all my non-js tasks.

For SASS, I compile to `_styles.css` at the project `src` root.. and update `npm start` to `npm-run-all <gulp task> <react scripts>` and everything works great 👍

[2016-09-23 12:38] ekaradon commented on #714
OK. Let's do this.

[2016-09-23 12:46] giuseppeg commented on #130
@gaearon I feel like that we can close this issue unless you want to implement [this thing](https://github.com/facebookincubator/create-react-app/issues/130#issuecomment-246774761)

[2016-09-23 13:34] ekaradon commented on #714
Here:
https://github.com/facebookincubator/create-react-app/pull/717

[2016-09-23 13:40] gaearon commented on #713
I meant to run this command to update it to 4.7.0 (as explained in https://github.com/facebook/jest/issues/1767#issuecomment-248883102)

[2016-09-23 13:41] luizkowalski commented on #713
I do have watchmen 4.7.0 installed

[2016-09-23 13:42] gaearon opened #718 "Local contributor end-to-end flow command doesn't use recent packages"
It seems like localc contributor end-to-end flow command (`npm run create-react-app whatever`) only uses the master version of `react-scripts`, but not any of the other packages. We need to fix it to use master versions of all the packages.

[2016-09-23 13:42] gaearon commented on #718
cc @fson who looked into similar issues with e2e test

[2016-09-23 13:44] gaearon commented on #713
I see. Can you reproduce this on any other computer (with or without Sierra)?

[2016-09-23 13:44] gaearon commented on #713
I think it would be best if you shared your report in https://github.com/facebook/jest/issues/1767 to provide more context around this issue.

[2016-09-23 13:44] gaearon commented on #713
It’s also worth trying to uninstall watchmen and seeing if that fixes the issue.

[2016-09-23 13:47] luizkowalski commented on #713
uninstall watchman fixed!

[2016-09-23 13:50] gaearon commented on #713
Can you try to install it again now and see if the problem persists?
If it does, please also try suggestions in https://github.com/facebook/jest/issues/1767#issuecomment-249198458 and let us know if either worked.

[2016-09-23 14:04] fson opened #720 "Investigate why env setting doesn't get applied in the Babel preset"
As mentioned in https://github.com/facebookincubator/create-react-app/pull/716#discussion_r80246463, the `env` setting does not apply, unless we merge the settings from the preset manually to our config. It would be good if we could use the preset the same way with the `presets` option in `react-scripts` and ejected projects, so I'm going to investigate why this happens.

[2016-09-23 14:12] gaearon commented on #720
It also doesn’t apply after ejecting in #716.
Weeeeird.

[2016-09-23 14:22] gaearon commented on #720
Might be https://github.com/babel/babel/issues/4539.

[2016-09-23 14:24] luizkowalski commented on #713
Just did, yes, the problem persists if I reinstall.

[2016-09-23 14:54] gaearon commented on #720
Yeah, Babel bug. Will work around it right in the preset for now.

[2016-09-23 15:07] ShinyChang commented on #709
I restarted my PC, and it works fine now. Not sure what's happed.

[2016-09-23 15:24] gaearon commented on #709
# ¯\_(ツ)_/¯

[2016-09-23 15:24] #709 closed

[2016-09-23 15:25] gaearon commented on #713
Does doing this help?

[code]

(and then run tests)

[2016-09-23 15:26] gaearon commented on #713
Another workaround worth trying is to delete `/usr/local/var/run/watchman/` and try again.

[2016-09-23 15:31] gaearon commented on #714
Fixed via #717. Thanks!

[2016-09-23 15:31] #714 closed

[2016-09-23 15:53] #700 closed

[2016-09-23 16:02] zhangk2000 commented on #708
package.json is not exist in C:\
npm works normally except for this case.

[2016-09-23 17:09] cannona opened #722 "Relax no-unused-expressions eslint rule"
Currently I'm not able to do `this.foo && this.foo();` without eslint complaining.

I propose that we adjust the no-unused-expressions rule options to accept ternary and short circuit expressions.

http://eslint.org/docs/rules/no-unused-expressions

[2016-09-23 17:12] gaearon commented on #722
Sounds good, want to make a PR?

[2016-09-23 17:25] gaearon commented on #708
Can you try creating a project anywhere else on the disk?

[2016-09-23 18:53] iRoachie opened #725 "Webpack generates wrong paths for fonts in css"
Referencing a font-face for a local file produces wrong paths when using run build.

Example structure:
[code]

In fonts.css i reference the font as `url(./font.ttf)` since they're in the same directory. After run build it produces the following css in static/css.

`url(./static/media/font.ttf)`

build folder structure
[code]
So the css is looking for the font file in `css/static/media/font.tff`,

[2016-09-23 19:14] gmarty opened #726 "Inserting a web app manifest in a <link> tag fails"
Inserting a web app manifest in a <link> tag is currently not working as expected. The following tag:
[code]
is compiled to:
[code]

The expected result should be something like:
[code]

Worse, if the file extension is `.webmanifest` as advised by the [web app manifest specification](https://www.w3.org/TR/appmanifest/#media-type-registration), the build fails completely in the absence of a loader

[2016-09-23 19:24] gmarty opened #727 "PORT env variable is not supported in .env"
I use a `PORT` environment variable to change the port of the server:
[code]

I tried to put the following in .env:
[code]
But when I run `npm start`, the default port (3000) is used. I was expecting the .env file to work in this case.

I understand the content of .env is to specify environment variables to be used in the app, but that's a bit confusing that the above doesn't work.

A workaround i

[2016-09-23 19:46] gaearon commented on #727
.env has a notice about being available since 0.5.0.
I think you are using 0.4.2 because I'm releasing 0.5.0 later today. :-)

[2016-09-23 19:47] gaearon commented on #726
Yes, there are two other issues about this. It is solved in master and will be fixed in 0.5.0 which I am releasing today.

[2016-09-23 19:47] #726 closed

[2016-09-23 19:51] gaearon commented on #698
https://github.com/facebookincubator/create-react-app/pull/723#issuecomment-249264014

[2016-09-23 20:00] gaearon commented on #727
Closing as fixed in 0.5.0.
Please wait for the update in an hour or so.

[2016-09-23 20:00] #727 closed

[2016-09-23 20:17] gaearon commented on #725
I can’t reproduce this with default settings.
Do you have a `homepage` field in `package.json`? If yes, what is it set to?

[2016-09-23 20:17] ringzhz commented on #139
I'm sorry, but I can't seem to find any answer. Is there a way to enable source mapping with this project? How? Maybe it would be nice to add to the docs.

[2016-09-23 20:18] iRoachie commented on #725
./

[2016-09-23 20:18] gaearon commented on #139
Not currently. I’m reopening because it seems like a lot of people want sourcemaps despite their shortcomings. So we’ll probably add them before 1.0.

[2016-09-23 20:20] gaearon commented on #725
That’s where the issue comes from. I guess we just don’t support the use case of building when root application path is unknown.

[2016-09-23 20:21] gaearon commented on #725
We’ll offer an escape hatch in 0.5.0 with a `public` folder though so maybe you could use that as a last resort if you really need to deploy the same build to different paths.

[2016-09-23 20:22] iRoachie commented on #725
Ohh i see. Alright thanks. Will use a cdn in the mean time

[2016-09-23 20:22] #725 closed

[2016-09-23 20:25] gaearon commented on #725
👍

[2016-09-23 21:28] gaearon commented on #720
I’ll close because not actionable for us, and I don’t care that much about using “real” `env` syntax because I like to enforce `NODE_ENV` being present.

[2016-09-23 21:28] #720 closed

[2016-09-23 21:28] gaearon commented on #687
Fixed in #695, available in 0.5.0.

[2016-09-23 21:28] #687 closed

[2016-09-23 21:29] gaearon commented on #713
Closing as this is a problem with watchman, and can’t be resolved here. Uninstalling watchman is a reasonable workaround in the meantime.

[2016-09-23 21:29] #713 closed

[2016-09-23 21:39] gaearon opened #729 "Figure out Lerna + bundledDependencies"
I have a feeling Lerna publish might be messing with our `bundledDependencies`.
Compare:

* Before Lerna: https://unpkg.com/react-scripts@0.4.3/node_modules/
* After Lerna: https://unpkg.com/react-scripts@0.5.0/node_modules/

This may be just the monorepo transition, I’m not sure.
I think we need some more solid way of bundling as much stuff as we can.
Maybe we should just bundle everything instea

[2016-09-23 21:48] gaearon commented on #729
Oh wait. That looks like unpkg had a glitch, the files appeared now.

[2016-09-23 21:50] gaearon commented on #687
0.5.0 has been released with this feature.

[2016-09-23 21:54] gaearon commented on #573
This is now supported in 0.5.0.

Read about [using the new `public` folder](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder).

See also [migration instructions and breaking changes in 0.5.0](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#breaking-changes-in-050).

[2016-09-23 21:54] gaearon commented on #577
This is now supported in 0.5.0.

Read about [using the new `public` folder](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder).

See also [migration instructions and breaking changes in 0.5.0](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#breaking-changes-in-050).

[2016-09-23 21:54] gaearon commented on #585
This is now supported in 0.5.0.

Read about [using the new `public` folder](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder).

See also [migration instructions and breaking changes in 0.5.0](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#breaking-changes-in-050).

[2016-09-23 21:55] gaearon commented on #558
This is now supported in 0.5.0.

Read about [using the new `public` folder](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder).

See also [migration instructions and breaking changes in 0.5.0](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#breaking-changes-in-050).

[2016-09-23 21:55] gaearon commented on #697
This is now supported in 0.5.0.

Read about [using the new `public` folder](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder).

See also [migration instructions and breaking changes in 0.5.0](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#breaking-changes-in-050).

[2016-09-23 21:55] gaearon commented on #618
This is now supported in 0.5.0.

Read about [using the new `public` folder](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder).

See also [migration instructions and breaking changes in 0.5.0](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#breaking-changes-in-050).

[2016-09-23 21:56] gaearon commented on #625
This is now supported in 0.5.0.

Read about [using the new `public` folder](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder).

See also [migration instructions and breaking changes in 0.5.0](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#breaking-changes-in-050).

[2016-09-23 21:56] gaearon commented on #28
This is now supported in 0.5.0.

Read about [using the new `public` folder](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder).

See also [migration instructions and breaking changes in 0.5.0](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#breaking-changes-in-050).

[2016-09-23 21:57] gaearon commented on #727
0.5.0 has just been released. Can you give it a try?

See [migration instructions and breaking changes in 0.5.0](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#breaking-changes-in-050).

[2016-09-23 21:58] gaearon commented on #726
This is now supported in 0.5.0.

Read about [using the new `public` folder](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder).

See also [migration instructions and breaking changes in 0.5.0](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#breaking-changes-in-050).

[2016-09-23 22:01] fson commented on #729
Everything seems to work now.

[2016-09-23 22:10] #729 closed

[2016-09-23 22:12] #483 closed

[2016-09-23 22:13] gaearon commented on #410
0.5.0 is out with this.
Please read the [release notes](https://github.com/facebookincubator/create-react-app/releases/tag/v0.5.0) for migration instructions.

[2016-09-23 22:36] donpark commented on #573
@gaearon with following HTML:

[code]

I am getting:

[code]

So first instance of `%PUBLIC_URL% worked but not the second. I suspect you forgot to add RegExp `/g` flag in string `replace` call.

[2016-09-23 22:51] luizkowalski commented on #713
Hey, sorry for the delay.
No, unload didn't worked for me, anyway.
Thanks!

[2016-09-23 22:53] cpunion commented on #625
@gaearon Thanks for release 0.5.0 so quickly. I migrated to 0.5.0, but found a problem.

Content in my index.html:
[code]

It be converted to:

[code]

Seems just replace the first `%PUBLIC_URL%`?

[2016-09-23 23:06] gaearon commented on #625
Oops, that might be true. Blame this on me not knowing how replace() works in JS :-P. Would you like to send a fix? It's in InterpolateHtmlPlugin.js in packages/react-dev-utils.

[2016-09-23 23:07] fson commented on #625
I'm already fixing this :)

[2016-09-23 23:19] cpunion commented on #625
@fson 👍

[2016-09-23 23:28] #625 closed

[2016-09-23 23:28] gaearon commented on #625
Fixed by #731.
0.5.1 will be out shortly.

[2016-09-24 00:00] gaearon commented on #573
@donpark Fixed in 0.5.1, thanks.

[2016-09-24 00:01] gaearon commented on #713
I’d appreciate if you could report this upstream to Jest or watchman.

[2016-09-24 00:08] gaearon commented on #625
0.5.1 is out, I just verified this is fixed in it.
https://github.com/facebookincubator/create-react-app/releases/tag/v0.5.1

[2016-09-24 00:25] cpunion commented on #625
Fixed, thanks.

A little problem, I migrated from 0.5.0 to 0.5.1 with below command:

[code]

But the version of `react-dev-utils` in `node_modules/react-scripts/node_modules` not upgraded, I MUST delete `node_modules` and then `npm i`.

[2016-09-24 00:44] gaearon commented on #625
That's weird. I guess not a big deal if new projects reference the correct version (I doubt a lot of people had a chance to catch 0.5.0 before 0.5.1 came out.) Will keep this in mind for the future.

[2016-09-24 05:25] zhangk2000 commented on #708
I have tried creating projects in different directories many times, same error reported

[2016-09-24 05:27] amilajack commented on #708
Last resort would be to use something like Docker or vagrant

[2016-09-24 08:13] tonyxiao commented on #682
@kirkaustin exactly what I need as well. Will give that option a try.

[2016-09-24 09:25] tonyxiao commented on #130
@daviestar do you have one css file per component then? Or just a single massive `_index.css` file at project root?

[2016-09-24 09:47] daviestar commented on #130
@tonyxiao I put SASS files in with my components, but as I said above I don't really agree I should import them into JS as IMO, CSS doesn't work that way. I can easily avoid it by compiling all my SASS files to one CSS file at the root using gulp, then just import that so webpack picks it up in development.

[2016-09-24 09:48] gaearon commented on #708
Can you try updating npm? Might be some bug.

[code]

[2016-09-24 09:50] tonyxiao commented on #130
Got it, thanks a pretty workable approach if you just completely avoid importing css into js. thanks for sharing @daviestar

[2016-09-24 10:02] gaearon commented on #682
This was fixed in 0.5.1, I removed hardcoded project name.

[2016-09-24 10:19] gaearon commented on #98
Please tell them it is entirely unsupported and we reserve the right to break this in any release.

We don’t officially support Webpack loader syntax in import statements. If you can't find something in CRA docs then it's not supported.

[2016-09-24 10:26] gaearon opened #733 "Forbid using ! in import paths"
I've heard a few reports that people use Webpack import extension syntax (like `!!file!./stuff`) to customize Create React App loaders. We don't support this officially, and we may accidentally (or on purpose) break this in the future. This also couples apps to Webpack resolution mechanism too hard.

We need to write a Webpack plugin that throws in parsing stage (https://github.com/webpack/docs/wi

[2016-09-24 10:35] gaearon opened #734 "Investigate style enforcement tools"
I don't think style enforcement should be part of our linting process. It's too annoying to see formatting messages in console and browser warnings as you write code.

Nevertheless I think it's a good idea to enforce style automatically. For example, before pushing your changes.

We don't want to enforce any _particular_ style in CRA projects but I want to either document or integrate with popular

[2016-09-24 11:06] #609 closed

[2016-09-24 11:07] gaearon commented on #439
Don’t really care too much about it.

[2016-09-24 11:07] #439 closed

[2016-09-24 11:12] robertknight commented on #734
I've used a combination of [typescript-formatter](https://github.com/vvakame/typescript-formatter) for basic formatting of JavaScript source files followed by `eslint --fix` to deal with easily fixable style violations such as missing/extra semi-colons, missing/extra commas at the end of lines in object/array literals etc. `typescript-formatter` supports ES6 and JSX, but AFAIK it doesn't yet suppo

[2016-09-24 11:14] gaearon commented on #553
Here’s a list of bugs I found by searching. I think it’s on us to triage and fix them.

## transform-react-constant-elements

[ ] https://github.com/babel/babel/issues/3915
[ ] https://github.com/babel/babel/issues/4106
[ ] https://github.com/babel/babel/issues/4223
[ ] https://github.com/babel/babel/issues/4324
[ ] https://github.com/babel/babel/issues/4397
[ ] https://github.com/babel/babel/issu

[2016-09-24 11:33] danharper commented on #734
Sounds like ESLint's `--fix` does everything you'd need. For extended syntax which ESLint doesn't support natively, there's usually additional plugins which provide linting rules & autofixing, e.g. [`eslint-plugin-babel`](https://github.com/babel/eslint-plugin-babel), [`eslint-plugin-flowtype`](github.com/gajus/eslint-plugin-flowtype/).

[2016-09-24 11:46] gaearon commented on #642
Thanks for feedback, everyone! Closing as for now I think all parts are relatively essential. We split `index.html` and `favicon.ico` into `public` folder so they’re less annoying, and I’m adding clarifications about styling in #735.

[2016-09-24 11:46] #642 closed

[2016-09-24 11:48] gaearon commented on #450
Fixed.
https://www.npmjs.com/package/create-react-app

[2016-09-24 11:48] #450 closed

[2016-09-24 11:49] gaearon commented on #601
Going to close since it’s not quite clear what is being asked.

[2016-09-24 11:49] #601 closed

[2016-09-24 11:50] gaearon commented on #641
Redux is an opinionated solution for a problem you might encounter in a month after starting building your app. Routing is something almost all SPAs need, so I think it’s warranted.

Bootstrap section was added because many people did it the wrong way, or thought it’s impossible. We needed to show a happy path there.

[2016-09-24 11:51] gaearon commented on #630
For now, I feel this is out of scope so closing.
People who just start learning React generally don’t need Redux, and those who do should already be comfortable with installing libraries from npm by that point.

[2016-09-24 11:51] #630 closed

[2016-09-24 11:52] gaearon commented on #592
I’m closing because there are no more details, and I found no way to reproduce this. If you find a reliably way to repro, please reopen!

[2016-09-24 11:52] #592 closed

[2016-09-24 12:38] gaearon commented on #580
Please see my reasoning here: https://twitter.com/dan_abramov/status/779659331834880000 and below tweets.

Basically I think boilerplates attack the problem from the wrong angle by conflating build setup and code scaffolding in a single project. These are completely separate concerns, and grouping them together doesn't make sense for setups as complicated as boilerplates try to show. So I don't th

[2016-09-24 12:38] #580 closed

[2016-09-24 12:39] zhangk2000 commented on #708
npm updated, still not work, got different error
![image](https://cloud.githubusercontent.com/assets/9833678/18808490/c44adc72-8296-11e6-9b7d-4b356b535ed4.png)

[2016-09-24 12:44] gaearon commented on #666
This should be fixed in 0.5.x. Please see the changelog for migration instructions.

Here is how to use the "public" folder (new feature in 0.5.x): https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder

It will get merged with the build output.

[2016-09-24 12:44] #666 closed

[2016-09-24 12:45] gaearon commented on #708
This is interesting. Can you look into why this happens?

[2016-09-24 12:47] mxstbr commented on #580
Code scaffolding as in "Let's generate a component" or as in "Let's setup redux, react-router and immutable for you"?

[2016-09-24 12:47] gaearon commented on #569
Killed half of it (WDS messages). HMR messages are still there but we'll disable them with a custom client I intend to implement as part of #89.

[2016-09-24 12:48] gaearon commented on #554
The eject output is nicer with 0.5.x and we killed Babel configs completely in favor of a preset.

[2016-09-24 12:48] #554 closed

[2016-09-24 12:51] gaearon commented on #403
Done thanks to @ryanyogan and @fson. This unlocked many opportunities for us so thank you for moving this project forward.

[2016-09-24 12:51] #403 closed

[2016-09-24 12:53] gaearon commented on #385
Let's do what Ember CLI does, sans the Tomster. Would you like to send a PR?

[2016-09-24 12:55] kachkaev commented on #580
I have to admit that I don't understand the logic of showing an arbitrary short list of alternatives in README.md and not listing top-used boilerplates such as one by Max. In my view, newcomers should either be encouraged to search for advanced React use cases solely by themselves or they should be given a full list of what else is available.

The way it's done now can be interpreted as “Facebook

[2016-09-24 12:55] gaearon commented on #373
No but if you pick up https://github.com/facebookincubator/create-react-app/pull/375 and make it pass Travis, it could be in next version :-)

[2016-09-24 12:56] gaearon commented on #335
Still up for some experimentation? :D

[2016-09-24 12:58] gaearon commented on #299
Closing as I don't feel strongly about this.

[2016-09-24 12:58] #299 closed

[2016-09-24 12:59] kasperpeulen commented on #682
I want to make a fork for react chrome extensions.

@gaearon You say that you can fork react-scripts. But react-scripts is not a git repo. Is the idea that I just copy the code of react-scripts in a new git repo and publish that to github?

[2016-09-24 13:01] gaearon commented on #263
Also backported to 1.x and now used by CRA (thanks!)
With exponential backoff I only see a few of these so I think it's fine now.

[2016-09-24 13:01] #263 closed

[2016-09-24 13:14] gaearon commented on #134
I think this was fixed in WDS 1.x branch with https://github.com/webpack/webpack-dev-server/pull/496 and we have this fix. Closing.

[2016-09-24 13:14] #134 closed

[2016-09-24 13:16] gaearon commented on #134
Oops, relevant 1.x commt is https://github.com/webpack/webpack-dev-server/commit/7c46b742f07400a7dce9fdb9198ce7ee3692b534 B

[2016-09-24 13:21] jquense commented on #733
I'm not certain but I'm pretty sure you can't do that because many loaders, use this syntax internally, as part of their implementation. Not sure you could distinguish between those requests and the user made ones, maybe if you plugin before the loaders run? You may also not be using loaders that do this, but some of "core" ones used to at least

[2016-09-24 13:22] gaearon commented on #580
The second one. Sorry I wasn't clear. I mean that these are two very different problems:

1) Configuring Webpack/Babel/Mocha/Jest/whatnot
2) Using React Bootstrap / React Router / Redux Saga / Redux DevTools

Most, if not all, boilerplates on that list conflate these unrelated problems, and as a result intimidate both beginners and experienced engineers coming into React ecosystem. Splitting these

[2016-09-24 13:28] gaearon commented on #580
I don't mean to appear confrontational. I understand a lot of effort has been put into these projects, and they are valuable to the ecosystem.

But I also want to look forward and see people thinking "getting started with React is simple even as projects becomes more complex". I also want to see people thinking "wow, there are many examples of advanced combinations of libraries in React ecosystems

[2016-09-24 13:29] gaearon commented on #733
Yeah, we'd need to limit this error to the code in user app folder.

[2016-09-24 13:30] gaearon commented on #682
You can fork the whole repo but publish and change that single package.

[2016-09-24 13:37] gaearon opened #737 "Link to library examples using Create React App"
I would like to compile a list of React-related libraries whose examples use Create React App for build setup. Redux examples except for the universal and counter-vanilla all [use it](https://github.com/reactjs/redux/tree/master/examples). React Router 4 [examples](https://react-router.now.sh/basic) are all copy-pasteable into App.js generated with Create React App.

Please help me find more such

[2016-09-24 13:41] gaearon commented on #737
"Boilerplate" examples that use CRA for build setup and showcase how to do something in React are welcome too! Please let me know if you find or create any.

[2016-09-24 14:06] zebapy commented on #737
Does this count? https://github.com/zebapy/create-react-app-parse-redux

[2016-09-24 14:12] jquense commented on #733
even still, the loaders will actively change that code, if you run a plugin after the code has been through the laoder it doesn't matter where it's original location on disk is. Tho I think if you are just throwing an error you probably can run the plugin before any loader activity.

[2016-09-24 14:18] bojand commented on #734
https://github.com/sindresorhus/xo some config might work.

[2016-09-24 15:03] SpaceK33z commented on #733
Maybe it would be an idea to write / use an ESLint plugin for this then? Maybe [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) would be a good place for that.

[2016-09-24 15:15] mxstbr commented on #580
I strongly agree with you on this, and this is a path `react-boilerplate` chose a while ago.

The entire build configuration is hidden behind the `internals` folder. All a user of the boilerplate has to do is write their app in the `app` folder, which at a cleaned state alreadt has the wiring for `react-router`, code splitting, `redux-saga`,... done so users don't have to do it.

The only differen

[2016-09-24 15:18] mxstbr commented on #734
@okonet might be interested in this. His [`lint-staged`](https://github.com/okonet/lint-staged) project can be implemented to have the exact behavior you want, for example with ESlint!

[2016-09-24 16:28] gaearon commented on #580
I agree tinkering is useful and desirable for some people. I don't propose to *remove* that feature but to make it opt-in, or at least easy to opt out of.

The issue with "internals" folder is that once you fork, it's just there. You'll have to either update it manually (tricky when your git history diverges because your fork *is* your app), or you'll leave it outdated for a few months. Then next

[2016-09-24 16:29] hnordt commented on #737
I'll be creating some examples for https://github.com/smalldots/smalldots using CRA soon, but it's not ready yet :(

[2016-09-24 17:21] mareksuscak commented on #385
@gaearon I can do it. Are there some extra requirements besides initializing a repo and making the first commit?

- Cross platform compatibility?
- I assume that we don't want any switches described above
- Do we want to let the user know we initialized a repo for him?

[2016-09-24 17:36] stephenkeep commented on #737
This is where I first cam across CRA:

https://github.com/marmelab/admin-on-rest/blob/master/docs/Tutorial.md

[2016-09-24 17:46] gafemoyano commented on #373
I could give it a try, seems like the ogher guy has been busy.  It's a matter of making travis tests pass?  Does [this commit](https://github.com/facebookincubator/create-react-app/pull/375/commits/683d3740124a2b773bb8be459440065565178aad) meet all the functional requirements?

[2016-09-24 18:02] amilajack commented on #351
Why is `sass` listed under limitations if it is a decision being made?

[2016-09-24 18:45] lacker commented on #645
I think the best way to handle props with this would be just making a small new file and running that. With this sort of script it should be easy to have multiple entry points in a huge project. So if you really want to see `<MyComponent foo=7 />` in the browser, you could make a new file that just contained

    import React from 'React';
    import MyComponent from 'wherever';
    export default

[2016-09-24 18:53] fson commented on #335
After some experimentation with bundling the package with webpack, I think it is going to be harder than than I initially though.

The biggest problem is dynamic imports, which are common in node packages. Webpack can process some forms like `require(expr)` or `require("prefix" + expr + "suffix")`, by creating a *context*, which finds all matching files. This pulls in lots of files that aren't act

[2016-09-24 18:53] #335 closed

[2016-09-24 19:06] wdhorton commented on #706
@gaearon For getting the e2e test to use a `kitchensink` template, would it be ok to pass an additional flag to `create-react-app` (like `--use-kitchensink`, `--e2e`, or `--ci`), which it would pass to `scripts/init.js`, where the copying of `template` actually happens? I can't really think of another way to get `init` to use a different template.

[2016-09-24 19:14] okonet commented on #734
Thanks @mxstbr for bringing this up. I'm definitely interested in this. I'm using lint-staged for all my projects and I can't recommend it enough especially along with `eslint --fix` combination. What steps are required from my side to make it happen?

[2016-09-24 19:35] vjeux commented on #89
#419 landed :)

[2016-09-24 19:40] gaearon opened #740 "Consider using eslint-loader `cache` option"
@kentcdodds mentioned he’s not using `eslint-loader` because of perf issues.
Nobody reported them to us, so naturally we don’t know about them.

What kind of perf issues exist with `eslint-loader`?
Can you tell me how to reproduce them?

Does enabling that `cache` option (new in 1.5.0) help, and should we do it?

[2016-09-24 19:44] gaearon commented on #740
cc @andreypopp who might have opinions

[2016-09-24 19:45] gaearon commented on #89
I was just looking into it. 😄

[2016-09-24 19:48] gaearon commented on #706
Let’s make it `--from-template <path>`. We might eventually allow remote URLs there as well 😛

[2016-09-24 19:50] gaearon commented on #351
@amilajack Is “limitation” a wrong word for unsupported features?

[2016-09-24 19:52] gaearon commented on #373
I don’t think it meets https://github.com/facebookincubator/create-react-app/pull/375#issuecomment-237909277.

[2016-09-24 19:54] gaearon commented on #385
A must.

I think initializing git is a sane default. @vjeux Any objections?

Yes.

[2016-09-24 20:30] suchipi commented on #734
Since there are already tons of eslint rules and plugins that *do* enforce style, it seems like leveraging `eslint --fix` (with an eslint config that is different from the builtin one) would be a good approach

[2016-09-24 20:36] gaearon opened #741 "Support absolute paths with packages/ folder"
We’ve been using [Lerna](http://lernajs.io) in Create React App, and I really like its approach. I think we should support a similar workflow (even without Lerna itself) for the “absolute paths” feature.

I imagine it working like this:
- In addition to `src`, you can create a special top-level folder called `packages`.
- Inside `packages`, you can create folders like `app`, `stuff`, `lol`, and th

[2016-09-24 20:37] gaearon commented on #636
Proposal for absolute imports: https://github.com/facebookincubator/create-react-app/issues/741

[2016-09-24 20:40] sladkovm commented on #573
Thanks! d3.csv import also works now.

[2016-09-24 20:49] kasperpeulen opened #742 "no-var eslint rule"
Just wondering, any particular reason why this rule is not enabled? I thought this is seen as good practice nowadays:

http://eslint.org/docs/rules/no-var

[2016-09-24 20:54] jashsayani opened #743 "Including scripts from /public doesn't work"
I updated `react-scripts` to `0.5.1` and moved my index.html file to `/public` along with some javascript files from vendors. Now I have the following structure:
[code]

Lets say `abc.js` does `window.abc = 1`, when the app loads, `window.abc` is undefined, so the script is not loading.

Here's how I am including it in index.html:
[code]

Note: I also tried using `%PUBLIC_URL%` with no luck. Thoug

[2016-09-24 20:58] udfalkso commented on #741
We've been using linklocal for this type of thing.

https://github.com/timoxley/linklocal

[2016-09-24 20:59] kasperpeulen commented on #741
What problem would this solve? I see lerna as being useful as for example now users can easily use the eslint config of create-react-app in any package they want.

Could I publish this package `harry-potter` to npm? So that I could use it another package as well? Is that the idea?

[2016-09-24 21:00] AlicanC commented on #741
How does this help? Can anyone who will benefit from this comment?

[2016-09-24 21:02] mandysimon88 commented on #741
This seems like an acceptable solution to me, if well documented. It sounds like under this proposal that it would make sense to put most domain models under packages/ and so in an OO system, one would not have much under src/, though __tests__/ should still go under src/ and import domain models under test from packages.

That's a clear change from what we're used to thinking, that 'everything go

[2016-09-24 21:04] gaearon commented on #743
Can you remove `type="text/babel"` from there and try without it? I assume the browser might ignore it because it’s not something browsers understand. And we don’t recommend “standalone Babel” tools you might have seen around because they are not suitable for production at all.

[2016-09-24 21:05] mandysimon88 commented on #741
The problem we're trying to solve is:
`import 'path/to/banana.js'` instead of the brittle `import '../../banana.js'.
Absolute paths to your app's files instead of relative paths.

The current workaround is to add an environment variable before running commands:
`NODE_PATH=src/ && npm run start`

But apparently some people have problems with that workaround, perhaps because of a conflict between th

[2016-09-24 21:05] gaearon commented on #743
Yes, it’s always needed.

[2016-09-24 21:06] mandysimon88 commented on #741
@gaearon Why not just point to `src/` instead of adding `packages`? I'm sure there is a great reason that's just not clear to me yet.

[2016-09-24 21:07] gaearon commented on #743
I added to `public/index.html` in `<head>`:

[code]

Then I added `public/vendor/test.js` with:

[code]

Works for me:

<img width="532" alt="screen shot 2016-09-24 at 22 06 07" src="https://cloud.githubusercontent.com/assets/810438/18811291/350e856a-82a3-11e6-8ff8-ce15b815975b.png">

[2016-09-24 21:07] gaearon commented on #743
Yea, pretty sure it was `type="text/babel"`. I added it to my example and now it doesn’t work for me either. So please remove it and it’ll be fine.

[2016-09-24 21:07] #743 closed

[2016-09-24 21:08] kasperpeulen commented on #741
I was wondering this to, you could also symlink any *directory* in src. And then still keep `src/index.js` as entry point. No?

[2016-09-24 21:08] AlicanC commented on #741
@mandysimon88 that is what we are talking about. Every file in your project can refer to some other file. You need absolute paths in every file so this solution (in some sense) forces you to put everything in `packages/`.

[2016-09-24 21:10] gaearon commented on #742
It is a bit too opinionated. We only enable lint rules that often result in errors because we show lint warnings “in your face”. Beginners who copy and paste React snippets from StackOverflow and blogs shouldn’t get 50 warnings lecturing them about `var` because they’re just trying to learn React at this point.

We will likely re-evaluate this decision some time down the road, but now is too early

[2016-09-24 21:10] #742 closed

[2016-09-24 21:12] amilajack commented on #351
I feel like limitation has the wrong connotation. To me, using 'limitations' almost is almost equivalent to using 'drawbacks' in its place. IMO, something like `Unopinionated Features` would make more sense.

Thoughts?

[2016-09-24 21:15] gaearon commented on #741
Please refer to discussion in https://github.com/facebookincubator/create-react-app/issues/636.

It is too brittle in my experience. People won’t realize what is happening unless there is some explicit opt-in, and I think `packages` is a good way to signal the intention, as well as to make people think twice about *how* to name root folders (instead of accidentally aliasing something that already

[2016-09-24 21:31] kasperpeulen commented on #741
Just some reference how an other language solved this problem. Because what [Dart](https://www.dartlang.org/) does is something very similar as you are proposing @gaearon. It will see anything in the `lib` folder as a regular installed package where the name of the package is gotten from how you call the app in package.json. Say the app is called `my-app` then:

[code]

The adventage of this, is t

[2016-09-24 21:32] amilajack commented on #324
I'm working on a plugin for this:

https://github.com/amilajack/eslint-plugin-flowtype-errors

[2016-09-24 21:34] jfmengels commented on #741
Should you go ahead and do this, you should configure eslint-plugin-import to resolve files correctly. I see that the rules are currently disabled, but that's something that should be done at some point.

[2016-09-24 21:35] AlicanC commented on #741
That issue is where I came from. This solves the problem stated in the original request terribly at best.

Take the f8app, stop using `@providesModule` and apply this solution. Can you imagine ending up with a better structure?

[2016-09-24 21:41] gaearon commented on #741
This is a pretty strong statement. Can you help me understand what is “terrible” about this proposal?

[2016-09-24 21:55] AlicanC commented on #741
To clarify, it is terrible for being a solution to the original request in #636.

This solution basically suggests that we should move stuff we want to import using absolute paths to a directory in `packages/`. The problem is that we want to import almost everything using absolute paths. If I were to use this pattern, I would have to move my `actions`, `components`, `helpers`, `18n`, `theme.js`, `

[2016-09-24 22:03] Pajn commented on #741
That's the whole point! Structure your app as  packages instead of a monolith

[2016-09-24 22:05] AlicanC commented on #741
@Pajn it is? If I had to use this pattern, I'd just move some directories to `packages` and it would work, but then `src` would be almost empty. What's next? We remove `src`?

[2016-09-24 22:06] AlicanC commented on #741
Or are you expecting me to make every component a package? Am I supposed to have a thousand React components laid flat in `packages`?

[2016-09-24 22:09] modernserf commented on #741
Could this be done without copying files by putting packages in src/node_modules (see #607) and checking for conflicts?

[2016-09-24 22:30] AlicanC commented on #741
@modernserf yes, but don't you think that's a bit ugly?

- A developer would and should expect a directory called `node_modules` to be managed by npm.
- CRA targets beginners. What happens when a beginner faces with a problem and reads on SO that they should try removing `node_modules` and doing an `npm i`? The original `node_modules` might even be hidden by the editor. "Why do they ask me to remo

[2016-09-24 23:39] andreypopp commented on #740
I don't use CRA with large codebases yet so I don't have perf issues with eslint-loader.

I assume that ESLint's `cache` option only helps initial linting because otherwise `eslint-loader` is marked as `cacheable` and so it lints only changed modules (when in watch mode).

[2016-09-25 01:06] gaearon commented on #741
@AlicanC

Wouldn't having a single folder called "app" in packages satisfy your use case? You could even have src/index.js reexport app/index.js and then any module is addressable as app/whatever.

Of course it's a bit more typing than if you give implicit namespaces but I think explicitness is favourable in this particular case.

[2016-09-25 01:09] gaearon commented on #741
Then it would be mostly empty for you. I don't see a problem here. You choose a convention where everything lives in an absolutely addressable package. That's fine but then people new to your codebase need to know where the entry point is. So it makes sense to me that src stays at top level because that'll be the first place people look (and they can see what you reexport if you really decide to m

[2016-09-25 01:59] AlicanC commented on #741
I don't like it, but sure.

Which official Facebook projects can we expect to see dogfooding this pattern?

[2016-09-25 02:03] kasperpeulen opened #745 "Error when installing eslint globally"
I got the following error when trying to install eslint globally (as suggested in the user guide):

[code]

[2016-09-25 02:16] kentcdodds commented on #740
Here's an [example](https://twitter.com/ericclemmons/status/776078580077858818). I have experienced this myself on bigger projects. This is why I generally keep eslint out of my webpack stuff and have it as a separate script that I run as a pre-push hook.

[2016-09-25 02:20] amilajack commented on #745
Those are not errors. Those are just warnings. The warnings are saying that you need to install eslint-config-config-react-app's peerDependencies (eslint, eslint-plugin-flowtype, eslint-plugin-import) as global dependencies as well.

I should note that installing npm dependencies as global dependencies is generally a bad idea.

Try doing this instead. Add the following code to your `package.json`:

[2016-09-25 06:37] eddywashere commented on #737
This might fall under boilerplate example - [component-template](https://github.com/reactstrap/component-template). It's built with CRA to help enable folks to publish components built on top of [reactstrap](https://reactstrap.github.io/) or react components in general. Planning to add a getting started guide to reactstrap that uses CRA as well. Happy to hear feedback on this use or abuse of CRA :

[2016-09-25 06:54] arunoda opened #746 "Polyfills and browser compatibility (Affecting SEO)"
### Description

I had issues getting [getstorybook.io](https://getstorybook.io/) listed on Google, because it doesn't render anything on Google's **Fetch and Render** feature.

I so I dig into the issue and it was `Array.find()` couldn't find on Google's browser env. Since Google's Fetch and Render didn't provide console.log output I had to debug this for more than 4 hours doing a lot of trial an

[2016-09-25 07:46] ivosabev commented on #385
I actually think this is unneeded default. From my personal experience most of the time the React client code is part of a bigger project with server code that is already under version control. Also there are a lot of people using Mercurial.

The most sane option is to output the necessary steps after a new project is created, just as when you create a build suggestion is shown to run a push-serve

[2016-09-25 07:51] cecilemuller commented on #741
It's a common misunderstanding: `node_modules` does not imply "managed by NPM", it's how Node natively resolves paths, hence why NPM uses the name.

A root `/node_modules` folder would be thirdparty modules from NPM, something like `/src/node_modules` would be local modules from your project. No need to reinvent the wheel to get clean paths that avoid "../../.." type of paths :)

[2016-09-25 08:04] kitze commented on #682
Anyone has an idea why [this forked version](https://github.com/kitze/create-react-app) doesn't work?

I'm getting the same error as @dpoineau. When I'm changing the npm script in the ```package.json``` from ```"start": "custom-react-scripts start",``` to ```"start": "react-scripts start"``` then it works.

Probably it's a silly 1 line fix that I'm missing somewhere.

[2016-09-25 10:31] #89 closed

[2016-09-25 10:31] #569 closed

[2016-09-25 10:39] gaearon commented on #745
@amilajack

There is no need to install ESLint locally, CRA already has it as a dependency.
What @kasperpeulen is trying to do is to follow our guide [here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#displaying-lint-output-in-the-editor).

Unfortunately **at the moment** the only way to display lint output in the editor is by install

[2016-09-25 10:42] gaearon commented on #745
Fixed in the documentation by 2b7a4f147dd4e4e411ac9d98405cff3495429ff3.
The new command is:

[code]

[2016-09-25 10:42] #745 closed

[2016-09-25 10:43] gaearon opened #747 "Syntax overlay doesn’t work in Firefox"
Just noticed this after merging #744.
Not sure what’s going on.

[2016-09-25 11:07] pungggi opened #748 "style svg from css"
I dont know if its a bug, missing feature or it me handling it wrong.

what I am trying to do is to change the color of a SVG:

I do

[code]
In Logo.css

[code]

in svg

[code]

[2016-09-25 11:33] #747 closed

[2016-09-25 11:44] gaearon commented on #748
You can’t style SVG if you use it via an `img` tag, browsers don’t support it.

You can, however, embed SVG into your React component JSX:

[code]

[2016-09-25 11:44] #748 closed

[2016-09-25 11:53] pungggi commented on #748
ah yes, my fault, thank you

[2016-09-25 12:00] gaearon commented on #741
As you probably know, Facebook is using Haste everywhere in its product code. You might have noticed it is not very popular in the open source community. Some things that work well for Facebook also require a lot of infrastructure that others don’t have.

Create React App explicitly does *not* follow everything the way Facebook does it. In fact, it would *not exist* if it followed the usual dogfoo

[2016-09-25 12:09] gaearon commented on #385
We could detect if the folder is part of a git repo and bail.

[2016-09-25 12:10] gaearon commented on #740
@kentcdodds So the issue is in production builds, or initial `npm start`? This shouldn’t affect rebuild times in development as far as I understand.

[2016-09-25 12:11] gaearon commented on #740
cc @ericclemmons

[2016-09-25 12:19] gaearon opened #750 "Beautify eject output"
# Update: issue is claimed by @azakordonets

It looks like this:

<img width="661" alt="screen shot 2016-09-25 at 13 17 25" src="https://cloud.githubusercontent.com/assets/810438/18815251/75fdf8ec-8322-11e6-91a9-336cc4263ba8.png">

Scary, isn’t it?

We’ll figure out how to remove some of this dependencies but in the meantime it would be nice to add some colors and maybe indentation to the output.

[2016-09-25 12:24] gaearon opened #751 "Remove unnecessary dependencies"
# Update: claimed by @alamgird

Now that we have a monorepo structure, we can pull out some of the small and annoying dependencies from `packages/react-scripts/package.json` into `packages/react-dev-utils/package.json` and provide helpers there instead.

I started this in https://github.com/facebookincubator/create-react-app/pull/723 but `packages/react-scripts/scripts/build.js` is still pretty no

[2016-09-25 12:25] azakordonets commented on #750
I would like to work on this. Will try to to improve this today-tomorrow

[2016-09-25 12:27] gaearon commented on #750
Thanks @azakordonets, you got it!

[2016-09-25 12:28] thangngoc89 commented on #746
I use Polyfill CDN for this https://polyfill.io/v2/docs/

It's fast and easy.

[2016-09-25 12:40] alamgird commented on #751
will take a crack at it

[2016-09-25 12:54] gaearon commented on #751
You got it @alamgird!

[2016-09-25 13:21] pbeshai opened #752 "After updating to 0.6.0, Error: Cannot find module 'react-dev-utils/webpackHotDevClient'"
It seems create-react-app is updating very frequently right now, but there's no guidance in how to keep an app you created with create-react-app up to date. It seems one way may be to update react-scripts via something like:

[code]

But without any official documentation, it's not clear if this is entirely sufficient. I just tried doing that from 0.5.1 to 0.6.0 and I got an error:

[code]

This e

[2016-09-25 13:39] gaearon commented on #752
Isn’t it the very first section in the User Guide? It’s linked from main README, too.

https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#updating-to-new-releases

[2016-09-25 13:40] pbeshai commented on #752
Wow somehow I missed that last night.

[2016-09-25 13:41] gaearon commented on #752
As described in user guide, you’d need to look at the [changelog](https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md) and apply changes one by one.

This looks like a bug, thanks for noting. Let me look at it.

[2016-09-25 13:42] pbeshai commented on #752
I think the problem was that I just Cmd+F'd "update" on the README and found nothing. It's actually very well documented there in the user guide.

[2016-09-25 13:42] vinpac commented on #737
https://github.com/vinpac/base-kit

It comes with redux, react-router 4, basic components ( e.g. Dropdown, Modal ), sass support and a configurable and awesome style library based on bootstrap 4.

Example of use: https://vinpac.github.io/base-kit/

[2016-09-25 13:43] gaearon commented on #752
Added in cc97ed5636e468d94a9769be88513f2c31d1f8bd.

[2016-09-25 13:44] gaearon commented on #752
What is your npm version?

[2016-09-25 13:45] pbeshai commented on #752
npm: 3.9.3
node: 6.2.1
Mac OS X 10.11.5

[2016-09-25 13:48] gaearon commented on #752
`react-scripts@0.6.0` includes `react-dev-utils@^0.2.0` as a devDependency:
https://unpkg.com/react-scripts@0.6.0/package.json

`react-dev-utils@0.2.0` includes that file:
https://unpkg.com/react-dev-utils@0.2.0/webpackHotDevClient.js

So my only guess is it’s some kind of an npm issue out of our control. You might want to update npm to latest (`npm i -g npm@next`) and maybe try deleting `node_mod

[2016-09-25 13:49] gaearon commented on #752
Let’s leave this open. I can’t reproduce this with `npm@3.10.8`, but if more people report it, I can take another look.

[2016-09-25 13:50] pbeshai commented on #752
Thanks, yea if I check the package.json in node_modules/react-scripts it clearly lists react-dev-utils under `bundleDependencies`. I'll try to reproduce with updated npm.

[2016-09-25 13:58] gaearon commented on #752
With `npm@3.10.8`, when I run `npm i --save-dev react-scripts@latest`, my output looks like this:

<img width="448" alt="screen shot 2016-09-25 at 14 57 09" src="https://cloud.githubusercontent.com/assets/810438/18815718/71917d52-8330-11e6-9627-4ff4367c3c06.png">

If this is not what you see, could you please paste your output?

[2016-09-25 14:05] pbeshai commented on #752
Here's what I did:

1. npm install react-scripts@0.5.1
2. npm install react-scripts@0.6.0

![image](https://cloud.githubusercontent.com/assets/793847/18815770/98f35588-8307-11e6-9d58-23bc73305807.png)

[2016-09-25 14:07] pbeshai commented on #752
When it installs it in a fresh app instead of updating it works. (e.g. react-create-app my-app installs it correctly)

[2016-09-25 14:08] gaearon commented on #752
Hmm, I was testing updating from 0.4.0. Let me test updating from 0.5.1.

[2016-09-25 14:10] gaearon commented on #752
@pbeshai On your screenshot, it says it installed `react-dev-utils@0.2.0`. Is `react-dev-utils/webpackHotDevClient.js` missing inside it?

[2016-09-25 14:10] pbeshai commented on #752
inside node modules:

[code]

[2016-09-25 14:11] pbeshai commented on #752
[code]

[2016-09-25 14:11] gaearon commented on #752
What’s in `package.json` there?

[2016-09-25 14:12] pbeshai commented on #752
[code]

[2016-09-25 14:13] gaearon commented on #752
So basically npm lied that it installed `react-scripts@0.2.0` but really kept `0.1.1` 😕

[2016-09-25 14:14] amilajack commented on #751
[npm-check](https://github.com/dylang/npm-check) might be a good solution for this

[2016-09-25 14:14] pbeshai commented on #752
I think you mean `react-dev-utils@0.2.0` and it kept `react-dev-utils@0.1.1` but yes that does appear to be the case. :tada:

[2016-09-25 14:15] gaearon commented on #752
Oh yea, that’s what I meant.
That’s really weird.
I can reproduce it, too.

brb, filing an npm issue

[2016-09-25 14:19] pbeshai commented on #752
Sounds good. And it is clearly listed as 0.2.0 in react-scripts package.json. Excerpt below:

[code]

[2016-09-25 14:33] gaearon commented on #752
Filed as https://github.com/npm/npm/issues/14073.

[2016-09-25 14:41] gaearon commented on #751
I think they’re technically useful, it’s just that we don’t want them directly under `react-scripts` because its deps pollute the project after ejecting. We now have a utility module (`react-dev-utils`), and we should just extract things users won’t want to change there.

[2016-09-25 14:54] gaearon opened #753 "Forked react-scripts should retain the binary name"
# Claimed by @shubheksha

People who fork `react-scripts` shoulldn’t need to rename their `bin` script because this is annoying. Ideally changing just `name` in their `react-scripts` fork’s `package.json` should be enough.

Looks like #728 made some things better but some things worse. We should keep the part of it where it reads the correct path and removes the correct dependencies, but we should

[2016-09-25 17:28] fson commented on #733
Good idea, @SpaceK33z. I think eslint-plugin-import would be an easy and logical place to add this, and this way it also applies to user code.

I opened a PR in eslint-plugin-import that implements this: https://github.com/benmosher/eslint-plugin-import/issues/586

[2016-09-25 17:32] SpaceK33z commented on #733
Nice work @fson!

[2016-09-25 21:21] fson opened #755 "Deprecated dependencies"
In addition to #750, another thing that makes the eject output look scary is all the deprecation warnings from dependencies of dependencies:

<img width="991" alt="screen shot 2016-09-26 at 0 15 37" src="https://cloud.githubusercontent.com/assets/497214/18818320/ea4574a8-837e-11e6-9dd0-55b04626ce85.png">

I can try to get the culprit packages updated.

[2016-09-25 21:58] gaearon commented on #755
Thanks!

[2016-09-25 22:05] fson commented on #755
* `lodash.assign@4.2.0`: opened a PR (https://github.com/babel/babel-eslint/pull/393)
* `minimatch@0.3.0`: opened a PR (#756)
* `minimatch@2.0.10`: found an existing issue (https://github.com/istanbuljs/istanbul-api/issues/6)

[2016-09-25 22:09] fson commented on #755
There's also already a PR open (https://github.com/chjj/marked/pull/768) for removing the `marked@0.3.6` "prefer global" warning.

[2016-09-25 22:13] gaearon opened #757 "Update Jest"
Jest 16 is coming out soon.
We’ll want to bump the version and include updating snapshots into migration instructions.
cc @cpojer

[2016-09-25 22:30] fson commented on #757
I'd be happy to take this issue when the time comes. Another (smaller) improvement that we can benefit from is that we can remove the custom `testRegex` (with `jsx` extension) from the config, because it's going to be the default in Jest 16. (Less config, yay!)

[2016-09-25 22:31] #753 closed

[2016-09-25 23:00] insin commented on #752
Should CRA recommend that people `npm uninstall react-scripts` first when upgrading, or completely blowing away `node_modules`, as [npm3's Non-determinism docs advise](https://docs.npmjs.com/how-npm-works/npm3-nondet#i-want-my-node_modules-directory-to-be-the-same-how-can-i-do-that) any time you make a change to `package.json`?

[2016-09-25 23:33] fson commented on #587
I can't reproduce this on the 0.4.2 branch of that repo.

[2016-09-26 00:49] madou commented on #746
Hey! This worked great, you're my hero :-).

[2016-09-26 01:17] ryanyogan commented on #403
No problemo, once my schedule gets a tad calmer I can't wait to start
creating some plugins, or whatever the group decides on for extending upon
the mono repo!

On Sat, Sep 24, 2016 at 5:51 AM, Dan Abramov <notifications@github.com>
wrote:

[2016-09-26 01:47] lewis617 opened #759 "Can this tool support Universal render?"

[2016-09-26 01:55] tbillington commented on #759
What is universal render, could you link a explanation, and perhaps why you would want this?

[2016-09-26 02:18] lewis617 commented on #759
@tbillington
https://github.com/reactjs/redux/tree/master/examples/universal

[2016-09-26 05:19] clessg commented on #759
See #91 and #500.

[2016-09-26 05:42] lewis617 commented on #759
@clessg thanks, I will implement universal rendering by myself.

[2016-09-26 05:42] #759 closed

[2016-09-26 05:47] mweststrate commented on #214
Didn't try yet, but this should allow using decorators with create-react-app without ejecting: https://www.npmjs.com/package/custom-react-scripts. Might be interesting to check out if anybody runs into this in the future.

[2016-09-26 06:43] clessg commented on #682
Tip to anybody using `npm link` in development to make changes to their `react-scripts` fork take effect immediately: comment out [these lines](https://github.com/facebookincubator/create-react-app/blob/4c183b729a1347f43a6fafdf6d6e249a373093ba/packages/react-scripts/config/paths.js#L74-L85). Otherwise, changes in your app won't be seen.

[2016-09-26 08:36] bestwestern opened #761 "Copy dev bundle.js output to actual path"
I use create-react-app in subfolder in my webform/mvc/.NET core.. projects.

In development I have a fetchData() function in create-react-app that serves JSON (fake API)
To test it with the 'core project' API I have to run npm build and point the project to the output.

I would very much like to (know how to) copy/add an extra output here:
**webpack.config.dev.js**
_// This does not produce a real

[2016-09-26 09:00] marienfressinaud commented on #511
I actually have a similar problem: my backend is written in Go and frontend has been created with `create-react-app` and both are in the same repository. It makes me uncomfortable to have frontend in a `src` folder since it could contain backend too… which is not the case.

My actual folders' structure is the following:

[code]

Problem is when deploying on Heroku for instance, it does not detect

[2016-09-26 09:29] gaearon commented on #752
So far it worked okay so not sure. But yes, perhaps we should do this. Let's wait for a second issue about this and then do it.

[2016-09-26 11:24] da-vaibhav opened #762 "use another regex visualizer in comments"
The present [comment](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/scripts/start.js#L177) advices to use https://www.debuggex.com/ for regular expression visualization. In my opinion there should be another better visualizer. For example: https://jex.im/regulex whose output is much better if you copy and paste into it, than debuggex.

This won't actually

[2016-09-26 12:38] gaearon commented on #762
Sounds good, want to send a PR?

[2016-09-26 12:39] gaearon commented on #761
Can you use `proxy` setting in development for this?
It is documented [here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#proxying-api-requests-in-development).

[2016-09-26 12:42] azakordonets opened #763 "Failing to run cra.sh script"
If you are reporting a bug, please fill in below. Otherwise feel to remove this template entirely.

### Description

I'm currently working on issue #750 and to be able to test my changes, i decided that i could run ```rca.sh``` script. But when i run it, it fails on line 98 at the
```node packages/create-react-app/index.js --scripts-version=$scripts_path "$@"``` command . I'm trying to figure out

[2016-09-26 12:49] da-vaibhav commented on #762
sure, I'm on it.

[2016-09-26 12:55] da-vaibhav commented on #762
PR #764

[2016-09-26 13:02] gaearon commented on #763
Ugh, sorry about this. 😞
Looking at it.

[2016-09-26 13:07] gaearon commented on #762
Fixed by #764. Thanks!

[2016-09-26 13:07] #762 closed

[2016-09-26 13:07] gaearon commented on #757
Btw Jest 16 is a pretty big change (with concurrent reporter) so we’ll want to make sure it works well on Windows before cutting a release.

[2016-09-26 13:09] gaearon commented on #587
I also can’t reproduce this on 0.6.0 branch of that repo.
If it doesn’t work, please delete `node_modules` and run `npm install`.
Maybe some dependency is stale for some reason.

Thanks!

[2016-09-26 13:13] gaearon commented on #737
Here is good [list of popular React libraries](https://gist.github.com/vjeux/3d7f2885cc62a91aba02). For those that offer components and have examples with custom build setups and don’t need server rendering or exotic features, let’s send PRs that use Create React App for example code? If the authors don’t them, let’s also collect feedback in this thread.

Please comment if you’d like to help out w

[2016-09-26 13:23] just-boris commented on #737
Can we ask @vjeux to update the statistics? For example, there is no aphrodite, however there are some examples, that can be moved to CRA.

[2016-09-26 13:31] gaearon commented on #737
Yeah, this is the only list I found so far but it shouldn’t be hard to compile a better one (or use “awesome” and “ecosystem” lists). You’re welcome to add more lists in comments, and I’ll put them into the post.

[2016-09-26 13:48] gaearon commented on #682
@clessg Ideally we wouldn’t have to do this. Do you have an alternative solution? We could completely get rid of `remove-on-publish` and only leave `remove-on-eject`. Let me file an issue.

[2016-09-26 13:52] skolmer commented on #737
I would love to see a Visual Studio Code Extension for react-create-app that also generates required vscode configuration. A sample configuration can be found in this boilerplate project: https://github.com/skolmer/react-hot-boilerplate-vscode
Details about vscode extensions https://code.visualstudio.com/docs/extensions/overview
If someone is interested to cooperate on an extension please let me k

[2016-09-26 13:55] shubheksha commented on #682
I just tried to summarize everything on this topic here:
https://medium.com/@shubheksha/tweaking-configuration-for-react-scripts-in-create-react-app-d91e9d03a42f#.jqkioywjy
Hope this helps!

[2016-09-26 14:05] claughlin-r7 commented on #737
@gaearon I'll take a look at updating [react-loader](https://github.com/TheCognizantFoundry/react-loader)

[2016-09-26 14:07] gaearon opened #765 "Get rid of @remove-on-publish step"
In #257, we introduced two special “annotations” that our scripts use to cut out some parts of the code at different stages: **`@remove-on-eject`** and **`@remove-on-publish`**.

### `@remove-on-eject`

Code between `@remove-on-eject-begin` and `@remove-on-eject-end` gets cut out during ejecting. This is useful for simplifying configuration during ejection because some things become unnecessary. W

[2016-09-26 14:15] gaearon commented on #763
Do you run it manually or as `npm run create-react-app ../whatever`? I think it assumes it‘s being run via `npm run` because that gives us a correct root folder.

[2016-09-26 14:17] alwint3r commented on #587
I did remove the `node_modules` and reinstall the dependencies but nothing changed. I still see nothing on the screen but the same error on the browser console.

By the way, I am going to try another alternatives, since `mqtt` module is not my only option.
Thank you for your effort on this awesome tool!

[2016-09-26 14:20] aronwoost commented on #587
I had the same problems with npm@2. The problem disappears with npm@3.

[2016-09-26 14:23] alwint3r commented on #587
@aronwoost I also have npm v3 installed. What version of node are you using?

[2016-09-26 14:23] aronwoost commented on #587
node: v4.5.0
npm 3.10.6

[2016-09-26 14:29] gaearon commented on #587
Try clearing `npm cache` before running `npm install` again.

[code]

[2016-09-26 14:36] alwint3r commented on #587
@aronwoost mine is exactly the same as yours.
@gaearon I did clear the cache but nothing changed.

[2016-09-26 14:44] gaearon opened #766 "Move Babel and ESLint configuration into package.json after ejecting"
## Update: claimed by @montogeek

Currently we emit `.babelrc` and `.eslintrc` after ejecting.
This is better than embedding them in Webpack config like before, but still [not ideal](https://twitter.com/wesbos/status/780403884263084032).

I think we should embed Babel and ESLint configuration into `package.json` after ejecting.
We already do this for Jest.

Relevant settings in `package.json` are

[2016-09-26 14:50] montogeek commented on #766
Why not ask for it?

Example:
`Do you want to export .babelrc and .eslintrc files?` (Y/n)

[2016-09-26 14:50] gaearon commented on #587
This is super weird.
Can you tell me more about this message:

[code]

Does it have a stack trace?

[2016-09-26 14:51] gaearon commented on #766
What’s the benefit to separate files as opposed to `package.json`?

[2016-09-26 14:54] montogeek commented on #766
I like to have each libraries configuration on its respective config files

[2016-09-26 14:59] jcreamer898 commented on #766
Less dotfiles FTW in my opinion. It's getting out of hand have a dotfile for all the things.

Seems to make more sense to have all the configuration live in a single spot with key value pairs rather than distributing the concern to all these different dotfiles.

[2016-09-26 15:00] gaearon commented on #766
You can always move it, it’s literally four lines:

[code]

I think this is a better default but once you eject, you can do anything you like.

[2016-09-26 15:01] wesbos commented on #766
Yeah - and especially because CRA is targeted towards beginners, I can't tell you how much email I get from people who lose their dotfiles because no OS shows hidden files by default.

[2016-09-26 15:04] montogeek commented on #766
Ok, agree, can I do it? :D

[2016-09-26 15:05] gaearon commented on #766
Go for it @montogeek!

[2016-09-26 15:06] azakordonets commented on #763
I just run it as it is. I thought that this script allows to create test react app that would be built from the changed local "react-create-app" source code

[2016-09-26 15:10] alwint3r commented on #587
[code]

Here's line 172 - 174 in browser.js
[code]
I don't know where `browser.js` comes from. And as far as I know, `mqtt` is not built with C/C++ code.

The stacktrace points to a file where I included `mqtt` module with `import { connect } from 'mqtt'` on the first line in `src/lib/mqttredux.js`

[2016-09-26 15:11] aronwoost commented on #587
browser.js is here: https://github.com/defunctzombie/node-process

[2016-09-26 15:12] aronwoost commented on #587
Also last comment here: https://github.com/webpack/webpack/issues/798

But it all made no sense to me...

[2016-09-26 15:21] fson commented on #757
Do you know if React 15.4 is going to be released by the time Jest 16 comes out? It would be nice if we don't need to document the workaround for https://github.com/facebook/react/issues/7386.

Another thing on my wishlist is test renderer traversal / `.find()` (https://github.com/facebook/react/pull/7516). Snapshot testing is useful on its own, but without traversal, testing any interactions requ

[2016-09-26 15:22] gaearon commented on #763
It exists for that purpose, but it’s not meant to be called directly. It’s meant to be called as `npm run create-react-app ../whatever`. I’m not sure if it makes a difference though.

Can you reproduce this by running `npm run create-react-app ../whatever`?

[2016-09-26 15:23] gaearon commented on #757
I think 15.4 should be out fairly soon. I can look at `find()` after it’s out.

[2016-09-26 16:07] fson commented on #766
I'm not sure if this is a good idea. I understand hidden files can be confusing  beginners, but maybe the solution is not moving parts of the config to package.json, but teaching beginners to work with dotfiles.

Dotfiles are still going to be the solution for any platform independent configuration files that are supposed to also work in non-JS projects where `package.json` is not available, for e

[2016-09-26 16:20] jcreamer898 commented on #766
Those are system level dotfiles though, and that makes sense. Seems like for package specific ones it can eliminate confusion by keeping that configuration altogether? (no strong opinion here, just thoughts) :)

[2016-09-26 16:29] fson commented on #766
I meant the project specific `.env`, `.gitignore`, `.editorconfig` or `.graphqlrc` etc. files. Ejecting a CRA project already creates a `.gitignore` and we support `.env` for specifying environment variables.

Anyway, I don't feel strongly about this either, and can't come up with reasons why config in package.json would be any *worse* than separate files. So why not. 😅

[2016-09-26 16:36] iDams commented on #737
As @gaearon said, this is a pretty good list too for react tools: [awesome](https://github.com/enaqx/awesome-react#react-tools)

[2016-09-26 16:43] gaearon commented on #766
You project’s build won’t break if you miss `.gitignore` or `.editorconfig`. I see the point about `.graphqlrc` and `.env` but both are more advanced use cases. Making just the common case more bulletproof is better than doing nothing IMO.

[2016-09-26 16:52] iswanj commented on #737
@gaearon I'll take [react-intl](https://github.com/yahoo/react-intl)

[2016-09-26 16:58] fson commented on #766
Agreed, you convinced me. 👍

And unlike GraphQL or environment variables, Jest, ESLint and Babel are all JS specific things, so package.json also kind of makes sense for them.

[2016-09-26 17:47] KyleAMathews commented on #615
@zhaoshengjun the DLLPlugin speeds up Webpack by making it do less work as you tell it to not pay attention to a list of modules. `hard-source-plugin` speeds up Webpack by caching incremental work so again Webpack does less but this time by avoiding repeating work that's already been done.

[2016-09-26 18:04] azakordonets commented on #763
Yeap, that worked :) Thanks for the help. Will continue working on improving eject.js output.

[2016-09-26 18:04] #763 closed

[2016-09-26 18:08] gaearon commented on #615
How do we know when/if it becomes stable? I don’t understand how to evaluate it.

[2016-09-26 18:21] KyleAMathews commented on #615
I haven't tried it yet myself so can't comment on its stability but the first thing to do I'd think is try adding it to a create-react-app and see the performance difference to see if that's significant enough to worry about the change.

I'll be trying it in Gatsby soon. From @thangngoc89 and @MoOx's experiments in Phenomic, it seems quite usable.

[2016-09-26 18:25] kitze commented on #682
Thanks @shubheksha !

I also just published an article on this topic.

[Configure create-react-app without ejecting ⏏](https://medium.com/@kitze/configure-create-react-app-without-ejecting-d8450e96196a#.6201ggrg5)

[2016-09-26 19:00] azakordonets commented on #750
Ok, made the PR for this issue. Not sure if you gonna like the styling, but hope it looks ok :) Let me know if anything need's to be adjusted.

[2016-09-26 19:46] vjeux commented on #385
I think that it's pretty common nowadays to create a git repo for every small project. I'm down to do it by default.

[2016-09-26 19:49] vjeux commented on #737
I spent an entire day getting the information from https://react.parts/ and it was painful. I'd love if we could ask the authors of that website for the information as they already have it in their db rather than trying to crawl it again.

[2016-09-26 19:56] lucasfeliciano opened #770 "npm install react react-dom --save` failed on npm v3.3.12"
---

After installing `create-react-app` version `0.5.0` and running the command to create a project I get the error below:

[code]

[2016-09-26 20:08] vjeux commented on #755
I've hated those minimatch warnings for a long time in react-native!

[2016-09-26 20:17] gaearon commented on #770
Interesting. Does `npm start` work after this?

[2016-09-26 20:19] vjeux commented on #766
I'm glad that my decision to not make yet another dotfile for jest is getting some traction :)

[2016-09-26 20:53] lucasfeliciano commented on #770
It runs the server I can access through the browser but it shows this error message in the browser and in the terminal:

[code]

[2016-09-26 21:06] claughlin-r7 commented on #737
What's the recommended process for setting up an examples folder. Should you comment the dist code from the libraries build task then reference this in the examples?

[2016-09-26 21:31] gaearon commented on #770
Can you update npm, delete node_modules and run npm install?

[code]

[2016-09-26 21:34] gaearon commented on #737
Not sure what you mean, could you clarify? You can look at Redux examples folder to see how CRA can be used in this context.

[2016-09-26 21:40] menzer opened #771 "Support enzyme usage with test script"
Now that CRA includes a test npm script, with a `test` environment variable, can #180 be revisited with a test webpack config to enable enzyme usage out of the box?

[2016-09-26 21:49] claughlin-r7 commented on #737
My thinking is if the library has an examples folder e.g.
[code]

inside the examples and importing the library should this be from the dist version or from npm?

Sorry is this is still vauge. Is there a link to the examples in Redux where CRA is being used?

[2016-09-26 21:49] gaearon commented on #771
You can already use Enzyme with `npm test`.
Do you have any specific issues?

We don’t need to add anything to Webpack config because we don’t use Webpack for testing.

I ran

[code]

and replaced `App.test.js` with

[code]

as described in [testing guide](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#running-tests).

It works:

<img wi

[2016-09-26 21:52] gaearon commented on #737
I think importing from npm is the best way. (Author may not agree, but this is why I’m saying we collect feedback.) The reason I prefer importing from npm is because people often try to copy-paste examples as top-level folders and try to play with them, and importing library source doesn’t really work in that scenario.

[2016-09-26 21:58] gaearon commented on #770
So far, I can’t reproduce this with Node 6.6.0, npm 3.10.8, and a clean cache, so I’m assuming this is an npm bug that got fixed, or a stale cache issue. I assume you don’t use a custom npm registry?

[2016-09-26 22:07] lucasfeliciano commented on #770
@gaearon after updating npm it worked.

I forgot to check which version I had.
I'm curious now and would be nice to put it here to have it documented

[2016-09-26 22:20] menzer commented on #771
Ah, despite my best efforts to make sure I could reliably repro before opening an issue, I blanked and missed installing `react-addons-test-utils` in my repro process. I'll close, thanks!

[2016-09-26 22:20] #771 closed

[2016-09-26 23:21] gaearon commented on #771
Yea, that's not super obvious but Enzyme needs it for backward compatibility with React 0.14.

[2016-09-27 01:18] zyxue opened #772 "`npm run build` doesn't minify successfully when importing ES6 library"
### Description

`npm run build` doesn't minify successfully if I import a library written in ES6 such as [punycode.js](https://github.com/bestiejs/punycode.js/).

e.g. first
[code]

Then, including `import punycode from 'punycode';` to `App.js` will break minification.

### Expected behavior

`npm run build` should produce minified js

### Actual behavior

built js is not minified

I have narrowe

[2016-09-27 01:20] zyxue commented on #772
I have also tried replacing code in `punycode.js` with that transformed on https://babeljs.io/repl/ will make minification work again.

[2016-09-27 04:47] SOSANA opened #774 "running pm2 with npm script "react-scripts start""
Hi,

I am trying to use pm2 on a dev server with your npm start up script ```react-scripts start```

Do you have any recommendations on where we could execute pm2 process on node.js running this script? normally we use ```pm2 start server.js --watch```

[2016-09-27 04:53] LinkCable opened #775 "Module parse error with pdf"
I'm trying to add a pdf to my app, and I'm getting a Module parse failed error. The pdf is in the src folder, shouldn't file-loader handle the pdf extention or am I misunderstanding it?

[code]

[2016-09-27 07:57] Somesh commented on #752
Facing similar issue.

On a fresh build or after uninstalling a given package or rm -rf node_modules, every thing works as expected.

After doing changes in one of the dependency module, and upgrading version of that module, I again run npm install. Installation says it is successful.

`npm verb exit [ 0, true ]
npm info ok`

When I visit `package.json` file of that module, I find older version.
!

[2016-09-27 08:07] iDams commented on #737
@gaearon I'll take [belle](https://github.com/nikgraf/belle/tree/master/examples)

[2016-09-27 08:50] dvkndn commented on #682
thank you all, I successfully created a fork of react-scripts and everything works! After all, now, it turns out to be very easy than I can imagine. Did anyone working to add this to document?

[2016-09-27 09:09] gaearon commented on #774
Can you please explain the use case?
pm2 is meant for production usage.
npm start in Create React App is meant **only** for development as mentioned in its output message.

[2016-09-27 09:12] gaearon commented on #775
Since we maintain a whitelist, we'd have to add it there. I think pdf is a bit of an exotic use case I would recommend using `public` folder for it instead.

https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder

[2016-09-27 09:15] gaearon commented on #775
This would get solved with https://github.com/facebookincubator/create-react-app/issues/667 in the future but for now `public` folder is a fine workaround. Use `process.env.PUBLIC_URL + '/blah.pdf'` in the code, assuming you put it into `public/blah.pdf`.

[2016-09-27 09:15] #775 closed

[2016-09-27 09:18] gaearon commented on #772
This is expected. We don't process dependencies with Babel because it would be too slow and sometimes would yield incorrect results.

As the library itself says:

Since you want "web browsers", you need to use v1.4.1 of that library.

When we switch to Webpack 2 (might be a few months) we will support ES module syntax in libraries, although you'd still need Babel for any features unsupported by po

[2016-09-27 09:18] #772 closed

[2016-09-27 10:18] gaearon commented on #766
Fixed in https://github.com/facebookincubator/create-react-app/issues/773.

[2016-09-27 10:18] #766 closed

[2016-09-27 11:01] adityashankert opened #778 "custom absolute path for npm build"
If I run `npm build` the build files are getting generated in the home directory of the project. Is there any way I can specify custom directory to generate build outside the home directory of the project?

**Use case** : I want to maintain build files and the development code in different repositories so that it will be easy for me to push to my CDN

[2016-09-27 11:17] dvkndn commented on #682
Hi guys, I follow @shubheksha instruction and rewrite it as a section in User Guide, in this [PR](https://github.com/facebookincubator/create-react-app/pull/779/files). I hope it can help.

Because I didn't see anyone claim to work on this yet, so I want to start a PR and we can discuss more. In case @zperrault or anyone have worked on this already, I am totally ok to close my PR.

[2016-09-27 11:24] ivosabev commented on #682
I don't see the reason to go through all the trouble of publishing a package and polluting npmjs.com with create-react-app forks, when you can just `npm link` your forked version.

[2016-09-27 11:28] dvkndn commented on #770
@lucasfeliciano I think you can see your previous npm version in the log above
[code]

and yes CRA documentation haven't mentioned about npm required version yet..

[2016-09-27 11:36] dvkndn commented on #682
@ivosabev in our case, we publish our package (`companyname-react-scripts`) so my team can `npm install` it from their machine to start working with the app. The forked version is a `devDependencies` in the result source code created by CRA.

[2016-09-27 11:46] ivosabev commented on #682
I understand your particular case, but is that the general one. For the documentation it might be even better to use an example with a dependency from a git repository, instead of publishing or even `npm link`.

[code]

[2016-09-27 12:02] dvkndn commented on #682
ah yes, I agree. In fact we did use that solution. We use npm-link to run `create-react-app`, then after that, we change our `company-react-scripts` dependency's link to our github, then everyone can work on that like normal.

I just didn't think that should be wrote in the guide.. I thought that publish to npm is a more generic way. I'm not so sure about this.

[2016-09-27 12:09] gaearon commented on #770
It's not that we require any particular version. Unfortunately it's that npm is somewhat buggy and it's hard to guess which versions affect us.

[2016-09-27 12:15] gaearon commented on #778
There is no such option but you can work around it. Change `build` in your `package.json` `scripts` to perform an additional step, like `react-scripts build && cp -r build ../your-folder`. If you're on Windows the command would look differently but the idea is the same. There are also ways to write it in a cross platform way if you remove spaces before and after ampersands and launch a Node script

[2016-09-27 12:25] adityashankert commented on #778
I guess this helps thanks :) but it would be great if we can pass configs to the script

[2016-09-27 12:36] gaearon commented on #778
We generally don’t offer configuration options. Please see [this document](https://github.com/facebookincubator/create-react-app/blob/master/CONTRIBUTING.md#core-ideas) for more information.

This is intentional because it lets other tools integrate with Create React App more tightly because they can make assumptions about where sources and build output are. Since it is *always* possible to add th

[2016-09-27 12:36] #778 closed

[2016-09-27 12:36] gaearon commented on #778
(Oops, didn’t mean to reopen. Fat finger.)

[2016-09-27 12:41] tbillington opened #780 "Webpack externals"
Is there an easy way to add external dependencies to create-react-app without ejecting?

I'm including a google analytics script in the header of `index.html`. Currently I'm modifying the webpack scripts in `react-scripts` in `node_modules` to add the external dep so I can access the `ga` function in my app to send events.

[2016-09-27 12:53] floriangosse opened #781 "Export react-scripts functionality"
I started thinking about how I can extend the existing react-scripts functionality. E.g. I want to add some additional webpack plugins. I saw that #419 is the good move into an extendable system. But instead of forking react-scripts I want to extends or wrap it and benefit from the existing scripts.

My idea is to wrap the execution of the script in a function and pass the config and paths from ou

[2016-09-27 12:56] gaearon commented on #780
Not currently, and this particular feature is unlikely to be added.
I see two options here:

* You can just use `window.ga` and embrace that it’s global. IMO that’s absolutely fine.
* In the future, we might implement https://github.com/facebookincubator/create-react-app/issues/741 and then you could use that to shim globals behind local packages.

[2016-09-27 12:56] #780 closed

[2016-09-27 13:03] tbillington commented on #780
Makes sense, thanks :)

[2016-09-27 13:08] floriangosse commented on #781
I checked out the webpack config files in react-scripts and found out that these configuration also depends on `./config/paths.js`. My thought was to reuse almost everything and extend the existing files by the missing stuff. But for me these would be also a change of the paths.
Maybe we could create a function which creates a webpack configuration like in [react-boilterplate](https://github.com/m

[2016-09-27 13:10] gaearon commented on #781
Can you provide more specific use cases please?

[2016-09-27 13:28] floriangosse commented on #781
Sure.

We need two additional tools for building our applications:

* A custom webpack plugins which makes it possible to build our applications with some different functionality, resources, ...
* `scss-loader` for the same reason like the plugin

My thought was how I can extend `react-scripts` instead of fork it because we want to benefit from the great work of create-react-app. (at this point a

[2016-09-27 13:40] themre opened #782 "Module not found: Cannot resolve directory './images'"
### Description

App throws error about resolving images directory from node_modules. It worked with version 0.42.
I import css like this:
[code]

### Expected behavior

Application should open.

### Actual behavior

It throws error:
[code]

### Environment

1. `npm ls react-scripts` (if you haven’t ejected): 0.6.0
2. `node -v`: 6.3.0
3. `npm -v`: 3.10.3

[2016-09-27 13:44] gaearon opened #783 "Add “red box” on any JavaScript errors in development"
This is likely to cause some controversy so I’d love to hear the arguments against doing this.

I want to enable “red box” on any JavaScript error in development, similar to the proposal in https://github.com/facebook/react/issues/1753. When an uncaught exception is thrown, an error is shown full screen similar to our syntax overlay (#744). It shows the error message and the stack. The full-screen

[2016-09-27 14:02] userpixel opened #784 "Don't force "--watch" into Jest"
If you are reporting a bug, please fill in below. Otherwise feel to remove this template entirely.

### Description

I want the tests to terminate after running once. But there doesn't seem to be any way to disable this behavior except setting the `CI` environment variable like: `"test": "CD=true react-scripts test --env=jsdom",` in package.json. I traced the source of this behavior to these lines

[2016-09-27 14:13] gaearon commented on #784
Is there a reason you don’t want to set `CI=true` when running them in a script or git hooks? This is the intended usage. I understand it’s slightly inconvenient, but we need to teach people to use the watcher (and if it’s not good, nudge them to report problems so it gets better). So it seems to me that asking you to specify `CI=true` in scripts and hooks is a fair tradeoff.

[2016-09-27 14:28] themre commented on #782
I just removed leaflet folder and installed version 1.0.0-rc.3, previously was 1.0.0, and suddenly it works. But as I was looking at folder structure it's basically the same.

[2016-09-27 14:29] userpixel commented on #784
Yes, it feels like a hack to set [CI=true](https://docs.travis-ci.com/user/environment-variables/#Default-Environment-Variables) for a git hook that has nothing to do with CI.

**IF** we have to use environment variables for this, maybe we can go for a more intuitive name like "WATCH" or "TEST_WATCH" or "WATCH_TESTS".

I have watched your video about how Redux and hot reloading can improve develop

[2016-09-27 14:34] gaearon commented on #784
I understand your concerns and `CI` is indeed not the most obvious way to do it. It is documented, however, and I think it’s a reasonable compromise between having things work automatically, a good default setup, and a possibility of extensions. For now, Create React App prioritizes [interactivity](https://github.com/facebookincubator/create-react-app/blob/master/CONTRIBUTING.md#interactivity) and

[2016-09-27 14:37] gaearon commented on #782
Thanks for the report. Since your immediate problem is resolved, it won’t be a hi pri issue, but we’ll try to reproduce it with those versions when we get some time.

[2016-09-27 14:51] gaearon commented on #737
Please see my review of this PR: https://github.com/yahoo/react-intl/pull/669#pullrequestreview-1746957. I think it’s important we don’t add unnecessary files, preserve original intention (like important `<script>`s and `<title>`), don’t appear too spammy, and, most importantly, **clarify why we are sending PRs in the first place**. You can use my comment there as a reference.

[2016-09-27 15:03] gaearon commented on #781
I think you might have better luck with an approach like this [custom-react-scripts](http://custom-react-scripts.surge.sh/).
Merging Webpack configs seems somewhat unsafe because we might move them or otherwise change them in incompatible ways.

[2016-09-27 15:15] floriangosse commented on #781
Yes, the more I think about it I think it is not so useful and makes react-scripts more complicated and harder to maintain.

Thank you for you time. And thank you for your great work (not only for create-react-app).

[2016-09-27 15:15] #781 closed

[2016-09-27 15:18] zyxue commented on #772
That's crystal clear and awesome. It solves my problem effectively. Big thanks, Dan!

[2016-09-27 15:24] gaearon commented on #784
Going to close this for reasons above. Happy to revisit in a few months if you’d like.
Sorry for the inconvenience!

[2016-09-27 15:24] #784 closed

[2016-09-27 15:39] themre commented on #782
Sure, thanks! You can view the problem here, by changing this line:
https://github.com/sinergise/SentinelPlayground/blob/master/package.json#L16 to
```"leaflet": "1.0.0-rc.3"```

[2016-09-27 15:39] LinkCable commented on #775
Okay thanks!

[2016-09-27 15:43] just-boris opened #785 "Consider adding babel-plugin-react-require"
In my project I use awesome [babel-plugin-react-require](https://github.com/vslinko/babel-plugin-react-require).

Initially, I was surprised why I need to import React into module with my component even if I don't use this directly. Especially in module with functional component.

[code]

This plugin solves that, it adds React import into any file with JSX expression, which makes your code more se

[2016-09-27 15:48] gaearon commented on #785
Thanks for the suggestion!
We won’t use it for this reason: https://github.com/facebookincubator/create-react-app/pull/603#issuecomment-245525977.

[2016-09-27 15:48] #785 closed

[2016-09-27 16:02] gaelduplessix commented on #783
First: I love the idea and the overall "master plan" to build a fully integrated developer experience, that's the reason I'm using CRA and its future seems bright ☀️

I just have one use case where I wouldn't want unhandled Promise rejections to throw a big red error:
In my app, I have middlewares that handle some side effects such as fetching data to the server and globally handling "fatal errors

[2016-09-27 16:31] iDams commented on #737
Hey, I'm running into an issue.

<img width="607" alt="capture d ecran 2016-09-27 a 18 23 27" src="https://cloud.githubusercontent.com/assets/1591702/18882674/7803caf8-84e0-11e6-8728-85a49bdd5feb.png">

belle is using `::` operator of ES2016. CRA seems to not like it and according to this issue #167, we can't configure `.babelrc` yet or we need to run `eject`. Is it still the case?

Ejecting CRA w

[2016-09-27 16:34] gaearon commented on #737
`::` is not a part of ES2016. It is a stage 0 proposal that might never make it into the language. Moreover, it is not the best for performance reasons, as it binds a new function on every `render()`.

I suggest using stage 2 [Class Properties](https://github.com/jeffmo/es-class-fields-and-static-properties) proposal instead. It is supported by Create React App because we use it at Facebook, and i

[2016-09-27 16:38] iDams commented on #737
That was a quick answer, thanks!
Ok I got it but this is a change in a lib component not my example, so it might be a choice of the author of the lib.
Should we still do the change? (It might happen in other components I guess)

[2016-09-27 16:49] gaearon commented on #737
As I noted before, I’d recommend making examples use library version from npm: https://github.com/facebookincubator/create-react-app/issues/737#issuecomment-249708654. In this case library components would all be compiled. I don’t know whether it works well for Belle authors, but it’s worth suggesting. It’s always possible to use `npm link` for local development.

[2016-09-27 16:51] gaearon commented on #737
That said [DatePickerPlayground.js](https://github.com/nikgraf/belle/blob/master/examples/components/DatePickerPlayground.js) is definitely in `examples` folder, not in a library component. [This alias](https://github.com/nikgraf/belle/blob/5004cf108f68406784c2ff22331e92e2da1e0ac4/examples/webpack.config.js#L23) makes `belle` resolve to `src` so you’d need to add `belle` explicitly to `package.jso

[2016-09-27 17:27] bestwestern commented on #761
Awesome! I am cross-site-scripting my self :)
Thanks - I'll close it now

[2016-09-27 17:27] #761 closed

[2016-09-27 18:03] ericclemmons commented on #740
@gaearon Unfortunately I can't provide the copy/paste metrics (they were lost in chat long ago, but I can give you near exact info)

- Our typical app start time was ~18 seconds.
- Re-builds (HMR) took  ~3s, then ~2s after that. (No idea why sub-sequent re-builds get _faster_, but they stabilize at the 3rd or 4th re-build).
- I went through every optional plugin (including my own, so totes unbiase

[2016-09-27 19:13] SOSANA commented on #774
hi @gaearon

Our client requested we continuously run in dev mode on a server, so their beta testers can see error logs in the console. as well as the redux state logs to report back to our team.

So I wasn't sure exactly the path I can pass over to PM2 that will actually run this file, same goes for running in production I should add for the future.

Thanks so much for replying!

[2016-09-27 20:07] pke opened #786 "Feature: support different build folder"
I wonder if its possible to customise the `build` folder to be named `www` so create-react-app could be used with Cordova. Cordova expects all assets to be in `./www`.

[2016-09-27 20:12] gaearon commented on #774
The command itself is in `node_modules/.bin`. npm adds it to PATH automatically inside `scripts`.

So the full command you want to run is `node_modules/.bin/react-scripts start`. Although it would be better to just run `npm start` in the project folder.

I hope this helps!

[2016-09-27 20:12] #774 closed

[2016-09-27 20:13] gaearon commented on #786
Please see https://github.com/facebookincubator/create-react-app/issues/778. This is easy to achieve by adding an explicit copy command so we are unlikely to make this configurable.

[2016-09-27 20:13] #786 closed

[2016-09-27 20:24] hswolff commented on #741
I'm a big fan of this approach. It encourages encapsulation of like logic for a local package used in the `packages` folder.

For example I have a `packages/components` folder that holds all my dumb/presentation React components. This lets me safely know that any component found in there must be given properties to configure its behavior and likewise has no reliance on whatever state management yo

[2016-09-27 20:29] pke commented on #786
You are right. Didn't see that already asked here.

[2016-09-27 20:37] pke commented on #786
# Usage in Cordova apps

[code]

With that it works!

[2016-09-27 21:07] just-boris commented on #737
I am going to migrate [spectacle-boilerplate](https://github.com/FormidableLabs/spectacle-boilerplate).
CRA will dramatically simplify setup there.

[2016-09-27 21:57] lasfin commented on #770
Had same issue with node v5.4.0 and npm v3.3.12 (maybe it could be useful for somebody)

[2016-09-27 22:07] gaearon commented on #770
Interesting. Seems like `npm@3.3.12` is the problematic one.
Does anyone have this issue with other versions?

[2016-09-27 22:08] sirbrillig commented on #741
Coming from the rather large React codebase of [wp-calypso](https://github.com/Automattic/wp-calypso) where we heavily rely on absolute imports, I think this is a great idea. Although not necessary at all for a small project, when a project becomes large, absolute imports have a huge value and can save a lot of developer time.

Having this be an option in CRA may help provide a way for new develop

[2016-09-27 22:53] SOSANA commented on #774
@gaearon is there a way to just execute the file? I just worry that it would run node and pm2 at the same time, I believe it runs node  already under the hood with pm2 command

[2016-09-27 23:22] gaearon commented on #774
Sorry, I don't really know how pm2 works. I provided the script path so it should be enough for you. If you're not sure how to pass it to pm2 please refer to its documentation or ask on StackOverflow. Cheers! Let me know if there's any other info I could provide you with.

[2016-09-27 23:25] pjm17971 commented on #737
So I might be asking my stupid question of the day, but the first thing I did when I came across create-react-app was to attempt to outsource my library example website build hell to it. However, in the end I couldn't work out how to refer to my own ES6 source, which resided outside of the create-react-app created src/ dir.

Since one on the main uses (for me, and since this issue invites comments

[2016-09-27 23:29] gaearon commented on #737
I believe I mentioned this in a comment before: https://github.com/facebookincubator/create-react-app/issues/737#issuecomment-249708654. I also used to link examples to the source. However I've stopped doing it now because of all the people who try to run them as standalone apps and who can't figure out why configuration breaks once you extract the example into a standalone folder outside the proj

[2016-09-27 23:54] pjm17971 commented on #737
@gaearon yes, I read that comment, but from a library author's perspective, I'm explaining why that isn't a workable solution. At least for me. But you clearly understand the use case and the downside, so my work is done here.

[2016-09-28 06:37] gayancharith commented on #737
@gaearon I'll take react-countup

[2016-09-28 06:54] MoOx commented on #615
Fun you mention us, we just released [yesterday a new Phenomic release](https://github.com/MoOx/phenomic/releases/tag/0.17.0), which makes available the new "cache" option based on this plugin, that works for both webpack 1 & 2.

Here are some number in a picture

![](https://cloud.githubusercontent.com/assets/157534/18852617/87756f22-8441-11e6-843a-fe825541436c.jpg)

[2016-09-28 08:15] ivosabev opened #788 "Problem with `bcrypt` possibly due to Webpack"
### Description

App stops working after installing `bcrypt`.

### Actual behavior

#### What I did:
1. `create-react-app Test`
2. `cd Test`
3. `npm install bcrypt`
4. Open src/App.js and put `import bcrypt from 'bcrypt'` in the header.
5. `npm start`

#### In Terminal
[code]

#### In the browser console
[code]

### Environment

Run these commands in the project folder and fill in their results:

[2016-09-28 08:28] themre commented on #587
I noticed the same problem with my colleague, that uses Ubuntu, node 6.6.0 and npm 3.10.7. On windows this app runs without any problems.
He tried to run app and got this exact error (process.binding), but he discovered that the problem lied with this package: [superagent-xml2jsparser](https://github.com/toddgeist/superagent-xml2jsparser), which uses [xml2js](https://github.com/Leonidas-from-XIV/n

[2016-09-28 09:04] gaearon commented on #788
This package is written in C:

https://github.com/ncb000gt/node.bcrypt.js/tree/master/src

There is no possible way it could work in a browser. It uses `node-gyp` for bindings which wouldn’t work with Webpack since browser can’t possible run native binaries.

You might want to try an alternative that is written in plain JS and uses browser APIs. Here is a package that claims to be: https://www.npm

[2016-09-28 09:04] #788 closed

[2016-09-28 09:44] ForbesLindesay commented on #682
The performance of npm is way better than git for package downloads.  It also lets you manage versions properly and saves you from a common problem of installation not working when you try and install on a device that doens't have git in the PATH.

I think what we should encourage is scoped packages (https://docs.npmjs.com/misc/scope):

They can name the package `@companyname/react-scripts` then p

[2016-09-28 10:37] dvkndn commented on #682
@ForbesLindesay yes I think that solution will suit most people here. I think most of us just want a slightly customized version for internal use within their team/company/project.

[2016-09-28 11:37] oscar-b commented on #90
@gaearon What do you mean with "inconsistent notations in .css files"? My .css files using CSS Modules are 100% vanilla CSS, the magic is done on the fly by webpack and not in the .css. Same thing as referencing an image with `import`, it just returns a string value pointing to the new unique class name. I would say that this way of treating css is much more consistent [with the way create-react-a

[2016-09-28 11:46] gaearon commented on #90
By “inconsistent notation” I mean extensions like `composes` and `:global` that are part of [CSS Modules](https://github.com/css-modules/css-modules).

[2016-09-28 11:51] oscar-b commented on #90
Oh yes, agree about those. Never used them.

[2016-09-28 13:00] userpixel commented on #784
Sorry for being so persistent.

I made a [PR](https://github.com/facebookincubator/create-react-app/pull/789) to demonstrate one possible solution.

Another (better IMHO) solution is not to do anything based on the environment variables and let the "test" script in `package.json` decide that. Travis runs `npm test` by default. So we can have something like `test:dev` or `test:watch` that can be us

[2016-09-28 13:50] gaearon commented on #784
From your PR:

* `CI` is already being handled
* `COVERAGE` doesn’t really seem like a good fit for me because you can already run `npm test -- --coverage` as explained in User Guide, and it works in watch mode just as fine.
* I explained why I don’t want to introduce `NO_TEST_WATCH` or similar in the comment above in this thread. As I also noted, I’m happy to revisit this at some point, but not n

[2016-09-28 14:47] davidpfahler commented on #783
Regarding the question of using `redbox-react` or something custom stored in this monorepo:

I would be glad to help in any way I can to make this solution based on `redbox-react`. Monorepo or not, I don't think that fragmenting solutions for exactly the same problem is good for the community. Whatever steps we need to take to keep this solution universal, I'm willing to take (add contributors, et

[2016-09-28 14:59] ehtb opened #790 "Support for staging builds"
Hi, I thought about adding support for staging builds. I am not sure if this requires ejecting though, or could be a feature of CRA.

Our use case is that we create staging builds to deploy to our staging servers. This allows us to debug the app in a production like environment, but with the benefit of non-minimised code including proper sourcemap support and still includes the development warning

[2016-09-28 15:12] gaearon commented on #790
This is something worth considering for the future although I think we won’t add this near term.

What is your use case for development warnings in staging builds?

[2016-09-28 15:15] ehtb commented on #790
Invariant warnings for instance, but also propType checks.

[2016-09-28 15:16] gaearon commented on #783
I think `redbox-react` might be a good start, and we can potentially look at other solutions if we find issues. One thing I‘m not confident about is whether we want the redbox to be based on React itself.

At this point it’s best if somebody can come up with a prototype for the integration that handle uncaught errors in browsers. I‘m not sure how to implement this without `window.onerror`. Do peop

[2016-09-28 15:19] gaearon commented on #790
Which ones are you referring to? “Invariants” are not warnings, those are hard errors and exist both in production and development builds.

[2016-09-28 15:23] ehtb commented on #790
Sorry, I meant more descriptive errors in the case of invariants. It serves the same purpose though, by making errors / bugs more transparent.

[2016-09-28 15:56] acco commented on #639
Hey @awong-dev @vrk —

Thanks for the thoughts!

Totally valid points. I do think it would be great if a developer could avoid working with both S3 and Heroku to deploy a create-react-app app. S3/credentials/s3cmd are all a pain to setup for the first time. There is a Heroku integration that alleviates most of this ([Bucketeer](https://elements.heroku.com/addons/bucketeer)) but it's not free.

For

[2016-09-28 16:14] Tortel commented on #782
The './images' directory error is caused by this line:
https://github.com/Leaflet/Leaflet/blob/v1.0.0/dist/leaflet.css#L379

For convenience, this is the commit that added this line:
https://github.com/Leaflet/Leaflet/blob/v1.0.0/dist/leaflet.css#L379

[2016-09-28 16:23] gaearon commented on #782
Per https://github.com/Leaflet/Leaflet/issues/4849, this will be addressed in 1.0.1 of the library. There is nothing we can do on our side—Webpack analyzes CSS but Leaflet’s CSS intentionally refers to a non-existing file.

They intend to fix it. Please make sure to be considerate to them in the issue if you express your desire to see this fixed 😉 .

In the meantime, you can work around the issue

[2016-09-28 16:23] #782 closed

[2016-09-28 16:55] josephmisiti commented on #656
@SpaceK33z I am seeing the same issue when editing any of the JS files with this configuration - is this the same issue:

[code]

[2016-09-28 18:08] kasperpeulen commented on #741
I think it may be a good idea to consider teaching people this pattern:

<img width="640" alt="screen shot 2016-09-28 at 20 06 28" src="https://cloud.githubusercontent.com/assets/1035299/18926166/15048172-85b7-11e6-9021-877437f04477.png">

This seem to not only work with create-react-app, but everywhere. You don't need any symlinks or whatever.

[2016-09-28 18:35] mandysimon88 commented on #741
So, where would your `__tests__` folder go, and how would it use imports? For example: `src/testHelpers/MyUniqueJestMatchers.js`… In banana.tests.js:
`import MyUniqueJestMatchers from ‘src/testHelpers/MyUniqueJestMatchers’`. My point is that not *everything* that one might need to import is actually best described as a “node_module”. Under your logic, everything in `src/` needs to go in `src/node_

[2016-09-28 18:39] themre commented on #782
Whoa thanks! Will report the issue (if it's not already) and wait for the fix.

[2016-09-28 18:57] gaearon commented on #782
The issue is reported here: https://github.com/Leaflet/Leaflet/issues/4849.

[2016-09-28 18:58] gaearon commented on #741
I think `node_modules`, while “working out of the box”, will be confusing to a *lot* of people and very hard to explain. It’s a cleaner suggestion technically but I just don’t see it as viable/attractive from the usage point of view.

[2016-09-28 18:58] themre commented on #782
Yeah,saw it,read only half of posts,sorry :)

28. sep. 2016 8:57 pop. je oseba "Dan Abramov" <notifications@github.com>
napisala:

The issue is reported here: Leaflet/Leaflet#4849
<https://github.com/Leaflet/Leaflet/issues/4849>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/facebookincubator/create-react-app/issues/7

[2016-09-28 18:59] mandysimon88 commented on #741
Yeah I agree it’s confusing.

[2016-09-28 20:22] kasperpeulen commented on #741
Okay, I kind of agree with the point, that if you will put everthing in src/node_modules, except the entry point, then packages solution looks cleaner.

Im not really sure if the solution I propose is harder to explain to beginners. External node modules are in /node_modules, internal modules are in /src/node_modules. I think it is more confusing for experienced devs than for beginners, just learn

[2016-09-28 20:50] kasperpeulen opened #791 "Maybe add jest to dev dependencies?"
There is no jest in dev-dependencies. I'm not sure if it is good idea to hide this. For example, I get this error message when installing the type definition of jest:

[code]

But it is not trivial to find out now which version of jest I'm actually using.

[2016-09-28 22:06] DaveLindberg opened #792 "'npm install react-bootstrap --save' fails"
If you are reporting a bug, please fill in below. Otherwise feel to remove this template entirely.

### Description

Following the [tutorial](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#importing-a-component) to install react-bootstrap, `npm install react-bootstrap --save` produces the following results:

[code]

### Environment

Run

[2016-09-28 22:06] kasperpeulen commented on #741
@gaearon How about webpack? I just tried this strategy manually in my create-react-app. But won't it be complicated for making sure that webpack understand which node_modules needs to be compiled with babel, and which not? For example, if I add a new directory to `packages` while I already started `npm start`, will that work?

[2016-09-28 22:59] veqryn opened #794 "Request: do not reset/clear the console output"
My team runs this create-react-app as a single process inside docker, in order to host and build our web site (dev version).

It runs beside many other containers, such as the backend api server and our database.

When running docker (such as using `docker-compose up`), we get the output of all our container's stdout, which is normally great as we can see any activity as we test and use the app in

[2016-09-28 23:01] veqryn commented on #611
I created a similar issue here: https://github.com/facebookincubator/create-react-app/issues/794
Essentially, we actually do not want any clearing of the console at all, so only clearing once (per 801c200), would not be sufficient.
Clearing the console is a problem for anyone running this is in dev beside anything else (ie: using more than 1 docker container).

[2016-09-28 23:37] tbillington commented on #737
@gaearon What about web apps created with create-react-app?

[2016-09-28 23:44] gaearon commented on #792
I can’t reproduce this on your project.
The error message says:

[code]

This means that `react` and `react-dom` for some reason aren’t installed in your project folder even though they are listed in `package.json`. My guess is that their installation failed for some reason earlier, and so they are missing in your `node_modules`.

Can you please try:

1. Delete `node_modules` in your project
2. Ru

[2016-09-28 23:47] gaearon commented on #791
We should have a better integration with `flow-typed`. cc @thejameskyle

In the meantime, you can learn your Jest version by checking `jest` in `dependencies` of `node_modules/react-scripts/package.json`.

[2016-09-29 02:14] jobi opened #795 "process.env does not expose its keys as expected"
I'm not sure if this is expected, but it doesn't feel right.

If I run an app with

[code]

I can access `process.env.REACT_APP_FOO`, but `REACT_APP_FOO in process.env` returns false, and `process.env["REACT_APP_FOO"]` is `undefined`.

I'm trying to have something like:

[code]

[2016-09-29 04:43] tbillington commented on #795
If it's not there it will be undefined, your could could just be

[code]

[2016-09-29 08:08] robcaldecott opened #796 "How to publish components without ejecting"
I hope others find this useful.

I have a project built using CRA that includes some components I wish to publish on npm. In order to do that I need to use babel to transpile the code to ES5.

Out of the box, babel is not available from a `package.json` script and I really don't want to eject. So I made this work by npm installing `babel-cli` and `babel-preset-react-app` and then adding a `compile

[2016-09-29 08:24] iDams commented on #737
@gaearon I'm getting a lot of warnings with belle. CRA is using react 15.3.2 and belle 15.0.0-rc.2. The author blocked the version in the packages.json (`"react": "=15.0.0-rc.2"`).

Examples with CRA are running fine though.
My question is, should I fixed all the warnings in this PR? Or we consider this is not related to this PR and I create another issue saying belle should update its react versi

[2016-09-29 09:05] kasperpeulen opened #797 "Which eslint package to pick in Webstorm settings?"
Which eslint package should I pick here?

<img width="778" alt="screen shot 2016-09-29 at 11 04 04" src="https://cloud.githubusercontent.com/assets/1035299/18947726/87cb9b78-8634-11e6-984d-c1986bdeb0c9.png">

[2016-09-29 10:38] gaearon commented on #797
Currently, you have to use the global ESLint for editor integrations.
This is described in the [user guide](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#displaying-lint-output-in-the-editor).

Choose the one matching the version of Node you chose (the second one in your list should work), and make sure to follow [these instructions](ht

[2016-09-29 10:38] #797 closed

[2016-09-29 11:11] alwint3r commented on #587
Oh yes, I'm also using ubuntu 14.04 with node v4.5.0 and npm 3.10.6.

Thank you for the hint @themre! I'll get back to this issue ASAP.

[2016-09-29 12:14] DaveLindberg commented on #792
Thanks for the response.

I completed the 3 steps outlined, and the issue is now resolved. After
deleting node_modules, npm install successfully added react and react-dom.

Running npm install bootstrap@3 --save and npm install bootstrap@3 --save was
successful.

:-)

Dave Lindberg Marketing & Design
802.282.3368 | DaveLindberg.com | twitter: @DaveLindberg
<https://twitter.com/DaveLindberg> | link

[2016-09-29 13:28] gaearon commented on #792
I’ll close this then. Glad the issue is resolved!

[2016-09-29 13:28] #792 closed

[2016-09-29 13:31] gaearon commented on #795
I think this might be possible to fix if we use

[code]

form instead of

[code]

like we do now.

Would you like to give it a try and maybe submit a PR?

The relevant code is in `packages/react-scripts/config/env.js`.
The contributing instructions are [here](https://github.com/facebookincubator/create-react-app/blob/master/CONTRIBUTING.md).

[2016-09-29 13:35] gaearon commented on #741
I want to do this via symlinks so that they also work in editors, and third party tools (e.g. style checkers, storybooks, etc).

[2016-09-29 13:50] themre opened #798 "Add some analyze script for npm packages"
Hi,
I would love to have some anylyze script that would print out size for individual package bundled with webpack.
Something like I read here: http://stackoverflow.com/questions/34700844/how-can-i-find-out-the-size-of-the-included-packages-with-webpack-or-npm

[2016-09-29 13:53] gaearon commented on #798
Agree this would be nice but not sure what approach would be most useful.
Maybe if you could submit a proof of concept we could iterate on it.
Alternatively we can just output `build/stats.json` and tell people to use webpack analyzer with it.

[2016-09-29 14:00] themre commented on #798
stats.json also sounds good, just need to view what kind of info each
produces so we see what kind of info suits the majority. Will look into it.

[2016-09-29 14:02] godmar commented on #712
Dan, could you clarify:

are you saying that to add an authentication flow, it is necessary to eject from CRA?

[2016-09-29 14:36] gaearon commented on #712
No, why? CRA provides you the **build setup**. It has no opinion about how you structure your app and implement features (such as authentication) in it. Anything you can do in JavaScript, you can do within an app created with CRA.

[2016-09-29 14:41] godmar opened #799 "enhancement: document how historyApiFallback is used when proxy is given."
When enabling the proxy option, how does webpack-dev-server know whether a request to /somepath is an API request or is a request that needs to be handled by the historyApiFallback?

The [documentation](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#proxying-api-requests-in-development) doesn't say.

The answer is that it depends on the

[2016-09-29 14:45] fson commented on #799
@godmar doesn't this paragraph in the docs cover it?

If you think the text can be clarified somehow, would you like to send a PR?

[2016-09-29 15:58] mxstbr commented on #798
This is what we do at `react-boilerplate`, see our [`analyze.js` script](https://github.com/mxstbr/react-boilerplate/blob/de78b9fb1499d647c8b5d838dc29270d21f60bfd/internals/scripts/analyze.js) (which is invoked with the `npm run analyze` command) and feel free to copy it!

[2016-09-29 16:39] silvenon opened #800 "Require http:// or https:// at front of proxy URL"
### Description

I'm having trouble with getting the proxy feature to work. I'm not sure if it's because my API requires HTTP basic authentication. This is my code:

[code]

[code]
### Expected behavior

I expected it to work, the headers are correct because `http://localhost:4000/users` works fine. I don't have CORS issues because I set my API to accept any origin in development, but I still want

[2016-09-29 16:54] godmar commented on #712
Suppose the requirement is that I do not want to serve any routes that would use the historyApiFallback (i.e., serve index.html + bundle.js) unless the user is authenticated. How do I express this without ejecting from the framework?

Or is the assumption that the React index.html and the bundle.js, thus all React code, will be served to anyone and all authentication would take place via an API to

[2016-09-29 16:59] godmar commented on #799
I'm embarrassed - it says it right there!

The only improvement I could think of is to add: "... to the proxy, so that history API fallback routes will still be handled by the development server"

[2016-09-29 16:59] #799 closed

[2016-09-29 18:43] acco commented on #770
👍  `npm@3.3.12` was problematic for me as well

[2016-09-29 18:51] gaearon commented on #712
History “fallback” on development server is not meant to be a sophisticated routing solution. It exists only to let your client-side app handle routing, and how it does it is outside of development server’s concerns.

Is not serving `bundle.js` to unauthenticated users a hard requirement?

You can still “protect” routes on the client without actually hiding that code. This would be much simpler to

[2016-09-29 20:11] dzannotti commented on #402
For those reaching here from google, you can technically add
[code]
to your `src/App.js` and it'll work. Please do note that HMR for React/dom is not stable yet, and has downsides (which is why it's not enabled by default).

💀 use at your own risk 💀

(imho still better than ejecting)

[2016-09-29 22:17] gaearon commented on #402
It will work but not preserve the state, which is not much better than a full refresh. Depends on whether you use something like Redux I guess 😄 .

[2016-09-30 00:57] kasperpeulen opened #801 "Support adding a node server in the react repo?"
I was wondering, would it be possible to support adding a node server in the same repo as the react app?

A little bit in line with supporting a monorepo structure with a packages directory. Where the entry point of the app would be in `src`, maybe the entry point of the server could be in `bin`?

[2016-09-30 01:57] godmar commented on #712
Alright, thanks. I think I understand the approach and should be able to implement it.

I suppose the underlying issue is the lack of familiarity. In fact, I couldn't even define the word "build setup" you bolded.  Because of that, one is left to wonder if a given feature is supported by CRA and one must look for the right way of doing it, or the right hook, or whether one should directly implemen

[2016-09-30 11:00] mcallistersean commented on #647
I solved a similar problem where I needed absolute urls in development builds.
Without modifying the webpack config used by create-react-app it is possible to inject the publicPath at runtime by using a global variable.
I added a file (publicPath.js) with this content to the src folder:
[code]
and imported it right at the top of the index.js.

[code]

It's kind of important that it is imported bef

[2016-09-30 11:43] gaearon commented on #647
Interesting. We don’t officially support this so it might break in the future.

[2016-09-30 11:51] gaearon commented on #712
Yea, I definitely see how this could be challenging at first. I promise you’ll get better at it, but I’m not sure how I can help.

What I mean is that there are two steps:

* First, your project is compiled on your machine. A static `build` folder is produced with the HTML file and all JS assets.

* Then, you can put it on your server and serve to the users. At this point you can’t change how the

[2016-09-30 11:54] gaearon commented on #801
What would you use to process Node files? You could use `babel-node` but it is slow and not recommended for production. So it’s an additional build step. Most people don’t want a build step in Node apps so we don’t feel comfortable forcing them to have one.

We published a Babel preset (`babel-preset-react-app`) so you can configure Node however you like and add a build step with the same settings

[2016-09-30 11:54] #801 closed

[2016-09-30 12:09] gaearon commented on #737
Updating React should be a separate PR but I understand it might be a large undertaking. I’m sure Belle users would appreciate it though!

[2016-09-30 12:09] gaearon commented on #737
@tbillington That would be cool too!

[2016-09-30 12:11] gaearon commented on #794
Is there any way for us to determine when the output is being piped like this?

[2016-09-30 12:13] gaearon commented on #796
Would you like to add `Using the Babel Preset` to the User Guide?

[2016-09-30 12:15] gaearon commented on #656
If edits to JS don’t reload the page, please check https://webpack.github.io/docs/troubleshooting.html#watching.

In particular, “safe write” option in some IDEs might cause this: https://webpack.github.io/docs/webpack-dev-server.html#working-with-editors-ides-supporting-safe-write

<img width="906" alt="screen shot 2016-09-30 at 13 15 00" src="https://cloud.githubusercontent.com/assets/810438/189

[2016-09-30 12:16] mcallistersean commented on #647
Yep, it's a hack and probably should not even work.
Related to this issue: would you be interested in a pull request to the hot reloading client that connects to the server that actually served the hot reloading script instead of window.location.hostname etc. as is currently the case.
Something like what I did here: e142fbd8be84f9dce6fdc28601e48b19dc23c27f

That would make this project even easier

[2016-09-30 12:20] #722 closed

[2016-09-30 12:55] fson commented on #733
eslint-plugin-import 2.0.0 was released yesterday with this new rule. I'm making a pull request to add it in our config today.

[2016-09-30 13:00] gaearon commented on #733
Awesome! Note you'll need to update every place where we hardcoded the versions in docs.
😞

[2016-09-30 13:05] gaearon commented on #647
Right now I’m wary of increasing surface area for bugs. I don’t want to make this as complicated as WDS client. I still plan to make changes to it, so I intend to keep it scoped to features CRA supports, and serving JS from a different host or port is not supported right now.

[2016-09-30 13:05] gaearon commented on #682
Ooh I like the scoped package suggestion. @dvkndn Let’s put it in the doc?

[2016-09-30 13:06] gaearon commented on #615
@MoOx Would you like to submit a PR to CRA enabling it?

[2016-09-30 13:09] gaearon commented on #615
Hmm, I don’t think it’s mature enough. We shouldn’t leave people with issues like https://github.com/mzgoddard/hard-source-webpack-plugin/issues/31 after ejecting.
Let’s wait more.

[2016-09-30 13:11] MoOx commented on #615
I was about to tell you this :)

I opened https://github.com/mzgoddard/hard-source-webpack-plugin/issues/40 so we can track "maturity" :)

[2016-09-30 13:12] gaearon commented on #130
Let’s close as there is no consensus and I don’t feel comfortable proceeding with this.

[2016-09-30 13:12] #130 closed

[2016-09-30 13:14] gaearon commented on #590
Going to close since #591 didn’t work out, and I don’t know how else to implement this.

[2016-09-30 13:14] #590 closed

[2016-09-30 13:20] gaearon commented on #615
To be fair, regardless of the version number, I won’t feel good using this until major issues are solved. We are also conservative about updates and lock package versions so that CRA itself is less fragile when possible.