[2017-03-07 01:44] gaearon opened #1745 "Display 'yarn' in the welcome message instead of 'yarnpkg'"
https://github.com/facebookincubator/create-react-app/pull/1365#issuecomment-284591690

For the vast majority of users, `yarnpkg` and `yarn` are the same thing.

Those who have a different `yarn` should know what both mean, and we should expect them to know the difference in the commands they type. Yarn could also educate users about this at some point.

Let's change our welcome commands to always

[2017-03-07 02:31] Timer opened #1746 "Use React-provided stacktrace in crash overlay"
The recently merged crash overlay should support whitelisted warnings thrown by React.

Currently, this can be accomplished by enabling the console proxy via:
[code]

However, this relies on a synthetically generated stack-trace and not the stack-trace provided by React in the warning. e.g.
[code]

This is problematic, however, because of how React works.

This results in an unreconstructed tree o

[2017-03-07 02:34] Olivia101 commented on #1658
Yes

Bootstrap 4 SASS along with my app's SASS files

Yes I am using CRA's method

My project is based on Bootstrap 4 and because I am compiling Bootstrap's SASS along with my app's SASS files I need to match Bootstrap's targeted browser versions. For example, Bootstrap 4 now only supports IE >= 10 so it makes no sense to have IE9 CSS code in my app if Bootstrap 4 doesn't support it.
So I am looki

[2017-03-07 02:37] gaearon commented on #1658
OK, this makes sense. Happy to review a PR that enables the flexbox bug plugin.

I’d also be happy to review a PR that provides `browserslist` from `package.json` to Autoprefixer. I’m not sure how to make it work though—maybe need to pass options to the loader or something like this.

If you need any help let me know.

[2017-03-07 02:44] Olivia101 commented on #1658
If you need any help let me know.

Yes, I need help please. Thank you

[2017-03-07 02:51] gaearon commented on #1658
Is there anything in particular I can help you with?
We have initial instructions for contributing [here](https://github.com/facebookincubator/create-react-app/blob/master/CONTRIBUTING.md#setting-up-a-local-copy).

You'll probably want to edit Webpack configs in `packages/react-scripts/configs` and pass postscript plugins (or options) there.

[2017-03-07 02:51] neonwired commented on #1735
Creating a new React app in /home/project-penguin.

Installing packages. This might take a couple minutes.
Installing react, react-dom, and react-scripts...

npm WARN deprecated babel-preset-latest@6.22.0: 💥  preset-latest accomplishes the same task as babel-preset-env. 🙏  Please install it with 'npm install babel-preset-env --save-dev'. '{ "presets": ["latest"] }' to '{ "presets": ["env"] }'. For

[2017-03-07 02:55] Olivia101 commented on #1658
I'll give it a go

[2017-03-07 03:05] gaearon commented on #1735
Which OS are you using?
Have you tried using npm 3.x? It may be a new bug.

----
Note to self: we should probably salvage npm log instead of nuking the directory. We should just make sure it's possible to create app with the same name again, but npm log should stay so people can attach it to bug reports.

[2017-03-07 03:06] Timer commented on #783
Merged into master via #1101.

[2017-03-07 03:07] #783 closed

[2017-03-07 03:08] Timer commented on #1746
/cc @brandonmikeska who expressed interest in helping with the overlay

[2017-03-07 03:45] neonwired commented on #1735
I can only replicate it on Ubuntu 16.04, my other stacks using 14.04 seem ok.

[2017-03-07 03:48] gaearon commented on #1735
This looks like an npm bug so I recommend trying different npm versions.

[2017-03-07 05:25] giridharangm commented on #1661
In the webpack config of `react-scripts`, the loaders are resolved from `paths.ownNodeModules` which is the `node_modules` in the `react-scripts` directory.
 Changing it into something like `path.join(process.cwd(), 'node_modules')` is an option?

[2017-03-07 05:35] Timer commented on #1661
I believe https://github.com/facebookincubator/create-react-app/pull/1359/files aims to resolve this.

[2017-03-07 06:08] Timer commented on #1064
Closing this because `require.ensure` is no longer a supported behavior in `master`. Please switch to `import()` when 0.10 is released.
Since this has been a longstanding issue, I see no immediate need to mitigate this (it would have to be in a `0.9.x` release anyway).

Feel free to re-open and tag as 0.9.x, @gaearon.

[2017-03-07 06:08] #1064 closed

[2017-03-07 06:11] Timer commented on #1672
@chitchu I believe that's the case for unix (travis), I'm not sure about appveyor though. Could you submit a PR changing this behavior and we can see what happens? 😄

[2017-03-07 06:15] Timer commented on #1644
@shai32 are you still interested in this? 😄

[2017-03-07 06:19] kimcrab commented on #1303
@islahul
Hi @islahul I need your help to understand the deployment flow you wrote.
I also use scripts to deploy react application to aws S3 so I need to set my env variables before execute the scripts.

Below code block is your setup scripts which you said you would use this scirpts to set up env variables. However I just don't understand how to run this scripts.

    export AWS_ACCESS_KEY_ID="XXX

[2017-03-07 06:25] Timer commented on #1620
Resolved as byproduct of #1305.

[2017-03-07 06:25] #1620 closed

[2017-03-07 06:27] Timer commented on #1293
#1305 added documentation detailing this behavior and now results in a URL, not file contents.

[2017-03-07 06:27] #1293 closed

[2017-03-07 06:28] islahul commented on #1303
Hi @kimcrab, this code block is a set of shell commands and need to be run in the shell/terminal. It should be run before you run commands like `npm run build` Once you export a variable, you can access it in the node environment(where your build scripts written using webpack/grunt/gulp run) using [process.env](https://nodejs.org/api/process.html#process_process_env). So above scripts will enable

[2017-03-07 06:41] kimcrab commented on #1303
Thanks @islahul, now I totally understand the point.
When I type `export AWS_ACCESS_KEY_ID="XXXXXX"` in terminal, It is just a variable saved inside my terminal and when I type `npm run build`, webpack access to this variable!
Very simple but didn't understand before.
I just finished test case and now I know what to do!
Thanks again! You saved my day!

[2017-03-07 11:44] sthuber90 opened #1748 "VS Code jest plugin not working with create-react-app"
Using Visual Studio Code and the [vscode-jest](https://github.com/orta/vscode-jest) plugin for running tests is only working when create-react-app is ejected through `npm run eject`. Otherwise it will just keep spinning or show errors that it does not understand ES6 syntax.

[2017-03-07 13:34] CNSKnight opened #1749 "Mangled React Scripts in vscode"
All scripts suddenly being mangled in new and existing c-r-a projects with vscode:

Symptom:
[code]
Sorry, just not sure what might have changed.

[2017-03-07 13:41] richb-hanover opened #1750 "How can I find the current version of react-scripts?"
I'm using create-react-app successfully, and have been working on a different project for a couple months.

I want to get up-to-date, but have lost track of which version I'm running. What's the easiest way to do this? Thanks!

[2017-03-07 13:44] Timer commented on #1750
You should just need to look inside your `package.json` file. It should be listed under `devDependencies`.

[2017-03-07 13:46] Timer commented on #1749
Is this happening on save?

CRA doesn't do any automatic code linting -- do you have a linter configured?
Have you recently installed or updated on of your VSCode plugins?

Can you see if this happens with a different editor?

[2017-03-07 13:48] gaearon commented on #1750
See also [Updating to New Releases](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#updating-to-new-releases):

[2017-03-07 13:48] #1750 closed

[2017-03-07 13:51] NgKhanh commented on #1627
I  have same problem, but I still not know how to fix it

Please give me somecode, or exaclly how to fix ?
My package.js

[code]

[2017-03-07 13:54] gaearon commented on #1627
@NgKhanh

You have not "ejected" so the advice in this thread is not relevant to you. As we found out in https://github.com/facebookincubator/create-react-app/issues/1627#issuecomment-282290508, original poster has "ejected" which is why `react-scripts` no longer existed for them.

In your case, however, it should exist. So if you have this problem, it might mean that npm didn't properly install t

[2017-03-07 13:56] gaearon commented on #1748
We can’t fix it on our end—let’s wait for reply on https://github.com/orta/vscode-jest/issues/85.

[2017-03-07 13:57] richb-hanover commented on #1750
Yes, I'm a newbie to some of this, and didn't have the faith of my convictions.

Look in the project's `package.json` in the `devDepencencies`, and Ta Da! There's the react-scripts version. Thanks, all for the speedy response!

[2017-03-07 14:02] CNSKnight commented on #1749
Yep, forgot to disable lonefy.vscode-JS-CSS-HTML-formatter - have run into this before.

[2017-03-07 14:02] #1749 closed

[2017-03-07 14:02] gaearon commented on #1750
No worries, that’s what issues exist for. Thanks for asking!

[2017-03-07 14:22] sthuber90 commented on #1748
I was just not sure on which side there needs to be something done, as I assume that the plugin works fine when not using create-react-app :)

[2017-03-07 14:29] #1745 closed

[2017-03-07 15:30] FezVrasta opened #1751 "TypeError: Class constructor App cannot be invoked without 'new'"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?

Yes
Yes

### Description

Trying to use React CSS Modules inside `create-react-app`, **only** during Jest tests, leads to:

[code]

### Expected behavior

The code should work fine, like it happens when I use `yarn start`

### Actual behavior

[2017-03-07 15:43] FezVrasta commented on #1751
I just noticed that if as `.babelrc` presets I use:

[code]

instead of the one of `create-react-app`, it works.

[2017-03-07 15:49] gaearon commented on #1751
While unrelated to your question, I am a bit confused about how you expect `react-css-modules` to work. Doesn't it require actual CSS Modules? We don't support them out of the box, you'd have to eject for that.

[2017-03-07 15:50] FezVrasta commented on #1751
Yes I actually eject it, but I could reproduce the same problem without ejecting it and I think it's enough to proof that there's something wrong in the `create-react-app` code and not in mine.

[2017-03-07 15:56] gaearon commented on #1751
The problem here is likely that `react-css-modules` uses [`extends`](https://github.com/gajus/react-css-modules/blob/master/src/extendReactClass.js#L16) via Babel, but AFAIK you can't extend a native `class` with a Babel-defined `class` due to the code Babel generates. Since we use native Node classes in Jest configuration, and your component is a native class, extending from it via Babel breaks.

[2017-03-07 15:56] #1751 closed

[2017-03-07 15:58] FezVrasta commented on #1751
I'd have preferred to get a fix here, because this project is already *very limiting* and adding this additional limitation seems simply to much.

Also, it doesn't make sense that the same code will work in browser but not during tests, within the *same* project.

But I guess it's up to you.

[2017-03-07 16:07] gaearon commented on #1751
What kind of fix are you proposing? It is not very clear to me. As I said, any kind of fix would be a time bomb because it would still stop working as soon as you want to switch to native classes in the browser (which you'll probably want to in a couple of years).

[2017-03-07 16:23] gaearon commented on #1751
What additional limitation are you referring to? CSS modules don’t work out of the box anyway. If you eject, you might as well make your own Babel config that enables Babel class transform on Node too. But keep in mind it will make your tests slower, and will keep your app tied to Babel class transform. Because even if you want to disable it in the future, you’d bump into the same issue.

This is

[2017-03-07 16:26] gaearon commented on #1751
Also, now that I think of it, I don't really see why you'd want to apply `react-css-modules` **in tests**. So you might as well mock it to return component untouched:

[code]

This would probably circumvent the problem.

[2017-03-07 16:35] FezVrasta commented on #1751
If I don't apply classes in tests, I miss a lot of logic of my app which executes code to decide which class apply. The easier way to make sure a component is properly tested is to use the exact same code that will go to production.

About the extension of native classes, I don't understand why you say that it will break in the future, you can extend native classes in Chrome at the moment:
![image

[2017-03-07 17:32] gaearon commented on #1751
It won’t be exact same code anyway. The environment is different, the VM is different, etc. What you describe sounds like integration testing, and I fully agree you should add integration tests (e.g. Selemium) to your app.

I’m not sure if you read the linked issue, but it’s not extending native classes that’s broken per se, but *extending them using Babel transform*. If `A` is native, but `B` is

[2017-03-07 17:35] gaearon commented on #1751
This really is an issue with `react-css-modules`, and you should file it with them. Nobody who uses native ES classes (e.g. in Chrome) will be able to use that library. Adding workarounds here doesn’t solve that problem. I think it’s useful if CRA acts as a forcing function to get more maintainers familiar with how their projects work once their users depend less on Babel.

[2017-03-07 17:44] FezVrasta commented on #1751
Okay I see your point, thank you.

[2017-03-07 18:11] brandonmikeska commented on #1746
Hey @Timer I am all for helping, but would need guidance on how to properly tackle this.

[2017-03-07 19:04] Timer commented on #1746
Sure!

To start working on this feature, first uncomment https://github.com/facebookincubator/create-react-app/blob/ed5c016d6169f0bac7e29625afba1bf7bccac1d9/packages/react-dev-utils/crashOverlay.js#L823.

This will enable the `console.error` proxy, defined here: https://github.com/facebookincubator/create-react-app/blob/ed5c016d6169f0bac7e29625afba1bf7bccac1d9/packages/react-dev-utils/crashOverlay

[2017-03-07 19:08] MiLeung commented on #1164
Any progress on this issue?

[2017-03-07 19:20] gaearon commented on #1164
No, progress doesn’t happen without somebody pushing for it. 😉

I tagged issue as needing contributors. If you’d like to help, you’ll probably need to figure out where this breaks on Webpack side. I don’t know if this is even feasible to fix or not.

[2017-03-07 19:20] gaearon commented on #1164
(Just in case you missed it, the workaround is to restart the development server. But it would be nice if this “just worked”.)

[2017-03-07 19:22] gaearon commented on #1746
FWIW, the way I imagined it is we have a middleware on the dev server running at `/debug-symbolicate` or something like this. The error box can call it with the component stack trace from React warning. The middleware would look up the source lines around the locations sent by error box, and send the code in response. The error box would nicely format the code for each component stack frame and di

[2017-03-07 19:37] wmonk opened #1753 "Handle stdin closing"
### Description
When running `react-script` from something like Phoenix, when you stop the phoenix process, the `react-script` process hangs around in the background. [Brunch](https://github.com/brunch/brunch/issues/920) and [webpack](https://github.com/webpack/webpack/pull/1311) have both implemented this.

### Expected behavior
The process is stopped when stdin is closed.

### Actual behavior
Th

[2017-03-07 19:39] gaearon commented on #1753
Do you want to send a PR?

[2017-03-07 19:47] Timer commented on #932
Guessing https://github.com/facebookincubator/create-react-app/issues/1753 solves this?

[2017-03-07 20:00] doshisid commented on #1743
Can I work on this?

[2017-03-07 20:00] gaearon commented on #1743
Sure!

[2017-03-07 20:01] gaearon commented on #932
Maybe.

[2017-03-07 20:34] doshisid commented on #1743
see #1755

[2017-03-07 21:12] juhamust commented on #808
Apparently Bitbucket (among others?) has started setting `CI` environment variable, which will then make CRA to fail build in case of warnings. And since warnings can happen very easily (unused variable, for example) failing the build sounds very strict. Ability to avoid this by configuration would be nice.

In a case of Bitbucket, the environment variable cannot be unset and changing the value do

[2017-03-07 21:26] doshisid commented on #1719
I can submit a PR.
Though I am not sure about the `vars` setting. Can't find a use case of having an unused global variable.

[2017-03-07 21:37] gaearon commented on #1719
If you could go through the git blame history for who added it and why, that could help. Or maybe there was no good reason at all.

[2017-03-07 21:40] gaearon commented on #808
This is intentional, as people previously asked for ESLint failures to crash CIs.

Unused variables are often indicative of bugs. We generally try to only use lint warnings for real issues that serve as proxy for bugs, and this is one of them. This is another reason we don’t have any style rules, as those don’t really affect correctness.

[2017-03-07 21:44] leo opened #1757 "Suggest `serve` for running in production"
I noticed that you're handling production in a pretty complicated way. You're basically telling people to either use Python on the prod platform or set up a programmatic server using express ([here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#deployment)).

Why? All of this could be solved easier:

[code]

And then this command would

[2017-03-07 21:48] gaearon commented on #1757
One of the reasons is I want to show that this is Node-agnostic, and that they can integrate it into *existing* apps (which likely aren’t static). We also have a build message that suggest using `pushstate-server` to test their changes.

I wouldn’t mind switching recommendation to `serve` if it satisfies our use cases better. For the docs, I’m open to adding it as another (simpler) option, and rep

[2017-03-07 22:03] doshisid commented on #1719
Seems like there was no good reason.
It was there since custom eslint rules were added in the begining. See #27

[2017-03-07 22:05] gaearon commented on #1719
We probably took it [here](https://github.com/airbnb/javascript/blob/772bbb5b7d2f6990e519c3d70539f807257492fe/packages/eslint-config-airbnb-base/rules/variables.js#L36-L37) then. Would be nice to learn why Airbnb config specifies this.

[2017-03-07 22:05] gaearon commented on #1719
Maybe @ljharb could say!

[2017-03-07 23:15] sebcode commented on #1164
Possibly related to webpack/webpack/issues/1533

[2017-03-07 23:38] marr opened #1758 "Environment variables not being read"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm? yes

### Description

Setting environment variables with the `REACT_APP_` prefix is supported according to the documentation. I have tried setting via cli: `REACT_APP_FOO=1 npm start` and `.env` file, and both methods fail to set `process.env`

[2017-03-07 23:47] marr commented on #1758
This was a mistake on my part. I was trying to access _all_ `process.env` variables, but I must be explicit when choosing them. ie, this will not work: `const { env } = process;`. The proper way is to access them by name: `const { REACT_APP_FOO } = process.env;`. Closing this ticket.

[2017-03-07 23:47] #1758 closed

[2017-03-07 23:47] gaearon commented on #1758
Yep.

[2017-03-07 23:47] gaearon commented on #1758
(I was just typing this 😄 )

Sorry this isn’t super obvious, but I don’t know how to solve this better.

[2017-03-07 23:48] marr commented on #1758
Thanks Dan, it's just me trying to take shortcuts. I feel like its caught me before but I am happy its not a bug!!

[2017-03-08 03:08] jcheroske commented on #167
For the sake of completeness, I just wanted to mention the Custom React Scripts project (https://github.com/kitze/custom-react-scripts). When creating a new project, just do:

[code]
 I only use it to add decorator support (and probably some other babel transforms that I can't remember right now), so I can't speak to its other features. The only additional config I had to do was add a `.env` file:

[2017-03-08 07:11] Timer commented on #1720
I've been a bit busy, @lpalmes -- sorry for not giving you a quicker response.
We can probably grep inverted what comes back from that, validating they're packages we want:
[code]

Then just test to make sure the result of that is not 0, because 0 would mean it found something extraneous!

[2017-03-08 07:52] leo commented on #1757
Sounds great, @gaearon! Created [a PR](https://github.com/facebookincubator/create-react-app/pull/1760) for what you suggested.

[2017-03-08 13:25] lunikernel opened #1761 "How can I rename from index.html to app.html?"
The title says it all.

I want my app to use app.html instead of index.html.  How can I do this?

thanks

[2017-03-08 13:26] icodejs commented on #1734
@gaearon a little late but hopefully helpful: https://www.docuevid.com/docuevid/dasebenetelu

[2017-03-08 13:27] lunikernel opened #1762 "When I build, there is no "bundle.js", only "main.2e2297f97.js" - what am I doing wrong?"
Although it works, I would like the JavaScript bundle file to be named bundle.js

I could rename it I guess but I'm wondering why it isn't named budle.js in the first place?

thanks

[2017-03-08 13:43] jamesblight commented on #1719
The [default setting in eslint](https://github.com/eslint/eslint/commit/e0384189ace2d75f5adc89079cf4c80914f3d729#diff-771e0befcf053e5a67a7c1c6ca67956eR12) was `local` at the time Airbnb set their config. Eslint later changed the default to `all` (global) and I'm guessing Airbnb never updated.

[2017-03-08 13:47] shubheksha commented on #1394
I'd like to take this up!

[2017-03-08 13:54] doshisid commented on #1719
@gaearon should the `vars` setting be set to default?

[2017-03-08 13:59] gaearon commented on #1761
Without ejecting, you can’t.

If you run `npm run eject`, all configuration will be copied directly into your project. You lose the ability to easily upgrade to new versions, but you have full control, and can change the HTML file name in Webpack settings in `config/webpack.*.js`.

I hope this helps!

[2017-03-08 13:59] #1761 closed

[2017-03-08 14:03] gaearon commented on #1762
You can’t change the bundle name without ejecting. If you run `npm run eject`, all configuration will be copied in your project. You lose the ability to easily upgrade to new versions, but you gain full control, and can change the bundle name in `config/webpack.config.prod.js`.

I don’t think it matters whether it’s named `bundle.2e2297f97.js` or `main.2e2297f97.js`. The `2e2297f9` part is bundle

[2017-03-08 14:03] #1762 closed

[2017-03-08 14:04] gaearon commented on #1719
Yea.

[2017-03-08 14:49] doshisid commented on #1719
see #1763

[2017-03-08 14:57] FezVrasta opened #1764 "Reason behind the division of devDependencies and dependencies?"
Hi, I searched in the past issues but I couldn't find anything related.

I'm wondering why do you leave in `dependencies` only `react` and `react-dom` and all the other dependencies are under `devDependencies`?

I studied a lot about the distinction between the two lists, and to me, everything should go under `devDependencies` because none of them will be used directly by the compiled app, because

[2017-03-08 15:12] silvenon commented on #1764
In my experience `devDependencies` should contain stuff like testing frameworks, assertion libraries etc. Build tools, frontend frameworks etc. should all go in `dependencies`. The reason for this is so you can run `yarn --production` in an automated build step, which only installs dependencies needed to build the app, which would be somewhat faster.

But that's just my two cents.

[2017-03-08 15:14] ripplesphere commented on #1735
Had same issue on a basic Digital Ocean server. Creating some swap space seems to fix the issue. See:
https://www.davidmeents.com/blog/how-to-simply-deploy-a-react-app-on-digital-ocean/

[2017-03-08 15:17] FezVrasta commented on #1764
Yes this is another approach and I'm okay with it, but `create-react-app` makes use of `whatwg-fetch`, `object-assign` and others which, following your idea, should go in `dependencies` because it will be directly used by the app.

[2017-03-08 16:03] gaearon commented on #1764
There’s no real difference because the app has a build step, and produces a static bundle. So Node meaning doesn’t quite apply here.

I’m trying to use `dependencies` for libraries that end up in the bundle, and `devDependencies` for stuff that is related to build tooling. As you noted with polyfills it isn’t such a clear distinction. However, I think it can be helpful to get a sense of what’s nee

[2017-03-08 16:03] #1764 closed

[2017-03-08 16:04] FezVrasta commented on #1764
I see, thank you for the answer.

[2017-03-08 16:08] gaearon commented on #1735
@ripplesphere Can you post the whole output of the command when it fails? It would be helpful so we can figure out how to better explain the problem in the CLI itself. I don't think https://github.com/facebookincubator/create-react-app/issues/1735#issuecomment-284605778 shows the complete output.

[2017-03-08 16:24] ripplesphere commented on #1735
@gaearon Sorry. I fixed the problem and closed the terminal. The 'create-react-app hello-world' command would run for a while and then be "killed". It would happen at different locations in the process, which is why I suspected a resource issue.

[2017-03-08 16:30] gaearon commented on #1735
Thanks. I guess there’s nothing actionable in this issue then.

[2017-03-08 16:30] #1735 closed

[2017-03-08 16:43] viankakrisna commented on #1735
@gaearon Is it worth it to find the cause of memory issue? Seems that it's alienating for people with low resources. Or we should add a minimum memory requirements in the read me. I have also experienced create-react-app killed because of the memory while working in c9. Since then, I'm working locally for create-react-app.

[2017-03-08 16:45] gaearon commented on #1735
We can't make npm consume less memory. I don't see a solution here.

[2017-03-08 16:50] viankakrisna commented on #1735
hmm, in my case it's killed while running the devServer. It's happening a long time a go. Will open another issue when I can make a reproducible case.

[2017-03-08 16:52] gaearon commented on #1735
Yes, but that's not what this particular issue was about (it was about npm).
We mention it in the docs for `build`: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-silently-fails.
Maybe we should make that entry more generic.

[2017-03-08 17:21] danielfigueiredo commented on #1414
@EnoahNetzach I just rebased from facebook and it works!
Thanks a lot

[2017-03-08 17:35] viankakrisna commented on #1735
Thanks for the link, yeah I think we can add this npm (or any memory related ) issue in the read me.

[2017-03-08 17:37] rockchalkwushock opened #1765 "Gh-pages deployment problems with react-router"
Added `react-router` and just a `Home` page and `Page404` to the router. When I navigate to the declared `homepage: https://rockchalkwushock.github.io/rcws-development/` I am first being directed to my `Page404`.

 I thought that it was possibly because in the router I have 2 paths `/` & `*`:
[code]
Seeing that my `homepage` is pointing to `/rcws-development/` I thought perhaps this was the issue;

[2017-03-08 17:47] gaearon commented on #1765
`path='/'` in your router configuration means you’re literally matching `/`. Only `https://rockchalkwushock.github.io/` would match `/`. But your project is on `/rcws-development/`. However if you change it to `/rcws-development/` then this won't work in development on `npm start` because the dev server serves from `/`.

Two solutions:

1. Don’t use HTML5 history on GitHub pages. Use [`hashHistory

[2017-03-08 17:47] #1765 closed

[2017-03-08 18:19] rockchalkwushock commented on #1765
@gaearon

Worked perfectly using `process.env.PUBLIC_URL + '/'`. Noticed my `Page404` will show up on a wrong route but the redirect button doesn't work. I think I will read up on how to make custom 404's through gh-pages and figure out how to integrate that.

Thanks for the help!

[2017-03-08 18:21] gaearon commented on #1765
@rockchalkwushock After you figure out, would you mind sending a PR to User Guide to make this experience better for the next person?

[2017-03-08 20:34] gaearon opened #1767 "Replace Y/n prompt (e.g. when ejecting) with a nice UI"
We have a custom prompt but it's not very pretty.
We should replace it with [this library](https://github.com/SBoudrias/Inquirer.js/).

I think Lerna uses it, so you can look for examples in Lerna repo.
You can search source code for `prompt` to find our custom utility (that we should replace).

[2017-03-08 21:35] shai32 commented on #1644
Yes, Still interesting. Hopefully I will do a PR in the weekend

[2017-03-08 22:34] #1757 closed

[2017-03-08 22:52] chitchu commented on #1672
The message `Device or resource busy` still pops up. I'll have a deeper look into this. But if anyone with more experience in windows land can chime in that'd be great.

[2017-03-08 23:03] Maxwell2022 opened #1770 "Jest and spread operator are not working"
### Can you reproduce the problem with latest npm?

I can reproduce it within Docker: https://github.com/Maxwell2022/jest-babel-issue

### Description

[I reported this issue in Jest repo](https://github.com/facebook/jest/issues/3065) where I thought it would have make sense, but apparently, it's a bug with `create-react-app`

The issue is: Jest is not transforming the ES6 code and so the tests fa

[2017-03-08 23:23] gaearon commented on #1770
This is not a bug. You are using Create React App in an unsupported way.
You didn’t need to add `jest`, `babel-jest`, or `babel` to your `package.json`.

Just leave it the way it was when the project was created, and the error will go away.
https://github.com/gaearon/jest-babel-issue/commit/d611de5cdd5d91a8a447508c5fd0f4aa968af631

[2017-03-08 23:23] #1770 closed

[2017-03-08 23:36] iansu commented on #1767
I'd like to take a look at this.

[2017-03-08 23:46] cubodehelio commented on #402
hey @gaearon it turns out that i'm still learning here, sometimes everything works just fine and others it doesn't, normal stuff. Thanks for you work!

[2017-03-08 23:53] Timer commented on #1767
All yours!

[2017-03-09 00:09] gaearon commented on #402
If you create a new issue describing what you've tried (and maybe attaching a project) we could help.

[2017-03-09 00:19] Maxwell2022 commented on #1770
Thanks @gaearon! 😔

I didn't expect to have that much magic behind `create-react-app`

[2017-03-09 00:23] gaearon commented on #1770
Did you expect that a newly created project has a `test` command that doesn’t work? 😉

[2017-03-09 00:23] gaearon commented on #1770
(Anyway, no worries, file more issues if you bump into any difficulties! Cheers.)

[2017-03-09 00:57] MsUzoAgu commented on #837
@designbyadrian : did you get this to work?  I keep getting the error:
`
Error in ./src/stylesheets/main.scss
Module parse failed: /Users/mua/js/React-Frontend/src/stylesheets/main.scss Unexpected character '@' (1:0)
You may need an appropriate loader to handle this file type.
SyntaxError: Unexpected character '@' (1:0)
 @ ./src/js/routes.js 38:0-35
`

[2017-03-09 01:38] iansu commented on #1767
PR #1772.

[2017-03-09 04:32] thtliife commented on #670
@PavelPolyakov
Thanks for the feedback on `react-scripts-pluggable` :)
I have addressed a couple of things in the latest version.
1. It still is far from official, although it is maintained as a fork of the official create-react-app, and I endeavour to keep the fork as up to date as possible, inline with updates from the upstream repo.

2. I have resolved the issue with eject, and now pluggable pl

[2017-03-09 04:38] thtliife commented on #670
Oh also... @gaearon
In response to the original question

Check out my take on a plugin system for create-react-app, [react-scripts-pluggable](https://www.npmjs.com/package/react-scripts-pluggable)
[Github link](https://github.com/thtliife/create-react-app/tree/react-scripts-pluggable) (It is the react-scripts-pluggable branch of the fork).

[2017-03-09 04:48] mwq27 commented on #1556
Could I create an issue and try to add in support for multiple proxies?  I would also love to have this feature. @gaearon

[2017-03-09 06:17] dushao103500 commented on #1330
I have the same problem：

`events.js:160
      throw er; // Unhandled 'error' event
      ^

Error: spawn tnpm ENOENT
    at exports._errnoException (util.js:1022:11)
    at Process.ChildProcess._handle.onexit (internal/child_process.js:193:32)
    at onErrorNT (internal/child_process.js:359:16)
    at _combinedTickCallback (internal/process/next_tick.js:74:11)
    at process._tickCallback (intern

[2017-03-09 06:21] TomIsion opened #1774 "When I import .sass to create-react-app application, I found some questions."
As the guide, I wanna import Sass to my application. But I have found following two questions.

## When use `ctrl + c` can't kill the port?

After I changed the `script` in `package.json`, I can't kill the process of port 3000 by `ctrl + c`. Every time I used `lsof -i : 3000` then kill the process.

## The program report an error before the server running?

I found the program will clear the term

[2017-03-09 07:34] foobarbecue opened #1775 "yarnpkg start fails with two warnings"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?

Yes.

### Description

Note that this problem only happens with the latest npm, 7.7.2 . I have checked on 7.5.0 or 5.12.0 and the issue does not happen; create-react-app runs as expected on those older versions of node.

A freshly created crea

[2017-03-09 07:42] cschroeter opened #1776 "UnhandledPromiseRejectionWarning on Node 7.7.2"
### Description

Bug

### Expected behavior
[code]
 should not return a UnhandledPromiseRejectionWarning

### Actual behavior
[code]

### Environment

Run these commands in the project folder and fill in their results:

1. `npm ls react-scripts` (if you haven’t ejected):
[code]
2. `node -v`:
[code]
3. `npm -v`:
[code]
Then, specify:

1. Operating system:
Windows 10 in Linux Bash Shell Build 15048

[2017-03-09 08:01] pixelstew commented on #1492
I have just run into this in setting up a new project, glad to have found this issue - @ericvicenti - thanks for kicking off! Is there any news on progress?

[2017-03-09 08:50] mfonsen opened #1777 "Custom environment variables: unset variables cause unexpected minification"
### Can you reproduce the problem with latest npm?

yes (with latest yarn)

### Description

If a custom environment variable is not set minification will not strip out dead code related to it.

This could cause unwanted development assets to go into the production build if the environment variables are not properly set.

If this is works as planned perhaps I could try to create a PR to mention th

[2017-03-09 09:18] ensemblepourladifference opened #1778 "Yarn global install won't livereload html"
When installing create-react-app globally using Yarn, changes to HTML are not livereloading for me.  Wondering if anyone else has experienced this?

[2017-03-09 09:33] whelmich commented on #1776
Can reproduce in Linux Mint 18.1 with the same node/npm versions.

Problem can be resolved by downgrading node to 7.7.1 or older. The problem appeared after upgrading node to 7.7.2.

[2017-03-09 11:07] whelmich commented on #1776
This problem seems to be caused by `detect-port:1.0.1`, used by react-scripts. It causes an error in `detect-port/lib/detect-port.js` on line 61 `socket.connect(...)`.

`detect-port` is currently at version 1.1.0 which features a different approach of port detection. This version resolves the error for node v7.7.2, and also works with 7.6.0 and 7.7.1.

The Travis build test of version 1.1.0 of `de

[2017-03-09 11:19] weyert commented on #1708
Can never be a bad idea to enable more accessibility rules!

[2017-03-09 12:07] designbyadrian commented on #594
@cdaringe Gone cold :( https://facebook.github.io/jest/docs/troubleshooting.html

[2017-03-09 13:31] Timer commented on #1778
Hi! Do you happen to be using docker / a VM?
Please [refer to the troubleshooting guide](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-start-doesnt-detect-changes) and let me know if this resolves it for you!

[2017-03-09 13:35] Timer commented on #1778
Yes, it is a known issue that HTML does not live-reload in 0.9.x, see https://github.com/facebookincubator/create-react-app/issues/1508.
Sorry that you ran into this -- it will be resolved in the upcoming 0.10.0 release!

This option is provided by [`webpack-dev-server`](https://github.com/webpack/webpack-dev-server). If you would like this to be in a 0.9.x, please open a issue with them and ask t

[2017-03-09 13:35] #1778 closed

[2017-03-09 13:47] Timer commented on #1777
This looks suspicious...
[code]

Looks like webpack doesn't inline `undefined`. Could you please open an issue with them?

[2017-03-09 13:55] Timer commented on #1775
Closing this in favor of #1776 since it has more information in the issue, they're duplicates. Thanks!

[2017-03-09 13:55] #1775 closed

[2017-03-09 13:58] Timer commented on #1776
We do not support Node 7, so the official recommendation would be to downgrade to the latest LTS.
Currently, that is Node v6.10.0.

However, we understand this might be desirable. Would one of you like to send a PR adding Node 7 to the CI (only one of the test cases) and resolving this issue?
Thanks!

[2017-03-09 14:25] gaearon commented on #1776
(We definitely *should* support Node 7 tho)

[2017-03-09 14:27] taivu commented on #1776
I get the same error in MacOS El Capitan and Ubuntu (both node 7). Weird thing is that in Ubuntu it still runs and starts the server, but doesnt detect any changes to files. In MacOS, it just quits.

[2017-03-09 14:27] LukasBombach commented on #102
This works fine while developing but it seems `REACT_APP_`-vars get ignored when building or am I mistaken?

[2017-03-09 14:30] gaearon commented on #1330
@dushao103500 Please file a new version with all details (your OS, Node, npm, etc).

[2017-03-09 14:31] gaearon commented on #1556
Yea feel free to file an issue. It’s been commonly requested so maybe we’ll add it.

[2017-03-09 14:41] Timer commented on #1776
We should probably run *all* test cases on Node 7 then. 🤷‍♀️

[2017-03-09 14:45] gaearon commented on #1776
I don't think we should skip supported versions, it would be confusing.

[2017-03-09 15:29] mikeq opened #1779 "git init directory stops npm/yarn test from running"
Used create-react-app to generate a skeleton project

cd into that project
run yarn test
Test runs successfully
----
perform git init on directory
run yarn test
error produced

[code]

create-react-app v1.0.3
node v7.4.0
yarn v0.19.1
git v2.8.3
Microsoft Windows [Version 10.0.10586]

[2017-03-09 15:43] gaearon commented on #1779
Can you make sure `git` command is in your PATH?

[2017-03-09 15:43] mwq27 opened #1780 "Add ability to use multiple proxies for development"
I want to be able to pass in multiple proxies in my package.json, instead of just one string.

[2017-03-09 16:43] vhain commented on #1776
It can be bug of Node 7.7.2 and if it is, it should be fixed by https://github.com/nodejs/node/pull/11762

[2017-03-09 16:53] Timer commented on #1776
Ah, brilliant @vhain! This definitely looks like a regression then. 😄

[2017-03-09 16:59] sheldonj opened #1781 "NPM Start hangs with Node 7.72"
### Description
npm run start fails when using node version 7.72 (current but not stable version number) on windows.

### Expected behavior
Executing the  `npm run start`  command in windows powershell should successful run the project.

### Actual behavior
Node exits with the following error messsags:
[code]

### Environment
`npm ls react-scripts`:  react-scripts@0.9.4
`node -v`:  v7.7.2
`npm -v`

[2017-03-09 17:01] gaearon commented on #1781
Yes, this is a duplicate of https://github.com/facebookincubator/create-react-app/issues/1776.
Please downgrade Node to an earlier version until this is fixed.

[2017-03-09 17:01] #1781 closed

[2017-03-09 17:01] Timer commented on #1781
Duplicate of https://github.com/facebookincubator/create-react-app/issues/1776.
Node 7.7.2 has a regression, you must use 7.7.1 or (preferably) Node 6.10.0.
This will be fixed in the next node version.

[2017-03-09 17:01] mikeq commented on #1779
Thanks for the quick reply @gaearon .  I think it must be related to my work computer which has Cygwin installed too.  Git is in my path, but it's coming from the cygwin install, although I'm running this on the Windows command line.

I've tried the same test on my home computer, no Cygwin, and it works fine.

Closing the issue.

[2017-03-09 17:01] #1779 closed

[2017-03-09 17:06] gaearon commented on #1780
Okay, I agree it’s probably worth supporting it. It’s been requested multiple times.
It would be good to also solve https://github.com/facebookincubator/create-react-app/issues/1702 while we’re at it.

Do you have a proposed format? Should we use the same format WebpackDevServer uses? Perhaps we should also do https://github.com/facebookincubator/create-react-app/issues/671 as a part of this.

Hap

[2017-03-09 17:16] caseybaggz opened #1782 "Upgrade Node to 7.7.2 prevents react-scripts from running"
### Can you reproduce the problem with latest npm?
yes

### Description

When upgraded to Node 7.7.2 then running `yarn start`, react-scripts errored and prevented running.

This only happens with `yarn start`. `yarn test` & `build` work fine.

### Actual behavior

[code]

Still received error after running:

[code]

### Environment

Run these commands in the project folder and fill in their resul

[2017-03-09 17:23] vhain commented on #1782
I think it's duplicate of https://github.com/facebookincubator/create-react-app/issues/1776

[2017-03-09 17:28] gaearon commented on #1782
It is.

[2017-03-09 17:28] #1782 closed

[2017-03-09 17:52] whelmich commented on #1776
After upgrading `detect-port` in react-scripts to 1.1.0,  I can run create-react-app without any issues on node 4.8.0, 6.10.0 and 7.7.2. So upgrading it could still be a solution, without impacting the minimal node version.

[Travis/tests failing](https://travis-ci.org/node-modules/detect-port/jobs/209443316) on `detect-port:1.1.0` with node <6 as mentioned earlier, seem to be related to its test

[2017-03-09 18:00] gaearon commented on #1776
Want to send a PR enabling tests on Node 7 + bumping the version?

[2017-03-09 18:20] gaearon commented on #1774
Can you check if applying this PR by hand fixes that issue? https://github.com/facebookincubator/create-react-app/pull/1754

[2017-03-09 18:20] gaearon commented on #1774
Interesting, I haven't considered this. Does it only happen for the first compilation?

[2017-03-09 18:50] vhain commented on #1776
@whelmich yeah, it's because of this [line of commit](https://github.com/node-modules/detect-port/commit/0984b32aed6377e60d37b2bec24fce7afe4df599#diff-e29a29d03a5eff64fe09941f5aaa74b0L54) removed code occurring [issue](https://github.com/nodejs/node/issues/11761) of Node 7.7.2

[2017-03-09 21:09] gaearon commented on #1776
Workaround merged in #1783.

[2017-03-09 21:09] #1776 closed

[2017-03-09 21:19] gaearon commented on #1776
0.9.5 is out with the fix.
https://github.com/facebookincubator/create-react-app/releases/tag/v0.9.5

[2017-03-09 21:19] gaearon commented on #1782
0.9.5 is out with the fix.
https://github.com/facebookincubator/create-react-app/releases/tag/v0.9.5

[2017-03-09 21:19] gaearon commented on #1781
0.9.5 is out with the fix.
https://github.com/facebookincubator/create-react-app/releases/tag/v0.9.5

[2017-03-09 21:19] gaearon commented on #1775
0.9.5 is out with the fix.
https://github.com/facebookincubator/create-react-app/releases/tag/v0.9.5

[2017-03-09 23:40] 1st commented on #1492
It looks like no answer found in the thread.

I have two repos. First is a UI library *(jsx files, not compiled)*. I need to use this UI library in my second repo - React project. I tried to create symlink, but in this case `nom start` doesn't compile UI library and fails. I tried to create symlink to the UI library in the `node_modules` - the same result. Only working solution that I have found -

[2017-03-09 23:49] onelson opened #1785 "allow setting of coverage reporters (or other jest config options)"
Normally, when using jest for testing in CI, we configure cobertura (so it can be parsed/visualized).
Usually we do this in our `package.json`
[code]
but this seems to be ignored when working with RCA.

I looked at perhaps using using `react-scripts test -- --coverage --config ...` to specify a config file for jest, but this yields a weird error:

[code]

Specifying a config for jest is the worst

[2017-03-10 01:31] jazzdragon opened #1786 "test flags for CI"
Hi,
You asked to file an issue if I end up doing CI=true a lot...
I use [Husky](https://github.com/typicode/husky) to run my tests before I commit.
For it to work, I use CI=true. I'd like not to run tests that I didn't touch, but can't figure out how to do that.

Thanks!

[2017-03-10 03:37] brandonmikeska commented on #1746
Hmm ok! I have not implemented a middleware before, but I wouldn't mind learning if someone has time for a screen share or documentation links that I can read through to get something started.

[2017-03-10 06:29] timurtu opened #1788 "Not transpiling in prod mode?"
I'm getting the following error when bundling in prod mode.

[code]

I searched for the error online and couldn't find anything, so then I looked at the code on the line referenced in the error and it was the following.

[code]

Does anyone know why it may not transpile? I ejected my config but haven't made any changes to the prod config besides adding a sass loader and excluding it from the url-l

[2017-03-10 06:43] Timer commented on #1788
You are most likely importing files outside of appSrc (https://github.com/facebookincubator/create-react-app/issues/1234) -- this is not allowed default behavior.
Since you ejected, you can tweak your webpack configuration to allow for this: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/config/webpack.config.dev.js#L172.

[2017-03-10 06:43] #1788 closed

[2017-03-10 06:50] timurtu commented on #1788
Okay, but I have been doing it without errors before, is it a new bug? Does this mean I need to move svgs into my src folder?

[2017-03-10 06:51] timurtu commented on #1788
I'm only importing JavaScript from within `src` and `node_modules`

[2017-03-10 06:54] Timer commented on #1788
My apologies, it actually looks like you're depending on a node module `get-own-enumerable-property-symbols` which requires arrow functions.

Node modules are not transpiled -- you can change this behavior but I advise against it.
To figure out the culprit package, run `npm ls get-own-enumerable-property-symbols` (unless if **you** are depending on it).

[2017-03-10 06:56] timurtu commented on #1788
Interesting but why would it transpile in dev mode?

This was the `npm ls` btw ty
[code]

[2017-03-10 06:58] timurtu commented on #1788
So you're saying I may need to include `node_modules` in the webpack config?

[2017-03-10 06:58] Timer commented on #1788
It's not being compiled in dev mode.
The dev mode does not uglify code, only production. Uglify JS does not support ES6+ syntax, which is why this is blowing up.

[2017-03-10 07:00] Timer commented on #1788
Including `node_modules` is one solution, but I advise against it.
Perhaps you could compile just that package though, something like `require.resolve('get-own-enumerable-property-symbols')`.

[2017-03-10 07:01] timurtu commented on #1788
Okay yeah you're right. Where should I put that line?

[2017-03-10 07:02] Timer commented on #1788
Switch [webpack.config.prod.js#171](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/config/webpack.config.prod.js#L171) to something like:
[code]

Your mileage may vary though. 😄

[2017-03-10 07:08] timurtu commented on #1788
Okay I got the same error on a different line and `require.resolve`'d another package and it finally built but now that kinda messed up my app for some reason

[2017-03-10 07:12] timurtu commented on #1788
And mileage at compile time or runtime ?

[2017-03-10 07:13] Timer commented on #1788
Messed up your app in what way? Mileage as in the location of that line.

[2017-03-10 07:17] timurtu commented on #1788
I agree I wouldn't publish something not transpiled. It's bizarre the text of my app changed and it's still working fine in dev mode

[2017-03-10 07:20] timurtu commented on #1788
What do you suggest?

[2017-03-10 07:20] timurtu commented on #1788
https://github.com/timurtu/bootstrap-components

[2017-03-10 07:29] Timer commented on #1788
I believe you're just seeing the effects of the minifier mangling names. You can tune UglifyJsPlugin to shut that off.

[2017-03-10 07:35] timurtu commented on #1788
Would the require.resolve have anything to do with it mangling source code? Do I have to sacrifice mangling names? Btw I realize transpiling node_modules may be out of scope for create-react-app and appreciate your help

[2017-03-10 07:37] Timer commented on #1788
No, the require.resolve is for something else.
It looks (to me) you are turning your components into text using a library, which in turn is getting mangled names. Not sure if you can do anything about this, sorry!

You might be able to tell uglify to ignore certain names, but that's out of the scope of my knowledge.

[2017-03-10 07:40] Timer commented on #1788
The `require.resolve` is telling webpack to compile those modules so they're browser compatible.

Your problem is [here](https://github.com/timurtu/bootstrap-components/blob/master/src/components/Snippet.js#L48), because [this](https://github.com/timurtu/bootstrap-components/blob/master/src/routes/Icons.js#L13) is being mangled.

[2017-03-10 07:43] viankakrisna commented on #870
@gaearon how about detecting the changes using nodemon and restart the dev server programmatically? Is this acceptable? here's the reference https://github.com/webpack/webpack-dev-server/issues/440#issuecomment-205757892

[2017-03-10 07:43] timurtu commented on #1788
Oh okay I get it now, it's resolving the pathname to require it. Okay I will try the mangle: false

[2017-03-10 07:46] timurtu commented on #1788
And yes that's what it's doing I didn't realize the package I'm using to convert JSX to string wasn't transpiled

[2017-03-10 07:47] timurtu commented on #1788
That fixed it thanks!

[2017-03-10 08:53] #1731 closed

[2017-03-10 10:55] tuchk4 commented on #1343
Update issues according to latest PR updates

What .env* files are used?

* `.env` - Default
* `.env.development`, `.env.test`, `.env.production` - Environment-specific settings.
* `.env.local` - Local overrides. This file is loaded for all environments except test.
* `.env.development.local`, `.env.test.local`, `.env.production.local` - Local overrides of environment-specific settings.

Files pri

[2017-03-10 12:18] sthuber90 commented on #1227
For everyone that the suggestion from @EnoahNetzach  is not working out of the box I had to put following in my `package.json`, probably as I'm working on windows

`"translate": "cross-env NODE_ENV=production ./node_modules/.bin/babel ./src > NUL",`

[2017-03-10 12:49] kohver commented on #1084
I've implemented this as proof of concept, so you can try it already by installing `spiking-react-scripts@0.9.2-fork.2`:

1. `npm uninstall --save-dev react-scripts`
1. `npm install --save-dev spiking-react-scripts@0.9.2-fork.2`
1. Create the `./pages` folder in the root of project and put them a `*.js` file (for example `admin.js`)
1. `npm run start`
1. Open `http://localhost:3000/admin.html` 🎉

[2017-03-10 12:55] gaearon commented on #1786
Can you create a minimal project reproducing the problem?

[2017-03-10 14:33] n3tr commented on #1746
@brandonmikeska

Since webpack-dev-server is an Express app, you can start by looking at Express's middleware document: https://expressjs.com/en/guide/using-middleware.html and webpack-dev-server's api document: https://webpack.github.io/docs/webpack-dev-server.html#api

We're creating a webpack-dev-server (which is express app) inside start script:
https://github.com/facebookincubator/create-reac

[2017-03-10 15:09] draperd commented on #517
Although I understand the rationale of the decision on the discussion, I thought it might be valuable to provide another use case of require.context as additional feedback:

In my case I'm using create-react-app to develop components that will be imported and consumed by other projects within our organizations. Part of the requirement is localization and both with my own implementation and using r

[2017-03-10 15:11] gaearon commented on #517
Doesn't this mean you're bundling all locales all the time?

[2017-03-10 15:20] draperd commented on #517
Well, unfortunately yes...

But that's a symptom of doing this entirely on the client-side. Our previous Spring MVC based solution handled localization bundles on the server so that the client only received bundles for the requested locale.

However, in the context of what we're trying to do (which is to provide re-usable components for 3rd parties to use in custom applications accessing REST APIs

[2017-03-10 15:24] gaearon commented on #517
Is there a problem with explicitly importing them in the code? After all `require.context` is just sugar for doing that.

[2017-03-10 15:54] draperd commented on #517
How would I pass it as a reference?

Let's say for example I have `src/components/fields/BaseField` that has localization bundles in the folder `src/components/fields/i18n`.

If I pass either `./i18n/` as a path to my util function at `src/utilities/i18n/i18nUtils.js` then it will attempt to load the bundles from `src/utilities/i18n/i18nUtils/i18n` (and not from the folder relative to BaseField).

[2017-03-10 15:57] gaearon commented on #517
I don't mean passing a path. I mean writing imports by hand:

[code]

This doesn't rely on Webpack magic.

[2017-03-10 16:00] draperd commented on #517
Well, only that I have to write a shed load more code which I'd like to avoid if possible. By going through a utility it means that I don't necessarily have to update the component code when support for new locales are added.

Abstracting away behind a utility means that I can change the utility without having to change all my components. We got to over 300 components in our large application deve

[2017-03-10 16:06] gaearon commented on #517
Do you have a specific proposal on how we could support it better without encouraging people to use non-standard features?

[2017-03-10 16:09] draperd commented on #517
No, unfortunately not... and just to be clear, I'm not expecting you to magic a solution out of thin air, I've just found from experience that it's useful to receive feedback. I'm not expecting require.context to be suddenly supported, I just wanted to share my experience.

I'll continue to try to find a good solution to the problem and will provide an update if and when I do.

I do appreciate you

[2017-03-10 17:35] draperd commented on #517
One thought that does cross my mind that I might investigate is updating my local scripts to perform the Webpack build **without** minification (that outputs to some directory other than build) and then have the tests import from the generated resources.

There are a few obvious issues with this... I don't think the build would declare explicit exports for each component so it would be necessary t

[2017-03-10 17:53] EnoahNetzach commented on #1227
Yep, env var definition and the output indirection to `/dev/null` work only in Linux/Mac.

**cross-env** solves the first part, for the second sincerely I have no idea how to accomplish that on Windows..

[2017-03-10 19:53] talkingtab commented on #1217
My use case: because my component interacts with the server, and because I need the real server, I end up having to run npm build (which slowly builds an optimized package) when it would be very nice to just say "run eslint" and find out quickly whether I have syntax errors.

I have tried the proxy web server but because my application requires an https connection and because the interaction betwe

[2017-03-10 20:14] caddac opened #1789 "How to run create-react-app using an .npmrc file to specify the NPM repo?"
I'm trying to run create-react-app from behind a corporate proxy. We use Artifactory to host our NPM packages. I'm able to install create-react-app using the command `npm install -g create-react-app -reg <path\to\artifactory>`. However when I try to run the create-react-app I get an error that none of the packages can be found in NPM, an error I commonly get when we haven't imported some NPM packa

[2017-03-10 20:35] draperd commented on #517
The final solution I've gone with is just to have an i18n folder and place all bundles in there, this means that I can specify paths that will always be relative to my i18nUtils module. The bundle location mirrors the component location. The limitation of this approach is that consumers of our project won't be able to use the utility in their own application... however, I'll probably provide suppo

[2017-03-10 21:36] mwq27 commented on #1780
I was thinking that what can be passed into the proxy property is an object, like webpackdevServer.

[code]

[2017-03-11 04:39] jamesblight commented on #1780
@gaearon PR for this when you get time #1790

[2017-03-11 12:48] kjetilge opened #1792 "Proposal: importing .graphql files should be enabled"
Right now I need to eject in order to import .graphql files (using graphql-tag/loader) . I would think graphQl is some kind of core technology that should be supported out of the box ?

[2017-03-11 13:43] ksmithut commented on #1789
You could set it globally for your user (at least until everything gets installed) by running `npm config set registry <path/to/artifactory>`, run `create-react-app`, then `npm config delete registry` if you want to revert the settings. After your create-react-app has finished installing everything, you can create a `.npmrc` file local to your project with the following contents:

[code]

Then whe

[2017-03-11 14:27] shai32 opened #1793 "yarn install --flat"
when I do flat install (to avoid duplicates)

I see there is a lot of packages to resolve.

is it important to do a flat install?

can we approve something to avoid duplication of packages versions?

[2017-03-11 14:41] gaearon commented on #1793
No, it is not important because those are mostly build dependencies which you shouldn't worry about (and probably can't make an informed decision about since they are all implementation details).

[2017-03-11 14:41] #1793 closed

[2017-03-11 14:47] yash2code opened #1794 "npm run build (bug)"
npm run build

Creating an optimized production build...
Failed to compile.

Module build failed: BrowserslistError: Unknown version 56 of and_chr
    at error (E:\wamp64\www\reactpro\node_modules\browserslist\index.js:25:15)
    at Function.select (E:\wamp64\www\reactpro\node_modules\browserslist\index.js:458:21)
    at E:\wamp64\www\reactpro\node_modules\browserslist\index.js:111:38
    at Array

[2017-03-11 15:05] gaearon commented on #1794
Is there `browserslist` entry in your project's `package.json` or any `package.json` in parent folders?

[2017-03-11 15:54] yash2code commented on #1794
@gaearon  i dont think so, here is my package.json:

`{
  "name": "reactpro",
  "version": "0.1.0",
  "private": true,
  "devDependencies": {
    "babel-cli": "^6.18.0",
    "babel-core": "^6.21.0",
    "babel-loader": "^6.2.10",
    "babel-preset-env": "^1.1.6",
    "babel-preset-es2015": "^6.18.0",
    "babel-preset-react": "^6.16.0",
    "bootstrap": "^4.0.0-alpha.6",
    "css-loader": "^0.26.1

[2017-03-11 15:56] gaearon commented on #1794
Have you checked if `E:\wamp64\www\package.json`, `E:\wamp64\package.json`, or `E:\package.json` exist?

[2017-03-11 15:58] gaearon commented on #1794
I’m also very confused by your `package.json`. Why do you have Babel or `css-loader` there? You don’t need to install any of these tools explicitly. In fact it can break Create React App.

[2017-03-11 15:58] yash2code commented on #1794
@gaearon  yes checked, package.json doesnt exist in parent folders

[2017-03-11 15:59] gaearon opened #1795 "Don't crash if users mistakingly install babel, webpack, jest, loaders, etc, at the top level"
I’ve seen this issue multiple times. For some reason people don’t believe `react-scripts` is enough and try to install Babel, Webpack, and friends themselves. This can break things.

We need to mitigate this somehow.

[2017-03-11 15:59] yash2code commented on #1794
@gaearon  only used babel for es6

[2017-03-11 16:59] funderburkjim opened #1796 "typo in '--help': index -> create-react-app"
I am a beginning to learn react.
After installing create-react-app, I issued the (empty) command
[code]
As you see, the word 'index' appears where the word 'create-react-app' should appear.

Similar typo in 'create-react-app --help'.

This small typo is confusing to the beginner.

[2017-03-11 17:00] gaearon commented on #1796
Oops. Not sure when we broke this.
Node / npm / OS versions?

[2017-03-11 17:04] gaearon commented on #1794
Create React App already supports ES6 out of the box. Please delete Babel, css-loader, and Webpack from dependencies. They are not doing anything, and might break something.

Where did you read that you need to add any of them to a Create React App project? Did something not work, causing you to try that?

[2017-03-11 17:23] SpaceK33z commented on #1753
Not sure if it helps anyone, but we recently fixed the same issue in webpack-dev-server. [See here](https://github.com/webpack/webpack-dev-server/pull/787/files). I imagine the fix in CRA would look a lot like this.

[2017-03-11 18:59] scottmcpherson opened #1797 "Why is create-react-app installing an old version of webpack?"
When I run `create-react-app`, it's using an older version of webpack, despite using the latest version of create-react-app:

create-react-app version: 1.3.0
react-scripts version: 0.9.5

In my yarn.lock file it's set to webpack@1.14.0

I would like to be able to use webpack > 2.0 if possible

Also getting a bunch of unmet peer dependency warnings when creating a new app. Not sure if it's causing

[2017-03-11 19:07] gaearon commented on #1797
This is completely intentional. We are shipping the version of Webpack that we know to work well. There are unresolved issues with Webpack 2 (for example broken sourcemaps) that have been stopping us from rolling it out. We found some workarounds, but in general we try to ship you the *stable* tools rather than *latest* tools. We take care to ensure they all work together well as a cohesive packag

[2017-03-11 19:07] #1797 closed

[2017-03-11 19:08] gaearon commented on #1797
This is just a Yarn bug. It will be fixed in Yarn 0.22.

[2017-03-11 19:31] scottmcpherson commented on #1797
Makes sense. I was under the impression that Webpack 2 was being used because it was defined in the package.json in the scripts: https://github.com/facebookincubator/create-react-app/blob/0c0c5c1f24c38feb57bea54795a11c0e0d0a2300/packages/react-scripts/package.json#L59

[2017-03-11 19:38] gaearon commented on #1797
In master, yes. This lets us work on the issues we encounter, and keep track of whether they get solved. When it’s ready, it will be released as 0.10.

[2017-03-11 20:45] funderburkjim commented on #1796
I'm using Windows 10.

I downloaded the node (and npm) from the latest stable release as of today, from the nodejs site.

[2017-03-11 20:46] funderburkjim commented on #1796
I don't know if it is relevant, but I am also using Git Bash.

[2017-03-11 20:50] gaearon commented on #1796
Still, this would help:

[code]

There is a good reason these commands are in the issue template. 😉

[2017-03-11 21:15] gaearon opened #1798 "Suggest `yarn build` instead of `yarn run build` on install for Yarn users"
Because Yarn understands that.

[2017-03-12 02:11] geoffdavis92 commented on #1798
@gaearon Has anybody picked this up to work on yet?

[2017-03-12 02:27] Timer commented on #1798
Nope, all yours!

[2017-03-12 03:16] geoffdavis92 commented on #1798
Submitted PR for review #1800

[2017-03-12 03:42] jricaldi commented on #1138
Oh my gosh I spend 20 min with "contructor" instead "constructor"

[2017-03-12 04:26] Timer commented on #1322
So I was fiddling with this... we can choose from (assets living in the `build/` folder):
1. `../packages/react-scripts/template/src/App.css`
1. `/Users/joe/Documents/Development/OSS/create-react-app/packages/react-scripts/template/src/App.css`
1. `packages/react-scripts/template/src/App.css`

There's others, but these make the most sense.

[2017-03-12 04:28] Timer commented on #1322
Personally, I'm a fan of 1 or 2. They're the only true paths.
First is relative to `build/`, second is absolute. 😄

[2017-03-12 06:14] yash2code commented on #1794
@gaearon No, everything is working fine on my localhost. btw I was following a udemy course. Ty for the response , I finally make  it  work.

[2017-03-12 06:14] #1794 closed

[2017-03-12 12:08] gpanimations opened #1802 "Error on Install"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?
Yes

Many errors, especially related to "missing modules", are due to npm bugs.

If you're using Windows, [follow these instructions to update npm](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows).

If you're using OS X or

[2017-03-12 13:55] srinathh opened #1803 "dependency of json loader not installed by default though json loading is supported"
### Can you reproduce the problem with latest npm?
Yes

### Description
json file loading is supported as per react scripts but dependency on package `json` is not installed by default.

### Expected behavior

`import defaultData from './mealsdata.json';`

should work by default

### Actual behavior
Error:
[code]
however, it works after i do `npm install --save-dev json`

[2017-03-12 15:03] gaearon commented on #1322
Do you mean for prod sourcemaps? Shouldn't we do this in development primarily for easy editing in DevTools?

[2017-03-12 15:06] gaearon commented on #1802
Unfortunately we can't help you with npm issues. Please report this to npm and/or search their issues for support.

If you look at the error message, it says there's a permission error accessing a directory. So maybe you could try recursively setting permissions to it so that it's writeable by your user.

Something like

[code]

may help.

Cheers!

[2017-03-12 15:06] #1802 closed

[2017-03-12 15:08] gaearon commented on #1794
I'm happy to look into this but I need a full project that consistently reproduces the problem. If you can isolate and share it on GitHub I can take a look.

[2017-03-12 15:09] gaearon commented on #1794
Can you point me to the Udemy course too? If it's asking people to install Babel/Webpack on top of CRA project then it's a pretty big mistake in the course and we should get in touch with author to correct it.

[2017-03-12 15:10] yash2code commented on #1794
@gaearon project is working fine now ,still this is the repo: [https://github.com/yash2code/ReactWeatherES6](url)

[2017-03-12 15:13] #1798 closed

[2017-03-12 15:28] jdeniau opened #1804 "Custom domain, and CNAME file"
I was filling an issue on how the `CNAME` file was erased every time when deploying with gh-pages when I saw it was written in the documentation.

The fact is that the custom domains are written in the `homepage` value in the `package.json` file.

Can create-react-app auto-generate this CNAME in the `gh-pages` branch if the homepage does not match `/\.github\.io/` ?

[2017-03-12 15:32] gaearon commented on #1804
I think putting it in the `public/` folder as suggested in the docs is a reasonable solution.

I’d rather not mess with git branches from the tool—that can be pretty confusing.
Also, some people deploy from `docs` folder instead (new GH option).

[2017-03-12 15:32] #1804 closed

[2017-03-12 16:50] denkristoffer commented on #1056
Is this possible now?

[2017-03-12 17:35] Timer commented on #1322
These were the dev source maps. My mistake on basing out of build, even for production we should probably base out of appSrc.

[2017-03-12 18:12] danielmartinprieto commented on #482
Hi! I have some questions about this and I'm a bit lost.

I know how to set the `proxy` setting in `package.json` so I can `fetch` from an external API, but...

- What happens if I use more than one API in my app?
- Using `proxy`, I don't have to specify the whole URL in my `fetch` request, but afaik this only works in development. What's the best way to handle this for production builds using the

[2017-03-12 20:28] mwq27 commented on #1796
I have node v6.2.1, npm v3.10.8 on OSX v10.11.6 and create-react-app@1.3.0, and I see this output:
[code]

[2017-03-12 22:14] konradreiche commented on #107
It's almost never _just_ syntax sugar. Syntax can help to inherently reduce the complexity of a program. Reading a program, writing it, understanding it. All of these tasks can be improved in many ways with the right syntax not only reducing errors but also increasing pace.

[2017-03-12 23:04] kelleysy commented on #1138
Had same issue.. thanks @existentialism

[2017-03-12 23:42] sheerun commented on #670
Neutrino has concept of [presets](https://neutrino.js.org/presets/) that are simple node.js modules implementing function transforming its configuration. Notably it allows for configuring webpack configuration by modifying `neutrino.config` that is an instance of [webpack-chain](https://github.com/mozilla-neutrino/webpack-chain)

I wish create-react-app adapted similar approach :)

[2017-03-13 00:35] jazzdragon commented on #1786
Sure. This is a create-react-app with husky and two simple tests. if you change anything in the repo, even unrelated to the tests, and commit, you'll see husky runs all tests. It can get very slow in a large project.

https://github.com/jazzdragon/test-flags-demo

Thanks!

[2017-03-13 01:58] motevets commented on #544
This bit me again today. :cry: Specifically using Cloud9 editor with files in the `/.c9` directory.

[2017-03-13 04:37] Timer commented on #544
@motevets would you like to take a stab at fixing this and submit a pull request? 😄

[2017-03-13 05:22] Timer commented on #1322
Hmm.. looking at this more it actually seems like we need to base the dev ones out of `build/static/js/` to have them appear "properly" in the chrome file tree.

This example is out of the `appBuild` folder. You can switch it to `appPath` and `appSrc` to see the effects:
[code]

[2017-03-13 10:21] benarmston commented on #1580
I've also recently ran into this problem, and I believe I know what the underlying issue is.

tl;dr add `/(webpack)-hot-middleware/` to the exclude array for the url-loader.

I've ejected a create-react-app in order to add sass-loader and resolve-url-loader to `config/webpack.config.dev.js`, and to better deal with building and bundling a local dependency.  I've not added support for HMR, and my n

[2017-03-13 14:50] dbismut opened #1806 ".babelrc and eject script"
Hey - I'm very new (or at least I'm far from understanding everything) but working on a fork of this project using `inferno`, I'm running into an issue with the eject script, namely that the `.babelrc` file can't be found.

Looking at the code of `react-scripts` and specifically this [line](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/scripts/eject.js#L1

[2017-03-13 15:31] gaearon commented on #1806
Good catch. I don’t understand why end-to-end test passes on master. 😳

This doesn’t affect our users because they’re on `0.9.x` branch. That’s where stable releases are, until 0.10 is ready. I would **not** recommend anyone to use code in `master` of this repo right now.

[2017-03-13 15:34] gaearon commented on #1806
(The fix would be to hardcode Babel and ESLint "configs" since they're one liners.)

[2017-03-13 15:35] gaearon commented on #1806
This is showing up in Travis logs:

[code]

We should somehow enable this behavior sooner in end-to-end test.

And I don't understand how the project still builds after ejecting on CI without those fields..

[2017-03-13 15:40] gaearon commented on #1806
OK, this is embarrassing.

<img width="731" alt="screen shot 2017-03-13 at 3 35 49 pm" src="https://cloud.githubusercontent.com/assets/810438/23861712/c74e3058-0802-11e7-90e4-9bf57f6edf81.png">

Our end-to-end test doesn’t verify that ejection actually happened. So we get an unhandled Promise rejection, ejecting stops, but since it doesn’t exit with an error, the project is still in half-working s

[2017-03-13 15:52] Tamba32 opened #1807 "React Router Not Working"
I am having trouble using React Router to create another static page within my app.

Here is what my render method looks like:

[code]
When I try to visit localhost:8080/material, the url redirects to localhost:8080/material#/ and I the page just loads Home instead of Material.  There is no way for me to access my Material Component.

The same error occurs when I reconfigure the render method to l

[2017-03-13 15:55] danieldram commented on #1807
Which version of react-router are you using?

[2017-03-13 15:57] Tamba32 commented on #1807
My package.json says 3.0.2

[2017-03-13 16:06] viankakrisna commented on #1807
You need to go to localhost:8080/#/material to access your material component because you are using hashHistory.
Here's a great article about react-router https://medium.com/@dabit3/beginner-s-guide-to-react-router-53094349669#.vqsp68g17

[2017-03-13 16:12] Tamba32 commented on #1807
Thank you for the help.

Is there a way to eliminate having to use the hashHistory or history altogether?

I believe when I was not feeding <Router> the history prop, no pages would load and I received an error in the console saying "Cannot read property 'getCurrentLocation' of undefined".

[2017-03-13 16:15] gaearon commented on #1807
If you want to use the browser history, you should pass the `browserHistory` instead.

[code]

I hope this helps!

[2017-03-13 16:15] #1807 closed

[2017-03-13 16:17] Tamba32 commented on #1807
Thank you everyone for the help!

[2017-03-13 16:22] danieldram commented on #1807
Be careful if you decide to upgrade to 4.0. I was having similar issue as you but with hashHistory and BrowserHistory being undefined, it is because 4.0 injects the history into the props you pass down to your routes. Lock down your ver if you don't want things to break on a deploy to prod :)

[2017-03-13 16:47] dbismut commented on #1806
Hey, thanks for investigating so quickly! I'm not sure I'm the right man for this since I've never done tests in my life (I know this is wrong, but I'll have a look and make up for it), but I was curious on point 3 why we should not read from the file and just change .babelrc to babelrc?

Unless there is absolutely no reason in the future to add other lines to babelrc and eslintrc?

[2017-03-13 17:10] Timer commented on #1803
I cannot reproduce this in 0.9.5 nor in master.

Unfortunately, you did not completely fill out the issue template. Please follow the instructions provided when creating an issue so that we can help you, thanks!

----

### Environment

Run these commands in the project folder and fill in their results:

1. `npm ls react-scripts` (if you haven’t ejected):
2. `node -v`:
3. `npm -v`:

Then, specify:

[2017-03-13 17:40] Timer commented on #1806
@dbismut you can do it! We're here to help. 😄

As for point three, we simply use these files for the [ejection process](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/scripts/eject.js#L103-L108) -- they're not used internally by `react-scripts` (probably why renamed, to not make devs confused when they edit them and it doesn't change anything).
We can get

[2017-03-13 17:42] mbriggs opened #1809 "Performance degredation post compilation for firefox"
### Description

This is a really bizarre upstream issue, but not sure where to report it to. I have a performance intensive, canvas heavy app in CRA. In dev mode, performance is perfectly fine on a good computer on firefox and chrome. After an `npm run build`, perf is identical on chrome, but on firefox there is serious degredation (things get super laggy)

### Expected behavior

I would expect p

[2017-03-13 17:43] Timer commented on #1746
@brandonmikeska we should probably start with https://github.com/facebookincubator/create-react-app/issues/1322, would you like to tackle that issue? 😄
It'll make mapping files to system files easier.

[2017-03-13 17:48] Timer commented on #1809
Running on FireFox 51 & 52, it's actually outperforming Chrome for me.

This seems like a regression in the developer firefox channel, can you test this with the stable version and see if it's reproducing for you?

[2017-03-13 17:54] gaearon commented on #1806
@dbismut Can you verify whether the fix in https://github.com/facebookincubator/create-react-app/pull/1810 helps?

[2017-03-13 17:56] mbriggs commented on #1809
Yeah, tried on stable and it works fine. Guess its a non issue? Or should I report this to mozilla?

[2017-03-13 17:57] timscott commented on #800
I had the exact opposite experience as @lnunno. The error went away when I changed from ```http://localhost:5001``` to ```localhost:5001```.

[2017-03-13 17:58] Timer commented on #1809
It's an issue so we'll keep it open here, but please report to Mozilla and post the link here.
Thanks!

[2017-03-13 17:58] gaearon commented on #1803
Hmm, `json-loader` does not depend on a module called `json`.
Check its [source code](https://github.com/webpack-contrib/json-loader/blob/master/index.js) and [package.json](https://github.com/webpack-contrib/json-loader/blob/master/package.json).

[2017-03-13 18:00] gaearon commented on #1809
I’d say it’s fine to close it if the regression is triggered by some code we don’t control (e.g. React itself or a third party library). I would only keep it open here if it’s triggered by a polyfill we ship, or by our build process somehow.

[2017-03-13 18:03] Timer commented on #1809
Fair enough -- still something I'd like to see the resolution to though. If you could still post the link here @mbriggs, that'd be great!

[2017-03-13 18:03] #1809 closed

[2017-03-13 18:08] mbriggs commented on #1809
Here is the link https://bugzilla.mozilla.org/show_bug.cgi?id=1346884

[2017-03-13 18:36] dbismut commented on #1806
@gaearon It does fix it!

[2017-03-13 18:47] srinathh commented on #1803
Hmmm.... this was on an existing app. Let me try on a clean install of CRA,
check and get back.

On Mar 13, 2017 23:29, "Dan Abramov" <notifications@github.com> wrote:

Hmm, json-loader does not depend on a module called json.
Check its source code
<https://github.com/webpack-contrib/json-loader/blob/master/index.js> and
package.json
<https://github.com/webpack-contrib/json-loader/blob/master/pack

[2017-03-13 19:03] Timer commented on #1806
@dbismut did you want to send a PR adding the unhandled rejection throwing to scripts?

[2017-03-13 19:06] dbismut commented on #1806
@Timer I would have loved to and currently looking into it, but by the time I understand how all this work, I'm afraid you'd be losing patience. I just figured out how to run tests from the tasks folder (not that I've been spending my whole time at this but still)...

[2017-03-13 19:07] Timer commented on #1806
Oh no, nothing like that. I just wasn't sure if you wanted to do it. Sorry if I came off that way.
Take your time. 😄 All yours!

[2017-03-13 19:12] dbismut commented on #1806
Haha no worries... I want to try, but I'll let you know if I don't think I can make it by EOD tomorrow.

[2017-03-13 19:18] AndehWong opened #1812 "Uncaught SyntaxError: Unexpected token <"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

_### Can you reproduce the problem with latest npm?_
Yes.

_Can you still reproduce it?_
Yes.

**### Description**
_What are you reporting?_

I am trying to render a create-react-app build folder using express. If I run it via localhost, it works fine, no problem. However, when I try to render

[2017-03-13 19:21] Timer commented on #1812
Could you provide a demo reproducing this, please? I use CRA at work (with IIS) and don't run into this issue.

[2017-03-13 19:27] gaearon commented on #1812
The error message says that instead of serving JS, you are serving the HTML file. You can look at `build` folder and verify that JS is really JS. Therefore, the problem is with how your web server is configured. You should make sure `/static/js/main.8b78c8f8.js` really serves the JS file, and not something else.

[2017-03-13 19:34] dbismut commented on #1806
@Timer it looks like the below doesn't catch the error.

[code]

This does though, but it might be too broad?

[code]

This works also but maybe too restrictive?

[code]

Otherwise adding a `catch` at the end of the promise also works (maybe better)?
Let me know!

[2017-03-13 19:35] gaearon commented on #1806
Does something like this work?

[code]

[2017-03-13 19:42] dbismut commented on #1806
Forget about what I said. What @Timer wrote actually works 🙃

[2017-03-13 19:43] AndehWong commented on #1812
Hey, I added a demo that reproduces this issue.
https://github.com/AndehWong/counselling

But, I am going to try to serve it with pushstate-server and see if the problem is solved that way.

[2017-03-13 19:45] gaearon commented on #1812
What are the steps to reproduce the problem?
Since you're using a different server, it’s probably a problem on that side rather than in that repo.

[2017-03-13 20:05] dbismut commented on #1806
@Timer @gaearon it looks like that in `e2e-simple.sh`, from [line 249](https://github.com/facebookincubator/create-react-app/blob/master/tasks/e2e-simple.sh#L249), `npm run eject` doesn't run the script in `packages/react-scripts/eject.js`. If I move the `npm link` [252-255] lines before line 249 it actually works.

Is this another bug or just me being dumb again?

[2017-03-13 20:13] Timer commented on #1806
Hm, it should work because we run the installer from a packed copy.
See https://github.com/facebookincubator/create-react-app/blob/master/tasks/e2e-simple.sh#L128-L130 and https://github.com/facebookincubator/create-react-app/blob/master/tasks/e2e-simple.sh#L138-L143.

Is it exhibiting behavior that this doesn't happen? If so, that's interesting!

[2017-03-13 20:16] dbismut commented on #1806
I'm off my desk but will try this tomorrow morning GMT. Yes I'm indeed using yarn. All I can say for now is that the code I modified in the eject.js file wasn't executed in the test!

Anyway thanks for your help, I've learned a lot today ;)

[2017-03-13 20:40] gaearon commented on #1322
Hmm I feel silly but I don't understand what this would do. Why does it need the compiled files? If I run `npm start` for the first time, they don't exist, do they? How does Chrome know anything about where my build directory is, and why does it matter?

[2017-03-13 20:45] Timer commented on #1322
We tell the dev server to act like prod, see this snippit from dev config:
[code]

[2017-03-13 22:09] rockchalkwushock commented on #1765
@gaearon sorry for the late response I never got a notification on this. Sure thing I will try and do so this evening.

[2017-03-14 00:02] ianschmitz commented on #1042
#544 should take care of supporting this case

[2017-03-14 00:13] Timer commented on #1042
We can merge https://github.com/facebookincubator/create-react-app/pull/1808 **after** https://github.com/facebookincubator/create-react-app/pull/1614. The PRs accomplish two separate things.

[2017-03-14 01:57] Timer commented on #1746
I've updated [`stack-frame`](https://github.com/Timer/stack-frame) to support this use-case.
This should be relatively trivial now. 😄

[2017-03-14 03:57] Timer commented on #1746
![](http://g.recordit.co/rlSOq9Dxds.gif)

[2017-03-14 04:21] eldyvoon opened #1816 "Linter should throw when doing assignment operation on state or props"
I followed this tutorial, pasted the code into create-react-app and I got error of

Uncaught TypeError: Cannot assign to read only property 'selected' of object '#<Object>'

when I click and fired the select function, which is in line 77 of the demo: view-source:view-source:http://chrisharrington.github.io/demos/react-controls/calendar.html

[code]

I wonder why the http://chrisharrington.github.i

[2017-03-14 04:33] brandonmikeska commented on #1746
@Timer I can look at #1322 but it seems like you already have a proposed solution. Do you still want me to start there?

[2017-03-14 05:01] Timer commented on #1746
Yes, please! #1322 needs addressing -- I've explored how to implement the solution but not which path base is best for the solution itself.
If you can figure out the best base path (whether it be appBase or appSrc or appBuild, etc) and send a PR that'd be great. Feel more than free to copy my little snippet.

We'll need something for production, too.

[2017-03-14 06:05] viankakrisna commented on #1816
You cannot assign to props in react. here's useful docs on that topic https://facebook.github.io/react/docs/components-and-props.html#props-are-read-only and https://facebook.github.io/react/docs/state-and-lifecycle.html
Judging from
[code]
It is using an old version of react. I don't know when this api changes or why the author use it that way. I suggest you to try to find a more recent component

[2017-03-14 06:24] eldyvoon commented on #1816
@viankakrisna I changed it to state instead of altering the props, now it's working.

[2017-03-14 06:37] viankakrisna commented on #1812
In which port that the production express app is running?

You are using homepage with a pathname, does the express server running on that url? Right now https://sscsecure.uwo.ca/counselling/triage/static/js/main.8b78c8f8.js is serving an html error.

If the express is running on different port than 80, the homepage field should also include the port in there.

I agree that we need more informatio

[2017-03-14 08:38] dbismut commented on #1806
@Timer Indeed you're right, running `yarn cache clean` solves it!

Here is the output of `tasks/e2e-simple.sh` after adding the `unhandledRejection` event to `eject.js`. This is when running `eject.js` with the wrong reading of `.babelrc / .eslintrc` (which is solved by https://github.com/facebookincubator/create-react-app/pull/1810).

<img width="1067" alt="eject" src="https://cloud.githubusercon

[2017-03-14 08:51] NikitaLiashenko commented on #1455
@ryansully Could we add ability to override whole list of options?

[2017-03-14 09:43] xgqfrms-GitHub opened #1817 "Can iuse it in produce env?"
# how can I using sass in this env?

# can you show me a demo of webpack2 & sass config file!

[2017-03-14 09:44] viankakrisna commented on #1816
@eldyvoon don't forget to use setState!

[2017-03-14 10:20] Timer commented on #1806
1. Yes, please add this to all scripts.
2. No. This was my mistake, I meant scripts/*.js.
3. You should be able to make your edits before #1810 is merged. Git is really good at combining things. 👍

Thanks for being on top of this!

[2017-03-14 10:25] Timer commented on #1817
Please refer to https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc which explains how to do this.

Webpack 2 is not available to the masses yet, it's too buggy to be in a general release. When we work out all the kinks it'll be released in 0.10.

Let me know if there's anything else you need help with.

[2017-03-14 10:25] #1817 closed

[2017-03-14 10:26] Timer commented on #1816
I feel like this is something we can catch in our linter. Can it be done?

[2017-03-14 10:33] Timer commented on #1816
And if not in the linter, can we capture and make the error friendlier with a gentle nudge to use setState or a callback to parent component?

[2017-03-14 10:40] viankakrisna commented on #1816
maybe we can turn on this https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-direct-mutation-state.md
AFAIK no rules for preventing props mutation

[2017-03-14 10:42] andymac4182 commented on #1084
@kohver Do you think it would be best to have a separate html file or using `react-router` to lazy load those extra js required. Something like this http://moduscreate.com/code-splitting-for-react-router-with-es6-imports/

[2017-03-14 10:55] Timer commented on #1816
That rule should be easily adaptable to expend to props.

[2017-03-14 12:13] mfonsen commented on #1777
If I understood this right Webpack does not do dead code elimination on it's own. Would this be a missing feature in UglifyJS (used in [webpack config](https://github.com/facebookincubator/create-react-app/blob/fe7b5c212b5127775287ce444947f4c604c024dd/packages/react-scripts/config/webpack.config.prod.js#L262))?

DefinePlugin does not seem to support auto discovery.

I could create an issue for Ugl

[2017-03-14 12:15] Timer commented on #1777
Webpack *should* inline variables like this, which are then eliminated by Uglify. I do not believe it's a missing option, it might be.
I think we should create issues for Uglify and webpack and see who bites.

Uglify *could* note that there's no `REACT_APP_FOO` in given object.
Webpack *could* inline undefined instead of `REACT_APP_FOO`.

Best to probably start with Uglify, though.

[2017-03-14 12:22] xgqfrms-GitHub commented on #1817
# Thanks for your time!
You did a very nice Answer , great help for me!

[2017-03-14 12:38] Timer commented on #556
Retagging this for 0.10, but we might've already fixed this with our recent path changes.

[2017-03-14 12:40] Timer commented on #1240
Duplicate of https://github.com/facebookincubator/create-react-app/issues/556. Going to close this. 😄

[2017-03-14 12:40] #1240 closed

[2017-03-14 12:49] Timer commented on #1709
Tagging this for contributions, let me know if you'd like to do it, @wordofchristian.

[2017-03-14 12:50] Timer commented on #1720
@lpalmes Hi! How's everything going?
Would you like to finish this? 😄 If you're too short on time, that's alright too.

[2017-03-14 13:11] faassen opened #1818 "offline support with yarn says it's offline while yarn isn't"
On a Ubuntu 17.0.4 box, with yarn version 0.21.3 and create-react-app 1.3 on one laptop where yarn successfully can install from online sources, create-react-app insists on thinking it's offline and won't install. A downgrade to 1.1.0 (before this offline feature was added) fixed this issue.

[2017-03-14 13:26] Timer commented on #1818
Can you `dig registry.yarnpkg.com` and post the output?

https://github.com/facebookincubator/create-react-app/blob/master/packages/create-react-app/createReactApp.js#L516

[2017-03-14 13:41] lpalmes commented on #1720
I was traveling, got back yesterday, sorry for the absence.
I will add it today, thanks, i let you know otherwise today @Timer

[2017-03-14 14:27] dbismut commented on #1806
@Timer done! However I re-ran into the `yarn cache clean` issue, I was wondering if cleaning yarn's cache shouldn't be part of the testing shell scripts?

[2017-03-14 15:08] Timer commented on #1806
This is a known Yarn bug (it will be fixed), see https://github.com/yarnpkg/yarn/issues/2649 and https://github.com/yarnpkg/yarn/issues/2165. I thought we clean the cache in one of them ...

[2017-03-14 15:08] Timer commented on #1720
Sweet, thanks @lpalmes!
Hope you enjoyed your travels & were safe! 😄

[2017-03-14 15:15] dbismut commented on #1806
You do in all actually. Not sure why I ran into this issue then...

[2017-03-14 15:16] Timer commented on #1806
Ah, you need to have `USE_YARN` set to yes.

[2017-03-14 15:38] Tran-Kien opened #1820 "Make a script for npm build-dev"
Would it be possible to make a npm build-dev that will bundle the files as a dev bundle without the hash? Currently, I'm just modifying the build.js in the node_modules to point to the dev config file. But this is naturally overwritten when I do npm install.

Thanks.

[2017-03-14 16:04] gaearon commented on #1820
Is this the same as https://github.com/facebookincubator/create-react-app/issues/1070?

[2017-03-14 16:10] Tran-Kien commented on #1820
Yes, pretty much. I would like the dev bundle files so I can work with integrating them in SharePoint.

Thanks

[2017-03-14 16:16] LukasBombach opened #1822 "Writing tests for code dependent on ENV vars"
Hi, I use a custom env var `process.env.REACT_APP_SANDBOX` which changes the behavior of my app. Now I want to write tests for this behavior. Can I somehow set env vars in my tests? Simply writing `process.env.REACT_APP_SANDBOX = true;` won't do it.

[2017-03-14 17:12] AndehWong commented on #1812
I had my express running on port 3001, I switched it to port 80 and it still serves up the same issue.
I apologize if I can't provide a demo that has the same issue. As gaearon states, it is a server side issue, but I just don't know why express is deciding to serve up the HTML file rather than the static JS file.

I tried using pushstate-server, and it works fine from there. If I take the build f

[2017-03-14 17:17] Timer commented on #1812
This is purely a configuration issue with your web server application.
Are you using WebAPI, MVC, or .NET Core?

[2017-03-14 17:31] AndehWong commented on #1812
Very sure that it is .NET Core.

[2017-03-14 17:32] mhart commented on #1183
You can take a high-level view here: http://pkgsize.com/react-scripts.html

`jest`, `webpack`, `autoprefixer` and `eslint` are the four largest contributors.

`autoprefixer` largely due to the ever increasing `caniuse-db`: http://pkgsize.com/autoprefixer.html (is `autoprefixer` really a must-have?)

`jest` mostly due to `jest-cli` mostly due to `jsdom` stuff and `istanbul-api`: http://pkgsize.com/

[2017-03-14 17:45] gaearon commented on #1183
I wonder how this compares to master since we switched to webpack 2 and might have new regressions (or it might be better). We should cut a canary release.

[2017-03-14 17:46] gaearon commented on #1812
What is your express code looking like?

[2017-03-14 17:48] AndehWong commented on #1812
https://github.com/AndehWong/counselling/blob/master/server.js

This is what I used for my expressjs server code as of yesterday. The only change I made was the port to 80, but that did not change anything.

[2017-03-14 17:52] gavinwahl opened #1824 "Polyfill usage with draft.js"
I'm trying to use draft.js in my create-react-app project. draft.js [documents that it needs an es6 polyfill](https://draftjs.org/docs/advanced-topics-issues-and-pitfalls.html#polyfills), but I expected not to have to do anything because create-react-app is supposed to take care of polyfilling/shimming everything.

It does work when I install babel-polyfill, but this increases my bundle size by 30

[2017-03-14 18:01] Timer commented on #1824
CRA **does not** polyfill an es6 environment for you. You **must** do this yourself.
I suggest you find what's missing on a feature-by-feature basis and import them separately.

[2017-03-14 18:02] gaearon commented on #1824
Please see [Supported Polyfills](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#supported-language-features-and-polyfills) in the User Guide:

You need to either include `babel-polyfill` (but yes, it’s large), or inspect Draft.js source code to know the exact set of ES6 features they depend on. It’s bound to change over time though so I

[2017-03-14 18:02] #1824 closed

[2017-03-14 18:08] Timer commented on #1812
Whoops, sorry. I didn't see that you said you were serving this with express.
I suspect [this](https://github.com/AndehWong/counselling/blob/master/server.js#L15) is causing it.

Here's a snippet from what I use which should be adaptable to your needs:
[code]

[2017-03-14 18:11] gaearon commented on #1812
OK, I just realized you had the server in there 😄
I can reproduce now.

The problem is that per your homepage setting, the project is built to be served from `/counselling/triage/`. However you’re serving it from `/`. So the paths to static files end up wrong.

This is noted in the build output:

<img width="917" alt="screen shot 2017-03-14 at 18 09 18" src="https://cloud.githubusercontent.com/ass

[2017-03-14 18:26] JaKXz commented on #1183
FWIW a PR has been filed for `browserify-zlib`: https://github.com/devongovett/browserify-zlib/pull/22

[2017-03-14 18:27] AndehWong commented on #1812
Ahhh thank you gaearon! That as indeed the fix. Thank you everyone for having patience with me. I am very new to expressjs, this is my first time running a website using it.

I cannot express my gratitudes enough, thank you! :)

[2017-03-14 18:29] Timer commented on #1812
Glad it's working! Let us know if you need anything else.

[2017-03-14 18:29] #1812 closed

[2017-03-14 18:36] lpalmes commented on #1720
Thanks @Timer, i've enjoyed it and managed to meet lot of developers and companies, just what i was looking for 😄 , really great experience.
I've just sent the pull request to fix this. I've tried on my computer, and it worked quite nicely. I've added some random deps to package.json and confirmed that errors correctly.

[2017-03-14 18:38] ianschmitz commented on #1816
We already have no-direct-mutation-state rule enabled in eslint-config-react-app (https://github.com/facebookincubator/create-react-app/blob/master/packages/eslint-config-react-app/index.js#L226) and it appears to be working as expected.

I created an issue over at https://github.com/yannickcr/eslint-plugin-react/issues/1113, and I'd be happy to incorporate it into `eslint-config-react-app` if it

[2017-03-14 18:55] gavinwahl commented on #1824
Ok, thanks @gaearon. Does that include my own application code or just packages? I thought that transform-runtime was used to handle polyfills.

[2017-03-14 18:56] gaearon commented on #1824
It includes any packages that depend on ES6 builtins. We don’t use `transform-runtime` for this because compiling all dependencies with Babel is slow (and also can break them in some cases), and it won’t catch all methods, making it even more confusing.

[2017-03-14 22:19] wtgtybhertgeghgtwtg commented on #1183
`jest` [has an issue](https://github.com/facebook/jest/issues/2691) similar to this one.  You might be able to get `webpack` and `eslint` interested if you asked.

It's gonna be there anyway, since `cssnano` depends on it.

[2017-03-15 01:17] toobulkeh commented on #462
@gaearon why the change of heart?

[2017-03-15 03:10] ryansully commented on #1455
@NikitaLiashenko The code example I provided, as it is written, would override any previous `collectCoverageFrom` value specified in `createJestConfig.js`, so all globs would need to be added to `package.json`. If that is not desired, the code could always be modified to concatenate or push new globs to the existing config.

[2017-03-15 03:11] srinathh commented on #1803
Self closing. JSON import is working when I try to re-produce on a clean CRA installation. Might have been a modules conflict issue in the existing app I was working on. Apologies for the bother.

[2017-03-15 03:11] #1803 closed

[2017-03-15 05:07] jameschao commented on #1455
@ryansully - sorry could you clarify about your code snippet? I currently haven't ejected and so do not have such a  `createJestConfig.js`. Do I need to eject in order to use the snippet you provided?

[2017-03-15 06:18] rmccue opened #1826 "Chrome is always used, regardless of default browser"
openBrowser [always attempts to open Chrome on macOS](https://github.com/facebookincubator/create-react-app/blob/9512d97900f12b62f1220d394d7859556719b62e/packages/react-dev-utils/openBrowser.js#L29-L34), even when Firefox is set as the default browser.

It *does* check the `BROWSER` env var, but given that this isn't set by default when setting a default browser, it's not authoritative. Instead, o

[2017-03-15 06:40] ljharb commented on #1719
This setting certainly predates my involvement with the Airbnb config. I can't see any reason not to change it to "all" - can someone file an issue, or better, send a PR explaining the rationale?

[2017-03-15 07:40] kdleijer commented on #1818
Output of dig;

koen@koen:~/code/react$ dig registry.yarnpkg.com
; <<>> DiG 9.10.3-P4-Ubuntu <<>> registry.yarnpkg.com
;; global options: +cmd
;; connection timed out; no servers could be reached
koen@koen:~/code/react$

output of ping;

koen@koen:~/code/react$ ping registry.yarnpkg.com
PING registry.yarnpkg.com (104.16.60.173) 56(84) bytes of data.
64 bytes from 104.16.60.173 (104.16.60.173): icm

[2017-03-15 08:21] praphat commented on #138
I solved the problem by adding C:\Users\ugur\AppData\Roaming\npm to windows PATH variable.

[2017-03-15 08:25] ivosabev commented on #462
This is quite unfortunate for Relay, that even FB's own tools don't support them, since it is just a matter of letting the user extend the Babel configuration.

[2017-03-15 09:51] schickling commented on #462
I'm pretty sure that with the new version of Relay the tooling will become a lot more flexible. This should make this possible again without needing to fork CRA.

[2017-03-15 09:54] XanthusL opened #1827 "Translate it into other languages."
This project is awesome.<br>
Can I translate it into Chinese ?

[2017-03-15 09:59] vikasaditya commented on #1116
@gaearon the change was very small but lost my access to windows machine for testing. Will install on virtualbox and send PR with a day or two.

[2017-03-15 10:35] faassen commented on #1818
I'll note that other Linux machines on the same local network didn't display this problem. And yarn *did* work just fine on the machine where create-react-app thought it was online.

[2017-03-15 12:58] ryansully commented on #1455
@jameschao No, you don't need to eject; it is an edit of `createJestConfig.js` as it is found in a non-ejected project, under the `react-scripts` package.

As such, any updates to `react-scripts` that modify `createJestConfig.js` could possibly break; I wrote it for use in a fork of CRA and didn't submit it as a PR because I'm not sure the project maintainers would accept it as it is (it sort of g

[2017-03-15 15:06] dbismut commented on #1806
Should be fixed by #1810 and subsequently by #1819.

[2017-03-15 15:06] #1806 closed

[2017-03-15 15:35] ArnoBuschmann opened #1831 "Commenting in JSX and linting rule "Unexpected empty object pattern""
In JSX I would like to put comments like this:
```{/*mycomment*/}```
Just when doing so, I am going to have a linting conflict:
```17:16  warning  Unexpected empty object pattern    no-empty-pattern```
When not having ejected, is there a way to omit these warnings?

[2017-03-15 15:39] jannotti commented on #808
While recognizing @gaearon's view that CRA should only lint against things that are very likely to be errors, rather than style, I find myself disagreeing that CRA's current config is doing that.  Maybe that means I should be making pull requests, but having run into two of these things in just the first couple days of using CRA, I suspect the problem may be disagreement about whether these rules

[2017-03-15 15:47] jameschao commented on #1455
@ryansully - oh ok, so you mean directly updating `node_modules/react-scripts/utils/createJestConfig.js`? Or did you mean using a fork of `react-scripts`?

[2017-03-15 15:48] gaearon commented on #1806
Thanks @dismut!

[2017-03-15 15:50] gaearon commented on #1831
Can you show the full code example? It's likely you're not really using `{` and `}` in the right context.

[2017-03-15 15:50] nullterminated opened #1832 "EACCES error in Termux"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?

npm --version
3.10.10

Many errors, especially related to "missing modules", are due to npm bugs.

If you're using Windows, [follow these instructions to update npm](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows).

If yo

[2017-03-15 15:51] gaearon commented on #1827
Sure! Feel free to create a repo with just the READMEs you want to translate (maybe [main README](https://github.com/facebookincubator/create-react-app/blob/master/README.md) and the [User Guide](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md)). We’ll be happy to link to your repo.

[2017-03-15 15:51] #1827 closed

[2017-03-15 15:52] dbismut commented on #1806
My pleasure, thanks for the help and patience, I just followed instructions 💂

[2017-03-15 16:10] ArnoBuschmann commented on #1831
Thanks for your quick reply. Yes, code would like for example like this:
[code]

[2017-03-15 16:18] lacker commented on #462
There are a bunch of people at Facebook interested in making create-react-app work more smoothly with Relay. The tricky thing right now is that there are a ton of improvements on Relay coming, and we're not sure whether/how that will change the getting-started experience. So I think we should wait for the next big Relay release and then take another hard look at this and see how we can make the Re

[2017-03-15 16:33] langpavel commented on #1831
@gaearon Right question is **How to comment in JSX**

[2017-03-15 17:18] Timer commented on #808
Labels are generally used by advanced programmers and introduce otherwise unnecessary complexity.

If you must make your code more difficult to understand and not resort to functions, you can safely ignore the warning using the directive suggested in the dev output.

We understand that you may feel strongly about this, and are more than happy to continue the conversation and potentially disable th

[2017-03-15 17:19] ryansully commented on #1455
@jameschao Yes to the first question.

[2017-03-15 17:35] cguedes opened #1833 "Development proxy is using HTTPS instead of HTTP"
### Description

I'm receiving an HTTPS redirect in development instead of HTTP.
I've executed the development server using `PORT=3001 npm start`, and my proxy settings is `"proxy": "http://localhost:7000"`.

Check the next image for the scenario.
Look that the request is to `http://localhost:3001/api/user/info`, and the response is a 301 Moved Permanently to `https://localhost:7000/api/user/info`

[2017-03-15 17:36] Timer commented on #1818
Can one of you please test https://github.com/facebookincubator/create-react-app/blob/master/packages/create-react-app/createReactApp.js#L519 and then switch it to `lookup` after and see if it fixes it?

[2017-03-15 18:56] doshisid opened #1834 "eslint ignores variables named `status`"
### Can you reproduce the problem with latest npm?
yes. npm version: 4.1.1

### Description

Linter ignores `status` variable name when checking for unused vars.
Not sure if this is a bug or expected behaviour.

### Expected behavior

It should probably warn when I have not declared a variable named `status` and have this line of code:
`console.log(status)`

### Actual behavior

Even though I have

[2017-03-15 19:58] jannotti commented on #808
I guess the complexity of debating these rules is exactly my point.  The stated goal is to have rules that apply only to things that are mistakes, not style.  My claim, bolstered by your reaction, is that such a bright line does not exist.  So my real point is about this very issue: being able to change eslint rules is important and can't be wished away by saying, "We'll only have rules that defin

[2017-03-15 20:06] n3tr commented on #1834
As I understand it is expected behavior since `status` is a `window` property (https://developer.mozilla.org/en-US/docs/Web/API/Window/status) and we configure eslint env. browser on [eslint-config-react-app/index.js#L29](https://github.com/facebookincubator/create-react-app/blob/9c9f8f66e22dbd60cd373e04fcf07072a5d624f5/packages/eslint-config-react-app/index.js#L29)

[2017-03-15 20:29] gaearon commented on #808
As I said before, please file issues (or send PRs) for individual cases you disagree with. I’ll be happy to review them (I agree with you on some of these points and consider relaxing the config a little but it’s hard to discuss this when you propose a batch of mutually unrelated changes on a long thread 😉 ).

[2017-03-15 20:35] gaearon commented on #808
It does exist. In fact I just merged a PR relaxing a lint rule a few days ago: https://github.com/facebookincubator/create-react-app/pull/1773.

I think you might have missed @Timer’s point—it’s not that we disagree, but it’s that **we ask you to file a new issue to discuss a specific case**:

Let’s just do that, and punt on discussing a broader philosophical issue for now 😉 . I’m going to lock th

[2017-03-15 20:35] #808 closed

[2017-03-15 20:52] jannotti opened #1835 "Relax anti-label lint rules."
### Description

Lint rules complain about this:

[code]

which is the most succinct way to stop processing the current row and all following rows, once a zero is encountered anywhere.

They complain in two ways, first no-restricted-syntax complains about any label of any kind.  Then no-labels complains twice, first about the label again, and second about the break statement with a label.

### Exp

[2017-03-15 20:57] doshisid commented on #1834
I can work on this.

[2017-03-15 21:06] gaearon commented on #1834
Sounds good!

[2017-03-15 21:49] vaske opened #1836 "Problem with Babel on windows 10 (babel-preset-react-app)"
When I start app, I'm getting this error.

Failed to compile.

Error in ./src/index.js Module build failed: Error: Options {"targets":{"ie":9,"uglify":true},"useBuiltIns":false} passed to D:\Projects\fabrik\mailo\node_modules\babel-preset-react-app\node_modules\babel-preset-env\lib\index.js which does not accept options. at Array.map (native) at Array.map (native) @ multi main

node v6.3.1
npm v3.

[2017-03-15 21:56] themre commented on #1836
what CRA (react-scripts) version are you using? did you create demo app from CRA CLI?

[2017-03-15 22:18] nullterminated commented on #1832
There's no sudo in Termux, but the user/group on home is the same as current user. Everything from /data/data/com.termux down is owned by u0_a78. /data/data is owned by system

[2017-03-15 22:20] gaearon commented on #1836
This is odd because that preset accepted options since [the very first version](https://github.com/babel/babel-preset-env/blob/cec38664925a00949df2781e9798d5f9e4bbe58d/src/index.js#L85).

Can you post contents of `D:\Projects\fabrik\mailo\node_modules\babel-preset-react-app\node_modules\babel-preset-env\lib\index.js`?

Have you tried deleting `node_modules` and re-running `npm install`, or updatin

[2017-03-15 22:20] nullterminated commented on #1832
If you have an android phone handy, you can reproduce it with that as well. I don't think it's chromeos specific.

https://play.google.com/store/apps/details?id=com.termux

[2017-03-15 23:39] brielov opened #1837 "Add csso for better and smaller stylesheets"
It would be nice to have CSSO post processing as an option or default for smaller css output

[2017-03-16 06:22] federicobarera commented on #882
I just had a go and it worked fine.
navigate to the project root and:

1. npm install jest
2. npm install jest-teamcity-reporter
3. added:
`"jest": {
    "testResultsProcessor": "jest-teamcity-reporter"
}`

4. created a npm script:
`"scripts": {
    "ci": "jest"
  }`

Then, please read from their npm page:

Therefore

5.
`SET TEAMCITY_VERSION=1`
`npm run ci`

Result:

r2@0.1.0 ci C:\Users\Federico

[2017-03-16 07:04] dmitrizzle commented on #1826
If I was to give my 2¢ I would prefer to either control this behaviour or disable it. Seems like a feature that's added because it could be, not because it should be.

[2017-03-16 08:01] vaske commented on #1836
@gaearon yes I did, and problem persists. Here is the content of index.js https://gist.github.com/vaske/5f47e1c019bf11b2748d0c2548bdb624

@themre yes I did, I followed up this article https://www.fullstackreact.com/articles/using-create-react-app-with-a-server/ version is "react-scripts": "^0.9.5".

[2017-03-16 09:21] praWINK commented on #642
Is it possible to change the javascript entry point from ./src/index.js  to some other folder like ./components/header/common/index.js in create-react-app

[2017-03-16 10:54] Baransu opened #1838 "Build fails due to UglifyJS error"
### Description

When I'm running `yarn build`, my build fails due to UglifyJS error.

### Expected behavior

Uglfing should work and build should not crash

### Actual behavior

Error during compilation:
[code]

There is problem with [print.js](https://github.com/crabbly/Print.js) lib that I'm using, but mentioned file seems to looks fine. That's why I'm curious what can I do and how can I fix th

[2017-03-16 12:13] faassen commented on #1818
We tried the following snippet:

[code]

The output on my (working) machine is:

[code]

But on @kdleijer  machine with the problem it's:

[code]

[2017-03-16 12:24] Timer commented on #1818
And do both resolve false when offline?

[2017-03-16 12:41] viankakrisna commented on #1838
The problem is Uglify.js is not aware with es6 syntax. Judging from https://github.com/crabbly/Print.js/blob/master/src/js/browser.js#L13
print.js uses shorthand object method syntax, which non-es6+ aware Uglifyjs cannot comprehend and make the build fails.

This is why we should publish a compiled es5 to npm.
In the meantime, I suggest you to fork Print.js and convert the es6 syntaxes to es5 and

[2017-03-16 12:45] Baransu commented on #1838
It's not consistent within this file so I'll try to send PR to `print.js` changing this to es5 syntax.
Thank you for fast response! 😃

[2017-03-16 13:47] kdleijer commented on #1818
Hi Timer
Yes both are false when completely offline with Ubuntu.

For DNS configuration I have;
[code]

[2017-03-16 13:52] Arvin6 commented on #800
I have the same issue and have been suffering for two days now. I also included the full URI, still didn't work. Other than that, everything seems to be same as what Inunno has done. I have the same error going too.
    Proxy error: Could not proxy request /myfile.js from localhost:3000 to localhost:5001.
    See https://nodejs.org/api/errors.html#errors_common_system_errors for more information (

[2017-03-16 13:58] Andreyco commented on #1776
@gaearon Is it possible for CRA not to run on so-much-random ports? Previous behaviour was great - start with port 3000 and pick first available port.

[2017-03-16 13:59] wamujlb commented on #800
Arvin6, I have the same problem too. Don't know what to do.

[2017-03-16 13:59] Timer commented on #1818
You can look into [this](http://askubuntu.com/questions/743819/connection-timed-out-no-servers-could-be-reached-error) or [this](http://apple.stackexchange.com/questions/76557/nslookup-dig-fail-ping-traceroute-and-scutil-r-work) to fix the DNS -- most likely a firewall issue (does it work for other sites?).

@gaearon think we can switch this to `lookup`? I see no harm if it's more reliable.

[2017-03-16 14:04] Arvin6 commented on #800
If anybody could provide us with a workaround for it, it'll help us move forward with our projects. So, Captain?

[2017-03-16 14:09] Timer commented on #800
We cannot help without a project reproducing this. Please provide one. 😄

[2017-03-16 14:16] gaearon commented on #1818
Sure, happy to switch.

[2017-03-16 14:18] kdleijer commented on #1818
Tried all, with different results;

`
koen@koen:~/code/react$ ping www.google.com
PING www.google.com (209.85.202.104) 56(84) bytes of data.
64 bytes from dg-in-f104.1e100.net (209.85.202.104): icmp_seq=1 ttl=48 time=26.4 ms
64 bytes from dg-in-f104.1e100.net (209.85.202.104): icmp_seq=2 ttl=48 time=27.7 ms
64 bytes from dg-in-f104.1e100.net (209.85.202.104): icmp_seq=3 ttl=48 time=30.6 ms
64 byte

[2017-03-16 14:20] gaearon commented on #1776
@Andreyco

I didn’t realize that changed. Filed as https://github.com/node-modules/detect-port/issues/15—let’s see what the maintainer says.

[2017-03-16 14:26] Timer commented on #1818
The older create-react-app works because this is a new feature.
Would you like to send a PR switching us to `lookup`?

[2017-03-16 14:27] Andreyco commented on #1776
Thanks for filling the issue. Will follow the other thread as well.

[2017-03-16 14:31] Timer commented on #1776
That's going to be a lot of code to re-introduce (https://github.com/node-modules/detect-port/pull/13), maybe we should fork it.

[2017-03-16 14:39] faassen commented on #1818
@kdleijer is very new at this whole toolchain (in fact I was giving a React training when this happened on his machine) so a PR may be a bridge too far. I could do a PR with him but it'll have to be next week.

Is this just about changing the one line to ``lookup``? It doesn't look like much automatic testing is possible for this change, but we can test whether it fixes the issue for him manually

[2017-03-16 14:41] Timer commented on #1818
Yeah, it's just that one line change. 😄 You can even edit the file on GitHub.

[2017-03-16 14:42] faassen commented on #1818
Okay, we'll see whether @kdleijer wants to do it! We can say it's part of the training. :)

[2017-03-16 14:46] faassen commented on #1818
Ok, @kdleijer and I will look at this when we can sit down together Monday. Thanks for the quick and constructive feedback, it's very much appreciated!

[2017-03-16 14:46] Timer commented on #1818
No problem, thank you for being responsive!

[2017-03-16 14:48] Timer commented on #1838
I'm going to close this because it's not very actionable by us. If you eject, there's ways around this (update webpack config to process it by babel), but I wouldn't eject for something as trivial as this.

Let us know if you run into anything else. Thanks!

[2017-03-16 14:48] #1838 closed

[2017-03-16 15:13] marcusnielsen commented on #1419
Motivation over typescript is that reasonml will have great react bindings. It is based on functional programming, while typescript is more towards class-based OOP.

Typescript can't do stuff well like currying and other basic functional programming things and also has a hard time with typings for ramda and lodash/fp (disclaimer, old knowledge).

[2017-03-16 15:14] marcusnielsen commented on #1419
I'm looking at bs-loader and would love to have it supported for reasonML support: https://github.com/rrdelaney/bs-loader. Could be fairly trivial in the future.

[2017-03-16 15:48] gaearon commented on #1836
@vaske

Thanks for confirming. Which is the latest version of npm you tried?
Can you create a minimal project consistently reproducing the issue?

[2017-03-16 16:04] viankakrisna commented on #1776
or maybe we can pin it to 1.0.7 https://github.com/node-modules/detect-port/blob/1.0.7/lib/detect-port.js#L45 meanwhile

[2017-03-16 18:08] Arvin6 commented on #800
Ahh. Got it to work. Actually my problem was in the fetch API call. Proxy had no problem. The information in here was valuable and helped me track my problem. Thank you everyone.

[2017-03-16 18:23] gaearon commented on #1776
I’m curious what was the reasoning behind that change.

[2017-03-16 19:35] Timer commented on #1776
Probably just less to maintain and pushing the responsibility onto the Node internals.

[2017-03-16 20:21] TheBlusky commented on #1735
I had exactly the same issue !
I tried to uninstall node, npm, create-react-app many times...
Finally, I ended up modifying the "index.js" file of create-react-app script with the following :

Before:
[code]
After:
[code]
This is a really dirty hack, but it worked fine.

[2017-03-16 20:34] gaearon commented on #1735
Can you post the error message you got? It’s cool that you caught the error but it would be more useful to know what error it was so that we can fix it 😄

[2017-03-16 20:37] gaearon commented on #462
We may come back to this, but now is not a good time, especially with all the ES modules churn (we're in the process of switching to Webpack 2, it has bugs, etc). We want to retain full control over Babel configuration to allow a guaranteed stable experience for all users. We may explore making Babel configurable once the dust settles a little bit.

[2017-03-16 20:47] viankakrisna commented on #800
@Arvin6 can you explain how you solve it? I think it will help the people who is facing a similar issue.

[2017-03-16 20:49] TheBlusky commented on #1735
My bad :-) I was so glad to finally be able to create a React App I didn't go further.
The error message is: `{ command: 'npm install --save --save-exact react react-dom react-scripts' }`.
I think it's an NPM issue, packages are well installed, but NPM exit without a success behavior.

[2017-03-16 21:12] gaearon commented on #1735
Oh I see. In this case [this](https://github.com/facebookincubator/create-react-app/blob/9512d97900f12b62f1220d394d7859556719b62e/packages/create-react-app/createReactApp.js#L230-L231) should have been printed.

We should keep the logs in such cases. It might have worked for you but it's still unsafe (e.g. likely to produce broken installs).

[2017-03-16 21:15] TheBlusky commented on #1735
Yes, that's why I said it is a "really dirty" hack. In fact, I tested the `npm install --save --save-exact react react-dom react-scripts` command manually. It exited promptly but was able to check whether or not packages were installed.

I wouldn't advice to implement my workaround, but it may be useful if someone is brave enough to try it manually :-)

[2017-03-16 21:39] chemitaxis commented on #1056
Hi, any news about that? Thanks!

[2017-03-16 22:17] Timer commented on #1056
A 0.10 alpha will be out soon with `import` support. In the mean time, you can use `require.ensure`. Simply polyfill it in your test environment.

[2017-03-16 22:19] chemitaxis commented on #1056
Sorry, but what do you mean with polyfill it in the test environment? Thanks

[2017-03-16 22:22] Timer commented on #1056
Sorry I wasn't more clear.

Currently, you can use `require.ensure` in dev & prod and it will work fine.

If you want it to work in Jest (`npm test`) you will need to add something like this:
[code]

[2017-03-16 22:24] chemitaxis commented on #1056
Ah ok! If I understand good, I can test in this moment require.ensure, I
need to change it by sync require, not? Thanks!
On Thu, 16 Mar 2017 at 23:22, Joe Haddad <notifications@github.com> wrote:

[2017-03-16 22:28] Timer commented on #1056
I'm not sure I understand, sorry!

[2017-03-17 00:36] lennerd commented on #1494
Sorry, maybe I'm stupid but how were you able to update? I'm using `react-dev-utils` for our build setup and, I mean `react-dev-utils` is still on `0.5.2`, no?

[2017-03-17 01:36] Timer commented on #1494
0.9.0 refers to the version of `react-scripts`, not `react-dev-utils`. You have the latest version.

[2017-03-17 03:28] CrisLi commented on #1069
If we upgrade the lodash to v5, can we use babel-plugin-lodash in the next release of **create-react-app**?

[2017-03-17 03:35] hiepnm commented on #1403
I have implemented expressJS with cors like this:[https://enable-cors.org/server_expressjs.html](url)
And in expressJS, I response res.redirect("http://example.com"); but in ReactJS App, I have got some Error like this:

[2017-03-17 03:38] Timer commented on #1322
@brandonmikeska did you still have interest in pursuing this the rest of the way?

[2017-03-17 04:55] mchandleraz commented on #660
I got passed this error by just killing my webpack dev-server and restarting it. No need for renaming directories or anything.

[2017-03-17 07:12] Baransu commented on #1838
Thank you for your help 🙂

[2017-03-17 07:29] Timer commented on #1838
Oh no problem, I wish I could've been of more help!

Let us know if you need anything else. 😄

[2017-03-17 08:10] lennerd commented on #1494
Okay, than the information in CHANGELOG are very confusing. 🙈

https://github.com/facebookincubator/create-react-app/blob/master/CHANGELOG.md#094-march-6-2017

It's saying that the version `0.9.4` contains some fixes published on the 9th of March. So now I guess `0.9.4` stands only for the `create-react-app` package version, right? That's were the confusion starts at least to me. It would help if

[2017-03-17 08:24] lennerd commented on #1494
Ah, now looking at #1546 a little closer I see that it changes are scheduled for 0.10.x by @gaearon. So you seem to cherry-pick changes from the current master?

Also, why is this scheduled for the next minor version? Worried about anything?

Apart from changes in a `public` folder, I would really love to reload the page in certain situation via `webpackHotDevClient`.

[2017-03-17 08:24] Baransu commented on #1838
I've created [PR](https://github.com/crabbly/Print.js/pull/32) to original library adding CommonJS build, so after PR getting merged anyone using CRA with print.js shouldn't have any problems with build.

[2017-03-17 10:43] doshisid commented on #1834
see #1840

[2017-03-17 11:34] gaearon commented on #1322
I thought that line was not used at all (and only prevented crashes). How exactly does WDS use it? What does it mean to serve "from" a folder if it's serving from memory?

[2017-03-17 12:34] gaearon commented on #1494
Changelog uses versions of `react-scripts` because that's the thing most people will upgrade. For other packages it's easiest to figure out what changes by looking at folder git history.

https://github.com/facebookincubator/create-react-app/pull/1546 only works with Webpack 2 (afaik). So it's not released until we release a version of react-scripts compatible with Webpack 2.

Yea, we cherry-pick

[2017-03-17 12:37] lennerd commented on #1494
Thank you for the explanations. I found and started to use the `0.6.0-beta` release, so I can use the content reloading now.

[2017-03-17 12:54] mnemanja commented on #1776
I wanted to mention that I have the same error happening for me on Win10, node 6,9.0 and 6.10.0 when I run `yarn test`.
I've recently updated the CRA to 0.9.5.

I can confirm that the clean CRA app doesn't show that error. Would it be possible to have a bit more precise report?

[2017-03-17 12:58] Andreyco commented on #1776
@mnemanja must be issue with dependency definition on your end then.
[code]

[2017-03-17 13:14] mnemanja commented on #1776
That's some fast response. Thanks! :)

The `remove` and `add` didn't help unfortunately.
Adding catch helped, but the "UnhandledPromiseRejectionWarning:" message is still here.

[2017-03-17 13:21] mnemanja commented on #1776
I wanna state that for me this isn't a blocking problem, just a pesky one :)

[2017-03-17 14:02] spwh opened #1841 "fsevents@1.0.17 install"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?

Many errors, especially related to "missing modules", are due to npm bugs.

If you're using Windows, [follow these instructions to update npm](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows).

If you're using OS X or Linu

[2017-03-17 14:59] gaearon commented on #1841
I’m closing because you completely ignored the issue template and didn’t specify any information. Sorry!

[2017-03-17 14:59] #1841 closed

[2017-03-17 15:02] shaunwallace commented on #1709
@Timer if @wordofchristian hasn't picked this up, then I can have a go.

[2017-03-17 15:48] wordofchristian commented on #1709
@shaunwallace we'll see who get's there first 🐎

[2017-03-17 15:53] Timer commented on #1776
If the problem persists after that, please run `npm ls detect-port` and we can see what version[s] are installed.
Be sure **not** to use `yarn ls detect-port`, as it's buggy.

[2017-03-17 15:55] Timer commented on #1709
Please don't make this a race. 😅 You two can work together!

[2017-03-17 15:56] mnemanja commented on #1776
@gaearon
Thanks,
removing node_modules completely and installing all the dependencies fixed the issue for me.

[2017-03-17 15:58] shaunwallace commented on #1709
@wordofchristian by all means you're welcome to make the amends 😃 . If you want to collaborate then let me know.

[2017-03-17 16:00] wordofchristian commented on #1709
@shaunwallace Sounds good. If you want we can split it in half then re-confer / make edits.

[2017-03-17 16:01] Timer commented on #1709
Have fun guys. 😉

[2017-03-17 16:07] gaearon commented on #1776
Looks like we need to bump `detect-port` to 1.1.1: https://github.com/node-modules/detect-port/pull/16#issuecomment-287391497

PR, anyone?

[2017-03-17 16:21] wordofchristian commented on #1709
I have a fork with a small amount done. https://github.com/wordofchristian/create-react-app/tree/document-eslint-rules I've added you as a collaborator @shaunwallace to make things go faster. We should make lots of small commits to keep it fresh.

@Timer what's the merge policy like? Is this going to end up as one big squash commit without proper attribution?

[2017-03-17 16:27] Timer commented on #1322
The majority happens [here](https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L83-L120). Basically, webpack creates a bunch of express routes for our assets using the provided output path. e.g. `/static/js/bundle.js`, `/static/assets/etc.ext`.

Note that fs is inherited from the middleware, which, isn't a real filesystem. See [here](https://github.com/webpack/webpack-dev-midd

[2017-03-17 16:31] gaearon commented on #1322
Right. But where does `build` figure in that? The paths are `/static/...` and don’t reference the `build` directory.

[2017-03-17 16:33] Timer commented on #1322
Oh, I meant to edit that `build/` part away. At the time I was using the terminology "served from `build/`" to refer to the `/static/{js,assets,css}/*.ext` etc structure

[2017-03-17 16:45] Timer commented on #1709
Hmm ... I realize this is a sticky situation and I'm not sure if we have a formal process for this.
It might be best if you each just choose half of the list and begin documenting there [in separate PRs].

You might want to do the reorganizing *first* so that merges can happen cleanly.

But yes, it will end up as one squash commit, but we can talk about maybe making it two if you both work on the

[2017-03-17 16:49] wordofchristian commented on #1709
Cool, I think splitting in half is the way to go. I continue with my small commit strategy and squash them down when it's done.

[2017-03-17 17:33] Arvin6 commented on #800
@viankakrisna , Surely. My problem wasn't really proxy. It was because I didn't use full URL in proxy at package.json. It needs to be 'http://localhost:[your port]' . And the other problem was that I didn't jsonify the response. I was parsing the response as is. So, adding a `(response) => response.json()` solved my problem. If you still had the problem, direct us to your repo.

[2017-03-17 18:27] gaearon commented on #642
No, it's not possible.

[2017-03-17 19:37] gavinwahl opened #1843 "0.10 prerelease with webpack 2 increases bundle size"
On a newly created empty project and react-scripts@0.9.5, I get these bundle sizes for the production build after running `yarn run build`:

[code]

After upgrading to the 0.10.0 alpha (328cb32e), I get:

[code]

I expect the bundle size not to increase after upgrading. In my production project, I get an even larger increase:

[code]

[2017-03-17 19:39] Timer commented on #1843
https://github.com/webpack/webpack/issues/4493

[2017-03-17 19:57] gavinwahl commented on #1843
0.9.5:
![0.9.5](https://cloud.githubusercontent.com/assets/421710/24060486/06eb4db8-0b19-11e7-827b-31e18a37d477.png)

0.10.0:
![0.10.0](https://cloud.githubusercontent.com/assets/421710/24060415/c3597840-0b18-11e7-8282-ee96849428d7.png)

Now I'm confused...source-ma-explorer is reporting the 0.10.0 as smaller...maybe it got less compressible?

[2017-03-17 20:15] Timer commented on #1843
Interesting... I wonder if webpack 1 vs 2 have different versions of uglify and there was a regression on that front...

[2017-03-17 20:21] anyayunli commented on #1795
we want to control webpack and all other config, please put them explicitly

[2017-03-17 20:21] Timer commented on #1843
Maybe the default configuration changed, can you try some of the options in https://github.com/facebookincubator/create-react-app/issues/1644? You can edit the config file in your node_modules.

[2017-03-17 20:25] gaearon commented on #1843
I'd be surprised if it was Uglify. I suspect some polyfill we happen to bundle (e.g. process) got larger, something changed at module boundaries, or some pattern got harder to uglify (e.g. something that used to repeat in Webpack 1 is now unique every time defeating compression in Webpack 2).

Need to look at minimal bundles from both. Also at minimal bundles *without* React for both.

[2017-03-17 20:26] gaearon commented on #1795
@anyayunli If you'd like control over configs, run `npm run eject` and you have it. This issue is not related to that.

[2017-03-17 20:32] langpavel commented on #1795
This is about inexperienced developers. It can be limited only by more educational examples and strict rules for opening issues.

[2017-03-17 20:35] langpavel commented on #1795
And more visible dedicated site for users, stack overflow is not enough

[2017-03-17 20:45] langpavel commented on #1795
No, really not. You are experiencing success, you only need way to fastly redirect people from Github to more general discussion about when they should eject!

[2017-03-17 20:48] Timer commented on #1795
Optimally, we want people **not** to eject. I feel like there's way too many small things people eject for that's accomplishable without ejecting (e.g. using `sass-loader`).

[2017-03-17 21:01] langpavel commented on #1795
So, this can be statistically observed. You can inject some questionary into eject command with helpful links. This is task for @cpojer like person:-)

[2017-03-17 21:12] Timer commented on #1795
@gaearon what about something like this?
![](http://g.recordit.co/M5HwJAIJLZ.gif)

[2017-03-17 21:21] langpavel commented on #1795
Nice, but not enough. It will works BUT you are not providing hint. When you run eject, it should ask you why you need eject providing most relevant information. No way back after. That's ok, but warn about they are not supported by this awesome toolkit any more..

[2017-03-17 21:29] gaearon commented on #1795
I’d like us to first look into why this breaks CRA. If there's a version conflict, `react-scripts` should use its own version of `webpack`. We should fix whatever breaks so that outer version of `webpack` is just ignored. We can optionally warn on top of that but first we should fix the breakage.

[2017-03-17 21:40] gaearon commented on #1837
How does this compare to CSS minification we already do via `style-loader`?

[2017-03-17 21:41] gaearon opened #1844 "Warn about duplicate dependencies"
I haven’t tried this plugin, but it looks cool: https://github.com/darrenscerri/duplicate-package-checker-webpack-plugin.

Maybe we should do it?

[2017-03-17 21:50] langpavel commented on #1795
Different idea. Can you hook yarn with CRA? For example as preinstall, pre-add in package.json. I know, this is something new! But this is in your possibilities!
Or you can create recommended way to install new dependencies with CRA specific cli tool, promote it and drive mainstream. This will give you less observable force than patching yarn. Controversial but, hey, look at real people!

[2017-03-17 21:53] gaearon commented on #1795
We already use Yarn when it’s installed. It doesn’t solve the problem though.

[2017-03-17 22:06] langpavel commented on #1795
Yarn hook which will dog watching what you want add

[2017-03-17 22:14] langpavel commented on #1795
It's entire new space not possible today. Yes you can give recommendations only..:
You just installed package xyz. Did you consider this way? Http....

[2017-03-17 22:24] langpavel commented on #1795
Where this recommendations can be stored? In package.json at first, at remote server specified in package, at hashtag on Twitter.. irc is almost dead but why not.. So first class will be custom scripts. In future this will be there..

[2017-03-17 23:44] Timer commented on #707
Fixed in 0ace417c459dc5f1355f5f9a820c5b847feb4e35.

[2017-03-17 23:44] #707 closed

[2017-03-18 00:05] wordofchristian commented on #1709
Looking at this again it seems that each individual rule is already well explained when you follow the link to the rules docs. Any additional documentation [would mostly be duplicative](https://github.com/wordofchristian/create-react-app/blob/cbfd7c969c291a5ae95f9d467a826bc4e8fd30bf/packages/eslint-config-react-app/index.js#L59-L80).

I did however update this outdated piece. I'll submit a PR with

[2017-03-18 01:28] Olivia101 commented on #1837
@gaearon The existing CS minification doesn't even compare.
Have a look at this [comparison of CSS minifiers](http://goalsmashers.github.io/css-minification-benchmark/)
As you can see `[clean-css](https://github.com/jakubpawlowicz/clean-css)` and `[csso](https://github.com/css/csso)` provide the best CSS minification and speed.
Bootstrap 4 use `clean-css` in their build tool but `csso` would be ju

[2017-03-18 01:39] Timer commented on #1837
Under the covers we use `cssnano` iirc, which seems to keep up based on that comparison page you linked to. Can you show cases that say otherwise?

However, it does seem to boast a significant speed improvement. I'd be interested in an updated form of that website given it's about a year old.

[2017-03-18 03:11] shai32 opened #1846 "Support for react-lite"
I want to decrease the bundle-size by using react-lite.
is there any way, usually I am adding alias  to webpack.

[2017-03-18 04:55] cwalv commented on #1227
If you don't want to have to `npm install --save-dev babel-cli` or create the `babel.rc` file, you can use the babel API:

[code]

[code]

[2017-03-18 08:07] shai32 opened #1847 "Support for standard"
I added standard for syntax
but I am getting error like:
"'it' is not defined."
it can easily fix by adding to [.eslintrc](https://github.com/rlidwka/sinopia/blob/master/test/.eslintrc)
but modifying .eslintrc is not recommended,
what should I do?

[2017-03-18 12:52] kelvinblade opened #1850 "deploying to surge"
Here's what I did:

npm install -g create-react-app
create-react-app surge-test
cd surge-test/
npm run build
surge

              email: kelvinblade@gmail.com
              token: *****************
       project path: /Users/kel/Documents/code/test/reactjs/surge-test/
               size: 18 files, 1.9 MB
             domain: abundant-minute.surge.sh
             upload: [====================] 10

[2017-03-18 13:19] gaearon commented on #1847
We don’t officially recommend Standard and don’t have suggestions for integrating with it. Certain features that CRA supports may not work with Standard. If you want to configure it with ESLint config, please refer to Standard’s documentation on how to do it. This would not be related to CRA’s ESLint config because CRA does not integrate with Standard in any way.

If you just want to enforce style

[2017-03-18 13:19] #1847 closed

[2017-03-18 14:50] shai32 commented on #1847
Do you plan to make Prettier integrated  in create-react-app?

[2017-03-18 15:19] gaearon commented on #1847
Yes, eventually.

[2017-03-18 15:30] gaearon commented on #1850
Yes, you need to specify the `build` folder as project path rather than the project root.
I just made this more prominent in the instructions: https://github.com/facebookincubator/create-react-app/commit/35d84ef0521166f3cc6a1f131d1d9a15403e113c.

Hope this helps!

[2017-03-18 15:30] #1850 closed

[2017-03-18 15:35] gaearon opened #1853 "Don’t break words apart in the error box"
Just noticed the error box is breaking words apart (e.g. "s/newline/tring").
This should not happen.

<img width="1157" alt="screen shot 2017-03-18 at 15 32 41" src="https://cloud.githubusercontent.com/assets/810438/24073502/2ed36df6-0bf0-11e7-948d-1a29b4dee4c8.png">

I also don’t think the error text should be monospace. Makes it a bit hard to read.

[2017-03-18 16:14] Timer commented on #1853
Another thing I noticed is that the app's CSS influences the overlay, so we should look into preventing that (e.g. bootstrap).
Would an iframe accomplish this?

[2017-03-18 16:18] gaearon commented on #1853
Yea, iframe would do the trick (the reason I used iframe for syntax error overlay).

[2017-03-18 19:32] gaearon commented on #1846
`react-lite` is not related to React in any way. It may be intended as a drop-in replacement by its authors but we have no guarantees about how well it works, and don’t endorse using it.

If you want to alias `react` to it, you have to eject (`npm run eject`) and then you can edit Webpack configs. You can use it without ejecting but only if you import from `react-lite` itself.

Hope this helps!

[2017-03-18 19:32] #1846 closed

[2017-03-18 22:47] shai32 commented on #1846
I will never eject, thats the magic of this package, simple and clean.
And with each update, I am getting new and better development setup.
I do hope that the package will be a little bit more configurable (native sass support is my most wanted feature)
Thanks for your fast and well explained answer.

[2017-03-18 22:50] Timer commented on #1846
You can integrate with Saas by following [this section of the docs](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-a-css-preprocessor-sass-less-etc).

[2017-03-19 00:15] mkazantsev commented on #1796
Can easily reproduce this on Windows 10 in Git Bash, as @funderburkjim points out, with latest stable Node and NPM (Node v6.10.0, NPM v.3.10.10).

I think the issue is in what [`program.name()`](https://github.com/facebookincubator/create-react-app/blob/master/packages/create-react-app/createReactApp.js#L69) returns (see [`commander`](https://github.com/tj/commander.js/blob/master/index.js#L446)).

[2017-03-19 01:12] brandonmikeska commented on #1322
@Timer yeah my apologies it was a busy week with releases and family in town. I was doing some research and everything I come across uses the build directory.

This blog shows a way, seems complicated to me, but a way to enable the file editing using chrome. https://medium.com/@rafaelideleon/webpack-your-chrome-devtools-workspaces-cb9cca8d50da#.8l5v85vzd

[2017-03-19 06:52] c0debreaker opened #1855 "What are these warnings?"
Creating a new React app in /Users/neil/repos/NodeJSProjects/random-quotes.

Installing packages. This might take a couple minutes.
Installing react, react-dom, and react-scripts...

yarn add v0.20.3
info No lockfile found.
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
[3/4] 🔗  Linking dependencies...
warning "babel-loader@6.2.10" has unmet peer dependency "babel-core@^6.0.0".
warni

[2017-03-19 07:24] Timer commented on #1855
This is a known bug in Yarn and it will be fixed in the next release. You can safely ignore these for now. See https://github.com/yarnpkg/yarn/pull/2801.

[2017-03-19 07:24] #1855 closed

[2017-03-19 07:26] kelvinblade commented on #1850
Thanks!

[2017-03-19 08:05] shai32 commented on #1846
converting a sass to css, on the background, and have duplicates css files is not something I want to do.
I prefer just to forsake sass.

[2017-03-19 12:22] ArmorDarks commented on #1847
@gaearon Can you be more specific what exactly might not work in CRA if Standard were integrated?

[2017-03-19 13:04] gaearon commented on #1847
I just don’t know if the parser has feature parity. For example I don’t know if Standard works with class properties or Flow.

In any case, manually fixing style issues is the opposite of what we want CRA experience to be like. So is mixing real issues (as reported by ESLint) with style violations.

I really recommend you to check out Prettier if you’re using Standard. I think it fits the task bet

[2017-03-19 13:28] Sharlaan opened #1856 "Object.entries() not babelified"
`yarn build` (`react-scripts build`)
doesnot babelify `Object.entries`

not sure if CRA is using `babel-preset-env`, but Safari10 still doesnot support  `Object.entries` yet.

Suggestion:
Add `transform-object-entries` plugin to `babel-preset-env`

versions:
global: `create-react-app@1.3.0`
local: `"react-scripts": "^0.9.5"`

[2017-03-19 13:33] ArmorDarks commented on #1847
That's what troubles me the most. I thought team has made some research before taking solution into core of `create-react-app`.

It works, through flow eslint plugin.

ESLint and Standard have great function hidden under `--fix` flag, which does relatively same thing, so you won't need to fix lint errors manually. However, it does much less work on code formatting field, and much better work in li

[2017-03-19 13:41] gaearon commented on #1847
I am talking specifically about Standard which is **not** in the core and is the tool I am suggesting **not** to use. Because we can't control which parser features it enables in ESLint and whether they match our set.

It doesn't do the same thing in practice. Please refer to Prettier README which explains the difference very well.

I'm sorry you are unhappy. I think Prettier README also describes

[2017-03-19 13:42] kunokdev opened #1857 "Disable eslint warning on render method in component class"
I find it kinda annoying to add inline comments to disable warnings on each class methods. Is there a global setting for disabling eslint on `no-unused-vars` ?
I tried changing `no-unused-vars` to `false`, `0`, `"off"`, neither worked. Any solution?
[code]
I don't really need any fix or workaround for this, I just want to disable it or eslint overall because I just can't handle this:

![screenshot

[2017-03-19 13:57] gaearon commented on #1856
As mentioned in "supported language features and polyfills" in the User Guide we currently only polyfill `Object.assign`, `fetch` and `Promise`, and we do so with global polyfills.

We don't include transforms like you suggested because they don't cover all cases anyway. It is especially confusing if some APIs happen to work, like `Object.entries`, but others don't, like `"".includes()`. Or if onl

[2017-03-19 13:57] #1856 closed

[2017-03-19 15:29] mrhyde commented on #1847
@shai32 you just need to add this line `/* global it */` to test files like `App.test.js` or edit `.eslintrc` in your project, that is exactly what it was made for. And don't listen to Dan, CRA works fine with standard

[2017-03-19 15:45] ArmorDarks commented on #1847
Actually it would be better to add `/* eslint-env jest */`

[2017-03-19 16:02] ArmorDarks commented on #1847
Standard allows definition of parsers through ESLint-like configuration. It isn't and issue, it doesn't enforce nothing, except linting rules.

Please, read Standard readme.

After giving it a better though, I think we are missing a point here.

Prettier enforces style formatting only, it doesn't lint. For this purpose CRA already uses ESLint. Standard is exactly set of standardized and widely acc

[2017-03-19 16:07] ArmorDarks commented on #1847
As a side information, despite being ESLint-based solution, Standard is much more capable in terms of lint rules enforcement and `--fix` formatting than ESLint, and there is quite great community stands behind Standard rules compilation.

Since CRA has very large impact on community decision, it would be _way better_ if CRA will embrace Standard and participate in its further development of JS sta

[2017-03-19 16:11] gaearon commented on #1847
I'd be happy to consider this if it didn't include style rules and would be open to considering React-specific rules. I don't think either would happen though.

[2017-03-19 16:21] gaearon commented on #1847
If I read through http://standardjs.com/rules.html, a very large portion of these are indeed style rules. And Standard calls itself a "JavaScript style". I don't think it's fair to say it complements Prettier—it targets the very same niche, but is very opinionated.

Our ESLint integration is invasive on purpose. We want to highlight potential mistakes so we print warnings in terminal and console.

[2017-03-19 16:22] ArmorDarks commented on #1847
I don't think those really matters. Both encouraging best practices, and if someone will change format after another, nobody will die

Anyway, it is more a matter of decision, whant CRA embrace it or no, other things are solvable. I think it is possible to direct Standard and Prettier communities to find compromise and work together. But it definitely won't work if we will continue that war and ta

[2017-03-19 17:18] mrhyde commented on #1847
@ArmorDarks `eslint-env` is to set a predefined globals, there is no such thing as `eslint-env it` [see](http://eslint.org/docs/user-guide/configuring#specifying-environments)

[2017-03-19 17:47] mrhyde commented on #1847
Ok, allow me to jump on this discussion train with simple statements:

ESLint - let you know when you f**ked up
Standard - that, and will show you how not to do that in the future (best practice enforcement)
Prettier - format your code taking in consideration **the maximum line length** (yep, is that useless)

Now if you want to have a marry this two things and have a nice and happy life - people

[2017-03-19 17:47] gaearon commented on #1847
"Nobody will die" is not how we make decisions in this project. 😉 As I already explained, I don't think Standard's goals (enforce style via sometimes autofixable warnings) match our goals (use linting to find bugs, and enforce style completely automatically with regards for line width).

I already mentioned this before, but Prettier README explains very clearly why *its approach would not even be

[2017-03-19 17:47] valscion opened #1858 "Allow analysis of generated bundle and dependencies"
This issue is a continuation from the [Twitter thread](https://twitter.com/valscion/status/843387109272698880) discussing usage of [webpack-bundle-analyzer](https://github.com/th0r/webpack-bundle-analyzer) with CRA.

`webpack-bundle-analyzer` can be used either as a CLI, providing it the `stats.json` webpack JSON output _and_ the built files. With these, we are able to:

1. Show the sizes of each

[2017-03-19 17:49] valscion commented on #1858
Ideally this wouldn't require any changes to the CRA code, but I don't think that is possible. We'd need to at least get our hands on the `stats.json` that webpack can output if ran with the `--json` flag.

Are we able to come up with some way of gaining access to the module stats from the outside, or would it fall under the category of providing configuration and being excluded from CRA?

[2017-03-19 17:50] gaearon commented on #1847
I think this is at the root of our mutual misunderstanding in this issue. What are the "best practices" that Standard enforces but our ESLint configuration doesn't? I'll be happy to consider adding these valuable rules to our config. Can you share a few examples?

[2017-03-19 18:54] Bodo1445 opened #1859 "App"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?

Many errors, especially related to "missing modules", are due to npm bugs.

If you're using Windows, [follow these instructions to update npm](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows).

If you're using OS X or Linu

[2017-03-19 19:12] c0debreaker commented on #1855
Thanks!

[2017-03-19 19:15] #1859 closed

[2017-03-20 04:42] Olivia101 commented on #1837
@Timer

I could't see `cssnano` used anywhere.

I generated the report on my Windows 10 machine
![css minification benchmark results](https://cloud.githubusercontent.com/assets/4064582/24088492/e4a88c06-0d8f-11e7-8aa8-826c8de6442e.png)

I also compiled the Bootstrap 4 SASS files using CRA and the CSS file size was 143,604 bytes

[2017-03-20 05:38] evenchange4 commented on #1703
How about using try-catch so that we can handle it safely in development mode?

[code]

[2017-03-20 09:43] monsterooo commented on #1735
Restart my computer, it works~ try ~

[2017-03-20 12:09] Andreyco commented on #1776
cc @gaearon PR opened #1861

[2017-03-20 12:58] flyg101 commented on #800
For those having this problem, add http:// to the proxy entry in package.json thus
` "proxy": "http://localhost:3001" `

[2017-03-20 15:18] Timer commented on #800
If someone wants to send a PR requiring `^http(s)?:\/\/`, that'd be great!

[2017-03-20 15:32] Timer commented on #1826
@rmccue would you like to send a PR fixing this? 😄

[2017-03-20 15:38] Timer commented on #1796
Looks like we can explicity pass a name by changing https://github.com/facebookincubator/create-react-app/blob/master/packages/create-react-app/createReactApp.js#L26 from `commander` to `new commander.Command(name)`.
We can fetch the name from `package.json` or similar.

[2017-03-20 16:28] gavinwahl opened #1864 "jsdom not set up while while importing during tests"
### Description

My code, at module level, calls draft-js methods that require a DOM implementation. eg:

[code]

`convertFromHTML` is the draft-js method to parse an html string and turn it into their internal content model. It depends on calling `document.implementation.createHTMLDocument`, which seems not to exist while loading tests. It does exist while actually running the tests though.

###

[2017-03-20 16:30] gaearon commented on #1864
I’d appreciate if somebody could look into this and maybe file an issue in Jest repo. I’m not sure if this is a bug, or intended behavior.

[2017-03-20 16:30] gaearon opened #1865 "Fix AppVeyor CI"
It’s been broken for a few days.
You can look at CI failures in all recent PRs and try to figure out what happened.

[2017-03-20 17:06] Timer commented on #1865
The lerna team mentioned there may be async contention issues on Windows, maybe we can try setting the `concurrency` flag to `1` for AppVeyor.

[2017-03-20 22:05] mkazantsev commented on #1796
Good idea, thank you @Timer. Create a PR with a change that does exactly that. Please let me know what you think.

[2017-03-20 22:50] darrenscerri commented on #1864
`convertFromHtml` returns null for an empty string. Changing the argument to a non-empty string will make the test pass.

[code]

[2017-03-20 23:19] darrenscerri commented on #1865
@Timer, setting concurrency to 1 didn't fix the issue (#1868)

[2017-03-20 23:44] jagregory commented on #922
@gaearon Do you know which Jest version that function is available? I'm using CRA 0.9.5, which has Jest 18.1.0, and I'm getting `undefined function` for `expect.addSnapshotSerializer`.

[2017-03-21 00:01] gavinwahl commented on #1864
That's really weird. In my production project, `convertFromHTML('')` only returns null during tests, not when the application is running. I'll look into this further.

[2017-03-21 00:12] Timer commented on #1865
You set the concurrency for AppVeyor, the flag I was referring to was a flag you need to pass to Lerna itself. 😄

[2017-03-21 00:18] darrenscerri commented on #1864
Try this out:

[code]

[2017-03-21 00:19] Timer commented on #922
Looks like `addSnapshotSerializer` was added in Jest 19 which will be out in one of our 0.10 alpha releases, and (for sure) the stable.

[2017-03-21 00:39] darrenscerri commented on #1865
Sorry, my bad! Added the concurrency flag to Lerna commands. Will check if this fixes the AppVeyor issue, if yes, will add logic to enable this flag only on AppVeyor to avoid unnecessary slowdowns otherwise.

[2017-03-21 00:58] darrenscerri commented on #1865
Setting concurrency to 1 on Lerna still didn't fix the issue unfortunately

[2017-03-21 00:59] Timer commented on #1865
I believe it may have fixed the erratic failures, but the `curl is not found` is a new error.

[2017-03-21 01:02] Timer commented on #1865
Looks like it's a known problem, AppVeyor updated Git and this regressed, see https://github.com/appveyor/ci/issues/1426.

[2017-03-21 01:40] alexblack opened #1870 "Source maps with Rollbar"
We're using Rollbar for error reporting, and would love to see useful stack traces there.  I think to do that we need to upload the source map file that create-react-app generates with a version string, then reference that same version string in the source.

It seems like the best version string to use would be the unique value on the js filename, I imagine thats a hash?

Is there anyway to inject

[2017-03-21 01:57] Timer commented on #1870
You can use environment variables to accomplish this and then modify your build command.
I haven't actually tested this, but it should work in theory + fixing any syntax errors:

[code]

Modify `package.json`:
[code]

See https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-custom-environment-variables for more information.

You could u

[2017-03-21 03:07] alexblack commented on #1870
That works great, thanks!

[2017-03-21 03:53] alexblack commented on #1870
On further inspection, it works on my machine, which has git repo, doesn't work when building on Heroku.

Is there any way to get access to the hash value put in the js and css static filenames?

[2017-03-21 04:05] Timer commented on #1870
You can run `heroku labs:enable runtime-dyno-metadata -a <app name>` and then use one of these variables:
[code]
HEROKU_RELEASE_VERSION or HEROKU_SLUG_COMMIT is what you'd want.

[2017-03-21 04:07] alexblack commented on #1870
Thats super helpful. Though, I am lost on how to put this all together.

[2017-03-21 04:08] Timer commented on #1870
Can I see your package.json?

[2017-03-21 04:10] alexblack commented on #1870
I imagine this is the relevant part?

[code]

[2017-03-21 04:11] Timer commented on #1870
Indeed, but it's missing what I thought might be there. Where are you doing the build step? Your Procfile?

[2017-03-21 04:11] alexblack commented on #1870
I'm not 100% sure, working with a colleague on this.  We have a build pack specified

[code]

[2017-03-21 04:18] Timer commented on #1870
Ah that complicates things. I was going to suggest using `heroku-postbuild` but I don't think you can with that buildpack. You could try it, where it'd be a copy of your build command except `REACT_APP_GIT_SHA=$HEROKU_SLUG_COMMIT `.

Alternatively, you can use the official way with that buildpack in mind. See https://github.com/mars/create-react-app-buildpack#compile-time-configuration.

[2017-03-21 04:18] alexblack commented on #1870
Trying this

[code]

[2017-03-21 04:20] Timer commented on #1870
`${HEROKU_SLUG_COMMIT:-`git rev-parse HEAD`}` might work, and would be your **best** solution.
Once again, I'm no shell expert -- but I'm glad you figured that shell snippit out. :)

[2017-03-21 04:22] Timer commented on #1870
I think it might need to be `$HEROKU_SLUG_COMMIT`, not `HEROKU_SLUG_COMMIT`.
Let me know how it goes!

[2017-03-21 04:47] alexblack commented on #1870
Thanks for the help here.  Its close, but so far not happening.  If, after a successful build, I `heroku run bash`, then I can run `echo ${HEROKU_SLUG_COMMIT:-`git rev-parse HEAD`}` and get the correct result.

But during builds, it fails, or after a failing build.  Seems like `HEROKU_SLUG_COMMIT` isn't set until after the build, from what I can tell.

[2017-03-21 05:16] Timer commented on #1870
Ouch!
You might need to use https://github.com/mars/create-react-app-buildpack#compile-time-configuration and do a truthy or in your JS code.

[2017-03-21 05:19] Timer commented on #1870
Ah wait it's not prefixed correctly.
Hmm. I'm in bed now sorry for the terse responses.

You could add a git commit hook that updates a file with the current SHA. I'm running out of ideas here.

I'll reopen this if anyone else has input.

[2017-03-21 07:59] shai32 opened #1871 "add support to webstorme"
webStorm support native jest
![image](https://cloud.githubusercontent.com/assets/16700996/24137523/cfef7d96-0e1c-11e7-806d-10ccdf8145ef.png)
but when I run yarn test, I see all the tests in the terminal.
Is there any way to integrate the testing with webStorm?
it's much more convenient to use the webStorm Gui to see the errors

[2017-03-21 09:14] GreenGremlin opened #1872 "Error when installing the alpha release of react-scripts"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

In preparation for the next release, I'd like to install the alpha version of react-scripts.

Install the alpha release, run `npm install react-scripts@0.10.0-alpha.f55d2212`.

### Expected behavior

Should install without error.

### Actual behavior

Error:

[code]

This error

[2017-03-21 09:27] AJamesPhillips commented on #1843
I don't know if it's useful but I marked up a few of the differences on 0.10.0.  lodash appears to be included twice (two large purple boxes), I'm not certain what's going on there.  Generally all parts in 0.10.0 are smaller by up to a couple of kb but there were some exceptions (significant decrease (green), no change (blue), increase(red)) and some name changes from `lib` to `es` or `Nnn` to `Nn

[2017-03-21 11:47] gaearon commented on #1872
Yep, that alpha is botched. There's another one that works though.
I don't want to post it here because then more people will find it but it's not stable enough 😉
But if you know how to use `dist-tag`, you'll find it.

[2017-03-21 11:47] #1872 closed

[2017-03-21 12:30] Timer commented on #1872
Perhaps `npm deprecate react-scripts@0.10.0-alpha.f55d2212 "There is a new version available. Please install it."`

[2017-03-21 13:40] gaearon commented on #1872
I unpublished it.

[2017-03-21 16:24] gavinwahl commented on #1864
Pretty sure this is a jsdom bug tmpvar/jsdom#1779. Thanks a lot for that jsdom code, I couldn't figure out the setup code to reproduce it node.

[2017-03-21 16:24] #1864 closed

[2017-03-21 17:03] GreenGremlin commented on #1872
Great! Thanks @gaearon!

[2017-03-21 17:40] chrisdrackett opened #1873 "How do you find the current port being used by the dev server?"
If you happen to close the browser window that the `start` command opens I'm not sure of a way to find the current port without restarting the server. Might be nice to put it somewhere in the console output after the server has started.

[2017-03-21 18:10] gaearon commented on #1873
It should be in the terminal output when you start the server.
Can you screenshot your terminal output?

[2017-03-21 19:27] gaearon commented on #1871
cc @prigara, anything we can do on our side?

[2017-03-21 21:10] prigara commented on #1871
This new run configuration for Jest can only run Jest directly. In create-react-app, unfortunately for WebStorm, Jest is run via a wrapper script `react-scripts/scripts/test.js`. If it were possible to do the same but with running `jest` with some environment variables, configs and CLI options, that would help us.
Specifying the path to test.js instead of the path to Jest in the run configuration

[2017-03-21 21:55] kellyrmilligan commented on #527
@Timer I have what I think is an interesting use case. i'm running my dev environment in vagrant, and proxying create react app running locally on my host os(os x). I would like to have the local paths be relative as well, so something like if homepage was set to `http://www.example.com/cra`, and for builds this sets the path to `/cra/static/bundle.[hash].js`.

is there a way to have it set the pa

[2017-03-21 22:03] ztotta opened #1875 "react-scripts-build => 'navigator is not defined'"
Attempting to build & deploy to gh-pages, but it's failing at 'react-scripts-build', throwing 'Module build failed: ReferenceError: navigator is not defined'. It appears to be coming from App.css, but I can't find what 'navigator' is referring to in the first place.  Do you know what 'navigator' refers to and what could be causing this?

Here's the commit of the project at this point: https://gith

[2017-03-21 22:48] darrenscerri commented on #1875
Remove the line https://github.com/ztotta/Portfolio/blob/e7ec3e6abc19bb9f6761aa755287b4db0d8aa195/src/App.css#L162 (App.css:162)

There is an empty URL which is trying to be resolved. I agree though, the error is quite cryptic.

[2017-03-21 23:07] ztotta commented on #1875
Thank you!!!

[2017-03-21 23:54] gaearon commented on #1875
Wow, that error is super confusing.
Let's reopen until we file a bug in `style-loader` (or whatever is generating this).

[2017-03-21 23:56] gaearon commented on #1875
Tagging as up for grabs. The follow up item here is to create a minimal reproducing case with just Webpack (no CRA) and file a bug in the appropriate project (it's likely either `style-loader` or `css-loader`).

[2017-03-21 23:57] gaearon commented on #1582
This is up for grabs—please feel free to contribute the implementation.

[2017-03-21 23:59] gaearon commented on #1865
Great job nailing it down.

[2017-03-22 00:00] gaearon commented on #527
You probably want https://github.com/facebookincubator/create-react-app/issues/1582, although even that wouldn't let you run multiple servers on one port I think.

[2017-03-22 00:01] gaearon commented on #1871
Is there any reason WebStorm can't recognize `react-scripts test` as another way to run Jest? We're not going to change Jest to anything else so it should be safe to extend integration to support that. Or are there other technical challenges here?

[2017-03-22 00:03] darrenscerri commented on #1865
Unfortunately that is just for the `master` branch, `0.9.x` is still failing.

[2017-03-22 00:04] gaearon commented on #1865
Can we cherry pick the same fix there?

[2017-03-22 00:04] darrenscerri commented on #1865
I actually cherry-picked the fix from `0.9.x`. There is something else going on in that branch.

[2017-03-22 00:06] gaearon commented on #1865
Let's keep it open for now then

[2017-03-22 00:11] alex-pex commented on #1469
I have a similar need : static configuration folder with nested key => values.

I'm currently using [nwb](https://github.com/insin/nwb), with webpack + [node-config-loader](https://www.npmjs.com/package/node-config-loader). It works great, and support [a lot of file and formats](https://github.com/lorenwest/node-config/wiki/Configuration-Files).

I configured a "config" alias to the .configloaderr

[2017-03-22 02:01] darrenscerri commented on #1875
Ok finally found out what the problem is. Webpack is trying to load `''` from `./src/App.css`, and and resolves it to `./src/index.js`. Webpack, for some reason, then proceeds to execute all the code found in this file and its dependencies which finally crashes due to being in strict mode when trying to load `react-responsive-sidebar` and `navigator` is not defined (https://github.com/gregchamberl

[2017-03-22 04:13] Timer commented on #1559
Released in WP 2.3.0.

[2017-03-22 04:15] RoarkeRandall opened #1878 "Compilation error occurs for "use" tag w/ xlink:href attribute"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?

I'm using the latest yarn version, yes it is reproducible.

### Description

Using `<use xlink:href="#icon-1"></use>` (inside an svg tag) in a jsx render function will cause a an error. This is likely an error in the transpiler but I'm not sur

[2017-03-22 04:22] Timer commented on #1878
You need to use `xlinkHref`, not `xlink:href`. 😄

[2017-03-22 04:25] RoarkeRandall commented on #1878
Good call, lol. Also, lol @ my formatting.

[2017-03-22 04:26] Timer commented on #1878
Is
[code]

the error produced when an error like this is made? That seems quite confusing ... Did you happen to copy the wrong thing?

[2017-03-22 04:32] chrisdrackett commented on #1873
I have some warnings, maybe its only shown if you have no warnings? I know I've seen it in the past...

also, maybe I should get around to fixing these warnings ;)

https://cl.ly/0B1k0e1C2B0h

[2017-03-22 04:45] RoarkeRandall commented on #1878
Yes, that error message was copy pasted correctly. By changing `xlink:href` to `xlinkHref` the error went away.

[2017-03-22 04:46] Timer commented on #1878
I'm going to reopen this so we can take another look at it.

[2017-03-22 04:50] Timer commented on #1835
I believe we agreed to go forward with this.
Can you please submit a PR removing the rules? Thanks!

[2017-03-22 07:50] vikasaditya commented on #800
Will do it by tomorrow

[2017-03-22 07:51] bunshar commented on #800
I am taking this

[2017-03-22 10:26] viankakrisna commented on #1582
For the cookie thing you need to have same top level domain. So the workaround is setup nginx server locally that maps the pathname to the devserver with a same top level domain. (haven't tested it, but that's the best solution i can think of)

The simpler way is to have cra generate development bundle and include it in your app.
There's a pr open for that in https://github.com/facebookincubator/c

[2017-03-22 10:27] vaske commented on #1836
@gaearon v3.10.5
Sure will try that in next days, I hope..

[2017-03-22 12:31] gaearon commented on #1836
This is why I said you didn't follow the issue template.

The issue template specifically says to install the newest version of npm and retry with it.

[2017-03-22 12:32] gaearon commented on #1875
So what is the next step here? Is this supposed to be fixed in Webpack? Should we file another issue?

[2017-03-22 13:19] kellyrmilligan commented on #1582
Should this work happen off of master? Or the 0.10 release?

[2017-03-22 13:28] kellyrmilligan commented on #1582
I see there is not a 0.10 release branch sorry my bad.

[2017-03-22 14:11] shimaa-samir commented on #1836
I have the same issue when deploying react app to heroku , any one know how to fix it ?

[2017-03-22 14:11] philjoseph opened #1879 "Proxy error: Could not proxy request (ENOTFOUND)"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?
Yes - npm 4.4.1

Many errors, especially related to "missing modules", are due to npm bugs.

If you're using Windows, [follow these instructions to update npm](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows).

If you're us

[2017-03-22 14:32] caesarsol commented on #1844
Do you have any idea on what to suggest users to deduplicate their dependencies?

Often it's difficult to resolve due to dependencies of dependencies...

[2017-03-22 14:54] kellyrmilligan commented on #1582
I have some of this working locally now. I am not sure all the cases to test though.

[2017-03-22 15:32] kellyrmilligan opened #1880 "Updating app.js causes webpack dev server to report error and then reload the page"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?
yes

Many errors, especially related to "missing modules", are due to npm bugs.

If you're using Windows, [follow these instructions to update npm](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows).

If you're using OS X or

[2017-03-22 15:34] kellyrmilligan commented on #1880
this is only if in chrome I have pause on exceptions turned on. otherwise it reloads the page.

[2017-03-22 15:36] darrenscerri commented on #1875
Thought this issue was fixed for Webpack ^2.1.0 but apparently this is only fixed for specific `require` calls. `css-loader` and `extract-text-webpack-plugin` both seem to have related issues. Filed issues here:

https://github.com/webpack/webpack/issues/4541
https://github.com/webpack-contrib/css-loader/issues/462
https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/465

This is

[2017-03-22 15:52] syn3r6y opened #1881 "IE11 trailing comma issue in bundle.js"
Getting an error regarding line 965 of bundle.js, because of a trailing comma.

![image](https://cloud.githubusercontent.com/assets/8658751/24206416/c498cc5a-0ee3-11e7-88e0-8b174015c0b6.png)

I took a screen of this on my VM. Basically, the app works fine on most browsers, but on my IE11 VM, it freaks out because of this trailing comma. It's under the 'ansi-html/index.js' module - I'm not entirely

[2017-03-22 16:11] kellyrmilligan commented on #1582
in testing, I created a new issue:
https://github.com/facebookincubator/create-react-app/issues/1880

couldn't see in the issues well enough if this was reported or not, but I found similar issues reported as well on just webpack dev server.

[2017-03-22 16:38] prigara commented on #1871
At this specific moment it's implemented the way that it can only recognize and run Jest itself.
Today we tested whether we can run `react-scripts test` instead, but it didn't work: `react-scripts test` passes a config to Jest and so does WebStorm; with 2 `--config` flags everything breaks.
That will be fixed, when we transition to `jest-editor-support`. We don't have ETA for that, may be some tim

[2017-03-22 17:16] Timer commented on #800
Okay, awesome!

[2017-03-22 17:31] Timer commented on #1881
Please follow the issue template. It's there for a reason. 😉

[2017-03-22 17:36] gaearon commented on #1881
Please also verify whether the problem exists in a newly created project with `react-scripts` since `react-scripts-ts` is a fork and we don‘t know how up to date it is.

[2017-03-22 17:44] gaearon commented on #1880
This is probably by design in Webpack, but maybe we could ask them to not use exceptions there.
You can work around it by right clicking on the line and choosing "never pause here".

[2017-03-22 17:44] gaearon commented on #1875
Cool, I'll close our issue then. Thanks for following up.

[2017-03-22 17:44] #1875 closed

[2017-03-22 17:47] gaearon commented on #1871
Thanks for looking into it. What config options does WebStorm need to pass? We could merge them on our side.

Sounds like a plan. 👍

I actually don't know. I haven't looked into Node debugging for a while because Jest was waiting for some Node bugfix which I don't know whether it landed or not. But if Jest supports it, so should we.

`react-scripts test TestName` should probably work, although it'

[2017-03-22 17:56] #1818 closed

[2017-03-22 18:20] adrianoresende opened #1882 "Preprocessor does not compile when I create .scss file"
I installed preprocessor `node-sass` and this worked perfect but does not compile another new files.
How do I fix this when create a file inside `src` and compile this file without restart` watch-css`?

[2017-03-22 18:23] kellyrmilligan commented on #1880
Sounds good to me. I'm not sure though if that would sometimes hide actual errors.

[2017-03-22 18:45] gsarpy commented on #660
@mchandleraz thank you! This resolved it for me. When I create directories/files in Atom this seems to happen periodically, but when I make new files/dir through command line, it's not an issue.

[2017-03-22 18:58] shai32 opened #1883 "support for jest-enzyme 3"
Can you still reproduce it?
yea

What are you reporting?
create-react-app fail when using jest-enzyme version 3 and above
it fails on the line import 'jest-enzyme';

Tell us what you think should happen.
it should work

Tell us what actually happens.
it shows an error

### Environment
react-scripts 0.9.5
node 7.7.4
npm 4.1.2
1. Operating system:
mac os
2. Browser and version:
chrome 57

it fails b

[2017-03-22 19:03] Timer commented on #1883
This will be out in 0.10, for now, use an older version of `jest-enzyme`.
See https://github.com/facebookincubator/create-react-app/issues/1604.

[2017-03-22 19:03] #1883 closed

[2017-03-22 21:31] syn3r6y commented on #1881
Alright, sorry for missing the template guys. I've tried this with a fresh copy of CRA, with no scripts or any changes to the default CRA app, still producing the same issue.

react-scripts@0.9.5
npm - 3.10.10
node - 6.9.5

OS - IE11 VM from Microsoft
IE Version - 11.0.9600.18618

[2017-03-22 21:57] segrey commented on #1871
@gaearon

Since currently WebStorm integrates with jest via `--setupTestFrameworkScriptFile`, it needs to disable transforming it using `transformIgnorePatterns`. It is done by passing whole jest configuration as `--config=<JSON>`, e.g.:
[code]
In case of `create-react-app`, where no external jest configuration is expected, only these two JSON keys will be passed.

[2017-03-22 23:28] gaearon commented on #1881
Tagging up for grabs. Need to find why the package has a trailing comma and maybe file an issue with the package or use an alternative.

[2017-03-23 00:02] Timer commented on #1881
I looked at the package and didn't see the comma, so this was weird to me.

[2017-03-23 00:04] Timer commented on #1881
The comma was removed in v0.0.6 and newer.

[2017-03-23 00:36] Timer commented on #1661
This should already be fixed in the 0.10 alpha, can someone please confirm?

[2017-03-23 00:40] Timer commented on #1661
This was fixed in the 0.10 alpha. I backported it to 0.9.x via #1884.

[2017-03-23 00:46] #1661 closed

[2017-03-23 00:56] Timer commented on #751
@alamgird I'm going to open this back up unless if you are still interested in working on it.

[2017-03-23 02:54] shenders13 commented on #659
@s-ilya's advice worked for me.

`sudo npm uninstall -g create-react-app`
`sudo npm uninstall -g webpack`
Delete repo locally
`sudo npm install -g webpack`
`sudo npm install -g create-react-app`
`git clone [insert repo url]`
`cd into repo`
`npm start`

Worked a charm.

[2017-03-23 03:00] ericjasonthomas commented on #932
I have the same issue mac OS node v7.6.0 npm 4.1.2

[2017-03-23 07:24] kitze commented on #497
@fson @gaearon what about importing js modules from a parent shared folder, is that possible?

[2017-03-23 07:31] viankakrisna commented on #740
https://github.com/MoOx/eslint-loader/pull/159 released on https://github.com/MoOx/eslint-loader/releases/tag/1.7.0

[2017-03-23 07:48] kitze commented on #1107
@gaearon any temp workaround for this?

[2017-03-23 08:16] wasifhyder commented on #1386
@TheRobBrennan -

You can exclude index.js from coverage reporting.
I remedied the problem by adding
`
"jest": {
  "coveragePathIgnorePatterns": ["<rootDir>/src/index.js"]
}
`

https://facebook.github.io/jest/docs/configuration.html#coveragepathignorepatterns-array-string

[2017-03-23 12:25] spences10 opened #1885 "Cannot read config file: node_modules\react-scripts\.eslintrc Error: ENOENT:"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?
- [x] yes

Many errors, especially related to "missing modules", are due to npm bugs.

If you're using Windows, [follow these instructions to update npm](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows).

If you're using OS

[2017-03-23 13:12] viankakrisna commented on #1873
Yeah, it should be shown when you fix those warnings. @gaearon should we print the listening message if there are warnings?

[2017-03-23 13:15] gaearon commented on #1885
Can you reproduce this with a newly created empty project? Does this only happen in VS Code?

[2017-03-23 13:22] Timer commented on #1873
I believe it's fair to print the listening message when there's warnings.
We probably shouldn't emphasize it though, we want people to fix, not ignore, the warnings.

[2017-03-23 13:33] chiefGui commented on #1107
@kitze https://github.com/facebookincubator/create-react-app/issues/1107#issuecomment-268156673 still working for me. 💃

[2017-03-23 13:54] viankakrisna commented on #1873
Hmm, probably also show the overlay on warnings too, cause usually I don't check the terminal when the warnings happened

[2017-03-23 14:26] kellyrmilligan commented on #1582
opened a pr for this.

[2017-03-23 14:40] spences10 commented on #1885
- [x] no 😢

[2017-03-23 14:40] #1885 closed

[2017-03-23 15:43] Timer opened #1888 "Show a transparent overlay with development warnings"
As proposed [here](https://github.com/facebookincubator/create-react-app/issues/1873#issuecomment-288726204), maybe we should have a transparent "warning overlay" which is dismiss-able.

[2017-03-23 15:46] gaearon commented on #1885
Try `rm -rf node_modules`, then `npm install`, and then restart VS Code.

[2017-03-23 16:39] kerrmarin commented on #740
The latest release of `eslint-loader` is broken because its new dependency (https://github.com/viankakrisna/loader-fs-cache) uses `mkdirp` but doesn't declare it as a dependency: https://github.com/viankakrisna/loader-fs-cache/pull/2

[2017-03-23 18:03] viankakrisna commented on #740
It's fixed on 1.0.1. whew! broke 2 project release because I wanted to contribute to eslint caching... T_T

[2017-03-23 18:13] Timer commented on #740
It happens to the best of us, @viankakrisna. 😄

[2017-03-23 18:38] viankakrisna commented on #740
@Timer shall we turn it on again in master? 😄

I learn so much in these mishaps though. It's both stressful and rewarding working on open source...

Also, i'm curious about the whole

Is it dll? Or any other one?

[2017-03-23 18:47] Timer commented on #740
We were looking at https://github.com/jsdf/cached-loader. As for re-enabling this, I am hesitant because I'm about to go on vacation and I don't want to release a build right before I leave, haha.

[2017-03-23 19:00] viankakrisna commented on #740
Woow, that's cool! Yeah, have a nice vacation! I agree if cached-loader can do it, it's better to have it rather than make caching scattered across loader.

[2017-03-23 20:38] Alexter-progs commented on #1084
My use case of having multiple entry points is that i'm developing plugins for cloud solutions of atlassian (jira, confluence) and all plugins injected into the system by iframe, so in different places like admin panel, main page panel, sections inside issues e.t.c. i need html page, since i want to use react i need to split my app into multiple pieces. It's quite inconvinient to create different

[2017-03-23 23:39] jonathanarde opened #1889 "TypeError: Cannot read property 'displayName' of undefined"
I tried to import a component to the test file, some of them succeeds but some of them are giving me this error `TypeError: Cannot read property 'displayName' of undefined`

<script src="https://gist.github.com/jonathanarde/633cc925af8e7be53c0ea93a6121a6fb.js"></script>

[2017-03-23 23:42] #1889 closed

[2017-03-23 23:49] #1720 closed

[2017-03-24 18:38] shai32 commented on #1644
All the added options are enabled by default. See [UglifyJS documentation.](http://lisperator.net/uglifyjs/compress)
So we can close this issue

[2017-03-24 18:38] #1644 closed

[2017-03-24 18:53] sparebytes commented on #1042
I have a similar issue except that I am attempting to run jest from inside the `src/node_modules` directory.
Eg., ```
cd ./src/node_modules/my-package
jest
[code]

[2017-03-24 20:13] adrianoresende opened #1891 "I'm having trouble with javascript thiry-party"
I'm learning a lot with `react` but I'm having a difficulty with javascript third-party.

I need to embed a javascript Snap.svg to my homepage `npm install snapsvg` (detail: https://github.com/adobe-webplatform/Snap.svg)

The way to import `snapsvg` is by using this code:
[code]

But this occurs a following error:
`Module not found: 'imports-loader' in ...`

I installed `imports-loader` and it doe

[2017-03-24 20:42] gaearon commented on #1891
Hi! We don't support Webpack-specific syntax like this.
Since they don't provide a CommonJS entry point, your best bet is to:

* Copy `snap.svg-min.js` into your `public` folder (preferably with a version, e.g. `snap.svg@0.5.1-min.js`).
* Open `public/index.html` and add `<script src="%PUBLIC_URL%/snap.svg@0.5.1-min.js"></script>` to its `<head>`.
* Add `const Snap = window.Snap;` in any file wher

[2017-03-24 20:42] #1891 closed

[2017-03-25 03:47] xgqfrms-GitHub opened #1892 "what's `it` mean?"
# jest

[code]

https://github.com/facebook/jest
https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#writing-tests
https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#testing-components

[2017-03-25 04:14] langpavel commented on #1892
Don't ask here please. Read about it at right place. It is just helper which helps less tech people read test case. It is an context for language

[2017-03-25 04:29] #1892 closed

[2017-03-25 06:21] mvanlonden commented on #1639
Thanks for the advice @gaearon and @tacomanator. Just threw together [grommet-css](https://github.com/mvanlonden/grommet-css) for anyone else with this issue.

[2017-03-25 21:48] cheapsteak opened #1893 "Question: Can babel-plugin-transform-runtime 's moduleName be removed?"
[`moduleName: path.dirname(require.resolve('babel-runtime/package'))`](https://github.com/facebookincubator/create-react-app/blame/11cd813802153a5de0ec1d60ea764fd1b26be8c8/packages/babel-preset-react-app/index.js#L37)

This results in the full absolute path to be injected into the transpiled result, so you see
[code]

instead of
[code]

As a workaround, I overwrote the plugin options by adding thi

[2017-03-25 21:55] Timer commented on #1893
See https://github.com/facebookincubator/create-react-app/issues/255, temporary fix [#262](https://github.com/facebookincubator/create-react-app/pull/262/files) and permanent fix [#535](https://github.com/facebookincubator/create-react-app/pull/535/files).

Node's resolution algorithm does not recursively search to any depth and strictly checks parent directories.
This is (or was) required due to

[2017-03-25 22:07] gaearon commented on #1892
Asking here is fine, we don't mind answering! We love questions so please don't feel bad about asking us.

That said the answer above is correct. It is a function that defines a test. The name comes from a similar approach in Ruby libraries (I think?) and aims to create an English sentence with the test title (e.g. "it works" or "it should do something").

You can write `test` instead of `it` if y

[2017-03-25 23:10] darrenscerri commented on #1865
This issue has been fixed by https://github.com/facebookincubator/create-react-app/pull/1876 and https://github.com/facebookincubator/create-react-app/pull/1868.

[2017-03-25 23:46] viankakrisna commented on #1734
is it worth a pr? or any reason that we don't cd to the generated project automatically?

And here's the copy pasted transcription from https://www.docuevid.com/docuevid/dasebenetelu props to @icodejs
[code]
This video mostly talks about how to create an overly complicated hello world with di, tests, and i18n.

We haven't touch i18n with create-react-app, is there any plan on how we tackle this? (

[2017-03-26 00:16] Timer commented on #1865
Perfect! Any remaining issues are due to lerna bugs which are less present on VS2017 image.

Can you keep us posted for when they fix the curl path issue? Thanks!

I want to close this since further improvement is unactionable by us (unless if we switch from lerna bootstrap to a lerna exec npm install with concurrency 1 then bootstrap).

I just want to make sure the lerna team is aware of this iss

[2017-03-26 00:22] Edxael commented on #200
@kenkoooo Thanks again you solution fix my app.

[2017-03-26 00:31] cheapsteak commented on #1893
Ah that makes sense. Just tested and looks like it is still required for Node 4, I'll close the ticket since the question's answered :)

I see from the previous code comments that there was previously a notice in the babel config for ejected apps saying it's okay to remove that line post-ejection. Now that the babel config is hidden behind the react-app preset, it became a bit more difficult to fi

[2017-03-26 00:31] #1893 closed

[2017-03-26 00:38] cheapsteak commented on #1893
I'm misusing the preset for a node app :p - building via babel's directory compilation, and used react-apps' babel presets out of laziness. Was tripped up a bit by the absolute path when I deploy the transpiled js and saw it was trying to require regenerator from a path on the computer where it was transpiled

[2017-03-26 01:23] Timer commented on #1893
That's not misuse! We encourage it.
But yes, this is still required then since NPM@2 doesn't hoist packages (and in 3 for preventing wrong version).
I suggest you bundle with something that takes care of this (like webpack), fork the package, or live with it. :D

[2017-03-26 01:35] darrenscerri commented on #1865
As for the curl path issue, I'll keep an eye on [this](https://github.com/appveyor/ci/issues/1431).

As for the Lerna issue, it seems that there are some issues open already but all are mentioning yarn. The failing builds were all using npm, and all failed at the same exact place. Opened issue https://github.com/lerna/lerna/issues/716 on the Lerna repo.

It might also just be a memory issue as men

[2017-03-26 02:43] Timer commented on #1865
If that consistently fixes the problem it may be worth implementing in a slightly different way. We should handle it in the e2e test files (sh), not as a node script.

[2017-03-26 03:22] iameli opened #1895 "Unable to import JSON file in symlinked dependency"
### Description

[I've created a reproduction repro here](https://github.com/iameli/create-react-app-json-bug).

You can use create-react-app to import JSON files just fine `require("./file.json")`. This works just fine if the JSON file is within the create-react-app project's folder.

This behavior doesn't work, however, if the file being imported is a symlinked dependency in `node_modules`. Webp

[2017-03-26 03:22] iameli commented on #1803
I believe I have a consistent repro of this here. https://github.com/facebookincubator/create-react-app/issues/1895

[2017-03-26 03:22] iameli commented on #1895
Probably duplicate of https://github.com/facebookincubator/create-react-app/issues/1803.

[2017-03-26 03:29] iameli commented on #1803
As a workaround, everything works fine if the symlinked dependency includes `json-loader` as one of its own dependencies. So the problem has something to do with the resolution of `json-loader`.

[2017-03-26 03:29] iameli commented on #1895
As a workaround, everything works fine if the symlinked dependency includes `json-loader` as one of its own dependencies. So the problem has something to do with the resolution of `json-loader`.

[2017-03-26 05:51] xgqfrms-GitHub commented on #1892
Yeah, you are right!

Most of JavaScript test framework using `it` as the assertion !

https://mochajs.org/#getting-started
[code]
https://jasmine.github.io/

[code]

[2017-03-26 10:16] nikoloza commented on #1107
+1, I'm having similar issue as in here and here https://github.com/facebookincubator/create-react-app/issues/1699, but also from non-linked npm module.

**`node_modules/some-package/index.js:`**

    export default {}

**`src/index.js`**

    import some from 'some-package'

error:

    Uncaught SyntaxError: Unexpected token export
    (in node_modules/some-package/index.js)

This happens not onl

[2017-03-26 11:14] darrenscerri commented on #1865
I will run the build multiple times to confirm that it consistently fixes the problem and will report back.

Check out the latest commit https://github.com/darrenscerri/create-react-app/commit/19cda22c594a645aeadd07b801374fc59e6e1356. I moved the script in the `tasks` directory.

Since this is AppVeyor-specific, I don't agree with putting this logic in the e2e `sh` files when AppVeyor provides a h

[2017-03-26 13:22] gaearon commented on #1895
Interesting. Does it work if you don't specify the extension when importing?

[2017-03-26 14:02] Timer commented on #1895
Can you please test if https://github.com/facebookincubator/create-react-app/commit/d9fc93212fe37e1a90ab6c78e44d54423d62710e fixes this for you? We just merged it a few days ago and it's not yet in a release.

[2017-03-26 15:48] lty96117 commented on #659
@SpaceK33z  which worked for me! thx!

[2017-03-26 19:05] Timer commented on #1881
@syn3r6y were you interested in submitting a PR updating this package? 😀

[2017-03-27 00:15] DenisIzmaylov commented on #90
Last 3 years we've developed a lot of large projects using React for commercial and Enterprise segments. We've tried everything including LESS, Stylus, CSS modules, styled-components, SASS and we found that [JSS](https://github.com/jsstyles/jss) have the best DX ever. With using [react-jss](https://github.com/cssinjs/react-jss) by [Dan](https://github.com/cssinjs/react-jss/commit/275d93109f64b60c9

[2017-03-27 00:16] Timer opened #1896 "Add tests to verify linked modules work"
We're about to add support for linked modules.
First, however, we need to add test cases.

Essentially, we want to add tests for a couple cases and validate these work in the test, dev, and production environment:
- [x] link to a package with newly introduced dependencies
- [x] link to a package which specifies peer deps in our main project, barring installed dev dependencies (maybe covered by bel

[2017-03-27 00:19] Timer commented on #1896
If possible, we want to also test that a:
- [ ] version of a dependency specified in the dev dependency is used over existing app (e.g. major version change with breaking incompatibility)

[2017-03-27 00:37] Olivia101 commented on #90
@DenisIzmaylov Since [styled-components](https://github.com/styled-components/styled-components) was your inspiration for PreJSS why didn't you make improvements to styled-components instead of creating yet another CSS plugin to style your components?

[2017-03-27 01:52] ianschmitz commented on #1637
Mind if I hop on this?

[2017-03-27 02:34] linweili1201 commented on #604
I run the build file on apache serve but it display an empty page ,but the build js and css are sure loaded to the index.html. How can I solve the problem

[2017-03-27 02:42] gaearon commented on #604
@linweili1201 This is not enough information to help you. Please see Deployment section in User Guide.

[2017-03-27 02:56] Timer commented on #1637
Sure, go ahead!

[2017-03-27 02:57] mikew commented on #1150
Why not change the logic to `process.env.CI && stats.compilation.errors.length`?

[2017-03-27 03:33] Timer commented on #1878
I can't get this to act up for me.
[code]

If you could please detail how you got this error to happen, please let me know!

[2017-03-27 03:35] Timer commented on #1895
Hi @iameli, sorry to be a bother but if you could test the above commit it would be greatly appreciated!

[2017-03-27 03:57] iameli commented on #1895
@Timer Yep, looks like that fixed it! Closing as fixed by https://github.com/facebookincubator/create-react-app/commit/d9fc93212fe37e1a90ab6c78e44d54423d62710e.

[2017-03-27 03:57] #1895 closed

[2017-03-27 03:58] Timer commented on #1895
I suspect it doesn't work with tests, can you please try that @iameli?

[2017-03-27 04:03] iameli commented on #1895
@Timer Works, so far as I can tell. The following passes, let me know if I should run something else?

[code]

[2017-03-27 04:15] Timer commented on #1895
Hmm, this probably works with JSON but not if you require some different dep not present in your project.

Thanks for testing this specific case!

[2017-03-27 10:19] FateZeros opened #1898 "Test with Jest cause an error"
I'm using ` creat-react-app` ,  and want to use  `jest`  for testing.
But, It throws an error about  `matchMedia`
Below this picture is my  default test js
![image](https://cloud.githubusercontent.com/assets/18113191/24351573/d0693162-1318-11e7-9a5e-b9aeedb7b7a8.png)

![image](https://cloud.githubusercontent.com/assets/18113191/24351605/ef6875fa-1318-11e7-84e3-3fded170a075.png)

[2017-03-27 16:51] viankakrisna commented on #1882
seems like nodemon would be better rather than built-in watcher. Do `npm install nodemon` and add this to your package.json scripts
[code]

[2017-03-27 19:35] kenips commented on #462
@gaearon how about reopening this and leaving it at the proposal state and documenting that this will not be considered until Relay 2 lands, so that we won't have another issue opened?

[2017-03-27 20:13] adiachenko commented on #1065
Hey, guys, just wanted to leave a note here because there is seem to be some confusion in the community regarding Windows 10 Creators Update (coming in a few weeks) that will [supposedly allow for better symlink support](https://blogs.windows.com/buildingapps/2016/12/02/symlinks-windows-10/).

Some interesting facts:
- it still requires **Developer Mode** to be enabled (which requires administrato

[2017-03-27 20:55] Timer commented on #1898
Did you try to include the polyfill as the error suggests?

[2017-03-27 21:00] syn3r6y commented on #1881
Yeah, I can probably take a look today or tomorrow

[2017-03-28 01:35] FateZeros commented on #1898
I add a  `test_setup.js` in  `/src`

and add  `<rootDir>/src/test-setup.js` in `setupFiles` of  `jest` in package.json

![Uploading image.png…]()

[2017-03-28 03:08] Timer commented on #1898
Closing as self-answered.
You might want to use an actual polyfill tho (https://github.com/paulirish/matchMedia.js/).

[2017-03-28 03:08] #1898 closed

[2017-03-28 06:35] nikoloza commented on #1699
guys, any workaround for now?

[2017-03-28 06:53] sthuber90 commented on #1748
As written in  [orta/vscode-jest#85](https://github.com/orta/vscode-jest/issues/85) it should be fixed now

[2017-03-28 06:53] #1748 closed

[2017-03-28 07:12] gaearon commented on #1699
Workaround for what exactly? Files outside `src` are intentionally not compiled. Future behavior will likely be *forbidding* imports from outside of `src` or `node_modules`.

[2017-03-28 07:13] gaearon commented on #1898
For people who haven't ejected, defining polyfills in a file called `src/setupTests.js` should work.

[2017-03-28 07:14] nikoloza commented on #1699
thanks for quick reply @gaearon
currently `node_modules` is also not reachable
full description here: https://github.com/facebookincubator/create-react-app/issues/1107#issuecomment-289270671

[2017-03-28 08:10] gaearon commented on #1107
ES6 exports *will not* work inside `node_modules` untranspiled. We intentionally don't transform `node_modules` to prevent odd bugs and slow builds.

When we switch a stable version to Webpack 2 it will work but you should still transpile your libraries.

[2017-03-28 08:10] gaearon commented on #1699
Replied there.

[2017-03-28 08:13] gaearon commented on #1882
@adrianoresende

Quoting the User Guide:

This is a known problem with `node-sass` and hopefully its maintainers will fix it.

@viankakrisna

Wouldn't this rebuild all files rather than just the changed one?

[2017-03-28 08:13] #1882 closed

[2017-03-28 08:44] nikoloza commented on #1107
@gaearon yes for production I can, but for dev it's pain to transpile it on every save.