[2019-01-29 04:38] alistair-hmh commented on #5247
I'm also running into this issue when using Yarn Workspaces. Even with `nohoist: ['**/eslint'], with a `head node_modules/eslint/package.json` revealing `"version": "5.6.0"`, CRA still tries to pick `eslint@5.12.1` from `<workspace-root>/node_modules/eslint`.

The packages look like they get hoisted just fine, but perhaps CRA does not obey Yarn Workspaces `nohoist` ?

[2019-01-29 06:11] XuedaoYuan opened #6298 "Always console error 'webSocket connection to 'ws://localhost:9090/4' failed'"
![image](https://user-images.githubusercontent.com/14260107/51887075-68800900-23cd-11e9-8f8a-0eb60a5cdc9a.png)

like the imgae said, if you can't sen the image, I will describe this.

Environment MacBook Pro 10.13.6
node v8.10.0
npm 5.6.0
create-react-app   2.1.3
Chrome  71.0.3578.98

I am created a project with `npx create-react-app my-app`, and I do not write or modify any file. Just `cd my-app`

[2019-01-29 06:20] mattrosendin opened #6299 "TypeScript check"
### Is this a bug report?

No

---

`react-scripts` version 2.1.3 checks for TypeScript if TypeScript definitions are in dependency packages. I don't want to install TypeScript in my project, so I reverted back to 2.1.1. Is there any chance you will consider providing an option to disable this check or a workaround without having to install it or revert versions?

TypeScript message below:

[code]

[2019-01-29 06:39] mattrosendin commented on #6299
Sorry, this is an npm issue

[2019-01-29 06:39] #6299 closed

[2019-01-29 14:48] magnusjt opened #6301 "Disable typescript check"
### Is this a bug report? No

I have a typescript file in my project that I use for documentation purposes (webstorm is able to read this file and give me type hints in regular javascript). This file causes the build to fail, creates a tsconfig.json file, and asks me to install typescript.

Is it possible to disable this behaviour?

[2019-01-29 17:15] FabianoLothor opened #6302 "Where are the packages in init react-app?"
The `npm init react-app my-app` command imports many packages to the project, but, why this dependencies are not in the `package.json`?

[2019-01-29 18:03] Downchuck commented on #6277
PR seems to have stalled on some unrelated Travis CI things.

[2019-01-29 20:44] kostadriano commented on #6298
Seems not an error from create-react-app but from [wcer](https://github.com/YuraDev/wcer).

When you change something in react files it reloads your page and changes your view?

[2019-01-29 20:57] #6297 closed

[2019-01-29 21:16] mrLucianoii commented on #6038
@mrmckeb This discussion has went quite.  I now see our issue as real edge cases.  A PR could be made where a babel config file is generated with a cra when a windows7 env is detected, but I'm on the fence if we should.  I'm open submitting a PR for it or just letting this discussion be a guide for those affected.

[2019-01-29 22:57] robwormald commented on #5976
[Replied](https://github.com/angular/angular/issues/28267#issuecomment-458739423) over on our end, but my suspicion is this is Webpack's global registry/runtime symbol getting overwritten (as there are multiple copies of the runtime being loaded, one from the NgCLI build and one from CRA). Not sure if CRA surfaces this option, but it can be tweaked as detailed.

[2019-01-29 23:02] harrysolovay opened #6303 "Discussing Advanced Configuration Options"
I believe there's a great need for CRA to support advanced configuration. [React-app-rewired](https://github.com/timarney/react-app-rewired) was the first to let users patch their CRA configs. Then CRA changed (2.0+ and the merging of dev & prod builds). So... I made [Rescripts](https://github.com/harrysolovay/rescripts), which similarly patches react-scripts. These tools work... but they're subje

[2019-01-29 23:42] pranaythota opened #6304 "how to setup css in react?"
hello,
i started learning react newly, i was unable to set up css loaders , i tried to declare loader: "css-loader",
            options: {
              modules: true,
              importLoaders: 1,
              localIdentName: "[name]_[local]_[hash:base64]",
              sourceMap: true,
              minimize: true
            }
but it didnt worked, can anyone please resolve the issue

![cap

[2019-01-30 03:59] rally25rs commented on #6284
+1 for this feature, especially considering https://github.com/facebook/create-react-app/issues/2393 (when in watch mode on linux, it fails with too many file watchers)

The fix for this is in `jest@24`, but as of now, `react-scripts` is locked to `jest@23.6.0` but if you could run jest _not_ in watch mode, then it would be a way to workaround the above issue.

[2019-01-30 04:48] HieuDevX commented on #6293
I got the same problem when trying to custom react-scripts on my own

[2019-01-30 05:55] XuedaoYuan commented on #6298
May be the wcer. I have fix it before, but I forget how to do.

[2019-01-30 08:03] zgorbe commented on #5809
I'm on Linux, using node-sass and facing the same issue. Why do we need to check the OS? Looks like it's an issue on Win, Mac and Linux as well.

[2019-01-30 08:04] XuedaoYuan commented on #6298
I found all my page opened on Chrome has the error, so may be it is my Chrome went wrong!

[2019-01-30 08:04] #6298 closed

[2019-01-30 09:37] jacobrask commented on #6181
Safari automatically adds noopener to links with `target=_blank` (https://trac.webkit.org/changeset/237144/webkit/) and other browsers are experimenting with it (https://github.com/whatwg/html/issues/4078). Maybe in 1 year, if you're building an app for ever-green browsers, these attributes will be unneccessary. Just something to consider.

[2019-01-30 12:07] roberthchapman opened #6305 "How to resolve conflicting dependencies"
Hi, I have an issue on build when I install react-aad-msal where the build script complains about conflicting versions of "babel-jest".  Running "npm ls babel-jest" gives the following:

Library:                                      Dependency:
react-aad-msal@0.4.1       | +-- babel-jest@22.4.4
react-scripts@2.1.3               `-- babel-jest@23.6.0

The suggested solution is to remove the babel-j

[2019-01-30 12:25] mdmasumbillah opened #6306 "sh: react-scripts: command not found"
I'm tried with this error and spend huge time.

my node and npm version are
**-Masum:myApp userName$ `node --version`
`v10.15.1`
**-Masum:myApp userName$ `npm --version`
`6.4.1`

**-Masum:myApp userName$ npm start

sh: react-scripts: command not found
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! app@0.1.0 start: `react-scripts start`
npm ERR! spaw

[2019-01-30 14:13] roberthchapman commented on #6306
Try posting the full log, you might have more chance of a response.  There's no information to diagnose anything, just a notification that the script failed.

[2019-01-30 14:23] mrmckeb commented on #6303
I agree that we need to start doing this better, and we're talking about it already ;) There is of course the option of forking, or as you said using things like `rescripts`, but we do need to keep allowing different people to make CRA what they need it to be - without breaking behaviours for others, and without making it maintainable for us.

I'd be interested in hearing some of your thoughts on

[2019-01-30 14:47] PiDayDev commented on #6291
I am wondering whether this feature _is_ even available before 2.x.
[Docs](https://facebook.github.io/create-react-app/docs/post-processing-css) do not have the usual blurb

... but the 2.0.0 roadmap suggests that it's indeed a new feature: https://github.com/facebook/create-react-app/issues/3815

Could anyone confirm if this is the case or if I just have a wrong configuration?

[2019-01-30 14:50] mrmckeb commented on #6305
Hi @roberthchapman, this is a little strange. Have you tried using `yarn` to see if the results are different?

[2019-01-30 14:51] mrmckeb commented on #6306
Hi @mdmasumbillah, it sounds like your dependencies are not correctly installed.

How did you install CRA? Can you share the project with us?

[2019-01-30 14:52] mrmckeb commented on #6304
Hi @pranaythota, this doesn't seem to be related to CRA - unless you've ejected?

Unfortunately we can't help with ejected or custom configurations.

[2019-01-30 14:52] #6304 closed

[2019-01-30 14:53] mrmckeb commented on #6301
Hi @magnusjt, its not right now sorry... I understand the concern here. Does it need to be in `src`?

[2019-01-30 14:57] mrmckeb commented on #6293
Hi @phphille, I maintain a fork for a project too. For sanity reasons, I would recommend only pulling in releases... otherwise you will get issues like this unfortunately.

In the meantime, you could use `react-dev-utils` from within your fork?

[2019-01-30 14:58] mrmckeb commented on #6291
Hi @PiDayDev, there may be an issue here. This should be working in 2.x. Would you like to raise a PR for this?

[2019-01-30 14:59] mrmckeb commented on #6290
Hi @JavlonNurmatov, CRA is working on Windows for many people. For us to help you, we'll need more information. Please complete the issue template and let us know as much as you can :)

[2019-01-30 15:00] patricklafrance commented on #6303
@mrmckeb I do like a lot how gatsby is doing it.

https://www.gatsbyjs.org/docs/add-custom-webpack-config/

I personnally feel like overcrowding the package.json file is not a good idea and a cra.config.js file would be a better way to do it.

[2019-01-30 15:01] mrmckeb commented on #6289
Would you like to raise a PR for this @trxcllnt? From what I read, this shouldn't have any side-effects.

Alternatively, we could look at Webpack 5... but I'm not sure how big that change would be.

[2019-01-30 15:05] mrmckeb commented on #6284
I think we need to address this, as it is raised often. I'd be open to a PR adding `--no-watch`.

@rally25rs, I'm not sure what feature you're referring to - can you provide a link?

I use it with watch-mode on Linux (Ubuntu) and it works well locally.

[2019-01-30 15:07] mrmckeb commented on #6283
If you open the index file, assuming you haven't built, you'll not see your application. Running `start` will start the dev server which serves your files (including assets) as you're developing, and serves a modified version of the HTML file which imports assets from the dev server.

[2019-01-30 15:08] ricokahler commented on #6284
@mrmckeb I put up this one-line PR for `--watch=false` https://github.com/facebook/create-react-app/pull/6285 if you didn't see.

[2019-01-30 15:08] #6283 closed

[2019-01-30 15:11] mrmckeb commented on #6282
Interesting, that is a mysterious error message @buildbreakdo. Thanks for tracking down the cause.

Was it telling you that a JS or CSS file had an error? Can you supply an example in a repo? Thanks!

[2019-01-30 15:14] PiDayDev commented on #6291
Hi @mrmckeb, thank you.
I'm on version **1.1.5** and I understand that it's expected to work in 2.x , I'm just not sure if there's anything similar _before_ 2.x.. and in that case, how I should configure it.
If it's not, bad for me 😭 , but a note should be added to [post-processing-css.md](https://github.com/facebook/create-react-app/blob/master/docusaurus/docs/post-processing-css.md)

[2019-01-30 15:17] mrmckeb commented on #6281
Hi @growtofill, we'd be very open to a PR if you'd like to look into this?

[2019-01-30 15:19] mrmckeb commented on #6303
I think we'd not want to allow custom webpack configs, but instead have more options/settings available.

Personally, I agree that `package.json` can be overcrowded, but I also resent an overcrowded root directory... neither option is perfect.

[2019-01-30 15:25] harrysolovay commented on #6303
@mrmckeb & @patricklafrance thank you for your input.

I don't know how I feel about the idea of placing the configuration in the `package.json`. I enabled this in Rescripts, and I kind of regret it. The `package.json` has become too much of a hub for configuration, when its primary focus should be outlining key resources and scripts. I think a cleaner solution would be to optionally accept a conf

[2019-01-30 15:29] harrysolovay commented on #6303
How do you feel about scanning for an `overrides.js` file in the root, and leaving the `package.json` and its scripts alone?

[2019-01-30 15:40] patricklafrance commented on #6303
I understand @mrmckeb

If you want to offer a more controlled experience for configuration, I do like how the Vue CLI is doing it:

https://cli.vuejs.org/config/#pages

This is what inspired the style of configuration of [craco](https://github.com/sharegate/craco).

[2019-01-30 16:04] roberthchapman commented on #6305
Hi @mrmckeb I'm not sure I follow exactly - I said above "Note I am using yarn not npm so don't have switching to yarn as a possible solution."

The confusion might be that I said I tried "npm ls babel-jest" - that's simply because that's the only command I had to find dependencies in common.  I don't know enough about yarn fundamentals to know if running that is a problem but I've just spent some

[2019-01-30 16:17] Timer commented on #6289
We shouldn't switch to `javascript/auto` if at all avoidable. We intentionally disabled this because it allows users to opt-into non-spec behavior.

This bugfix should be backported to webpack 4.

[2019-01-30 16:49] rally25rs commented on #6284
@mrmckeb #2393 and https://github.com/facebook/jest/issues/3254 are the issues I'm trying to resolve. In a very simple new react app (crate-react-app plus react-router and react-bootstrap; and the project has 2 views in it so far just to test out react-router):

[code]

the issue seems to be that `react-scripts` forces `jest --watch` and `jest` then tries to watch every file in `node_modules` (i b

[2019-01-30 18:07] Marcholio commented on #4194
Is there any update on this, can this be closed?

[2019-01-30 18:43] veltman commented on #6163
@TazmanianDI specifying `sourceType: "unambiguous"` in the babel-loader options seems to resolve this, see this PR: https://github.com/facebook/create-react-app/pull/6279

[2019-01-30 19:11] SampsonCrowley commented on #5809
this is not an OS specific issue and really should not be an OS dependent solution..

[2019-01-30 19:48] TazmanianDI commented on #6163
@veltman Unless I'm mistaken, that requires ejecting right? I did that and your suggestion does work. Was just hoping for an alternative.

[2019-01-30 19:55] NilsonBF commented on #5809
Pull Requests tests failed on ubuntu, nobody reportes on Ubuntu yet. In a couple of minutes ill test on ubuntu, then commit the edits.

Thanks ubuntu devs. :)

[2019-01-30 20:54] trxcllnt commented on #6289
Oh, it looks like [the fix](https://github.com/webpack/webpack/pull/8511/files#diff-8f37a5943829c6739eb20465f93b7a88L119) may have been released in [webpack@4.29.0](https://github.com/webpack/webpack/blob/v4.29.0/lib/node/NodeSourcePlugin.js#L116). In that case, we should be able to update and see if it's still an issue. I'll try that locally here in a bit and see what happens.

[2019-01-30 21:52] Tsyklop opened #6309 "How to collect all application in one bundle.js?"
This is a question.

I made reactjs app. Now i need build this app in one `js` file. All css, images, js etc must contains in one file. I not use static files. Only `src` folder.

I not runed command `eject`.
I tryied to search in google, but i not get good answer on my question.

How do it?

[2019-01-30 22:12] FredyC commented on #6243
I think you guys are facing some different issue. In my case, it's not fetching old content, but it actually tries to grab the one that's present on the server. For some strange reason, it ends up with the error anyway. It's totally possible it's a bug in a Workbox itself as CRA itself doesn't do that much. I still haven't got to replicate this, I am too swamped with other stuff. Hopefully, next w

[2019-01-30 23:18] maniax89 opened #6310 "Reviving Add BuildProgressPlugin"
### Is this a bug report?

No

I was just wondering if there was any interest in reviving the [Add BuildProgressPlugin PR](https://github.com/facebook/create-react-app/pull/1011) that got closed back in January, 2019

I believe @Timer had it working but wasn't happy with the progress accuracy -> is this still true? not sure if [anything has changed](https://github.com/webpack/webpack/commits/maste

[2019-01-30 23:47] andyfleming commented on #4167
I've got a similar use case to @brunolemos. It seems like a common project structure that we intend on supporting. (The proxy feature in CRA, for example, supports this project structure).

I'm similarly using `SKIP_PREFLIGHT_CHECK=true` to work around the issue.

[2019-01-31 00:40] bscaspar commented on #5673
Thanks for getting back to me @karannagupta turns out I was missing the serve step - previously I was testing by building then running the app with npm run start. Things are running smoothly with serve, thanks again for putting this workaround together!

[2019-01-31 02:35] CarlosMed opened #6312 "Firebase REACT_APP .env Invalid API Key"
### Is this a bug report?

It might be with either create-react-app or Firebase

## Did you try recovering your dependencies?

Yes I even tried updating from 1.1.4 to the latest 2.1.3 react script

### Which terms did you search for in User Guide?

Environment variable

### Environment

  System:
    OS: macOS 10.14.3
    CPU: x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
  Binaries:
    Node: 11.

[2019-01-31 02:48] CarlosMed commented on #6312
Realized the issue was a comma at the end of my .env file for a REACT_APP environment.

[2019-01-31 02:48] #6312 closed

[2019-01-31 07:44] mrmckeb commented on #6289
That looks like a much better solution, thanks @Timer.

@trxcllnt Would you like to raise a PR to bump the Webpack version?

[2019-01-31 07:51] mrmckeb commented on #6284
We need to bump to `jest@24`, agreed @rally25rs. For now though, a `no-watch` flag would help a lot of people.

[2019-01-31 07:54] mrmckeb commented on #6303
I understand what is being asked for here. But there are two groups of people that I think can be served by different solutions. We need to decide what's best.

Some people would benefit by a simple config, turning things on or off, etc. This is something I think the team would be very open to.

Others need to extend webpack, and that's a far more complicated situation that I think would be harder

[2019-01-31 07:55] mrmckeb commented on #6301
Hi @magnusjt, that's not available right now... but might be in future. We're currently talking about ways to improve the ability to optionally disable things like this.

In the meantime, if you can use the solution I suggested, that'll be great - and watch our progress, as this is something I want to see get in too :)

[2019-01-31 07:55] #6301 closed

[2019-01-31 07:56] liyuanqiu opened #6314 "File permission issue"
### Is this a bug report?

Yes.
[code]
You'll find that many normal files have the `x` permission(100755)

All files with 100755 permission:
[code]
I don't think they really need `x` permission.

### Did you try recovering your dependencies?

No dependencies. I ran those commands in a pure newly installed  OS.

### Which terms did you search for in User Guide?

I've searched for previous issues an

[2019-01-31 07:56] mrmckeb commented on #6291
Ah, I understand @PiDayDev - sorry I misread.

I think you'll need to move to 2.x, or customise the config yourself I'm sorry... Let me know if we can be of any more help.

[2019-01-31 07:56] #6291 closed

[2019-01-31 08:00] mrmckeb commented on #6314
Hi @liyuanqiu, I agree that many of these files don't need executable permissions... but I don't feel this is a big concern - but perhaps you know something I don't...

If you'd like to raise a PR for this, feel free and I'll take a look :)

[2019-01-31 08:05] mdmasumbillah commented on #6306
@roberthchapman and @mrmckeb Thanks for your reply. Already solved this.

[2019-01-31 08:05] #6306 closed

[2019-01-31 08:40] trxcllnt commented on #6289
@mrmckeb just tested it works, so yep will open a PR :tada:

[2019-01-31 08:47] trxcllnt commented on #6289
on closer examination, it seems like `webpack@4.28.3` that's in the react-scripts dependencies is also sufficient, but `react-scripts@next` that's on npm is still on `webpack@4.19.1`, which isn't. So it looks like this will be fixed by the next release.

[2019-01-31 09:11] mrmckeb commented on #6289
Thanks for investigating, @trxcllnt. We'll wait for the next release then!

[2019-01-31 09:11] #6289 closed

[2019-01-31 10:14] PiDayDev commented on #6291
Thanks for your answer 👍
at least now it's clear I'm not lucky 😆... 😞

[2019-01-31 10:47] bugzpodder commented on #6305
Since you are using yarn, I would use yarn resolution to pin babel-jest to 23.6

https://yarnpkg.com/lang/en/docs/selective-version-resolutions/

[2019-01-31 11:18] Liel208 commented on #790
I solved this by using npm's env-path and then in my package.json file:

[code]
( 'start' by default uses .env.development and
build to .env.production)
.env.staging file:
[code]

[2019-01-31 15:19] annevk commented on #6181
Well, `target=_blank` will imply `noopener`, but `noreferrer` will continue to be somewhat stronger (but can also be achieved using the `referrerpolicy` attribute).

[2019-01-31 15:22] crobinson42 opened #6318 "Dependency version mismatch at patch version"
I think it's a little too pedantic to throw this _prefilght_ warning on a patch version mismatch. Patch versions are for bug fixes - essentially CRA is saying we're stuck using a buggy version of a dependency.

If I use ` SKIP_PREFLIGHT_CHECK=true` then I'm not being made aware of any major version discrepancies 👎

![screenshot 2019-01-31 07 17 43](https://user-images.githubusercontent.com/5973579

[2019-01-31 15:53] ZeJ0hn opened #6319 "create-react-app with --typescript doesn't work"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

Yes

### Environment

[code]

### Steps to Reproduce

When I create a new project using ```npx create-react-app project-geo-semantic-react --typescript```, the generate app in a Javascript App and not a Typescript App.
For example, the package.json doesn't contains typescript dependencies :

[code]

### Expected Behavio

[2019-01-31 15:54] harrysolovay commented on #6303
@mrmckeb all that we would need is a way to specify an innocuous function: takes in, modifies and returns the updated Webpack config. This would amount to a single additional test. And as the result of this minor effort, thousands of devs could more comfortably use CRA as the starting point for their projects. I'm more than happy to work on this feature and demonstrate just how little of a footpri

[2019-01-31 16:16] bugzpodder commented on #6248
Unfortunately the only way right now is to maintain your own config like what you were doing.  However in most cases you only need a default set of babel config to work.  I have a minimal example here that you may find helpful https://github.com/bugzpodder/yarn-workspace-cra

[2019-01-31 16:17] bugzpodder commented on #6318
See https://github.com/facebook/create-react-app/issues/5247

[2019-01-31 16:17] #6318 closed

[2019-01-31 17:32] babakness opened #6320 "Long recompile times for Sass"
### Is this a bug report?

NO

When I save a files with a SCSS extension, it seems to take as long as recompiling the entire app; yet it seems that all that is needed is to just recompile the file that was changed; or perhaps just the SASS files? This would really speed up development when styling components.

[2019-01-31 19:08] tmcw opened #6321 "require() prefers ES Modules?"
### Is this a bug report?

Yes, I think this is a bug report.

### Did you try recovering your dependencies?

Yes, and this bug doesn't have anything to do with installing dependencies.

### Which terms did you search for in User Guide?

- ES Modules
- require
- CommonJS

### Environment

[code]

### Steps to Reproduce

(Write your steps here:)

1. Write a module that you want people to use, provi

[2019-01-31 19:12] bugzpodder commented on #6320
If you use yarn, you could try replacing node-sass with dart-sass, by simply adding the following section to your package.json and do a yarn install:
[code]
That may or may not help your case.

[2019-01-31 20:01] eladmotola commented on #6310
I think we should abandon this pr and create a new one that use this plugin instead: https://github.com/clessg/progress-bar-webpack-plugin
what do you think?

[2019-01-31 20:19] frederikhors opened #6322 "SASS_PATH=node_modules:src doesn't work"
I'm trying to use as stated in https://facebook.github.io/create-react-app/docs/adding-a-sass-stylesheet

- file **.env**:

[code]

- file **src/styles/index.scss**:

[code]

It gives me this error:

[code]

If I use below (with ~) it works:

- file **src/styles/index.scss**:

[code]

- package.json:

[code]

[2019-01-31 22:02] Gurpreet33 opened #6323 "Error while creating react app"
When i try to create a react app : following error appears:
Installing packages. This might take a couple of minutes.
Installing react, react-dom, and react-scripts...

events.js:167
      throw er; // Unhandled 'error' event
      ^

Error: spawn C:\Program Files\Java\jdk1.8.0_65\bin; ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:232:19)
    at onErrorNT (internal/c

[2019-02-01 00:42] clayhan opened #6324 "Dependency Warning - proper way to implement Yarn Workspace monorepo with CRA with root dependencies?"
I am running into an issue when trying to start CRA when I have similar dependencies in the root of my yarn workspace monorepo. I have a .eslintrc in the root of my project along with all of my Eslint/Prettier packages so that all of my projects are able to receive linting/autoformatting.

I just recently added CRA to my monorepo in an attempt to create a new application. This gives me an error me

[2019-02-01 02:07] liyuanqiu commented on #6314
Many people are working on Unix/Linux based system, I think most of them are sensitive to the file permissions. It is just a rule that shouldn't be broken.

![image](https://user-images.githubusercontent.com/24999464/52096753-fabd2280-2602-11e9-956c-1ee8cb3035f3.png)
I found this part of code in `packages/react-scripts/scripts/init.js`, it seems like all the files are copied from `template` or `te

[2019-02-01 02:52] HairyMaclary opened #6325 "@types/node interfering with JS Timers"
### Is this a bug report?

yes

### Did you try recovering your dependencies?

Yes, steps followed.
npm version: 6.7.0

### Which terms did you search for in User Guide?

@types/node
NodeJS.Timeout
Timers
[ts] Type 'Timeout' is not assignable to type 'number'. [2322]

### Environment

Environment Info:
(node:14436) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Er

[2019-02-01 05:43] justingrant commented on #6198
Please, please, please could we implement this, or some other way to turn off regenerator runtime in development?  Debugging apps that use async/await is incredibly painful with regenerator.

[2019-02-01 06:43] ayushnawani commented on #6074
facing same issue here.

[2019-02-01 06:52] terrylks opened #6326 "Dependency conflict on npm run build with react-scripts v2.1.3 and react-gtm-module v1.0.5"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

Yes, I use npm and recovering my dependencies everytime

### Which terms did you search for in User Guide?

(Write your answer here if relevant.)

### Environment

Environment:
  OS:  macOS 10.14.2
  Node:  10.14.1
  Yarn:  1.7.0
  npm:  6.4.1
  Watchman:  Not Found
  Xcode:  Xcode 10.1 Build version 10B61
  Android Stu

[2019-02-01 07:03] mrmckeb commented on #6319
Hello @ZeJ0hn, this is common problem, and I think we've updated our docs recently to solve this.

First, I'd recommend not having a globally installed `create-react-app` package. But, if you must, you need to update it for this to work.

If you can remove it, do so, and then running `yarn create react-app --typescript` or `npx create-react-app --typescript` will work for you.

Sorry for the incon

[2019-02-01 07:03] #6319 closed

[2019-02-01 07:06] mrmckeb commented on #6309
Hi @Tsyklop, we're _considering_ this for future releases, but I'm sorry to say it's not available now.

There have been conversations about achieving this, such as #5306. One option is to fork `react-scripts`, or another is to use a post-build script.

Let me know if you have any other questions!

[2019-02-01 07:06] #6309 closed

[2019-02-01 07:08] mrmckeb commented on #6310
I'll let @Timer chime in on this one, as I wasn't across it in detail. If there's a newer, more accurate version, that could also be good to discuss.

By the way, "back in January, 2019" is scary to say so soon ;)

[2019-02-01 07:13] mrmckeb commented on #6321
Hi @tmcw. This is actually the way the Webpack 4 is handling modules, not us. If ES modules are supplied, they're preferred - which is great news, as it should cut down on bundle size.

For you, as a maintainer or publisher, I get that it's confusing. Users, when using `require`, will need to `require(...).default`. This wouldn't be an issue if they were importing using `import`.

Let me know if y

[2019-02-01 07:17] mrmckeb commented on #6322
Hi @frederikhors, it looks like you haven't completed the issue template, which makes this very hard to resolve. If you can please supply the requested information, we can take a look at this for you.

[2019-02-01 07:21] mrmckeb commented on #6326
Hi @terrylks,

Thanks for sharing this. It looks like it was a mistake that they included that as a dependency, and I can see they've fixed that.

Did you try following the steps indicated there? Did that solve it for you?

[2019-02-01 07:33] mrmckeb commented on #6305
Sorry, I was reviewing a lot of issues yesterday and didn't see that @roberthchapman. I did spot the `npm ls babel-jest` and hooked onto that.

I think, as @bugzpodder, using resolution is a good solution. I've used it before and it can help.

To be clear, did you try to follow those steps? Apart from removing the package from `package.json`? And if so, did that help?

[2019-02-01 07:36] mrmckeb commented on #6303
Yes, I understand. And I completely agree that we need to find better ways than forking (and definitely ejecting).

In the past this has been rejected though. And I think that a first step here would be enabling _options_, and then enabling full-control. The benefit of options is we can also offer support for those - whereas we can't for a full-control setup.

[2019-02-01 07:37] liyuanqiu commented on #6314
I really want to contribute, not intending to give a task to you. I think some discussion is needed to help me fix this because I never put an eye inside the source code of `create-react-app` before. If no one can discuss, I still will try my best to solve, if solved, surely I'll raise a PR :)

[2019-02-01 07:42] maniax89 commented on #6310
You caught me :-) January 2018

[2019-02-01 07:47] johnbowdenatfacet commented on #5247
Also having issues with react-scripts wanting v5.6.0 but 5.12.1 being installed somehow, even though I have eslint in my package.json as 5.6.0 and in resolutions as 5.6.0

[2019-02-01 08:00] NunoCardoso commented on #6212
I have this problem for ages, I am stuck with 1.1.5.
Everytime I want to migrate to 2, I fail to understand why this happens.
I can try to give more info, but I am also clueless. All I know it that it works with 1.1.5, and no, I do not use webpack.

[2019-02-01 08:01] terrylks commented on #6326
@mrmckeb
Actually I can solve this issue by using the latest react-gtm-module v2.0.2

However, I am not sure about this issue comes from which side.
If you got nothing to do with this issue, please close this ticket. Thanks.

[2019-02-01 08:05] mrmckeb commented on #6326
OK, thanks for the update. We'll keep an eye on this issue to see if it occurs again :)

[2019-02-01 08:05] #6326 closed

[2019-02-01 08:59] roberthchapman commented on #6305
Hi, sorry I hadn't responded yet but I was trying to get it clear what to come back with.  I had a lot of trouble understanding the one example I had for yarn resolutions, which wasn't Windows-specific.  I tried a number of attempts, the latest of which was this...

  "resolutions": {
    "react-scripts@2.1.3/jest": "23.6.0",
    "react-aad-msal@^0.4.1/jest": "22.1.4",
    "react-scripts@2.1.3/bab

[2019-02-01 09:21] pReya commented on #3722
@xAlien95 This would still require ejecting in CRA, right? It'd be great to find a way without ejecting.

[2019-02-01 09:32] xAlien95 commented on #3722
@pReya, no, macros are there to **not** eject. The only thing a macro can't do is to handle react-hot-loading, so if you make an edit in a Markdown file imported with `raw.macro` you'll need to restart the developer server to see the changes.

[2019-02-01 11:31] phphille commented on #6293
I see, thanks for the tips @mrmckeb ! I will try.

[2019-02-01 12:17] zerefwayne opened #6328 "Include a `--style=sass` or `--style=css` while initialising an app."
While doing `create-react-app <app-name>` to initialise an app, I want to include a flag:

`create-react-app <app-name> --style=sass` : It will pre-include sass preprocessors and make scss files in the directory out of the box.

@ianschmitz @iansu I feel this is an important feature which is present in **angular-cli** but not in create-react-app.

[2019-02-01 13:00] esetnik commented on #6198
@justingrant great point! I have horrible issues debugging apps with async/await code or generators. It’d be much better to be able to disable regenerator runtime at least in dev.

[2019-02-01 13:19] b8730960219 opened #6329 "Proxy error: Could not proxy request /sockjs-node/848/r4vlrc2p/websocket from localhost:3000 to http://127.0.0.1:5000. See https://nodejs.org/api/errors.html#errors_common_system_errors for more information (ECONNRESET)."
### Is this a bug report?

(write your answer here)

### Did you try recovering your dependencies?

(Write your answer here.)

### Which terms did you search for in User Guide?

(Write your answer here if relevant.)

### Environment

(paste the output of the command here)

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would happen.)

###

[2019-02-01 13:20] b8730960219 commented on #6329
Could not connect the backend and the frontend? Since the connection always ends up in getting that error. Could someone please help me.

[2019-02-01 14:28] MKMZ opened #6330 "Creation of production build is compiling files in __mocks__ folders"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

Yes

### Environment

Environment Info:

  System:
    OS: Windows 10
    CPU: x64 Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz
  Binaries:
    npm: 6.4.1 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: 42.17134.1.0
    Internet Explorer: 11.0.17134.1
  npmPackages:
    react: ^16.7.0 => 16.7.0
    react-dom: ^16.7

[2019-02-01 15:45] mrmckeb commented on #6328
Hi @zerefwayne, we're actually looking at templates right now... which should solve this issue - see #6270.

Let me know if you think this won't be suffice.

[2019-02-01 15:50] mrmckeb commented on #6293
Let me know if that works, and we'll close this off for the moment.

[2019-02-01 16:02] harrysolovay commented on #6303
I understand the rationale behind imposing limits (and agree with it). But this "back door" to manipulate the Webpack config is actually in the best interest of maintainability. Adding too many options will impede future changes to CRA. It will result in the need for more tests, documentation, and discussion. Also, few options are obvious: beyond accepting Babel and ESLint (and maybe PostCSS) conf

[2019-02-01 16:24] bugzpodder commented on #6324
Try the nohoist option, maybe this will get you started:
"nohoist": [
      "**/babel-eslint",
      "**/babel-jest",
      "**/eslint",
      "**/jest",
      "**/webpack-dev-server",
      "**/webpack-cli"
    ]

[2019-02-01 16:35] Shaker-Hamdi commented on #6298
I'm having the same issue, did anyone manage to get rid of that console error?

[2019-02-01 16:44] bugzpodder commented on #6164
Since the adoption of flow is somewhat low and there is a workaround (adding // @flow ) directive, I am going to close this.  If you feel strongly about getting all=true to work in .flowconfig, I would suggest filing an issue for the flow team.

[2019-02-01 16:44] #6164 closed

[2019-02-01 16:53] bugzpodder commented on #6169
There are several issues tracking the use of patch level package differences.  Also I've tested this just now and it currently works fine.  If it gives you trouble in the future, please try out yarn resolution or trying to add a package level babel-loader that matches with CRA.

[2019-02-01 16:53] #6169 closed

[2019-02-01 17:01] dmwyatt commented on #3722
I think if I'm not going to be able to use a "regular" import, I'd rather `npm install raw-loader` and then `import '!raw-loader!./README.md'`.

[2019-02-01 17:40] clayhan commented on #6324
@bugzpodder Thanks for the response. Just wondering, are you adding this to the root of your repo? My concern with adding nohoist is that then my projects won't be able to see my linting rules at the root, and then I'd have to manually install all the dev dependencies for linting to each project. I'll give this a shot today but I'm hoping that won't be the case.

[2019-02-01 19:49] bugzpodder commented on #6100
We currently have several other discussions regarding this: #6303

[2019-02-01 19:49] #6100 closed

[2019-02-01 20:12] heyimalex commented on #6325
I think the easiest fix is to use `window.setInterval` and `window.clearInterval`. It'd be cool if this was handled by default though.

[2019-02-01 20:17] heyimalex commented on #6323
What happens if you run `npm install react react-dom react-scripts`? Looks like the issue is coming from there.

[2019-02-01 20:35] Sine99 commented on #6031
Had the same issue with **href** element while it was working fine with other axios request using string proxy notation in the **package.json**. However, using **setupProxy.js** was able to fix the proxy issue for href elements too.

[2019-02-02 00:12] IAmNatch commented on #5319
I downloaded the latest version of Code, created a fresh CRA and used the suggested configuration, as well as the extra setting. Neither of these solution's have resolved the issue.

Any assistance would be greatly appreciated.

[2019-02-02 00:52] justingrant commented on #5319
Given that disabling optmistic BPs doesn't seem to fix the problem (at least for some folks), is it possible that there are two separate problems happening here that both contribute to breakpoints set at the wrong line?  For example:

Problem #1 is the optimistic breakpoints issue that @roblourens noted above.  But is this the only problem?

Problem #2 (#6296) is that webpack is emitting invalid s

[2019-02-02 02:39] wiradikusuma commented on #1084
Happy New Year! (and soon Chinese New Year)

I've been watching this issue for a while, and I can see there's a couple workaround. Which one is the "recommended" way (as in, future proofing in line with CRA direction)?

[2019-02-02 04:18] #6284 closed

[2019-02-02 04:35] GlynL opened #6332 "homepage package.json variable and image path"
When setting the `homepage` variable in `package.json` e.g. https://example.com/website images are served to the root of the site not the `homepage` specified.

Images need to have `process.env.PUBLIC_URL `  prefixed to serve correctly.
e.g. `<img src=${process.env.PUBLIC_URL}/cat.jpg`

Similarly mentioned at #2854 but `process.env.PUBLIC_URL` does not seem to be mentioned in docs.

Would be nice

[2019-02-02 05:29] zilions opened #6333 ""react-scripts-ts build" does not copy environment variables"
I am setting some environment variables in my build script, like so:

[code]

My `start` script works perfectly and I am able to access `REACT_APP_APPENV` via `process.env. REACT_APP_APPENV`.

Although my `build` script does not copy over `REACT_APP_APPENV`, and `process.env. REACT_APP_APPENV` is `undefined`.

I tried creating a fresh new project via `npx create-react-app new-app --typescript` and

[2019-02-02 10:11] Bazzer588 commented on #6271
You can use 'Fetch as Google' to see how your site looks to Googlebot
https://www.google.com/webmasters/tools/googlebot-fetch-details

I've tried this on a site build with react-scripts and it looks fine

They are phasing this tool out, apparently the new one is
https://search.google.com/search-console

[2019-02-02 11:01] dawnmist commented on #5622
Looking at the changes in CRA css modules handling, the proxy I've used in the past won't work directly (as the styles were previously output as named exports, rather than the equivalent to a default object with named fields).

However, the same can be achieved by following the instructions on using webpack with Jest:
[Mocking CSS Modules](https://jestjs.io/docs/en/webpack#mocking-css-modules)
Whi

[2019-02-02 15:55] mrmckeb commented on #6333
HI @zilions, we don't maintain `react-scripts-ts`, that's a different project.

If you're seeing this with our repo (using `react-scripts`) can you please provide more information?

[2019-02-02 17:36] tobbbe opened #6334 ""Failed to minify the bundle" error on build (related to Terser)"
### Is this a bug report?

yes

### Did you try recovering your dependencies?

yes, npm version 6.4.1

### Environment

Mac and windows

[code]

and

[code]

### Steps to Reproduce

1. `npx create-react-app hey`
2. `cd hey`
3. `npm run build`

### Expected Behavior

Production build should be built

### Actual Behavior

![image](https://user-images.githubusercontent.com/2511610/52167299-495ce080-2

[2019-02-02 17:42] substack commented on #6321
? tree-shaking works fine on commonjs modules too using https://github.com/indutny/common-shake
The zeal for ES modules without enough regard for interop and backwards compat has caused so many problems, like this one.

[2019-02-02 18:11] fuzzykiller commented on #6334
Also reproducible with `yarn` by deleting `yarn.lock`. Here’s the [diff between the `yarn.lock` versions](https://gist.github.com/fuzzykiller/f7fe200275c5b89b44b6d300fab14ba8).

[2019-02-02 18:20] idrm commented on #6334
`yarn build` works for me right after `npx create-react-app`, but fails if I delete `yarn.lock` and `node_modules`, and reinstall the modules via `yarn install`.

[2019-02-02 18:41] Infi-Knight commented on #6334
Works for now!

[2019-02-02 18:42] idrm commented on #6334
@romannep -- Thanks! That did the trick for me as well.

[2019-02-02 18:48] fuzzykiller commented on #6334
That’s not helping with `yarn`, unfortunately. If you do this, `terser` will simply be installed twice:

[code]

The newer version will be used, of course.

Instead, you have to add a `resolutions` block to your `package.json`:

[code]

---

Also, here’s the error message as a searchable text:
[code]

[2019-02-02 19:02] Infi-Knight commented on #6334
fuzzykiller's fix also works. Looks like CRA needs to solve it's issues with terser

[2019-02-02 19:15] idrm commented on #6334
:warning: `npm` does not support the `resolutions` block in `package.json`.

[2019-02-02 19:43] bugzpodder commented on #6305
Hi, the simplest way to override resolutions is to just specify the package name and the version, eg:
"resolutions": {
  "package-a": "2.0.0",
  "package-b": "5.0.0",
  "package-c": "1.5.2"
}

The reason why it only broke for react-aad-msal is because they list jest and babel-jest as a dependency rather than a dev-dependency, meaning that according to them they need jest to run their package, whic

[2019-02-02 19:48] nicewaytodoit commented on #6334
`terser` fix works with `npm` but does not with `yarn`

[2019-02-02 19:55] bugzpodder commented on #6324
I would do one of two things:
1) just pin your root eslint and babel-eslint to the versions CRA uses.
[code]

2) remove the root eslint and babel-eslint and rely on your packages installations if you must use the latest version.  So something like this:
[code]

[2019-02-02 20:36] saeedsq opened #6336 "Failed to build react app from scratch: Failed to minify the bundle. Error: static/js/main.a07f295c.chunk.js from Terser"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

Yes

### Which terms did you search for in User Guide?

* failed to minify
* Failed to minify the bundle. Error: static/js/main.a07f295c.chunk.js from Terser
* TypeError: Cannot read property 'minify' of undefined
* at EventEmitter.<anonymous> (/usr/lib/node_modules/npm/node_modules/npm-lifecycle/index.js:301:16)

### E

[2019-02-02 20:56] Infi-Knight commented on #6334
Now I am facing trouble to get the terser fix work inside docker.
After bootstraping the simple react app if I delete node_modules folder in the working directory then build fails inside the docker container. But if I keep the contents of node_modules intact then docker uses build context and is successfully able to build the app. Here is my dockerfile:
[code]

And I get the same terser error:
[co

[2019-02-02 21:12] roblourens commented on #5319
You are right that the first two problems are separate issues. webpack/webpack#8302 is interesting, thanks for pointing that out. I don't know whether it directly relates to #6296 but it doesn't sound like it would help.

[2019-02-02 21:17] VassilisPallas commented on #6336
Well, it seems that terser is the reason. Try to install `npm install terser@3.14.1 --save-dev`.
The problem is being explained in this issue [#6334](https://github.com/facebook/create-react-app/issues/6334)

[2019-02-02 23:50] dankreiger commented on #6334
Strangely enough I get this same error if I build a new app on Node 10:

More specifically:
[code]
****

However, the app **builds successfully** when created with Node 11:

More specifically:

[code]

However I'm not sure that this is good since the Node LTS is currently `10.5.1`, so I don't think I should be building a production ready app with Node 11.

[2019-02-03 01:42] garster commented on #6336
I had the same problem. Workaround worked! Thanks.

[2019-02-03 02:47] kkitay commented on #6336
also having this issue with a _fresh_ create-react-app.

[2019-02-03 05:36] djbaldey commented on #6336
Same problem on Debian. Resolved with $ npm install terser@3.14.1

[2019-02-03 06:31] Lawrence-Wu commented on #6336
Same problem. Thanks for VassilisPallas.  "npm install terser@3.14.1 --save-dev" resolved the problem.

[2019-02-03 06:52] saeedsq commented on #6336
@VassilisPallas Thanks, it fixed it

[2019-02-03 08:36] Infi-Knight commented on #6334
Build process failing even after `npm install terser@3.14.1 --save-dev` inside docker container

[2019-02-03 09:14] eps1lon commented on #5645
As far as I can tell only actual import alias are discussed here as a use case i.e. telling cra to emit an import alias via tsconfig.json `paths`.

However this is not the primary concern of `paths`. This option does not change how `tsc` emits import paths. This is purely for the typechecker to know where to look for types. E.g. I'm using `react-redux@3` and `@types/react-redux`. To tell the type

[2019-02-03 09:33] mrmckeb commented on #6334
@vx-lp - are you using Yarn in the docker container? And you've updated your `yarn.lock` file after adding the `resolutions` field and running `yarn`?

[2019-02-03 09:36] mrmckeb commented on #6303
I'll raise this during the week, and get back to you on this.

[2019-02-03 09:49] RaMdsC commented on #6334
@Infi-Knight @vx-lp This worked for me when building React app inside a Docker image:
[code]
As a step in Dockerfile:
[code]
No need to include terser in `package.json` dependencies before these steps.

[2019-02-03 12:36] TomCosta commented on #6336
Solution:
`npm install terser@3.14.1 --save-dev`
That's it, solves!

[2019-02-03 14:51] phphille commented on #6293
@mrmckeb, after some time trying to get around my issue, I decided to undo my merge with upstream. I couldn't figure out how to get around the need of editing all the chalk imports. The use case I have with my fork is that I can install CRA with --scripts-version. So I guess I would have to publish my version of react-dev-utils to npm and then change all imports referencing the original one?
The m

[2019-02-03 14:52] noircir commented on #6334
@mrmckeb
I've used Yarn in my project, and had failing build on Heroku with this Terser complaint.  After many hours, I figured out that:
1) the command should be `yarn add terser@3.14.1`
2) the yarn.lock file should NOT be removed
3) Heroku's postbuild script does NOT have to be changed to Yarn:
`"heroku-postbuild": "NPM_CONFIG_PRODUCTION=false npm install --prefix client && npm run build --prefi

[2019-02-03 15:09] mrmckeb commented on #6330
Hi @MKMZ, this is very strange and should not be the case. Can you share an example project?

[2019-02-03 15:10] Automedon opened #6337 "Can you fix index.html after building"
After building in paths we get like href="/favicon.ico" or href="/static/css/main.894a7f1d.chunk.css" and for proper working and for deplyoing it need to be changed in href="./favicon.ico" and href="./static/css/main.894a7f1d.chunk.css". And also i found that many people get the error( Failed to load resource: the server responded with a status of 404 ()) after deploying their apps, for example, o

[2019-02-03 15:14] mrmckeb commented on #6334
I have pinged the team at Terser, as the fastest fix is them releasing a patch. This seems to be affecting other projects too, judging by the issues against Terser.

I've also pinged our team, as I don't have the access levels to do anything from our end.

[2019-02-03 15:16] mrmckeb commented on #6293
I think you could install it locally, perhaps look to yarn resolutions to help you - but this is something we need to get better at managing when people are forking.

Again though, for safety, I would encourage you to never pull in from untagged commits... just for this exact reason. Breaking changes are hard to spot...

[2019-02-03 15:17] mrmckeb commented on #6293
I'll close this off for now, as this will be solved we release the next version of dev-utils (which should be soon I believe).

Let me know if there's anything else I can help with.

[2019-02-03 15:17] #6293 closed

[2019-02-03 15:18] Gelio commented on #5641
If anyone is looking for such a plugin, I have created [a rule](https://github.com/Gelio/tslint-react-hooks) similar to [eslint-plugin-react-hooks](https://github.com/facebook/react/blob/master/packages/eslint-plugin-react-hooks/README.md).

Check it out:

https://github.com/Gelio/tslint-react-hooks

Feel free to post your feedback 📝  😄

[2019-02-03 16:41] erwanriou commented on #6336
On a heroku server, tried all this solution, but doesn't workout. Nor heroku doesn't take in count the update of the npm package, not i don't know. Shall i rethink my heroku build?

`    "heroku-postbuild": "NPM_CONFIG_PRODUCTION=false npm install --prefix client && npm run build --prefix client"`

when i check my npm package its confirm that the installed version is terser 3,14 and localy build a

[2019-02-03 16:44] noircir commented on #6336
@erwanriou
https://github.com/facebook/create-react-app/issues/6334#issuecomment-460058401

[2019-02-03 16:46] harrysolovay commented on #5641
@Gelio this looks fantastic. Good work!

[2019-02-03 16:55] erwanriou commented on #6336
@noircir unfortunatly no i don't user yarn in this project. I was relying just on npm. Shall i try to install yarn somehow just to handle this case?

[2019-02-03 17:00] erwanriou commented on #6336
@noircir

ok i fix how to do it. We have to change the script just for this case:

`    "heroku-postbuild": "NPM_CONFIG_PRODUCTION=false npm install --prefix client && npm install terser@3.14.1 --prefix client && npm run build --prefix client"

`

`       Running heroku-postbuild

       added 1881 packages from 783 contributors and audited 36953 packages in 71.252s
       found 0 vulnerabilities

[2019-02-03 17:01] erwanriou commented on #6334
how to fix in case of heroku postbuild with a subreact architecture and exclusively npm

ok i fix how to do it. We have to change the script just for this case:

` "heroku-postbuild": "NPM_CONFIG_PRODUCTION=false npm install --prefix client && npm install terser@3.14.1 --prefix client && npm run build --prefix client"`

` Running heroku-postbuild

   added 1881 packages from 783 contributors and a

[2019-02-03 18:51] justinhelmer opened #6339 "sass-loader incompatibility with foundation-sites (module resolution order)"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

Yes

npm version: 6.4.1

### Which terms did you search for in User Guide?

sass, foundation

### Environment

[code]

FWIW, the same issue exists with `react@16.8.0-alpha.1`.

### Steps to Reproduce

[code]

### Expected Behavior

The file located at `node_modules/foundation-sites/scss/util/util` would be loaded. This

[2019-02-04 00:42] Thithi32 commented on #6336
@erwanriou

Amazing, I was having the exact same problem. Works now. Thanks!

[2019-02-04 00:52] Alaricus commented on #6336
The workaround works, however, if you already have `"terser": "^3.14.1"` in your package.json and happen to delete your node_modules and do an npm install, the build will break again and you'll need to `npm install terser@3.14.1 --save-dev ` again.

[2019-02-04 01:59] zilions commented on #6333
@mrmckeb - I migrated my project to `create-react-app` and the issue is still present.

`react-scripts build` fails to copy environment variables that are prepended with `REACT_APP_`.

Same info as my original post - I can access all environment variables prepended with `REACT_APP_` when using `react-scripts start`, although they are all `undefined` after serving a build created with `react-script

[2019-02-04 02:39] newoga commented on #4167
@Timer I don't fully understand the concern with hoisting based on your example [here](https://github.com/facebook/create-react-app/issues/4167#issuecomment-449763638), assuming I am not misunderstanding how yarn's hoisting works.

I recreated the example in a [new branch](https://github.com/newoga/create-react-app-issue-4167/tree/timer-hoisting-example). You were right that since `webpack@3` is r

[2019-02-04 06:51] Praneetha-CK opened #6340 "Error when running npm start"
### Is this a bug report?

I am trying to create a react application with `npx create-react-app my-app`. The project is created successfully. But when I try to run `npm start`. I get an error.
Here is the log.

`0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@5.6.0
3 info using node@v8.11.3
4 verbose run-script [ 'prestart

[2019-02-04 07:00] mrmckeb commented on #6340
Hi @Praneetha-CK, can you please complete the issue template (as much as possible) so that we can better help you?

[2019-02-04 07:07] shoesCodeFor commented on #6336
I had the same issue with using Yarn.  Switching to NPM and using Terser as a Dev dependency solved my issue

[2019-02-04 07:10] mrmckeb commented on #6333
Hi @zilions, can you please complete the issue template and provide a repository with reproduction steps? This should be working, so we need to see what's happening in this case.

[2019-02-04 07:45] Praneetha-CK commented on #6340
Sorry. I just tried again and it worked this time. Not sure what went wrong the first time.

[2019-02-04 07:45] #6340 closed

[2019-02-04 07:59] BrendanFDMoore commented on #6334
To fix this for my yarn-based build I needed to:
1) Add the resolution block per @fuzzykiller 's [comment](https://github.com/facebook/create-react-app/issues/6334#issuecomment-459989385)
2) Explicitly add `terser-webpack-plugin` as a dev dep: `yarn add -D terser-webpack-plugin`

[2019-02-04 09:03] roberthchapman commented on #6305
Thanks so much for the assistance, the solution is actually a lot simpler than what I thought I was meant to be trying.  It's just forcing all packages to use the same version, simple.  And much more simple than the examples I could see.  All I had to do was:

1) yarn remove react-aad-msal
2) add
  "resolutions": {
    "jest": "23.6.0",
    "babel-jest": "23.6.0"
  },
to package.json
3) yarn insta

[2019-02-04 09:10] nanot1m commented on #6336
For yarn users: add this to `package.json`
[code]

[2019-02-04 09:40] mrmckeb commented on #6305
Thanks for the update @roberthchapman.

[2019-02-04 09:40] #6305 closed

[2019-02-04 09:41] mrmckeb commented on #6336
We are still tracking this issue, and waiting for either Terser or `terser-webpack-plugin` to release an update to resolve this. Apologies for the obvious inconvenience here.

[2019-02-04 09:43] mrmckeb commented on #6336
Please track any further comments against this ticket #6334.

[2019-02-04 09:43] #6336 closed

[2019-02-04 10:02] trendfollowerpl commented on #6265
Actually we have exactly the same issue with ts and tsx files.
config: we use:
`"scripts": {
    "pretest:CI": "react-scripts test --clearCache",
    "test:CI": "SET CI=true && react-scripts test --env=jsdom --coverage --coverageDirectory=./reports/coverage"
  }
"jest-junit": {
    "suiteName": "AutomationFabric.Webclient unit tests",
    "outputDirectory": "./reports",
    "outputName": "./junit.

[2019-02-04 10:45] aqibbangash commented on #6336
This fixed my issue (y)

[2019-02-04 13:09] mrmckeb commented on #6334
Hi all, this should be resolved now by this release:
https://www.npmjs.com/package/terser/v/3.16.1

Please report back if that doesn't help.

[2019-02-04 13:09] #6334 closed

[2019-02-04 13:57] vdiaz1130 commented on #5118
Configuring tsconfig and craco.config as @zaguiini suggested works but absolute imports fail when executing Jest tests. There aren't any TS errors with the absolute imports but tests fails due to:

`Cannot find module '@arr/components/app/app' from 'app.test.tsx'`

Executing `yarn start` works as expected with the same imports.

[2019-02-04 18:50] tmcw commented on #6321
Hi there,

I went digging to find a core webpack bug to report, but unfortunately I found my way back here. Here's a minimal testcase, based on an ejected create-react-app configuration: https://github.com/tmcw/create-react-app-6321

I've confirmed that this behavior _doesn't_ happen with an zero-config Webpack 4 setup and is only triggered by create-react-apps's overeager (imho) transpilation of

[2019-02-04 18:54] buildbreakdo commented on #6271
@Bazzer588 Ah, good to know that has changed. Upgraded to the latest tools a while back and had to downgrade because 'Fetch as Google' no longer worked.

May be true that out of the box 'Fetch as Google' works, however this may not be the case if code is added using some of the latest javascript features because it's not polyfilled down to Chrome 41.

[2019-02-04 19:10] buildbreakdo commented on #6282
@mrmckeb Yes, indeed it is! This is what the full output looks like:

![screen shot 2019-02-04 at 2 02 14 pm](https://user-images.githubusercontent.com/1865690/52230784-43d0d900-2886-11e9-95c7-3d44c6be2c36.png)

Here is an example repo:
https://github.com/buildbreakdo/css-breaks-create-react-app-demo

Clone and `yarn build` to see the error message. Line that causes this is here:
https://github.co

[2019-02-04 19:17] clayhan commented on #6324
@bugzpodder Only the 2nd option kinda fits my needs and I was still unable to get it to give me any different result. I'm thinking I'm going to just move my dev dependencies off the root and just make every workspace manage it's own .eslintrc.

Thanks for all your help!

[2019-02-04 19:37] Bazzer588 commented on #6271
The new one works too - https://search.google.com/search-console - and it's actually better
My test site has to work with IE11, so the first line is
`import 'react-app-polyfill/ie11'; `
...perhaps this makes a difference ?

browserlist is defined as
[code]

[2019-02-04 21:10] clayhan commented on #6324
@bugzpodder Still no dice on any sort of implementation. It seems CRA keeps defaulting to whatever is in the root node_modules and refuses to run. I'm hesitant to skip the check since this application I'm wanting to build is going to be something we keep for several years. Thinking since this seems to be a huge problem with CRA that I'm going to just skip it entirely. I tried replicating the 2nd o

[2019-02-04 21:42] bugzpodder commented on #6324
I don't have a public repo, but if you follow these instructions it should just work:
1) in your root (workspace) package.json, add the following nohoist option:
[code]

[2019-02-05 04:55] eddyLazar commented on #1217
Is there some progress here?

[2019-02-05 05:36] Downchuck commented on #6277
@mrmckeb I'm getting stuck on the build - is this directly related to mocking DNS or just a temporary issue with the CI?

[2019-02-05 07:35] mrmckeb commented on #1217
This work was never completed from what I can see @eddyLazar, feel free to pick up a PR if you're interested in seeing this merged.

[2019-02-05 07:38] #6277 closed

[2019-02-05 07:48] mrmckeb commented on #6271
Interesting. And thanks for the assistance @Bazzer588. Would someone like to create a PR for this?

[2019-02-05 07:50] mrmckeb commented on #6282
OK, so it looks like this need to be solved. Would you be able to raise a PR? If not, we can leave it open for someone to pick up.

[2019-02-05 07:53] mrmckeb commented on #6321
Thanks @tmcw, this will obviously need more investigation then. Would you be interested in digging a little deeper and raising a PR? If not, I could try to get onto it over the weekend.

[2019-02-05 08:07] davidgilbertson commented on #6321
@tmcw there's a webpack issue here https://github.com/webpack/webpack/issues/5756

From 2017.

@sokra said "won't fix"

And there's another one from 2018 that's pretty much the same thing with the same response: https://github.com/webpack/webpack/issues/6584

[2019-02-05 09:58] sokra commented on #6321
Using different `main` fields for `require()` and `import` would lead to duplicate packages included in your bundle.

Let's assume `react` would have source code in ESM and CJS and include `module` and `main` in package.json.

One package i. e. `react-super-dropdown` has `require("react")` (or `import "react", but transpiled to CJS via babel).
Another package, i. e. `react-mega-layout` has `import

[2019-02-05 11:01] EdBoucher opened #6343 "Proxy config upgraded to 2.x as per instructions and using http-proxy-middleware doesn't work"
### Is this a bug report?

Yes, probably; either that or a documentation issue

### Did you try recovering your dependencies?

Yes

### Which terms did you search for in User Guide?

"Proxy", "Configuring the Proxy Manually"

### Environment

Before upgrade to react-scripts 2.1.3:

[code]

After upgrade to react-scripts 2.1.3:

[code]

### Steps to Reproduce

1. Take a project with an advanced pro

[2019-02-05 11:21] davidgilbertson commented on #6321
Ah, I hadn't considered the scenario where two packages import the same package differently.

So it seems there's no two ways about it: package authors will one-by-one add a `modules` property to their `package.json`, that will break a bunch of other packages in the process, and those packages will get GitHub issues and around and around we go :(

I wonder, where on the internet is the suggestion

[2019-02-05 13:58] qgicup commented on #5809
WE are also experiencing the same issue. Keep us updated how its going, if there's a good fix for it.

[2019-02-05 14:21] saranshkataria commented on #6271
I can work on it

[2019-02-05 15:09] VincentLanglet opened #6344 "Peer dependency issue between Create-React-App and Storybook"
I previously asked a question about the warning about unmeet peer dependency here: https://github.com/facebook/create-react-app/issues/6134
I had the answer `these are just warnings and nothing to worry about`.

Unfortunately now I have errors:
When I install `"@storybook/react"` and run `"storybook": "start-storybook -p 9009 -s public"`,
I get ` Error: Cannot find module 'babel-loader/package.jso

[2019-02-05 16:18] tmcw commented on #6321
To the extent that anything beyond what npm documents in package.json is 'standard', the 'module' field is a community standard and has de-facto documentation in a number of locations - [a spec proposal](https://github.com/nodejs/node-eps/blob/4217dca299d89c8c18ac44c878b5fe9581974ef3/002-es6-modules.md#51-determining-if-source-is-an-es-module), [bundler docs](https://github.com/rollup/rollup/wiki/

[2019-02-05 17:15] lindhe commented on #6334
Hm, I'm missing something here. I had a package-lock.json where the terser version was 3.14.1. I thought that package-lock existed exactly to ensure reproducible builds... Any idea why terser 3.16 was installed for me when running `npm install`?

Now it seems that it have rolled back to 3.14.1, but I'm pretty sure I tested it this Monday and couldn't build because of it.

[2019-02-05 18:52] RaMdsC commented on #6334
@lindhe This looks to me like _terser-webpack-plugin_ pulls _terser_ as its own dependency if you specify _terser_ in _devDependencies_, as suggested in answers above.
Quickly tested three scenarios:
1. No _terser_ in _package.json_
2. _terser_@3.14.1 in _dependencies_
3. _terser_@3.14.1 in _devDependencies_

In (1), _terser_@3.16.1 gets installed as an independent package.
In (2), _terser_@3.14.1

[2019-02-05 21:32] dariusrosendahl commented on #1070
This works great! We're only using it to create react applications to integrate it into and e-commerce platform. What do I need to change to only watch multiple applications?

[2019-02-06 00:10] dariusrosendahl opened #6347 "Watching and rebuilding multiple applications"
### Is this a bug report?

no

-----

Hi,

We're using the create-react-app for a basis to create multiple applications to include into an existing website. We have no need for the standard watcher of the index.js since the applications won't run outside of the website environment.

The applications build fine but as soon as we try to watch it won't reload the build task; it will only trigger a ch

[2019-02-06 07:55] mrmckeb commented on #6344
Hi @VincentLanglet, this has been reported before as you mentioned.

I'm currently working on a PR with Storybook to resolve this properly.
https://github.com/storybooks/storybook/pull/5308

[2019-02-06 08:36] mrmckeb commented on #6321
I agree that this is a little messy right now (as an industry) and we need to keep working together to improve the situation.

However, I feel that perhaps this is a good time to close this thread off unless anyone has any suggestions on what we can do to make this easier for future developers?

[2019-02-06 09:08] VincentLanglet commented on #6344
@mrmckeb Yes i saw that, a big thanks to you for working on it.

But I still wonder why it's not possible for `react-script` to use her own version of `babel-loader` and `@storybook/react` to use her own version of `babel-loader` too ?
The same could be done for others dependencies like `jest` or `eslint`.

For example, in my package.lock I have two `qs` version which cohabit together.
[code]

Why

[2019-02-06 09:24] bonebizz21 commented on #6314
Default

[2019-02-06 09:38] Andy2K11 commented on #6322
I had a look at the documentation for [material-components](https://github.com/material-components/material-components-web-react) and it looks like the `.env` entry needs to be:

`SASS_PATH=./node_modules`

If this works for you then it's probably just a correction to the [documentation](https://facebook.github.io/create-react-app/docs/adding-a-sass-stylesheet) that's needed.

[2019-02-06 10:34] The-Code-Monkey opened #6349 "Obfuscate scss"
I feel like Obfuscated scss would be beneficial to a project and doesn't cause any confusion while development, this would make the minified scss smaller and that would make it quicker to load for the end users, especially on larger SPA apps that have a lot of different elements.

[2019-02-06 12:39] FreakDroid commented on #5918
As @corentindesfarges said it's something related with yarn. My create-react-app didn't work again after I installed yarn, using `create-react-app myproject --use-npm`resolved my problem.

[2019-02-06 14:57] jorgegonzalez commented on #6265
Same issue here. And the coverage directory has the files that are in my src twice, one nested in a sort of “temp” folder.

[2019-02-06 16:36] farhadibehnam opened #6350 "why there aren't webpack.config.dev.js and webpack.config.prod.js files in the config folder?"
I want to use the CSS module for adding some CSS style to my component. I used "**npm run eject**" command, but in the config folder, I couldn't find webpack.config.dev.js and webpack.config.prod.js files. Of course, I'm using the latest version of reactjs.
I'm using this approach:
[How to Use CSS Modules with Create React App](https://medium.com/nulogy/how-to-use-css-modules-with-create-react-app

[2019-02-06 16:36] trendfollowerpl commented on #6265
We have a workaround for this issue.
Our dev environment is Windows-based an we’ve noticed that duplicated files are taken form for example : `D:\src\file.spec.ts or d:\src\file.spec.ts (notice how drive letter is written).`

When we tried to execute tests directly via jest we got error message that pointed this drive letter issue. This message somehow swallowed by react-scripts test script.

To t

[2019-02-06 16:40] iansu commented on #6350
Those two files have been combined into a single config file named `webpack.config.js` in more recent versions of Create React App.

[2019-02-06 16:40] #6350 closed

[2019-02-06 16:46] dhuber666 opened #6351 "Any news on when React Hooks get added to create-react-app?"
Hi guys,

since React Hooks are officially released I wanted to know if there are any plans when hooks will be present in the awesome `create-react-app` repo?

I'm just a little self thaught hobby developer that just works with create-react-app and I would love to use hooks. Can I manually update it after I created a project with `create-react-app` ?

Thank you so much guys for `create-react-app`

[2019-02-06 17:00] rovansteen commented on #6351
You can update the React version independently of `create-react-app`, so you can upgrade to `16.8.0` right now and enjoy hooks! 🎣

[2019-02-06 17:44] kumar303 commented on #5641
Just to illustrate the eslint approach as suggested up above, I was able to start a new `create-react-app` project with `--typescript`, run `yarn eject` (**don't do this**, obviously), and add this config below the existing `eslint-loader` in `config/webpack.config.js` to start seeing lint errors in console / browser:

[code]

There is a warning about mismatched TypeScript versions so that's one t

[2019-02-06 17:57] tmcw commented on #6321
Yep, besides spreading the knowledge I don't see any other tasks here.

[2019-02-06 17:57] #6321 closed

[2019-02-06 18:54] jorgegonzalez commented on #6265
I am also on Windows, btw.

[2019-02-06 20:14] buildbreakdo commented on #6282
@mrmckeb Pull request with a fix is in

[2019-02-06 20:37] lindhe commented on #6334
Thank you @RaMdsC, your response helped me gain a bit better understanding. But I'm still a bit in the unclear as to why package-lock.json was not enough.

Sure, I can explicitly add `terser@3.14.1` as a dependency. But I have a hundred or so packages if I consider my full dependency tree, so adding each of them as a dependency manually can obviously not be the right way to go. This was where I th

[2019-02-06 20:38] bugzpodder commented on #6351
Make sure react-dom is also upgraded.

[2019-02-06 21:50] fuzzykiller commented on #6334
@lindhe  `package-lock.json` is only truly effective with `npm ci`. Do not use `npm install` unless you want to update stuff.

[2019-02-06 21:50] ah3eyy commented on #1217
i dont know if this is correct practice what i was looking to do was
$ yarn lint
and for npm
$ npm run lint

[2019-02-07 00:40] tomitrescak opened #6354 "Disable regenerator"
According to #3994 it is possible to disable regenerator by specifying

[code]

This seems to work on my project files, but it still processes all packages in node_modules that use async and await (my packages). Is it possible to disable this for everything? Thanks!

Maybe it's just cached somewhere?

[2019-02-07 01:55] 100terres commented on #5602
What are we waiting for?

[2019-02-07 02:19] ianschmitz commented on #5602
I believe we're waiting on #5602 and #6219 before we consider hooks ready for prime time in create-react-app. @gaearon can you confirm?

[2019-02-07 02:30] ianschmitz commented on #6354
This was previously the case when we were in the alpha stages of 2.0. Currently as of `2.1.3`, `browserslist` should only be applied to CSS stylesheets as described [here](https://github.com/facebook/create-react-app/blame/0f4781e8507249ce29a9ac1409fece67c1a53c38/docusaurus/docs/post-processing-css.md#L10). `@babel/preset-env` shouldn't be using your `browserslist` config as we've [disabled it](ht

[2019-02-07 02:47] HarshavardhananHokage commented on #5247
I am maintaining the same directory structure as @ywwhack.
My question is, if I install eslint 5.6.0 in client directory and 5.13.0 in the root directory, shouldn't react stop looking for eslint as soon as it finds 5.6.0 inside the client directory's node_modules? Why does it have to check for versions higher up the tree? Or is this how npm works in general?

[2019-02-07 02:57] ccjx commented on #5247
Is there an issue number with a writeup of what the issues are with a different version of eslint so that someone else can potentially patch the defect?

[2019-02-07 03:03] JustenRickert opened #6356 "Specifying file path for `scripts-version`"
### Is this a bug report?

Yes I believe this is a bug.

### Environment

[code]

### Steps to Reproduce

[code]

### Expected Behavior

I'm expecting that the `create-react-app` command above would be the same as using it without specifying `--scripts-version`. What I'm trying to do is fork `react-scripts` with a few modifications to the template. However I found that it seems to not work without

[2019-02-07 06:51] #6037 closed

[2019-02-07 06:51] #5450 closed

[2019-02-07 06:51] #6073 closed

[2019-02-07 06:51] #6017 closed

[2019-02-07 06:51] #5786 closed

[2019-02-07 06:53] donavon opened #6357 "Feature request: Launch browser into a unique origin"
## Problem

`npm start` launches `http://localhost:3000`. If I've ever worked on a different app, its `localStorage` is now polluting my new app as they share an origin.

## Solution

If `HOST === 'localhost'` then call `opn` with `target` set to `http://{folder-name}.localhost:{port}`

This way every app has a unique origin and this its own `localStorage`. I know that I can do this manually, but

[2019-02-07 07:28] kirill-konshin commented on #6129
Anti-stale-bot-ping )

[2019-02-07 08:32] mxschmitt commented on #5280
Yey, the stale bot has closed my PR: #5841....

[2019-02-07 08:45] jacobrask commented on #6351
I see there is a PR running for hooks support, but would it be ok to add the hook plugin to the eslint config even before that is merged?

[2019-02-07 10:27] lindhe commented on #6334
What a pity. I'm at npm version 3.10.10 and that seems to not have the `ci` command. But thank you very much for the suggestion.

[2019-02-07 12:28] hwj0623 commented on #6099
I Fixed this ejecting issue by adding @babel/plugin-transform-react-jsx. thx :)

[2019-02-07 13:32] nmain commented on #6354
Would it be possible to reinstate this feature?  Being forced to use a transform that gives a [massive speed hit](http://incaseofstairs.com/six-speed/) and seriously hinders debug stepping in Chrome devtools in order to support a browser that I don't need to support means I'll be ejecting in every app I make.

[2019-02-07 18:43] pavinthan commented on #5843
I'm closing this issue with 💔because no response 😢 but waiting to see this in future.

[2019-02-07 18:43] #5843 closed

[2019-02-07 20:19] kentcdodds opened #6358 "Thoughts on including react-testing-library in the default template?"
Now that React is officially recommending people use react-testing-library, I wonder whether people would be in favor of including it by default. I made a video about what you need to do to add react-testing-library to create-react-app:

https://www.youtube.com/watch?v=Yx-p3irizCQ&list=PLV5CVI1eNcJgCrPH_e6d57KRUTiDZgs0u&t=60s

This commit is me adding the library and setup: https://github.com/kent

[2019-02-07 20:52] ianschmitz commented on #6358
Hey Kent. I think this would fit in nicely with #6270 as a template. What do you think?

[2019-02-07 22:16] kentcdodds commented on #6358
I'm not sure what you mean. Are you suggesting this should be included in the `-minimal` template rather than the default? That seems counter-intuitive. I would assume that "minimal" would be as little as possible to make things work, and the default would have all the extra bells and whistles. Happy to have it included in any form though :)

[2019-02-07 23:23] justingrant commented on #5319
Adding unnecessary comment to get stalebot to re-open this issue.

[2019-02-07 23:34] jjvainstein commented on #5118
Hi! I tried this solution but is not working for me.  This is my tsconfig.json:

{
  "extends": "./tsconfig.paths.json",
  "compilerOptions": {
    "target": "es5",
    "lib": [
      "dom",
      "dom.iterable",
      "esnext"
    ],
    "allowJs": true,
    "skipLibCheck": true,
    "esModuleInterop": true,
    "allowSyntheticDefaultImports": true,
    "strict": true,
    "forceConsistentCasingI

[2019-02-07 23:39] justingrant commented on #6296
FWIW, I tested every possible value of webpack's devtool setting in https://webpack.js.org/configuration/devtool/. None of them worked. :-(

Here's the process I used for testing:
1. manually edit the `devtool` value in `node_modules/react-scripts/config/webpack.config.js`
2. `npm start`
3. started VSCode debugger
4. set a breakpoint at `ReactDOM.render` in my own code
5. Repeatedly do "step into"

[2019-02-08 00:07] NilsonBF commented on #5809
While my pull request is opened, you guys can fix your own node modules...

- node_modules
    - react-script
        - config
            - path.js

on path.js line

broken =>  envPublicUrl || (publicUrl ? url.parse(publicUrl).pathname : **_'/'_**);
fixed=>  envPublicUrl || (publicUrl ? url.parse(publicUrl).pathname : **'./'**);

[2019-02-08 00:09] kentcdodds commented on #6358
I'd be fine with that. I don't have time to work on it myself (I was just bringing up the idea). It does make sense that the default template would be very bare bones and people could opt-into things like a testing library and other features via flags. :+1:

[2019-02-08 03:34] #5820 closed

[2019-02-08 04:01] iansu commented on #6357
This seems like a pretty good idea. It would probably solve some other caching related issues with cookies, service workers, etc. Want to make a PR?

[2019-02-08 06:50] tomitrescak commented on #6354
@nmain that is shocking! 38times slower on Edge, just to have Internet Explorer 9 running, that's ... interesting to say the least. Thanks for pointing out the line @ianschmitz. time to hack is now.

[2019-02-08 09:04] sbusch opened #6360 "TypeScript syntax error in combination with arrow functions, generics and async/await"
### Is this a bug report?

Yes, this is a bug report.

I get a syntax error with the following code, which I reduced as much as possible to just trigger the error:

[code]

### Did you try recovering your dependencies?

Yes, but recovering didn't help.

Output of `yarn --version`:

[code]

### Environment

[code]

### Steps to Reproduce

See "Reproducible Demo".

### Expected Behavior

I wouldn't

[2019-02-08 11:51] Aftabnack commented on #6107
Added a PR for the same!

[2019-02-08 12:27] gustavobini commented on #6358
Just yesterday, I created a sample app based on create-react-app with react-testing-library just so I could use it "by default" on any new project I create.

 Jest by itself is not enough for ui tests. Create-react-app, as an opinionated project, could adopt react-testing-library either by default or by a flag.

[2019-02-08 12:56] sezeregrek commented on #5563
Any improvements or suggestions in here?

[2019-02-08 13:11] nmain commented on #6354
Thankfully, it's not quite that bad, as you have to look at the baseline they're comparing against.  For instance, in the case of generator, here's the "1x" speed code: (https://github.com/kpdecker/six-speed/blob/master/tests/generator/generator.es), and here's the es6 code, which, when transpiled in various ways, is used to populate the other rows: (https://github.com/kpdecker/six-speed/blob/mast

[2019-02-08 13:16] 13banda opened #6362 "Not get all with process.env in CRA at electron render process"
### Is this a bug report?

Not get all env in electron render process ( i use create-react-app to bundle code)
without CRA get all env with process.env but with CRA only get two
[code]

### Environment

but when i log process object
`console.log(process)
`
it have an env property with all env
what CRA did with process.env so that not find any env in electron render process. with out CRA working al

[2019-02-08 13:39] Ciaran0 commented on #5641
@kumar303 is the best way to apply that change through Rescripts?

I feel like linting config and rules really should be customisable.

[2019-02-08 13:50] Hotell commented on #5641
as @mrmckeb said. TSLint is going bye bye as the "standard" TypeScript linter.  I've started to migrate all projects to eslint and it works very well.

https://twitter.com/martin_hotell/status/1093174635015880705?s=20

What should be done is to incorporate `plugin:@typescript-eslint/recommended` within webpack config in CRA. I can submit PR if maintainers give me green light.

[2019-02-08 15:12] kumar303 commented on #5641
@Ciaran0 I'm not familiar with Rescripts but `yarn eslint` configured [like this](https://github.com/mozilla/addons-code-manager/blob/b6cfc7b2a7fc6c311b22e9a439e3339ea7e9864c/package.json#L76) in a non-ejected create-react-scripts app (in TypeScript) is working fine for us.

[2019-02-08 15:33] Hotell commented on #5641
@Ciaran0 👌 nit: `"eslint": "eslint src/**/*.{ts,tsx,js}"`

Yup I'm using similar approach. Anyways IMHO having run linters as pre-hook within webpack is big mistake (especially if you use typescript as you code won't compile if it contains compilation === most of the runtime errors )

[2019-02-08 15:36] ianschmitz commented on #5641
@Hotell I'll transition my existing talking PR to use ESLint. We just need to make sure it's ready for prime time before shipping it in CRA.

[2019-02-08 17:05] satya164 commented on #5224
So we recently released Linaria 1.0, and reviewing the main requirements, it satisfies all of them and more. Updated my original comment https://github.com/facebook/create-react-app/issues/5224#issuecomment-426398292

[2019-02-08 17:54] kevinsperrine commented on #5316
FWIW, I wrote a simple [craco](https://github.com/sharegate/craco) plugin called [craco-workbox](https://github.com/kevinsperrine/craco-workbox) to handle this in CRA2 until #5369 gets merged.

[2019-02-08 19:13] Hotell commented on #5641
@ianschmitz

To make sure what is ready for prime time? Eslint for TypeScript ?

Everything works as expected, I would push it ASAP, because as for now, CRA TS users have no linting support at all, just useless recompile slowdown (eslint pre-hook in wp running eslint )

[2019-02-08 19:22] harrysolovay commented on #6303
@mrmckeb what's the verdict?

[2019-02-08 20:40] heyimalex commented on #6362
`process.env` doesn't exist in the browser, where cra is expected to run, so when you run `build` all calls to `process.env` are "compiled down" to whatever they were set to at build time. Only `NODE_ENV`, `PUBLIC_URL` and `REACT_APP_*` prefixed environment vars are included. In an electron environment, `process.env` actually _does_ exist, but alas every environment var you use has been compiled a

[2019-02-08 21:27] 13banda commented on #6362
thanks
i think than CRA not good choice for electron like environment
alternative for electron found
https://github.com/electron-userland/electron-webpack-quick-start

[2019-02-08 21:41] heyimalex commented on #6362
Yeah, there's honestly a lot to work around if you want to use cra in electron without ejecting. Good luck on your project!

[2019-02-08 21:49] #6362 closed

[2019-02-08 22:32] pgarciacamou opened #6368 "Webpack CSS-build behaves differently in production than in development"
Has anyone had an issue with CSS working differently in development than in a production build?

I refactored a large App to CRA, it had a single `index.scss` entry point which I just import in App.js.

[code]

[code]

Well, I'm noticing that when running `npm start` the app works perfectly in development. But when running `npm run build` and then deploy it to a staging environment, the app has sl

[2019-02-08 22:42] pgarciacamou commented on #6368
I wonder, maybe I could debug this if there is a way to make CRA get a dev-build and a prod-build without all the minifying from webpack on production builds, this way I could compare the outputs and go from there.

[2019-02-08 22:53] bugzpodder commented on #6368
I've ran into this issue before.  You can test this by go into node_modules/react_scrripts/config/webpack.config.js and mess around with the configuration to see what works for you.

[2019-02-08 22:57] pgarciacamou commented on #6368
@bugzpodder

Do you mean the CSS issue? If so, do you remember more details about it (e.g. did you work around it or found the issue)?

I'll try that 🤞

[2019-02-08 23:12] bugzpodder commented on #6368
For example:
https://github.com/facebook/create-react-app/pull/4706
https://github.com/cssnano/cssnano/issues/661

[2019-02-08 23:14] pgarciacamou commented on #6368
Thanks @bugzpodder! I'm debugging and will report my findings in 10 minutes.

[2019-02-08 23:33] pgarciacamou commented on #6368
I found the difference :: **not a webpack/CRA bug (per se)**.

My issue is actually outside of `index.scss` and happens because our app is lazy-loading some other styles and manually moving them into a child iframe.

The difference between dev and production build is that webpack seems to bundle the lazily-loaded-stylesheets as chunks and loads them using `<link>` elements, while in development, i

[2019-02-08 23:33] #6368 closed

[2019-02-09 00:50] andykitt opened #6369 "Failed to load resource: net::ERR_FILE_NOT_FOUND after build."
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

Yes, npm version : 6.4.1

### Environment

  System:
    OS: macOS 10.14.2
    CPU: x64 Intel(R) Core(TM) i5-4278U CPU @ 2.60GHz
  Binaries:
    Node: 10.15.0 - /usr/local/bin/node
    npm: 6.4.1 - /usr/local/bin/npm
  Browsers:
    Chrome: 72.0.3626.96
    Safari: 12.0.2
  npmPackages:
    react: ^16.8.1 => 16.8.1

[2019-02-09 01:21] mgcrea commented on #5645
My 2cts after having played with this for a while:

For a solution to absolute paths without any customization, you can use the following solution (tested with `react-scripts@2.1.3`).

1. Add a `.env` file:
[code]

2. Add a `tsconfig.paths.json` file:
[code]

3. Add  the following line at the end of the generated `tsconfig.json`.
[code]

Both compilation and intellisense should now work with absol

[2019-02-09 03:51] JBallin commented on #5676
There's an open PR in progress: #6062

Waiting for a response from maintainers.

[2019-02-09 06:55] zxti commented on #5677
As a PSA for folks like me who hadn't realized this but are potentially interested - Webstorm has had intelligent support for Typescript importing CSS Modules (and sass modules) built-in since Jun 2017:

https://blog.jetbrains.com/webstorm/2017/06/webstorm-2017-2-eap-172-2953/

One of many reasons I switched over from VSCode a while ago!

[2019-02-09 07:01] jedmao commented on #5677
@zxti, I'd rather this type of thing be an extension than built in. Best to keep vscode lean. That's one thing I love about it.

[2019-02-09 10:01] ColCh commented on #5216
@ivosabev is seems this was implemented for `2.0` milestone

this comment https://github.com/facebook/create-react-app/issues/892#issuecomment-357407350 references browserlist for these entries

* Autoprefixer: #3644
* Babel: #3770

But in `master` branch these settings are applied

https://github.com/facebook/create-react-app/blob/caf0a30e38d0cb9bbd2aab733efa0dd1aa6a9cb6/packages/babel-preset-rea

[2019-02-09 11:37] GeordyO opened #6370 "Having problems loading on localhost"
When trying to load the app on localhost it just loads for a while and then say that the app cant be reached.

RUNS  src/App.test.js

<--- Last few GCs --->

[41788:0x104000000]    35543 ms: Mark-sweep 1394.6 (1425.3) -> 1394.0 (1424.3) MB, 2402.3 / 0.0 ms  (average mu = 0.091, current mu = 0.018) allocation failure scavenge might not succeed
[41788:0x104000000]    35556 ms: Scavenge 1395.0 (1424.

[2019-02-09 15:53] darajava opened #6371 "Initial CSS class names not consistent with standard CSS naming convention"
The initial CSS classes given with the demo app on CRA are using PascalCase. This is against normal convention for using class names and doesn't seem very idiomatic for web development. Take any MDN page as an example for this naming convention, i.e. https://developer.mozilla.org/en-US/docs/Web/CSS/Reference

Is there a reason for this naming?

### Is this a bug report?

No, it's a feature request

[2019-02-09 16:04] darajava opened #6372 "Ejecting results in a messy webpack config file"
Sometimes it is necessary to eject, and I usually do it early on so that I have better control over the configuration. With previous versions, the webpack config after ejecting was a lot more manageable. With the current version, it's confusing and very long, and it is also using the old webpack syntax. I think the generated file is a bit too complex, and I would imagine it would make more advance

[2019-02-09 16:41] itsmelion commented on #6081
After CRA shifted to 2.x its deps are ok in keeping up-to-date.
For me, that's really important, and since then i stopped ejecting projects because of that.
Deps to keep a close eye on are especially: Webpack and its loaders, PostCSS, and Babel.

[2019-02-09 17:17] itsmelion opened #6373 "Extend dotenv options and read schema and defaults"
I've been missing the ability to declare files like: `.env.schema` and `.env.defaults` like in [dotenv-extended](https://www.npmjs.com/package/dotenv-extended)

TLDR;

- **Schema:** Sometimes an contributor update an required ENV var and unaware of that, i start the project and it breaks.
a Schema will help figuring out what it is, and show in git history what has been changed.

- **Defaults:** Al

[2019-02-09 18:46] ianschmitz commented on #6370
Would you be able to create a minimal example to reproduce this problem and link us here?

[2019-02-09 20:13] toufiqkhazi opened #6382 "'XDomainRequest' is not defined after upgrading to version 2.0.3 from 1.1.4"
Hi,

I have upgraded react-scripts from version 1.1.4 to 2.0.3.

I am using aws cognito auth for authentication in my React app.
This js file has a reference for XDomainRequest() as below,

if (typeof XDomainRequest !== this.getCognitoConstants().UNDEFINED) {
      // XDomainRequest for IE.
      xhr = new XDomainRequest();
      xhr.open(method, url);
    }

After upgrading when I start my server

[2019-02-09 21:55] zxti commented on #5677
@jedmao I actually highly agree with preferring modular extensibility.  FWIW (and not to turn this thread too off-topic - only mentioned it initially because I thought others might be interested) this Typescript support *is* an extension to the Jetbrains IDE core (that's how I installed it - I don't actually use Webstorm-the-product, but just IntelliJ with these plugins installed).  It's also nice

[2019-02-09 22:50] pwolaq opened #6385 "Cannot start new project due to Ajv error"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

No

### Which terms did you search for in User Guide?

None

### Environment

[code]

### Steps to Reproduce

1.  `npx create-react-app my-app --typescript`
2.  `cd my-app`
3.  `npm start`

### Expected Behavior

Starting the development server

### Actual Behavior

Build exits with status 1 and the following error appe

[2019-02-09 22:59] russelldavis commented on #6074
I'm hitting this issue as well. Only happens in Chrome, not Firefox. Chrome has a [long history](https://github.com/facebook/create-react-app/issues/3494#issuecomment-346644484) of issues with sourcemaps, and I found that changing webpack's source map type from `cheap-module-source-map` to `eval-source-map` fixes the issue. Fortunately, that change has already been made at https://github.com/faceb

[2019-02-09 23:04] BrianMitchL commented on #6385
AJV issue: https://github.com/epoberezkin/ajv/issues/941

[2019-02-09 23:05] tetreault commented on #6385
placing this comment here as well since i see it referenced. this broke a fresh Nuxt project for me. Doing `npm i -d ajv@5.0.0` resolved it for now.

[2019-02-09 23:09] lvl99 commented on #5602
🙏

[2019-02-09 23:15] viankakrisna commented on #6385
workaround for yarn users:
add
[code]
to your package.json and re run `yarn install`

[2019-02-09 23:15] russelldavis commented on #6296
@justingrant not sure if it will make a difference to this particular bug, but note that the config for webpack's sourcemap creation was [recently changed](https://github.com/facebook/create-react-app/pull/5060). That change fixes a different sourcemap related bug (see https://github.com/facebook/create-react-app/issues/6074#issuecomment-462087174); it might be worth seeing how it affects this one

[2019-02-09 23:28] jugges commented on #6385
this issue drove me crazy!
@tetreault not working for me ):

[2019-02-09 23:32] viankakrisna commented on #6385
just add
[code]
to your package.json

run `yarn install` if you use yarn
[code]
if you use npm.

[2019-02-09 23:37] jugges commented on #6385
@viankakrisna didn't manage to make it work using your fix on npm

[2019-02-10 00:03] guix77 commented on #6385
Thanks guys!

[2019-02-10 00:07] jonmorazav commented on #6385
@viankakrisna adding resolutions worked for me! Thanks

[2019-02-10 00:09] fdemian commented on #6385
Last fix worked for me, although I would like to see a more general resolution.

[2019-02-10 01:05] MattGerard commented on #6385
As a short term adding "ajv": "6.8.1" to package.json deps should also work.

[2019-02-10 01:41] #5676 closed

[2019-02-10 01:46] ianschmitz commented on #6074
@russelldavis a release should be out shortly :)

[2019-02-10 01:51] ianschmitz commented on #5319
We will be releasing a new version including the change made in https://github.com/facebook/create-react-app/pull/5060 shortly. I hope this may improve some of these issues you're experiencing.

[2019-02-10 02:13] justingrant commented on #5319
@ianschmitz - unfortunately I don't think this will help because I've already tested every possible devtool option (see https://github.com/facebook/create-react-app/issues/6296#issuecomment-461637016) and none of them fixed the problem described in #6296 where the webpack sourcemap content doesn't match the original source files in node_modules.

[2019-02-10 02:27] WebchemistGenn commented on #6385
updated ajv version 6.7.0 -> 6.9.0
downgrade version

yarn add ajv@6.7.0 or npm install ajv@6.7.0

[2019-02-10 03:25] ianschmitz commented on #6271
See my comment over at https://github.com/facebook/create-react-app/pull/6345#issuecomment-462099536. I'd be okay with including ie11 by default in `browserslist` which affects our css loader, however the .js bundles already compile down to `ie9`.

[2019-02-10 04:50] elderapo opened #6388 "CRA2 doesn't work with reflect-metadata package"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

No

### Which terms did you search for in User Guide?

None

### Environment

[code]

### Steps to Reproduce

Just follow the steps from the `Reproducible Demo` part and open console in browser.

### Expected Behavior

Browsers console should print `someProperty type: Number`.

### Actual Behavior

It prints `couldn't g

[2019-02-10 05:38] buildbreakdo commented on #6271
@saranshkataria issue was to add Chrome 41 (googlebot); Bazzer mentioned IE 11 because that was a requirement for his project, not necessarily a recommendation that IE 11 should be added. Sounds like from @ianschmitz  comments in the pull request that IE11 is already covered by targeting down to IE9?

via https://github.com/facebook/create-react-app/pull/6345#issuecomment-462099536

Interesting to

[2019-02-10 07:14] saranshkataria commented on #6271
@buildbreakdo agreed that the same browserslist should be used for both of them. Also, I am not sure what CSS specific features change with browsers? @ianschmitz could you shed some light on that as well, please?

[2019-02-10 08:50] Saibamen commented on #5935
activity mode on :P

[2019-02-10 08:59] haf opened #6389 "React specific fragment syntax causes linter warning"
Copied from https://github.com/facebook/create-react-app/issues/5950 which was closed for some archaic reason.

<blockquote>
I have this component

[code]

I got warning of `Line 1: 'React' is defined but never used no-unused-vars` in my terminal. I changed the `<></>` to `div`, the error is gone. Is this a bug?

I'm using `"react": "^16.6.3"`
</blockquote>

I, myself, just pulled in the very late

[2019-02-10 10:08] mrmckeb commented on #5641
Yes, @Hotell :) We're just being cautious as the [`typescript-eslint`[ (https://github.com/typescript-eslint/typescript-eslint) project is very new, and we'd hate to introduce an experience that introduced more issues than it solved.

[2019-02-10 12:15] tnishimura opened #6390 "CRA/react-scripts should not look in higher directories for webpack-dev-server"
### Is this a bug report?

Yes -- I don't think it makes sense that react-scripts checks in parent directories for modules first.

**NOTE** I am aware there are several issues related to this (like #6182, and a [SO question here](https://stackoverflow.com/questions/54524335/npm-wont-start-a-react-app-requires-a-dependency-webpack-dev-server-3-1-14) here, but most seem to 'solve' the solution by te

[2019-02-10 14:53] tmclayson opened #6391 "Error: Failed to load plugin import: Cannot find module 'eslint-plugin-import'"
### Is this a bug report?

Yes

Repo demonstrating the problem. It is a a freshly bootstrapped react app. I then installed react-testing-library. The same problem shows if I install enzyme instead.

https://github.com/tmclayson/create-react-app-eslint-plugin-import-error

Yes, tried deleting node_module and package-lock.json.

npm version: 6.8.0-next.2

Have tried multiple different versions howev

[2019-02-10 15:48] ianschmitz commented on #6385
`ajv@6.9.1` is out and should fix this issue. Please let us know if you continue to have issues. Make sure to delete your node_modules and lock files to ensure you grab the latest package.

[2019-02-10 15:48] #6385 closed

[2019-02-10 16:13] #6227 closed

[2019-02-10 19:30] mrmckeb opened #6392 "Enhance CLI validation"
### Is this a bug report?
No, we've reverted #6080, but want to continue this work in the near future.

### Steps to Reproduce
Create an application using `npx create-react-app option1 option2 option3`. A project called `option1` is created, and other arguments are ignored without user feedback.

### Expected Behavior
When creating an application with `npx create-react-app [options]`, I should be

[2019-02-10 21:26] petetnt commented on #6390
Hi @tnishimura,

the underlying issue is that the [Node resolver also works this way](https://nodejs.org/api/modules.html#modules_loading_from_node_modules_folders) which potentially causes problems with CRA.

In your situation I suggest that you pass the check with `SKIP_PREFLIGHT_CHECK=true` env variable as the error message states to skip this check.

[2019-02-10 21:36] petetnt commented on #6371
Hi @darajava,

The pascal casing in the template CSS is a form of namespacing the CSS to the corresponding component, which in React conventions are usually pascal cased (including filenames)

App.js -> class App -> top-level className App -> child classname App-{component name}

However this is just a matter of preference and doesn't change the semantics (nor does React use the classNames in part

[2019-02-10 21:41] Andarist commented on #5313
BUMPing for stale bot. The issue is still there.

[2019-02-10 21:42] petetnt commented on #6391
Hi @tmclayson,

from a quick CodeSandbox test everything seemed to work normally: https://codesandbox.io/s/lxpwjno9r7

Sounds like a intermittent issue with `npm` . Have you tried cleaning the [cache](https://docs.npmjs.com/cli/cache.html)?

[2019-02-10 21:50] petetnt commented on #6389
Hi @haf,

couldn't replicate this locally with `react-scripts@2.1.3` by bootstrapping a new project and changing the first div in `App.js` to be a plain fragment (`<>, </>`)

Could you create a MVP repo that replicates the ESLint error, thanks.

[2019-02-10 22:03] tnishimura commented on #6390
Thank you for the reply.  The URL says:

"For example, if the file at '/home/ry/projects/foo.js' called require('bar.js'), then Node.js would look in the following locations, in this order:

    /home/ry/projects/node_modules/bar.js
    /home/ry/node_modules/bar.js
    /home/node_modules/bar.js
    /node_modules/bar.js

This allows programs to localize their dependencies, so that they do not clash

[2019-02-10 22:09] Timer commented on #6074
This is now released. 😄

[2019-02-10 22:57] petetnt commented on #6390
Local does come first (which is why your app might / will most likely work if you disable the check) but there are some cases where installing packages on top level does cause interesting issues.

The [original issue sheds light](https://github.com/facebook/create-react-app/issues/1795) on the issue, [what's the purpose of the check](https://github.com/facebook/create-react-app/issues/1795#issueco

[2019-02-10 23:17] tnishimura commented on #6390
Gotcha, I didn't find that issue earlier. Thank you!

[2019-02-10 23:17] #6390 closed

[2019-02-10 23:37] #6371 closed

[2019-02-11 00:00] bugzpodder commented on #5707
This is fixed in the latest release.

[2019-02-11 00:08] darajava commented on #6371
Hi @petetnt,

Thanks for the explanation, fair enough. Keep up the great work!

[2019-02-11 00:17] devuxer commented on #3722
@gaearon, Is this still under consideration?

[2019-02-11 00:49] jstriebel commented on #6187
This seems to be tracked in issue #1217

[2019-02-11 00:52] bugzpodder commented on #6372
Hi darajava, we are actively exploring how to support advanced use cases: see #6303

[2019-02-11 00:52] #6372 closed

[2019-02-11 00:56] darajava commented on #6372
Thank you @bugzpodder

[2019-02-11 01:46] ianschmitz commented on #6187
Closing in favor of #1217.

[2019-02-11 01:46] #6187 closed

[2019-02-11 01:47] ianschmitz commented on #6166
2.1.4 is out with the updated version.

[2019-02-11 01:47] #6166 closed

[2019-02-11 04:56] jamesg1 commented on #5692
Adding `"baseUrl": "./src",` to my `compilerOptions` options in `tsconfig.json` worked for me.

[2019-02-11 07:05] aamitcode opened #6394 "Missing Origin Validation in Webpack-dev-server for react-script-ts"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

6.7.0

### Which terms did you search for in User Guide?

(Write your answer here if relevant.)

### Environment

(paste the output of the command here)

### Steps to Reproduce

(Write your steps here:)

1. npm audit
 === npm audit security report ===

                                 Manual Review
             Some vul

[2019-02-11 08:01] petetnt commented on #6394
Hi, this should have been fixed with https://github.com/facebook/create-react-app/releases/tag/v2.1.3,  can you confirm if this still happens with new versions of CRA?

[2019-02-11 08:06] aamitcode commented on #6394
@petetnt - https://github.com/facebook/create-react-app/releases/tag/v2.1.3 is about react-script fix. but I am using react-script-ts and its not fixed. I upgraded all the packages but its throwing the Missing Origin validation error.

[2019-02-11 08:46] aamitcode commented on #6394
I tried to latest version of CRA for typescript and its still happening.

[2019-02-11 09:09] petetnt commented on #6394
Ah, my bad.

We now natively support `typescript` natively and the third party project (`react-scripts-ts`) is now deprecated. See the repo (https://github.com/wmonk/create-react-app-typescript#-deprecated-) for more information.

[2019-02-11 09:09] #6394 closed

[2019-02-11 09:15] OriAmir commented on #6351
Hi, any news about **eslint-plugin-react-hooks** ? or about release a new version of create-react-app that includes hooks ? or we need to update that manually ?
tnx
@bugzpodder

[2019-02-11 10:07] aericson commented on #5273
I think https://github.com/facebook/create-react-app/pull/5816/ closed this.

[2019-02-11 10:32] haf commented on #6389
@peterbe Thanks for trying though. I don't have time to repro this right now, so I'm closing the ticket.

[2019-02-11 10:32] #6389 closed

[2019-02-11 12:45] kimfucious opened #6397 "Unable to recover from dependency issues"
### Is this a bug report?

Yes, although it's highly probable that I've done something stupid.

For the record everything was working yesterday, and today it's not.  Today I added redux, react-redux, and redux-thunk, which may have (but probably didn't) caused this issue.  I removed them, and did multiple dependency resets, but to no avail.

My main issue is that I cannot determine how to resolve

[2019-02-11 12:54] 6footGeek commented on #6397
Same here - just installed a new library 'react-pose' on a fresh install and fell over immediately, deleted package-lock.json and removed library and still falling over.
Try:

`npm install fork-ts-checker-webpack-plugin && npm install typescript `

This gets create-react-build to actually spin up the dev environment but not sure why they are needed.

[2019-02-11 13:30] VincentLanglet opened #6398 "2.1.4 Update cause "Cannot find module '/Users/.../node_modules/react-scripts/node_modules/@babel/runtime/helpers/interopRequireDefault' from 'setupTests.ts'""
### Environment

[code]

### Steps to Reproduce

Starting from my project with `react-scripts: 2.1.3`,

 - `yarn`
 - `yarn test` working
 - `yarn add react-scripts@2.1.4`
 - `yarn test` working
 - `yarn-deduplicate` [what is this](https://github.com/atlassian/yarn-deduplicate)

Introducing these modifications in the `yarn.lock`

[code]

 - `yarn`
 - `yarn test` not working anymore

[code]

If need

[2019-02-11 13:50] kimfucious commented on #6397
@6footGeek nice workaround, thanks.   Hoping we find root cause at some point.

[2019-02-11 14:03] kimfucious commented on #6397
oddly, after installing firebase, I've got a new dependency requirement, `tslint`:

I feel like I'm live coding against updating dependencies here...

[code]

[2019-02-11 14:15] VincentLanglet commented on #6398
Ok, I found why.

I had `@babel/core` in my dependencies.
So I didn't had `react-script/node_modules/@babel/core`.

[2019-02-11 14:28] raRaRa opened #6399 "FOUC - JS chunks rendered before CSS has loaded, on development, references blobs instead of inline style"
### Is this a bug report?

Yes (I think so!), only on development, not production.

### Did you try recovering your dependencies?

Yes. Running yarn version 1.13.0

### Which terms did you search for in User Guide?
Stylesheets, sass, css, code splitting and modules

### Environment

Environment:
  OS:  Windows 10
  Node:  8.11.1
  Yarn:  1.13.0
  npm:  6.4.1
  Watchman:  Not Found
  Xcode:  N/A

[2019-02-11 14:40] elevatebart opened #6400 "Missing dependency in react-dev-utils"
### Is this a bug report?

Yes

In react-dev-utils, there is an extraneous dependency.

In file [packages/react-dev-utils/WebpackDevServerUtils.js](https://github.com/facebook/create-react-app/blob/b02f181d0d98651bb5144acee276bb0f2db67c60/packages/react-dev-utils/WebpackDevServerUtils.js#L21) the package `fork-ts-checker-webpack-plugin` is required without being in the dependencies.

### Did you t

[2019-02-11 14:42] demkovych commented on #6400
+1

[2019-02-11 15:18] elevatebart commented on #6400
Source:

https://github.com/vue-styleguidist/vue-styleguidist/issues/270

[2019-02-11 15:29] piotr-cz commented on #6400
Possible fix: #6395

[2019-02-11 15:32] piotr-cz commented on #6397
Possible fix: #6395

[2019-02-11 15:49] vviotto opened #6402 "Typescript: Enum initializer from another enum is throwing "Enum member must have initializer""
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

Yes

### Steps to Reproduce

Create two enums, one using the initializer value from the other

[code]

### Expected Behavior

Compile without errors

### Actual Behavior

[code]

### Reproducible Demo

https://github.com/vviotto/test-enum

### Observations
I'm posting this here because the problem occurred in a project

[2019-02-11 15:54] leonardoampuero commented on #6400
I had to add this to my package.json to make it work
`
  "devDependencies": {
    "fork-ts-checker-webpack-plugin": "0.5.2",
    "typescript": "3.3.3"
  },
`

[2019-02-11 16:42] ianschmitz commented on #6400
We decided to revert #5903 to fix `react-dev-utils` for downstream consumers. This will give us a bit of time to figure out the best solution for how to consume the `fork-ts-checker-webpack-plugin` dependency

[2019-02-11 16:42] #6400 closed

[2019-02-11 16:42] ianschmitz commented on #6397
We decided to revert #5903 to fix `react-dev-utils` for downstream consumers. This will give us a bit of time to figure out the best solution for how to consume the `fork-ts-checker-webpack-plugin` dependency.

2.1.5 is now available

[2019-02-11 16:44] primarius27 commented on #6399
Experienced the same bug after I updated react-scripts from 2.1.2 to 2.1.4.

[2019-02-11 16:56] VincentLanglet commented on #6398
I have to manually add `@babel/runtime` inside `react-scripts/node-modules` to fix this...

[2019-02-11 16:56] jacargentina commented on #6399
Same here, very ugly effect

[2019-02-11 16:59] kimfucious commented on #6397
Hey @ianschmitz ...  thanks, but still trying to recover here.  I've done a dependency refresh with yarn, and I'm still stuck at (see original problem description for details):

The react-scripts package provided by Create React App requires a dependency:

  "babel-loader": "8.0.4"

2nd question:  is there a way to not receive breaking changes, like by setting explicit version in package.json?

[2019-02-11 17:01] raRaRa commented on #6399
It happened to me after upgrading from `2.1.3` to `2.1.4`, and the strange thing is that I still have the issue if I downgrade to `2.1.3`. I'm wondering if it's related to some dependency that got updated after deleting `yarn.lock` and `node_modules`.

[2019-02-11 17:11] kimfucious commented on #6397
even better...

fork-ts-checker-webpack-plugin@0.5.2" has unmet peer dependency "webpack@^2.3.0 || ^3.0.0 || ^4.0.0".

[2019-02-11 17:15] kimfucious commented on #6397
Not to be a prat, but hey @gaearon (Dan), can WTF is going on here?

[2019-02-11 17:16] jacargentina opened #6403 "2.1.4 chrome devtools no longer show "original sources" for debugging, etc"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

Yes

### Which terms did you search for in User Guide?

No related to my problem

### Environment

Environment Info:

  System:
    OS: macOS 10.14.3
    CPU: x64 Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz
  Binaries:
    Node: 11.9.0 - /usr/local/bin/node
    npm: 6.5.0 - /usr/local/bin/npm
  Browsers:
    Chrome: 72.0.

[2019-02-11 17:18] 6footGeek commented on #6397
@kimfucious you can set a specific version like: "my_dep": "2.2.0" which will only install that specific version forever.
To keep on top of new package releases (if your app is quite large) you can build a CI integration that will do an update / install of the latest versions across the board and run your tests against the new versions. breaking changes will fail this build and then you don't auto

[2019-02-11 17:21] kimfucious commented on #6397
thanks, @6footGeek

Maybe, I'm being idealistic, but my hope that apps don't crash right after yarn / npm install 😉 when they worked an hour ago.

[2019-02-11 17:26] 6footGeek commented on #6397
Alas, this is the world of the javascript friend! There isn't a lot you can do other than specify the specific versions you need and keep them untouched, your installs will work fine then as long as you keep your package-lock around :)
Have a look at your package.json - does it have the '^' character before any of the packages? that will try and pull in anything above that version.

For more readi

[2019-02-11 17:49] kimfucious commented on #6397
thanks for the laugh, @6footGeek

I'm aware of said pitfalls, it's just that with CRA, I'd expect that things not to roll down the pike and into my peas and mash so readily.  Something strange seems to be going on here.

Dumb question:  `fork-whatever-blah-blah` is not something I'd normally control in my package.json, as I'm using CRA.  Am I wrong to assume that using CRA to build an app would pr

[2019-02-11 17:54] kimfucious commented on #6397
And for the record:

[code]

[2019-02-11 17:58] kimfucious commented on #6397
"devDependencies": {
    "dom-testing-library": "^3.16.5",
    "jest-dom": "^3.0.1",
    "react-testing-library": "^5.4.4",
    "react-test-renderer": "^16.7.0",
    "tslint": "^5.12.1",
    "user-event": "^1.4.4"
  }

[2019-02-11 18:02] Tenshock commented on #6398
I have exactly the same issue

[2019-02-11 18:04] ianschmitz commented on #6397
`2.1.5` was released which reverted the change to `react-dev-utils` that was importing `fork-ts-checker-webpack-plugin`.

Can you remove your work arounds and try `react-scripts@2.1.5`? I tried creating a fresh app and `yarn start` worked as expected.

[2019-02-11 18:47] steranka opened #6404 "create-react-app v2.1.5 fails @svgr/plugin-svgo v4.0.3 dependency not found"
### Is this a bug report?
Yes, but more of an FYI because the dependency should exist.

### To reproduce the problem
Simply run

`create-react-app app`

The output and error are
[code]

I'm using the latest versions of node, npm, yarn, and create-react-app.  Versions shown below
create-react-app = v2.1.5
node = v10.15.1 (64-bit install)
npm = v6.4.1
yarn = v1.13.0

I'm on a Windows 10 (64-bit).
OS

[2019-02-11 20:09] jeremyckahn commented on #6398
I was able to work around this issue with:

[code]

The latest version as of this writing is `7.0.1`. It appears that something related to #6393 is causing this issue.

Relevant commits:
  - https://github.com/facebook/create-react-app/commit/b02f181d0d98651bb5144acee276bb0f2db67c60#diff-5a51074922f8107dc611b7e125130e7e
  - https://github.com/facebook/create-react-app/commit/b7e01584411a2b6f651d28

[2019-02-11 20:34] bugzpodder commented on #6398
I had a workaround where I told yarn not to hoist
 "**/babel-preset-react-app/@babel/runtime"

[2019-02-11 20:36] jeremyckahn commented on #6398
@bugzpodder Do you know if there is a comparable solution for npm users?

[2019-02-11 20:42] bugzpodder commented on #6398
Sorry I only use yarn on this project because of workspaces.  I tried a fresh install of create-react-app but didn't run into this issue.

[2019-02-11 21:24] jeremyckahn commented on #6398
@bugzpodder understood. I also can't repro this on a fresh CRA install. I think this issue may be related to the testing toolchain, as my error output looks very similar to @VincentLanglet's:

[code]

[2019-02-11 21:32] mikew commented on #6397
This was another thing I noticed in https://github.com/facebook/create-react-app/pull/5903#issuecomment-457461152. I should have mentioned that a package was requiring `fork-ts-checker-plugin` without adding it to its own package.json

I was able to solve it by passing `fork-ts-checker-plugin` from one package to another, to avoid installing it in two places.

[2019-02-11 21:39] bugzpodder commented on #6403
I can repo this.

[2019-02-11 21:46] bugzpodder commented on #6403
Seems to be related to #5060: @Timer @jasonLaster
I reverted this from webpack configs manually and it started working again.

[2019-02-11 22:01] russelldavis commented on #6403
That change made it so each file will show up twice -- once in the raw form, once in the original source form. Look for the second occurrence of the filename and you should be fine.

[2019-02-11 22:08] petetnt commented on #6404
Thanks @steranka, it seems that @svgr/plugin-svgo properly installs as of now

[2019-02-11 22:08] #6404 closed

[2019-02-11 22:12] bugzpodder commented on #6403
I tested it a bit more and for some of the files I looked at, it sometimes showed up twice per above, sometimes none at all.

[2019-02-11 22:14] bugzpodder commented on #6403
![screen shot 2019-02-11 at 2 13 56 pm](https://user-images.githubusercontent.com/14841421/52597269-565b8d00-2e07-11e9-97a0-f844e01d721b.png)
![screen shot 2019-02-11 at 2 13 49 pm](https://user-images.githubusercontent.com/14841421/52597279-5bb8d780-2e07-11e9-8b43-723a95c37f0d.png)

[2019-02-11 22:16] Timer commented on #6403
Yes, you'll only be able to see the source once it has been loaded.

[2019-02-11 22:21] petetnt commented on #6382
Hi @toufiqkhazi,

sadly could not replicate the issue by installing `amazon-cognito-auth-js` and importing it to my application. Could you provide a repository or similar that reproduces the error? Thanks!

[2019-02-11 22:24] bugzpodder commented on #6403
Thanks! makes sense.  @jacargentina can you double check your case to make sure that it was not the same mistake I made?

[2019-02-11 23:04] pqt commented on #6126
idk, is this stale?

[2019-02-11 23:30] justingrant commented on #6354
@ianschmitz - Are you able to unlock #3994?  It's locked but in its current state it's giving people (like me, @tomitrescak, @mrapogee, and likely many others) false hope about use of `browserslist` in current CRA builds.

Therefore, I'd like to add a comment to that issue to prevent more people from wasting time. I'd also like to link people to a canonical issue they can use to discuss, vote on,

[2019-02-12 00:04] ianschmitz commented on #6354
@justingrant sure thing!

[2019-02-12 00:06] patientplatypus commented on #5372
Yeah, I'm having this. Why?

[2019-02-12 00:06] justingrant commented on #6354
Cool, thanks @ianschmitz. Do you have a preference for which of those three issues should be the "master" of this feature request?

[2019-02-12 00:32] ianschmitz commented on #6354
Looks like #6198 is probably the most general and relevant for using `browserslist` with `@babel/preset-env` to accomplish what you guys are hoping for.

[2019-02-12 00:41] justingrant commented on #3994
@mrapogee - Unfortunately the ability to use browsersList to disable regenerator and other polyfills was removed before V2 of CRA was released.  Like you, I also wasted a bunch of time before figuring it out that the advice given by @Timer and @z-vr was accurate when they gave it, but it doesn't apply anymore to current CRA2 releases.

If you (like me!) want to see this implemented, @ianschmitz su

[2019-02-12 00:43] justingrant commented on #6354
Cool. You might want to close this issue and also #3994 so we can coalesce future feedback into the master issue #6198.

[2019-02-12 01:02] #6354 closed

[2019-02-12 02:06] xiaoshuai commented on #6237
@JavaJamie
now we can decorators without ejecting
by edit file `create.js` in `babel-preset-react-app` package
find those code in file
[code]
add those code after above
[code]

[2019-02-12 02:12] xiaoshuai commented on #6237
@JavaJamie
now we can use `babel decorators` without ejecting
by edit file `create.js` in `node_modules/babel-preset-react-app` package
find those code in file
[code]
add those code followed by above code
[code]

[2019-02-12 03:11] Oscar-ren commented on #6173
https://github.com/webpack/webpack-dev-server/issues/147

[2019-02-12 03:15] Oscar-ren commented on #6173
I find the reason, change webpack-dev-server host config will lead to can't access by ip.
https://github.com/webpack/webpack-dev-server/issues/147

[2019-02-12 03:15] #6173 closed

[2019-02-12 04:02] lifeiscontent opened #6405 "using d.ts files triggers create-react-app to tell me to opt-into typescript"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

yes

### Which terms did you search for in User Guide?

typescript

### Environment

Environment Info:

  System:
    OS: macOS 10.14.3
    CPU: x64 Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz
  Binaries:
    Node: 10.13.0 - ~/n/bin/node
    Yarn: 1.13.0 - ~/.yarn/bin/yarn
    npm: 6.4.1 - ~/n/bin/npm
  Browsers:
    Chro

[2019-02-12 04:18] toufiqkhazi commented on #6382
Hello Petetnt,
Thank you for looking into the issue. Our application had the source files of Cognito auth js in our application. this was breaking earlier. I too tried replacing this with npm which resolved the issue for me also. Sorry for the late update.

[2019-02-12 04:18] #6382 closed

[2019-02-12 04:46] SunHuawei commented on #6351
It's actually easy to upgrade to the newest version of react, and easy to integrate **eslint-plugin-react-hooks**. I done that in just few minutes on codesandbox.io. Click [here](https://codesandbox.io/s/137j44lok7) to see it. You can also download the whole project to your local by clicking the download button.

For someone who are curious what I've done, I just list the steps here
1. Create a Re

[2019-02-12 06:07] rfdc opened #6407 "After update, plugin not working w/ react-scripts | jQuery.Deferred exception: MyPlugin is not defined"
### Is this a bug report?
Not Sure, but it used to work before react-scripts was introduced!
I had some extra config at Webpack config such as:
[code]
AND
[code]

### Did you try recovering your dependencies?
Yes.

### Which terms did you search for in User Guide?
react-scripts, Webpack ProvidePlugin, CopyWebpackPlugin
Tried to apply some a solution from #4281 by importing `globals.js`

### Steps

[2019-02-12 07:38] #5732 closed

[2019-02-12 07:38] #6118 closed

[2019-02-12 07:38] #6114 closed

[2019-02-12 07:38] #6122 closed

[2019-02-12 07:38] #6121 closed

[2019-02-12 07:38] #6119 closed

[2019-02-12 07:38] #6125 closed

[2019-02-12 07:38] #6130 closed

[2019-02-12 07:38] #5838 closed

[2019-02-12 07:38] #6065 closed

[2019-02-12 08:02] kimfucious commented on #6397
Hi @ianschmitz ,

I've removed workarounds updated to react-scripts@2.15 did another dependency reset using npm.

It's all good!  Thanks for helping to sort this out.

[2019-02-12 08:02] #6397 closed

[2019-02-12 08:35] petetnt commented on #6382
Glad you got it resolved!

[2019-02-12 08:37] artsiompeshko commented on #5216
For anyone who still experiences issues, as a temporary workaround, you can override targets with following:

babel/index.js
[code]

and in bablerc
[code]
Hovewer, still waiting for support from babel-create-react-app-preset to override such things.

[2019-02-12 09:17] VincentLanglet commented on #6398
I tried to make a minimal repo with this bug. But I really don't understand what happend.

[code]
Produce the error
[code]
Still the error
[code]
No error
[code]
Still the error

[2019-02-12 09:39] olessavluk commented on #6398
@VincentLanglet yeah, I confirm that after `cp -R my-project copy` this error is gone for me too, looks like dark magic

[2019-02-12 11:11] VincentLanglet commented on #6398
@bugzpodder How do you do this ?
(In my case, it's for "**/react-scripts/@babel/runtime"

[2019-02-12 15:39] nmain commented on #6198
Some things I mentioned in a previous ticket:
Chrome devtools has good support for direct debugging of native `async` / `await`.  You can step in/step over in an `async` method and it stays with you.  With transpiles or "callback hell", you have no easy way to stay with your current async flow of execution when it goes over a continuation.

In any V8 derived environment, native `async` / `await` i

[2019-02-12 15:40] jacargentina commented on #6403
I 've checked and yes, there are two ocurrences of the files. I must say that this change makes my life harder...😔

[2019-02-12 15:40] #6403 closed

[2019-02-12 15:43] jacargentina commented on #6399
@raRaRa can you add the suffix [(FOUC)](https://en.wikipedia.org/wiki/Flash_of_unstyled_content) on the issue title please? It can help others having this to reach here.

[2019-02-12 15:52] bkd705 commented on #6398
Adding `@babel/runtime` to dependencies in our app worked for us. Hopefully this is just a temporary solution.

[2019-02-12 16:11] mraible opened #6409 "Move TypeScript dependencies to devDependencies"
### Is this a bug report?

No.

When generating a new React app with TypeScript, all dependencies are listed in the `dependencies` node of `package.json`.

Command:

[code]

Result:

[code]

Many of these can be moved to `devDependencies`, resulting in:

[code]

[2019-02-12 16:23] iansu commented on #6409
This is intentional. We install all packages as dependencies. See this issue for more information: https://github.com/facebook/create-react-app/issues/6180

[2019-02-12 16:23] #6409 closed

[2019-02-12 16:31] deebov opened #6410 "Upgrade to webpack 4.6.0+ or support prefetch/preload features"
Hi folks. I wanted to use webpack's preload/prefetch feature. But as I figured out that CRA uses v4.19.1 of webpack. And these features were added after the v4.6.0 of webpack. How can I use these features? Should I upgrade webpack?

### Is this a bug report?

No.

### Expected Behavior

Support preload/prefetch feature. Add html link tag with preload/prefetch in head tag.

### Actual Behavior

web

[2019-02-12 16:54] DieselHuang opened #6411 "EACCES: permission denied, mkdir '/Users/my-app'"
### Is this a bug report?

(write your answer here)

### Did you try recovering your dependencies?

(Write your answer here.)

### Which terms did you search for in User Guide?

(Write your answer here if relevant.)

### Environment

(paste the output of the command here)

### Steps to Reproduce

(Write your steps here:)

1.
2.
3.

### Expected Behavior

(Write what you thought would happen.)

###

[2019-02-12 18:11] cam424 commented on #6339
I'm having a similar issue when loading in Foundation via sass-loader and node-sass into a Vue project using Webpack, Util started throwing errors. At first it was showing an issue with regex using the default Nuxt-cli but when I updated my version of Util, it showed the same issue you produced.

[code]

[2019-02-12 18:26] gcallaghan commented on #6344
I don't have storybook installed and I see this error as well. It seems there is a strict match for both `babel-preset-react-app` and `react-scripts`

[code]

[2019-02-12 19:25] chranderson commented on #6398
I was getting the error after the update due to the moduleNameMapper argument in my test script.
[code]

Once I removed moduleNameMapper, all my tests ran successfully (execpt for the ones using match-sorter mock)
`react-scripts test --env=jsdom`

[2019-02-12 19:32] olessavluk commented on #6398
For me error gone after doing `cp -R my-project copy` or clonning  project into directory with a different name. ¯\\_(ツ)_/¯

[2019-02-12 20:37] petetnt commented on #6411
Hi @DieselHuang,

Your user doesn't have permissions for the said folder. You should run the `create-react-app` command in a folder that you own, such as `/Users/your-local-username` (for example `/Users/DieselHuang`)

[2019-02-12 20:37] #6411 closed

[2019-02-12 21:47] sanzstez commented on #6399
+1. Same issue at Mac OS with CRA 2.1.5.
Show unstyled html before css apply for ~ 1 sec.

[2019-02-12 22:06] esetnik commented on #6198
@nmain it does also apply to `function*`. I use `redux-saga` in my projects and debugging a non-ejected `create-react-app` is hell if you're inside a generator function. It's unfortunate because chrome has native support for debugging this code if you're not transpiling and vscode integration works great. The tagline for `create-react-app` is:

so I can understand why the maintainers are hesitant

[2019-02-12 22:56] james-randolph-50 opened #6412 "Can't Resolve 'react' in '../react-redux/es/components/Context.js'"
### Is this a bug report?

After following the steps listed by "gaearon" on [this link](https://github.com/facebook/create-react-app/issues/2534) I still get the following error:

"C:/Users/james/node_modules/react-redux/es/components/Context.js
Module not found: Can't resolve 'react' in 'C:\Users\james\node_modules\react-redux\es\components'"

I've installed the latest npm.

### Did you try recov

[2019-02-12 23:42] kuzhelov opened #6413 "create-react-app failing with --scripts=react-scripts-ts"
### Is this a bug report?

yes

### Did you try recovering your dependencies?

N/A

### Which terms did you search for in User Guide?

### Environment

Environment:
  OS:  macOS High Sierra 10.13.5
  Node:  8.11.3
  Yarn:  1.10.1
  npm:  6.4.1
  Watchman:  Not Found
  Xcode:  Xcode 8.3.3 Build version 8E3004b
  Android Studio:  Not Found

Packages: (wanted => installed)
  react: ^16.8.1 => 16.8.1

[2019-02-12 23:45] iansu commented on #6413
react-scripts-ts is a different project so we can't offer support for that. However, Create React App now has TypeScript support built in: https://facebook.github.io/create-react-app/docs/adding-typescript

[2019-02-12 23:45] #6413 closed

[2019-02-12 23:50] kuzhelov commented on #6413
@iansu, thanks a lot for clarifications!

[2019-02-13 06:41] deebov commented on #6410
I used some libraries related to lazy loading in react. they are `react-loaddable` and `@loadable/component`. but somehow, their `preload` and `prefetch` features did not work for my app. Usually in my prejects I use my own `lazyComponent`. And I just realized that I can implement that `prefetch` feature in my component.

`import React, { Component } from 'react';
import Spinner from '../../compon

[2019-02-13 06:41] TingOOOgniT opened #6414 "Source map doesn't work"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

I use create-react-app to create a project and run yarn start without any change. But I cannot find source files under localhost:3000

### Which terms did you search for in User Guide?

I have tried to search this problem but I just cannot find something relevant.

### Environment

Environment Info:

  System:
    OS: m

[2019-02-13 06:55] TingOOOgniT commented on #6414
Only can find source code under webpack-internal://
I used to create a react app with react-script 1.1.4 and I can find a folder under localhost:3000 with all source code in it.

[2019-02-13 08:11] mrmckeb commented on #6399
Hi all, sorry about this. If you want to revert to 2.1.3 in the interim, I think that would be the safest. We'll look into this and try to get a fix out ASAP.

[2019-02-13 08:14] mrmckeb commented on #6405
Hi @lifeiscontent,

This is a known issue sorry, we don't currently have a workaround for it. If you would like to raise a PR, I think we could limit the search for `*.ts` files that are not `*.d.ts`.

[2019-02-13 08:17] mrmckeb commented on #6344
Hi @gcallaghan, that's odd, thanks for raising. Those projects should definitely be aligned, and realistically, we could resolve babel-loader from `babel-preset-react-app`... Would you be interested in raising a PR to look into that?

[2019-02-13 08:18] johnnyreilly commented on #6194
Hopefully this will happen here: https://github.com/facebook/create-react-app/pull/6406

[2019-02-13 08:18] #6194 closed

[2019-02-13 08:22] mrmckeb commented on #6373
Hi @itsmelion, that sounds interesting - however, I would expect that you'd already be able to see in your git history which variables were changed, and when?

The biggest issue with adding something like this is that it would be static, as people often bump their `react-scripts` version on existing projects, and the `schema` and `defaults` files would not update.

[2019-02-13 08:25] mrmckeb commented on #6356
Hi @JustenRickert, it might be that your scripts version was tied to an unreleased version (`master`) of CRA - could that be the case?

One way to avoid that is to always pull in the latest release (like `v2.1.5`) instead of `master`.

[2019-02-13 08:28] mrmckeb commented on #6412
Hi @james-randolph-50, can you please complete the issue template? That will help us resolve this faster.

[2019-02-13 09:01] piotr-cz commented on #5247
My use case is that I have installed other package which depends on _eslint_.
I think good practice would be showing a warning that the `SKIP_PREFLIGHT_CHECK=true` is enabled after starting development server

[2019-02-13 09:27] piotr-cz commented on #5247
Like moving flag check to [verifyPackageTree.js](https://github.com/facebook/create-react-app/blob/v2.1.5/packages/react-scripts/scripts/utils/verifyPackageTree.js) and adding following lines: adding following lines:

[code]

[2019-02-13 09:28] VincentLanglet commented on #6344
@gcallaghan your `react-scripts` is not up to date.
The `2.1.5` version use `babel-loader@8.0.5`.

[2019-02-13 09:33] #6128 closed

[2019-02-13 10:17] Rogdham commented on #6399
I have a similar problem that may be related, and I'm confirming the issue is present in `2.1.4` but not in `2.1.3`.

I've put [the content of the `src` dir from a fresh CRA on gist](https://gist.github.com/Rogdham/1a19d9871612bf7145f92cb62138e8fc) to illustrate:

:arrow_down_small: Running in dev: :beetle:

![dev](https://user-images.githubusercontent.com/3994389/52704289-867a6b80-2f80-11e9-9332-

[2019-02-13 10:35] raRaRa commented on #6399
@Rogdham Can you confirm that the styles are being referenced as blobs in the `head` tag in `2.1.4`, but not in `2.1.3`?

I believe this issue is related to https://github.com/webpack-contrib/style-loader - they seem to generate blobs under certain circumstances.

[2019-02-13 10:42] Rogdham commented on #6399
Yes, I'm confirming.

On `2.1.4`:

![style-as-blob](https://user-images.githubusercontent.com/3994389/52705926-664cab80-2f84-11e9-95ca-69eefcdd816b.png)

On `2.1.3`:

![style-as-style](https://user-images.githubusercontent.com/3994389/52705934-6ea4e680-2f84-11e9-85ee-d0a4674e3e1e.png)

[2019-02-13 10:48] A commented on #3660
Hey guys! I see all 3 solutions you've mentioned handle only WebWorker, but not SharedWorker, that's not so sweet. One of greatest usecases of SharedWorker is sharing websocket connection between multiple tabs, that reduces network traffic dramatically https://github.com/pusher-community/pusher-with-shared-workers. Now it's the only one reason we're still ejected. @viankakrisna @gaearon @iansu can

[2019-02-13 11:01] raRaRa commented on #6399
I don't know if this helps, but on the `style-loader` they say:

Seems to be related to https://github.com/webpack-contrib/style-loader/issues/352

[2019-02-13 12:12] jpaulomotta commented on #6404
I'm experiencing the same issue.

@petetnt  How can I solve it and install?

[2019-02-13 12:35] cstenico commented on #6404
Same here. Did you do something to solve it?

[2019-02-13 13:05] mrmckeb commented on #6398
Hi all, I've had this report from some colleagues too. I'm not sure what's causing it, we're looking into it.

[2019-02-13 13:27] lucamartini commented on #6398
This worked for us on our debian machine!
Jest was working when logged as root, but not as our service user.

[2019-02-13 14:39] gcallaghan commented on #6344
I'll run yarn upgrade on my react-scripts now and see if that fixes it.

[2019-02-13 15:03] maniax89 commented on #6198
Currently the workaround we used to adopt CRA was to manually run Babel with the desired targets and debugging turned on along with `useBuiltIns` set to `usage`. This spits out a long list of mostly correct polyfills required and we manually added them to our index.js file.

If we decided to make the polyfill generation respect the browserslist defined in the package.json, I think it would be less

[2019-02-13 15:47] duhseekoh commented on #6198
Yea totally. Out of naivety I assumed react-app-polyfill was working like babel-polyfill and using the browserlist to determine what core-js imports were included.
I was wrong. Then to my surprise, looking at the cra presets, useBuiltIns is turned off with the comment:
https://github.com/facebook/create-react-app/blob/8944aab66db901bac2f2b656848e43228104a3a0/packages/babel-preset-react-app/create.

[2019-02-13 15:52] esetnik commented on #6198
@duhseekoh my guess is that at the time this was done when `useBuiltIns` was in experimental status and they didn't want to risk compatibility issues. Since it's quite stable now it should be the default behavior. Maybe we should maintain a fork of cra that respects `browserslist` until this gets some attention by the core team.

[2019-02-13 15:57] esetnik commented on #6271
This seems to be a duplicate or at least related to #6198

[2019-02-13 16:20] JustenRickert commented on #6356
Oh. You're probably correct. I guess I should have checked that I had my version pinned (though I don't think it was odd to expect `master` to work in this circumstance (: ). The only problem was the `react-dev-utils/chalk` dependency, so this issue can be closed I think.

[2019-02-13 16:22] #6356 closed

[2019-02-13 16:31] mrmckeb commented on #6398
To be clear, is this affecting npm and Yarn users?

[2019-02-13 16:39] sun2rise opened #6416 "How to serve static content from /public"
How can I serve files (images) from my `public` folder so that if someone hit `https://mywebsite.com/public/image.png`
can actually load the picture alone?

I know there are other questions related to this but i couldn't find a final answer, at least for what i could see

thansk

[2019-02-13 16:55] lucamartini commented on #6398
From our side, we are on npm

[2019-02-13 17:00] olessavluk commented on #6416
Hi @sun2rise
Take a look at this section from official documentation - [Deployment - Static Server](https://facebook.github.io/create-react-app/docs/deployment#static-server)

[2019-02-13 17:08] VincentLanglet commented on #6398
@mrmckeb I'm using `yarn`

[2019-02-13 17:29] FezVrasta commented on #6106
@mrmckeb may you guys add some label to prevent this from getting auto-closed by the stale bot? This is a verified issue, there's no reason to close it automatically just because you guys are busy working on other things.

[2019-02-13 17:42] duhseekoh commented on #6351
@SunHuawei - that eslint file isn't used by create-react-app's linting process. still ok to have one for your IDE integration, but it doesn't have an effect outside of that.

[2019-02-13 17:53] #6159 closed

[2019-02-13 18:41] #6351 closed

[2019-02-13 18:41] gaearon commented on #6351
For ESLint rule, please track https://github.com/facebook/create-react-app/issues/5602.

[2019-02-13 20:01] mrmckeb commented on #6398
OK, one more question - is everyone here using `@storybook/react`? It looks like it might be because that package has a dependency on `"babel-preset-react-app": "^6.1.0"`.

When I remove `@storybook/react`, the problem goes away. When I add it back, but use Yarn `resolutions` to force `"babel-preset-react-app": "7.0.1"`, the problem is also gone.

Can anyone else confirm this?

[2019-02-13 20:20] tregusti commented on #6398
I'm not using @storybook/react. I had 7.0.1. Downgraded to 7.0.0 and problem goes away.

[2019-02-13 20:24] mrmckeb commented on #6398
@tregusti, can you run `npm ls babel-preset-react-app` and share your results please?

[2019-02-13 20:39] VincentLanglet commented on #6398
FYI, I don't know how but it works now and `npm ls babel-preset-react-app` returns
[code]

Seems like something wrong between dependencies and `yarn` not doing always the same thing...

[2019-02-13 20:47] jeremyckahn commented on #6398
I returned my project to the state it was when this issue was happening yesterday, removed `node_modules`, `npm install`ed again, and the issue is **gone**. Very odd! This almost seems like some sort of issue with npm (as in, the service) itself.

My output for `npm ls babel-preset-react-app`:

[code]

My project is not using `@storybook/react`.

[2019-02-13 20:48] localjo opened #6418 "Dependencies that use require.ensure for backward compatibility cause warnings"
Importing dependencies into an app created with `create-react-app` that [use `require.ensure` as a fallback option](https://github.com/mozilla/pdf.js/blob/960213cb6963f9bf46d6224805de2dc73fef0af4/src/display/api.js#L42-L98) causes the following warning in the console;

[code]

This seems to be because the webpack settings in `create-react-app` do not allow dependencies to use `require.ensure`, but

[2019-02-13 21:20] bugzpodder commented on #6398
@mrmckeb I only have one copy fo babel-preset-react-app
I use yarn and don't have @storybook installed anywhere.

=> Found "babel-preset-react-app@7.0.1"
info Reasons this module exists
   - "_project_#lims-ui-client#react-scripts" depends on it
   - Hoisted from "_project_#lims-ui-client#react-scripts#babel-preset-react-app"

Downgrading to babel-preset-react-app@7.0.0 helps, but only because in

[2019-02-13 21:34] AlphaHydrae opened #6420 "Default linter and/or linting configuration cannot parse TypeScript's readonly modifier"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

The issue occurs on a freshly created application.

### Which terms did you search for in User Guide?

Linting, Readonly, TypeScript

### Environment

[code]

### Steps to Reproduce

1. Generate an app with the typescript option:

[code]
2. Add TypeScript code with the `readonly` modifier, for example in `src/App.tsx`:

[2019-02-13 21:35] cherouvim commented on #6399
Confirming bug, as well, when updated from `2.1.3` to `2.1.4` and FOUC only visible on development mode.

[2019-02-13 21:49] AlphaHydrae commented on #6420
I just stumbled over another similar problem. The following valid TypeScript also causes the linter's parsing to fail:

[code]

Although this works fine:

[code]

[2019-02-13 21:53] #6092 closed

[2019-02-13 22:16] Ciaran0 commented on #6398
Hi, I got the same issue today when upgrading [React-Testing-Library](https://github.com/kentcdodds/react-testing-library/releases) (not sure if that has anything to do with it).

Heres my output from `npm ls babel-preset-react-app`

![screen shot 2019-02-13 at 11 38 34](https://user-images.githubusercontent.com/350103/52747839-b8b9b680-2fdc-11e9-8856-7b98f8833e23.png)

![screen shot 2019-02-13 at

[2019-02-13 22:23] nk2580 opened #6422 "Allow customization of Jest: transformIgnorePatterns"
Seems like the decision to find a supported solution for component sharing e.g Lerna has taken priority over support the current CRA code sharing methods.

Pretty much the same issue as #2537

importing multiple component and utility libraries from private registry. these are not transpiled (in some cases they are but importing the specific modules significantly reduce the bundle size) Jest freaks

[2019-02-13 22:37] nk2580 commented on #6422
not to put too fine a point to it... but this can be achieved by adding one line of code to the allowed list of configs... again... not sure why this was bumped back other than to look for a lerna based system.

[2019-02-13 23:31] bugzpodder commented on #6398
@Ciaran0 this is unrelated, please try react-scripts@2.1.5 to resolve.

[2019-02-14 00:16] gasparsigma opened #6423 "webpack-dev-server vulnerability"
### Is this a bug report?

Yes

### Did you try recovering your dependencies?

Yes

### Which terms did you search for in User Guide?

Doesn't apply

### Environment

Environment Info:

  System:
    OS: Windows 7
    CPU: x64 Intel(R) Core(TM) i7-4770K CPU @ 3.50GHz
  Binaries:
    Yarn: 1.13.0 - ~\AppData\Roaming\npm\yarn.CMD
    npm: 6.7.0 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Inter

[2019-02-14 00:34] adesurirey opened #6424 "Development build served in production"
### Is this a bug report?

I think so

### Did you try recovering your dependencies?

I did

### Which terms did you search for in User Guide?

deployment, build, environment

### Environment

 System:
    OS: macOS 10.14.3
    CPU: x64 Intel(R) Core(TM) i5-3210M CPU @ 2.50GHz
  Binaries:
    Node: 11.7.0 - /usr/local/bin/node
    Yarn: 1.13.0 - /usr/local/bin/yarn
    npm: 6.5.0 - /usr/local/bin/

[2019-02-14 02:11] #6416 closed

[2019-02-14 02:16] ianschmitz commented on #6423
`react-scripts-ts` comes from a separate project that is not associated with `create-react-app`: https://github.com/wmonk/create-react-app-typescript. `create-react-app` supports TypeScript out of the box now.

The vulnerability you mentioned we've already fixed in a [previous release](https://github.com/facebook/create-react-app/releases/tag/v2.1.3)

[2019-02-14 02:16] #6423 closed

[2019-02-14 03:48] ianschmitz commented on #6424
Have you tried the instructions outlined here?

https://facebook.github.io/create-react-app/docs/deployment#heroku-https-wwwherokucom

[2019-02-14 04:33] ianschmitz commented on #6410
We're currently on `webpack@4.28.3`, however we're still waiting on `html-webpack-plugin` to support this feature. Please see #3319 for updates.

[2019-02-14 04:33] #6410 closed

[2019-02-14 08:24] mrmckeb commented on #6398
We're still actively investigating this, and trying to get a fix out as soon as possible. Hopefully everyone has been able to use the workarounds posted above in the meantime.

[2019-02-14 09:24] adesurirey commented on #6424
Thank @ianmcnally for your help, I had to configure the server using Exrpress (based on this https://medium.com/@ianposton2/create-react-app-deploy-to-heroku-7c3c03f34382)

[2019-02-14 09:24] #6424 closed

[2019-02-14 09:24] bugzpodder commented on #6399
@raRaRa @jacargentina @sanzstez @primarius27 @Rogdham
Can you confirm whether this issue is dev only (yarn/npm start) or does it affect production as well?
Also if you can comment on the CSS solution you are using (CSS/CSS modules/Sass/Sass modules/Css in JS/inline styles) that would be great.

I think this issue is related to https://github.com/gatsbyjs/gatsby/issues/6211.  It seem to have caused

[2019-02-14 09:29] wpp commented on #6418
Thanks for writing this up!

I'm in the same situation and had to set the CI env variable, for a work-around.
A mechanism for supressing these types of warnings would be a splendid solution.

[2019-02-14 09:30] Rogdham commented on #6399
dev only, does not affect production

CSS (https://gist.github.com/Rogdham/1a19d9871612bf7145f92cb62138e8fc)

[2019-02-14 09:53] raRaRa commented on #6399
@bugzpodder
The bug is only present in development, and is likely related to source maps being enabled in style-loader.
I'm using SCSS modules.

[2019-02-14 10:13] freemaths opened #6429 "Dynamic re-compilation fails after react-scripts 2.1.5 upgrade"
Dynamic compilation problem since upgrading to react-scripts 2.1.5 (has been working fine for years previously). Have done a completely fresh "create-react-app" and re-applied my code but exactly the same problem.

App compiles and runs fine with "npm start"
================================
Compiled successfully!
You can now view freemaths in the browser.
  Local:            http://localhost:3000/

[2019-02-14 13:20] gaearon commented on #6418
In longer term we don’t promise continued support for this feature — so it seems to make sense for it to warn. That’s better than if it breaks with no warning in a future release.

Code published to npm ideally shouldn’t be using webpack specific features. Can you explain more about why pdfjs is an exception, and why they use it?

[2019-02-14 13:42] freemaths commented on #6429
I think I have sorted this - typescript package is missing (which makes sense as typescript is the issue 2.1.5 was working on). When I  "npm install typescript" all is fine.

To reproduce just create a new project (e.g. npx create-react-app app2.1.5)
cd into the new project and run "npm list":
...
npm ERR! peer dep missing: typescript@*, required by ts-pnp@1.0.0

To fix simply npm install typescri

[2019-02-14 13:47] sanzstez commented on #6399
DEV only. prod build is OK

[2019-02-14 14:00] steranka commented on #6404
To @cstenico and @jpaulomotta,

Since I reported it I've had mixed results.  Sometimes it has worked and other times it has not.  I haven't gotten to the bottom of it yet.  I haven't done anything to "fix" it.

[2019-02-14 14:11] Timer commented on #5409
We're going to be shipping a package that does this soon. I'll close this issue b/c it's become noise at this point.

Will ping you, @edmorley!

[2019-02-14 14:11] #5409 closed

[2019-02-14 14:29] freemaths commented on #6429
Spoke too soon. Problem has returned despite installing typescript.
It doesn't always happen immediately. Can take a few saves before the compilation breaks. I'll try 2.1.4 when I get chance to see if it is just a 2.1.5 issue.

[2019-02-14 14:34] edmorley commented on #5409
Awesome - thank you :-)

[2019-02-14 14:35] edmorley commented on #5409
By shipping a package, do you mean "try where possible to fix things upstream (or at least file issues against them), and only then ship a package"? ;-)

[2019-02-14 14:54] gasparsigma commented on #6423
Neat, thanks for the explanation. I followed an outdated guide that used `--scripts-version=react-scripts-ts` instead of `--typescript`, I'll ask the creator to update it :)

[2019-02-14 15:53] Timer commented on #5409
Will start with a webpack plugin that completely massages the messages (likely) then upstream from there.

[2019-02-14 15:54] Timer commented on #5409
Remember, a lot of what we format is super opinionated and not a good fit for all projects. We'll play it by ear!

[2019-02-14 16:06] mrlubos opened #6432 "Parsing error: [BABEL] /project/file.js: Using `babel-preset-react-app` requires that you specify `NODE_ENV` or `BABEL_ENV` environment variables. Valid values are "development", "test", and "production". Instead, received: undefined. (While processing: "/project/file.js$1")"
### Is this a bug report?

No.

### Did you try recovering your dependencies?

Yes, output of `npm --version` is `v8.12.0`.

### Which terms did you search for in User Guide?

N/A.

### Environment

[code]

### Steps to Reproduce

I use Visual Studio Code which has ESLint plugins to catch logical errors in development as I write new code. This used to work until recently when I updated my project

[2019-02-14 17:02] russelldavis opened #6433 "react-error-overlay line numbers are wrong since 2.1.5 release"
To reproduce: throw an error in your react app that results in the error overlay appearing. The line number it shows will be wrong (and thus, also the lines of code that it displays).

This was broken by the [switch to eval-source-map](#5060) in the 2.1.5 release. I confirmed that switching back to `cheap-module-source-map` fixes the issue.

cc @Timer @jasonLaster @ianschmitz

### Environment
Envi

[2019-02-14 18:19] NaveenShanmugam commented on #6429
Hi @freemaths please install eslint 5.12.0 as Dev Dependency it worked for me.

[2019-02-14 18:25] Timer commented on #6433
What do the line numbers appear to correspond to?

[2019-02-14 18:28] russelldavis commented on #6433
They seem to be offset by an arbitrary number (20 lines in my repro case). I'm guessing something is off in the way react-error-overlay is parsing the new sourcemap format.

[2019-02-14 20:23] freemaths commented on #6429
Re-installed node, deleted global node_modules and now all appears to be fine. Will close tomorrow assuming all still fine after a day of development work.

[2019-02-14 20:33] #6168 closed

[2019-02-14 21:55] #6429 closed

[2019-02-14 22:33] #6156 closed

[2019-02-14 22:47] localjo commented on #6418
From what I understand, [the code using `require.ensure` in PDF.js](https://github.com/mozilla/pdf.js/blob/960213cb6963f9bf46d6224805de2dc73fef0af4/src/display/api.js#L42-L98) is a fallback for non-webpack environments. In a webpack environment that code is irrelevant, but `create-react-app` still warns about it because it doesn't know from a static analysis that it's irrelevant.

@gaearon Do you

[2019-02-15 00:33] #5758 closed

[2019-02-15 00:33] #5756 closed

[2019-02-15 00:41] jenseng commented on #5936
What's interesting is that [WDM](https://github.com/webpack/webpack-dev-middleware/) is loaded before [HPM](https://github.com/chimurai/http-proxy-middleware), which is loaded before contentBaseFiles' express.static stuff. So anything managed by webpack never gets proxied, whereas standalone/static stuff can/does. Personally I'd like to see both be proxyable (lol, I know, I have weird use cases),

[2019-02-15 01:23] lifeiscontent commented on #6405
@mrmckeb do you know where that check is happening? I don't mind taking a look.

[2019-02-15 01:38] lifeiscontent commented on #6405
@mrmckeb found it 👍

[2019-02-15 04:46] Stupidism opened #6436 "What's assets-manifest.json and how does it work?"
The question might be too broad. I have several more specific questions below:

1. Does it affect html, js and css loading?

2. Is it loaded by the browser? Can I find it in chrome dev tool?
I can't find it in the network panel.

3. Does wrong assets-manifest.json break a site? Whether it can be cached or must not be cached?

[2019-02-15 06:13] FateRiddle opened #6437 "How to use private packages with create-react-app --scripts-version XXX?"
In [Doc / alternative to eject](https://facebook.github.io/create-react-app/docs/alternatives-to-ejecting), mentioned [this article](https://auth0.com/blog/how-to-configure-create-react-app/) from auth0, talking about how to customize CRA with your own script. Great article, and I succeeded in building one.

Now I'm inclined to build a very specific starter template for my company. It is more than

[2019-02-15 08:48] Nimelrian commented on #6420
eslint also trips over this:
[code]

[code]

It seems like the eslint config doesn't use the typescript parser when typescript is used. Here's the config from the eslint-config-react-app package:
https://github.com/facebook/create-react-app/blob/319cf9b9e1833a4b31209b9dea0d03e89b996d71/packages/eslint-config-react-app/index.js#L41-L47

[2019-02-15 09:33] #6172 closed

[2019-02-15 12:08] jjenzz commented on #5118
My solution:

[code]

Update `package.json` scripts:

[code]

Add `config-overrides.js` to project root:

[code]

Add `jsconfig.paths.json`/`tsconfig.paths.json` to project root:

[code]

Add the following to `jsconfig.json` / `tsconfig.json`:

[code]

CRA warns about `compilerOptions.baseUrl` and `compilerOptions.paths` not being supported but everything works as expected.

[2019-02-15 12:20] miraage commented on #6437
Why would you make a private copy of a **bundle tool** in the first place? There is nothing you need to hide.

Answering your question, you need to be authenticated in npm cli. And this is strange, because you also need to authorize in order to publish a package.

[2019-02-15 13:52] gaearon commented on #5846
This is still an issue.

[2019-02-15 13:53] gaearon commented on #5846
`--no-cache` helps although this fix makes no sense to me.

[2019-02-15 14:40] rogovdm commented on #6433
Confirming same bug within my codebase.

[2019-02-15 14:46] gaearon commented on #6433
I bet a reproducing case would help.

[2019-02-15 14:56] petetnt commented on #6407
Hi [rfdc](/rfdc),

sadly we don't support customization of Webpack configs. Check https://github.com/timarney/react-app-rewired on how to customize `react-scripts` if needed, although we cannot provide support for it.

That said you probably need to copy the files manually to the `public` folder in your case to work properly with `globals.js`.

[2019-02-15 14:56] #6407 closed

[2019-02-15 15:34] russelldavis commented on #6433
Is anyone *not* able to repro? AFAICT, triggering the overlay (throw an exception) in any CRA app should do it. If that's not the case, I can dig deeper.

[2019-02-15 16:20] joelbourbon commented on #5645
@mgcrea your solution does work!

The only limitation I found is that vscode does not know how to resolve missing imports this way. It won't build the the right path.

Using only:
[code]
seems sufficient to use `src/`. I then limit import outside of `src` using TS Lint.

[2019-02-15 17:09] #6177 closed

[2019-02-15 18:12] vuchastyi opened #6441 "Source License notice strip"
I have a project, for example:

<details>
<summary>Example</summary>
<br/>
package.json

[code]

index.js
[code]

</details>
<br/>
When i run <code>npm run build</code> it executes <code>react-scripts build</code>, then it creates build directory like this build/static/{css,js}/*.{css,js}.<br/>
JS files doesn't contain any license i have specified at the index.js. If i do it with webpack - webpack

[2019-02-15 18:29] Timer commented on #6433
I had tested this on a few apps prior to release and the line numbers appeared correct for me.

[2019-02-15 19:28] akaguny commented on #5832
you dont need transpile node_modules, if `import 'react-app-polyfill/ie11';` don`t work on first line your app pls clear cache IE (Ctrl+Shift+Delele)

[2019-02-15 19:32] gaearon commented on #5832
It is a **known issue** that the development version (`npm start`) is currently broken on IE11. But the **production version** (`npm run build`) should work.

[2019-02-15 19:43] dep commented on #5832
This is true unless you're using `react-dev-utils/webpackHotDevClient` which crashes unless you transpile `node_modules` manually for IE11 (in my experience at least)

[2019-02-16 01:45] bugzpodder commented on #6433
I have a repo case in my app, I can try debug this a bit.  It is actually pretty confusing to a user because the line  displayed in the error overlay had no issues and the error was 12 lines above.

[2019-02-16 05:13] blueshirts commented on #6135
👍

[2019-02-16 09:26] bugzpodder commented on #6433
I was able to repo pretty easily:

Bootstrapping an app:
```yarn create react-app repo```

The only change I made:
[code]

React-error-overlay:
[code]

Clicking on view compiled:
[code]
Actual source code from chrome, notice that line 37 is the correct line, where as react-dev-tools shows a different source.
<img width="603" alt="screen shot 2019-02-16 at 1 25 37 am" src="https://user-images.githu

[2019-02-16 13:34] OlegBrony opened #6442 "create-react-app don't make git init but make .gitignore"
## Is this a bug report?
no.

### Did you try recovering your dependencies?
no.

### Which terms did you search for in User Guide?
git

### Environment
Environment Info:
  System:
    OS: Linux 4.15 Linux Mint 19.1 (Tessa)
    CPU: x64 Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz
  Binaries:
    Node: 11.10.0 - ~/.nvm/versions/node/v11.10.0/bin/node
    npm: 6.7.0 - ~/.nvm/versions/node/v11.10.0/bin/n

[2019-02-16 14:00] eladmotola commented on #6310
@Timer what do you think? Do you want @maniax89 or me(I hope its ok Andrew) to start working on it?

[2019-02-16 15:35] yhoiseth opened #6443 "Dependency on insecure version of braces (Node security advisory 786)"
### Is this a bug report?

Yes.

### Did you try recovering your dependencies?

I don't think this step is necessary, due to the error being present in a brand new project.

### Which terms did you search for in User Guide?

None.

### Environment

[code]

### Steps to Reproduce

1. `yarn create react-app my-app`
2. `cd my-app/`
3. `yarn audit`

In addition, I've tried to add braces as a top-level

[2019-02-16 17:06] Ruffeng commented on #5118
@jjenzz your solution works smooth!

Hope the core team will provide a solution without other packages to achieve it ...

[2019-02-16 18:08] jjvainstein commented on #5118
Thanks for your solution. One silly question, how I can use to solution to avoid using '@'? I mean, instead of doing `@/components/DummyComponent' I would like to do 'components/DummyComponent'.

[2019-02-16 18:10] Kepro commented on #5118
@jjvainstein rly? :) second comment in this thread

[2019-02-16 18:18] jjvainstein commented on #5118
@Kepro that simple solution doesn't work for me and many other people. I tried creating that .env file with it doesn't work. So for that reason I was thinking that with the solution using eact-app-rewired plus some modification I can achieve that.

[2019-02-16 18:19] sunknudsen commented on #1227
Looking for a way to extract messages from [react-intl](https://github.com/yahoo/react-intl) components and manage locales effortlessly?

The following worked for me: https://github.com/yahoo/babel-plugin-react-intl/issues/108#issuecomment-464368426

[2019-02-16 18:21] sunknudsen commented on #1227
Looking for a way to extract messages from components localized using [react-intl](https://github.com/yahoo/react-intl) and manage [translations](https://github.com/yahoo/react-intl/wiki#creating-an-i18n-context) effortlessly?

The following worked for me: https://github.com/yahoo/babel-plugin-react-intl/issues/108#issuecomment-464368426

[2019-02-16 18:32] maniax89 commented on #6310
I'm fine with you working on it @eladmotola

[2019-02-16 19:38] bugzpodder commented on #6433
The difference between chrome source and the react-overlay-source are the following extra lines in chrome:
I tested in firefox as well and its the same issue.
[code]

[2019-02-16 19:44] bugzpodder commented on #6443
This is a development only package and it should not affect your production build in anyway.  It should go away once a newer version of a downstream package that addresses this issue is available.

[2019-02-16 20:25] luchillo17 commented on #6077
Hey @mrmckeb the client i started this project up never paid up, so now the code is officially mine, i'll make it public so you can take a look

[2019-02-16 20:52] iansu commented on #6441
I think this is an issue with our `terser` config.

[2019-02-16 21:21] ianschmitz commented on #6441
This looks like it may help: https://github.com/webpack-contrib/terser-webpack-plugin#preserve-comments

[2019-02-16 21:21] ianschmitz commented on #6077
@luchillo17 did you try my suggestion above?

[2019-02-16 22:45] sbcreates commented on #6443
Getting the same vulnerabilities from `npm audit` regarding `braces`.

The vulnerability is in versions earlier than 2.3.1 and it seems `react-scripts` has a nested dependency that use an earlier version of `braces`

[code]
More information on the issue is [here](https://www.npmjs.com/advisories/786).

Do we wait for `react-scripts` to update the dependency in question?

[2019-02-17 01:24] Timer commented on #6433
This all sounds vaguely familiar -- I think it's a bug in webpack. We had to get it fixed for `cheap-module-source-map`. Maybe we can switch back for the meantime?

[2019-02-17 02:22] ianschmitz commented on #6433
I've got #5060 up if that's what we want to do in the short term.

[2019-02-17 03:04] bugzpodder commented on #6443
Unless jest releases a new 23.x version with updated dependencies to micromatch@3 (unlikely since this is a breaking change), or CRA updates to jest 24, I don't think there is an easy workaround for this issue.

[2019-02-17 03:14] Piccirello opened #6445 "Disable generated inline styles"
I'm trying to implement a strong CSP for my webapp, and the last remaining item is to remove all `unsafe-inline` directives. I've been able to remove all inline scripts thanks to #5354, but I still have generated css rules being injected into index.html. These rules are specified using the `withStyles` component in Material UI, though my very limited understanding is telling me that this may not n

[2019-02-17 04:02] russelldavis commented on #6433
Note that switching back will reintroduce #6074. So it's basically a choice between breakpoints being broken and the error overlay being broken. 😦

This one probably affects more people more of the time. But when it breaks, it's pretty easy to figure out and look at the console for the real stack trace. With the breakpoints issue, it's really hard to figure out why they aren't working, and once yo

[2019-02-17 04:31] FateRiddle commented on #6437
@miraage You misunderstood. For instance, if my starter kit include a private package from my company (not published in npm), and I run `create react-app` it will try to install that package and result in an error.

On completely other matter, is there any easy way to replace
`create-react-app demo --script-version my-react-scripts` into something simple like 'my init', because some users complain

[2019-02-17 06:10] iansu commented on #6437
If your starter includes another package that package has to be available from somewhere, whether that's npm, GitHub or some web server within your company. You can see the available options here: https://docs.npmjs.com/files/package.json.html#urls-as-dependencies

[2019-02-17 06:10] #6437 closed

[2019-02-17 06:42] sorahn commented on #6443
https://github.com/facebook/jest/issues/7917

[2019-02-17 08:17] #6405 closed

[2019-02-17 08:22] mrmckeb commented on #6077
@luchillo17, I'm sorry to hear that. Very disappointing for you.

Let me know if @ianschmitz's suggestion works for you, if not, I'll pull the project and take a look :)

[2019-02-17 08:44] sorahn commented on #6399
I’m using styled-components and seeing the same thing.

[2019-02-17 11:17] aakhan89 opened #6446 "https://github.com/facebook/create-react-app/blob/master/packages/react-dev-utils/inquirer.js this is the replacement for prompt."
https://github.com/facebook/create-react-app/blob/master/packages/react-dev-utils/inquirer.js this is the replacement for prompt.

_Originally posted by @bugzpodder in https://github.com/facebook/create-react-app/issues/6026#issuecomment-446507470_

[2019-02-17 11:18] aakhan89 commented on #6446
What to do with this ?

**`Error: Cannot find module 'react-dev-utils/prompt'`**

[2019-02-17 11:26] aakhan89 commented on #6446
**`D:\dbz-ui-framework-master\node_modules\react-dev-utils/inquirer.js`** to **D:\dbz-ui-framework-master\node_modules\react-dev-utils/prompt.js ?**

[2019-02-17 11:51] vuchastyi commented on #6441
I have figured out. I don't have `@license` tag in my JSDoc, but is that so important to place this tag at license notice (i understand that if i haven't placed this tag - my license notice will be stripped)?
I can point to a very popular projects which doesn't use `@license` tag for license notice, for example: [react](https://github.com/facebook/react/blob/master/packages/react/index.js), [react

[2019-02-17 14:17] vuchastyi commented on #6441
Owww...
I have found out that i was wrong. `react-scripts` just remove all comments from source files, which causes the issue.

After some research (thanks @ianschmitz), i can say that this issue is really related with `terser` config, as pointed by @iansu.

I would like to submit PR, but there much ways to fix this issue and i don't know which suits most for React Community.

So, the ways:
1. I c

[2019-02-17 17:53] #6178 closed

[2019-02-17 18:02] neyron163 commented on #5645
@mgcrea i have tried your variant but when i start script it's say me that
- compilerOptions.baseUrl must not be set (absolute imports are not supported (yet))
- compilerOptions.paths must not be set (aliased imports are not supported)

![image](https://user-images.githubusercontent.com/25846811/52916727-0dd52100-3298-11e9-90c8-f0df33b00616.png)

but my vs code is not has red underline when i writ

[2019-02-17 19:28] GuiHash opened #6448 "Wrong InterpolateHtmlPlugin hook for env var replacement"
### Is this a bug report?

Yes

### Steps to Reproduce

1. create a new CRA project
2. add this script in your index.html :
[code]
3. run `yarn build`

### Expected Behavior

Expect index.html output :
[code]

### Actual Behavior

Actual index.html output :
[code]

### Why it happens ?

The bug is due to wrong event/hook selection in [InterpolateHtmlPlugin](https://github.com/facebook/create-react

[2019-02-17 20:09] iansu commented on #6446
Please fill out the issue template so we can know what version of Create React App and react-dev-utils you're using.

[2019-02-17 21:32] alexch commented on #6443
See #6064 #6109 #5777 #5618 for earlier times something like this happened; I think it's useful to draw the connection between these recurring issues.

https://github.com/facebook/create-react-app/pull/6064#issuecomment-451521588 explains the reasoning behind this project's tradeoff between dependency pessimism (pinning, delayed upgrades, and enduser frustration) and dependency optimism (allow use

[2019-02-17 22:03] guylepage3 commented on #6399
+1

[2019-02-17 22:21] guylepage3 commented on #6399
If it helps.. I downgraded to `v2.1.2` and issue is resolved.

[2019-02-17 22:37] SimenB commented on #6443
FWIW we originally bumped Micromatch in a minor of Jest 23, but it broke a ton of setups (notably on windows), so we reverted it: https://github.com/facebook/jest/pull/6661

[2019-02-18 07:23] mrmckeb commented on #6106
Hi @FezVrasta, sorry about that. We need to investigate this more. Would anyone be interested in picking this up and submitting a PR? If not, I can take a look this week.

[2019-02-18 07:46] bugzpodder commented on #6443
@alexch, your production build (i.e. running react-scripts build) will not be affected by this security vulnerability in any way.  You'll get a notice about this low risk vulnerability if you run npm install, but otherwise an end user should not be affected by this issue.  There is no need to rush upgrading to Jest 24.

[2019-02-18 09:02] Anticom opened #6450 "error: unkown option `typescript'"
### Is this a bug report?
yes

### Did you try recovering your dependencies?

irrelevant

### Which terms did you search for in User Guide?

`error: unkown option 'typescript'`

### Environment

[code]

### Steps to Reproduce

1. Open terminal
2. `create-react-app --typescript project-name`

### Expected Behavior

Create a react app with typescript support

### Actual Behavior

Get error: error: u

[2019-02-18 10:15] Tasemu commented on #6443
This is causing issues with us being able to deploy our front-end through our CI also. Going to keep an eye out here for any movement. :)

[2019-02-18 10:24] SimenB commented on #6443
Nothing will happen here unless a patch is released for an old version of micromatch or a new major of CRA is released. Using a newer major of micromatch is a breaking change.

Seems like your CI should just check production dependencies, not dev deps. Doesn't seem like `npm` supports it, though 🤷‍♂️

https://npm.community/t/please-support-production-or-only-production-in-npm-audit/3005
https://gi

[2019-02-18 11:00] aboutlo commented on #6443
WORKAROUND

`npm audit --registry=https://registry.npmjs.org --parseable | wc -l`
returns the number of vulnerabilities found

you can exclude low vulnerabilities with
`npm audit --registry=https://registry.npmjs.org --parseable | grep -V https://nodesecurity.io/advisories/786 | wc -l`

[2019-02-18 11:01] miraage commented on #6450
Does `create-react-app --help` contain a `--typescript` option?

[2019-02-18 11:50] #6433 closed

[2019-02-18 12:53] Anticom commented on #6450
Yes it does for me. That's what was baffling me the most.

[2019-02-18 13:02] TomasHubelbauer opened #6452 "Generate .gitignore at the same time README.md and package.json are created (before npm install)"
I would like to propose that `.gitignore` gets created at the same time `README.md` and `package.json` do. Right now from experimentation it seems like the two do get created first, then `npm install` is run and then a bunch of other files including `.gitignore` gets dropped into the directory.

There's probably a reason for that, maybe the `.gitignore` gets copied from the scripts package, I don'

[2019-02-18 13:19] joshuanewman1993 opened #6453 "Error when trying to install create react app"
When running in the terminal I get this error -> Cannot find module './access-error.js'

[2019-02-18 13:53] #6453 closed

[2019-02-18 14:18] naugtur commented on #6443
Instead of using a workaround (which ignores the advisory in all modules you installed) you can use https://www.npmjs.com/package/npm-audit-resolver that wraps audit in fine-grained tools to manage your security decision

[2019-02-18 14:57] jdalegonzalez commented on #6443
@bugzpodder

I've seen messages like this a number of times for a variety of reported security vulnerabilities in various packages and it's not a particularly satisfying response for me but maybe I'm thinking about things the wrong way.

Is the expected flow:
- see reported security vulnerability in npm (or yarn).
- lookup that flow
- attempt to determine if the vulnerability will impact the produ

[2019-02-18 15:39] alexch commented on #6443
@bugzpodder If `react-scripts build` were my entire process for doing a production build, I would agree with you. But my process for development and deployment also includes running a suite of unit and acceptance tests; to make them work I need to disable preflight checks... which is fine temporarily, but that allows other dependency issues to creep in, and is also one more thing to remember to un

[2019-02-18 18:06] bugzpodder commented on #6443
@alexch you don't need preflight checks if you install the same version of jest (23.6 instead of 24) in your node code.  If you decide to use Jest 24, then disabling preflight checks is a perfectly valid course of action for your decision.

@jdalegonzalez this is unfortunately the difference between reality and an ideal world.  Ideally you would run a command that would fix everything, but the rea

[2019-02-18 19:16] russelldavis commented on #6433
@Timer can you reopen #6074?

[2019-02-18 19:28] Timer commented on #6074
Reverted due to a bug in webpack.

[2019-02-18 20:22] Anticom commented on #6450
Quick update:
`create-react-app --typescript -- project-name` (note the extra dashes) works!

Might be an issue with `commander`.
I looked into the sources of `createReactApp.js` and it looked fine to me.
I'll check commander next and try to reproduce this buggy behavior with a bare-bones example.

Thanks for the efford @miraage

[2019-02-18 21:14] ztolley commented on #6443
Handlebars just joined the party with a High priority vulnerability too

[2019-02-18 21:20] #6188 closed

[2019-02-18 22:49] thegreatsantini opened #6455 "FOUC with updated cra"
### Is this a bug report?

Yes, I think it is a bug.

### Did you try recovering your dependencies?
yes. I deleted node_modules and package-lock.json. Then ran `npm i`

I created the react app by running
`npm create react-app react-statusbar`
 npm version 6.8.0
node version 11.10.0

### Which terms did you search for in User Guide?

No info on styles in trouble shooting

### Environment

![screen

[2019-02-18 23:10] bugzpodder commented on #6455
Thanks for the repo.  This is tracked in https://github.com/facebook/create-react-app/issues/6399.

[2019-02-18 23:10] #6455 closed

[2019-02-18 23:32] jdalegonzalez commented on #6443
Yep. That's why we pulled it out. We can live without test coverage
reporting

On Mon, Feb 18, 2019, 4:15 PM Zac Tolley <notifications@github.com wrote:

[2019-02-19 00:16] dlipeles commented on #6443
Any ideas for suppressing this on `yarn audit`? Our CI is currently blocked even though jest is a dev dependency, I don't see any flags for `yarn audit` that allow only production dependency auditing.

[2019-02-19 00:26] nmyers322 commented on #6443
I just write a script which allows you to ignore vulnerabilities in `devDependencies`:
https://www.npmjs.com/package/audit-ignore-dev

Feel free to improve:
https://github.com/nmyers322/audit-ignore-dev

[2019-02-19 03:05] emilymclean2 commented on #6443
I don't really understand why, but it seems like this is related to my perfect-scrollbar being on the left of my page instead of the right - I'm getting identical vulnerabilities after running `npm audit`, but everything else is working fine.

[2019-02-19 03:17] bugzpodder commented on #6443
@dlipeles why would this block a CI?  Is it because of the preflight check or do you have a build step that hinges on yarn audit succeeding?  In any case, if you are yarn, you could use yarn resolutions to pin micromatch to v3 but it might break something, YMMV.

[2019-02-19 03:25] johnbowdenatfacet commented on #6399
+1  not working in 2.1.5, 2.1.3 is ok.

[2019-02-19 03:54] bowd opened #6457 "Rust (wasm) support"
I've just started to play around with this https://github.com/thomashorrobin/create-react-app-rust `create-react-app` fork that adds rust support. I had some problems with typescript using it and decide to `rebase` on top of the latest `create-react-app` to not waste time debugging for something that's already fixed here. While doing this I realised that the actual changes for rust seem minimal. I

[2019-02-19 03:55] lmenus commented on #6442
Should create-react-app be creating a git folder?

[2019-02-19 03:58] lmenus commented on #6436
Hey! Does this [page](https://webpack.js.org/concepts/manifest/) help with your questions?

[2019-02-19 04:14] lmenus commented on #6174
Doesn’t `npm i -D @babel/plugin-transform-react-jsx` solve this error?

[2019-02-19 05:53] TongDaDa opened #6458 "How to disable eslint?"
I don't want to use eslint

<img width="505" alt="2019-02-19 1 53 57" src="https://user-images.githubusercontent.com/23241188/52993111-eaec6d80-344d-11e9-8b42-a2357d2a0cf5.png">

<img width="260" alt="2019-02-19 2 07 52" src="https://user-images.githubusercontent.com/23241188/52993664-f5a80200-344f-11e9-98c4-c0e6d81ad966.png">

this is a globals.

[2019-02-19 06:05] OlegBrony commented on #6442
Imenus, when you make create-react-app it doesn't make "git init && git add . && git commit 'initial commit'"?

[2019-02-19 06:20] rovansteen commented on #6442
Why should it? It’s up to the user to decide if you want to use git or any vcs for that matter.

[2019-02-19 06:30] OlegBrony commented on #6442
Well, I asked someone who use it, and it's actually create. And before I reinstalled OS it also created a git.

[2019-02-19 07:05] OlegBrony commented on #6442
Yes, I wrote the version of git down - 2.17.1.

[2019-02-19 07:29] darrensw777 commented on #6074
Is there a timeline for this release or are you waiting for webpack to fix their issues? I have the same problem, if you close dev tools then reopen them it works again, but only once.

[2019-02-19 08:34] Stupidism commented on #6436
Yeah, I've read this part before I start this issue.
The problem is I didn't see a clean clue of how does it work.
No `assets-manifest.json` in index.html. No `assets-manifest.json` in network panel.
Does it only work during `npm run build`?

[2019-02-19 08:34] OlegBrony commented on #6442
I reinstalled system about 3 times, every time it didn't work.

[2019-02-19 09:02] jitenderchand1 commented on #6443
NPM Audit is part of CI pipeline and due to this issue it is failing every time I pushed the code

<img width="1296" alt="screen shot 2019-02-19 at 2 31 32 pm" src="https://user-images.githubusercontent.com/19687185/53002656-2d647900-3453-11e9-84da-19b18ffacfca.png">

[2019-02-19 09:20] #6197 closed

[2019-02-19 09:25] ArmanNisch opened #6460 "Get ERR_CONTENT_DECODING_FAILED when using setupProxy.js"
### Is this a bug report?

Yes.

### Did you try recovering your dependencies?

yes

**yarn --version:** 1.13.0

### Which terms did you search for in User Guide?

gzip, Proxy, ERR_CONTENT_DECODING_FAILED, setupProxy

### Environment

Environment Info:

  System:
    OS: OS X El Capitan 10.11.6
    CPU: x64 Intel(R) Core(TM) i5-5287U CPU @ 2.90GHz
  Binaries:
    Node: 8.12.0 - ~/.nvm/versions/nod

[2019-02-19 09:55] bugzpodder commented on #6443
Is it possible to change your CI pipeline to omit npm audit step?  From my experience it takes a non-trivial amount of time to test/deploy/propagate a security fix.  In most cases, when a security advisory is posted, either it doesn't affect your production build (such as this case), or that it is a real issue.  In the latter case, either a fix might not be immediately available/feasible, or there

[2019-02-19 10:26] OlegBrony commented on #6442
I fixed it! I just should to run 'git config --global user.name' and 'git config --global user.email'.

[2019-02-19 12:01] andrewdetorres commented on #6399
+1 not working with `v2.1.5` but downgraded to `v2.1.3` and FOUC issue is resolved.

[2019-02-19 12:10] lmenus commented on #6436
I am not sure about the current version, but it used to be as you write, generating manifest only in production builds. It does not get loaded with your website as you point out, there are no references to it from source files. The objective of manifest is to create an asset map for tools as per [comments in the source code](https://github.com/facebook/create-react-app/blob/6a5b3cdaaa7e9ee2cae358a

[2019-02-19 13:28] tlehtimaki commented on #6023
Would you @alexkuz mind elaborating a bit more how you did this?

[2019-02-19 13:32] jdalegonzalez commented on #6443
@bugzpodder With all due respect, this feels like bad advice to me.  While I recognize that right this minute we're in a bit of a pickle as it relates to NPM audit, the idea that we all should ignore security warnings because most of the time they don't impact our app feels a little careless.  Almost all high-profile breaches I've ever seen reported start with someone thinking it wasn't a high-pri

[2019-02-19 13:39] sorahn commented on #6443
@jitenderchand1

The vulnerability was discovered in an existing package.

[2019-02-19 13:49] TomasHubelbauer opened #6461 "Do not rename existing README, rename the CRA README"
I would like to propose that instead of renaming existing `README.md` to `README.old.md` if any, CRA should instead leave that file alone and drop its readme under the name `README-CRA.md` and not `README.md`.

The rationale for this is that if a readme exists already, it's most likely going to be more valuable than the CRA readme and that's what people should keep seeing after CRA is scaffolded i

[2019-02-19 14:07] jdalegonzalez commented on #6443
A vulnerability was discovered and reported in a package that one of your packages ultimately depends on.  You didn’t need to update anything.  The vulnerability report is what is new.

From: Daryl Roberts <notifications@github.com>
Reply-To: facebook/create-react-app <reply@reply.github.com>
Date: Tuesday, February 19, 2019 at 8:40 AM
To: facebook/create-react-app <create-react-app@noreply.github

[2019-02-19 14:09] #6175 closed

[2019-02-19 16:18] #6442 closed

[2019-02-19 16:43] hu0p opened #6462 ""Invalid aria prop `aria-labelled-by`" warning when using `aria-labelledby` attribute in <svg> file"
### Is this a bug report?

Yes.

### Did you try recovering your dependencies?

Yes.

### Environment

  System:
    OS: macOS 10.14.3
    CPU: x64 Intel(R) Xeon(R) CPU E5-1650 v2 @ 3.50GHz
  Binaries:
    Node: 11.7.0 - /usr/local/bin/node
    npm: 6.8.0 - /usr/local/bin/npm
  Browsers:
    Chrome: 72.0.3626.109
    Firefox: 63.0.3
    Safari: 12.0.3
  npmPackages:
    react: ^16.7.0 => 16.7.0

[2019-02-19 16:50] iansu commented on #6443
Let's focus on the issue here. This is not the place to debate the merits of `npm audit` or how your CI should be set up.

Since Jest isn't planning to backport this fix to Jest 23 the only thing we can do is release a major version of Create React App with Jest 24. We are currently working on that and you can follow the progress on upgrading to Jest 24 here: https://github.com/facebook/create-rea

[2019-02-19 16:53] iansu commented on #6462
@neoziro Is this a bug in SVGR?

[2019-02-19 16:57] hu0p commented on #6462
@iansu @neoziro I investigated a bit further. This appears to be reproducible in the [SVGR playground](https://www.smooth-code.com/open-source/svgr/playground/).

[2019-02-19 17:12] SimenB commented on #6443
Potentially, you can get a patch into `braces`/`micromatch` (although it's v2, with v3 being current major and v4 right around the corner).

Note that upgrading from micromatch 2 to 3 is a breaking change in and of itself, so there's really no way Jest can backport a fix to v23

[2019-02-19 18:19] Jipperism commented on #6414
Same issue here.

[2019-02-19 19:25] bugzpodder commented on #6414
This should be fixed by: https://github.com/facebook/create-react-app/pull/6444

[2019-02-19 19:25] #6414 closed

[2019-02-19 20:06] sorahn commented on #6399
Would it be possible to back out the sass source maps change when you bump the version for Jest 24 (https://github.com/facebook/create-react-app/pull/6278).  I would like to upgrade to remove the npm audit warnings, but I don't want to be stuck with the FOUC.

[2019-02-19 20:09] #6206 closed

[2019-02-19 20:53] bugzpodder commented on #6399
@sorahn this issue will likely be addressed sooner.

[2019-02-19 21:42] petetnt commented on #6460
[This issue](https://github.com/chimurai/http-proxy-middleware/issues/324) was opened in the `http-proxy-middleware` repo, possibly similar case?

[2019-02-19 21:46] petetnt commented on #6450
Hi,

just to be sure, does this happen if the `--typescript` flag is passed after the project-name as in the [docs](https://github.com/facebook/create-react-app/blob/master/docusaurus/docs/adding-typescript.md)?

[2019-02-19 21:52] petetnt commented on #6457
Hi @bowd!

Does the `rust` support require changes to the `react-scripts` or other internal tools or does it just change the scaffolding and add the relevant build scripts?

[2019-02-19 22:38] mrLucianoii commented on #6038
Hey @mrmckeb! sorry I thought I replied to your last message, no worries about being out and I hope all is well.  Also, it turns out, I was out too, due to my own personal reasons, but now I'm available again :)

Back to business.  The PR's build is failing in a linux env, but I don't thinks its unique to my code as I'm observing all the open PRs are failing at the same test environment.  Is this

[2019-02-19 22:43] rkolec commented on #6343
Hi! I have the same issue. @EdBoucher did you find a sollution? It looks like setupProxy config (which is resolved in before function of webpack dev server) is being ignored because of historyApiFallback.

[2019-02-20 00:03] jcald1 opened #6463 "document is null when running Jest test with Create React App"
I'm running a Jest test, which is erroring out when I set state due to react-dom not finding document.  I put a log statement in react-dom and I see that document is populated initially

      console.log node_modules/react-dom/cjs/react-dom.development.js:5066
        !!!! Document {
          location: [Getter/Setter],
          _reactListenersID0002526682692260973: 0 }

but later in the test ex

[2019-02-20 02:41] bowd commented on #6457
No major changes as far as I can see what we're looking at is just some webpack loaders, some build script changes and scaffolding. I would modify the scaffolding to work similarly to the `--typescript` flag and the build based on detecting the `Cargo.toml` file. I will need to understand the changes made in that fork better and make sure I agree with all of them, and add tests of course.

[2019-02-20 02:45] MyGithub-Ljc opened #6464 "style problem of create-react-app 2.X"
Why do I have this problem with the 2.x version of Page style will flicker from no style to have style?

![1111](https://user-images.githubusercontent.com/30457197/53062678-8a683980-34fc-11e9-9751-9e1fc057aa3a.png)
![222](https://user-images.githubusercontent.com/30457197/53062685-8f2ced80-34fc-11e9-9396-dfbb8ce3b06f.png)

[2019-02-20 03:12] Stupidism commented on #6436
Aha! So my question collapses to what tools will pick up `assets-manifest.json`.
[code]
I used `git blame` to find the [original commit](https://github.com/facebook/create-react-app/commit/88c15d0988fcb456fc976cbe15823ed518470126) and the related [issue](https://github.com/facebook/create-react-app/issues/600) to this comment: .

Unfortunately, the [link](http://myappincome.co.uk/how-to-make-a-rea

[2019-02-20 03:25] ZechyW commented on #6399
If you don't want to downgrade to `2.1.3`, a hacky workaround for now is to simply wrap the main `ReactDOM.render()` function in a timeout when in dev mode (from https://stackoverflow.com/questions/36453826/how-to-stop-fouc-when-using-css-loaded-by-webpack); the timeout can be easily removed when the issue is resolved.

[2019-02-20 05:35] lukyth commented on #6436
https://github.com/humanmade/react-wp-scripts#how-it-works

That "How It Works" section explains it really well.

[2019-02-20 06:06] MasterJames commented on #6197
When I finally looked at the dependency tree of react, I knew the only logically next step was to delete it regardless of these kind of bizarre work-arounds.
I guess stale[bot] is going to be busy going forward.

[2019-02-20 06:34] Stupidism commented on #6436
Thanks a lot, @lukyth!

So, can I come to this conclusion that when I deploy the `build` folder as a normal static website with nginx, I don't need to serve assets-manifest.json at all because it doesn't affect my website at all.

[2019-02-20 07:29] FinchRatel commented on #5918
Experienced issue here:

create-react-app: 2.1.5
yarn: 1.13.0
Win10

`
$ create-react-app my-app

[2019-02-20 08:40] ArmanNisch commented on #6460
@petetnt I tried to implement the solution suggested by the other other [other Issue](https://github.com/chimurai/http-proxy-middleware/issues/324) (removing the transfer-encoding header).... did not work for me though.

I think the issue is related to **webpack-dev-server** as this issue only occurs after versions > 3.1.10

It might specifically be related to this commit on version 3.1.10: https:

[2019-02-20 09:15] izbagov opened #6466 "how to integrate SVG Sprite loader"
### Is this a bug report?

No

### Did you try recovering your dependencies?

Yes

### Which terms did you search for in User Guide?

svg, svg sprite loader, svg styling

### Environment

### Steps to Reproduce

1.  npm run eject
2.  Install dependence

List:

[code]

3. Сonfigure **webpack.config.dev.js**

3.1 Edit entry points (convert array to object and add new entry point sprite)

[code]

3.2

[2019-02-20 09:46] Anticom commented on #6450
Hey @petetnt
Good call! Project generator works just fine if the arguments are in the order you and the docs describe.

[2019-02-20 09:57] MarkLSky commented on #6464
There is a known issue of FOUC in development mode since verison 2.1.3 - https://github.com/facebook/create-react-app/issues/6399

[2019-02-20 10:37] neoziro commented on #6462
If the bug is known and reproducible, can you please submit a new issue in SVGR? Feel free to submit a PR to fix it, I will review, merge and release quickly. It should be a little issue in [hast-util-to-babel-ast](https://github.com/smooth-code/svgr/tree/master/packages/hast-util-to-babel-ast).

[2019-02-20 11:08] lmenus commented on #6436
@iansu Do you think it would be worth specifying for which tools is the assets manifest generated?

[2019-02-20 11:15] xiaoxiangmoe commented on #6189
emmm

[2019-02-20 11:22] lukyth commented on #6436
@Stupidism Yes, you're right. :)

[2019-02-20 11:34] petetnt commented on #6466
Hi,

this issue tracker is for Create React App applications, which doesn't support custom Webpack configurations. Consider posting your issue in the [`svg-sprite-loader`](https://github.com/kisenka/svg-sprite-loader) repository, thanks!

[2019-02-20 11:34] #6466 closed

[2019-02-20 11:45] kresli commented on #6398
@mrmckeb

in package.json
[code]
[code]
and still erroring

[code]
Also when I tried run `yarn` I've got
[code]
So far I no above suggestions works for me

[2019-02-20 12:25] MeLlamoPablo opened #6467 "The dev server is stuck when using a type alias for the module typesafe-actions"
Hello! First of all, I would like to say that I'm not positive that this issue is caused by `react-scripts`. It might be an issue in `babel-loader`, in the module `typesafe-actions`, or even in `typescript` itself!

But I didn't know how to determine where to start, and I think that it's reasonable to open the issue here.

### Is this a bug report?

Yes

### Did you try recovering your dependencie

[2019-02-20 13:52] nareshpayani opened #6468 "issue"
/src/components/header_footer/Header.js
Module not found: Can't resolve '@material-ui/icons/Menu' in 'C:\Users\admin\np\src\components\header_footer'

facing this issue

[2019-02-20 14:00] lmenus commented on #6468
@nareshpayani Hi, congratulations on the first issue! In order for people to be able to help you, you will need to provide more details about your project. A good starting point might be the relevant part of your source file and dependencies in `package.json`.

[2019-02-20 14:56] hu0p commented on #6462
Gladly! @neoziro Here's the newly created [issue](https://github.com/smooth-code/svgr/issues/279). I'll provide some more details there momentarily.

[2019-02-20 15:00] akmjenkins commented on #6422
+1.

I think I can understand the reasoning about locking it down, but maybe there should be a mechanism to extend rather than overwrite CRA jest config defaults? I'm looking to extend moduleDirectories, otherwise, I've got to change a bunch of imports that are working fine in production and dev, but not in test.

[2019-02-20 16:15] #6210 closed

[2019-02-20 17:05] OlegBrony commented on #6468
npm i @material-ui/icons
is it really so hard?

[2019-02-20 17:13] serhiyzablotskiy opened #6469 "react-scripts has vulnerability in dependencies"
Hi.
I have an issue with dependencies of react-scripts package.
In the latest version there is a dependency from jest@23.6.0.
But this version of jest is deeply dependent from the `braces` package.
Here is reported vulnerability in `braces` package in versions earlier then v2.3.1 https://www.npmjs.com/advisories/786.
But jest@23.6.0. refers to [braces] version before 2.3.1.

This issue should be f

[2019-02-20 17:25] OlegBrony opened #6470 "how to customize create-react-app?"
### Is this a bug report?
no

standard .gitignore looks like this:
[code]
I want to add ./idea, .vscode/ and shrinkwrap.yaml. the problem is create react app make `git add . ` before it, so I have to delete .git and run git init again.

[2019-02-20 18:06] keenondrums opened #6471 "Feature Request: Fine-tuning Terser"
### Is this a bug report?

No

**Proposal:**
Support a new environment variable `TERSER_CONFIG`. A dev could set it to JSON with [config values supported by Terser](https://github.com/webpack-contrib/terser-webpack-plugin#terseroptions) and CRA would merge default this JSON with its default Terser config.

**Example:**
1. Set `TERSER_CONFIG` to `{ "keep_classnames": true }`
1. `keep_classnames` se

[2019-02-20 18:43] bugzpodder commented on #6469
This is tracked in https://github.com/facebook/create-react-app/issues/6443 and it will be addressed in create-react-app v3

[2019-02-20 18:43] #6469 closed

[2019-02-20 18:45] bugzpodder commented on #6464
Thanks MarkLSky.  Yep this is tracked in #6399 and should be addressed in the next release.

[2019-02-20 18:45] #6464 closed

[2019-02-20 19:46] bugzpodder commented on #5707
This will be reverted because of #6399.

[2019-02-20 19:52] jamescostian commented on #5280
I've been wrestling with this issue for a while now, and the workarounds are very annoying, especially when you have cookies involved. Is there any reason why #5841 isn't being merged? It looks like one of the builds failed, but it seems to be an issue completely unrelated to the code change in that PR.

@mxschmitt maybe if you add a comment to the code in your PR, the CI will rerun and hopefully

[2019-02-20 20:15] #6213 closed

[2019-02-20 21:16] #6399 closed

[2019-02-20 23:02] iansu opened #6473 "Prototype warning when webpack config is modified by another package"

[2019-02-20 23:09] ImCatYao commented on #6391
I met the same problem on my MacOS on the Vscode editor.

[2019-02-20 23:35] iansu opened #6475 "Roadmap for version 3.0"
We are planning to release Create React App version 3.0 soon. This will be a relatively small release but will include a number of necessary breaking changes.

## Planned Features
* Jest 24: https://github.com/facebook/create-react-app/pull/6278
* Hooks ESLint plugin: https://github.com/facebook/create-react-app/pull/5997
* TypeScript ESLint plugin https://github.com/facebook/create-react-app/pull

[2019-02-20 23:39] iansu commented on #5889
This was implemented in react-scripts 2.1.

[2019-02-20 23:39] #5889 closed

[2019-02-21 03:41] babakness commented on #5677
I've made a package that compiles SASS, w/ interpolations, includes, etc, and provides type definitions.

<img src="https://raw.githubusercontent.com/babakness/sass-module-types/master/.github/images/animation.gif" alt="sass-module-types animation" />

https://github.com/babakness/sass-module-types

If one does not like the `d.ts` definition files, they can be hidden in VS Code, WebStorm, etc. In

[2019-02-21 04:27] tmclayson commented on #6391
Using yarn to manage everything instead of npm solved the issue for me.

[2019-02-21 04:33] dtinth commented on #6053
(This discussion is not resolved yet.)

[2019-02-21 06:15] #6217 closed

[2019-02-21 07:57] patrickhrastnik opened #6478 "Please update react-scripts' dependencies to use webpack-dev-server@3.2.0"
### Is this a bug report?

No, not really...

webpack-dev-server got an update and (indirectly) supports AIX systems now (because of some changes in its dependencies).

Long story:
* default-gateway: 3.0.1 -> 3.1.0 (added AIX support)
* internal-ip: 3.1.? -> 4.0.0 (updated dependency of default-gateway, requires node>6 now)
* webpack-dev-server: 3.1.14 -> 3.2.0 (updated dependency of internal-ip)

[2019-02-21 08:51] patrickhrastnik commented on #6478
There is some issue with ssl in webpack-dev-server@3.2.0
Please wait with this issue until the following issue has been solved:
https://github.com/webpack/webpack-dev-server/issues/1674

[2019-02-21 09:00] leimonio opened #6479 "Service workers with environment variables"
When running `yarn build` a custom service worker is copied to the `${projectDir}/build` path but environment variables are not getting replaced. Is there a way to get them replaced or reference them like in the bundles?

[2019-02-21 09:21] rodiusd opened #6480 "Unable to install/run create-react-app"
### Is this a bug report?

(yes)

### Did you try recovering your dependencies?

No as a rollback was executed by the install

(Write your answer here.)

### Which terms did you search for in User Guide?

(Write your answer here if relevant.)

### Environment

iSeries/node.js

(paste the output of the command here)

### Steps to Reproduce

-bash-4.4$ npm init react-app todolist
npx: installed 63 i

[2019-02-21 10:10] Andy2K11 commented on #6322
One quick follow on thought I had about this was that I'm not sure if my solution is cross platform.

Was this the intent behind the original method?

`SASS_PATH=node_modules:src`

As it happens, I am on Windows but use the linux syntax with Git Bash set as my IDE shell. hth

[2019-02-21 11:15] #6211 closed

[2019-02-21 11:59] rodiusd commented on #6480
Could package be adapted to use the latest internal-ip@4.0.0
This version seems to support AIX as os

[2019-02-21 14:45] humancatfood commented on #5563
@shaneosullivan

This worked for me. Given this structure:

[code]

You can add a `.env` file to cra-folder, setting `NODE_PATH='./../'`

Now you can import common stuff in the `cra` code:

[code]

It's still a work-around, but it's the cleanest solution I've managed so far.