[2016-11-29 18:12] gaearon commented on #1114
This is not a problem with Create React App itself. As you can see it throws inside `configureStore` so you’re likely passing something invalid to it. For example, maybe you use Redux DevTools and pass `undefined` to `compose()` or something like this. It’s hard to say without a code example, and I’ll close since it’s not specific to Create React App, but feel free to continue the discussion or li

[2016-11-29 18:12] #1114 closed

[2016-11-29 18:58] tysonnero opened #1115 "Set react-scripts version to github master branch in package.json?"
[code]
Is it possible to point react-scripts to the master github branch rather than the version?
I've tried ```"react-scripts": "facebookincubator/create-react-app/tree/master/packages/react-scripts"``` with no luck.

It's not straight forward b/c react-scripts is a package within the repo as opposed to the root repo.

[2016-11-29 19:00] gaearon commented on #1115
I don't think this would work. I also don't think we'll support this—it's usually a pain to get working, especially once you add a build step, or add dependent packages (like we do).

[2016-11-29 19:12] gadfil commented on #1114
thank you very much you are right

[2016-11-29 19:26] stujo commented on #969
What is the best practice to adding polyfills to CRA apps?

For example: I want to polyfill Array.includes and I'm wondering where and how to add it and be consistent with the CRA worldview

[2016-11-29 19:32] gaearon commented on #969
If you're okay with using CDNs, consider using https://polyfill.io/. Don't forget to add Promise, fetch and Object.assign to `excludes` because they're already bundled with CRA.

If you'd prefer to bundle them with your app, you can install `core-js` and import corresponding polyfills from `src/index.js` before other imports. I don't recommend importing *complete* `core-js` because it is pretty he

[2016-11-29 19:40] FrankenSteinxD opened #1116 "Can't proxy from localhost:3000 to localhost:7000 without internet connection"
In my client's package.json.
`"proxy": "http://localhost:7000"`
with internet connection everything is fine and the api works awesome.
without internet connection it shows me this error:
Could not proxy request /api/users/signup from localhost:3000 to http://localhost:7000 (ENOENT).
the problem is that mot of my time I am offline.

[2016-11-29 20:44] marekciupak commented on #794
Is there a way to fix that problem for the https://github.com/ddollar/foreman gem?

[2016-11-29 21:45] gaearon commented on #794
Was this fixed on master by https://github.com/facebookincubator/create-react-app/pull/1032?

[2016-11-29 22:55] marekciupak commented on #794
Yes, it was fixed. Thanks!

[2016-11-29 23:06] gaearon commented on #794
Closing. The fix will be out in the next release (0.8.0).

[2016-11-29 23:06] #794 closed

[2016-11-30 00:08] tysonnero commented on #1115
Is there any way to work with the latest react-scripts w/o having to wait for the next release?

[2016-11-30 00:12] thisbejim opened #1117 "gzip build confusion"
Pretty sure I am missing something here so please bear with me.

When I build a project I get the following message:

![gzip](http://i.imgur.com/z6IxdZM.jpg)

However the js build is actually 483kb. What am I missing here? Cheers.

[2016-11-30 01:33] tbillington commented on #1117
The built js file in your directory is not gzipped, it's only minified. When you serve that file the file and gzip it (which is the standard way to deliver content) that's the file that will actually be transferred. If you use the pushstate server as demonstrated in the `build` output and look at the transfer size in the network inspector in your browser dev tools you will see it only transfers th

[2016-11-30 01:36] thisbejim commented on #1117
Thanks for the explanation @tbillington, much appreciated!

[2016-11-30 01:36] #1117 closed

[2016-11-30 03:49] Timer commented on #1104
I would argue against adding a library which is fetched from the internet.
For example, I deploy applications in environments without an internet connection where the polyfill couldn't be accessed. I am now in a position where I wrote code which assumes the polyfills exist but do not.

[2016-11-30 04:48] andyengle commented on #1026
Hi @AJShippify, not sure you're still having this problem, but it seems I'm running into the same issue when building my app on my Linux box, which is a cloud instance running CentOS 6.5.  Anyway, I found that my builds would run briefly, then just stop for no reason.  I had a look at the `build.js` script in `node_modules/react-scripts/` and was able to track down the config details, and the `bui

[2016-11-30 04:53] stevensacks opened #1118 "yarn global add create-react-app doesn’t work with nvm"
At the request of @gaearon:

https://yarnpkg.com/en/docs/cli/global

The official Yarn documentation states that you can install (and maintain) your create-react-app project with yarn. However, it doesn't actually work. Calling `create-react-app` after a global yarn install does nothing. CRA currently only works from a global npm install.

It would be great if yarn and CRA went together like choco

[2016-11-30 08:11] gustavnikolaj commented on #1110
I'm not aware of any way to change how the version ranges are interpreted by npm. Unless I've got it all wrong, it will install the latest package that satisfies your spec.

As I see it, breaking changes can primarily be introduced into `eslint-config-react-app` in two ways:

1. A preset adds an additional rule.
2. A rule changes behavior.

One way to mitigate some of the problem is to not depend

[2016-11-30 08:16] fson commented on #1110
We already list all the rules in `eslint-config-react-app`. But sometimes bugs are introduced in the plugins or ESLint itself, or they don't work with a certain version of `babel-eslint` etc.

[2016-11-30 08:54] ctrlplusb commented on #1064
If memory serves me correctly to solve this issue I had to polyfill `require.ensure` within each module that used the feature.

Something along the lines of...

[code]

[2016-11-30 08:56] ctrlplusb opened #1119 "[Question] Why a CLI over a Yeoman generator?"
Not intended to sound snarky.  My question comes from a place of interest and ignorance.

[2016-11-30 08:58] gustavnikolaj commented on #1110
Okay... In that case, I don't think there's any thing we can do to mitigate the problem. It's an inherent problem to the node eco system and how npm works.

The open version ranges allow people to push out new versions that fix those bugs, without requiring a new release of CRA or other projects that depend on the given package.

---

My personal opinion is that the current version ranges are too

[2016-11-30 12:21] akarienta commented on #104
Hi, I'd also like to have some Cordova integration in this project. My current approach is to develop a new app completely as a plain web application and then use a manual like [this](http://harrymoreno.com/2015/07/14/Deploying-a-React-App-to-Cordova.html) to deploy it to Cordova.

This isn't a good solution, especially when you need using Cordova plugins, e.g. camera, you has to deploy app manual

[2016-11-30 13:40] gaearon commented on #104
I’d appreciate if you could create a new issue with an actionable plan of what is missing in CRA to make it a good experience.

[2016-11-30 13:45] gaearon commented on #1119
I don’t know enough about Yeoman but we had a few constraints:

* The "ejection" feature. It seems a bit tricky to implement on top of a generator that wasn’t designed for it in the first place.
* There is no intention of code generation. We give you a project with `npm start`, `npm test` and `npm run build`, and we don't want to make an impression that we will scaffold any code for you.
* Version

[2016-11-30 13:48] akarienta commented on #104
@gaearon Well, I can do it, but it will be a duplicity - all is described in this thread already.

[2016-11-30 14:02] gaearon commented on #1064
Wouldn't putting

[code]

in `src/setupTests.js` solve this?

Longer term, we will support this out of the box if [dynamic import](https://github.com/tc39/proposal-dynamic-import) advances.

[2016-11-30 14:03] gaearon commented on #104
Sorry but I don’t see any specific suggestions in this thread besides “add Cordova integration”. I don’t have enough knowledge about it to understand what this entails. If you could provide a list of *actionable todos* that would enable Cordova integration that would be great!

[2016-11-30 14:08] akarienta commented on #104
@gaearon Well, I don't have either. All I know is it would be nice to have something to automatize [these steps](http://harrymoreno.com/2015/07/14/Deploying-a-React-App-to-Cordova.html) - I can't explain it better, sorry. Forget it then.

[2016-11-30 14:24] gaearon commented on #1118
Works for me:

[code]

Can you specify more details?

[2016-11-30 14:33] gaearon commented on #1115
No easy way unless you fork it and publish your own packages.
We hope to do a release within two weeks.

[2016-11-30 14:34] gaearon commented on #1104
It's in `index.html` so you can always remove it. Would that not be a good default for most users?

[2016-11-30 14:35] gaearon commented on #14
@wtgtybhertgeghgtwtg Would you like to create a new issue aimed at slimming our dependencies down? Nobody is working on it but it should be doable given there's somebody who can lead the effort.

[2016-11-30 14:38] wtgtybhertgeghgtwtg commented on #14
I would love to.  I'll try to get that started today.

[2016-11-30 14:56] Timer commented on #1104
I feel like it would be a fair default *most* of the time for a CRA user.

---

I guess my only other complaint is still that the polyfill relies on an external service -- so what happens when polyfill.io's CDN goes down or has a DNS error/etc?
There will be script errors and application errors which are cryptic to the user of the application (in production) and other unexpected consequences.
I be

[2016-11-30 15:15] pke commented on #104
@akarienta as I wrote in this issue before, the steps required to make a CRA bundle to work in any cordova app is trivial. Have a post-build step to copy the out folder CRA creates to the cordova www folder.
I described the process over here: https://github.com/facebookincubator/create-react-app/issues/786

[2016-11-30 15:17] AJShippify commented on #1026
What was happening, in my situation, is that since I was working in a
low-memory environment the build script silently failed due to running out
of available memory.

2016-11-29 23:48 GMT-05:00 Andy Engle <notifications@github.com>:

[2016-11-30 15:18] akarienta commented on #104
@pke That's not so easy, you need to init Cordova and include it's script. All steps needed are described [here](http://harrymoreno.com/2015/07/14/Deploying-a-React-App-to-Cordova.html).

[2016-11-30 15:24] pke commented on #104
You first create the cordova app, then the CRA. Merge both folders, add the change to the package.json I wrote, and your are done.
Of course this merge/copy could be automated, but its so trivial I don't see why that would be required to be part of CRA.

[2016-11-30 15:32] akarienta commented on #104
@pke I don't think it can work like this - all what is your script doing is copying all files from build folder into www folder when CRA build is complete, nothing more and that's not enough. Did you read [this](http://harrymoreno.com/2015/07/14/Deploying-a-React-App-to-Cordova.html) article? There are more steps required. In addition I need to remove the first slashes from generated paths by buil

[2016-11-30 15:36] pke commented on #104
I also didn't think it can work like this, thats why I opened #786 in the first place. But then it turned out to be very easy. No problems with paths here, I just don't ever use absolute paths with a leading slash.

[2016-11-30 15:43] akarienta commented on #104
@pke The paths are generated automatically by whatever-is-inside-CRA (Webpack I guess). E.g. it generates `/static/css/main.9a0fe4f1.css` which has to be renamed to `static/css/main.9a0fe4f1.css`. Ok, I can do it for approx. five files but what about larger project?

Maybe I don't understand a goal of this project, I thought it is fast project starter and it seems it is much more tool for beginner

[2016-11-30 16:17] chimurai commented on #1116
https://github.com/nodejitsu/node-http-proxy/issues/835#issuecomment-144333871

[2016-11-30 16:19] gaearon commented on #1116
Can we fix this in https://github.com/nodejitsu/node-http-proxy?

[2016-11-30 16:52] stevensacks commented on #1118
I installed yarn using npm. How did you install yarn?

I installed node using nvm. I'm using node 4.5.
On Wed, 30 Nov 2016 at 23:24 Dan Abramov <notifications@github.com> wrote:

[2016-11-30 17:34] gaearon commented on #1118
I'm using a FB laptop so it's preinstalled here. I'll try again at home.

[2016-11-30 17:45] quide commented on #139
Sorry, newby question:
Can I activate source-map without ejecting?

Thanks in advance.
(Debugging React made by create-react-app is not a very easy-searchable topic at Google...)

[2016-11-30 17:46] gaearon commented on #139
Hi! As I noted in the comment right above:

0.8.0 is not out yet so no. When it is out, yes, this will be enabled and you wouldn't need to eject.

[2016-11-30 17:59] existentialism commented on #1118
I was able to repro this...

Initial setup:
yarn@0.17.8 (installed via npm)
node@6.9.1 (installed via nvm)

Switched to node 4 via nvm, `yarn global add create-react-app`, and got:
[code]

@stevensacks if you do a global remove, then global add, does it work?

Likely related to yarnpkg/yarn/issues/1151?

[2016-11-30 19:57] robcaldecott commented on #1104
Relying on a 3rd-party service for this seems a little risky imho. I'd rather see a configurable build warning for missing polyfills, or even a way to specify target browsers.

[2016-11-30 19:58] sirreal commented on #815
I experienced this issue and mistakenly attributed it to a module I was using. My project was not ejected. See: https://github.com/mozilla-services/react-jsonschema-form/issues/321

My workaround was to build my app inside a disposable container.

[2016-11-30 20:05] gaearon commented on #815
I wonder if it's the same problem as https://github.com/facebookincubator/create-react-app/issues/1023.

[2016-11-30 20:10] garudacrafts commented on #815
I am experiencing this same error message after installing a different module, auth0-lock (https://github.com/auth0/lock). I have not ejected my project, but I found others were experiencing the same error message, such as @sirreal , and as mentioned at https://github.com/facebookincubator/create-react-app/issues/587. I saw that this issue is still open, while those other ones are closed, so I've

[2016-11-30 20:23] garudacrafts commented on #815
@gaearon Should I post my message above in https://github.com/facebookincubator/create-react-app/issues/1023? Or do y'all have a pretty good idea what's going on already? I scanned that issue, but it's a bit above my head ;P. Also, it may be worth noting that just requiring auth0-lock module breaks it. Finally, I'm in a room of 12 people and everyone else has a Mac and are not running into this is

[2016-11-30 20:28] gaearon commented on #815
No, nobody has any idea why it happens.
We really need help there.

Yes, please cross-post because that thread is bigger.

So far it is only reproducible on Ubuntu, never on OS X.

[2016-11-30 20:51] garudacrafts commented on #1023
I'm reposting from https://github.com/facebookincubator/create-react-app/issues/815.

I am experiencing this same error message after installing a different module, auth0-lock (https://github.com/auth0/lock). I have not ejected my project, but I found others were experiencing the same error message, such as @sirreal , and as mentioned at https://github.com/facebookincubator/create-react-app/issues

[2016-11-30 21:05] garudacrafts commented on #1023
It looks like this definitely has something to do with package dependencies. It does not appear to be limited to any specific node module. After reading all the comments above and in the previous issues, I realized that certain users were able to get around the problem by installing a package closer to the root. For example, in issue https://github.com/facebookincubator/create-react-app/issues/815

[2016-11-30 21:20] gaearon commented on #1023
Something, somewhere (in Webpack's `enhanced-resolve`?) resolves to the native Node module instead of the one in `node_modules`. As for why, I don’t know.

[2016-11-30 21:25] gaearon commented on #1023
It would be helpful if somebody who's having this issue could:

* Copy project to a different folder (just so you're not afraid to break everything)
* Eject
* Check that the issue still exists
* Update dependencies and configs to [Webpack 2 format](https://gist.github.com/sokra/27b24881210b56bbaff7)
* Get it to compile
* Check that the issue still exists

If it's fixed in Webpack 2 then that would

[2016-11-30 21:26] garudacrafts commented on #815
@gaearon Done!
@sirreal Another work around (other than running in a container), would be to identify which node module is falling back to the native copy and add it as a direct dependency in your node_modules. See the latest comments in https://github.com/facebookincubator/create-react-app/issues/1023.

[2016-11-30 21:51] garudacrafts commented on #1023
@gaearon I copied and ejected my project and I still had the same issue that I initially reported (i.e. including the auth0-lock module led to apparent native use of `util` package dependency). Note that I was not able to reproduce the issue as described in https://github.com/facebookincubator/create-react-app/issues/815 by following the steps in the initial post (i.e. ejecting a brand new react-c

[2016-11-30 22:41] godmar commented on #1023
I copied and ejected, and the issue persists.

Which exact version of webpack do you want me to try and how do I do that?  (BTW, is there a way to get npm to list unpublished/unreleased versions?)

[2016-11-30 22:45] sokra commented on #1023
I would be interested to see to output of `node -e "console.log(require('node-libs-browser').events)"`. That's the module webpack uses for events.

[2016-11-30 22:45] gaearon commented on #1023
You can learn beta versions of webpack and webpack-dev-server by running `npm dist-tag ls webpack` and `npm dist-tag ls webpack-dev-server`. Copy the beta versions in your package.json and run npm install. Then follow the migration guide I linked to earlier to port your configs.

[2016-11-30 23:24] tabrezm commented on #682
@gaearon: here you go: https://github.com/facebookincubator/create-react-app/pull/1122.

FWIW, I'm not sure if the paths even need to be set up for publishing in the first place. Won't the right paths get used at runtime for the non-ejected and ejected versions already defined above the ones used for publishing in the existing code?

[2016-11-30 23:28] tbillington commented on #1104
Why have half the polyfills baked in and half as 3rd party service, does `react-scripts` rely on the baked in ones?

[2016-12-01 00:34] newswim commented on #1118
perhaps try installing with brew, as per [this guide](https://yarnpkg.com/en/docs/install)?

[2016-12-01 01:28] godmar commented on #1023
@sokra

in "react-scripts": "0.7.0-alpha.9c45b252", the output is $cwd/node_modules/events/events.js

in react-scripts 0.7.0, it's Cannot find module 'node-libs-browser'

[2016-12-01 02:29] stevensacks commented on #1118
Installing via brew is strongly recommended against.
On Thu, 1 Dec 2016 at 9:34 Dan Minshew <notifications@github.com> wrote:

[2016-12-01 02:47] godmar commented on #1023
Do you have NODE_PATH set on your Macintoshes?

On Ubuntu, I have installed package 6.9.1-1nodesource1~xe via [the instructions here](https://deb.nodesource.com/setup_6.x), which are [repeated here](https://www.digitalocean.com/community/tutorials/how-to-install-node-js-on-ubuntu-16-04), which sets NODE_PATH:

[code]

Sure enough, the error disappears if I unset this variable. It seems that 'fallb

[2016-12-01 02:57] godmar commented on #1023
OTOH, the [webpack documentation](https://webpack.github.io/docs/configuration.html#resolve-root) isn't exactly clear on what the behavior is when root isn't set. Technically it's true that the 'fallback' directories kicked in because a package wasn't found in root since we don't specify any root.

[2016-12-01 04:29] godmar commented on #913
Would like to second @ivosabev 's request.

On a 2-core, 2GB Digital Ocean instance, `npm run build` on a null-CRA 0.7.0 project takes 11s.
It takes similarly long for the webpack dev server to start.

Adding 15-20 .js files for components, etc. expands this to 20s.

I'm not sure whether CRA is to blame, though - I've seen similarly catastrophic build times in other projects with similar, but inde

[2016-12-01 05:03] shrynx opened #1124 "issues while creating custom react-scripts"
### Description
I am making a custom react-scripts, and i used the latest master branch to clone and modify it. but while running i get into error ``` Cannot find module 'react-dev-utils/getProcessForPort' ```

### Expected behavior
The master branch of create react app has the getProcessForPort.js, but the one downloaded from npm doesn't have it. (probably not part of the release ?)

### Reproduc

[2016-12-01 07:25] ctrlplusb commented on #1119
Yes, thank you for taking the time to answer this @gaearon. :)

Closing...

[2016-12-01 07:25] #1119 closed

[2016-12-01 09:31] sokra commented on #1023
`NODE_PATH` isn't used by webpack.

[2016-12-01 10:10] julien-f opened #1125 "Enable babel-preset-env for node_modules that target newer Node versions"
Hello,

More and more npm packages contain ES2015+ code (for now usually features supported by Node 4 but i guess it will move to Node 6 features once 4 will be unmaintained). Unfortunately, this breaks compatibility with Uglify and browsers.

The only answer to this is, IMHO, to also transpile external dependencies. Is this supported by create-react-app?

I'm asking because my own build set up is

[2016-12-01 10:54] frontsideair commented on #1009
I fixed the issue and sent a PR. I hope it'll be merged and released before `0.8.0`. I'll update this when it happens.

[2016-12-01 12:07] gaearon commented on #1009
Thanks!

[2016-12-01 12:12] gaearon commented on #1125
No, this is not supported because builds will get much slower. We don't recommend using libraries that don't precompile their code to ES5 but are supposed to be usable in ES5.

We will fix the Uglify problem in the future by using Babili. However it still means that even uglified code will still be ES6 if that's what your dependencies are shipping.

With time it won't matter as much because mainst

[2016-12-01 12:26] henri-hulski commented on #1023
@sokra This is not true for CRA.
See https://github.com/facebookincubator/create-react-app/pull/476.

And I can confirm that I have /etc/profile.d/nodejs.sh present with the same content as above:
[code]
This really smells like this actually could be the issue.
Maybe someone with a Mac can set NODE_PATH as above and check if he can reproduce the issue.

[2016-12-01 12:29] gaearon commented on #1023
That's some solid detective work. I wanted to say I knew this would get us in trouble someday but then again, I merged that feature :P

[2016-12-01 12:43] henri-hulski commented on #1023
In our cases `/usr/lib/nodejs/events.js` was used instead the polyfill.
So clearly comes from NODE_PATH.

[2016-12-01 12:51] julien-f commented on #1125
I understand but it creates a dichotomy between Node's and browsers' worlds, which will lead to less isomorphic JavaScript components/libraries :/

@sindresorhus, you have migrated many of your packages to ES2015, what's your opinion on this?

And, once Uglify as been replaced by Babili, I'm not sure it'll have a big impact to add other Babel presets to the compilation pass (@hzoo, any inputs on t

[2016-12-01 12:54] julien-f commented on #1125
Concerning the perf impact, I guess it depends of how many times the code is parsed/generated, it would be interesting to have everything done in a single one but it probably depends on the bundler (Webpack).

[2016-12-01 13:41] godmar commented on #1023
So what's the resolution?  Given that the node.js Linux package maintainers put this there, despite [NODE_PATH being officially discouraged](https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders) seems to imply that a user-friendly work-around is needed. At least a warning may be appropriate.

Or undo #476 and replace it with an opt-in approach for those who want to shoot the

[2016-12-01 13:55] gaearon commented on #1023
We can remove `NODE_PATH` support if we fix https://github.com/facebookincubator/create-react-app/issues/607 instead. There is a PR (https://github.com/facebookincubator/create-react-app/pull/1081) but it looks incomplete. Feel free to look into what's missing there.

[2016-12-01 14:07] garudacrafts commented on #1023
My /etc/profile.d/nodejs.sh also contains `NODE_PATH=/usr/lib/nodejs:/usr/lib/node_modules:/usr/share/javascript
export NODE_PATH` and my error message referenced `usr/lib/nodejs/util.js`.

[2016-12-01 14:11] gaearon commented on #1125
OK, let’s keep it open and wait for more feedback.

The cold start time is pretty bad. I saw an increase from 6 to 20 seconds on a relatively small app.
However, since we enable caching for Babel loader, warm start stays 6 second.
So maybe it’s not such a big of a deal.

[2016-12-01 14:13] gaearon commented on #1125
I would be comfortable doing this if:

* We are sure that enabling Babel never *breaks* third party code. I’m actually not at all sure this is true.
* We are sure only cold start suffers, both for `npm start` and `npm run build`, and that whatever caches we are using work well for next start, for edits while it is running, and for builds.

[2016-12-01 14:18] julien-f commented on #1125
I understand very well your pain about long compile time, but I think the answer is somewhere because with bundling, tree-shaking and minification, this code is already parsed.

Maybe the work is more on the ecosystem side (Babel, Webpack, etc.) to avoid doing unnecessary operations (parsing and generation).

[2016-12-01 14:24] gaearon commented on #1124
Yes, you'd either need to wait for the next `react-dev-utils` release, rollback your fork to before it was changed, or fork it too.

[2016-12-01 14:25] gaearon commented on #1124
I’ll close because this is not very actionable for us. This particular issue will be solved with next release, but in general it might be better to fork from the latest stable version rather than from master.

[2016-12-01 14:25] #1124 closed

[2016-12-01 14:30] sokra commented on #1023
Ah I see. Seems like `NODE_PATH` is applied to `resolve.root` which has a higher priority than `node_modules` (`resolve.modulesDirectories`). It should be applied to `resolve.fallback` (which has a lower priority) to be equivalent to Node.js.

https://github.com/facebookincubator/create-react-app/pull/476/files#diff-96f3236c864bf3b9b45321218336dca0R70

[2016-12-01 14:38] hzoo commented on #1125
Running babel on all of node_modules does sound really slow - right it might be faster (would need to measure) passing an AST to webpack or vice versa.

[2016-12-01 14:40] julien-f commented on #1125
@hzoo but if Babili is used, the code won't get much slower by adding other Babel plugins/presets right?

At least much faster that Babel + Uglify.

[2016-12-01 14:40] godmar commented on #1023
@sokra Not so.

It's [applied to fallback](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/config/webpack.config.prod.js#L83-L88) - please read my earlier comments where I discuss this.

[2016-12-01 14:41] gaearon commented on #1125
To be far there is no minification in development.

[2016-12-01 14:42] julien-f commented on #1125
Seems logic, but watch mode may be enough to mitigate the issue…

[2016-12-01 14:42] gaearon commented on #1023
Yea, I changed that later precisely for that reason. I’m not sure why those browser shims are treated differently..

[2016-12-01 14:44] gaearon commented on #1125
At this point I’m more concerned about correctness than speed.
My gut tells me some projects will break if you Babel them.

[2016-12-01 14:46] just-boris commented on #757
Jest 17 is out now!
It ships some new matchers and also an extension point `expect.extend` to put your custom ones.

Do I need to create another issue to update used Jest version to 17?

[2016-12-01 14:51] julien-f commented on #1125
Yes, that's the main issue.
Maybe we can just enable a limited number of plugins on external deps, like those in `babel-preset-latest`.

I don't know if running Babel on external deps is a good idea, but I fear the problem of incompatible deps will continue to grow, and fast. :/

[2016-12-01 14:55] gaearon commented on #757
I think bump to 17 is merged to master.

[2016-12-01 15:00] gaearon commented on #1125
I think this should be on the library authors because they know which JS version they wrote code in, and they can spend their CPU once every release so that other people don’t have to waste their CPU compiling their libraries. It is not difficult to compile JS code to ES5 as a build step, with Babel it's literally a single command.

[2016-12-01 15:02] gaearon commented on #913
Can you debug why this happens? I don’t have the time to look into it right now. But if you put a few logs here and there you’ll likely see the overall picture of where the time is being spent.

As I noted above it might help to enable caching for ESLint loader. Have you tried this?

[2016-12-01 15:03] gaearon commented on #1104
We can't determine them statically.

This sounds reasonable and actually something we're already planning to enable.
So we might as well wait for https://github.com/babel/babel-preset-env/pull/51 and https://github.com/babel/babel-preset-env/issues/20.

[2016-12-01 15:05] gaearon commented on #1026
Thanks for sharing the details!

[2016-12-01 15:06] julien-f commented on #1125
Yes, but they might do this because it's easier, or because the code is faster (generators, async functions) if not transpiled, or simply because they did not thought about the use of their code in something else than Node.

They also might say that it's up to the consumers to compile because only them know which JS version they target ;)

@sindresorhus, when you have time, I would love to have yo

[2016-12-01 15:07] andyengle commented on #1026
Agreed.  Thanks for the clues, @AJShippify.  I tried my build on another cloud instance with a lot more memory and things worked swimmingly.  In this case, it was an EC2 instance sized at m4.large (16GB memory) which did the trick.

[2016-12-01 15:15] AJShippify commented on #1026
No problem, glad to help 👍

2016-12-01 10:07 GMT-05:00 Andy Engle <notifications@github.com>:

[2016-12-01 15:24] just-boris commented on #757
That's right. https://github.com/facebookincubator/create-react-app/commit/7e9cb18a5522b20d27ffa9b4443105b55168f1d4

Haven't released yet though. Looking forward for release!

[2016-12-01 15:25] jimmyhmiller commented on #1023
It looks like NODE_PATH is causing problems, but I would hate to see it removed without a real substitute. We are currently depending on that functionality. @gaearon are you opposed to some other environment variable that isn't already overloaded with meaning?

[2016-12-01 15:26] gaearon commented on #1023
@jimmyhmiller What are you using it for? If absolute paths, we do have another solution as I mentioned in https://github.com/facebookincubator/create-react-app/issues/1023#issuecomment-264178576.

[2016-12-01 15:33] jimmyhmiller commented on #1023
Yes we are using it for that. The problem is that the 'src/node_modules' requires us to do refactor on our structure where as the environment variable would allow us to make one change in one place. But also the src/node_modules solutions just doesn't seem to really address the issue. The goal is to be able to not use any relative imports. Relative imports are incredibly fragile and annoying to wo

[2016-12-01 15:41] mbriggs commented on #808
@gaearon use case for rule customization: I am using flow, and i want to be told when I forget to put a `// @flow` annotation on files with https://www.npmjs.com/package/eslint-plugin-flowtype#require-valid-file-annotation

Its something that costs me time, something that 100% should be called out in a dramatic way during development, but not something which should be enabled by default.

[2016-12-01 15:55] hzoo commented on #1125
I think it's really weird to be compiling node_modules. Libraries/packages should be compiling themselves or at least providing an optional es5 version?

This is also what caused https://github.com/babel/babylon/pull/154 - where you would have an issue in 3rd party code

[2016-12-01 16:07] gaearon commented on #1125
The problem is the shifting baseline. Why are we using ES5 as a baseline? Because it was the lowest common denominator. But it’s shifting, and it won’t make sense to still use ES5 as lowest common denominator in 10 years. So the question is: when should the lowest common denominator shift to ES6?

I don’t think the answer is now, and I also don’t think it’s a good idea to compile ES6 code in depen

[2016-12-01 16:08] gaearon commented on #1023
Why? You can create symlinks from it to maintain exactly the same structure as you have now. (Unless you're using Windows in which case symlinks can be sort of painful.)

Also, what do you call a refactor? Isn't it just a matter of moving directories to a different place without changing any code?

[2016-12-01 16:08] cpojer commented on #757
There'll be another release sometime later this week.

[2016-12-01 16:10] julien-f commented on #1125
Maybe the user could configure a list of packages to compile?
But then there is the question of their own dependencies… 😢

[2016-12-01 16:12] gaearon commented on #808
I’m a bit confused. As far as I can tell [this rule is already enabled](https://github.com/facebookincubator/create-react-app/blob/9ce0aa5f5aa43b0cd31ae870a4fb1d5d6195ed5e/packages/eslint-config-react-app/index.js#L215).

[2016-12-01 16:16] sindresorhus commented on #1125
I think you're asking too much of module maintainers. I target Node.js 4 for modules I make. If users wants them to run in older browsers, it's up to them to transpile. I'm not interested in having a compile step in all my modules.

Maybe there could be a Babel feature (or another tool) that checks the "engine" package.json field in dependencies and decides which dependencies to transpile. Caching

[2016-12-01 16:47] jimmyhmiller commented on #1023
We are not using windows ourselves, but work with clients who might be. So the symlink solution isn't ideal for us. You are right that it isn't a refactor in the sense of code, but it is a structure refactor that has no explanation in the problem domain, but only in the tooling.

I want to be able to say, X is in folder Y because it fits with this business domain or in order to have a good separat

[2016-12-01 16:55] kitze commented on #1124
@shrynx In my fork I just copied the [file that was missing](https://github.com/kitze/create-react-app/blob/master/packages/react-scripts/scripts/getProcessForPort.js).

Of course, this is temporary until the new version of ```react-dev-utils``` is published.

[2016-12-01 16:56] mbriggs commented on #808
It isn't actually catching anything. I think by default it catches typos but not detecting presence?

![image](https://cloud.githubusercontent.com/assets/89260/20803269/93b46852-b7bc-11e6-9dac-0a41364c673a.png)

There are a few types of flow codebases. If you are migrating to flow, it may only be enabled in certain spots. If you are aggressively checking, you want it everywhere, and missing it in

[2016-12-01 17:05] gaearon commented on #808
Hmm I see what you mean. Can we add/write a different rule that only asks you to add `// @flow` if you used Flow annotations in that file?

[2016-12-01 17:07] gaearon commented on #1023
We can keep support for `NODE_PATH` but then we need to figure out how to fix the issue here in a different way.

[2016-12-01 17:33] mbriggs commented on #808
I believe that is the default behavior of that rule. The problem is that default is great for certain codebases, and for others its a very big problem.

On a 2kloc project, I forgot to add the annotation on a few index.js files. Realized my mistake when type checking wasnt working somewhere, I added it, and ended up with 55 errors, some of them actually pointed me to design flaws. I would have lov

[2016-12-01 17:37] gaearon commented on #808
Is there something in particular that prevents Flow from adding this option?

[2016-12-01 17:41] mbriggs commented on #808
I couldnt find any discussion of this on the Flow GH issues, but that could just be because its not an easy thing to search for. I would imagine it would be a fairly simple thing to add to .flowconfig as an option.

[2016-12-01 17:45] jimmyhmiller commented on #1023
So you wouldn't want to use a different environment variable? That would solve this issue and keep the functionality the `NODE_PATH` gives us.

[2016-12-01 17:48] AdamTyler commented on #1065
I've created a link `src/node_modules` to `src/common` and this allows me to import a component using `import Rating from 'components/Rating'` (components is a folder in common).

However, when I run my tests, jest gives me the following error:
[code]
on the line where I am doing that import.

Is there something I need to add to my jest config to make this work properly?

[2016-12-01 17:50] gaearon commented on #1065
@AdamTyler

Please see the first post in this thread 😉

<img width="468" alt="screen shot 2016-12-01 at 17 49 42" src="https://cloud.githubusercontent.com/assets/810438/20805447/94e12c74-b7ee-11e6-8463-6693499e4e88.png">

[2016-12-01 17:51] gaearon commented on #1023
Because this defeats the purpose of not hardcoding support absolute paths inside webpack: tool compatibility. Right now things "just work" in IDEs/linters/Flow/etc that respect Node resolution mechanism.

[2016-12-01 17:55] AdamTyler commented on #1065
@gaearon I initially thought that issue was aimed at jest not running tests that were within that node_moules folder but upon further reading it looks like it does address my specific situation. Thanks :)

[2016-12-01 18:13] garudacrafts commented on #1023
While this discussion has moved to `NODE_PATH`, isn't the core issue here fact that the global copy of a module is being used in place of the copy installed as a project dependency? Why is it falling back (as @godmar confirmed) to the native version at all when it exists right there in node_modules as a dependency of a root module? Would testing with webpack 2 be the only way to help us determine

[2016-12-01 18:18] Timer opened #1129 "[Red Box] Umbrella issue for remaining polish"
This is an umbrella issue for remaining Red Box issues. Please let me know if I forgot any.
PR: #1101

Blockers
- [x] Clicking arrows currently makes their text select. Are those implemented as buttons? We need to make sure clicking doesn't select text.
- [x] We also need to make sure this dialog is accessible. Can you please read accessibility guidelines for dialogs and make sure we follow as muc

[2016-12-01 19:04] gaearon commented on #1023
It would confirm whether a fix exists or is yet to be written.

[2016-12-01 19:06] jimmyhmiller commented on #1023
Trying to recreate this on mac to see if I can help with the fix. I don't have anything in any of these folders. Any ideas where the equivalent location would be on mac?

```/usr/lib/nodejs:/usr/lib/node_modules:/usr/share/javascript```

[2016-12-01 19:09] godmar commented on #1023
I started on this but stopped when I realized I didn't have enough knowledge of webpack to translate all the constructs. The secret gist "transition guide" does not answer all questions, or if it does it does so in a way that assumes internal knowledge of webpack. In fact, some questions (like how to handle !postcss are asked there, but not currently answered).

[2016-12-01 19:10] gaearon commented on #1023
You can remove anything non-essential as long as we can reproduce the issue.

[2016-12-01 19:26] wtgtybhertgeghgtwtg commented on #1125
Wouldn't that be more of a `webpack` thing?  The browser version might need to be transpiled, but I don't think anything `react-scripts` depends upon needs anything higher than `node` 4.

[2016-12-01 19:31] rbrtmrtn opened #1130 "Linked packages can't be found during build"
### Can you reproduce the problem with latest npm?

Yes. I'm on Node 7.2.0, npm 3.10.9.

### Description

I'm working on two projects at the same time, both generated with `create-react-app`. One exports a React component that's used by the other, so I'd like create a symlink between the two. I ran `npm link` within the master project and then `npm link mapbook` (where `mapbook` is the name of the

[2016-12-01 19:32] godmar commented on #1023
I wasn't able to. Here's a [link](https://gist.github.com/godmar/dd03e6f0a98081a27a37d967dd14494f#file-incomplete-patch-L18-L19) to how far I got. It stops with being unable to recognize JSX syntax presumably because babel isn't run or doesn't have the right settings.

Another conceptual issue is that I do not know the exact semantics of root/fallback because the webpack documentation [does not ex

[2016-12-01 20:03] gaearon commented on #1023
The new webpack (WIP) docs are at https://webpack.js.org/.

I think with the latest beta you need to add explicit postfixes to loaders. So it's not `'babel` but `'babel-loader`, etc.

[2016-12-01 20:18] jimmyhmiller commented on #1023
Adding an explicit resolve.root seems to fix this problem for me. I've made a [branch](https://github.com/facebookincubator/create-react-app/compare/master...jimmyhmiller:fix-event-node-path) with that change. (obvious still work before it would be mergeable)

@godmar Think you could test it out and see if it works for you?

[2016-12-01 20:25] godmar commented on #1023
Side note: all the code in enhanced-resolve that handles this seems to be written by @sokra - but you already knew this :-)  Maybe he could explain the normative behavior?

My specific question. In [this code](https://github.com/webpack/webpack/blob/4b20545b375da82aa6418e6d498f01d543110af0/lib/WebpackOptionsApply.js#L322-L360) we see how the options given to webpack's resolve control the resolutio

[2016-12-01 21:01] jimmyhmiller commented on #1023
@gaearon How do you feel about that approach? If that's okay I will happily finish it up and make a PR.

[2016-12-01 21:11] gaearon commented on #1023
Per documentation `root` is found before `node_modules` are searched. So if you have `redux` in the `src`, Webpack would pick it up before `node_modules/redux`. This is the behavior I’m trying to *avoid* so I think that wouldn’t work.

[2016-12-01 21:21] jimmyhmiller commented on #1023
@gaearon Not sure what you mean. I set root to `ownNodeModules` not `nodePaths`. I just tried exactly what I think you are talking about. I npm installed `redux` and had a file called `redux.js`. When I import I get the actual redux not my file.

All this does is makes sure webpack explicitly searches `ownNodeModules` before anything else.

[2016-12-01 21:25] gaearon commented on #1023
Oh this is interesting. Could you send a PR?

[2016-12-01 21:43] studio174 opened #1132 "not loading css background images in dev or build"
I'm having difficulty with some background images not loading.  I've made some significant modifications to the initial create react app, my folder structure is now as follows:

    App/
     node_modules/
     src/
      client/
       build/
       node_modules/
       public/
       src/
        css/
         App.css
        images/
         tree.png
         yeti-hello.png
        App.jsx

[2016-12-01 21:46] ccorcos commented on #670
Over the holidays, I was messing around and came up with a project that hopes to solve this whole forking problem. It's a pattern for building tools like `create-react-app` in such a way that makes them easy to be extended without npm dependencies. I'm curious to hear any of your thoughts:

https://github.com/ccorcos/doug

[2016-12-01 22:12] keanolane commented on #1132
Hey, can you tell me if you get a 404 or 403 in the network tab of your browser web tools?

[2016-12-01 22:18] studio174 commented on #1132
@keanolane no 404 or 403, only 200

[2016-12-01 22:22] davidpaulhunt commented on #1132
@studio174 I copied your code locally and couldn't recreate. The image shows up for me as a sticky footer. I noticed in your source that you're suing some external library, `react-responsive`, is that pushing the image out of view? I believe this is a css issue and not a path resolution issue, but obviously I can't confirm without exploring the external library.

[2016-12-01 22:23] existentialism commented on #1132
The issue looks like your CSS...

The `background-size` needs to be after the `background` prop.

![image](https://cloud.githubusercontent.com/assets/56288/20815160/65eff370-b7e2-11e6-8124-6e040f85b34a.png)

[2016-12-01 22:25] davidpaulhunt commented on #1132
@existentialism this works fine locally for me
[code]
I think it's the `Screen` wrapper he has going on, or some other CSS breaking the location.

[2016-12-01 22:29] studio174 commented on #1132
Ahh yes, definitely an issue with CSS.  Thanks for the help everyone!

[2016-12-01 22:29] #1132 closed

[2016-12-01 22:46] joserobleda commented on #1130
I guess CRA default settings doesn't makes babel to transpile anything with a realpath outside your project.

I'm also looking for a solution to this situation. I found a workaround by ejecting, but I really don't want to..

[2016-12-01 23:10] godmar commented on #1023
BTW, in the absence of adding in `ownNodeModules`, setting `root: nodePaths` and setting `fallback: nodePaths` is completely equivalent. If you look at the code I linked to

[code]

and then enhance-resolve just invokes those plugins as a waterfall. Whether a directory is in 'root' or in 'fallback' doesn't matter if the respective other setting is empty.

[2016-12-02 00:17] shrynx commented on #1124
@kitze Oh alright, i just commented out the code. Although, I will be copying a few things from your fork :)

[2016-12-02 00:23] vidarc opened #1133 "Build doesn't work on an Ubuntu server"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?

Many errors, especially related to "missing modules", are due to npm bugs.

If you're using Windows, [follow these instructions to update npm](https://github.com/npm/npm/wiki/Troubleshooting#upgrading-on-windows).

If you're using OS X or Linu

[2016-12-02 00:43] TheLarkInn commented on #1023
We plan on documenting this on our new docs but I wanted to leave a diagram that may or may not assist in understanding the waterfall style of enhanced resolve:

![image](https://cloud.githubusercontent.com/assets/3408176/20818838/0fe806b6-b7f6-11e6-91e1-499fcff99938.jpeg)

[2016-12-02 00:59] sokra commented on #1023
@TheLarkInn This diagram is webpack 2, but CRA uses webpack 1 which uses a different resolver impl.

`root` is tried before node_modules, `fallback` is tried after node_modules. It's a bit confusing, that's why it was changed for webpack 2.

[2016-12-02 04:17] TheLarkInn commented on #1023
Ah sorry I totally forgot cra is webpack 1. Apologize for the confusion.

[2016-12-02 04:22] wtgtybhertgeghgtwtg commented on #14
I have a list of things that could be done to slim down dependencies, but it has hundreds of items.  Should I make the issue and only list the larger ones?

[2016-12-02 04:23] godmar commented on #1023
@sokra - this may sound blasphemous, but are you sure that webpack 1.13.2 works the way you describe?  In particular, in the code, you do what I quoted [above](https://github.com/facebookincubator/create-react-app/issues/1023#issuecomment-264324280)

The plugins for the directories in 'root' and the plugins for the directories in 'fallback' are simply concatenated (unless moduleDirectories is set,

[2016-12-02 07:17] jlubeck commented on #293
I'm running into this issue and I don't see fsevents in my node_modules.

create-react-app 0.6.0
npm 4.0.2
node 7.2.0
macOS Sierra 10.12.2

CPU goes up to 140%, don't even know how that is possible!

[2016-12-02 07:44] zhusee2 opened #1135 "Yarn breaks `npm test` running in watch mode"
I recently tried the script on master which brings Yarn support. However a freshly-created app will fail to run `npm test` if it was installed through Yarn. The watch mode is broken.

But if you try to remove the whole `node_modules/` folder then run `npm install`, it'll work perfectly after a long wait. I suggest that Yarn breaks Jest.

### Can you reproduce the problem with latest npm?
Yes.

###

[2016-12-02 08:13] sokra commented on #1023
I tried it (1.13.3) and it does work. The order in which plugins are added is used. They are called in parallel but the results are used in order.

[2016-12-02 08:19] kitze commented on #1124
@shrynx one advice,  if you want to keep up with the original repo easily, don't modify too many things otherwise you'll have a headache. I'm modifying only ~10 lines and it's still hard 😅

[2016-12-02 09:14] iDams opened #1136 "Add "/src" to webpack resolve.modulesDirectories?"
**Feature request**

Hey,

Since CRA have a `src/` folder that should contains all the source files, we could add this config to webpack: (according to the [doc](http://webpack.github.io/docs/configuration.html#resolve-modulesdirectories))
[code]

We would have cleaner import paths.

Example: let's say our app structure is this
[code]

We could import `myComponent` in any files like this:
`import

[2016-12-02 13:17] gaearon commented on #1136
Please could you search the issues and pull requests for "absolute imports"? There have been many discussions about this. Some of them are ongoing.

[2016-12-02 13:17] #1136 closed

[2016-12-02 13:19] gaearon commented on #1133
I've seen reports about this which were resolved when the server was allocated more RAM. Can you check if this helps?

[2016-12-02 13:19] iDams commented on #1136
Oops, sorry didn't search right. Thanks

[2016-12-02 13:22] gaearon commented on #1136
No worries! In short: this is something we want but not through Webpack config because this breaks any other tooling (IDEs, Flow, Node, etc). So instead we're likely to recommend using src/node_modules for this (you can use symlinks for a nicer folder name) once we fix a few issues with this approach.

[2016-12-02 13:23] gaearon commented on #1135
We don't support installing CRA from GitHub. Can you reproduce this issue by cloning the repo?

[2016-12-02 13:25] gaearon commented on #293
Can you paste the full npm log after creating a fresh project?

[2016-12-02 13:45] godmar commented on #1023
@sokra - I see. It's done however iff the default setting for moduleDirectories is not overridden.  In other words, it relies on the default setting of modulesDirectories being `["web_modules", "node_modules"]`. If you set modulesDirectories: [] it won't work.

So if you accept PR #1131 then the search order would be:

1. - paths.ownNodeModules (which is node_modules/react-scripts/node_modules)
2.

[2016-12-02 15:05] rbrtmrtn commented on #1130
@joserobleda interesting. What did you do after you ejected?

[2016-12-02 15:08] zhusee2 commented on #1135
Sorry, just though I did that way.

So I cloned the repo and try to bootstrap a new app via `tasks/cra.sh` on my home laptop with the same environment. It's working perfectly and everything seems fine. Guess I must had gone the wrong way.

Please close this issue, and thanks for this great package!

[2016-12-02 16:16] beizhedenglong commented on #1036
I want this feature too.

[2016-12-02 16:56] cchamberlain opened #1137 "Allow `npm test` to not run in watch mode for better cross-platform / tooling CI."
I've been using create-react-app in conjunction with lerna repos and for the most part its been an awesome experience. The one issue I've been seeing is when trying to issue `lerna run test` commands to test all packages that have a "test" script. Since create-react-app defaults to entering watch mode on test, it hangs.

After some digging it looks like I might be able to set a `CI` environment va

[2016-12-02 17:46] CodeJjang commented on #659
Thank god, this issue was driving me crazy.
The 'disable safe write' thing should be in bold in wepback docs...

[2016-12-02 17:48] spudly commented on #900
My 2¢:

I would love to have the ability to add custom presets. At the moment, my only option is to fork the repo. I also understand why you would want to wait to implement something like this.

When you are ready to support something like this, I'd like it to just let me configure babel the way I do in all my other projects (using the babel key in package.json, or a .babelrc file).

Would you (ev

[2016-12-02 17:58] LeeTwelve opened #1138 "SyntaxError: super() outside of class constructor"
Hi, I getting error from manual on Facebook docs.

[code]
npm -v = 4.0.3
node -v = 7.1.0

What's wrong with this syntax?

[2016-12-02 18:03] existentialism commented on #1138
Does line 7 have a typo? `construtor` => `constructor`

[2016-12-02 19:16] SpaceK33z commented on #659
Oh I made sure of that ;). It's [mentioned in the watch docs](https://webpack.js.org/configuration/watch) and in the "[how to develop](https://webpack.js.org/guides/development)" guide.

[2016-12-02 19:28] gaearon commented on #659
Anybody wants to make a PR to Troubleshooting in CRA User Guide?

[2016-12-02 21:06] raycohen opened #1139 "using a local fork of react-scripts?"
When I create a new app (eg `create-react-app my-app`, it has a devDependency on `react-scripts`.  This results in a local copy of react-scripts at `my-app/node_modules/react-scripts` and package.json specifying `react-scripts build` to be run when I run `npm run build` (or start, or test).

When I run `react-scripts build`, it doesn't appear to use the copy in `my-app/node_modules/react-scripts`.

[2016-12-02 22:15] raycohen commented on #1139
I see that I can get the behavior I expected by using `./node_modules/react-scripts/bin/react-scripts.js build`.  Is it intentional that this is not what `npm run build` ends up using?

[2016-12-03 00:35] tabrezm commented on #1139
Take a look at issue #682. It contains some workarounds and a proposed fix so that you can link to a forked copy of react-scripts.

[2016-12-03 01:11] jlubeck commented on #293
mmmm creating a fresh project and copying over the src files seems to have fixed the issue... I wonder why!

[2016-12-03 01:13] jlubeck commented on #293
I do see fsevents now as well... on the package.json, the only difference I see between old and new is react went from 15.4.0 to 15.4.1, in case it helps

[2016-12-03 01:56] godmar commented on #913
A big contributor is UglifyJSPlugin. Disabling it reduces the build time for an empty project from 11.9s to 6.7s on my machine (that's 44%).

Removing eslint from preloaders, by contrast, reduces the build time from 11.9s to 10.5s (that's 11%).

[2016-12-03 02:28] #1115 closed

[2016-12-03 02:54] godmar commented on #913
I tried your idea by setting 'cache: true' in the eslint config.
This shaved about .5s of subsequent runs (provided no files were changed.)
Only src/index.js and src/App.js made it into the cache (for an empty project).

For non-empty project (2,249 lines of JavaScript in 45 files)
Build time: 66s
Build time without UglifyJS plugin: 27s
Build time without eslint: 62s
Build time on 2nd and subseque

[2016-12-03 03:10] godmar commented on #1133
If @gaearon 's suspicion is correct, then your build would have been killed by the OOM killer. You can verify this by looking into the kernel log via dmesg, as described in this [SO post](http://stackoverflow.com/questions/624857/finding-which-process-was-killed-by-linux-oom-killer).
If you see a message 'killed process' with 'node' in it, you know that's the reason.

This occurs when the OS optim

[2016-12-03 03:15] godmar commented on #1082
I've seen silent failures in npm run build due to out-of-memory conditions on machines with no swap space.
Next time this happens, check your system logs (see my comment in #1133)

[2016-12-03 04:05] shrynx commented on #1124
@kitze Thanks for the advice. I currently have modified code to a decent extent, but i saw your repo. Will try to approach similar way.

@gaearon @kitze
PS: If you have some free time, please check [react-super-scripts](http://react-super-scripts.surge.sh/)
https://www.npmjs.com/package/react-super-scripts

[2016-12-03 05:26] raycohen commented on #1139
thanks @tabrezm !

[2016-12-03 05:26] #1139 closed

[2016-12-03 06:24] kitze commented on #1124
@shrynx  cool 👍

Btw [this already exists](http://jmp.sh/hehh4wk) in the original CRA, you can achieve it by adding PORT=3000 into .env

[2016-12-03 07:30] shrynx commented on #1124
@kitze Oh yeah, totally makes sense. I even documented regarding environment variable. must have slipped off from my mind. Thanks for the heads up.

[2016-12-03 11:53] remon-georgy commented on #814
Excited to hear @ericvicenti's opinion on this matter :).

[2016-12-03 13:06] fson commented on #1009
Will be fixed by https://github.com/babel/babel-loader/pull/338

[2016-12-03 13:17] fson commented on #873
I think the `BROWSER` environment variable [suggested by @andreypopp above](https://github.com/facebookincubator/create-react-app/issues/873#issuecomment-254458188) would still be the best solution for this because in addition to disabling this behavior, it also allows opening in a different browser than the system default. Does anyone want to submit a PR?

[2016-12-03 13:37] jperl commented on #393
I ran into this using a `create-react-app` within a [`lerna`](https://github.com/lerna/lerna) project -- since it symlinks the packages.

It seems I will have to eject to add `'react': path.resolve('./node_modules/react')`.

[2016-12-03 16:25] fson opened #1142 "Yarn warns about unmet peer dependencies"
### Description

When running `create-react-app` 0.7.0 with Yarn installed, Yarn prints a warning about unmet peer dependencies. However, despite the warning the app is created successfully, it works and subsequent `yarn install` commands don't show this warning.

### Expected behavior

No warnings about peer dependencies should be printed when running `create-react-app`.

### Actual behavior

Fol

[2016-12-03 16:30] #1138 closed

[2016-12-03 16:32] fson commented on #1137
@cchamberlain Could you elaborate on why setting the `CI` environment variable is not an option for you? Would [cross-env](https://github.com/kentcdodds/cross-env) help here?

[2016-12-03 16:33] #1135 closed

[2016-12-03 16:37] ntokarsk commented on #576
You just have to use: `sudo npm i create-react-app -g`

[2016-12-03 17:02] gaearon commented on #1142
Also this on the second stage:

[code]

[2016-12-03 17:20] fson commented on #1142
Looks like a bug in Yarn – it doesn't consider the packages installed at the same time when looking for peer dependencies. I tried this (without using create-react-app):
[code]

[2016-12-03 17:34] fson commented on #1142
I created an issue in Yarn: https://github.com/yarnpkg/yarn/issues/2132

[2016-12-03 18:42] jlubeck commented on #642
i'm glad to see that you DIDN'T remove the README.md. When starting out I tried out a gazilion boilerplate options. This is the one I liked the most, and without the README file, it would have been hard to remember that it was actually a CRA installation. Good job!

[2016-12-03 18:57] vidarc commented on #1133
Yep, that was the issue. 512 of RAM couldn't handle it. I added a swap file and it all works well now.

[2016-12-03 18:57] #1133 closed

[2016-12-03 20:57] jlubeck opened #1144 "How can I change a variable on npm run build?"
I'm running different backends on my local machine and on production, so I´m thinking that if I can have a variable `API_URL` that can get changed to the production backend when I run `npm run build`, I would be golden.

I THINK that this is what ENVIRONMENT VARIABLES are meant to solve? But I´m not sure I understood how to use them if that is the case.

Thanks!

[2016-12-03 21:11] adregan opened #1145 "Upgrading to 0.8.0 will break imports from outside of the test's directory"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?

Yes. npm 4.0.3

### Description

After upgrading to react-scripts `0.8.0` tests that import files or utilities from outside the current testing directory return `'test-file-stub'` as the default (and undefined, of course, for any destructured

[2016-12-03 21:49] adregan commented on #1145
I should note that if you remove this line:

https://github.com/facebookincubator/create-react-app/blob/6e0081363265c055075777af77363a38a0111417/packages/react-scripts/utils/createJestConfig.js#L23

the test will pass.

[2016-12-03 23:41] ericelliott commented on #1082
This is very likely the same issue. I'm trying to run the build on an SSD cloud server, possibly with little or no swap space configured. I'll look into this. Thank you @godmar.

[2016-12-04 00:07] gaearon commented on #1082
We'll need to figure out which part of the build so so memory hungry.

[2016-12-04 00:39] gaearon commented on #1144
Yes. You can find the walkthrough for this use case in the User Guide linked from README. Does it help?

[2016-12-04 00:42] gaearon commented on #1144
[code]

Let me know if you have any issues!

[2016-12-04 00:42] #1144 closed

[2016-12-04 00:55] jferrettiboke opened #1146 "The `start` script cannot run in parallel"
I would like to run the `start` script in parallel with another script that is watching files changes in a directory.

I tried with `concurrently` and other similar libraries, but without success because the `start` script blocks everything, and the another script that I want to execute disappears as if by magic. There is no errors. Just works `start` script.

Any solution?

[2016-12-04 03:44] kentcdodds opened #1147 "FileStub.js used for lodash modules :-("
### Can you reproduce the problem with latest npm?

Yes

### Description

Due to [this config](https://github.com/facebookincubator/create-react-app/blob/6e0081363265c055075777af77363a38a0111417/packages/react-scripts/utils/createJestConfig.js#L23) for Jest, `lodash.<method-name>` modules are stubbed out as `test-file-stub`. These are quite commonly used in common modules. For example, `cheerio` (

[2016-12-04 03:46] kentcdodds commented on #1147
This appears to be related to #1145

[2016-12-04 03:46] kentcdodds commented on #1145
This appears to be related to #1147

[2016-12-04 03:56] tamouse commented on #1147
I think I just ran into this: first time user, trying out `enzyme`, and this error crops up:

[code]

after changing the stock `App.test.js` file to:

[code]

as described [here](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#testing-components)

[2016-12-04 04:02] GAumala commented on #873
I have prepared a PR with the suggested approach,  the `BROWSER` environment variable. You can specify which  browser to use, or just type any sort of nonsense like 'none' to disable the browser.  And of course, if you don't use the environment variable it just opens your default browser as usual.

[2016-12-04 04:06] kentcdodds commented on #1147
@tamouse, until this is fixed, you can downgrade to `0.7.0` and still enjoy the beautiful simplicity of `create-react-app` :)

[2016-12-04 04:36] jlubeck commented on #1144
That was it! Thanks @gaearon

[2016-12-04 04:46] appden commented on #553
FYI: I just submitted PR babel/babel#4940 that fixes babel/babel#4419 and babel/babel#4804 (which should be added to the list above, and babel/babel#4458 should be updated as closed).

There's an existing PR (babel/babel#4787) to address babel/babel#4397, but it looks stalled on implementation details.

[2016-12-04 05:16] Timer commented on #553
Neat, @appden! I've added https://github.com/babel/babel/issues/4804 to the list.

I don't want to check off https://github.com/babel/babel/issues/4458 (yet) because it seemed to be "magically" fixed without a trace of where the regression was introduced or resolved. We can save that one for last and determine if we want to let it slide.
I would love to see a test case added which prevents future

[2016-12-04 06:49] cpunion commented on #1063
@Sharlaan Typo in your code:

[code]

[2016-12-04 06:54] cpunion commented on #1063
But react-router can't be updated:

<img width="594" alt="2016-12-04 2 53 22" src="https://cloud.githubusercontent.com/assets/8459/20864579/950b74ee-ba31-11e6-9742-37c681787b59.png">

[2016-12-04 08:13] fson commented on #1145
The problem seems to be that the `moduleNameMapper` regex in Jest is matched before mapping the module name to a file path. So even though the regex added in #1077 correctly mirrors the webpack loader setup we have, Jest only sees `../utils/range` and matches that, instead of `/absolute/path/src/utils/range.js`, which would not be matched because it has the `.js` extension.

Now it would be great

[2016-12-04 08:14] fson commented on #1146
cc @sheerun who uses `concurrently`

[2016-12-04 09:15] fson commented on #1147
I've just published `react-scripts` [0.8.1](https://github.com/facebookincubator/create-react-app/releases/tag/v0.8.1) with a hot fix for this issue.

[2016-12-04 09:15] #1147 closed

[2016-12-04 09:19] fson commented on #1145
I've just published `react-scripts` [0.8.1](https://github.com/facebookincubator/create-react-app/releases/tag/v0.8.1) with a hot fix for this issue.

I'll reopen #667 to discuss how to get the same behavior as our webpack loaders have (any unknown file extensions treated as a file resource) back to the Jest configuration.

[2016-12-04 09:19] #1145 closed

[2016-12-04 09:44] fson commented on #667
Turns out our regex in the Jest `moduleNameMapper` config didn't work as we had thought, which caused issues when JS files with `.` in the module name were treated as file resources and stubbed (#1145, #1147).

As a stopgap measure, I reverted the Jest config back to the previous regex which whitelists non-JS/CSS extensions separately, but we still need to find a way to get the same behaviour as o

[2016-12-04 10:30] scholtzm opened #1150 "Webpack warnings trigger build errors when running on CI"
(Initial discussion starts [here](https://github.com/facebookincubator/create-react-app/pull/944#issuecomment-264694107).)

Pull request https://github.com/facebookincubator/create-react-app/pull/944 adds a new behaviour related to CIs - crash the build during CI whenever linter warnings are encountered.

This PR however introduced new side effect - webpack warnings will also crash the build, e.g.

[2016-12-04 12:08] scholtzm commented on #1150
My initial idea was to check warnings to see if there are any related to `eslint-loader`.

Warnings emitted by `eslint-loader` contain full loader path, e.g. `/long/path/to/node_modules/eslint-loader/index.js`.

I couldn't find anything else that would mention `eslint` or `eslint-loader` that could be also reliably used to determine that a specific warning comes from ESLint.

[2016-12-04 12:52] karlhorky commented on #906
Can this be closed now that #944 is merged?

[2016-12-04 13:54] mxstbr commented on #906
Yes! Thanks @karlhorky

[2016-12-04 13:54] #906 closed

[2016-12-04 14:46] sheerun commented on #1146
I have no issues with concurrently + start

[2016-12-04 15:51] adregan commented on #1145
Thanks for getting the hot fix out so quickly. 👍

[2016-12-04 15:52] kentcdodds commented on #1145
Yes, thank you very much! Really appreciated!

[2016-12-04 19:58] karlhorky commented on #906
Np, thanks for all the work on this!

[2016-12-04 22:02] bogdansoare opened #1153 "0.8.0 breaks svg sprite"
The change in **0.8.0** to use `url-loader` with limit 10k as a default loader breaks my svg sprite system.

The svg sprite system works like this: I put all my svgs in one folder, run [svg-sprite](https://github.com/jkphl/svg-sprite) to generate svg sprite (which is below 10k), then I have a custom `Icon` component in which I import the svg sprite and load the apropriate icon using [fragment iden

[2016-12-04 23:09] gaearon commented on #1153
Do fragments break with base64 URLs?

[2016-12-04 23:10] gaearon commented on #1153
Or do you rather mean that it's unfortunate sprites get duplicated?

If this is the case I think we should disable inlining for SVG. After all the user could've put it directly into components if they wanted to inline it.

[2016-12-04 23:32] bogdansoare commented on #1153
Fragments break with base64.
Also like you said it's unfortunate that we can't leverage caching and that we inline the whole sprite everywhere an icon is used.

Disabling inlining for SVG would solve the issue.
I'm going to research a bit svg sprite systems and see if there are other reasonable possibilities besides fragment identifiers.

[2016-12-05 00:04] gaearon commented on #1153
Would you like to make a PR for a special case for SVG?

[2016-12-05 01:13] shrynx opened #1154 "Support for image compression"
In response to the following tweet
https://twitter.com/dan_abramov/status/805036037940592641
I would love to make a pull request for adding image compression. But i do have a concern and would like to have a discussion, before proceeding with the pull request.

The webpack loader for image compression i used is https://github.com/tcoopman/image-webpack-loader
I used the following config
[code]
i d

[2016-12-05 01:30] shrynx commented on #873
@GAumala
I have implemented the same feature in my fork [react-super-scripts](https://react-super-scripts.surge.sh/). In my experience it would be better if you handle the os specific browser names.
Google Chrome is  "google chrome" on mac, "google-chrome" on linux and "chrome" on windows. Internet explorer is "iexplorer.exe" (simply "iexplorer" doesn't work, honestly who could have guessed that 😒

[2016-12-05 01:38] GAumala commented on #873
@shrynx I'm afraid it is not that simple. In my Arch Linux laptop google chrome is `google-chrome-stable`.

[2016-12-05 01:47] shrynx commented on #873
@GAumala Ahh , really ? that's kind of the thing i am pointing at. OS specific names are different, so it would be much easier for the user if they had to just specify chrome, ie or firefox and rest be handled by CRA.
I'll try if it works with arch and try to fix it.
Also if CRA could cover most common use cases (windows, mac and ubuntu) it should be good enough, with documentation for special cas

[2016-12-05 01:49] jakebasile commented on #873
Using an environment variable to override a default executable is common, and I'd be more confused if it tried to do something fancy.

An apt example is EDITOR.

[2016-12-05 02:47] cpunion commented on #1063
@Sharlaan I tried `react-hot-loader@3.0.0-beta.6`, hot reloading works, but seems like Re-Render, every components are remounted.

@gaearon I can't correctly configure a PERFECTLY `Hot Module Reload` project that it can hot reload and keep component's state. When I update a component, all components reload and remount. Is there an example that it doesn't reset the state?

[2016-12-05 07:51] bogdansoare commented on #1153
Sure, I'll be glad to make a PR

[2016-12-05 10:00] mocheng opened #1155 "`yarn start` fails with error message"
### Description

`yarn start`fails with below message

$ "react-scripts start"
sh: react-scripts start: command not found
error Command failed with exit code 127.
info Visit http://yarnpkg.com/en/docs/cli/start for documentation about this command.

### Expected behavior

According to the prompt after creating a project, `yarn star` should work.

  cd xyz
  yarn start
Happy hacking!

### Actual be

[2016-12-05 10:35] ehd commented on #293
It seems that I have fixed the problem locally:

I removed my `node_modules` and `yarn.lock`, updated to `react-scripts@0.8.1` and now there is no CPU usage after the initial compilation.

I’m on node 0.7.2 with `fsevents@1.0.14`.

[2016-12-05 10:51] gaearon commented on #293
Have you readded `yarn.lock` back now?

[2016-12-05 11:48] just-boris opened #1156 "Tests are failing after upgrade to 0.8.1"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Can you reproduce the problem with latest npm?
I have Yarn installed, so CRA used latest yarn@0.18.0 to setup.

### Description

My test command fails with the following error

[code]

It worked fine with version 0.7.0, today I tried to upgrade to latest 0.8.1 and got the error above.
I hav

[2016-12-05 11:53] gaearon opened #1157 "Chrome "open tab" script should reuse an empty tab"
Currently if there are no open Chrome windows, we create a new window and then append a second tab to it. We should reuse the initial empty tab instead. In general, I think it's fine that we reuse *any* empty tab.

<img width="591" alt="screen shot 2016-12-05 at 11 52 21" src="https://cloud.githubusercontent.com/assets/810438/20884134/7328ad14-bae1-11e6-9436-224afdff8d1d.png">

[2016-12-05 11:54] gaearon commented on #1155
I can't reproduce with Yarn 0.17.6.
Can you please run `yarn self-update` and try again?

[2016-12-05 11:59] gaearon commented on #1150
Agree. I’m not sure about this specific fix but please send a PR to get the ball rolling.
Then we can consider alternatives.

[2016-12-05 12:00] gaearon commented on #1130
There is no good support for `npm link` workflow at the moment.
There are a few issues about this and we’ll need to consider a holistic solution at some point.

[2016-12-05 12:03] gaearon commented on #1118
Maybe I can't reproduce because I'm using n instead of nvm.
Will need to try with nvm.

[2016-12-05 12:14] gaearon commented on #1116
Apparently it's "by design" in Node?
https://github.com/vladimir-shcherbakov/node/commit/8e0f24468696b5242ad31471eaf00a676daee97e#comments

I don't really understand this. Should we just hardcode it to use `127.0.0.1` instead of `localhost` on Windows, like https://github.com/seanpoulter/growly/commit/9fc8a610032ca705162a70647e6a52c9a302c6cb?

[2016-12-05 12:15] gaearon commented on #1106
Closing as there is nothing actionable here. I hope this helped!

[2016-12-05 12:15] #1106 closed

[2016-12-05 12:16] ehd commented on #293
@gaearon Yes, I have re-added the `yarn.lock` created by a fresh install of my dependencies.

[2016-12-05 12:18] gaearon commented on #293
Closing then.
If you're having issues, try:

1. Removing `node_modules`
2. Updating `react-scripts` to the latest version in `package.json` (make sure you follow the migration instructions in changelog for every release you're skipping)
3. Updating npm (`npm i -g npm@latest`) or Yarn (`yarn self-update`)
4. Running `npm install` (or `yarn`)

[2016-12-05 12:18] #293 closed

[2016-12-05 12:28] gaearon commented on #667
What @cpojer told me:

You can run any transformer on any regex

[2016-12-05 13:07] gaearon opened #1158 "Promote react/jsx-no-undef to be an error"
It's currently not but it should be since it's guaranteed to lead to an error in runtime.

[2016-12-05 13:17] dchambers commented on #1155
Hey @gaearon, I just ran into the same problem. For me, `yarn self-update` didn' work ([as explained here](http://stackoverflow.com/questions/40030197/yarn-self-update-throws-oauth2-authentication-error)), but I was able to get past that by using `npm -g install yarn` instead, and it worked as expected after that.

[2016-12-05 15:43] cpojer commented on #667
Thanks Dan for sharing my messages to you. Yes, the transform field is meant to be used for this. If you guys are building `css-jest` and `scss-jest` and all, I'm happy to support this officially in Jest – this was my long term plan so we can also have style information in JS, just like we do in react-native:

[code]

etc.

[2016-12-05 17:07] EnoahNetzach opened #1160 "Tests fail with `async`"
Not completely sure this is an issue of this repo, could be a `jest`'s one. I'm reporting it here because it could be a configuration problem.

### Description

Running `npm test` fails when using `async`/`await`.

### Expected behavior

The test runs

### Actual behavior

I receive an error:

[code]

### Environment

Run these commands in the project folder and fill in their results:

- `npm ls r

[2016-12-05 17:17] EnoahNetzach opened #1161 "Relax eslint-related packages versions"
We are using a secondary custom eslint during CI (extending airbnb rules).
Prior to *v0.8.0* the version ranges were miraculously matching, now they are no more.

Is it possible for `react-scripts` to relax its eslint-related `peerDependencies`, passing from **exact** to either **^** or to a specific range?

I'd gladly check the possible range and propose a PR.

[2016-12-05 17:18] EnoahNetzach commented on #1156
probably related: #1160

[2016-12-05 17:53] scholtzm commented on #1150
I dug a bit further and couldn't find anything that would provide information about which loader emitted the warning in a reliable manner.

For example, `loaders` property looks like this:

[code]

There's also `issuer` and `request` which are just long `!` webpack strings formed from the info above.

[2016-12-05 18:36] gaearon commented on #1161
I think this is a duplicate of #1110.
I’m happy to take a PR relaxing them to `~` versions. Would that work for you?

[2016-12-05 18:37] gaearon commented on #1161
Actually I think I’m fine with `^` in the preset since we still enforce specific versions in `react-scripts` itself.

[2016-12-05 18:38] gaearon commented on #1161
Closing in favor of #1110.

[2016-12-05 18:38] #1161 closed

[2016-12-05 18:40] gaearon commented on #1063
@cpunion Please direct this feedback to [React Hot Loader](https://github.com/gaearon/react-hot-loader) repository. Yes, there is an example, and it's linked for React Hot Loader README's first paragraph. https://github.com/gaearon/react-hot-loader/pull/240

[2016-12-05 18:41] gaearon commented on #1063
I’m locking this particular thread because it’s not related to Create React App at the moment, and comments will just get lost unaddressed here. Please file issues with the projects you are using for hot reloading.

[2016-12-05 18:58] EnoahNetzach commented on #1161
@gaearon #1110 is about `eslint-config-react-app`, here I mean the specific versions in `react-scripts`.

[2016-12-05 19:17] gaearon commented on #1161
But `react-scripts` doesn't have peer deps. Peer deps are only in ESLint preset. Deps in `react-scripts` are the ones satisfying those.

[2016-12-05 19:21] gaearon commented on #1097
Thanks for filing the issue! In this case I don’t quite see why you think Create React App is at fault. If you have a problem with a JavaScript app and aren’t sure why it isn’t working as you expect, the best course of action is to create a small self-contained example, put it on site like [CodePen](http://codepen.io), and ask a focused question on [StackOverflow](http://stackoverflow.com/).

If y

[2016-12-05 19:21] #1097 closed

[2016-12-05 19:26] gaearon commented on #1095
I think https://github.com/facebookincubator/create-react-app/issues/873 (and https://github.com/facebookincubator/create-react-app/pull/1148) should cover this. It's not exactly the same solution but I think we can close this as a duplicate of https://github.com/facebookincubator/create-react-app/issues/873.

[2016-12-05 19:26] #1095 closed

[2016-12-05 19:27] DanielLuu opened #1163 "How to access prod build as a static application?"
Only familiar with deploying on the web with a docker container or some type of server.  But is it possible to build the application and open it from the index.html generated?  Thanks.

[2016-12-05 19:29] license2e commented on #1095
👍 Thank you!

[2016-12-05 19:31] EnoahNetzach commented on #1161
mumble mumble mumble... I think I need a vacation :stuck_out_tongue:

[2016-12-05 19:34] BenoitAverty opened #1164 "Watcher doesn't see a new file called "index.js" inside a subfolder"
### Description

I have an app with this folder structure :
[code]

Inside the index.js file, I have this line :
```import App from './App```

Which causes this error :
[code]

When I add a `/` at the end of the path, then it works.
```import App from './App```

Is there a reason why the folder import doesn't work without a trailing slash, or is this a bug ?

### Expected behavior

I should be abl

[2016-12-05 19:43] EnoahNetzach commented on #1110
@fson another way possible is to give an explicit range, so that the minimum is needed for CRA to work, and the maximum is granted to work well without having bugs.

This, on one other hand, is quite a lot of work on the maintainers' side, but on the other hand grants more stability to those who have to enforce a stricter lint.

[2016-12-05 19:49] gaearon commented on #1164
Can you consistently reproduce this, after stopping and starting the development server again?

[2016-12-05 19:50] BenoitAverty commented on #1164
Oh wow, that was the problem. Sorry about that, I didn't think of that.

[2016-12-05 19:51] gaearon commented on #1163
The `index.html` contains absolute paths like `/static/js/...` so you can't just open it in the browser. You need to use any static file server . When you run `npm run build`, it prints **exact instructions** for running a simple HTTP server locally, so I hope those are helpful!

The reason it works that way is because this is necessary for single-page apps. You don't want to load `/todos/42/stati

[2016-12-05 19:51] #1163 closed

[2016-12-05 19:53] gaearon commented on #1164
No worries. This is kinda weird—my guess is that it remembers that it couldn't find the file with that exact name, and later gives up searching for it again. Not very good so if you find an easy way to reproduce this step by step (e.g. create a file with some name, then add an import with some form) and it always happens, maybe we should file a bug in one of the upstream projects. Please let me kn

[2016-12-05 19:59] #1158 closed

[2016-12-05 20:06] DanielLuu commented on #1163
Ok my specific case is that I want to serve this through an iOS webview.  Is that possible?

[2016-12-05 20:30] gaearon commented on #11
@coding102 If you have a reliable way of reproducing this please file a new issue.

Locking this one as there’s many subscribed people and we don’t want to bump them all with issue reports. 😄

Thanks to everyone again!

[2016-12-05 20:37] gaearon commented on #1092
Thanks for the suggestion! I understand the reasoning, but this is a very error-prone transformation, and [severe](https://github.com/purifycss/purifycss/issues/120) [issues](https://github.com/purifycss/purifycss/issues/126) [with no replies](https://github.com/purifycss/purifycss/issues/131) don’t instill enough confidence in me to enable this on by default for everyone. I really appreciate the

[2016-12-05 20:37] #1092 closed

[2016-12-05 20:43] gaearon commented on #1163
As a temporary hack you can replace `/static` with `./static` in all files as a post-build step.
We'll have some way of supporting this in the future but not right now.
You can track https://github.com/facebookincubator/create-react-app/issues/1094 for this.

[2016-12-05 20:44] gaearon commented on #1094
Another possible workaround for now is to write a post-build step that replaces `/static/` with `./static/` in all files in `build` folder.

[2016-12-05 20:50] EnoahNetzach commented on #1160
The problem seems to be caused by some interaction between the return value of an `awaited` function and destructuring it.

E.g.:
[code]
works, while
[code]
or
[code]
don't work.

[2016-12-05 20:52] gaearon opened #1166 "Our CI is failing"
Likely cause: https://github.com/yarnpkg/yarn/issues/2142.
We could hardcode Yarn 0.17 in the e2e test for now.

[2016-12-05 21:03] EnoahNetzach commented on #1160
In facts, tapping into `node_modules/babel-generator/lib/buffer.js` and casting the argument `str` to a `String`, I get an error that looks like:

[code]

[2016-12-05 21:07] gaearon commented on #1160
Did it work before?

[2016-12-05 21:23] gaearon commented on #1166
#1167 fixes Yarn on Node 4 but Node 6 still fails although with a different error. FML.
https://travis-ci.org/facebookincubator/create-react-app/jobs/181468276

[2016-12-05 21:25] EnoahNetzach commented on #1160
Yes, we're migrating a project from *v0.6.1* to the latest

[2016-12-05 21:25] DanielLuu commented on #1163
Thanks!

[2016-12-05 21:27] EnoahNetzach commented on #1160
I'm getting a lot of "strange" errors.

Another one, for example, is that while using `immutable`, this won't work anymore:
[code]
while it worked before (and works [now](https://runkit.com/enoahnetzach/5845da9b3578dc0014fff491), same version).

[2016-12-05 21:29] gaearon commented on #913
Do you perform production builds often? What is your use case for this?

[2016-12-05 21:34] gaearon commented on #1130
Closing in favor of https://github.com/facebookincubator/create-react-app/issues/1107, let's consolidate `npm link` discussion and use cases there.

[2016-12-05 21:34] #1130 closed

[2016-12-05 21:35] gaearon commented on #393
Please describe your use cases in https://github.com/facebookincubator/create-react-app/issues/1107. Let's consolidate `npm link` discussion and use cases there. That issue is more generic and not just about `react` which makes sense to me because `npm link` issues aren't unique to the `react` package per se.

[2016-12-05 21:55] rricard opened #1169 "ESLint checks (and the upcoming Flow integration) is missing in tests"
Followup to this comment thread: https://github.com/facebookincubator/create-react-app/pull/1152#discussion_r90960900

### Description

When running the `start` or `test` lint issues or flow issues (with #1152) are not reported if they are not within a test file (not required by webpack, only seen by jest).

### Expected behavior

I see three acceptable UX here:

1. The `start` script should explo

[2016-12-05 21:58] #1166 closed

[2016-12-05 22:06] EnoahNetzach commented on #1160
I was able to fix all the errors by reintroducing `babel-preset-react` in the `test` env, so it might be some misconfiguration of `babel-preset-env`?

[2016-12-05 22:08] EnoahNetzach commented on #1160
Also removing `{ targets: { node: 'current' } }`, without reintroducing `babel-preset-latest` seems to make the deed.

[2016-12-05 22:08] jferrettiboke commented on #1146
I am trying to run two scripts with `concurrently` using `nodemon` as one of the parallel scripts.

As I told, there is no errors, just works `npm run start` with `concurrently`. The `custom:build` script is ignored if I use `npm run start` with it through `concurrently`.

Here, you have more details.

[code]
I am using `v0.7.0` of `react-scripts`.

[2016-12-05 22:26] gaearon commented on #1069
The showstopper here is plugin failing when `_.chain` is used.

But it seems unavoidable because if plugin didn't fail, it would risk users including *both* a full build and a modular build which is even worse from size point of view.

So we likely won't proceed with it.

[2016-12-05 22:28] gaearon commented on #1160
Can you try:

* Keeping `-env` usage like in master
* But also reverting https://github.com/facebookincubator/create-react-app/pull/927

?

[2016-12-05 22:30] gaearon commented on #1146
Could you try bumping to 0.8.1 just in case?

[2016-12-05 22:33] jdalton commented on #1069
I may be able to simply punt on cherry-picking in babel-plugin-lodash if chaining is detected instead of throwing an error. Pull requests welcomed.

[2016-12-05 22:40] gaearon commented on #900
What is the reason you don't want to use Webpack directly in this case?

[2016-12-05 22:41] gaearon commented on #1069
The problem is you couldn't do that reliably cross-file, could you? That is, if file A uses `_.chain` but file B uses a regular form, Babel plugin would bring both versions into the bundle.

[2016-12-05 22:43] gaearon commented on #1115
0.8.1 is out FWIW

[2016-12-05 22:45] EnoahNetzach commented on #1160
If you mean like this:
[code]

no, unfortunately it doesn't work (I always double-check it by reintroducing `babel-preset-latest` at the end)

[2016-12-05 22:47] gaearon commented on #1160
@hzoo Any ideas?

[2016-12-05 22:48] jdalton commented on #1069
I could set a flag so once chain is hit, it punts for all other files after. So while not perfect it reduces the impact for the edge case and improves things for everyone else.

[2016-12-05 22:49] spudly commented on #900
Because I don't want to override the webpack config completely, just the Babel config.

That's why I suggest that we could just allow Babel to use the Babel if it exists. If it doesn't exist, it'll continue to use the default preset.

[2016-12-05 22:51] julien-f commented on #1069
@jdalton Is it really something that should be done? I thought using chaining was discouraged?

[2016-12-05 22:56] jdalton commented on #1069
If you dig a more FP approach or cherry-picking then you'll likely avoid chaining. But really what choice do I have when folks like Dan refuse to use it otherwise. From my stand point, more folks with smaller bundles is a good thing. So if it helps to avoid throwing it's a win.

[2016-12-05 23:05] EnoahNetzach commented on #1160
The result I get from `babel-preset-env` is that I need:
[code]

I'll try to reintroduce them one by one..

[2016-12-05 23:15] gaearon commented on #1069
To be clear I’m not a fan of chaining myself but I can’t break existing project code and all the snippets people copy-paste from StackOverflow.

[2016-12-05 23:15] gaearon commented on #1069
Are there plans to drop chain altogether in some future major?

[2016-12-05 23:16] gaearon commented on #1160
Thanks for your help debugging this.

[2016-12-05 23:17] philiptzou commented on #900
Using .babelrc is more friendly than my solution here. And we can still have the default settings for everyone who doesn't want or need customizations.

[2016-12-05 23:23] gaearon commented on #1085
This is probably fixable using `moduleNameMapper` as described [here](http://facebook.github.io/jest/docs/tutorial-webpack.html).
Something like

[code]

If this works, would you like to send a PR?

[2016-12-05 23:24] godmar commented on #913
Production builds I generally don't do often, although I did find myself having to do it frequently when I debugged issues related to the PUBLIC_URL setting (in development empty string "" but a path in "production").  I also had to frequently rebuild to debug websocket related issues (since there development and production use different settings; although I understand that 0.8.0 can proxy websock

[2016-12-05 23:26] gaearon commented on #814
Also cc @lacker

[2016-12-05 23:27] gaearon commented on #913
Tagging this so I remember to get back to it.

[2016-12-05 23:34] lacker commented on #814
Ah thanks for ccing me on this issue. Making it reasonable to build a joint React Native + React-web app is definitely something we want to have a recommended way for. I think the root question where we came down differently than this proposal here is whether it's reasonable to expect the same `package.json` to apply to both web app and native app. My conclusion is "no" because quite a number of p

[2016-12-05 23:35] EnoahNetzach commented on #1160
No worries ^_^

Apparently what I need are:

- **transform-es2015-arrow-functions**
[code]

- **transform-es2015-destructuring**
[code]

- **transform-es2015-parameters**
[code]
so yeah, the two you were saying before, plus `() => {}`.

Although we use es6+ a lot, and we have approx 230 unit tests, I have to say that these could be only our needs, and others might need more plugins..

[2016-12-05 23:40] godmar commented on #913
PS: also remember pure development use cases where hot reloading doesn't work, for one reason or another (frequently having to run 'npm start' for development is slow too.)

[2016-12-05 23:40] gaearon commented on #814
There is also a difference between classic code sharing approach and actual attempt to reuse RN primitives on the web (what RNW does).

[2016-12-05 23:42] gaearon commented on #913
Not sure what you mean by hot reloading in this case and when it doesn't work. Whenever you save a file development server should rebuild. If not it's a bug and you should file it along with any details. The "reloading" part of this triggers a reload via web sockets but it's non-essential. You can still refresh and get a fresh development build. If not it's a bug and you should file it with any de

[2016-12-05 23:43] gaearon commented on #1160
So these are likely Babel bugs about hidden plugin dependencies? Can you reduce each to an isolated Babel bug report?

[2016-12-05 23:49] godmar commented on #913
I mean that not everyone is able or willing to let their development server running all the time.

For instance, I work in an environment where the development server runs on a cloud instance (using stdout), but I work on a laptop. Whenever I change rooms, lose my network connection, I log on again and restart the development server. Every time I incur the penalty of having to wait for the entire

[2016-12-05 23:50] godmar commented on #913
If you expect that npm start is long running, make it a system service.

[2016-12-05 23:50] EnoahNetzach commented on #1160
Either that, or some bug in `babel-plugin-env`, I'm going to investigate further tomorrow.

In either case should I make a PR reverting to using `babel-plugin-latest` for the moment?

[2016-12-06 00:10] gaearon commented on #913
Can you use something like tmux to keep session alive? I think that's how people usually approach this with any other servers.

[2016-12-06 00:11] gaearon commented on #1160
I won't be able to cut a release today anyway so might as well wait for more details (or investigate myself tomorrow if I get there first). Once we know more we'll decide and cut a release.

[2016-12-06 00:18] EnoahNetzach commented on #1160
Seems reasonable

[2016-12-06 00:20] godmar commented on #913
I could, but generally don't like to have sessions hanging around on machines I'm not present on (just a personal preference).

BTW, another use case are impromptu demonstrations and teaching.

[2016-12-06 00:22] jdalton commented on #1069
Yep! In [v5](https://github.com/lodash/lodash/wiki/Roadmap) by way of removing monolithic entry point in favor of cherry-picking with `babel-plugin-lodash`.

[2016-12-06 00:38] existentialism commented on #1160
@EnoahNetzach I'll try and take a look at this later tonight as well

[2016-12-06 00:52] jsantana90 opened #1171 "404 not found static files after npm run build"
I've run the following commands:

`create-react-app myApp`

`cd myApp`

`npm run build`

`copy build folder into server`

<img width="754" alt="screen shot 2016-12-05 at 8 51 52 pm" src="https://cloud.githubusercontent.com/assets/9933887/20908654/ad93b034-bb2c-11e6-9548-6dbfba6c932f.png">

What to do?

[2016-12-06 00:56] Timer commented on #1171
This seems to be more of a configuration issue with your application than CRA itself.
On that note, you need to make sure your web server is serving static files from the proper directory (express makes this easy, though we don't assume your backend).

If you would like to develop, you should be using the `npm start` command instead.

Cheers!

[2016-12-06 00:56] #1171 closed

[2016-12-06 01:03] gaearon commented on #1171
You might also find deployment instructions helpful: https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#deployment

But yes, if you just mean to start developing you need `npm start` instead.

[2016-12-06 01:04] gaearon commented on #1171
Also when you run `npm run build` you should see exact instructions for serving those files on the terminal screen. Have you had a chance to try following them yet? Did you have any issues doing so?

[2016-12-06 01:17] jsantana90 commented on #1171
I've tried running the build via XAMPP locally, I copied the build folder into the htdocs and then started the server then went into `localhost/build` when I go to `localhost/build/static/js/main....js` it shows the file.

Do I need a node/express server to be able to run the app?

[2016-12-06 01:21] Timer commented on #1171
@jsantana90 copy the contents of the build directory into htdocs instead of the directory itself; you need to do this until https://github.com/facebookincubator/create-react-app/issues/1094 is resolved.

[2016-12-06 01:24] mocheng commented on #1155
After upgrading yarn to 0.17.10, it turns to be working.

[2016-12-06 01:24] #1155 closed

[2016-12-06 03:05] tysonnero commented on #1115
Thanks!!! 👍

[2016-12-06 03:58] laduke commented on #639
@jkarttunen thanks for that. Rather than setting PRODUCTION to false, I added `react-scripts` to dependencies (not dev) and that seems to work too.

[2016-12-06 07:06] rodryquintero opened #1172 "Allow "watch mode" on npm scripts after ejecting"
I have successfully ejected a create react app I created but now I want to do 2 things:

- Disable wepack server because I need to continue development on another server (apache)
- Allow watch mode on the compile scripts that come with React.

If this is already possible please include how to do this in the documentation.

Thanks, great work.

[2016-12-06 08:22] BenoitAverty commented on #1164
Ok so i've successfully reproduced, it's very easy in fact.

 - Create an app from scratch
```create-react-app test-failing-import```
 - Start the development server
```cd test-failing-import && yarn run start```
 - Move the `App` component and its dependencies in a subfolder
```mv App.* logo.svg App/```
 - Create the index.js file in the subfolder
[code]
 - Refresh browser. You get the error. Cha

[2016-12-06 09:27] gaearon commented on #1172
I don't quite understand what you mean by

I'm also not sure what "disabling" development server means.

Can you describe your desired workflow in detail?

[2016-12-06 09:31] gaearon commented on #913
Got it. Thanks for sharing, sorry it's not great right now. One thing at a time. :-)

[2016-12-06 09:37] gaearon commented on #14
Yea that's a good start.

[2016-12-06 09:42] gaearon commented on #104
The issue about non-root paths is here: https://github.com/facebookincubator/create-react-app/issues/1094. It is not specific to Cordova. Please track that issue if you are interested in progress on it.

Also as noted in many issues you *can* add SASS the same way people have been using it for years: by running its watcher. It is just not built-in.

Let's keep the discussion in this issue on the t

[2016-12-06 10:14] julien-f opened #1173 "styled-jsx support"
It seems that currently, even if imported from JS, the CSS classes are global, which, while easy to grasp, is not very fit for a component-oriented workflow. (It still is good for application wide styling, like color themes, etc.)

It think [styled-jsx](https://github.com/zeit/styled-jsx) is a nice answer to this problem, it seems easy to set up (Babel integration), and provide better code-localit

[2016-12-06 10:20] harunhasdal opened #1174 "Path module in webpack config is not used after eject"
Nodejs `path` module is not used in `webpack.config.dev.js` and `webpack.config.prod.js` after ejecting.

This results in ESLint warning for `no-unused-var` rule.

[2016-12-06 10:21] gaearon commented on #1173
I would like to see stability and wider adoption first.

[2016-12-06 10:22] gaearon commented on #1174
Would you like to fix it? You can wrap its import in `// @remove-on-eject-begin` and `// @remove-on-eject-end`.

[2016-12-06 10:25] julien-f commented on #1173
Sure, it's pretty new, but I've got the feeling it will take on ;)

[2016-12-06 10:25] harunhasdal commented on #1174
Sure, creating a PR now.

[2016-12-06 10:31] gaearon commented on #1173
We'll see! It's not something I would recommend to React beginners, at least not yet. I also want to add at least some sort of component hot reloading before adding "special" support for "CSS in JS" libraries since editing styles in JS is a bit frustrating when you have to reload all the time.

[2016-12-06 10:37] julien-f commented on #1173
Makes sense.

Feel free to close this issue if the time is not right yet :)

[2016-12-06 10:44] EnoahNetzach commented on #1160
It seems that `babel-plugin-transform-regenerator` tries to assert that an `ObjectPattern` is of type `Expression`.

I think that definitely we should ask help from @kittens?

[2016-12-06 10:47] gaearon commented on #1173
Yea. I'd like to hear about a couple of major projects using it in production first.

[2016-12-06 10:47] #1173 closed

[2016-12-06 11:12] XVincentX commented on #946
According to https://github.com/ampedandwired/html-webpack-plugin/issues/491 - it's already built in.

[2016-12-06 11:17] #1174 closed

[2016-12-06 11:17] gaearon commented on #946
Happy to take a PR implementing this!

[2016-12-06 11:18] XVincentX commented on #946
@gaearon Cool, it should not be that hard. Let's see if I can come up with something.

[2016-12-06 11:22] EnoahNetzach commented on #1160
btw, this seems to be [already issued](https://github.com/babel/babel/issues/4759) on babel, maybe I'll continue the conversation there.

[2016-12-06 11:32] just-boris commented on #1156
I was following the discussion in the thread #1160 and believe that my problem is also related to mentioned Babel issue: https://github.com/babel/babel/issues/4759

Also, I have found that it was introduced by updating preset:
https://github.com/facebookincubator/create-react-app/pull/1051

@gaearon could you consider rolling this PR back to work around the issue?

[2016-12-06 11:35] EnoahNetzach commented on #1156
@just-boris yep, that's exactly what we were finding out in #1160, also.

So, yep, my advise is that we either:
- rollback to using `babel-preset-latest` instead of `babel-preset-env`
- manually add the "missing" plugins

I'd prefer the first solution.

[2016-12-06 11:48] XVincentX commented on #946
@gaearon I kicked off https://github.com/facebookincubator/create-react-app/pull/1176

[2016-12-06 12:01] gaearon commented on #1156
I'm happy to push a fix but I want to have an actionable plan for re-enabling `-env` preset so that we can keep track of all issues and know when it's safe to re-enable. Kinda like we have a list in https://github.com/facebookincubator/create-react-app/issues/553#issuecomment-249359463.

I would prefer this to enabling all of them. There are speed improvements from disabling all transforms, and I

[2016-12-06 12:02] gaearon commented on #1156
Also, would that help as a temporary workaround?
https://github.com/babel/babel/issues/4759#issuecomment-255461081

[2016-12-06 12:03] gaearon commented on #1160
Is this issue underlying for all the problems listed here?

[2016-12-06 12:20] gaearon commented on #946
Fixed via #1176.

[2016-12-06 12:20] #946 closed

[2016-12-06 12:26] EnoahNetzach commented on #1160
Not entirely sure, I checked only `transform-es2015-destructuring` for now

[2016-12-06 13:13] rodryquintero commented on #1172
Sorry for not being a bit more detailed.

**Watch mode:** simply put, to be able to do the equivalent of `webpack --watch` and have the files compile everytime a change is made

**Disable Webpack Dev Server:** in my particular case is used `create-react-app` to scaffold the UI, but now I need this to work on the actual server along with my server scripts (apache + intersystems cache database). So

[2016-12-06 13:14] gaearon commented on #1172
Do I understand correctly this is the same request as #1070?

[2016-12-06 13:15] gaearon commented on #1172
Would you want watch to run in production or development mode? That is, would you want to see sources minified or not?

[2016-12-06 13:16] gaearon commented on #1070
Tagging with a milestone so I remember to get back to it.

[2016-12-06 13:18] EnoahNetzach commented on #1160
I'm closing this issue in favor to #1156

[2016-12-06 13:18] #1160 closed

[2016-12-06 13:20] rodryquintero commented on #1172
Ok, that sounds pretty much like what I need. For the record, I did search the issues for similar requests but did not see this one.

Is this in the works? If not, are there any workarounds to achieve watching  files?

[2016-12-06 13:33] EnoahNetzach commented on #1156
It doesn't seem to work in my case..

[2016-12-06 13:35] gaearon commented on #1172
Got it. Let’s track this in #1070 then. It’s not a priority right now but we’ll want to address this eventually.

[2016-12-06 13:35] #1172 closed

[2016-12-06 13:37] hzoo commented on #1156
Just saw this - so tried to repro from scratch

[code]

I added a test to `App.test.js`

[code]

and it passes for me with `yarn run test` on yarn `0.17.4` and node `6.9.0`

[2016-12-06 13:40] hzoo commented on #1156
env means that you shouldn't need regenerator at all because you are using -env? (which just uses async-to-gen)

[2016-12-06 13:40] EnoahNetzach commented on #1156
@hzoo the problem seems to arise when `babel-jest` tries to transpile code, not while running the proper tests (I'm not entirely sure, as I don't know exactly how it works).

Try [this](https://github.com/EnoahNetzach/cra-jest-babel-types).

[2016-12-06 13:41] rodryquintero commented on #1172
Thanks for helping Dan, as always.

El El mar, 6 de dic de 2016 a las 8:35 a.m., Dan Abramov <
notifications@github.com> escribió:

[2016-12-06 13:44] hzoo commented on #1156
Ok that errors - it's a different error than the OP's error.

And i'm pretty sure it's just because regenerator is being run from another plugin somehow because if you are using node 6.9.0 it wouldn't be running it via babel-preset-env which is the point

[2016-12-06 13:44] EnoahNetzach commented on #1156
@hzoo I already tried to disable `transform-regenerator`, leaving only `env` and, while I don't have `astinc` & `destructuring` problems anymore, I get
[code]
and
[code]
errors.

[2016-12-06 13:44] hzoo commented on #1156
https://github.com/facebookincubator/create-react-app/blob/11cd813802153a5de0ec1d60ea764fd1b26be8c8/packages/babel-preset-react-app/index.js#L26-L30

[2016-12-06 13:51] hzoo commented on #1156
Basically what I think we need to do is make sure the `plugins: plugins` don't have any plugins that babel-preset-env already covers (which is everything that is spec/latest).

[2016-12-06 13:54] just-boris commented on #1156
@hzoo

I followed the same steps, (except that I have node 6.9.1) and got the error. Does it help you if will send the result `npm ls | grep babel` for you?

[2016-12-06 13:55] hzoo commented on #1156
@just-boris can you comment out regenerator in https://github.com/facebookincubator/create-react-app/blob/11cd813802153a5de0ec1d60ea764fd1b26be8c8/packages/babel-preset-react-app/index.js#L26-L30 in node_modules? It should work

[2016-12-06 13:58] EnoahNetzach commented on #1156
@hzoo so I should be able to solve this by removing [L26-L30](https://github.com/facebookincubator/create-react-app/blob/11cd813802153a5de0ec1d60ea764fd1b26be8c8/packages/babel-preset-react-app/index.js#L26-L30)?

If so, I tried it and it doesn't work :cry:

[2016-12-06 13:59] hzoo commented on #1156
I cloned the repo you linked and commented it out and it worked. Maybe rerun `yarn run test` and also clear `node_modules/.cache/`

[2016-12-06 14:00] gaearon commented on #1156
I can confirm that commenting out regenerator fixes

[code]

for me.

Before commenting it I was seeing

[code]

but not anymore.

**One thing to keep in mind is there's some Jest caching going on so you need to change something in test file every time you try after changing preset.**

[2016-12-06 14:00] EnoahNetzach commented on #1156
Yes, it fixes that error, but not the other ones

[2016-12-06 14:01] hzoo commented on #1156
Ok then that's a different issue and unrelated to what was reported above?

[code]

I don't see that in the repo you posted?

[2016-12-06 14:02] EnoahNetzach commented on #1156
you are right, I'm trying to get on that repo all the errors I'm finding in my codebase, I'll update it asap

[2016-12-06 14:03] gaearon commented on #1156
This file compiles for me after removing regenerator on Node 6.9.1:

[code]

What are other cases? That’s all I could find from this issue and #1160.

[2016-12-06 14:04] gaearon commented on #1156
I can confirm

[code]

is not working.

[code]

[2016-12-06 14:06] gaearon commented on #936
Sorry, both should be tagged as 0.9.0 now.
I remember about it and it won't split another minor again.

[2016-12-06 14:07] hzoo commented on #1156
Oh right that specifically https://github.com/babel/babel/issues/4851. Haven't had time to fix

[2016-12-06 14:10] gaearon commented on #1156
@EnoahNetzach @just-boris

Can you provide any other cases for future reference? I'll keep parameters and destructuring for https://github.com/babel/babel/issues/4851 but I need to know if there's anything else failing.

All of https://github.com/facebookincubator/create-react-app/issues/1156#issuecomment-265156837 appears solved by excluding regenerator from default transform.

[2016-12-06 14:12] EnoahNetzach commented on #1156
@gaearon I'm still having the `TypeError: _definition2.default is not a constructor` with `immutable`, but frankly I've not been able to reproduce it yet..

[2016-12-06 14:13] gaearon commented on #1156
@EnoahNetzach Could it be related to anything else in that file? Maybe you need the whole file (with variable bindings) to reproduce some corner case.

[2016-12-06 14:18] gaearon commented on #1156
@EnoahNetzach Any chance you're also seeing Babel/Jest caching? You'd need to modify the test file to make sure your config changes are picking up.

[2016-12-06 14:19] EnoahNetzach commented on #1156
@gaearon sorry, I confirm everything works for me without `regenerator` and with `parameters` (`destructuring` seems to be useless in this case).

[2016-12-06 14:24] jsantana90 commented on #1171
@Timer that worked, thank you!

[2016-12-06 14:27] EnoahNetzach commented on #936
@gaearon ahah sorry for the psychological terrorism!

[2016-12-06 14:38] EnoahNetzach commented on #1156
@gaearon should I re-open #1177 or make another PR?

[2016-12-06 14:39] gaearon commented on #1156
@EnoahNetzach I'm on it, will send something soon for you to review

[2016-12-06 14:40] EnoahNetzach commented on #1156
@gaearon great ;)

[2016-12-06 14:50] hzoo commented on #1156
So there are 2 separate issues? one relating to -env and regenerator and the other is using object-rest-spread and there being a bug with the standalone plugin.

You should be able to to just remove regenerator since it's included in both env/latest already and then add destructuring/parameters. Not sure why you need arrow-functions?

[2016-12-06 14:52] gaearon commented on #1156
If I recall correctly I am explicitly including it in `-latest` because I wanted to customize its options. I don't remember why very well..

[2016-12-06 14:53] gaearon commented on #1156
@hzoo @EnoahNetzach

Ready for review:

https://github.com/facebookincubator/create-react-app/pull/1179

[2016-12-06 15:09] EnoahNetzach commented on #1156
@gaearon `npm test`, `npm start` and `npm run build` work for me.

Thanks!

[2016-12-06 15:10] #1156 closed

[2016-12-06 16:08] gaearon commented on #1153
Fixed by #1180.

[2016-12-06 16:08] #1153 closed

[2016-12-06 17:14] #1157 closed

[2016-12-06 17:57] Timer commented on #1171
No problem, @jsantana90. Let us know if you're having any other issues. 😄

[2016-12-06 21:09] themre commented on #1007
Any news on this? I found a way to store all scss files in some folder and export them in other:
[code]
`-w` is used for watch, `-o` is used for output. So either you export all into individual files (scss -> css) or into one giant css bundle.

[2016-12-06 21:59] arssonist opened #1182 "bash: create-react-app: command not found"
### Can you reproduce the problem with latest npm?

I have had alot of problems getting npm installed overall and spent around 6 hours getting to the point where I think it is installed now. I run npm -v and get a number, likewise for node.

All packages were working and I had to update to use your package. I could not, so deleted  with all packages and tried to reinstall new version. After regula

[2016-12-06 22:24] cchamberlain commented on #1137
@fson - Thanks, I'll test it out soon but think it should work.

Still feels against the norm to me for `npm test` to run tests in watch mode. Given how common it is for CI to run `npm test`, wouldn't it be simpler to have that just execute the tests and have users run `npm test -- --watch` to run jest in watch mode?

[2016-12-06 22:33] wtgtybhertgeghgtwtg opened #1183 "Slim Dependencies"
Based on [a previous discussion](https://github.com/facebookincubator/create-react-app/issues/14).
This is a short list of some of what can be done to reduce some of the larger items that increase the overall size of `react-scripts`.  Excluded are smaller, opinionated, or rejected fixes.

- [ ] Currently, three versions of `acorn` are used.  `4.0.3` (560 KB), used by [`espree`](https://github.com/

[2016-12-06 22:44] gaearon commented on #1183
Amazing investigation, thank you.

[2016-12-06 22:49] gaearon commented on #1182
Hi! The log you posted says it got installed to `/Users/name/.npm-packages/bin/`. Could you add *that* directory to `PATH`? I'm not sure where `./node_modules/.bin` is coming from and I don't think you need it there.

[2016-12-06 23:32] Matt-Butler opened #1184 "Create-react-package"
For a future enhancement, I would find it very helpful it there was a generator to create a react package.
This is pretty close, except I would like to distribute my code as unminified es5 modules.

Is there a generator for this you would recommend?

[2016-12-07 00:07] j opened #1185 "Zeit `now` deploys fail after version 0.7.0."
I'm not sure if this is related to `now`, but since upgrading `react-scripts` to anything above 0.7.0, my build is now failing on the now deployment.

Here are the logs:

[code]

And the webpack file error that's being served:

[code]

These are as good of logs I can get right now unless there's a more verbose logging in react-scripts build.

This may be a Zeit now issue, but the fact that it work

[2016-12-07 00:16] gaearon commented on #1184
Does https://github.com/insin/nwb help?

[2016-12-07 03:18] godmar commented on #1023
I have a working theory.  If webpack attempts to resolve a module name such as `events` or `timers` it will use the `node-libs-browser` shims if and only if those names are still unresolved after all of `root`, `modulesDirectories`, and `fallback` have been searched.

I'm basing this on these observations:

(1) NodeSourcePlugin ([code](https://github.com/webpack/webpack/blob/4b20545b375da82aa6418e

[2016-12-07 06:29] themre commented on #913
just came across this https://github.com/amireh/happypack it helps anything in the future.

[2016-12-07 08:18] gmei2 commented on #901
I'm having exactly the same issue that bmbrina had, but my situation may be a bit different. My project folder consists of a typical Rails app, with a folder at the top level directory called "ui" which contains the files generated by create-react-app and some components I wrote.

I added the Rails and create-react-app buildpacks. If I build as-is, I get
"remote: -----> Failed to detect set buildp

[2016-12-07 10:23] just-boris commented on #1156
Work well.
Could you make a release, so I can finally switch to latest version instead of patching source code?

[2016-12-07 10:25] gaearon commented on #1156
I'll make a release in a day or two but I hope to fix a few more bugs. Definitely this week.

[2016-12-07 10:28] gaearon opened #1186 "Breakpoints not working after adding sourcemaps in 0.8.x"
Per @markerikson they don't always work.

https://twitter.com/acemarke/status/806353019902316545

We need reproducing cases to get to the root of the issue. If you can show code in which breakpoints are broken this would help.

If we don't fix them I intend to revert the sourcemaps change. We can't break breakpoints. But I hope we'll solve this instead.

[2016-12-07 11:06] gaearon commented on #901
Could you file an issue in the buildpack?

[2016-12-07 11:27] gaearon commented on #1023
How about we intentionally deviate and only respect relative NODE_PATH. That's what our users use it for anyway. And global is always dangerous.

[2016-12-07 11:32] AlmeroSteyn commented on #1186
I had exactly the same issue today.

I fixed my problem by adding `new webpack.EvalSourceMapDevToolPlugin()` to the plugin sections of both the development and production configs. After doing that, I am able to set and hit breakpoints in the ES6 source in Chrome DevTools.

Found the solution in the post [here](https://blog.rthand.com/post/2016/11/29/webpack-s-cheap-module-eval-source-map-requires-

[2016-12-07 11:34] fson commented on #1023
Or maybe check that the path is inside the project folder? I think it would be less surprising than not allowing absolute paths, what matters is where the files are located, how that location is represented (absolute vs relative).

[2016-12-07 11:46] gaearon commented on #1186
Thanks for the comment. That feels like an odd fix so I'd rather not apply it without a full understanding of why this works.

But if you can reproduce this in your project, can you try updating Webpack to 1.14.0? It should contain a fix for a possibly related issue.

[2016-12-07 11:50] gaearon commented on #1023
I can imagine people using something like ../shared or equivalent. This is in any case a stopgap solution before we remove NODE_PATH support altogether.

[2016-12-07 11:58] FrankenSteinxD commented on #1116
@gaearon I did that, and it worked, I didn't find any other solution

[2016-12-07 11:59] AlmeroSteyn commented on #1186
@gaearon Upgrading to 1.14.0 seems to work for me.

[2016-12-07 12:26] gaearon commented on #1116
I'll take a PR that does it on Windows (the problem is specific to Windows right?). Would you like to submit one?

[2016-12-07 12:29] gaearon commented on #913
Unfortunately too many caveats (especially windows support).

[2016-12-07 12:58] #1186 closed

[2016-12-07 13:00] gaearon commented on #1185
Does `npm run build` work?

[2016-12-07 13:01] gaearon commented on #1184
I’ll close because this is out of scope for now, but we may get back to this eventually.

[2016-12-07 13:01] #1184 closed

[2016-12-07 13:02] gaearon commented on #1182
I’ll close because the problem is not specific to CRA—you’d have the same issue with any global Node command.

That you need `sudo` is a bad sign but unfortunately I can’t really help with debugging this. I recommend checking Node.js and nvm documentation for instructions on installing Node.

I hope that https://github.com/facebookincubator/create-react-app/issues/1182#issuecomment-265298644 will

[2016-12-07 13:02] #1182 closed

[2016-12-07 13:40] gaearon commented on #1055
Yarn integration is out in the latest version of Create React App so you can use it, and it should be much better.

[2016-12-07 13:40] #1055 closed

[2016-12-07 13:48] gaearon opened #1189 "Yarn + Create React App Umbrella"
We shipped Yarn integration but there are a few small annoyances.
I'd like to consolidate them.

When they are fixed I'll feel comfortable recommending Yarn to CRA users more broadly.

- [x] It looks like `yarn@0.18` was released with `latest` tag for some time since it started failing our CI (#1167). I'm happy to help test Yarn by opting into using `next` builds on CI, but I want to make sure we

[2016-12-07 13:52] gaearon opened #1190 "Add a gentle nudge for using npm >= 3 or Yarn"
If you're using npm 2, I'd like us to print a message:

[code]

(The "Tip" is the new part.)

A PR would be welcome!

[2016-12-07 13:53] gaearon commented on #1100
I’d like to look at a proof of concept for this. PR?

[2016-12-07 14:10] gaearon commented on #1185
Can you provide a project and an exact sequence of steps to reproduce this?

[2016-12-07 14:11] Matt-Butler commented on #1184
@gaearon Thanks!

[2016-12-07 14:12] #1110 closed

[2016-12-07 14:23] gaearon opened #1192 "Add support for dynamic import()"
### Update: @shubheksha will be working on this. Please coordinate with her on specific parts you want to help with.

Now that it's [stage 3](https://github.com/tc39/proposal-dynamic-import) we can add it.
We should also add relevant documentation (add a "Code Splitting" section to User Guide).

Since we use Webpack 1.x for now, I think we need https://github.com/airbnb/babel-plugin-dynamic-import

[2016-12-07 14:25] SpaceK33z commented on #1192
webpack 2 has support for `import()` already (note: only in master, hasn't been released yet). See also https://github.com/webpack/webpack/pull/3413 for more info.

[2016-12-07 14:25] gaearon commented on #1192
Awesome, thanks for chiming in. We'll migrate to WP2 once it's stable, good to know we can throw some parts away then!

[2016-12-07 14:26] gaearon commented on #1086
Call for help on adding dynamic `import` suppotr: https://github.com/facebookincubator/create-react-app/issues/1192

[2016-12-07 14:27] gaearon commented on #1056
Please see https://github.com/facebookincubator/create-react-app/issues/1192 if you'd like to help!

[2016-12-07 14:49] gaearon commented on #1023
Apparently this problem only exists when you install Node *from source*.
I missed this detail.

[2016-12-07 14:50] bmeck commented on #1192
airbnb/babel-plugin-dynamic-import-webpack#12 see concerns

[2016-12-07 15:24] SMLMRKHLMS commented on #1190
@gaearon I would be more than happy to work on this.

[2016-12-07 15:29] gaearon commented on #1190
Sounds good!

[2016-12-07 15:31] mobinni commented on #1190
Oh, I forgot to comment. I actually just implemented this. However, since I didn't actually call dibs I would understand if @SMLMRKHLMS would take this on.

[2016-12-07 15:39] SMLMRKHLMS commented on #1190
@mobinni Go for it! I haven't started yet :)

[2016-12-07 15:42] mobinni commented on #1190
@SMLMRKHLMS Thanks! Sorry man, I should have been more mindful I just started and forgot to comment.

[2016-12-07 15:57] henri-hulski commented on #1023
Nope. Not from source but from [NodeSource Node.js Binary Distributions](https://github.com/nodesource/distributions/blob/master/README.md).
The recommended way to install recent Node.js versions on Linux is to use setup scripts (like [this](https://deb.nodesource.com/setup) for Debian / Ubuntu) which set up their repo on the system so Node.js can be installed and updated through the system's pack

[2016-12-07 15:58] gaearon commented on #1023
Right. But those distributions do include source, don't they?
For comparison, I can't find source for `events.js` on my distribution and seems like [I'm not alone](http://stackoverflow.com/questions/38719573/where-is-events-js-node-js-debugging).

[2016-12-07 16:06] gaearon commented on #1023
Fixed in #1194.

[2016-12-07 16:06] #1023 closed

[2016-12-07 16:06] gaearon commented on #815
Fixed in #1194.

[2016-12-07 16:06] #815 closed

[2016-12-07 16:15] henri-hulski commented on #1023
@gaearon No it's not the source. In Linux libraries in general install themselves under `/usr/lib`, `/usr/share/lib` or similar folders.
Maybe in macOS they use one binary instead.

[2016-12-07 16:18] gaelduplessix opened #1196 "Babel error when running tests with --coverage"
### Description

Steps:
- create a fresh app
- anywhere inside `App.js`, add the following code
[code]
- run `npm run test` => works
- run `npm run test -- --coverage` => crashes

### Expected behavior

This syntax is valid js, it works in the browser and with tests without coverage so I expect it to work with coverage activated

### Actual behavior

This error is thrown:
![image](https://cloud.gi

[2016-12-07 16:21] markerikson commented on #1186
Heh. I was debating whether to file an issue or not, but it was late and I was curious if @TheLarkInn had anything to say first.

I see that #1188 is tagged for 0.8.2, so I'll look forward to that.  Thanks for looking into this!

(Side note: having looked at the Webpack 1.x code for handling the `devtool` config option, what it actually does is parse strings like `"#cheap-module-inline-source-map"

[2016-12-07 16:41] arssonist commented on #1182
Was the idea to paste your code overtop of the current entry, or add it in addition to? Replacing it with the snippet above made no change.

 I know this is undoubedley a pain for you but I really have trouble with the Node docs as a beginner and can't navigate them.

[2016-12-07 16:54] cpojer commented on #1196
Seems like an issue here: https://github.com/istanbuljs/babel-plugin-istanbul

[2016-12-07 17:18] gaearon commented on #1196
Could also be the same as https://github.com/facebookincubator/create-react-app/issues/1156 and https://github.com/facebookincubator/create-react-app/issues/1156, and might be fixed by https://github.com/facebookincubator/create-react-app/pull/1179.

Can you try to repro this on master?

[2016-12-07 17:20] gaearon commented on #1196
This doesn't reproduce on master, and likely was fixed by #1179.
The next patch will address it.

[2016-12-07 17:20] #1196 closed

[2016-12-07 17:40] gaearon commented on #1182
Yeah I understand. I'm not good with this either. When I was installing Node for the first time I think I used `brew`, and it just worked.

Likely in addition to. What does `echo $PATH` print in your terminal?

[2016-12-07 17:45] rob-yoti commented on #658
I got this issue after running `npm run build` on a new app, and moving the build folder to my express application which then served it.

It appears the helmet middleware was interfering with the client side caching, so if you have this issue on a node server, it may be worth checking this.

[2016-12-07 17:55] arssonist commented on #1182
So I unistalled node and npm again. Reinstalled non-homebrew. Put
```export PATH="/usr/local/bin:$PATH"```
 as per Node installation instructions. `Make sure that /usr/local/bin is in your $PATH.`

Tried to install react-app. Had a permission error, basic one.
[code]
Fixed the permissions error and the package installed properly. Found the package in appropriate folder.

Still:
`npm install -g cre

[2016-12-07 19:41] Dmitry1007 commented on #815
I'm using the Firebase Admin SDK and as soon as I `import * as admin from 'firebase-admin'` I get this same error on the client `bundle.js:1048 Uncaught Error: process.binding is not supported`

I've tried everything in this thread and it still won't go away, any insight would be appreciated!? I'm kinda desperate at this point :(

Could someone at least explain what exactly is `process` and what i

[2016-12-07 19:43] j commented on #1185
@gaearon Hey, I just updated with the steps.  I went through them 1 by 1 again and they are accurate.

[2016-12-07 20:03] gaearon commented on #815
@Dmitry1007

Have you seen my summary in https://github.com/facebookincubator/create-react-app/pull/1194#issue-194086029? This likely means a Node.js module somehow ends up in your build instead of Webpack's shim.

[2016-12-07 20:04] gaearon commented on #815
Or perhaps `process.binding` is *part of the shim* (most likely) but some module you're importing assumes it's running in Node.js and relies on features not implemented by Webpack's shim.

Are you confident https://www.npmjs.com/package/firebase-admin is supporting being run from browser environments?

[2016-12-07 20:05] gaearon commented on #1185
@j

Can you please reply to:

[2016-12-07 20:11] gaearon commented on #1182
You need to figure out where `create-react-app` got installed. On my machine it's in `/usr/local/bin/create-react-app`. Do you have this file?

[2016-12-07 20:22] j commented on #1185
@gaearon yes, "npm run build" works.. However, with Zeit, I can't log into their environment to run that command.

I've tried using USE_YARN=no, removing the yarn.lock file, hardcoding the userYarn to be false, just to see if it's because now doesn't have yarn support yet.  I'm able to get this version to work when deploying a Dockerfile to now.  Just not with their node support.  I'm not sure whi

[2016-12-07 20:22] j commented on #1185
I know they are looking into it also.

[2016-12-07 20:23] gaearon commented on #1185
If `npm run build` works it's likely not on our side.

[2016-12-07 20:24] j commented on #1185
The fact that I can roll back to 0.7.0, it made me believe something happened here.

[2016-12-07 20:25] gaearon commented on #1185
It could be relying on some private API or implementation detail.
Could be our fault, too.
Let’s keep it open here but we’ll need somebody to respond on their side.

[2016-12-07 20:26] j commented on #1185
Right on.  I tried digging into it line by line, but I'm unable to get the full output of what's going on on the now instance because once the build fails, it ends up serving the broken webpack error which isn't helpful.

Thanks!

[2016-12-07 20:28] #667 closed

[2016-12-07 20:49] mars commented on #901
@gmei2, create-react-app-buildpack for Heroku is designed to deploy a React app as a static web site. Much like CRA itself, it relies on built-in defaults to work with zero configuration, which means customization of the build & runtime is limited.

The CRA buildpack is not designed to compose with the Rails buildpack. Either separate the Rails app from the React app into two repos and deploy them

[2016-12-07 21:42] gaearon commented on #1196
Fixed in 0.8.2.
Please verify.

https://github.com/facebookincubator/create-react-app/releases/tag/v0.8.2

[2016-12-07 21:42] gaearon commented on #1156
Fixed in 0.8.2.
Please verify.

https://github.com/facebookincubator/create-react-app/releases/tag/v0.8.2

[2016-12-07 21:43] gaearon commented on #1023
Fixed in 0.8.2.
Please verify.

https://github.com/facebookincubator/create-react-app/releases/tag/v0.8.2

[2016-12-07 21:43] gaearon commented on #815
Fixed in 0.8.2.
Please verify.

https://github.com/facebookincubator/create-react-app/releases/tag/v0.8.2

[2016-12-07 21:44] gaearon commented on #1110
Fixed in the latest version of the preset.

[2016-12-07 21:51] gaearon opened #1199 "Feature freeze"
I would like to stop adding any new features until #1187 has landed.

We had too many bugfixes in 0.8.2, and it's clear we need to automate testing for all the features we are supporting. Our existing end to end test is not enough.

[2016-12-07 21:51] gaearon commented on #1199
cc @fson @existentialism

[2016-12-07 21:52] existentialism commented on #1199
:+1:

[2016-12-08 00:06] arssonist commented on #1182
This has been solved. It was a problem in bash profile.

[2016-12-08 00:07] SerhiiHrudakov opened #1200 "Error while Installing react-scripts with create a new project"
### Description
I get an error after creating new react app. It's say about Error at spawn ENOTDIR

### Expected behavior
Project should created and add list of files inside a package. For me it's a first time i'm using it (begginer with ReactJS), so mb something wrong with my settings or anything else related with it.

### Actual behavior
Its just fall with an error. CRA can't install react scrip

[2016-12-08 00:22] remon-georgy commented on #1085
I've just stumbled that issue with similar circumstances; running tests in a CRA app while RNW is in use. @gaearon's suggestion works perfectly. Here is a pull request that includes the change #1201.

[2016-12-08 00:27] pke commented on #1156
Still getting
[code]

in VS code jest extension but works on in terminal.

[2016-12-08 00:37] gaearon commented on #1156
Likely some caches. I'm not sure where exactly Jest keeps its cache but try clearing stuff in `/tmp/`.

[2016-12-08 00:40] #1085 closed

[2016-12-08 00:41] gaearon commented on #1182
Great, I'm glad you got it working!

[2016-12-08 00:42] gaearon commented on #1200
One thing that looks a bit weird is you're runnjng the command from inside the Trash folder. Is this intentional? I don't know if there's anything preventing that but just curious if you tried creating a project outside of it

[2016-12-08 01:17] hzoo commented on #1156
@gaearon I opened up https://github.com/facebook/jest/issues/2231 - to default to `./node_modules/.cache` as the directory

[2016-12-08 01:47] SerhiiHrudakov commented on #1200
Yes, really weird... Now i try to create in non-Trash folder. And again same result:

<img width="601" alt="2016-12-08 02 39 47" src="https://cloud.githubusercontent.com/assets/7129524/20994421/8ed8c9d4-bcf0-11e6-89ce-74ed9ded63f6.png">

[2016-12-08 01:50] gaearon commented on #1200
@fson Looks like Yarn detection code needs a try catch?

[2016-12-08 02:47] jperl commented on #1107
I have a project based off of [`lerna`](https://github.com/lerna/lerna).

[code]

`/packages/ui` depends on `react` and is symlinked to `/packages/site-one/node_modules` and `/packages/site-two/node_modules` with `lerna bootstrap`.

Right now we do this in the projects we are working on to get around the issue.

[code]

[2016-12-08 03:21] gmei2 commented on #901
@gaearon, @mars Thanks for the suggestion, I'll file the issue on the buildpack repo if I don't figure this out soon. I think the article @mars linked doesn't go far enough in explaining how to deploy to Heroku (npm start is just for webpack dev server right?), but he linked to a comment he made on Github discussing working with Node+React on Heroku, so there may be clues there. Thanks again!

[2016-12-08 03:25] wtgtybhertgeghgtwtg commented on #1183
Another thing that might help would be trying `greenkeeper` to keep things up to date.  There's an issue with `babel` I am noticing.

1. `react-scripts` [requires](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/package.json#L27) `babel-core@6.17.0`.
2. `babel-core` [requires](https://github.com/babel/babel/blob/e50b3c890fd97d45349f6d1b6626bab6c81d4ac5/pack

[2016-12-08 03:41] quadsurf commented on #518
@fson @luizkowalski @gaearon

so the same exact thing is happening to me too!

and yes i'm using atom too
and yes i had Atom Package "atom-react-native-css installed"

i assume you uninstalled that Atom Package to solve the issue, but uninstalling it did not work for me... the problem still persists

what did you guys do to solve the issue? please help!

[2016-12-08 03:47] quadsurf commented on #606
@gaearon

I disabled that Atom plug-in, but the problem still persists... in fact, I went ahead and disabled just about every other Atom plug-in to see if that would solve the issue, but no luck. Please help!

[2016-12-08 05:37] savovs commented on #609
I'm getting this issue while not using create-react-app, might be from somewhere else

[2016-12-08 07:00] tbillington commented on #609
@savovs It's the react dev tools, not specifically related to create-react-app.

[2016-12-08 07:47] reflog commented on #1185
Just wanted to voice a +1 here, same thing happens to me as well. Interested to see how this could be resolved.

[2016-12-08 07:48] gaelduplessix commented on #1196
Working like a charm, thanks for the fast patch !

![image](https://cloud.githubusercontent.com/assets/2292908/21001883/1cc4ab14-bd23-11e6-94ea-6f6e8f5f7025.png)

[2016-12-08 08:30] AlmeroSteyn opened #1202 "Development build fails after upgrading to react-scripts 0.8.2"
### Description

After upgrading to the latest version of create-react-app and react-scripts (0.8.2) the build task fails.

### Expected behavior

Build should pass on a newly created app, or updating an existing app to react-scripts v0.8.2

### Actual behavior

In both a newly created app or in an existing app upgraded, the build fails:

![image](https://cloud.githubusercontent.com/assets/5063473

[2016-12-08 09:12] niksudan commented on #1023
My build now succeeds 👍

[2016-12-08 09:54] katgironpe commented on #1089
@SOSANA Like you, I am pretty much surprised this whole thing is "for development only."

[2016-12-08 11:19] robcaldecott commented on #1202
Exactly the same here on Windows 7 x64 using npm. Rolling back to 0.8.1 for now.

[2016-12-08 11:37] EnoahNetzach commented on #1156
Right now it should be located in `/tmp/jest`

[2016-12-08 11:40] cfenzo commented on #1104
Please don't include polyfill.io by default..

All though I love the idea behind polyfill.io, we've had some mixed experiences using it and in the end we banned it completely from all projects/products.

In addition to the bit about relying on a 3rd party plugin loaded over the net,
you can't overlook the part of it being based on UA-sniffing. And despite their great effort, there will always be a

[2016-12-08 11:45] robcaldecott commented on #1202
It's still broken for me on 0.8.1. If I blat `node_modules`, `npm install` (with react-scripts@0.8.1) then `npm run build` it still fails with the same error. `npm clear cache` makes no difference.

And I didn't shrinkwrap. :(

[2016-12-08 12:22] pke commented on #1156
yes, but clearing cache does not solve the vscode jest extensions problem. Filed a bug over there.

[2016-12-08 13:01] gaearon commented on #1104
Fair enough. I think https://github.com/babel/babel-preset-env/issues/20 will ultimately solve this.

[2016-12-08 13:01] #1104 closed

[2016-12-08 13:12] gaearon commented on #606
@quadsurf

Try another editor. If it helps then the problem is somehow in Atom.
Create React App won’t modify your source files by itself.

[2016-12-08 13:51] hamzazar commented on #990
To use next.js we should rewrite the app or keep working with create-react-app and just addnig next.js module?

[2016-12-08 13:53] devillex commented on #922
Jest configurability would be excellent, thanks!

For now, this is how we achieve coverage threshold checking on CI:
[code]

[2016-12-08 13:58] gaearon commented on #990
You don't need to "rewrite" the app (your code is still your code).

But you'd need to create a new Next.js project and follow its documentation to figure out how to add your existing code to it.

Yes, if you use Next.js, you can't use Create React App.

[2016-12-08 14:08] fson commented on #518
@quadsurf You might have to restart Atom after uninstalling the plugin for the changes to take effect.

[2016-12-08 14:22] gaearon commented on #1202
Thanks for reporting.

I sent a fix in https://github.com/waysact/webpack-subresource-integrity/pull/23, will see how fast it gets merged.

If it doesn't get merged today I'll have to revert the addition of https://github.com/waysact/webpack-subresource-integrity until it's more stable.

cc @jscheid — could you help getting it in asap please?

[2016-12-08 14:26] gaearon commented on #1202
In the meantime you can fix this locally by applying [this change](https://github.com/waysact/webpack-subresource-integrity/pull/23/files) inside `node_modules/webpack-subresource-integrity/index.js` or (if it doesn't exist) `node_modules/react-scripts/node_modules/webpack-subresource-integrity/index.js`. The line numbers are slightly different because we use a previous version but you just need t

[2016-12-08 14:27] AlmeroSteyn commented on #1202
@gaearon Thank you for the fix!

[2016-12-08 14:28] gaearon commented on #1202
Sorry about that. We need to start doing Windows CI builds..

[2016-12-08 14:40] godmar commented on #1023
github is really cool. I filed an issue with nodesource/distributions, which now appears cross-linked here. Maybe we can find out why they have this/where it comes from.

Just wanted to add one thing: events.js is also baked into the node executable in Linux. (This is done via its bootstrapping process where they take a snapshot of the heap that subsequent runs load from.) In other words, doing a

[2016-12-08 14:45] ivosabev commented on #462
@dphaener Can you elaborate on your solutions, maybe paste a fuller example?

[2016-12-08 14:48] gaearon commented on #1200
I don’t understand why this happens.
Can you give me the output of:

* `echo $PATH`
* `which yarn`
* `create-react-app --version`

Then could you try to run `npm i -g create-react-app@0.6.0` and try again. This way we can tell if it’s a new regression or not.

[2016-12-08 14:57] gaearon commented on #1023
# ¯\\_(ツ)_/¯

Thanks for all your help and for attempting to dig to the very root of the issue too.

[2016-12-08 15:03] SerhiiHrudakov commented on #1200
Ohh, yes! I forget instal yarn.. Sorry guys, it was my mistake. Now it's okay.

[2016-12-08 15:04] gaearon commented on #1200
Hmm, it still shouldn't fail without Yarn. Yarn is not required for CRA.
I'm going to put `try` / `catch` around this code and release an update.

[2016-12-08 15:04] #1202 closed

[2016-12-08 15:04] SerhiiHrudakov commented on #1200
Great! Thank you.

[2016-12-08 15:16] gaearon commented on #1200
@SerhiiHrudakov Could you still share the output of commands in https://github.com/facebookincubator/create-react-app/issues/1200#issuecomment-265757559?

[2016-12-08 15:21] SerhiiHrudakov commented on #1200
<img width="580" alt="2016-12-08 16 19 22" src="https://cloud.githubusercontent.com/assets/7129524/21015460/585373c4-bd62-11e6-8c8b-7890b8c02931.png">

Then list of files and next:

<img width="580" alt="2016-12-08 16 19 59" src="https://cloud.githubusercontent.com/assets/7129524/21015480/6b8ebeb2-bd62-11e6-9cb2-d6b32c4ff640.png">

[2016-12-08 15:31] gaearon commented on #1200
Sorry, could you run these commands in the terminal:

[code]

[2016-12-08 15:36] #1200 closed

[2016-12-08 15:45] SerhiiHrudakov commented on #1200
Ohh, sorry. Here it is:

<img width="564" alt="2016-12-08 16 44 48" src="https://cloud.githubusercontent.com/assets/7129524/21016410/ad8d54d8-bd65-11e6-99a7-5d3dc8790fe3.png">

[2016-12-08 15:47] gaearon commented on #1200
Thanks!

As a matter of experiment, could you remove Yarn and try again with `create-react-app@1.0.1` I just released?

[code]

I just want to make sure the issue is fixed. Feel free to install Yarn again afterwards (it's faster) :-)

[2016-12-08 15:48] gaearon commented on #1202
This should be fixed in 0.8.3 which was just released.
Please verify.

https://github.com/facebookincubator/create-react-app/releases/tag/v0.8.3

[2016-12-08 15:53] SerhiiHrudakov commented on #1200
This is deleting yarn:
<img width="567" alt="2016-12-08 16 50 32" src="https://cloud.githubusercontent.com/assets/7129524/21016660/b53ba30a-bd66-11e6-9076-af4fe4c85afa.png">

Then create new CRA:
<img width="565" alt="2016-12-08 16 51 24" src="https://cloud.githubusercontent.com/assets/7129524/21016679/c667bb6e-bd66-11e6-9875-2183540b75c5.png">

And result:
<img width="558" alt="2016-12-08 16 51 3

[2016-12-08 15:55] gaearon commented on #1200
There is a typo in uninstall command so it didn't get uninstalled.
You typed `usinstal`, not `uninstall`.
Could you try this again please?
Sorry for bugging you.

[2016-12-08 15:55] AlmeroSteyn commented on #1202
0.8.3 works for me. Thank you for the super fast fix!

[2016-12-08 15:56] SerhiiHrudakov commented on #1200
Ooo...really... Wait a minute please.

[2016-12-08 15:58] gaearon commented on #1202
Please keep up with reports if anything is broken!

[2016-12-08 15:58] AlmeroSteyn commented on #1202
Will do!

[2016-12-08 16:00] SerhiiHrudakov commented on #1200
<img width="565" alt="2016-12-08 16 59 05" src="https://cloud.githubusercontent.com/assets/7129524/21016904/b5673208-bd67-11e6-8d2c-3ce204345659.png">
<img width="568" alt="2016-12-08 16 59 51" src="https://cloud.githubusercontent.com/assets/7129524/21016922/c71dc264-bd67-11e6-8bf9-5da2904a02ce.png">

[2016-12-08 16:03] gaearon opened #1206 "Update babel-eslint to get code frames in parse errors"
See https://twitter.com/left_pad/status/799388723896946692.
Happy to take a PR that bumps the version and demonstrates it is working.

[2016-12-08 16:04] gaearon commented on #1200
Hmm, you still have Yarn. Maybe you didn't install it via npm?
Anyway, don't worry, it's not super important. I'm glad it works for you now.

[2016-12-08 16:15] XVincentX commented on #1202
😱

[2016-12-08 16:25] gaearon opened #1207 "Disable watch in npm test -- --coverage"
See discussion in https://github.com/facebook/jest/issues/2256.
We need to decide how to handle this and fix it.

[2016-12-08 17:06] gaearon opened #1208 "Better document how to add new loaders after ejecting"
The [existing comment](https://github.com/facebookincubator/create-react-app/blob/e7d71bd574b893ebace06b8111d20fcd466d5d69/packages/react-scripts/config/webpack.config.dev.js#L117-L121) is too easy to miss.

See http://stackoverflow.com/questions/41042479/create-react-app-with-sass-not-loading-styles.

We need to make it more obvious.

[2016-12-08 17:52] Timer opened #1210 "Change e2e to not rely on symlinks"
Utilizing symlinks introduces a set of caveats that breaks certain behavior of the module resolution.
If possible, we should resolve these symlinks into actual files.

I believe it might be beneficial to keep the `npm link` behavior, and then resolving the link afterwards (even if just using `cp` works). I believe `npm link` does some extra installing if required.

[2016-12-08 19:31] quadsurf commented on #518
argh, i hate when the obvious eludes me! thanks @fson ... it's solved now!

[2016-12-08 19:44] guilhermecvm commented on #1118
@stevensacks why would be not recommended to use brew?

[2016-12-08 22:54] pornel opened #1213 "Opens Chrome stable if Chrome Canary is running"
### Description

`npm start` opens wrong browser. I have both Chrome and Chrome Canary on my system, but I only use Canary (which is set as my default browser system-wide).

### Expected behavior

`npm start` should open my default browser.

### Actual behavior

Ignores my default browser setting, and opens Chrome (stable).

### Reproducible Demo

1. Start Google Chrome Canary.app
2. run `npm star

[2016-12-08 23:34] gaearon commented on #1213
@n3tr Could this be a regression after https://github.com/facebookincubator/create-react-app/pull/1165? Can you check before and after?

[2016-12-09 04:40] n3tr commented on #1213
created PR #1215

[2016-12-09 04:41] n3tr commented on #1213
@pornel Can you help me verify by change "Google Chrome" to "Chrome" in `node_modules/react-dev-utils/openChrome.applescript` line 17 and 61, does it works as expected?

[2016-12-09 12:08] pornel commented on #1213
Yes, changing  "Google Chrome" to "Chrome" in the applescript makes Canary reload the page as expected.

[2016-12-09 12:48] #1213 closed

[2016-12-09 17:01] dchambers commented on #796
@emilebres, is the idea that you're putting everything into one CSS file to simplify consumption, since only one CSS file has to be imported in addition to the code itself?

[2016-12-09 17:31] emilebres commented on #796
That's certainly one advantage yes.
Although these days I tend not to style the components directly (colour, font) but rather to expose classes that the user can use to customise the components as she wishes. And I use inline styles for the absolutely necessary CSS (position, sizes).

[2016-12-09 17:39] dchambers commented on #796
Thanks @emilebres, good to know.

The problem I'm facing is that the components I want to compile are using CSS modules, which creates its own additional set of problems. I'm more & more preferring the _atomic functional CSS_ approach over both _style-in-js_ and _CSS Modules_, since it solves this and many other styling & theming related issues.

[2016-12-09 17:58] danielstern opened #1217 "Run Lint form the command line?"
It would be great to be able to type
`eslint` into bash and have it run ESLint just like it was building. As it is, it can't find the config file unless I eject. Is ejection really necessary here?

[2016-12-09 18:51] BenoitAverty commented on #1207
My opinion on this is that the coverage information is usually not needed at the same time as when the watch mode is most useful.

Most of the time, I use watch mode while writing tests or doing tdd, which allow me to go faster than if I had to run the tests all the time. In this case, I usually don't care about test coverage.

On the other hand, right before commiting, I find the coverage info ve

[2016-12-09 18:54] gaearon opened #1218 "Weird lint output"
Something I noticed in a project:

[code]

What's the deal with `Warning in ./~/babel-loader?{"babelrc":false,"presets":["/Users/gaearon/p/pixelpaint/~/babel-preset-react-app/index.js"],"cacheDirectory":true}!./~/eslint-loader!./src/ReduxCanvasV3.js`? We should fix this to show a normal filename instead.

[2016-12-09 18:55] gaearon commented on #1217
What is your use case for running lint separately?

[2016-12-09 18:56] gaearon commented on #1207
Agree. 👍
Want to make a PR?

[2016-12-09 18:57] Mikeysauce opened #1219 "Proxy setting not being applied to api calls"
### Description

Adding `"proxy": "url:port"` to my `package.json` does not alter the port used in fetch requests.

### Expected behavior

I have added `"proxy": "http://localhost:8080"` to my `package.json` within my root folder and so would expect that my fetch requests will be directed to this port.

### Actual behavior

The requests are still going through to the port on which the create-react

[2016-12-09 19:35] gaearon opened #1221 "Disable "deploy" hint if "deploy" exists in package.json "scripts""
We print the following for GH Pages homepage:

[code]

I think we can skip the part about setting up `deploy` if you already have `deploy` in `package.json`.

[2016-12-09 19:38] stujo commented on #969
Ahh

Ahh thanks Dan, at the time instead of ``src/index.js`` I added it to the end of ``config/polyfills.js`` :

[code]

[2016-12-09 20:12] gaearon commented on #1219
Have you restarted the server after adding the setting?

[2016-12-09 20:13] Mikeysauce commented on #1219
Yeah restarted both the api server and the create-react-app server multiple times

[2016-12-09 20:20] n3tr commented on #1221
created PR #1222

[2016-12-09 20:42] #1221 closed

[2016-12-09 23:08] gaearon commented on #1219
It does look like you're getting 400 ERROR. Doesn't this mean the request gets proxied (but server fails for some reason)?

The request would appear to be to 3000 port **in the browser** because that's the point of the proxy feature. It is needed so that browser lets us make the request without enabling CORS on that server. However the actual request gets proxied so while you see it as a request t

[2016-12-10 02:26] Timer commented on #1210
Maybe it's best not to use npm link: https://github.com/npm/npm/issues/10343

[2016-12-10 07:08] Mikeysauce commented on #1219
If I change to `fetch('http://localhost:8080/api/events')` it works though, so the api seems to be ok

[2016-12-10 09:18] Mikeysauce commented on #1219
I was using the 8080 port for another process and didn't realise because the express server was still working fine on that port. Issue was on my end so can close this, apologies. I've changed the port and updated the `package.json` and it works as expected.

[2016-12-10 09:18] #1219 closed

[2016-12-10 09:32] folivi opened #1227 "Help wanted Using react-intl"
Hi all,

I'm following this tutorial https://medium.freecodecamp.com/internationalization-in-react-7264738274a0#.pgfd03878 to use internationalization in my app.
Apparently the integreation is done by modifying the .babelrc file but to do so I have to eject, and I prefer not to.
Is there any way to use React-Intl without ejecting create-react-app?

[2016-12-10 10:37] robcaldecott commented on #1227
You only need the Babel plugin to generate the translate files which you can do as part of your production build without ejecting although it's a little messy. I'll post how later.

[2016-12-10 11:03] kevgathuku commented on #679
Hi @gaearon,
There seems to be a regression since importing the latest version of jQuery and trying to use bootstrap with it fails now.
I am constantly getting this error no matter how I try to include jQuery:
<img width="1271" alt="screen shot 2016-12-10 at 1 59 31 pm" src="https://cloud.githubusercontent.com/assets/3721994/21072872/eca42760-bee0-11e6-8881-c2b9f3c44c22.png">

I have tried this:
[

[2016-12-10 11:08] danielstern commented on #1217
We are running it in coordination with Husky(https://github.com/typicode/husky) to run ESLint in our pre-push.
We're hoping for something like

[code]

[2016-12-10 11:52] EnoahNetzach commented on #1227
You can just install the required dependencies, add your own `.babelrc`, and add your `"script": "translation"` to your `package.json`.

E.g.:
`npm install --save react-intl`
`npm install --save-dev babel-cli babel-preset-react-app babel-plugin-react-intl`
add to the root folder:
[code]
then add to your `package.json`'s '"scripts"` this line:
[code]

You should be able to run both npm start`/`npm

[2016-12-10 13:31] gaearon commented on #679
@kevgathuku

Do you need to use Bootstrap itself? I would recommend [React Bootstrap](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-bootstrap) instead. It is compatible with Bootstrap CSS but implements JS part as React components.

[2016-12-10 13:32] gaearon commented on #1219
Glad you found the issue!
Let us know if you have any other probles.

[2016-12-10 13:45] kevgathuku commented on #679
Thanks for the reply @gaearon

In this case I think I really need to since I am porting some plain HTML to React. Using React bootstrap would take much much longer.
In the meantime, I have resorted to using jQuery as well as Bootstrap's JS from a CDN.

[2016-12-10 13:46] gaearon commented on #679
@kevgathuku

Anyway, I sent a fix here: https://github.com/kevgathuku/react-bootstrap-jquery/pull/1.

But I would recommend using React Bootstrap over Bootstrap itself. Since React takes care of DOM manipulation, it is often much more convenient to use React components than something like Bootstrap, although you could mix them if you want to.

[2016-12-10 13:47] gaearon commented on #679
I hope this helps!

[2016-12-10 13:56] kevgathuku commented on #679
Worked like a charm. Thanks 😄

I'll probably port it to React bootstrap later on, but I needed to get over the barrier of having something to work with first, before I can improve it.

Thanks a lot for taking your time to help @gaearon. Really appreciate it 👍

[2016-12-10 13:57] BenoitAverty commented on #1207
Yeah I'll open on now. Thanks !

[2016-12-10 13:57] gaearon commented on #679
No worries, if you have any problems please file issues! We’re happy to help.

[2016-12-10 14:48] #1218 closed

[2016-12-10 16:16] gaearon commented on #892
What is currently blocking this?

[2016-12-10 16:32] hnordt commented on #1185
Same problem here:

[code]

[2016-12-10 16:43] gaearon commented on #1185
https://github.com/zeit/now-cli/issues/160#issuecomment-266106867

[2016-12-10 17:09] hnordt commented on #1115
@gaearon hey Dan, after creating a new project (`create-react-app myproject`) why `react-scripts` has a fixed version (`"react-scripts": "0.8.3"` instead of `"react-scripts": "^0.8.3"`)?

[2016-12-10 17:13] gaearon commented on #1115
I want to keep every update intentional.

I don’t want people to feel they’re obligated to update if they don’t have issues, and if we mess up, I’d rather learn it from people who intentionally tried to update (and are in good mood) than from people who got a broken app and couldn’t figure out which dependency caused it.

I know it’s not common for npm ecosystem but that’s what I think is best for

[2016-12-10 17:14] hnordt commented on #1115
Thank you for the explanation @gaearon 👍🏻

[2016-12-10 17:49] just-boris opened #1230 "Compability with Preact"
I couldn't find an issue about this topic, so I'd like to create this one to discussion.

Surprisingly, [Preact](https://preactjs.com/) is pretty compatible with React, so this project can also support project based on Preact without big changes.

Any chances for any move toward this?

[2016-12-10 17:49] just-boris commented on #1230
Actually, there is only one difference: Preact requires different `@jsx pragma` definition. I tried to build a Preact-based project with `react-scripts` and realized that we need to tell ESlint and Babel about new rules.

So I tried to add the following `babelrc`:
[code]

and `eslintrc`

[code]

The only problem is that `react-scripts` ignores `eslintrc` and `babelrc`, so my changes have no effect

[2016-12-10 17:57] gaearon commented on #1230
I think it’s great many projects can run on Preact without significant changes but I don’t think we’ll be spending effort supporting this as a built-in configuration (just like we don’t support, for example, Relay out of the box).

The best course of action for those interested in it would be to fork `react-scripts` (as described in https://github.com/facebookincubator/create-react-app/pull/779),

[2016-12-10 18:07] just-boris commented on #1230
Well, forking may be a solution. I will try to create a fork and use it.

Actually, there already was an attempt to do this: https://github.com/alexkuz/create-preact-app
It seems like there were no pulls from upstream since forking, so I have to do this again.

@alexkuz, is there any chance that you will update your create-preact-app fork?

[2016-12-10 18:46] BrunoQuaresma opened #1231 "Failed to find a valid digest in the 'integrity'"
When i run the build command and upload my files to server this error appears in mobile browsers:

Failed to find a valid digest in the 'integrity' attribute for resource 'http://facilbardelivery.com.br/static/css/main.33fa5f7d.css' with computed SHA-256 integrity 'fhBe+EZQ6zPH/PQFiIlVZjwvoWQGAWe1s8BEyp2TJ6k='. The resource has been blocked.

[2016-12-10 18:56] BrunoQuaresma commented on #1202
It works but, when i put the files on server (shared or in Heroku) and access in my mobile phone this error appears:

Failed to find a valid digest in the 'integrity' attribute for resource 'http://facilbardelivery.com.br/static/css/main.33fa5f7d.css' with computed SHA-256 integrity 'fhBe+EZQ6zPH/PQFiIlVZjwvoWQGAWe1s8BEyp2TJ6k='. The resource has been blocked.

[2016-12-10 19:07] gaearon commented on #1202
Does [this](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#subresource-integrity-checks-fail) help?
Are you modifying files before deployment somehow?

[2016-12-10 19:10] gaearon commented on #1231
As I noted in the other thread, have you followed [these instructions](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#subresource-integrity-checks-fail)?
Could that be the reason it is failing?

[2016-12-10 19:47] BrunoQuaresma commented on #1231
Yes, I followed the instructions. In PC browser works fine (facilbardelivery.com.br) but in chrome(for android) not. However, when I test the app in Heroku (facilbar.herokuapp.com) with HTTPS it works even in mobile phone. So, is required use SSL?

[2016-12-10 19:49] gaearon commented on #1231
Ugh. I think we’ll have to revert this change because I don’t know how to troubleshoot this.
Want to send a PR?

cc @XVincentX

[2016-12-10 19:50] XVincentX commented on #1231
Let me dig into - subresource integrity does not require SSL at all.

[2016-12-10 19:56] Timer commented on #1231
It sounds like the feature is simply doing what it's intended to do.

Do you have compression enabled in your Chrome for Android browser?
Google may be minifiying your CSS before sending it to your phone causing the signature to be invalid.

SSL prevents this from happening. Maybe we should look for https in PUBLIC_URL and toggle this feature based on that.

https://developer.chrome.com/multidevic

[2016-12-10 19:58] Timer commented on #1231
"The proxy performs intelligent compression and minification of HTML, JavaScript and CSS resources, which removes unnecessary whitespace, comments, and other metadata which is not essential to the rendering of the page. These optimizations, combined with mandatory gzip compression for all resources, can yield substantial bandwidth savings for the client."

[2016-12-10 19:59] BrunoQuaresma commented on #1231
@Timer this is it!!! Thanks! When i disable it works perfectly.

[2016-12-10 19:59] XVincentX commented on #1231
That might eventually change the received file which is seen as a resource tampering from the browser.

This is not happening on mobile Safari (just tested on my iPhone)

[2016-12-10 20:03] BrunoQuaresma commented on #1231
I think in this mode it does a proxy cache that even with the digest is not invalidated.
Even after activating again. The page continues to display correctly.

[2016-12-10 20:07] Timer commented on #1231
Actually we could inject a stub which strips resource validation when over HTTP.
I'd be more than happy to make a PR if that's what we decide to do.

Currently, this feature is going to cause more pain than benefit because of Chrome compression or ISP compression if they partake in it.
We need to do something about it (opt in?) or revert it for now.

[2016-12-10 21:48] gaearon commented on #1231
How would this work? I’d like to see a proof of concept.
Either that or let’s roll it back.

[2016-12-10 21:50] XVincentX commented on #1231
That's sad, but I understand that it's blocking and annoying :(

[2016-12-10 22:15] ai commented on #892
I don’t think blocking issues. All Browserslist changes are “good to have”, but we could completely start from current behavior.

[2016-12-10 22:56] gaearon commented on #892
Hmm, I don't think we need a file per se, at least not until ejecting.
We can already pass an object right? That would be enough for our side.. I think.

[2016-12-10 23:22] hzoo commented on #892
Yeah you can already pass the string/array via `browsers`. The same config the one shown in https://twitter.com/addyosmani/status/807608316532756480

[2016-12-11 00:21] Timer commented on #1231
Either that or let’s roll it back.

Sorry I was speaking in mere hypotheticals; it's not something I have done before.
But the idea would be to check `window.location.protocol` for https, if not found, scrub the script tags on the document and remove `integrity` attributes.

In **theory** we would inject a script tag before the bundle script tag, and add the `defer` attribute to them both.
This wo

[2016-12-11 00:23] Timer commented on #1231
I think the best plan of action currently would be to remove usage of the plugin until we can find a work around or make it opt-in. I would like to see an issue tagged `discussion` for this.

[2016-12-11 00:37] p-jackson commented on #892
I like the idea of using a browserslist file because it feels more like a heuristic rather than explicit config, which I think suits CRA. But if we're expecting to support different presets per folder (the way browserslist works) then maybe it'd be better to just have a project-wide config and pass it to `browsers`.

[2016-12-11 00:59] gaearon commented on #1231
Happy to take a PR removing it until we figure out what to do.

[2016-12-11 03:37] Olivia101 commented on #679
Btw, React Bootstrap does not currently support Bootstrap 4

[2016-12-11 03:48] Timer commented on #1231
😢 https://github.com/facebookincubator/create-react-app/pull/1233

[2016-12-11 03:55] shrynx commented on #1230
@just-boris I am working on putting this in my fork. Will get back to you when I am done. I need someone to test complete compatibility, as i don't have a lot experience with preact.

[2016-12-11 05:38] Timer opened #1234 "Warn when importing files outside of paths.appSrc"
Can we display a warning when importing non-node_module files from outside of `paths.appSrc`?

Files outside of `appSrc` aren't compiled causing UglifyJS to fail during build (but works fine during development).

[2016-12-11 07:00] soulcm commented on #658
yes, I got this issue too, when I build my app and run it in a server side render application in express, the chrome show those two errors

[2016-12-11 08:20] n3tr commented on #658
Maybe I'm wrong, the error is about service worker has been register for localhost:3000.

Can you open Chrome Dev Tools -> Application -> Service Worker and see if you have a service worker has been registered? If yes click unregister and refresh the page again.

[2016-12-11 08:37] gaearon commented on #1234
People might be using this for https://github.com/facebookincubator/create-react-app/issues/1107.
Not officially supported but we should address it if we close this loophole.

[2016-12-11 08:47] #1206 closed

[2016-12-11 09:54] gaearon opened #1235 "Enable offline Yarn support"
It appears that it doesn't work. Shall we opt in?

<img width="1433" alt="screen shot 2016-12-11 at 09 53 38" src="https://cloud.githubusercontent.com/assets/810438/21079353/c8b678a6-bf87-11e6-8ddf-5d4136e4acd6.png">

[2016-12-11 10:20] soulcm commented on #658
@n3tr  thanks, yes, you are right, I remember I test some app  before and register the service work, now as your step, I unregister the service work and it goes fine

[2016-12-11 11:34] gaearon commented on #1231
Closing via #1233, please feel free to open new issues / PRs if you have ideas on how to add this back.

[2016-12-11 11:34] #1231 closed

[2016-12-11 11:53] gaearon opened #1239 "Install react-scripts, react, and react-dom at the same time"
It's annoying we do two installs. I don't really see a good reason to do this.
Let's just install them in a single step?

[2016-12-11 11:58] gaearon commented on #1231
Should be fixed in `react-scripts@0.8.4`. Please verify.
https://github.com/facebookincubator/create-react-app/releases/tag/v0.8.4

[2016-12-11 11:59] gaearon commented on #1213
Should be fixed in `react-scripts@0.8.4`. Please verify.
https://github.com/facebookincubator/create-react-app/releases/tag/v0.8.4

[2016-12-11 11:59] gaearon commented on #1207
Should be fixed in `react-scripts@0.8.4`. Please verify.
https://github.com/facebookincubator/create-react-app/releases/tag/v0.8.4

[2016-12-11 11:59] #1207 closed

[2016-12-11 12:53] ashtonsix opened #1240 "Using react-scripts from parent folder results in strange behaviour"
### Background

I'm building a library with several examples, these examples use create-react-app but I don't want people to waste lots of time by repeatedly installing react-scripts. So I moved the react-scripts dependency to the project root.

### Steps to reproduce

Run the following inside an empty folder:

[code]

Navigate to localhost:3000 and you might see something like:

![issue](https://

[2016-12-11 14:39] jordyvandomselaar opened #1242 "Feature request: Component generator"
A feature request: A component generator.

I really like this skeleton generator, it works amazingly well =)
Would be great if it could also generate new components ^^

[2016-12-11 14:46] gaearon commented on #1240
Why did you close this? Is it solved?

[2016-12-11 14:53] ashtonwar commented on #1240
I clicked the button by mistake

[2016-12-11 16:51] gaearon commented on #1240
How can we solve this? Would changing [this](https://github.com/facebookincubator/create-react-app/blob/ccdaa60065cd97d14efbcb8b4af15aee03cf8fd8/packages/react-scripts/config/paths.js#L17) to be based on `__dirname` work?

[2016-12-11 16:54] gaearon commented on #1242
I agree. We had a feature request for this in https://github.com/facebookincubator/create-react-app/issues/796, let’s discuss in that issue. The TLDR is I’d love to see a version of this as a proof of concept but I likely won’t have time to work on it myself so it needs somebody interested in it to prototype.

Another related issue is https://github.com/facebookincubator/create-react-app/issues/11

[2016-12-11 16:55] #1242 closed

[2016-12-11 17:26] alexkuz commented on #1230
@just-boris I could, but tbh I'm not really using preact (at least for now), so I have no big interest to keep it up to date.   Just fork it and update. Or I could transfer this fork to you if you want to take care of it from here.

[2016-12-11 17:38] edi9999 opened #1243 "Very slow to create an app / Size of created directory is huge"
### Can you reproduce the problem with latest npm?

Yes, with current npm version of 4.0.3

### Description

It is very slow to create a new app, on a decent connection (~800kB/s). Approximately 5 minutes.

I am teaching a course about React in University, and wanted the students to use CRA for easily getting started, however, for 50% of the students, the install time was so slow (more than 30 min

[2016-12-11 17:50] mauricedb opened #1244 "Suggestion: Automatically create a new Git repository and add initial files"
One of the nice small things with the Angular CLI is that it automatically creates a new Git repository and adds the initial files to it as the initial commit after initializing a new project. It is not a major thing but it is something I find myself doing pretty much every time I create a new project, even if it is just for test purposes as it makes it easy to see what I changed.

Is this somethi

[2016-12-11 18:12] gaearon commented on #1243
Are all of your students using npm >= 3?
There is a known problem with abysmal install times on npm 2.

[2016-12-11 18:27] gaearon commented on #1243
This is the size of the created folder but it is not the same as download size.
I just cleaned the npm cache, ran an install and measured the network usage.

It is about **19 MB** for the latest version:

<img width="815" alt="screen shot 2016-12-11 at 18 17 23" src="https://cloud.githubusercontent.com/assets/810438/21082173/257f385c-bfce-11e6-8e2c-30e802238202.png">

Having done it just once, ban

[2016-12-11 18:27] #1243 closed

[2016-12-11 18:28] gaearon commented on #1243
You can also use services like https://c9.io/ which work with Create React App and have reasonable install speeds in my experience.

[2016-12-11 18:32] gaearon commented on #1230
Oh hi @alexkuz

[2016-12-11 19:39] steadicat opened #1246 "Remove redundant babel-preset-latest"
`babel-preset-env`supports everything that `babel-preset-latest` does by default: https://github.com/babel/babel-preset-env#support-all-plugins-in-babel-that-are-considered-latest

The difference is that `babel-preset-latest` actually compiles all the features down to ES4, which kinda defeats the point of `babel-preset-env`.

Any reason not to remove `babel-preset-latest`?

[2016-12-11 19:52] edi9999 commented on #1243
Thanks for the quick and full response, I will tell students to use npm version 3 and do it before the next course. Indeed, the issues that you linked to are very revelant and it would be great to see them fixed.

[2016-12-11 20:04] rugglcon commented on #1083
This worked for me, thanks!

[2016-12-11 22:07] jlubeck opened #1248 "How can I use the %PUBLIC_URL% inside CSS files?"
I tried putting %PUBLIC_URL% directly inside the CSS file but it looks like it just writes that out plain to the url and so doesn't work.

Thanks!

[2016-12-11 22:16] Timer commented on #1248
What exactly are you trying to accomplish? You might be trying to over-engineer a solution to your problem.

See https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-images-and-fonts.

[2016-12-11 22:23] jlubeck commented on #1248
I just want to do this inside my CSS file:
`    background: url(/assets/images/btn_close_white.png) no-repeat;
`

from that like, I understood that I need to write it like:
`    background: url(./assets/images/btn_close_white.png) no-repeat;
`

But when I do that I get this error:

[code]

[2016-12-11 22:26] Timer commented on #1248
Where is your assets directory? Try moving it into `src/` instead of `public/`.

[2016-12-11 22:28] jlubeck commented on #1248
Mmmm, yeah, I was about to mention that. But wouldn't that leave me with images in both src and public? Kind of messy... Because in my JS files I was using the images like this:

`process.env.PUBLIC_URL}/assets/images/plant_landscape@3x.jpg`

[2016-12-11 22:31] jscheid commented on #1231
😢

I'm going to add language to our README to clarify this point, current draft is here:
https://github.com/waysact/webpack-subresource-integrity/pull/25

See also https://bugs.chromium.org/p/chromium/issues/detail?id=642928

[2016-12-11 22:31] jlubeck commented on #1248
Maybe the proper question would be how to handle images both inside JS file and CSS while keeping them all on the same location? Or is this common to have images laying around in both src and public?

[2016-12-11 22:36] Timer commented on #1248
You shouldn't need images in public; the build process will copy images from `src/` to `build/` at compile time (and update paths accordingly).
All your [tracked] assets should live in `src/` and in your JS you should be `import`ing them -- not using `process.env.PUBLIC_URL`.

For example:

app.js
[code]

[2016-12-11 22:38] jlubeck commented on #1248
Oh, I see. Thanks for clarifying that concept for me!
Sorry to bother you yet once again, but what would the public folder be used for then?

[2016-12-11 22:45] gaearon commented on #1248
For cases when you can't do this for some reason. Like when you want to determine paths dynamically or have thousands of images and can't import them all.

Have you had a chance to read through both sections in User Guide (Adding Images and Using public Folder)? What can we do to improve them to address the confusion you experienced?

[2016-12-11 22:45] Timer commented on #1248
The `public/` folder is sort of reserved for exceptional cases.
If you don't know why you should use it, you probably shouldn't be using it -- most people won't interact with the `public/` folder after changing the `title` or adding some `meta` tags.

Some example usage cases:
* You want to include a script which you do not want to be part of your bundle, maybe because it cannot be processed by we

[2016-12-11 22:47] gaearon commented on #1248
That's a good explanation. It would be nice to rewrite / tweak those sections to better explain it.

[2016-12-11 22:47] jlubeck commented on #1248
Well... before going down that path... this is still not working for me :(
I see the example Timer gave is to import the image and use it inside the render method of the component. But after I copied my images to the src folder, and changed the css to use ./ i'm still getting a compile error...

[2016-12-11 22:47] gaearon commented on #1248
Which error?

[2016-12-11 22:48] jlubeck commented on #1248
[code]

[2016-12-11 22:49] jlubeck commented on #1248
mmm maybe I have to do ../assets since i'm in components??

[2016-12-11 22:49] jlubeck commented on #1248
Ha! Yes. That was it! Thank you both of you for all your help!

[2016-12-11 22:49] #1248 closed

[2016-12-11 22:50] Timer commented on #1248
@jlubeck looks like you need to import it as `../assets/images/btn_prev.png` instead of `./assets/images/btn_prev.png`.

There's an ongoing discussion to allow absolute imports (so you could do something like `assets/images/btn_prev.png`, but I do not believe it's finalized yet.
Maybe @gaearon can shed some more light on this.

[2016-12-11 22:50] sylvainbannier commented on #1235
I have issues with offline support in yarn v0.17.10 https://github.com/yarnpkg/yarn/issues/2162. Waiting, for triage. If this is confirmed, then I guess CRA should wait for a fix in Yarn.

[2016-12-11 22:52] gaearon commented on #1248
@jlubeck

Can you help me understand how you arrived at the first solution (without trying the import)?

[2016-12-11 22:54] jlubeck commented on #1248
First solution? You mean using the ../ instead of ./ ?

[2016-12-11 22:54] gaearon commented on #1248
Sorry I wasn't clear. I meant using public folder instead of importing.

[2016-12-11 22:55] Timer commented on #1231
Cool, @jscheid! I was not aware of this.

[2016-12-11 22:56] gaearon commented on #1248
By the way if you *do* decide to use the public folder later, you don't need to do anything special to CSS. It already supports relative paths out of the box so you could write `url(assets/stuff.jpg)`. It's the leading `./` that "opts it into" Webpack mode.

[2016-12-11 23:30] jlubeck commented on #1248
Oh, sorry. I usually go straight to trying things instead of reading the FULL documentation. So probably bad on my behalf.

But, since I saw that the favicon.png was in the public folder, I assumed all static images should go there as well. Although you do have the logo.svg in the src folder, so that should've told me something...

[2016-12-11 23:32] gaearon commented on #1248
That makes sense, thanks for explaining.
Let us know if you have any other issues?

[2016-12-11 23:40] gaearon commented on #1246
We use `babel-preset-env` for tests only since we know the target environment (current Node).
We can’t use it for the browser bundle because we don’t know the desired target browsers.
Removing it there will be a part of https://github.com/facebookincubator/create-react-app/issues/892 which nobody is working on yet.

[2016-12-11 23:40] #1246 closed

[2016-12-11 23:44] gaearon commented on #1235
Note that I also tried `--offline` and it didn't work because it requested `latest` whereas we only have a specific version in cache (for example `0.8.4`). I wish there was a way to "agree" to use whatever local version we have if there is no network connection.

Related: https://github.com/yarnpkg/yarn/pull/1277#issue-184089258

[2016-12-11 23:52] gaearon commented on #1210
I'm all for copying stuff.

[2016-12-11 23:57] gaearon commented on #873
This was fixed by https://github.com/facebookincubator/create-react-app/pull/1148 with an `EDITOR` environment variable that you can set to a platform-specific name or to `none` to completely opt out of opening the browser. You can also set it from the `.env` file, like any environment variable.

It will take a few weeks until 0.9.0 is out with this, but I’ll close the issue since it’s not actiona

[2016-12-11 23:57] #873 closed

[2016-12-11 23:59] gaearon commented on #1076
Sorry this issue slipped through the cracks.
Please see https://github.com/facebookincubator/create-react-app/issues/1094 for a discussion about this.
Yes, currently it needs to be served, but we’ll likely support the Cordova use case at some point in the future.

[2016-12-11 23:59] #1076 closed

[2016-12-12 00:02] gaearon commented on #587
This is the same issue as https://github.com/facebookincubator/create-react-app/issues/1023 and https://github.com/facebookincubator/create-react-app/issues/815.
It was fixed by https://github.com/facebookincubator/create-react-app/pull/1194 and 0.8.2 contains this fix.

[2016-12-12 00:11] jscheid commented on #1231
@Timer It's a clever hack! :-) Unfortunately, inline scripts don't play nice with CSP, and conceivably there's a large overlap between folks who'd want to use SRI and those who'd want to add a CSP.

Theoretically it's possible to white-list inline scripts with CSP, but that's not exactly straightforward. I think at that point you're better off just setting `Cache-Control: no-transform`.

Of course

[2016-12-12 00:35] alwint3r commented on #587
Great! I had no idea why this issue happens because there was no compile error. Thank you for your effort! You people are awesome!

[2016-12-12 00:36] gaearon commented on #587
Yea, sorry it was confusing.
Confused the hell out of us too, it took a month to get to the cause.

[2016-12-12 01:03] jlubeck commented on #1248
Will do, and thank you very much for being so helpful even though this stuff was in the docs. Really appreciate it!

[2016-12-12 01:06] fson commented on #873
To clarify, the name of the new env variable is `BROWSER :)

[2016-12-12 01:10] alwint3r commented on #587
I didn't realize that there was no `NODE_PATH` inside the docker container. Now I know why it worked back then.

I'm glad that this issue is finally closed.

[2016-12-12 01:15] jscheid commented on #1231
For the record, I wasn't aware of this problem either before today or I would have let you guys know. (When I said "clarify this point" above, perhaps it made it sound like I knew about this before, but I didn't.)

[2016-12-12 01:34] gaearon commented on #892
https://github.com/facebookincubator/create-react-app/pull/1249

[2016-12-12 01:39] gaearon commented on #1231
Yea no worries. Today we learned. :-)

[2016-12-12 01:39] gaearon commented on #873
Oh right. :-)

[2016-12-12 04:06] GAumala commented on #873
Should the new environment variable be documented in the user guide?

[2016-12-12 07:46] XVincentX commented on #1231
Me too - I didn't really think there were so many consequences.

[2016-12-12 08:29] SimenB commented on #899
This is done, right?

[2016-12-12 08:32] SimenB opened #1251 "Allow `modules: false` into babel preset"
Tried searching, but couldn't find an issue.

I've ejected, and upgraded to webpack 2, but kept most of the config, amongst it the babel preset. But I'd like to pass `modules: false` into `babel-preset-env`.

Kinda related to parts of #1088, in that it accepts options directly

[2016-12-12 10:26] DmitryAuine opened #1252 "Search for index.js in module path"
### Description
I have component module in **App** folder, and I have the source file of the module named **index.js**
I'm trying to import the module like this:
`import App from './App`

### Expected behavior
I want the builder to import the component module **App**.

### Actual behavior

It doesn't import the module and crashes with the error:

I underspend why it happens but why the default bui

[2016-12-12 12:02] joshwcomeau commented on #167
Small note, but for the current version of `create-react-app`, there is no longer a `babel.dev.js`. Instead, babel plugins are supplied in the webpack configs:

[code]

[2016-12-12 12:48] annorax opened #1255 "Configuring title of generated index.html page"
There is no apparent way to configure the title (i.e. the html \<title\>) of the generated index.html file - it eems to be hard coded to "React App".

Of course I can edit the generated file, but I'd like to fully express my app in source and have my generated files production ready right out of the box.

I assume this can be accomplished with "eject" but that seems like an overkill for what shoul

[2016-12-12 13:01] Timer commented on #1255
Editing `public/index.html` is the proper way to configure your page's default title.

The `public/` directory should be checked into source control.
`build/` is the directory which should be in your `.gitignore`.

Ejecting is not necessary; if you would like to mutate your title based on page check out (react-document-title)[https://github.com/gaearon/react-document-title].

[2016-12-12 13:42] gaearon commented on #1235
Filed as https://github.com/yarnpkg/yarn/issues/2225.

[2016-12-12 13:44] gaearon commented on #1255
I added this to the docs:

https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#changing-the-page-title

I hope this helps!

[2016-12-12 13:44] #1255 closed

[2016-12-12 13:58] annorax commented on #1255
Oops, I completely missed the fact that index.html is present in the `public` folder. What threw me of is the "Using the public Folder" section of the docs, which essentially describes the public folder strictly as a way to import assets without using Webpack, and discourages use of it where avoidable. Thanks for pointing this out!

[2016-12-12 14:22] gaearon commented on #1255
Got it.
I hope this is a bit better: https://github.com/facebookincubator/create-react-app/commit/ab3913cc113b2392fa0329f699571bae3c213308.

[2016-12-12 14:29] gaearon commented on #1252
Does restarting the server fix the issue?
I think it’s been reported before that it doesn’t “discover” a newly created file in this case.

If restarting works then this is a duplicate of https://github.com/facebookincubator/create-react-app/issues/1164.

[2016-12-12 14:31] gaearon commented on #1251
I think we won’t be adding configuration options to the preset, at least not just yet.
It’s making our job keeping it stable much harder.

We will upgrade to Webpack 2 once it’s out of beta and bump the preset major.
Until then you can contribute to Webpack 2 docs so that it’s out of major faster. 😉

Thanks, and sorry!

[2016-12-12 14:31] #1251 closed

[2016-12-12 14:32] existentialism commented on #899
Yup!

[2016-12-12 14:33] DmitryAuine commented on #1252
@gaearon oh really restarting the server fix the issue.
Sorry for duplicate :(

[2016-12-12 14:33] #1252 closed

[2016-12-12 14:34] gaearon commented on #1252
Yea no worries. I agree it’s annoying.
I have no time to look into fixing this right now but feel free to dig in if you want to.

[2016-12-12 14:34] #899 closed

[2016-12-12 14:36] gaearon commented on #873
Ideally I’d like a new section documenting all env variables we read.
`NODE_PATH`, `PORT`, `HOST`, `HTTPS`, and now `BROWSER`.

[2016-12-12 15:13] fson commented on #1239
I think the tradeoff here is that installing them at once requires `create-react-app` to know which dependencies to install. `create-react-app` is a stable package that should [only rarely update](https://github.com/facebookincubator/create-react-app/blob/ab3913cc113b2392fa0329f699571bae3c213308/packages/create-react-app/index.js#L12-L37).

That said, maybe it is reasonable to assume that we'll al

[2016-12-12 15:21] gaearon commented on #1239
I think this is a reasonable assumption.
If you're using a fork not for React, you might as well for `create-react-app` CLI since the name would lie.

[2016-12-12 16:06] OskarKlintrot commented on #1244
Maybe it can be a flag so that it can be turned on/off as people prefers? Maybe something like `create-react-app hello-world --noGit`

[2016-12-12 16:13] gaearon commented on #1244
We generally try to avoid flags.

I think there was a discussion about initializing git earlier in https://github.com/facebookincubator/create-react-app/issues/385.

I’m down to do this by default if we also solve this:

So if we’re *inside* a Git/Hg project we should try to initialize a new repo.

[2016-12-12 16:13] gaearon commented on #385
This keeps coming up: https://github.com/facebookincubator/create-react-app/issues/1244.
Maybe let’s do it?

[2016-12-12 16:18] ivosabev commented on #385
How hard could it be to do `git init` that it needs to become a default for CRA? I would rather see this as a part of the User Guide with a sample .gitignore provided.

[2016-12-12 16:20] OskarKlintrot commented on #1244
That makes sense, the reason for my flag-idea was, just like you said, that you might want to use it in an existing repo.

[2016-12-12 16:20] gaearon commented on #385
It’s not really hard but I often find myself forgetting to do it, and by that point I have changed something and can’t roll back. This can be a real issue for beginners.

I agree with your concerns in https://github.com/facebookincubator/create-react-app/issues/385#issuecomment-249408036 but there is nothing preventing us from checking if we’re inside a Git/Hg project before attempting to create a

[2016-12-12 16:21] gaearon commented on #1244
We should be able to detect this. After all, Git/Hg somehow detect they’re inside repos 😉 .

[2016-12-12 16:24] OskarKlintrot commented on #1244
That `.git` folder might have something to do with it 😉

[2016-12-12 17:32] mareksuscak commented on #385
Maybe I could continue where I left off the last time but not today.

[2016-12-12 17:37] GAumala commented on #873
Yeah I was thinking about that too. I only knew about `PORT` and `HTTPS`. I can try writing something later this week.

[2016-12-12 17:39] gaearon commented on #385
Let’s coordinate work on this in https://github.com/facebookincubator/create-react-app/issues/1244.

[2016-12-12 17:56] kathyw268 opened #1257 "Try Catch Yarn Function Conflicting with Yarn (Java Package)"
If you have Hadoop installed and run `create-react-app`, the try catch function calls the yarn java package and returns an error:

Error: Could not find or load main class add
`yarn add --dev --exact react-scripts` failed

The npm fallback function never gets called.

[2016-12-12 18:05] gaearon commented on #1257
Wow, thanks for reporting.
I'm curious if:

* We can somehow reliably tell `yarn` corresponds to an npm module before calling it
* Why `catch` doesn't catch the error.

[2016-12-12 18:19] stefaneg opened #1258 "Export CI=true does not execute tests in batch mode"
If you are reporting a bug, please fill in below. Otherwise feel free to remove this template entirely.

### Description

Trying to  execute test in CI environment.

### Expected behavior

Tests should run and immediately terminate.

### Actual behavior

Tests run, but wait for changes/user input.

### Environment
npm ls react-scripts
client@0.1.0 /Users/gulli/src/ru/reference-tictactoe-student/cl

[2016-12-12 18:24] existentialism commented on #1258
@stefaneg thanks for the issue!

The `CI` variable was introduced in [react-scripts v0.8.0](https://github.com/facebookincubator/create-react-app/releases/tag/v0.8.0), so please try upgrading.

[2016-12-12 18:27] mauricedb commented on #1244
In the Angular CLI they run ```git rev-parse --is-inside-work-tree``` to see if they are already in a Git repo, see [here](https://github.com/angular/angular-cli/blob/master/packages/angular-cli/tasks/git-init.js#L34).

If already in a Git repo we could do a ```git add .``` and ```git commit``` which would be fine if there is nothing added yet. However if there are other changes already added they

[2016-12-12 18:37] gaearon commented on #1258
Hmm I think `CI` variable itself was supported since we added the test runner.

[2016-12-12 18:41] stefaneg commented on #1258
Still does not work for me. Tried 0.8.0 and 0.8.4.

client@0.1.0 /Users/gulli/src/ru/reference-tictactoe-student/client
└── react-scripts@0.8.4

I'm getting the information that this is working for some of my students. I'll post an update when I know more details.

[2016-12-12 18:51] gaearon commented on #1258
I see you have `--watchAll` in your test command, it probably overrides `CI=true`.

[2016-12-12 18:51] existentialism commented on #1258
Yeah, my mistake.

[2016-12-12 19:44] stefaneg commented on #1258
Yeah, I just realized that. Thank you guys.

[2016-12-12 19:54] existentialism commented on #1258
Glad it's solved, sorry again for leading you slightly astray :)

[2016-12-12 20:34] fson commented on #1257
Wow, that's interesting.

We currently use Yarn if `yarn --version` exits successfully. We could also check the output of the command. At least the `yarn` command from a version of Hadoop I installed to test doesn't even recognize the `--version` and fails. Or we could also use a more specific command (`yarn help add`?) but the output of `--version` is easier to assert.

This is weird. On my machi

[2016-12-12 20:42] #1258 closed

[2016-12-12 20:43] gaearon commented on #1257
@kathyw268 Can you post the output of `create-react-app --version`? Thanks!

[2016-12-12 22:06] kathyw268 commented on #1257
@gaearon `create-react-app version: 1.0.1`

[2016-12-12 22:17] gaearon commented on #1257
Could you try updating to `1.0.2` and trying that instead?
I'm curious if changes from https://github.com/facebookincubator/create-react-app/pull/1223 made it better.

[code]

Sorry for spending your time on this.

[2016-12-12 23:55] gaearon opened #1259 "Improve error on a botched install"
@kittens reported Yarn master produces a botched install with an unfriendly message like this:

![](https://pbs.twimg.com/media/CzgM4mbXcAERYhK.jpg:large)

(Some Google juice:)

[code]

Normally I'd expect that a botched install just doesn't start so it's frustrating it starts but then produces a weird error. It would be great if we could figure out *why* this is happening and crash more reasonabl

[2016-12-13 00:57] gaearon commented on #1244
👍

@mareksuscak can you give us some context?

[2016-12-13 01:58] mareksuscak commented on #1244
I haven't done anything beyond examining how `ember-cli` does the same thing. I made a skeleton but I think I removed the branch afterward so go ahead if you're in a hurry.

[2016-12-13 02:01] Timer commented on #1244
I think it's important to have an opt-out for this feature, because I wouldn't want the CLI making the first commit and I feel like part of my regular workflow would become `create-react-app app1 && cd app1/ && rm -rf .git/`.

[2016-12-13 02:16] jsappme opened #1261 "How to add dynamic meta data using React Helmet"
I installed https://github.com/nfl/react-helmet

but I don't understand where to add <Helmet/> in my src files. Is it something possible?

H

[2016-12-13 02:18] gaearon commented on #1261
Can you describe your specific use case in more detail?
What kind of metadata do you want to add and how dynamic is it?

[2016-12-13 02:18] gaearon commented on #1244
@Timer Curious why? You could always amend it..

[2016-12-13 02:20] briancbarrow commented on #1182
How did you fix your bash profile?

[2016-12-13 02:20] jsappme commented on #1261
Here the meta data that I want to add:

[code]

This react app is hosted on Firebase Hosting.

[2016-12-13 02:24] gaearon commented on #1261
Is there any particular reason you are not doing this right in the HTML?

[2016-12-13 02:31] Timer commented on #1244
@gaearon main reason is that I want very specific files to be present in the first commit; namely simply a `LICENSE` file and possibly a bare `README`.

Not to mention I would like myself to be the root author; not the CLI.
In this situation -- removing `.git` and starting from scratch seems easier than amending the first commit to my liking.

It seems like we're introducing much more complexity v

[2016-12-13 02:44] gaearon commented on #1244
Isn't it as easy as passing `--amend` to your first commit? Not trolling, genuinely curious.

That’s how I’d imagine it working.

[2016-12-13 02:44] arssonist commented on #1182
Why are U having a similar problem?

[2016-12-13 02:45] briancbarrow commented on #1182
Yes I am

[2016-12-13 02:50] arssonist commented on #1182
The problem was not with CRA, but with node/npm.

Installing Node from scratch, non-homebrew, I put these in my bash_profile. And it worked.

`export PATH="/usr/local/bin:$PATH"
export PATH=$PATH:/Users/my_name/.npm-packages/bin/
`

[2016-12-13 02:53] ORESoftware commented on #102
Simple question @all, how can we inspect the value of NODE_ENV in the front-end React code? I assume this is passed to the front-end given this conversation?

[2016-12-13 02:54] jsappme commented on #1261
I need to have dynamic meta tag like the post title

[2016-12-13 02:56] unscene commented on #102
You could always just alias it with the REACT_APP_ prefix if it's not available
________________________________
From: Operations Research Engineering Software+ <notifications@github.com>
Sent: Dec 12, 2016 9:53 PM
To: facebookincubator/create-react-app
Cc: Ryan Fairchild; Mention
Subject: Re: [facebookincubator/create-react-app] A way to define custom environment variables (#102)

Simple question

[2016-12-13 02:59] eliperelman commented on #102
@ORESoftware could you use `console.log(process.env.NODE_ENV)`?

[2016-12-13 03:01] existentialism commented on #1261
@jsappme did you experience a specific error while adding `react-helmet`?

[2016-12-13 03:02] Timer commented on #1244
@gaearon I often utilize many different emails depending on the repository, so I'd be amending with additional flags such as `--author ""`.

It's not super easy to remove a file from the first commit, because you can't (as far as I know) rewind the commit via standard `git reset --soft HEAD^`.

The process is more convoluted, requiring the user to run `git rebase --root -i` and selecting to edit t

[2016-12-13 03:04] Timer commented on #1244
This was more of an assumption from the existing CLIs, which seem to commit it as a user/email of the CLI and not your global `user.name` and `user.email`.

[2016-12-13 03:05] briancbarrow commented on #1182
@gaearon how would I solve this on Windows?

[2016-12-13 04:23] kathyw268 commented on #1257
Success! Thanks for being so responsive. Keep up the good work.

[2016-12-13 05:08] arssonist commented on #1182
No idea. Never used Windows. I'd only be throwing out random guesses.

Try reinstalling node. If it installs properly this should clear up the CLI issue.
If not U'll have to debug your node install. That was the root of my problem.

Is npm/node working properly?

[2016-12-13 06:41] Skahrz opened #1262 "How to modify generated files name to make them unique ?"
For my application purpose, I need the generated files in build folder to have a unique name, like bundle.js or styles.css.

Is it possible to make it simply using react-create-app ?

I need them to have a unique name, for service worker registration, and static files caching. I m using service workers in the public folder.

Thanks for your help.

[2016-12-13 07:51] thg303 commented on #102
@ORESoftware you have to set **NODE_ENV** via os environment variable. in linux it would be like executing this command in the terminal:
`NODE_ENV=production && npm run build`

[2016-12-13 08:20] ORESoftware commented on #102
@thg303 yeah I know how to do that :) what I am not sure of, is if this value* is sent by create-react-app or if I have to do that manually. *or any other env values besides NODE_ENV

[2016-12-13 08:34] Daniel15 commented on #1189
This is tracked in https://github.com/yarnpkg/yarn/issues/2161.

[2016-12-13 09:29] fson commented on #1257
Great! Thanks for the confirmation. I'm glad the recent changes to Yarn detection fixed this issue.

[2016-12-13 11:04] gaearon commented on #102
Have you had a chance to read the corresponding section in the [User Guide](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-custom-environment-variables). It specifically answers this question with an example. TLDR: it’s `process.env.NODE_ENV`. It is replaced at the build time so you get `"development"` on `npm start` but a product

[2016-12-13 11:06] gaearon commented on #1182
When I was testing Windows support I followed Node installation instructions and then launched "Node.js command prompt" that appeared in the Start menu. This worked for me, and I could launch `create-react-app` from there.

[2016-12-13 11:26] gaearon commented on #1261
Create React App produces a static bundle with HTML, JS, and CSS. It can’t possibly give you a dynamic `<meta>` tag because **the result HTML is created ahead of time**.

While changing `document.title` with something like React Helmet makes sense, changing `<meta>` tags doesn’t make sense unless your app is server rendered. Server rendering is not a supported feature of Create React App so if you

[2016-12-13 11:26] #1261 closed

[2016-12-13 11:37] gaearon commented on #1262
If you need a file with specific name in the `build` output you should put it in [the `public` folder](https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#using-the-public-folder).
It will be copied verbatim to the `build` folder.

Files generated by CRA by default (CSS and JS bundles) always have a hash appended to their filename (e.g. `main

[2016-12-13 11:37] #1262 closed

[2016-12-13 13:43] mewben commented on #1007
@tsironis Thanks for the cool solution. I tried them but having a hard time including the sourcemap.

[2016-12-13 14:26] shubheksha commented on #1118
I can reproduce this as well. Installed Yarn via npm and node via npm. Also doesn't work for node installed via brew.

[2016-12-13 14:48] jsappme commented on #1261
existentialism: is it possible to use react-helmet for not a server rendering react app?